[2022-07-01 20:09] Captainkirkdawson commented on #1432
@geoffj-FUG @Vino-S this crossed my inbox and It tweaked my interest as I am still alive and kicking.
Some observations and a question come up when reading your posts.
Firstly the Key you ask about is indeed ingested into Freecen2 as part of the vld entry for a vld file. As to how, when and where it is used are other questions to which I will not respond at this time.
Secondly the Key is not used

[2022-07-02 01:32] geoffj-FUG commented on #1432
Kirk

I am glad to hear that you are still out and about and taking an interest in FreeUKGen.

In answer to your question. The record for Susanna is in the only Valdrev piece that I now have access to, my old Laptop having crashed. It would have been uploaded to FC1. The entry is in the vld dataset.

I have attached the downloaded file (cc’d to Kirk) for your information. It is not Susanna's piece

[2022-07-02 05:48] geoffj-FUG commented on #1432
I have downloaded 3 x 1841 csv files , each in a different County with a different Coordinator, and they all seem to have the schedule numbers on the correct line. The issue therefore seems to be limited to the vld dataset.

There are instances where the schedule number and address are the same in following families and the schedule number is reported correctly. From that it would seem that the lo

[2022-07-02 20:54] Captainkirkdawson commented on #1432
@geoffj-FUG @Vino-S
Thank you.
1. OK so the JAQUES entry has nothing to do with the 1841 download issue and can be ignored.
2. You have lost almost all your VLD files. The project can get you copies of the original files of what you uploaded if that assists you. All the original files for all users are kept. You just have to ask; will take some time but it is no big deal. Those files are in their

[2022-07-03 02:35] geoffj-FUG commented on #1432
Thank you Kirk, that is great.

The field in the map that I have been referring to is

257    # C       5  6 A six digit number (leading zeros) which counts the households

Kirk has given us a solution to our immediate problem.

We will need to do the rewrite in order to fix this issue properly. It should then resolve the other schedule 0 issues that we have experienced.

It looks to me (I am not

[2022-07-03 17:32] Captainkirkdawson commented on #1432
@geoffj-FUG
The quick fix changes line 527 to  line = @blank
The rest of the code applies to non 1841 files and remains the same

[2022-07-03 19:49] Captainkirkdawson commented on #1432
@geoffj-FUG The quick fix has been applied to test3 you should test.

[2022-07-03 23:06] Captainkirkdawson commented on #1432
@geoffj-FUG Great care would have to be taken with any revised coding that tried to make use of the dwelling number and or the sequence number as those number are not necessarily in order and subject to large increments.![Part1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/27ac2eec-453d-43c4-9a7a-c20798d715b8)
![Part2.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2

[2022-07-04 01:19] geoffj-FUG commented on #1432
Kirk

That removes the 0 OK. But we now have all null entries instead of all 0 entries.

I notice that if nothing was in the address field a – was entered so not null will pick up that hyphen.

We need something like:

If year = 1841 and house_or_street_name is not null

                Set schedule_number to 0

Endif

I can personally populate the column in the spreadsheet by using and if and the

[2022-07-04 17:05] Captainkirkdawson commented on #1432
@geoffj-FUG Please test again; is '0' correct against uninhabited?

[2022-07-05 01:41] geoffj-FUG commented on #1432
Kirk
That looks good. Lets go with it!
:)
Geoff

[2022-07-05 11:21] geoffj-FUG opened #1435 "Can age be added to occupation scholar warning?"
Mike Simpson suggests
Can the message, typically:
Warning: line 332 Occupation scholar is unusual use of Scholar.
have the age added to read, typically:
Warning: line 332 Occupation scholar is unusual use of Scholar.aged 1

The reason is that it isn't uncommon for the line numbers to get out of phase with those on the spreadsheet due insertions and deletions, which makes it a problem as to which r

[2022-07-05 13:35] Captainkirkdawson commented on #1432
@geoffj-FUG The quick fix has been deployed to production. I will leave it to the scrum to assign the long term rewrite of the CSVProc download of a VLD file. Have a good winter.

[2022-07-10 12:31] geoffj-FUG opened #1436 "Remove propagation from 1841 validation"
1841 Validation offers propagation. However as there are only 2 Chapman Codes in general use propagating becomes disastrous.
Propagation should therefore not be offered during validation of 1841 pieces.
Geoff

[2022-07-12 08:51] AnneV-Learn commented on #1402
Response from Ali was as follows:

I can't test ATM as ID list in Test3 is not up to date---I don't want to copy to an un-witting active person!

However, the option selection box is now there so I am happy for it go live, if  there is subsequently a problem I'll let you know.

[2022-07-12 17:28] AnneV-Learn commented on #1433
Fix deployed to Test3

[2022-07-13 06:45] geoffj-FUG commented on #1433
Anne
I tried to delete HO410148 Cornwall on Test3.
Message that has been deleted and refresh work OK.
However, deletion can take a few minutes. Can we add a message when the OK button is accepted please? "Deletion in progress" with a spinner would be suitable . Then your message that piece deleted can follow.
That would work well.
Geoff

[2022-07-13 06:54] geoffj-FUG commented on #466
To do this in FC2 the search would need to be done on two fields
Where searched name is in where_census_taken or house_or_street_name
That assumes that searching is for the current village. The search does not guarantee a result as many addresses were blank and FC1 did not collect where_census_taken information.
Search POB is a separate function which currently has about a 3% incorrect place name

[2022-07-13 08:05] DeniseColbert commented on #1396
Leaving this here until John Toplis has tested.

[2022-07-13 08:11] DeniseColbert commented on #1374
@DeniseColbert @AnneV-Learn and @vino have reviewed and combined text is good to go.

Vino will place this prominently on the FreeCEN1 Home page.

[2022-07-13 08:16] DeniseColbert commented on #1427
This is now with @PatReynolds for upload

[2022-07-13 08:25] DeniseColbert commented on #1428
Geoff suggested a SUM of CSV and VLD records to be added to Site Stats table and CSV download report (extra column: New Records Added)

[2022-07-13 08:30] DeniseColbert commented on #1196
@PatReynolds to add this story to the next committee meeting agenda.

[2022-07-13 08:33] DeniseColbert commented on #1436
Propagate button to be removed or hidden from 1841

[2022-07-13 08:36] DeniseColbert commented on #1435
Age to be added to warning (validation)

[2022-07-13 08:41] DeniseColbert commented on #1432
Many thanks for the quick-fix @Captainkirkdawson!

Longer term fix still needed

[2022-07-13 08:43] DeniseColbert commented on #1430
@geoffj-FUG is happy for Ali to copy to his UserID (SOMT.CEN) to test

[2022-07-14 12:33] AnneV-Learn commented on #1435
@geoffj-FUG this is ready for testing on Test3

[2022-07-14 12:34] AnneV-Learn commented on #1431
@geoffj-FUG this is ready for testing on Test3

[2022-07-14 12:37] AnneV-Learn commented on #1436
@geoffj-FUG this is ready for testing on Test3

[2022-07-15 10:45] geoffj-FUG commented on #1435
Anne
Looks good thank you. Can you move this to production.
Thanks
Geoff

[2022-07-15 10:47] geoffj-FUG commented on #1431
Anne
That looks a lot better thank you. Lets go with it.
Geoff

[2022-07-15 10:49] geoffj-FUG commented on #1436
Anne
That looks good too. Lets do it!
Geoff

[2022-07-16 13:59] AnneV-Learn commented on #1428
@geoffj-FUG @DeniseColbert
 I have started looking at this in more depth and have the following observations and a question.

Currently **Search** records shown in **Site Statistics** is calculated as follows: Count of Search records with an system assigned creation date (actually part of the unique
Identifier of the record) up to midnight on previous day. I am thinking that quite possibly it coul

[2022-07-18 11:05] geoffj-FUG commented on #1428
Anne, Denise

As I see it anything uploaded to the csv dataset can be counted against the total count for that month.

The problem comes with the vld dataset. It has two occurrences affecting our count –

New records being added by either of the two Coordinators still using the FC1 FCTools and Valdrev.

Records removed from the dataset so that an updated file can be uploaded to the csv dataset. Th

[2022-07-18 11:17] PatReynolds commented on #1304
Hello @AnneV-Learn we've now benefited from FreeCEN stats for over a year - can we look again at archiving?

[2022-07-20 11:57] AnneV-Learn commented on #1428
@geoffj-FUG
Sorry but I would just like to check that I am understanding your logic.

I have tried to make the calculation for Total Records (CSV + VLD) for 20th July based on my understanding of your formula using the numbers reported on Site Stats page.

A. Total VLD records @ 20th July = 42,241,109
B. VLD records added (New VLD records column) = 62,567
C. Total VLD records @ 20th June = 42,257,

[2022-07-20 13:33] AnneV-Learn commented on #1304
@PatReynolds Yes of course.
We need to decide how and when to archive a FreeCenSite Stats record.
One straightforward option might be to create a Site_stats_archive document/table/model and just write 'archived' records to that.Or they could be written to a CSV file (easy to read into spreadsheet etc.) and saved on a server somewhere.
Possibly run a monthly rake task that copies Site Stats records

[2022-07-21 07:10] geoffj-FUG commented on #1428
Anne

Total VLD records at 20 June = C = 42,257,640

Total records at 20 July = total VLD at 20 July  + total CSV at 20 July  = A + D = 42,241,109 + 6,347,404 = 48,588,513

VLD at start = C

VLD added = B

Potential VLD records at end = B + C = 42,320,207

Actual VLD records at end = A = 42,241,109

VLD records removed = (B + C) – A = 42,320,207 – 42,241,109 = 79,908    (I rearranged the formula t

[2022-07-21 18:25] AnneV-Learn commented on #1433
@geoffj-FUG   (with help from Vino) Test3 has been updated to include a spinner and 'Deleting' message. Could you please retest.

[2022-07-22 15:51] AnneV-Learn commented on #1428
Reply from Geoff:

Anne

Total VLD records at 20 June = C = 42,257,640

Total records at 20 July = total VLD at 20 July + total CSV at 20 July = A + D = 42,241,109 + 6,347,404 = 48,588,513

VLD at start = C

VLD added = B

Potential VLD records at end = B + C = 42,320,207

Actual VLD records at end = A = 42,241,109

VLD records removed = (B + C) – A = 42,320,207 – 42,241,109 = 79,908 (I rearranged

[2022-07-22 16:00] AnneV-Learn commented on #1428
@geoffj-FUG
I have done some investigation into the underlying database records and I believe that the discrepancy arises because the CSV Record count includes ‘unincorporated’ records.
For Example:

Year = 1911
Search records  = 44,187
VLD records = 0
CSV total records = 313,955
CSV records not incorporated = 269,768
CSV records incorporated = 4,4187
VLD + CSV incorporated  =  0 + 4,4187 = 4,4187

[2022-07-23 06:06] geoffj-FUG commented on #1428
Anne

I am happy with that explanation for the difference in actual and reported. Thank you for the reconciliation.

As 1911 is mostly Somerset I had a look at my stats and your total records Incorporated makes sense.

We need to make sure that our count is based on Incorporated records. Actual records can be duplicated as pieces are copied from the transcriber to the proofreader to the validator.

[2022-07-24 17:55] AnneV-Learn commented on #1428
Geoff,

Ok now to try and simplify things - as I think we can agree the number of search records reported in Site Stats is correct.
If we are just looking to arrive at the number of records added to the database in last 30 days can we not just take the number of Search Records reported in Site Stats for ‘today’ and number of Search records reported for ‘today’ - 30 days?

KR
Anne

[2022-07-25 09:39] geoffj-FUG commented on #1428
Anne

That will achieve the result. It just depends on what detail Pat and the Trustees require.

Geoff

[2022-07-25 11:40] PatReynolds commented on #1428
@DeniseColbert is best placed to answer your question.

[2022-07-26 12:08] AnneV-Learn commented on #1425
@Vino-S I notice that NewRelic software is being used for system monitoring and believe that it can also be used to monitor Rake jobs. I have zero knowledge of NewRelic, are you familiar with it, or should I perhaps ask Lemon?

[2022-07-27 05:25] geoffj-FUG commented on #1136
It was disabled because I was moving it to the corect place as an alternative name. (Housekeeping).
Geoff

[2022-07-27 06:19] geoffj-FUG commented on #238
This needs to cover more than Yorkshire. HAM needs to cover HAM and IOW, CHI needs to cover each of the Islands etc.
We can go further and expand to the next level and search ENG, SCT, IRL, WLS and OV*. There is a table in Appendix B of  part 3 of the Handbook (Coordinators) which shows all of these search levels.
The Combined County part of this code has been implemented during the searching of t

[2022-07-27 06:21] geoffj-FUG commented on #341
See my comment of story #238.
Geoff

[2022-07-27 06:23] geoffj-FUG commented on #610
If this is an 1841 issue then it is related to teh schedule number 0 problem. This problem is affecting both vld download and the display of vld search results to researchers.
Geoff

[2022-07-27 06:50] geoffj-FUG commented on #884
A few weeks ago Pat asked me to investigate the Irish PARMS.
There are two structures in Ireland – the census structure based on District Electoral Divisions and the administrative structure based on the Hundred or barony system.
This exercise has identified a structure similar to the England and Wales PARMS structure. Such a structure reduces the amount of new coding required by the system. See h

[2022-07-27 08:11] PatReynolds commented on #1304
Archive most, but keep 1st of Month in a table for easier access.

[2022-07-27 08:14] PatReynolds commented on #1380
@AnneV-Learn to contact Alison about restarting (and redeploy code to test 3)

[2022-07-27 08:24] PatReynolds commented on #1432
@geoffj-FUG to source a block of VLDs and upload to test3.
@AnneV-Learn to set aside a substantial block of time in September/onwards to work on this issue only.

[2022-07-27 08:27] PatReynolds commented on #1402
@DeniseColbert wrote 14 days ago: @geoffj-FUG is happy for Ali to copy to his UserID (SOMT.CEN) to test

[2022-07-27 08:29] PatReynolds commented on #1402
Ali's reply "I can't test ATM as ID list in Test3 is not up to date---I don't want to copy to an un-witting active person!
"However, the option selection box is now there so I am happy for it go live, if there is subsequently a problem "

[2022-07-27 08:30] PatReynolds commented on #1430
@PatReynolds to send a note to Chris asking him to include in the newsletter (coming out this week).

[2022-07-27 10:38] PatReynolds commented on #1430
@cmahoneynz emailed 27 July 2022

[2022-07-27 10:54] PatReynolds commented on #437
Has this been done, or is it still to be done?

[2022-08-01 11:37] geoffj-FUG commented on #1432
I have now uploaded a range of files for different years and different sizes into test3 user id somt.cen County SOM for this exercise.
They are
1841 - HO107_929, 930, 940, 945
1851 - HO51_923, 924, 925
1871 - RG10_350, 351, 352
1881 - RG11_2359, 2360, 2361.

Geoff

I have now downloaded each of these VLD files as a csvPRO file. I have added _a to the end of each one so that the current results are

[2022-08-09 10:49] AnneV-Learn commented on #1304
implement solution on Test3 and ran the rake task there. All seems ok, so ready for deployment to production and then a monthly job needs to be set up to run the rake task each monthly.

[2022-08-10 07:02] geoffj-FUG commented on #1358
We can do it easily for FreeCEN2. We can define it as (for instance) the number of volunteers who have uploaded a test in the last 6 months.
The fly in the ointment is VLD files again. There is no way of knowing who worked on them. They are all uploaded by the Coordinator. The transcriber and proofreader may never have even signed in to the FreeCEN site.
Geoff

[2022-08-10 07:03] geoffj-FUG commented on #1342
See my comment re vld files on #1358
Geoff

[2022-08-10 07:15] geoffj-FUG commented on #1406
The solution as I see it is the same as the Yorkshire solution.
Appendix B of the Coordinators part of the Handbook has a hierarchy of Chapman Codes.
The concept applied to Yorkshire is that YKS is level 2 and the Ridings are level 3.
New entries can only be entered for level 3 Counties (i.e. the Ridings). The system validates any entry for YKS which aligns with a Gazetteer entry in a Riding.
The

[2022-08-10 08:09] DeniseColbert commented on #1402
Geoff is in touch with Ali and will follow up if not heard back next scrum.

[2022-08-10 08:13] DeniseColbert commented on #1433
@geoffj-FUG  to test

[2022-08-10 08:15] DeniseColbert commented on #437
This has been preserved (and enhanced) - done.

[2022-08-10 08:15] #437 closed

[2022-08-10 08:19] DeniseColbert commented on #1430
Newsletter went out with this in it a few days ago- can this be closed @PatReynolds ?

[2022-08-10 08:24] DeniseColbert commented on #1427
If this is reassigned in the handover, ask Geoff to re-send the handbook to whoever get it.

[2022-08-10 08:27] DeniseColbert commented on #1427
@geoffj-FUG to send bundle to Denise

[2022-08-10 08:28] DeniseColbert commented on #1428
Search record calculation is fine, could in theory replace what exists currently, @DeniseColbert to check and let Anne know.

[2022-08-10 08:31] DeniseColbert commented on #1196
To be discussed at the next committee meeting.

Not happening in the short term, but when CAP is developed.

[2022-08-10 08:44] DeniseColbert opened #1437 "Cease VLD uploads"

[2022-08-10 11:18] AnneV-Learn opened #1438 "Add Wales in dropdown of counties for data managers and system administrators only in creation of new Gazetteer places"
Requested by Rhoda (& Geoff) so that South Wales can be added as a place in Wales

[2022-08-10 12:11] PatReynolds commented on #1427
Text is now ready for proofing on Test3.  Please notes, links have not yet been made on the document.  Cou,d you proof, please, @geoffj-FUG

[2022-08-10 12:24] PatReynolds commented on #1427
Links are now live.

[2022-08-10 12:27] DeniseColbert opened #1439 "Review data integrity"

[2022-08-10 12:32] PatReynolds commented on #1391
Fixed, so closing.

[2022-08-10 12:32] PatReynolds commented on #1391
Fixed, so closing.

[2022-08-10 12:32] #1391 closed, assigned to PatReynolds

[2022-08-10 12:40] PatReynolds commented on #1394
@geoffj-FUG how much is still relevant / need, as we have streamlined Overseas.

[2022-08-10 12:40] AnneV-Learn commented on #1438
Fix has been deployed to Test3. @rhodamackenzie or @geoffj-FUG are you able to test pls.

[2022-08-10 12:42] PatReynolds commented on #1340
@geoffj-FUG could you make a start with a role description - what do they need to do? What experience/knowledge will be needed

[2022-08-11 09:26] PatReynolds commented on #606
#155 is the solution to this, so closing

[2022-08-11 09:26] #606 closed

[2022-08-11 09:32] PatReynolds commented on #1262
Closing as completed (some time ago).

[2022-08-11 09:32] #1262 closed, assigned to PatReynolds

[2022-08-11 09:45] PatReynolds commented on #568
Pat to do in October 2022.

[2022-08-11 09:56] PatReynolds commented on #274
Done so closing.

[2022-08-11 09:56] #274 closed

[2022-08-11 10:23] geoffj-FUG commented on #1427
Pat

The version on test3 is an older version. It is the one that I updated again.

The set we need to upload has the attached document as the text.  The associated documents will be dated June 2022.

Geoff

From: PatReynolds ***@***.***>
Sent: Wednesday, 10 August 2022 10:12 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/Fr

[2022-08-11 10:34] geoffj-FUG commented on #1438
Anne, Rhoda

Wales is hidden from me, which is correct.

Rhoda, can you test to make sure that your access level allows you to edit, please?

Geoff

From: Anne Vandervord ***@***.***>
Sent: Wednesday, 10 August 2022 10:41 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Add Wales in dropdown of counties for d

[2022-08-12 08:50] PatReynolds opened #1440 "Wrexham 1841 Census"
Clwyd Family History Society

[2022-08-12 09:30] PatReynolds commented on #575
for Committee to review - possible solution to data missing in FreeCEN1 transcriptions

[2022-08-12 09:30] PatReynolds commented on #575
for Committee to review - possible solution to data missing in FreeCEN1 transcriptions

[2022-08-12 09:39] PatReynolds commented on #617
duplicates #1374, so closing

[2022-08-12 09:39] #617 closed

[2022-08-12 09:43] PatReynolds commented on #740
@PatReynolds to send @DeniseColbert email from Brenda and talk from conference

[2022-08-12 10:04] PatReynolds commented on #886
Assigning @richardofsussex and taking myself off as he is working on this topic more widely

[2022-08-12 10:06] PatReynolds commented on #892
@AnneV-Learn do you know an answer to why wildcards in a name can only be used with a specific place?

[2022-08-12 10:09] PatReynolds commented on #1291
Hey @PatReynoldsFUG I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/freecen-5cb4e56573d7e234297de6c6/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-08-12 10:11] PatReynolds commented on #1290
@Geoff-FUG is this still a live issue?

[2022-08-12 10:25] PatReynolds commented on #813
Hi @geoffj-FUG is this still a live issue?

[2022-08-12 10:28] PatReynolds commented on #1345
@geoffj-FUG has this story been superceded or is it still needed?

[2022-08-12 10:29] PatReynolds commented on #1172
Sorry, @geoffj-FUG - another one that I don't know whether or not it is still needed.

[2022-08-12 10:38] PatReynolds commented on #1220
Closing as duplicate

[2022-08-12 10:38] #1220 closed, assigned to nobody

[2022-08-12 10:45] PatReynolds commented on #684
Needed for Georeferencing/seraching by place of birth outside of UK

[2022-08-12 10:52] PatReynolds opened #1441 "The Registered User Epic"

[2022-08-12 10:59] PatReynolds commented on #455
@PatReynoldsFUG is this still needed?

[2022-08-12 11:00] #440 closed

[2022-08-12 11:00] PatReynolds commented on #440
Duplicate so closing

[2022-08-12 12:06] AnneV-Learn commented on #892
@PatReynolds @rhodamackenzie
My guess would be a combination of the following:
Just using a name in a Search cannot make use of indexes and so the search may take longer than the permitted 100 secs
Searches are limited to 500 results records and a wildcard without a place is very likely to return more records than that.
However I think I have found a bug - I cannot set the wildcard facility in Sea

[2022-08-13 05:25] geoffj-FUG commented on #684
When we have all these places in the Gazetteer they will be georeferenced through the Gazetteer entry.

Georeferencing has no impact on this story. Once VLDs stop and the vld dataset is stable we will be able to re-validate any entry that is not in the Gazetteer. A lot of these will be simple reversals of the entry to meet the greater to smaller rule. Others will be expanding abbreviations necessi

[2022-08-13 05:28] geoffj-FUG commented on #1172
Resolved by Locate a piece in the County Coordinator actions.
Geoff

[2022-08-13 05:28] #1172 closed, assigned to nobody

[2022-08-13 05:30] geoffj-FUG commented on #1345
Ali has tested this and says it is OK. She has one query that I will be able to look at next week. If that is OK then I will set it as ready to implement.

Geoff

[2022-08-13 05:36] geoffj-FUG commented on #813
Whether this is a live issue is a policy question.
As previously said the system is clunky. It is OK for a Coordinator to contact a whole syndicate but too difficult to contact just one person.
Email is used by everyone, it is reasonably simple and everyone knows how to use it. More inportantly it works. That is what is used at the moment for communication between Coordinators and Volunteers.
I se

[2022-08-13 05:52] geoffj-FUG commented on #1290
This is a live issue and it should have a high priority.
@rhodamackenzie is the one who knows how much heartache this is causing, but I have a big backlog of Gazetteer amendments that need to be done to get things tidied up.
Geoff

[2022-08-13 05:56] geoffj-FUG commented on #1310
Pat
This is a BIG programming task. It needs a routine to be set to crawl through the csv dataset and amend every necessary entry. It has to be done slowly or it will bring down the system.
We can do the changes listed in steps but once started it has to be finished. It will cause long term chaos if we do part of it and then put it on hold.
Maybe this is one for Richard of Sussex or the new progra

[2022-08-14 10:17] geoffj-FUG commented on #1340
Pat
We need to decide how to do it first.
Once the vld dataset is stable it can be isolated. That means that we can work on it. If it is not stable we will only have to redo the exercise when the next vld file is uploaded, and the next one, and the next one and so on. So, we cannot even start until no more vld files are being uploaded.
Then we need a utility app to do it with. The app can be built

[2022-08-14 10:44] geoffj-FUG commented on #250
What is the purpose? Given that many transcriptions (and all in FC1) are anonymous we cannot get them back to the transcriber.
The best we can do is have some way of receiving comments such as the trip advisor star rating and comment system and include them in the Newsletters. That leaves the door open to abuse because it will need to be transparent.
Geoff

[2022-08-14 10:49] geoffj-FUG commented on #544
This can now be added to a transcription in the Header workspace by the Coordinator. I am not sure whether it is actually visible to the researcher in the way that FreeBMD does it. It cannot be done with FC1 spreadsheets uploaded as vld files. There is no functionality.
Geoff

[2022-08-14 10:59] geoffj-FUG commented on #255
We cannot get a reliable result for POB searching until the vld places of birth have been aligned with the Gazetteer. Once this is done then we can search using the Gazetteer geolocation capabilities.
In turn, this cannot be done until the vld data set i stable (i.e. no more additions).
Geoff

[2022-08-14 11:05] geoffj-FUG commented on #1311
On April 19 I wrote:
I am highly confident that we can ignore this flag and that it has no affect on the results of a researchers search.
If this is accepted then this story can be closed.
I am therefore closing this story.
Geoff

[2022-08-14 11:05] #1311 closed, assigned to nobody

[2022-08-14 11:27] geoffj-FUG commented on #1402
Ali is happy with the result.
This can now be deployed.
Geoff

[2022-08-14 11:41] geoffj-FUG commented on #1406
This will be able to be addressed when POB searching is developed.

[2022-08-14 11:44] geoffj-FUG commented on #927
A Draft handbook has been written for Scotland so that we do not lose the knowledge. It is currently being reviewed by Margaret Singleton (Scotland Coordinator).
Geoff

[2022-08-18 12:45] DeniseColbert commented on #750
Advert no longer there so closing

[2022-08-18 12:45] #750 closed

[2022-08-18 12:49] DeniseColbert commented on #687
@AlOneill to find draft page on her computer

[2022-08-18 12:59] DeniseColbert commented on #441
Add before search form:

Tip: Double-tab to move between fields

[2022-08-22 07:09] geoffj-FUG commented on #1435
Migrated, Looks good.
Geoff

[2022-08-22 07:09] #1435 closed, assigned to AnneV-Learn

[2022-08-22 07:12] geoffj-FUG commented on #1431
Looks good. Closed.

Geoff

[2022-08-22 07:12] #1431 closed, assigned to nobody

[2022-08-24 08:12] PatReynolds commented on #1229
Entry is https://www.freecen.org.uk/search_records/5c5ddf70f4040b0fa7002277/thomas-driver-1891-yorkshire-west-riding-skipton-1822-?locale=en
I viewed the original on a subscription site.  The enumerator has written the place of birth for the first entry on the page (our Thomas Driver is about 1/3 of the way down) "Yorkshire - Silsden".  And for the second "Yorkshire - Leeds".  This is where the pa

[2022-08-24 08:40] PatReynolds commented on #1229
As the County of birth is transcribed as "Yorkshire, West Riding (or Yorkshire)" this record is not finable by searching "Yorkshire" or "West Riding of Yorkshire".

The search engine is fine: it is the the transcription where the issue lies.  Piece is: 1891	Yorkshire, West Riding (WRY)	Skipton	Silsden	St James	3501

[2022-08-24 08:41] PatReynolds commented on #627
I like the sites that have both.

For discussion at next meeting.

[2022-08-27 09:28] PatReynolds commented on #575
Number of rooms in 1891 and 1901 - missing but are being added manually.

Pat to check what others were missing.

[2022-09-01 07:02] geoffj-FUG commented on #1436
Completed. OK
Geoff

[2022-09-01 07:02] #1436 closed, assigned to AnneV-Learn

[2022-09-06 15:45] PatReynolds commented on #330
I think other parts of this section of Help may need a re-write in view of the developments over the last few years.

I have (possibly!) addressed this story in this draft: https://docs.google.com/document/d/1X6qUXROl7QVqyoxntx3tiE21StNVnPtJ72QmsVn2EuA/edit?usp=sharing  Other work is probably needed.

[2022-09-06 15:47] PatReynolds commented on #976
Needs to be done as part of updating cookie consents.

[2022-09-06 15:54] PatReynolds commented on #1196
I think this is largely superceded by #1417.

What remains is the original story: removing the links to Coords sites from FreeCEN1 so that there is no volunteering information there.

While the new systems are developed, I think these links should be placed (?in a table) in the Volunteer Handbook section (FreeCEN2).

[2022-09-06 15:56] PatReynolds commented on #1417
To be discussed as part of CAP development?

[2022-09-06 17:01] AlOneill commented on #330
@PatReynolds Hmm. The version that you are wanting to update is Kirk's update of only a few months ago! It has never quite made sense to me. When I tried to clarify the meaning, I was stone-walled.

[2022-09-07 07:01] geoffj-FUG opened #1443 "Treatment of T-Names in Scotland"
![Teenames.png](https://ima![Teenames.png](https://images.zenhubusercontent.com/5e8c52a8b7c1d94d472bb276/8f5d3353-baec-4719-820a-49df47d06c20)ges.zenhubusercontent.com/5e8c52a8b7c1d94d472bb276/4d5aa3af-1767-45d1-8fe8-dd09fe48e406)
Margaret Singleton said:
"sometimes the wife did use her maiden name and like everything else in FreeCEN it was entered “as is”. Sometimes both her married name and maid

[2022-09-07 07:33] geoffj-FUG commented on #1394
Story #1310 will combine OVB / OVF and resolve the problems created by the existence of 2 Codes.
The following Chapman Codes do not need Coordinators.
MIL - Not a valid Chapman Code. Was it used for testing during development?
OTH - It is not a Code that is used by FreeCEN. UNK is the correct entry against a POB.
OUC - This is an 1841 Code related to POBs. It doers not need a Coordinator
OVB - See

[2022-09-07 07:37] geoffj-FUG commented on #1427
Items on test3 are still out of date.
The updated items were sent to Denise.
Geoff

[2022-09-07 07:42] geoffj-FUG commented on #1433
All Good please deploy

Geoff

[2022-09-07 08:05] DeniseColbert commented on #1304
Done so closing

[2022-09-07 08:05] #1304 closed, assigned to AnneV-Learn

[2022-09-07 08:06] DeniseColbert commented on #1438
@rhodamackenzie to test

[2022-09-07 08:06] DeniseColbert commented on #1401
Done so closing

[2022-09-07 08:06] #1401 closed, assigned to DeniseColbert

[2022-09-07 08:09] DeniseColbert commented on #1396
Decided to deploy and see if John has any feedback in general use

[2022-09-07 08:10] DeniseColbert commented on #1402
@AnneV-Learn to check this is deployed and if so, close.

[2022-09-07 08:12] DeniseColbert commented on #1430
Still needs to be added to the Help

[2022-09-07 08:17] DeniseColbert commented on #1427
Refinery page to check: https://test3.freecen.org.uk/cms/freecen-handbook/draft-freecen-handbook-june-2022

[2022-09-07 08:24] DeniseColbert commented on #545
One behind ad for those using adblocker, one with smile info on advert

[2022-09-07 08:30] DeniseColbert commented on #559
Pat's idea for this was to go to the Internet Archive and screengrab what's there in case historical information is needed in the future.

Contact Coordinators to see who has meaningful info still on RW, but do this anyway as there may be Coords who are no longer with us that we may need the info for.

[2022-09-07 08:35] DeniseColbert commented on #1196
@DeniseColbert to ask coordinators if any of these websites still exist/are used

If not, @vino to remove links from FC1 and only live links to be put into FC2

[2022-09-07 08:37] DeniseColbert commented on #330
@geoffj-FUG to take a look and see if it makes sense

[2022-09-07 08:46] PatReynolds commented on #627
Use range rather than absolute year of birth.  year +/-2 years except 1841 which it is year +/-2 years for children and +/-7 years

[2022-09-07 08:50] PatReynolds commented on #1229
Pat to check - this may be a chapman code error (that's what the search of county of birth is on).

[2022-09-07 08:53] DeniseColbert commented on #1229
This relates to the hierarchy table in Appendix B in Coords/Validators handbook. YKS/Ridings/ CHI/Islands etc. E.g. born in IOW, could be enumerated as HAM

[2022-09-07 08:59] DeniseColbert commented on #1428
@AnneV-Learn to look at day-on-day difference calculation for individuals report

[2022-09-07 10:17] #1402 closed, assigned to PatReynolds

[2022-09-07 11:30] AnneV-Learn commented on #1428
@DeniseColbert ready for testing on TEST3. I have replaced the Individuals report with Search Records report (this represents the number of records currently in the database - see discussion with Geoff above). Be aware that the data on TEST3 is rather 'flaky' and that the Site Stats data on Test3 is not totally up to date. I tested for period 01/03/2022 - 31/03/2022 and it appeared to be ok.

[2022-09-07 13:23] AnneV-Learn opened #1444 "CSV file processing - more user friendly error message if there is a problem with the header row"
Suggest: There is problem with the header row. Please correct and try again.

Example of current message:

undefined method `<' for nil:NilClass
["/home/apache/hosts/freecen2/production/lib/freecen_csv_processor.rb:777:in `process_header_fields'", "/home/apache/hosts/freecen2/production/lib/freecen_csv_processor.rb:365:in `a_single_csv_file_process'", "/home/apache/hosts/freecen2/production/lib/fr

[2022-09-08 08:51] DeniseColbert commented on #1428
Thanks @AnneV-Learn :)

Looks good to me (if there were only LND records added to Test3 in March?)

![image](https://user-images.githubusercontent.com/19173257/189079108-0df22063-177f-4fdb-aee3-2cd05123dfc7.png)

[2022-09-08 08:53] AnneV-Learn commented on #1428
Yes @DeniseColbert only LND records were added to Test3 in March.

[2022-09-08 09:02] DeniseColbert commented on #1428
Brilliant, this can be deployed then! Thanks Anne

[2022-09-08 09:11] PatReynolds commented on #1196
See email sent Pat>Denise 8 Sep 2022 re listings of who-transcribed-what

[2022-09-09 05:45] geoffj-FUG commented on #330
I have added a couple of notes about using control to select multiple counties and using the search around box. Both of these need addressing.

[2022-09-09 08:45] PatReynoldsFUG commented on #330
Made changes to address your points, I hope, @geoffj-FUG

[2022-09-10 05:05] geoffj-FUG commented on #330
All links work OK.
There is an indent problem at Abbreviated Handbook.
Otherwise OK.
This can be deployed once the indent is fixed.
Geoff

[2022-09-10 05:07] geoffj-FUG commented on #1427
I have checked all the links and they are OK.
Content is OK except an unwanted indent part way down at Abbreviated Handbook.
This can be deployed once the indent is fixed.
Geoff

[2022-09-10 08:46] AlOneill commented on #1427
@DeniseColbert Allow me to fix the markup that has gone awry (in more than one place, as it happens).

[2022-09-10 11:49] AlOneill commented on #1427
@DeniseColbert @geoffj-FUG
Markup fixed. Whilst fixing it I noted some issues that will need resolving, either before publication or as soon as is feasible:
    1. the example spreadsheet is **not** a CSV file, as stated: it has the file ending .xls
    2. some downloads are set to open in a new tab, some are not — which do we want?
    3. the tone and implied audience of the text is highly variab

[2022-09-11 06:38] geoffj-FUG commented on #1427
Cc to Denise for file.

Alison

I have attached the csv version. Perhaps we should include both versions as the xls version has the markup which is lost in the csv version.

Geoff

From: AlOneill ***@***.***>
Sent: Saturday, 10 September 2022 9:49 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Update FreeCE

[2022-09-12 11:19] DeniseColbert commented on #1427
@AlOneill what do you recommend for downloads- new/same tab?

I think it would be fine for you to standardise the tone/audience if you're happy to?

[2022-09-12 11:54] AnneV-Learn commented on #1432
@geoffj-FUG Fix has been deployed to Test3 if you could please test.

[2022-09-12 21:29] AlOneill commented on #1427
@geoffj-FUG I will include both the CSV and the .xls versions, with a brief explanation of the differences.

@DeniseColbert My recommendation for links to downloads is to follow the guidelines that apply to all links, adding the file size to the link text. So, **open in the same tab**, state the file format and size.

OK: I will attempt to standardise the tone, and address the text primarily to tr

[2022-09-12 23:42] geoffj-FUG commented on #1427
Alison

Open in new tab please. These are instructions so volunteers refer to them. If they open in same tab then it will use their workspace.

Geoff

From: AlOneill ***@***.***>
Sent: Tuesday, 13 September 2022 7:30 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Update FreeCEN Handbook on line and add samp

[2022-09-13 08:53] AlOneill commented on #1427
@geoffj-FUG
This is about user control and choice. If we _set_ a link to open in a new tab, then that is what will happen — the user cannot override the setting. However, if a link is set to open in the same tab, the default behaviour, then each user can choose to open it either in the same tab or in a new tab (or window) by way of the context menu: the mechanics of this vary but it is a right-cli

[2022-09-13 15:06] AnneV-Learn opened #1445 "CSV File list empty after upload"

[2022-09-13 15:09] AnneV-Learn commented on #1445
Problem reported by Ali Hill via Feedback:
Hi Anne

Re this issue---I have uploaded a file to EWS, (manage county/upload new batch/browse for file/select ID/upload.)

As reported, there are no files shown in list following upload..

![Screenshot 2022-09-13 at 16.08.16.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/745db482-a428-4878-9bad-1eabf7f86f87)

[2022-09-13 15:26] AnneV-Learn commented on #1445
Quite difficult to replicate this but I have made some changes that might fix it. Perhaps someone could get Ali to test on Test3.

[2022-09-15 00:36] geoffj-FUG commented on #1432
Anne
Before I test this can you please advise what changes have been made. I believe that this issue affects the researchers reports as well as the vld downloads. I just want to be sure I am testing the right parts of the system.
Geoff

[2022-09-15 06:07] AnneV-Learn commented on #1432
Hi Geoff,
Oh I only made changes to the VLD download area of code. I hadn’t appreciated that there was a problem with the researchers reports. Can you please clarify what the issue is there and what is required?
Sorry,
Anne

On 15 Sep 2022, at 01:37, geoffj-FUG ***@***.***> wrote:

﻿

Anne
Before I test this can you please advise what changes have been made. I believe that this issue affects the r

[2022-09-15 07:28] AnneV-Learn opened #1446 "Buttons missing from search results page - iPhone & Android"
On the search results page when using my iPhone the Previous Dwelling, Next Dwelling, Printable format buttons are missing - see screenshot attached. ![2DD56A41-CF09-4ACD-9AC2-452F20C10817.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/b76ca174-88f2-4315-bedc-c77f5776709d)

[2022-09-17 14:09] Captainkirkdawson opened #1447 "Follow us links missing on footer"
There is only one link to News; the others have gone.

[2022-09-18 09:41] PatReynoldsFUG commented on #1347
From note of 27 August meeting: use the ones in the handbook

[2022-09-18 09:42] PatReynoldsFUG opened #1448 "Add brief role descriptions to the About page"
Role Descriptions (on front page of FreeCEN1, according to my note, but cannot see them there) need to be moved to About page (brief - who to contact, objective-oriented i.e. “you want to X, contact Y”)

[2022-09-18 15:44] AnneV-Learn commented on #1445
Ali tested on Test3 and she is happy with the fix.

[2022-09-20 05:13] geoffj-FUG commented on #1197
I am happy to add an additional appendix. Please send me the text to look at.

If there is anything that is technically out of date, such as we can now use accented letters in some fields and the change of language codes, then I will add it.

To play devil's advocate - this would appear to be a Gazetteer menu item but out action menu structure does not fit.

Geoff

[2022-09-20 05:38] geoffj-FUG commented on #1397
This would be part of the clean-up of the vld files. It cannot proceed until the vld uploads are no longer happening.
Geoff

[2022-09-20 05:56] geoffj-FUG opened #1449 "Move History from FreeCEN1 to FreeCEN2"
This was raised in my mind by the other migration stories.
Our History is important. If it is not kept up to date and migrated to FreeCEN2 the knowledge will be lost.
Making historical information available is our bread and butter. Our own history should also be kept.
Geoff

[2022-09-20 12:06] AlOneill commented on #1427
I've nearly finished tweaking the Handbook page. This part is not clear for the literal part of my brain:

"**Complete FreeCEN Handbook (now obsolete for Transcribers, Proofreaders, Validators and Coordinators)**

"This is the original comprehensive guide to working with FreeCEN2. It will gradually be replaced by parts 1 to 4 of the Handbook. Most of this Handbook has now been replaced by the abov

[2022-09-21 06:20] geoffj-FUG commented on #1427
Alison,

I still have the data manager part to write. I also have Part 1 for Scotland and Ireland to make available. These are all covered in the complete Handbook.

Scotland has been reviewed by Margaret Singleton so I will be able to include part 1B soon. Part 1C Ireland is written but I still need to do my final proof read.

Once all the parts are written and available then I will have the Full

[2022-09-21 06:47] geoffj-FUG commented on #1432
Anne

This is complex.

I will write you an explanation of the root causes. The problem goes right back to the development of FC2 and a misunderstanding of the keys in FC1. This caused a series of issues which were all addressed by fix-ups. The underlying cause was not identified until recently and so we need to go back and apply the correct logic from the start.

I am back working with FreeCEN ag

[2022-09-21 06:55] AnneV-Learn commented on #1432
Thanks @geoffj-FUG. If you have examples of data where the issue is clearly visible in researchers reports that would be very helpful.
Also is the researchers reports issue applicable to VLD data loaded into FC2 (via the application menu option), data loaded from CSVProc files generated from data originally loaded from VLD batch upload, FC2 CSV file data loaded via the FC2 application or all three

[2022-09-21 08:07] PatReynoldsFUG commented on #1440
Duplicates #801

[2022-09-21 08:07] #1440 closed, assigned to nobody

[2022-09-21 08:08] DeniseColbert commented on #1438
@geoffj-FUG can also test

[2022-09-21 08:19] DeniseColbert commented on #330
@AlOneill to bring text over from Google Doc to Refinery

[2022-09-21 08:35] DeniseColbert commented on #1290
@Vino-S to run the rake task and @rhoda to check once ready

[2022-09-21 08:43] DeniseColbert commented on #887
@AnneV-Learn to review possibility of increasing number of counties in search

[2022-09-21 08:48] DeniseColbert opened #1450 "Integrate Country-specific help into the Gazeteer structure"

[2022-09-21 08:50] PatReynoldsFUG commented on #1197
@PatReynoldsFUG to get in touch with Kelvin.

[2022-09-21 08:53] DeniseColbert commented on #481
@DeniseColbert to tell Vino what to remove

[2022-09-21 21:59] AlOneill commented on #1427
The DRAFT [FreeCEN Handbook page](https://test3.freecen.org.uk/cms/freecen-handbook/draft-freecen-handbook-june-2022) is now ready for review.

[2022-09-21 22:31] AlOneill commented on #1430
@DeniseColbert
I do not know what a Transcriber sees in their Actions, but the "Feedback" (not really a) button takes me to a list of feedbacks from other volunteers. I cannot see how to create a message there.

Are we talking about the Google form, FreeCEN2 Feedback? Although this is accessed from "Information for Transcribers", it seems to be for non-members. I'm confused! What have I missed?

[2022-09-22 12:06] geoffj-FUG commented on #1432
Anne
FreeCEN2 has a problem in that it cannot download or report on repetitive schedule numbers of 0. This is a serious problem in 1841 as all schedule numbers are 0. Coordinators have also been manually fixing up Downloads of other years as the problem creates errors and therefore the problem records can be identified.
It appears that the coding in FreeCEN2 looks for a change in schedule number t

[2022-09-22 12:11] geoffj-FUG commented on #1432
Anne
You ask Also is the researchers reports issue applicable to VLD data loaded into FC2 (via the application menu option), data loaded from CSVProc files generated from data originally loaded from VLD batch upload, FC2 CSV file data loaded via the FC2 application or all three?
The problem is identified by the selection of a piece in the vld set and transferring it to the user folder. The piece i

[2022-09-22 14:00] rhodamackenzie commented on #1438
Sorry i answered this email instead of on here, i can edit

[2022-09-22 14:02] rhodamackenzie commented on #1330
This is sorted, closing now

[2022-09-22 14:02] #1330 closed, assigned to rhodamackenzie

[2022-09-22 14:03] #1089 closed, assigned to rhodamackenzie

[2022-09-22 14:03] #885 closed, assigned to rhodamackenzie

[2022-09-22 20:01] AnneV-Learn commented on #1432
Thanks @geoffj-FUG.
So the code modifications that I have made so far (and are deployed to Test3) do follow your specification (ie Schedule number triggered by change of household number) for the CSCProc file download  of a VLD file. Which means (I believe) that when a CSVProc file generated in that way is incorporated (this is when ‘Search records’ are created and these are what the FC2 researche

[2022-09-23 09:18] PatReynoldsFUG commented on #502
Found this hiding in FreeCEN's "on ice" column, so moving to ComeTT

[2022-09-23 09:20] PatReynoldsFUG commented on #502
Issue moved to [FreeUKGen/ComETT #29](https://github.com/FreeUKGen/ComETT/issues/29) via [**Zenhub**](https://www.zenhub.com/)

[2022-09-23 09:20] #502 closed

[2022-09-23 09:54] PatReynoldsFUG commented on #1077
For discussion by committee

[2022-09-23 10:05] PatReynoldsFUG opened #1451 "Wildcards are not working"
See story Tested wildcard searching on both place of birth and Test surname  P?ll?ser , no first name, census location North Riding of Yorkshire, Scarborough + nearby places - generates error "Wildcard can only be used with a specific place."
Test surname P?ll?ser, no first name, birth location North Riding of Yorkshire - generates error "Wildcard can only be used with a specific place."
Test surn

[2022-09-23 10:07] PatReynoldsFUG commented on #588
Not working - raised issue #1451 showing tests as requested.

#1062 and #605 in incoming may also be relevant. There may also be things of relevance in the Wildcard Epic

[2022-09-23 13:21] AnneV-Learn commented on #1451
Fix deployed to Test3.

[2022-09-24 06:34] geoffj-FUG commented on #1427
Alison
This looks good.
However, can you amend
Once you get going, please use Part 1 of the FreeCEN2 Handbook for England and Wales or Dave's Guide for New Transcribers.
To
This can be used in conjunction with Dave's Guide for New Transcribers. Once you get going please use Part 1 of the FreeCEN2 Handbook for England and Wales.
Amend
This page has download links for the various guides that help Tr

[2022-09-24 07:00] geoffj-FUG commented on #884
@AnneV-Learn
I do not have a copy of the FreeCEN2 table structures and fields included within a table. I understand that we have a networked type of structure rather than a traditional relational structure but do need to know where individual fields are. Are you able to send me the diagrams as they apply to the England and Wales PARMS please? I can then apply the principles above to a more detaile

[2022-09-24 07:14] geoffj-FUG commented on #1314
Both fields should be searched for. An entry may have been added to the Gazetteer since the piece was validated. If neither entry is in the Gazetteer then the County should be searched. (Consider OVF to be a County).
Our system looks for the POB in the Gazetteer, whether it is a primary entry or a secondary entry. The variations are therefore identified. The Latitude and Longitude is then collecte

[2022-09-24 07:39] AnneV-Learn commented on #884
@geoffj-FUG I am not aware that such a diagram exists. Perhaps @Vino-S could comment and maybe ask Kirk (still available for advice of course 🙂). If no such documentation exists,  it would most likely be possible to construct something though.

[2022-09-24 09:24] PatReynoldsFUG commented on #1231
@PatReynolds to let SuffolkRoots know

[2022-09-24 09:28] PatReynoldsFUG commented on #1039
We think this has been implemented and therefore closing.

[2022-09-24 09:28] #1039 closed, assigned to nobody

[2022-09-24 09:35] PatReynoldsFUG commented on #575
Information from start of ED in FreeCEN1 is missing in at least 40% of transcriptions.

Occupations column would also benefit from looking at again as character length had an impact.

WinCC used to sugest Ecclesiastical Parish from PARMS.

[2022-09-24 09:42] AlOneill commented on #1427
@geoffj-FUG
OK, but I will change some clauses back from the passive to the active voice and substitute some words and phrases with an unusual vocabulary or usage — most of our Transcribers are Brits but not all have English as their everyday language. The passive voice sounds unfriendly to many (which is off-putting) and is harder to take in if you are not accustomed to it.

As for forcing the do

[2022-09-24 10:07] geoffj-FUG commented on #1427
Alison

It didn’t used to be a problem when all pdfs opened in Acrobat or similar. The opening within a Google etc tab has created the problem.

If only things remained the same!

Geoff

From: AlOneill ***@***.***>
Sent: Saturday, 24 September 2022 7:43 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Update

[2022-09-24 12:48] AlOneill commented on #1427
The [DRAFT FreeCEN Handbook](https://test3.freecen.org.uk/cms/freecen-handbook/draft-freecen-handbook-june-2022) page text has been updated as per Geoff's requests (as I understand them) and is ready for review. It now includes an info box on opening links in a new tab so that users know why things have changed: Windows users with a mouse, the largest and (dare I say it?!) neediest group, have the

[2022-09-25 07:16] AnneV-Learn commented on #884
Provided the following to @geoffj-FUG which was constructed using DbSchema
[FreeCen2 Parms 24 Sep 2022.pdf](https://github.com/FreeUKGen/FreeCENMigration/files/9640207/FreeCen2.Parms.24.Sep.2022.pdf)

[2022-09-27 07:01] geoffj-FUG commented on #884
I have analysed the tables in what I believe to be the current England PARMS. Only small adjustments seem to be required to create a structure for the Ireland PARMS. My analysis can be accessed at

https://docs.google.com/document/d/1A8B7HSWfHkcYHPoKjhnfBJDVGYufjCzJhfOEDez0HkE/edit?usp=sharing

Geoff

[2022-09-27 11:06] PatReynoldsFUG opened #1452 "Wildcard search failing"
As @AnneV-Learn noted in August 2022 (see issue #829) the wildcard search does not work even if a place _is_ selected - true for both ? and * as wildcards.  Assigning Anne as she asked.

[2022-09-27 11:18] PatReynoldsFUG commented on #1102
Use the version being developed on FreeBMD2.  Mobing to On Ice until that is done, and assigning Denise

[2022-09-27 11:21] AnneV-Learn commented on #1452
@PatReynoldsFUG  I think this is already covered by #1451

[2022-09-28 07:16] geoffj-FUG commented on #1432
Anne

The csv downloads are now downloading perfectly. We can migrate this to production.
I still have an inkling that we had the same problem in the researchers results. I have not been across reporting so cannot be certain. However, I have tested this using 1841 data and have got the correct results. (I used a family surname that appeared in several consecutive families and the results broke up

[2022-09-28 07:21] geoffj-FUG commented on #1432
Anne

Sorry, I have just found another glitch. The system is adding a schedule number of 0 against every page number change on vld download converted to csv, This is the issue that I had reported sometime ago that caused me to suspect the researcher reporting.
Is there a 'fix'  still hanging around that is causing this?
Geoff

[2022-09-28 09:58] geoffj-FUG commented on #1438
@AnneV-Learn WLS has not quite made it to freecen2, Anne is it possible to implement this now? It works fine on test3,
Thanks, Rhoda

[2022-09-28 12:40] AnneV-Learn commented on #1438
I have asked @Vino-S to deploy to production.

[2022-09-28 12:46] AnneV-Learn commented on #1432
Ok @geoffj-FUG I’ll take a look when I am back at my desk (that won’t be until next Wednesday as I am away at the moment). Are you able to identify a piece that illustrates the problem (as that would help enormously when trying to solve it)?

[2022-09-29 06:02] geoffj-FUG commented on #1432
Anne

I have attached HO107_929_z to your copy of this email. Have a look at the Kitch family. I examined these to test as the surname does not change. At the start of each new page the schedule number of 0 is entered and the previous address is repeated.

Geoff

From: Anne Vandervord ***@***.***>
Sent: Wednesday, 28 September 2022 10:46 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FU

[2022-09-29 08:13] AnneV-Learn commented on #1432
👍🏻thank you

[2022-10-01 10:33] geoffj-FUG commented on #884
@PatReynoldsFUG @AnneV-Learn  I have been looking at the issue of civil parishes and using the streets in Belfast as the test data.
The civil parish in Ireland was the Church of England Parish. There was also a Catholic Parish and Diocese. For Antrim see:
https://www.familysearch.org/en/wiki/County_Antrim_Civil_Parishes
We need a policy decision as to how we are going to treat this information. It

[2022-10-01 10:37] geoffj-FUG commented on #884
@PatReynoldsFUG @AnneV-Learn I have been looking at the Baronies in the Irish PARMS.
There appears to be a one to one relationship between the townland and the barony (One townland has one barony, one Barony has many townlands). It is therefore possible to record it within the Townland collection.
Having said that there is bound to be an exception somewhere (there always is!). So I would define th

[2022-10-01 10:59] geoffj-FUG commented on #884
@PatReynoldsFUG @AnneV-Learn
I am thinking aloud with this story. I have updated my document on Google Docs. My next step will be to create some sample data sets based on my thoughts so far.
As I think out each step please feel free to give me feedback, especially if you see any problems in my thoughts.
Geoff

[2022-10-03 14:13] DeniseColbert opened #1453 "Images are broken on Volunteer page"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/df672c62-95b5-49db-a564-d9cc875f32d8)

[2022-10-03 17:16] AlOneill commented on #1453
The images are present on t3. When was the last sync done?

[2022-10-05 08:15] DeniseColbert commented on #1451
@PatReynoldsFUG could you test Anne's fix please?

[2022-10-05 08:16] DeniseColbert commented on #1445
Done, closing

[2022-10-05 08:16] #1445 closed, assigned to AnneV-Learn

[2022-10-05 08:17] DeniseColbert commented on #1428
Done, closing

[2022-10-05 08:17] #1428 closed, assigned to DeniseColbert, AnneV-Learn

[2022-10-05 08:18] DeniseColbert commented on #1438
Done, closing

[2022-10-05 08:18] #1438 closed, assigned to geoffj-FUG, rhodamackenzie

[2022-10-05 08:20] DeniseColbert commented on #1396
Done, closing

[2022-10-05 08:20] #1396 closed, assigned to geoffj-FUG

[2022-10-05 08:20] DeniseColbert commented on #1433
Done, closing

[2022-10-05 08:20] #1433 closed, assigned to AnneV-Learn

[2022-10-05 08:23] DeniseColbert commented on #1427
@geoffj-FUG could you check this please?

[2022-10-05 08:35] DeniseColbert commented on #566
@AnneV-Learn to make Website problem and Enhancement Suggestion go to her and Vino

[2022-10-05 08:41] DeniseColbert commented on #1430
Title amended to make more sense

[2022-10-05 08:42] DeniseColbert opened #1454 "Change name of Report a problem button"
"Report a problem/Feedback"

Radio button choice for which option

Positive feedback to go to Chris for Newsletter

[2022-10-05 08:54] DeniseColbert commented on #1380
@AnneV-Learn to review Names letter selection in terms on in-page navigation rather than a new page load

[2022-10-05 09:00] DeniseColbert commented on #1452
Duplicate- closing

[2022-10-05 09:00] #1452 closed, assigned to AnneV-Learn

[2022-10-05 16:04] PatReynoldsFUG opened #1455 "Unsubscribe from FreeCEN transcribers list not working"
Tried to unsubscribe today and got this error message:
Message not delivered
There was a problem delivering your message to freecen-transcribers+unsubscribe@freeukgenealogy.org.uk. Contact the remote server administrator for details.

[2022-10-06 09:15] AlOneill commented on #330
Have begun updating (Researcher) Help as per https://docs.google.com/document/d/1X6qUXROl7QVqyoxntx3tiE21StNVnPtJ72QmsVn2EuA/edit#heading=h.9a7qe19milli

[2022-10-06 11:03] AlOneill commented on #330
@PatReynoldsFUG
Now that I'm making the changes to the Help page, a couple of things are not quite clear to me.

I've made two further comments on the Google doc plus a Suggested edit. I know you are away for now, but please take a look when you return and have the opportunity. Thanks!

[2022-10-06 14:45] AlOneill commented on #1430
[DRAFT Information for Transcribers](https://test3.freecen.org.uk/cms/draft-information-for-transcribers) page edited to include advice detailed above.

There is no obvious place to include the advice on the Coordinators page, but as we encourage Coords to be familiar with the Info for Transcribers (and unnecessary repetition is a dangerous waste of time — what is the proper phrase for that idea,

[2022-10-06 15:00] AlOneill commented on #1430
I've remembered the acronym! It's DRY (don't repeat yourself).

[2022-10-07 11:20] AnneV-Learn commented on #566
@DeniseColbert - I have just done some investigation before making any changes :

'Contact Us' communication emails are sent to users with the role 'contacts_coordinator'. Currently this role is only assigned to the 'Cen Coms' user - see below - (does anyone monitor that email address?)

![Screenshot 2022-10-07 at 11.41.27.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/529adaa3

[2022-10-08 12:11] geoffj-FUG commented on #1432
Anne
I  am now completely miffed.
I have downloaded pieces from CON, GLS, KEN and SOM. They all convert to CSVPro properly except SOM.
So, I tried different piece numbers. The early SOM pieces had the problem. The later ones didn’t.
I have considered that the issue may have been created by an early version of valdrev and FCTools. My later SOM pieces would have been validated on a newer computer an

[2022-10-10 12:18] geoffj-FUG commented on #687
Alison These might fit quite neatly under the Handbook tab  of the Your Actions menu item on FC2. Geoff

[2022-10-10 12:25] geoffj-FUG commented on #1432
This is also covered by story #748.
Given the findings above I am now more than happy with Anne's updated code. The updated code can be deployed and both stories closed. Geoff

[2022-10-10 12:29] geoffj-FUG commented on #748
See story #1432

[2022-10-10 13:14] AlOneill commented on #687
I have a number of problems with this request:

1. @geoffj-FUG I do not know what you mean by "under the Handbook tab of the Your Actions menu item". Do you mean somewhere on this page: https://test3.freecen.org.uk/cms/freecen-handbook ?

2. I cannot find a page named "Spreadsheet Help" or similar on my computer — 3 years and 2 laptops on — I cannot remember the details of what I was trying to do

[2022-10-10 13:36] AnneV-Learn commented on #1380
I am not totally convinced that switching to in-page navigation for presenting the unique names filtered by initial letter is the way to go:

- if we switch to in-page navigation the user will potentially have to scroll an awfully long way up to the top of the page to take the next 'action’. Many of the lists of unique names are very long - just one example: Somerset Bedminster 1861 has 2772 uniqu

[2022-10-10 14:49] AlOneill commented on #1380
Interesting. Time was never my main concern here.

* we can offer the user in-page navigation to return to the top of the page (and many will also be able to use cmd + up-arrow, or the equivalent for their OS)

* in-page navigation avoids the use of the extra electricity required to format the listing again — and we will need to format each part (letter grouping) as a proper list in order to make

[2022-10-11 06:41] geoffj-FUG commented on #687
Alison

The date of the story’s original creation certainly directs it to the FC1 spreadsheet.

You are correct in that FC2 spreadsheet columns are not width restricted. I suspect that your thoughts that this is about setting the number of characters in a column and using a fixed width font is probably correct.  The column headings in FC2 spreadsheets have no relationship to the number of characte

[2022-10-11 07:39] geoffj-FUG commented on #1054
Pat

(Denise, Found it on test3 so don’t need access to test2. Geoff)

Typo as follows: be ualso pdated

I am wondering why some of this is going online. I know it was there on FC1 but we now have the Handbooks. FC1 had very rudimentary guidelines.

I am updating the handbooks. The Abbreviated Handbook will become Transcribers and Proofreaders Handbook next issue. The Full Handbook will become tha

[2022-10-11 07:54] geoffj-FUG commented on #1427
Alison

We are at cross purposes.

The Handbook Action should open the Handbooks page in the same tab. The Download link should be where the volunteer makes their choices.

So I think we are on the same page.

Geoff

The links should open the document in a new tab. It can then be downloaded if the volunteer chooses.

From: AlOneill ***@***.***>
Sent: Tuesday, 13 September 2022 6:54 PM
To: FreeUKGe

[2022-10-11 07:54] geoffj-FUG commented on #1269
Anne

I have just had a look at all of these entries with deleted flags. None of them should be deleted. They are all valid entries.

I have a feeling that we are going to have out hypothesis about the D flag disproven. What other flags are in that column of the data please? That may tell us whether the data is related to the validation trail in valdrev.

Geoff

From: ***@***.*** ***@***.***>
Sent

[2022-10-11 08:02] geoffj-FUG commented on #1310
Kirk

I have attached a draft advice to volunteers for your feedback, please.

I have kept the steps simple reflecting the major milestones of the change.

I have cc’d you as the attachment may not go to Github.

Geoff

From: Kirk Dawson ***@***.***>
Sent: Saturday, 9 April 2022 1:10 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [Free

[2022-10-11 08:26] geoffj-FUG commented on #1310
Kirk

Up to now Nationality would have been recorded in the Notes column if it was recorded on the census (though I have seen it added to the POB in brackets).

I assumed that we would just change the OVB to OVF for vld files.

The Pros - Your suggestion of adding the Nationality to the record set is a better solution. We can therefore add the British Subject info to every OVB record in that set a

[2022-10-11 08:39] geoffj-FUG commented on #1432
Anne

This is complex.

I will write you an explanation of the root causes. The problem goes right back to the development of FC2 and a misunderstanding of the keys in FC1. This caused a series of issues which were all addressed by fix-ups. The underlying cause was not identified until recently and so we need to go back and apply the correct logic from the start.

I am back working with FreeCEN ag

[2022-10-11 09:01] AnneV-Learn commented on #1269
Hi Geoff,

As far as I can see the position (0 ie first character in the record) of the Deleted flag/marker in a VLD file is only used for that purpose.
(I have checked through the code and can see no other use of the flag/marker at that position.)

FYI comments documented in the VLD file parser are as follows:

    # A       0  1 Deletion marker (D or blank)
    # B       1  4 Not used. Was Regis

[2022-10-11 09:02] geoffj-FUG commented on #1310
Kirk

Yes, I would like to proceed please.

We got back from seeing the Grandchildren this evening. I will put together a briefing in the next couple of days. (I will try to fit it in tomorrow).

Geoff

From: Kirk Dawson ***@***.***>
Sent: Saturday, 9 April 2022 1:10 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigr

[2022-10-11 09:16] geoffj-FUG commented on #1384
Anne

This screen Works well.

I have been validating without using the option for a while now and so I am sure about the functionality.

I notice that it is greyed out. Is it possible to hide it completely? Otherwise people may start to report it as not working.

Geoff

From: Anne Vandervord ***@***.***>
Sent: Friday, 25 March 2022 6:52 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FU

[2022-10-11 11:00] AnneV-Learn commented on #1384
@geoffj-FUG are you sure users will not want to see if the record is currently valid or not? We could add (for information only) next to 'Record Valid'  field name for all but system_administrator/technical users.

[2022-10-11 22:41] geoffj-FUG commented on #1269
Anne

Kirk set up a script that added an entry that a record was flagged as deleted into the notes column. I examined several hundred of these entries and compared them with the original image during validation. Not a single one of these entries was a deleted record. One piece had about 150 D flags which is an extraordinary number given that post validation there may only have been one or two in a

[2022-10-11 23:00] geoffj-FUG commented on #1384
Anne
The true false was an extra keystroke and subject to abuse. In addition it didn't mean much to  the average validator.
Record valid simply means that it has been validated (the true/false column in the csv download during validation).
The override button has replaced this. It allows the validator to override the system when there is more than one item to look at and makes it very clear that t

[2022-10-12 10:41] AnneV-Learn commented on #1384
@geoffj-FUG I am a bit mystified by this now. Looking back at the code for the form, the 'Record Valid' item should not be showing for anyone at all. It was removed when the Override Warnings button was provided (#1424). I have just tested on my local installation (which is running the current software version) and on Test3, neither have the 'Record Valid' item showing when editing a record with w

[2022-10-12 10:55] AnneV-Learn commented on #1380
Ok @AlOneill  - I have made changes to the Names page (in-page navigation, the names are now in 'lists' and there are 'Back to top of page' links). This may still not be completely what you want but hopefully it is on the right track. It has been deployed to Test3 (along with re-instating the changes that were already made to address accessibility issues).

[2022-10-13 21:29] AlOneill commented on #1380
@AnneV-Learn I've had a quick look at a Surnames page and it is three steps in the right direction. Well done.

I was a little disappointed to see an isolated `<li class="grid">`  :-( especially as it visibly throws the whole page out of kilter. And BTW, there is no such element as an `<nl>` !!

It will take me a few days at least to work through the page (my personal batteries are very depleted)

[2022-10-14 06:12] geoffj-FUG commented on #1384
Anne,
If you download a csv file during validation the true/false flag downloads with it.
When the file is incorporated the count of false flags must me 0.
Once a file is Incorported the flag is not needed. To me it is transitory. It appears when we select the Validate Action and is no longer needed once a file is Incorporated. It is only part of the Validation process.
Geoff

[2022-10-14 13:10] AnneV-Learn commented on #1384
Sorry @geoffj-FUG still a bit unsure what you want here.
Are you asking for the 'record_valid' column to be excluded from the 'Download File' output if the file has already been incorporated?
If not - would you please include some screenshots of the pages that you want changing.

[2022-10-19 08:06] DeniseColbert commented on #481
Brenda's email needs to be removed:

![image](https://user-images.githubusercontent.com/19173257/196633128-bd98603e-d670-4f5c-9bd9-123e2e358927.png)

Will look at County pages and have a think

[2022-10-19 08:10] DeniseColbert commented on #1430
Sync ready, thanks Alison!

[2022-10-19 08:16] DeniseColbert commented on #481
Denise to provide text re data Problem directing to FC2

[2022-10-19 08:26] DeniseColbert commented on #1232
FreeREG has Transcription Agreement already so we could reuse that?

We need a function that tells us how many active transcribers (i.e. uploaded a file), how many new volunteers registered, and how many registered but haven't uploaded a file. These need to be retrievable by giving "to" and "from" dates.

[2022-10-19 08:33] DeniseColbert commented on #1427
@geoffj-FUG to check

[2022-10-19 08:47] DeniseColbert commented on #1231
We need to show linkages in the gazetteer. @AnneV-Learn to think about how this can be achieved.

[2022-10-19 08:55] DeniseColbert commented on #687
Irrelevant so closing

[2022-10-19 08:56] #687 closed

[2022-10-19 09:03] DeniseColbert commented on #1453
Fixed

[2022-10-19 09:03] #1453 closed, assigned to nobody

[2022-10-19 09:05] DeniseColbert commented on #1447
Dealing with this on Systemwide

[2022-10-19 09:05] #1447 closed, assigned to nobody

[2022-10-19 10:07] AnneV-Learn commented on #1231
@geoffj-FUG When showing the information for a specific place in the Gazetteer I have renamed 'records online' to 'search records online' (as that is what that is) and added 'Number of pieces'. See screenshot below and this change has been deployed to Test3.
Is this sufficient information? ![Screenshot 2022-10-19 at 11.01.37.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/e2f7a3

[2022-10-19 18:03] AlOneill commented on #1430
Er, it's not sync-ready yet as final tasks need doing — you could say that it's ready to be made sync-ready!

[2022-10-19 19:22] AlOneill commented on #1430
[Information for Transcribers](https://test3.freecen.org.uk/cms/information-for-transcribers) is now sync-ready.

[2022-10-27 11:16] AnneV-Learn opened #1456 "Gazetteer - advanced search - deselect"
Once you've selected an advanced search option, you cannot deselect - one of the options always remains selected. There should be a way to deselect all.
(Feedback issue no. 246785629)

[2022-10-27 13:33] DeniseColbert commented on #890
Decision: replace with "Filters can be useful if your search returns a large set of results. Please read the [Help](https://www.freecen.org.uk/cms/help#filters/) carefully _before_ using the Marital Status, Occupation and Disabled filters."

(Note: "before" is in italics)

[2022-10-28 13:23] PatReynoldsFUG commented on #1314
Structure now resolved, so moving to backlog

[2022-11-01 09:46] geoffj-FUG commented on #1231
I have had a look and the renaming the stat as search records is better.
Is it possible to include a "Linked to PARMS record" Yes/No stat as well. It would save a lot of problems knowing what unseen links are there.
Geoff

[2022-11-01 13:17] AnneV-Learn commented on #1456
Added N/A to Advanced Search options.

[2022-11-01 13:28] AnneV-Learn commented on #1380
Updates to Place Names page provided by Alison implemented on Test3

[2022-11-01 14:46] AnneV-Learn commented on #1231
Ok @geoffj-FUG I have added "Linked to PARMS record" stat and the change has been deployed to Test3.

[2022-11-02 08:53] DeniseColbert commented on #566
Yes, I get the Cen Coms and Volunteer Coord emails. It's a concern that no one seems to be receiving four types of contact, that needs some thought.

[2022-11-02 08:58] Vino-S commented on #1290
First list completed and ready for test

[2022-11-02 09:04] DeniseColbert commented on #1430
Deployment this weekend

[2022-11-02 09:04] DeniseColbert commented on #1231
@geoffj-FUG to test

[2022-11-02 09:13] DeniseColbert commented on #566
@Vino-S to assign me to the roles with no one currently performing

@DeniseColbert to deal with unanswered contacts and make new stories if needed

[2022-11-02 09:15] DeniseColbert commented on #1456
@Vino-S to test

[2022-11-02 09:17] DeniseColbert commented on #1290
@geoffj-FUG could you send @Vino-S your list please?

[2022-11-02 09:27] DeniseColbert commented on #1450
@geoffj-FUG can you remember/advise what this might be about please?

[2022-11-02 09:35] DeniseColbert commented on #1446
@Vino-S to implement the right buttons on iPhone and Android/check to see if Advertisement text is affecting them displaying

[2022-11-02 09:36] DeniseColbert commented on #1444
Superseded, closing

[2022-11-02 09:36] #1444 closed, assigned to nobody

[2022-11-06 06:52] geoffj-FUG commented on #1450
Denise
Sorry, I have no idea.
Geoff

[2022-11-08 05:28] geoffj-FUG commented on #1231
Looks Good. This can be deployed
Geoff

[2022-11-08 05:32] geoffj-FUG commented on #892
Is this story #605?

[2022-11-12 06:19] geoffj-FUG opened #1457 "Disabling of Place Name in Gazetteer"
When a place name is currently disabled in the Gazetteer it is moved to a file. When a person wants to add a place name to the Gazetteer several checks are made which includes this file. If the place is found it cannot be added.
This causes a problem when trying o tidy up the Gazetteer. If a place has two entries with different spellings with the same latitude and longitude the duplicate entry can

[2022-11-13 09:37] geoffj-FUG commented on #1456
@AnneV-Learn
Whilst this is being done can there be a clear button added to the County please?
Geoff

[2022-11-15 11:13] geoffj-FUG opened #1458 "Re-validate the vld data collection"
**Revalidation of POBs in the vld data collection**

It is proposed that the validation of the vld data collection should take place as follows:

Step 1 - Freeze the vld data collection:
•	No more vld files can be uploaded
•	Vld files can be downloaded and converted to csv but can only be removed from the vld data set through the data manager. (Note: Converted vld files that have not been removed

[2022-11-15 11:18] geoffj-FUG commented on #1397
**Testing of Civil parishes within FC1 vld data collection**

We will need to run a report showing:
Unique (Piece Number, ED, Civil Parish), where Civil parish for that piece is not in the PARMS

This report should be produced first so that we can see the extent of the problem.
The PARMS entry will need to be looked at for each piece to ascertain whether the problem is in the transcription or in t

[2022-11-15 11:37] geoffj-FUG commented on #1231
The original request cannot be done. The Civil parish links and tests to the PARMS, not the Gazetteer. The PARMS entry is then linked to the Gazetteer.

[2022-11-15 16:02] AnneV-Learn commented on #1456
@geoffj-FUG When I looked at the code I actually found a bug which meant that 'blank' (ie no county selected) was not appearing as the first entry in the county dropdown as it should have been. I have now corrected that and will let you know when it has been deployed to Test3 for testing.

[2022-11-16 01:02] geoffj-FUG commented on #1456
Anne

There is no problem with the blank displaying at the top of the list.

At present to get to another county I can overtype. Good

To get to the blank I have to type an A then scroll to the blank in the list and then enter. A validator does this many times in a day. It would be a lot user friendly if we could just have a button to clear the form.

Geoff

From: Anne Vandervord ***@***.***>
Sent

[2022-11-16 07:47] AnneV-Learn commented on #1456
Hi Geoff,
I was seeing a problem yesterday on my Mac - strange.
Anyway, I can easily add a clear button as you have requested.
 Anne

On 16 Nov 2022, at 01:02, geoffj-FUG ***@***.***> wrote:

﻿

Anne

There is no problem with the blank displaying at the top of the list.

At present to get to another county I can overtype. Good

To get to the blank I have to type an A then scroll to the blank in th

[2022-11-16 09:06] DeniseColbert commented on #1380
@AlOneill to test

[2022-11-16 09:08] DeniseColbert commented on #1430
@AnneV-Learn to check

[2022-11-16 09:09] DeniseColbert commented on #1432
@geoffj-FUG to check before closing

[2022-11-16 09:13] DeniseColbert commented on #1231
Done so closing

[2022-11-16 09:13] #1231 closed, assigned to geoffj-FUG, AnneV-Learn

[2022-11-16 09:17] DeniseColbert commented on #1427
@DeniseColbert to explore tab issue with Alison

[2022-11-16 09:30] DeniseColbert opened #1459 "Organise search issues"

[2022-11-16 09:32] DeniseColbert commented on #1459
@geoffj-FUG to review search issues and then nest #605

[2022-11-16 09:42] DeniseColbert commented on #1457
Agreed to hard delete the disabled places

[2022-11-16 09:44] DeniseColbert commented on #1450
Mystified so closing

[2022-11-16 09:44] #1450 closed, assigned to nobody

[2022-11-16 09:46] DeniseColbert commented on #1443
Handbook needs updating when Scotland can move forward

[2022-11-16 09:52] geoffj-FUG opened #1460 "Create a plan of action for transition from vlds to FreeCEN2"
Denise and Geoff to discuss

[2022-11-16 10:37] geoffj-FUG commented on #1432
I have downloaded an 1841 piece and the schedule numbers are now appearing correctly. I will close this story.
Geoff

[2022-11-16 10:37] #1432 closed, assigned to geoffj-FUG, AnneV-Learn

[2022-11-16 10:39] geoffj-FUG commented on #748
This is looking OK with the latest upgrade.
I have asked Chris Mahoney to re-download a piece that he had experienced problems with and see whether the problem has been rectified.
Geoff

[2022-11-16 11:26] geoffj-FUG commented on #1460
**Create a plan of action for transition from vlds to FreeCEN2 #1460**

Denise and Geoff to have a zoom meeting to set a plan to manage the change.

Suggestions to be part of the plan include:

Steps that we need to consider prior to closing down VLD uploads
(We should express the view that vld uploads were continued to facilitate the processing of legacy FC1 files. We have now allowed enough time

[2022-11-21 08:23] AnneV-Learn commented on #1456
@geoffj-FUG - I have added a 'Clear County' button and it has been deployed to Test3 for testing.

[2022-11-21 08:24] AnneV-Learn commented on #1430
Appropriate text appears to have been added to Help so closing.

[2022-11-21 08:24] #1430 closed, assigned to AlOneill, DeniseColbert

[2022-11-21 10:23] geoffj-FUG commented on #1456
Anne

Clear County works well.

Is it possible for the radio button to default to N/A whenever Search Place Names is selected. It currently stays on the previous choice. In the original form the radio button choice was removed whenever the form was requested.

We still need the previous place name and county query to stay.

Geoff

From: Anne Vandervord ***@***.***>
Sent: Monday, 21 November 2022 6

[2022-11-21 10:33] geoffj-FUG opened #1461 "The FC2 Search Epic"
This Epic covers all the search stories that need to be addressed in order to create a full set of search functions in FreeCEN2. These stories have been grouped into an epic so that similar stories can be developed concurrently, and therefore save development time.

[2022-11-21 10:59] geoffj-FUG commented on #1459
Epic Created as Story #1461. 31 search stories added

[2022-11-21 10:59] #1459 closed, assigned to geoffj-FUG

[2022-11-21 11:05] geoffj-FUG commented on #1406
This is not necessary. We can add the places to the correct Islands in the Channel Islands in the Gazetteer
We have a number of stories regarding searching. The story on searching by England, Ireland etc covers searching for the Channel Islands. The Chapman Code hierarchy to allow this has already been defined (see Validators section Appendix B of the Handbook). The search function is part of the

[2022-11-21 11:11] geoffj-FUG commented on #1290
Vino
You say that the first list is ready for test. This has me confused.
The Gazetteer in Production is a live document and changes from hour to hour (or more often) as additional places are added. If these amendments have been made to test3 how are they going to be transferred to the live Gazetteer. You cannot do a copy as the production Gazetteer has been amended radically over time.
The change

[2022-11-21 12:02] AnneV-Learn commented on #1456
Yes I can do that Geoff. I’ll get back when available to test.
A

On 21 Nov 2022, at 10:23, geoffj-FUG ***@***.***> wrote:

﻿

Anne

Clear County works well.

Is it possible for the radio button to default to N/A whenever Search Place Names is selected. It currently stays on the previous choice. In the original form the radio button choice was removed whenever the form was requested.

We still nee

[2022-11-21 13:31] AlOneill opened #1462 "Link to Gazetteer in main menu and on "Your actions" page have an accessibility issue"
The information that the Gazetteer will open in a new tab is buried in a `title` attribute which means that any user who cannot hover (because they cannot or do not use a pointing device) will never see that information. The behaviour could surprise or even confuse them.

This issue will probably be deemed of low priority, but it is our stated aim to make our sites and pages as accessible as possi

[2022-11-21 17:09] AnneV-Learn commented on #1456
Ok @Geoffj-FUG I have made the change (advanced search setting is not reloaded from previous search) and it is ready for testing on Test3.

[2022-11-22 06:27] geoffj-FUG commented on #1456
Looks Good. This can be deployed. Please let me know when it happens and I will put a message on the message boards.
Geoff

[2022-11-22 06:37] geoffj-FUG commented on #1427
This is still waiting. I understand the protocol involved in the use of tabs and the undesirability of systems opening strings of tabs across the screen.
When pdfs were automatically opened within Acrobat that was a reasonable policy. Opening in Acrobat meant that there was an additional programme in use and therefore the opened file was isolated from FreeCEN. However Acrobat is now a programme th

[2022-11-22 06:42] geoffj-FUG commented on #748
This story was resolved by #1432
Geoff

[2022-11-22 06:43] geoffj-FUG commented on #1456
Thanks Anne

I have marked it ready for deployment

Geoff

From: Anne Vandervord ***@***.***>
Sent: Tuesday, 22 November 2022 3:09 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: Geoff J ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Gazetteer - advanced search - deselect (Issue #1456)

Ok @geoffj-FUG <https://github.com/geoffj-FUG>  I have made the change (advance

[2022-11-22 07:34] AnneV-Learn commented on #1456
🙂 I think @Vino usually does just one production deployment each month, so may have to wait a couple of weeks now.
Anne
On 22 Nov 2022, at 06:27, Geoff J ***@***.***> wrote:

﻿

Looks Good. This can be deployed. Please let me know when it happens and I will put a message on the message boards.
Geoff

—
Reply to this email directly, view it on GitHub<https://github.com/FreeUKGen/FreeCENMigration/is

[2022-11-24 11:10] PatReynoldsFUG opened #1463 "Problem with search?"
A search for
Last Name
BROWN
Exact Match?
Yes
Birth Year
1865 - 1865
Census Year
All
Census County
Yorkshire, East Riding
Census Place
Kingston Upon Hull (including 100 additional places within 22.2 miles )

Returned 60 results.  A search for the same, but with birth year 1860-1864 returned 246 results: but a search 1860-1865 produced "too many results".

[2022-11-24 13:50] DeniseColbert commented on #1427
@geoffj-FUG Alison will make it clear on the Handbook page in Refinery (so that transcribers will see it at the right point) how to open any link in a new tab and how to get back to the list of actions. She's also let them know that it would be easier for the handbook to be opened in a new tab. This will give users the most control and will add to their repertoire of internet skills: useful for tr

[2022-11-25 02:34] geoffj-FUG opened #1464 "Regent Road Lancashire"
There are 2 Regent Roads in Lancashire, one in Morecambe and one in Blackpool. There are over 33000 search records that point to the one entry. I need a report of about 500 random records that point to Regent Road so that I can see what is going on, please.
I need to get rid of the Regent Road gazetteer entry and point the records to the correct place name.
We had the same problem with streets in

[2022-11-25 21:23] AlOneill commented on #1427
@DeniseColbert @geoffj-FUG

I have edited the guidance on the [Draft FreeCEN Handbook](https://test3.freecen.org.uk/cms/freecen-handbook/draft-freecen-handbook-june-2022) page in Refinery as per the above comment. The text now reads:

"**What has changed?**

"We have set nearly all the links on this site to open in the same browser tab rather than a new one. This puts you in control and makes it e

[2022-11-25 21:41] AlOneill opened #1465 "Improve accessibility of links and headings on "Your Actions""
The links that need improving are:

1. Instructional Videos

2. please click here

3. this document [when logged in]

4. a second 'click here' [when logged in]

There could be other links that I do not see, even when logged in, that could do with re-factoring to make accessible to (say) a manager who needs to use a screen reader.

In addition, there is a typo:
"what you were doing at the time and

[2022-11-25 21:51] AlOneill commented on #1465
The fist link should be:
`<a target="_blank" href="/cms/instructional-videos">Instructional Videos (opens in new tab)</a><br>`
i.e. the information that the link opens in a new tab should be part of the link text so that it is listed in full for a screen reader user.

The second link should be something along the lines of `please use this link to <a href="https://groups.google.com/a/freeukgenealog

[2022-11-26 05:30] geoffj-FUG commented on #1427
Alison

Please go ahead. We can then review if we have any issues with the outcome.

Geoff

[2022-11-26 12:44] AlOneill commented on #1427
@geoffj-FUG @DeniseColbert
Updated draft published on t3 and made sync-ready.

[2022-11-26 12:51] AlOneill commented on #1451
Er, CEN does not use wild-cards for transcribing, but perhaps using wild-cards for searching is an altogether different animal??

[2022-11-26 13:08] AnneV-Learn commented on #1451
This issue relates to wildcards in Searching FreeCen Census Records (ie the FreeCen main landing page functionality).

[2022-11-26 20:15] AlOneill commented on #1465
I've remembered that I can edit much of the text on "Your Actions" as it is on Refinery as "Information for Members". However, I have a nasty suspicion that any changes that I make will be overwritten by the next (developer?) update to that partial page.

The first link described above is missing from the partial page, so I cannot correct it.

Second link fixed plus some typos.

Now I can see the

[2022-11-26 20:28] AlOneill commented on #1451
Oops!! Brain not in gear.

[2022-11-27 07:23] geoffj-FUG commented on #1427
Alison

I view of the changes that have happened with pdf files appearing in Google Chrome and Microsoft Edge can we change:

In Introduction for New Transcribers.

The Guide will appear on your Screen in Acrobat Reader (or in the browser on a Mac):

To

The Guide may appear on your screen in Acrobat Reader or in your Browser:

Can we move the You are in control box to either above the Introductio

[2022-11-27 12:01] AlOneill commented on #1427
@geoffj-FUG
I have made the text changes you requested on t3. They will appear on the live site when the two are synced.

As for moving some or all of the contents of "Links and tabs" (I am not sure exactly how much you mean), I am reluctant to do so. The information belongs together; the blue background makes it prominent — it would be easy to change the colour if required; nothing is actually br

[2022-11-27 12:09] geoffj-FUG commented on #1427
Alison

The short reminder will help. Having the Handbooks available is critical.

I will put a short item in Chris’ next newsletter as well.

Geoff

From: AlOneill ***@***.***>
Sent: Sunday, 27 November 2022 10:01 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: Geoff J ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Update FreeCEN Handbook on line and add sample co

[2022-11-30 09:08] DeniseColbert commented on #1427
@AlOneill if this is sync ready could you put the Ready for Deployment label on please, and Vino can do that.

[2022-11-30 09:19] DeniseColbert commented on #566
@Vino-S to also change Richard's comms to Anne

[2022-11-30 09:23] DeniseColbert commented on #1465
@Vino-S thinks that the text won't be overwritten. We have plans to shortly updated the Release Notes section further down but this is the only part that will be overwritten.

[2022-11-30 09:25] DeniseColbert commented on #1290
Vino confirmed that they are ready to be tested on the live website @geoffj-FUG

[2022-11-30 09:29] DeniseColbert commented on #1464
@geoffj-FUG can you provide Vino with the old place name and new place name she will run the rake task for this.

[2022-11-30 09:32] DeniseColbert commented on #1463
@AnneV-Learn to investigate

[2022-11-30 09:43] DeniseColbert commented on #1457
@Vino-S to check the collection "Master Place" and let Anne know what it is.

@geoffj-FUG what is the approval process for Gazeteer entries? Is there one?