[2020-09-02 10:48] PatReynolds opened #950 "Decision on level(s) (District? Subdistrict? Civil Parish? Hamlet?) that will need georeferencing"
Georeferencing is needed for map stories and for searching by 'nearby places'

P20 based on an estimate of 1

[2020-09-02 10:52] geoffj-FUG commented on #925
Kirk

Bath Walcot was the place that was giving me trouble when we found the problem. It is processed perfectly now and the Civil Parish data looks far better.

😊

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Tuesday, September 1, 2020 8:54 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@nor

[2020-09-02 13:33] Captainkirkdawson commented on #949
@PatReynolds Simplay add an additional field riding to the csv file created for you by @richardofsussex
In the case where you want 2 ridings put both in the field with the second in () eg east (west)

[2020-09-02 13:35] Captainkirkdawson commented on #950
Please explain what you mean. I do not understand

[2020-09-02 13:46] Captainkirkdawson commented on #940
Action is available to validator  ('county_coordinator', 'country_coordinator', 'system_administrator', 'data_manager', 'validator')

[2020-09-02 20:15] Captainkirkdawson commented on #676
I would suggest this and any subsidiary stories not be pursued. The Process for CEN2 is being documented in the Handbook being authored by @geoffj-FUG

[2020-09-02 20:26] Captainkirkdawson commented on #126
See the New action FreeCEN Handbook authored by @geoffj-FUG
![handbook.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/585d265a-b7d3-4e91-9a70-c13bbd85fcb2)
Takes you to a link
![handbooka.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/ba4f0c64-cecf-44ba-8fde-3e8f9d634296)
Document on the new processes in there

[2020-09-02 20:30] Captainkirkdawson commented on #934
@geoffj-FUG can you confirm that the Alt county and place name need to be valid before propagation?

[2020-09-02 20:45] Captainkirkdawson opened #951 "Complete linkages from Freecen2 Civil Parishes to Freecen2 Places"
Many Civil Parishes named in TNA have no current entry in the Places collection.

This connection is required to ensure that we can ultimately  use the Place and a Nearly capability.

Manual additions of connection will take months if not years.

As a temporary measure we will assign the Place for a Piece to the Civil Parishe if a direct Place does not exist.

If the Piece does not have a Place we

[2020-09-02 21:31] Captainkirkdawson commented on #948
@geoffj-FUG The validation code used in CSV Proc added to the on line edit and deployed to test3

[2020-09-02 23:49] Captainkirkdawson commented on #928
Document has been updated incorporating almost all of Rhoda's excellent comments

[2020-09-03 04:47] geoffj-FUG commented on #126
At present I am releasing a new version at the beginning of each month. Version 1.1 is Online in test3. I am doing edits to Version 1.2 and this will be released in early October.
Geoff

[2020-09-03 04:52] geoffj-FUG commented on #934
Kirk

Yes please.

They must be valid. If not valid when the record is initially accessed then it must be added to the Place Names file either as a new Place or as an Alternative Place.

I presume that the file would then be reprocessed and the Alt POB would test as valid and can be Promulgated through the piece.
Or does #948 make this unnecessary?

Geoff

[2020-09-03 08:24] PatReynolds commented on #126
Thanks, Geoff.
Currently, when a member logs in, the 'help' button on the header links not to help for users, but to https://test3.freecen.org.uk/cms/information-for-coordinators - which I think (please correct me!) is now replaced by the Handbook.
So ... this story needs to change to be: what do we do with that button and https://test3.freecen.org.uk/cms/information-for-coordinators?
Is there any

[2020-09-03 08:39] FreecenBren commented on #126
Hi,
I have clicked on everything and also in test3 and cannot see the handbook
link anywhere.
Kirks   link goes to the Handbook name but does not open.
Can someone send me a link direct please so I can check it out?
Sorry to be a pain

Brenda

On Thu, 3 Sep 2020 at 09:24, PatReynolds <notifications@github.com> wrote:

[2020-09-03 08:52] FreecenBren commented on #126
Please forget that. Eventually it opened ok in test3.

Cheers. Brenda

On Thu, 3 Sep 2020 at 09:39, Brenda Bowers <bowbren2@gmail.com> wrote:

[2020-09-03 13:54] Captainkirkdawson commented on #529
It is essential that we remember that the Freecen2 Places. collection is used for validation of the POB.

All have access to display entries in this collection through the Search Place Names action.

We have provided coordinators as well as data administrators and system administrators with the ability to add and edit a place, including its physical location (lat/lon or grid reference). They also

[2020-09-03 16:29] Captainkirkdawson commented on #951
As a result of making the district /place linkage we have the following situation

![census parms.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/10a58e34-adb8-4eb5-b1c5-e6f8d97c85f3)

[2020-09-03 16:37] Captainkirkdawson commented on #951
1841 has a unique problem in that the params are using hundreds rather than places. Not sure how to address this.
In the years after 1861 onwards the use of LND creates a specific problem as many of the places are in MDX KEN etc. It appears there are 30 LDN Districts to be located.
The effort to identify places for districts is now a relatively limited task.

[2020-09-03 21:54] geoffj-FUG commented on #529
Kirk

As intimated before I do not believe that Transcribers / Proofreaders should have that function as we can lose quality of the data.

Some transcribers / proofreaders validate. How difficult is it to restrict the function so that is available only when a piece is in validation in that volunteer’s File list?

Geoff

[2020-09-04 13:42] Captainkirkdawson commented on #944
Have removed the download successful message as this could appear anywhere.
Other cases need to be specifically identified.
This should be closed after review

[2020-09-04 13:58] Captainkirkdawson commented on #122
There have been no change requests or bug reports. Propose this is ready for deployment

[2020-09-04 14:00] Captainkirkdawson commented on #123
There have been no change requests or bug reports. Propose this is ready for deployment

[2020-09-04 14:01] Captainkirkdawson commented on #837
There have been no change requests or bug reports. Propose this is ready for deployment

[2020-09-04 15:28] Captainkirkdawson commented on #489
The new validation process permits the inclusion of OVB and OVF for  COB and alt COB. There are presently no places in those "counties" but they can be added as needed cy coordinators

[2020-09-04 22:33] Captainkirkdawson opened #952 "Implement online operation of Freecen2."
Geoff wrote
I know it is probably a couple of months or so away but I would like to suggest a few milestones for the changeover to CSVProc

Handbook available – for Transcription and Proofreading it is ready. Validation and Publishing to be done. Some sections to be revised.

Processes available – We need all the processes that allow Transcription, Proofreading, Validation and Publication to be av

[2020-09-04 22:42] Captainkirkdawson commented on #952
Geoff
Cannot comment too much on the user implementation other than it may be a little too aggressive.
From my perspective there is a software deployment to be done first. That is likely to take a minimum of 2 weeks. After which you, John and Beki need to ensure that the production system performs as expected.
The deployment should take place fairly soon so that the Place/District/Pieces and Civil

[2020-09-05 09:55] geoffj-FUG commented on #122
Kirk

Just checking with Chas and Paul but it seems we are OK

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Friday, September 4, 2020 11:59 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Transcriber can review and correct errors

[2020-09-05 13:56] AlOneill commented on #126
@geoffj-FUG @PatReynolds
I've browsed the Handbook and have a number of initial concerns:
* How will volunteers know when a new version of the Handbook is available? The temptation is to download the document and work from that. A volunteer will need to know that their copy is out-of-date

* The Handbook is not navigable. At 69 pages, we need to provide hyperlinks from the contents page, or an out

[2020-09-05 14:12] AlOneill commented on #498
@PatReynolds This explains the shipping information for the **address field**:

Guidance for Shipping Returns:
Enter the address for a Shipping Return as the vessel name in brackets (parentheses) followed by the home port, the port of origin, if given, e.g. “(Prince Consort) Aberdeen”.

The example you give does not look right, but perhaps it wasn't in the address field. Which field did you see it

[2020-09-05 22:06] geoffj-FUG commented on #126
Alison

They can be told on the message boards and in the Newsletter. Coordinators can reinforce the message if they wish. Once the system is bedded down releases should be few and far between. 2021 then 2039 presumably. In the interim message boards and newsletters will have to be the way to go.

It may be possible to add a message to the ‘Your Files’ page once we are established.

The links are

[2020-09-05 22:54] geoffj-FUG commented on #126
Alison
The Utility was written just to make the life of testers easier. It was taking about 1 1/2 hours to manually convert a single file.
It then became obvious that the utility, sespite its shortcomings, was useful to Coordinators. If a Coordinator is using a Mac then they can delegate conversion to one of their volunteers. My statement that it would only be made available to Coordinators was to

[2020-09-05 23:22] Captainkirkdawson opened #953 "Image numbers with Freecen2 files"
Paul wrote
I think it would be a good idea to have a column in which the page number (if PDF) or file number (if JPG) or other identifier can be recorded. I have been doing this already in my files so that I could easily refer back to a source entry from the CSV file and it's especially useful when correcting errors and warnings. This column would be ignored by CSVProc but left in. I imagine it wo

[2020-09-05 23:27] Captainkirkdawson opened #954 "Cancel edit button"
Paul wrote
I suggest that a Cancel button might be a good idea in the Edit page, to be used if one wants to leave the record being edited unchanged. Back buttons might also be useful, though one can use the browser back button.
@geoffj-FUG commented
Kirk, can we include the Cancel button please? I have been using the breadcrumbs without Submitting but a cancel button is more user friendly.
My comm

[2020-09-05 23:28] Captainkirkdawson opened #955 "Reformat the processing report"
Paul wrote
Could the error list be produced as a CSV file? This would make it easier to work with than text in an email, with columns for error type, line no etc
@geoffj-FUG wrote
Kirk. This is your domain.

[2020-09-05 23:30] Captainkirkdawson opened #956 "Make upload preset csv file type"
Paul wrote
When replacing a file it would be better if the file selector dialogue was set for *.csv rather than any file, assuming that only CSV files can be uploaded.
@geoffj-FUG  wrote
Kirk, this is a good idea. Can it be done easily?

[2020-09-06 14:28] AlOneill commented on #126
@geoffj-FUG Thank you. You've answered most of my points. However, I am still concerned about the writing style of the Handbook.

We cannot assume that our current (and future) volunteers are all comfortable with information presented in the passive voice — they are not Polytechnic/University students! Some will have stayed in education post-16, but many won't. As a secondary school teacher, I hav

[2020-09-06 14:30] AlOneill commented on #126
@geoffj-FUG wrote:

Alison

I have now incorporated your Guiding Principles of Transcribing into the Handbook. I have also created an Appendix on Shipping Returns using your spreadsheet fields information.

I have made some minor amendments to bring them in line with the new system (e.g. removed field length info). Most of the Handbook inclusion is a copy and paste from your web page.

These will

[2020-09-06 16:59] Captainkirkdawson opened #957 "Create a standard_original_place_name field"
We need to test a place name against the original name. Issues of case require us to do a standardized test

[2020-09-06 17:02] Captainkirkdawson opened #958 "Extend YKS and CHI and HAM POB testing"
Many entries have POB as YKS CHI or HAM we need to test all ridings and island for these

[2020-09-06 17:55] Captainkirkdawson opened #959 "Remember to run rake tasks when CSV Proc code deployed"
correct_civil_parishes.rake options 3 1891 and 4 all years
correct_place_records.rake option 3
Must be run when code deployed to production

[2020-09-06 22:03] rhodamackenzie commented on #126
I can look at writing style throughout the handbook once geoff is ready though I am used to writing in the passive voice and fear I am the culprit!

[2020-09-06 22:06] geoffj-FUG commented on #126
Alison

Rhoda has already been asked to proofread up to page 33.

I am awaiting her feedback.

She has also already proofread some of the parts written by Kirk. The updated versions will be included in the next version of the Handbook.

Please realise that this was written on the fly. It is a collection of information that has just been reformatted into a Handbook. It is still a fluid document but

[2020-09-06 22:45] #957 closed, assigned to nobody

[2020-09-06 22:48] Captainkirkdawson commented on #958
Implemented into test3

[2020-09-06 23:00] rhodamackenzie commented on #529
I also feel transcribers and proofreaders should not have any form of editing or addition for placenames (but could suggest this to their validator

[2020-09-06 23:17] Captainkirkdawson opened #960 "London (and similar places) in the Freecen2 Place collection"
How do we handle place names in Middlesex and London?
There are 2 aspects.
Firstly how to link the Districts/Pieces/Civil Parishes
Secondly how to validate POB

Also applies to other metropolitan areas, e.g. Bristol and Manchester.

[2020-09-06 23:23] Captainkirkdawson commented on #960
London and Middlesex are significantly intertwined.  MDX encompases almost of London. Although some appears in KEN and SRY
The area that is now Inner London was defined by the Registrar General as a collection of parishes called "London" and appeared in the 1851 Census. for the first time.
Inner London is also known as the County of London
It existed until 1965.
The statutory Inner London boroughs

[2020-09-07 00:43] Captainkirkdawson commented on #529
@geoffj-FUG Cannot think of an easy way of doing as you suggest but will keep thinking

[2020-09-07 02:12] Captainkirkdawson commented on #960
Perhaps we should create the freecen2 places based on the district names in each of the freecen2  district names. This would provide linkages for districts, pieces and civil parishes and a basis for POB verification.
The question then would be with which year to start 1851 or 1911

[2020-09-07 02:17] Captainkirkdawson commented on #960
For POB verification we could expand the verification for LND to include, MDX, KEN and SRY in the same way we expand YKS to include the ridings and CHI to include the islands

[2020-09-07 06:09] geoffj-FUG commented on #122
Kirk

We all seem to be happy with the View and Edit system.

It has been pretty thoroughly tested and it seems to be going well in validation as well.

I am happy with it.

Another one to tick off as done.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Friday, September 4, 2020 11:59 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@f

[2020-09-07 12:03] geoffj-FUG commented on #529
May I fly a kite?
At the moment we have a field in the Volunteer profile that says experience. I dont find it very useful though I did uodate it once.
If we replace the levels of learner etc with Transciber, Proofreader, Validator, Coordinator it roughly equates to the skill level. We can leave Learner at the bottom of the pile if that is needed.
Now you have a field that can govern what buttons a

[2020-09-07 14:23] Captainkirkdawson opened #961 "Coordinator lock to remain after download"
That is the way it was originally designed for Freereg. There the transcriber is the owner of the file at all times. The purpose of the coordinator lock is to show to the transcriber that their coordinator has made changes to the file. They then cannot make any changes until they have downloaded the file. Locks are then removed. There has been discussion about adding a permanent coordinator lock.

[2020-09-07 14:29] Captainkirkdawson opened #962 "Flag removal after validation"
Further to my query last night about checked and passed records still appearing in the listings. This is only true in the “View Flags” button, so you still see all the records after you have corrected them.
For the “View Warning Messages” button, as you correct them they disappear form the listing and reviewing the page they are no longer there.
It would be nice if the “View Flags” had the same co

[2020-09-07 14:32] Captainkirkdawson opened #963 "Adjust Freecen2 Place fields that are displayed and/or edited"
I am looking at the form for entering a new Place to the place name file.

The screen appears to have been copied from FreeREG, who only deal with UK places and therefore Genuki becomes a reference.

I am currently adding New South Wales, so obviously that is not in Genuki.

Can we amend the caption to become more general please? Perhaps ‘Gazetteer website (e.g. Genuki)’ would be more suitable as

[2020-09-07 14:35] Captainkirkdawson opened #964 "Edit problem on next entry"
I have just looked at 3 consecutive entries of OVB Italy British subject. I decided to validate them together.

They are not in the Place names file as the default for Italy is OVF and OVB is an exception. So that is correct.

I accepted the first entry then clicked on ‘next entry’ so that I could accept that as well (and then the one after that).

When the next entry was displayed he button at th

[2020-09-07 14:37] Captainkirkdawson opened #965 "Enhance navigation during validation"
John has raised an issue that I have found to be an annoyance too.

He states

If you are in the view flags and view warnings panels, I think it would be beneficial to have a button to take you to the next flag or warning as appropriate rather than breadcrumb back to the previous panel and click on display for the next record.

I agree that it would be a big improvement if we could have a button t

[2020-09-07 17:00] Captainkirkdawson commented on #962
Requested clarrification

[2020-09-07 17:50] Captainkirkdawson commented on #964
@geoffj-FUG
Lets discuss functionality.
The way acceptance is implemented is bimodal

Any record that has an invalid record (False) displays Accept Entry.
Any record that has a valid record (True) displays Remove Acceptance

This way the validator can declare  a valid entry to be invalid if they want to review it again for some reason.
It sets a warning message of Line nn: Validator requested repr

[2020-09-08 00:46] Captainkirkdawson commented on #965
@geoffj-FUG Have implemented better navigation when viewing the lists of records. Deployed to test3

[2020-09-08 22:13] Captainkirkdawson commented on #965
A number of issues were identified during testing
The feature no longer applies the Individual list as that is the basic next and previous.
The feature has been split into 2 lines; next/previous navigation on one and edit and accept/reject on the second. With all on one line there were times when the edit/accept were selected in error.
Challenges are there for edit and accept/reject to give time f

[2020-09-08 22:46] Captainkirkdawson commented on #962
The flags are removed if a record is accepted. Deployed to test3 for testing

[2020-09-08 23:07] Captainkirkdawson commented on #961
@geoffj-FUG Coordinator Lock is now permanent on test3

[2020-09-08 23:30] Captainkirkdawson commented on #954
Added a Cancel button to the Edit of an entry. Test3

[2020-09-09 20:12] Captainkirkdawson commented on #956
I know of no easy way to do this.
Reg volunteers have been using this upload capability for 5 years as it is configured

[2020-09-09 20:14] Captainkirkdawson commented on #955
Given the several hundred messages to reformat individually this will take about a week of work to go through each message.

[2020-09-09 20:22] Captainkirkdawson commented on #934
@geoffj-FUG; 948 simply confirms the change being added is valid; propagation could be an add on to this

[2020-09-09 22:30] geoffj-FUG commented on #965
Kirk

This all looks good and works well. It is very user friendly.

You have also addressed my OVB Italy family report. You have stated

“One observation is that using next and previous work correctly but the next and previous flag etc buttons retain their PREVIOUS values; they are not recomputed.”

I will put a note for the Handbook that that needs to be mentioned. The Next Warning ability elimi

[2020-09-09 22:35] geoffj-FUG commented on #965
Kirk

Comments in red below

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Wednesday, September 9, 2020 8:13 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Enhance navigation during validation (#965)

A number of issues were ident

[2020-09-09 22:36] geoffj-FUG commented on #961
Kirk

Thank you. I will test it this evening

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Wednesday, September 9, 2020 9:07 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Coordinator lock to remain after download (#961)

@geoffj

[2020-09-09 22:43] geoffj-FUG commented on #956
Kirk

In that case let it go.

It was a ‘nice to have’ but not essential.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Thursday, September 10, 2020 6:12 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Make upload preset csv file

[2020-09-09 22:45] geoffj-FUG commented on #955
Kirk

Another ‘nice to have’

I am not sure that the gains outweigh the effort involved.

It is not essential for implementation and migration.

Geoff

[2020-09-09 22:48] #956 closed, assigned to nobody

[2020-09-09 22:50] Captainkirkdawson commented on #955
Will leave on the back burner for a future release

[2020-09-09 22:56] Captainkirkdawson commented on #965
Thanks @geoffj-FUG
The comment “One observation is that using next and previous work correctly but the next and previous flag etc buttons retain their PREVIOUS values; they are not recomputed.” is no longer really an issue as in the latest update I added a current flag record (and equivalents) to overcome the issue. It means that after any navigation using next and previous  to sequentially look a

[2020-09-09 22:56] geoffj-FUG commented on #934
Kirk

I think that Propagate Alt POB should be on the screen in the second row after Accept Entry.

If the entry is not accepted then Propagation should not work.

I see it as 2 separate decisions by the validator:

The first is that the entry with the alternative POB is valid and therefore accepted.

The second is that the alternative POB should be pre-filled for every recurrence of the originall

[2020-09-09 22:58] geoffj-FUG commented on #965
Thanks Kirk

I will look at it this evening

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Thursday, September 10, 2020 8:57 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Enhance navigation during validation (#965)

Thanks @geoff

[2020-09-09 23:09] Captainkirkdawson commented on #934
@geoffj-FUG You may have noticed I have been reluctant to start this one. There is a reason. In REG we did a great deal of propagation; some of it was good and some was bad. It is the one thing that keeps coming back for me to fix when someone makes a mistake. Now there the situation is different as the propagation goes into the search records as well. In CEN since it is within validation that sam

[2020-09-10 02:26] Captainkirkdawson commented on #963
Changes made. Deployed to test3

[2020-09-10 06:17] geoffj-FUG commented on #960
The County of London was a county of England from 1889 to 1965, It was bordered by Essex to the north-east, Kent to the south-east, Surrey the south-west and Middlesex to the north. (Wikipedia) Prior to 1891 London was not a valid County. That is why the Place names file has MDX, SRY and KEN.
We cannot use the POB verification that we used for YKS, (WRY, NRY, ERY) as the boundary of the County of

[2020-09-10 06:25] geoffj-FUG commented on #919
Thinking about this one. What happens when we upload? Will there be a check as to whether the piece is a new piece or a replacement? Geoff

[2020-09-10 10:13] PatReynolds commented on #960
See also #448. #459, #309 and #805 for other aspects of the London Problem.
Also the story with the policy decision for resolution of some of these issues.  (will add when I find).

Tried again and still can't find. @richardofsussex  can you remember the story about how to facilitate searching in metropolitan areas?

[2020-09-10 16:41] PatReynolds commented on #875
Not sure why I'm on this - could someone let me know what is needed?

[2020-09-10 16:46] PatReynolds commented on #879
Aplogies, all - overlooked this one.
It seems to me that a district can have more than one county in it (as with the Yorkshire ones I'm working on now, in districts that straddle Durham and Yorkshire, etc.  So why cann Bitton not have the Chapman code GLS?

A search for all GLS should return Bitton.  A search for the district or subdistrict Bittom is in should find Bittom.

[2020-09-10 20:00] AlOneill commented on #126
@geoffj-FUG @rhodamackenzie Thank you both. I understand completely. My first drafts are always littered with the passive voice and unnecessarily technical terms (or niche, British idioms)  — them's the skills that higher education teaches us!  However, we all know that if the mature version of the Handbook is not accessible, in terms of language, our transcribers and their coords will be up in ar

[2020-09-10 20:23] Captainkirkdawson commented on #875
@PatReynolds You raised the story and assigned it to yourself on May 28. Until its discussed I for one do not know what is required

[2020-09-10 20:38] Captainkirkdawson commented on #879
@PatReynolds a district, its pieces and civil parish belong to a single county. A single district cannot be connected to more than one county. However there is nothing to stop having districts of the same name in different counties. The pieces and civil parishes that belong to each district will be the appropriate county. Logically they are separate districts.
But the extrication done from TNA onl

[2020-09-12 00:33] Captainkirkdawson opened #966 "Write a log of changes when parms collections are edited or added to"
Version 1 that writes the log of changes for an edit to the District, Piece and Civil Parish collections is written and committed to test3

[2020-09-12 16:54] Captainkirkdawson opened #967 "Country place of birth"
Currently POB is limited to county and the special counties. SCT Glasgow is not permitted. Do we need to permit country and check POB in all counties for that country in similar manner to YKS. Actual code implementation would be different.

[2020-09-12 17:10] FreecenBren commented on #967
I have just had a PIECE for Gloucestershire and London that has a lot of ENG used
(POB says England and nothing else and no County given)

[2020-09-12 23:05] Captainkirkdawson opened #968 "Add ancors to all index displays so that the breadcrumb takes you to the entry in the index"

[2020-09-12 23:21] Captainkirkdawson commented on #966
This is the content of the log that is created.![TNA Change Log.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/49f82e58-f144-4776-aed1-ad56c87c1e24)

[2020-09-12 23:27] Captainkirkdawson commented on #966
At this point in time we do not have the ability to create a new document in the Districts, Piece and Civil Parishes collections as the initial specification indicated we would rely solely on TNA extraction.
If we move from this specification then a log capability will be required.

[2020-09-12 23:30] Captainkirkdawson opened #969 "Ability to create new document in the Districts, Piece and Civil Parishes collections"
At this point in time we do not have the ability to create a new document in the Districts, Piece and Civil Parishes collections as the initial specification indicated we would rely solely on TNA extraction.
If the decision is taken to duplicate a n entry into another county then we may need this capability or do it solely with a rake task. The latter will likely be more efficient if we are to do

[2020-09-13 15:19] Captainkirkdawson opened #970 "Add soundex to Place Names in Freecen2 Places"

[2020-09-13 15:29] Captainkirkdawson opened #971 "Expend fields contained in display of Freecen2 Place"

[2020-09-13 17:10] Captainkirkdawson opened #972 "Move messages line at top rather than bottom on the entry display"

[2020-09-14 01:00] geoffj-FUG commented on #965
I have just validated a small piece and the buttons seem to be logical and work as intended.
Geoff

[2020-09-14 01:02] geoffj-FUG commented on #964
I have just validated a piece and am comfortable with the system now. The enhancement of the buttons has helped a lot.
The condition that I had has diappeared. The Record Being Validated button has resolved this.
Geoff

[2020-09-14 01:24] geoffj-FUG commented on #960
This issue is being clouded by the Adminstrative County of London and the Traditional County of London definitions.
Let us look at Bristol as an example. Bristol is both a city and a county, since King Edward III granted it a county charter in 1373. The county was expanded in 1835 to include suburbs such as Clifton, and it was named a county borough in 1889 when that designation was introduced.
De

[2020-09-14 01:28] geoffj-FUG commented on #962
Kirk
The flags that went through to the database after validation used to convert the text to italics to highlight the doubt to the researched. Is this no longer so?
If it converts to italics we need to keep an accepted flag but ignore it if the record is accepted, It should no longer create a Warning as the flag is True but will be needed for the Researchers screen display.
Geoff

[2020-09-15 13:39] Captainkirkdawson commented on #962
I thought you asked me to remove them in your request. So I did

[2020-09-16 00:05] geoffj-FUG commented on #962
Kirk

I think we were at cross purposes.

Now that I understand the Actions better, it was right the first time. Sorry.

Geoff

[2020-09-16 21:34] geoffj-FUG commented on #960
[How to Handle London.pdf](https://github.com/FreeUKGen/FreeCENMigration/files/5235071/How.to.Handle.London.pdf)

I have now written a first draft solution to the London problem. It is fairly long so I have attached it as a pdf.

The issue is now extremely important. The solution will need to be agreed on before we migrate CSVProc.

Geoff

[2020-09-17 15:13] Captainkirkdawson opened #973 "Convert incorporation into a rake task"
The initial incorporation was written as an on-line task.
It takes to too long and may gateway time out.
Convert to rake task with email on completion

[2020-09-17 15:31] Captainkirkdawson opened #974 "Refresh places cache when FreeCen2 Place added"

[2020-09-17 15:33] #895 closed, assigned to nobody

[2020-09-17 15:35] Captainkirkdawson commented on #972
@geoffj-FUG Done on test3

[2020-09-17 16:25] Captainkirkdawson opened #975 "Decide how to handle the 1841 Hundreds as far as place name and location are concerned"
The 1841 census uses the Hundred as the Registration District and there is no Sub District name.
All other later census documents use a Place name for both the Registration District and the Sub Districts that can be located in a Gazetteer and provided with physical coordinates.
Freecen2 and Freecen1 use District and Sub District place names for searches.
The Freecen2 Place name collection does not

[2020-09-17 16:44] Captainkirkdawson commented on #831
@geoffj-FUG @PatReynolds A first version of the conversion has been applied to HO107_895 for RUT in 1841.
The initial issue encountered was this is a hundred see story #975 for a policy decision on this.
To proceed I created a freecen2 place called Stanford with location and edited the piece to use this place name
The file was then converted and is available for searching on test3.
An example I ha

[2020-09-18 08:15] PatReynolds commented on #975
One potential is to use the cordinates given on wikipedia: eg https://en.wikipedia.org/wiki/Howdenshire

Or something more reliable eg https://www.geog.cam.ac.uk/research/projects/occupations/hundredmapping/

The existance of the hundred/wapentake is only going to be revealed in the detailed results (?is that correct?)

[2020-09-18 14:38] Captainkirkdawson commented on #975
Neither of those provide geographic coordinates as far as I can see.
But what about the question of how they should be entered. Howden (with alternate Howdenshire) or Howdenshire( alternate Howden ). Howden is already in Freecen2 Places collection because it was either a Registration District or Sub District in the later census
If you look at the actual census document you will see that the Regist

[2020-09-18 19:52] Captainkirkdawson opened #976 "Mobile version of csv entry"
Need to adjust the mobiole version for the csv entry

[2020-09-19 00:29] Captainkirkdawson commented on #831
@geoffj-FUG The first version of the conversion has been applied to your RG14_14114 file (1911) and is available for searching on test3.
A search of smith in 1911 will provide sample search result as well as access to the details for each of the individuals using similar dwelling display. Similarly you can step through search individuals as well as dwellings.
The display is a little cramped but th

[2020-09-19 09:34] geoffj-FUG commented on #972
Kirk

All good thank you.

Geoff

[2020-09-19 11:32] geoffj-FUG commented on #831
Kirk
Looks good. We are really on our way now!
I did a search on my iPad too and the result was quite readable despite the amount on information on the screen. I chose William Smith and he had a family of 6.
If I was a researcher I would accept that because there is a complete family for me to read about.
Just a few queries:
Is there going to be a key to the Occupational category? The meaning is n

[2020-09-19 15:21] Captainkirkdawson opened #977 "Display Occupation Category not code"
The 1891 census introduced the Occupation Category.
This field was not transcribed in Freecen1 hence never displayed.
It appears in subsequent census
Freecen2 csv accepts the field and displays it.
Should we find a way of interpreting the key?
eg. Try to explain in a hover/roll over (not done for any other field)
or Put the full word in place of the key (adds more space usage to an already crowed

[2020-09-19 15:25] Captainkirkdawson opened #978 "Improvements to CSV Display"

[2020-09-19 15:34] Captainkirkdawson opened #979 "Move folio/page number information to dwelling line"
Currently the CSV display has the folio and page number as part of the census information (as done in the Cen1 record display)
The census line is quite cramped now with additional information. The address line is now separate because of the cramping. Also the house information is not really part of the census information.
Should we move the folio and page number to be with the address? If so shoul

[2020-09-19 15:48] Captainkirkdawson opened #980 "Citation button not there when you go back to original dwelling"

[2020-09-19 15:50] Captainkirkdawson commented on #831
@geoffj-FUG
Thanks
The CSV displays follow the practices of the current displays.
There are no current changes planned (other than mobile version) so we need stories if you think there are changes or improvements to be made.
Have added
Do we add explanation for Occupation Category #977
Do we move folio/page number information to dwelling line#979
Citation button not there when you go back to origi

[2020-09-19 21:11] Captainkirkdawson commented on #960
@geoffj-FUG thank you for that excellent review. I have spent several days reading and rereading it hence the delay in responding
In my mind it does not **go far enough and propose specific guidance** on how we should handle Country Chapman Codes nor London as a conclusion.  Certainly there is insufficient guidance at this time for me to program the system appropriately and different coordinators

[2020-09-19 21:50] Captainkirkdawson commented on #962
@geoffj-FUG **The flags that went through to the database after validation used to convert the text to italics to highlight the doubt to the researched. Is this no longer so?** This is news to me and does not happen so please clarify requirement. Are there others that I am missing?

[2020-09-19 22:00] geoffj-FUG commented on #962
Kirk

It may have been lost between FC1 and FC2 or I may have it wrong.

Let me check

Geoff

[2020-09-19 22:30] Captainkirkdawson commented on #919
@geoffj-FUG need to work out how to do this.

How about we save a list of the Enumeration districts in a file with the file then we go to incorporate a new file for a piece we check to see if the new piece has an enumeration district that has already been incorporated.

Means that a file cannot be smaller than a single enumeration district.

Does this make sense?

Do we need to have an incorporate

[2020-09-19 22:47] Captainkirkdawson commented on #971
Committed to test3

[2020-09-19 22:52] geoffj-FUG commented on #919
Kirk

I am happy with the ED being the smallest unit.

When we get a data error report from a researcher we need to download the last published piece. Is that in CSVProc or do we download the live piece? If so the ED would be a logical unit to download.

Geoff

[2020-09-19 22:54] geoffj-FUG commented on #919
Kirk

Make sure you do not make a rod for your own back:

“For Ireland the ED number will always be 0 (zero) unless a special category is being transcribed”.

So an index style file will not work.

Geoff

[2020-09-19 23:06] Captainkirkdawson commented on #919
@geoffj-FUG
Will go with ed for England and Wales. Ireland and Scotland will have to be thought about when we get closer.

It will be a CSV Proc download, edit replace or online edit: remove the incorporated entries and then incorporate the new version of the file
What about the incorporated lock?

[2020-09-19 23:45] FreecenBren commented on #960
Chapman Code for London Is *LND* and  not LDN.

It is a common mistake.

On Sat, 19 Sep 2020 at 22:11, Kirk Dawson <notifications@github.com> wrote:

[2020-09-20 00:39] Captainkirkdawson commented on #960
You are correct @FreecenBren but what about the substance of the discussion?

[2020-09-20 06:36] geoffj-FUG commented on #960
Kirk

I know that I am beginning to sound pedantic, but what is being said is not what I was given to understand when I began as a Coordinator 15+ years ago. Nor is it what I see as written down.

So I am going back to basics. I have attached Fields.htm which is the instruction set that FreeCEN used to use.

If you look at the Chapman Codes London LND was specifically defined as London (City). Lon

[2020-09-20 09:46] geoffj-FUG commented on #919
Kirk

Missed that bit, sorry.

Yes to an Incorporated Lock. It saves an accident one day.

Geoff

[2020-09-20 10:45] johnt-freecen commented on #960
I believe that in the examples of SCT - Aberdeen and LND - Paddington we should generate the warning messages for correction within the validation routine. The original Value in the verbatim county should be left as is and not rejected within the edit suite if a new value of County and place are entered in the appropriate fields.

We need a specific section in the Validation area of the new manual

[2020-09-20 10:51] FreecenBren commented on #960
As the COORD for London, I advocate AS IS.
If the enumerator has written London then LND  as the CHP, then we
transcribe it AS IS.
If there is also a POB then we also transcribe that AS IS.

Who are we to question something enumerated over 130 plus years ago that
the person being enumerated said where they were born!

The Transcriber is free to add an alternative in column Y if they feel it
is ben

[2020-09-20 10:52] geoffj-FUG commented on #960
Thanks John

That is what I have suggested. My suggestion is that Places can only be added to the level 3 Chapman Codes shown in my table.

The issue now is what constitutes London? There are varying opinions.

I have added a new item to Story #960 outlining my logic on how to handle Yorkshire, Hampshire and London.

Geoff

[2020-09-20 11:10] geoffj-FUG commented on #960
Brenda

There is no dispute as to whether we transcribe ‘as is’ or not.

The issue is how do we handle the Warnings that are generated when the Place is in the Place Names database as say SRY but it has been enumerated as LND. See my Venn diagrams posted this evening. They explain the problem of just accepting LND when the place is in say KEN.

There is no FreeCEN interpretation of London in the C

[2020-09-20 11:42] geoffj-FUG commented on #960
Kirk

Comments below that I have not covered elsewhere:

1.	Correct
2.	Correct
3.	Correct
4.	This is covered in my Venn diagrams. John has given us feedback and suggested that additions to London can only be made centrally. That would control the spurious entries. Another suggestion is that the Places listed in the County of London table that was in the document with the Venn diagrams be added cen

[2020-09-20 16:01] Captainkirkdawson commented on #960
@geoffj-FUG  Your proposed attachments were not added I am afraid.

[2020-09-20 21:31] geoffj-FUG commented on #960
[Chapman Code Relationships.docx](https://github.com/FreeUKGen/FreeCENMigration/files/5252693/Chapman.Code.Relationships.docx)

One attachment - the Venn Diagrams
Kirk - The other is html. I will forward it to you.

Geoff

[2020-09-20 21:54] geoffj-FUG commented on #960
Kirk et al

I have come up with 2 possible solutions to our problem. They are both technical solutions.

The first is that we have the Latitude and Longitude of the centre of London. We have the Latitude and Longitude of our Places. So if a Place is say within, say, 25 Km of the centre of London and it is in our Place Names Database we accept LND as the Chapman Code and do not create a Warning. Th

[2020-09-20 22:42] Captainkirkdawson commented on #960
It seems that we are getting close to an understanding on how to proceed.
Let me repeat what I have said many times; I have never been involved with Freecen in any capacity (not even as a user) until I became involved with the implementation of FreeCEN2 as a modern input/output platform.
In this capacity I may make stupid suggestions, forgive me I know no better. However in this capacity I must un

[2020-09-20 23:03] geoffj-FUG commented on #960
Kirk

I agree wholeheartedly.

I recognise that we have to come up with an objective rule so that it can be coded. That rule is then fitted into the FreeCEN process.

Validation has been up to the Validator for so long that inconsistencies have arisen in the interpretation. I have taken a narrow view in trying to come up with a solution and gradually expanding it until we come up with something pr

[2020-09-20 23:46] Captainkirkdawson commented on #960
Now for LND.
The original spec for LND is as the City of London. It was an administrative area as @geoffj-FUG has observed and was not a traditional county.
The Places within the Places collection for LND are the wards. It has:-
 Aldersgate ,Aldgate ,Bassishaw ,Billingsgate ,Bishopsgate ,Bread Street ,Bridge ,Broad Street ,Candlewick ,Castle Baynard ,Cheap ,Coleman Street ,Cordwainer ,Cornhill ,Cr

[2020-09-21 00:28] geoffj-FUG commented on #960
Kirk

It sounds like a good start.

If we can give Paul Tollemache access to the live database I can get him to populate it with LND Places. His strength is the accuracy of his transcriptions so he would be a good one to do this. He also researches places well.

I can get him to look for Place Names within Wards. He can add these as well. That should give us a very good database to go live with.

[2020-09-21 00:53] Captainkirkdawson commented on #960
@geoffj-FUG We can provide Paul with access at the appropriate time.
Please bear in mind that the LND places are a very small number. Places like Westminster are not part of LND.
As we have discussed the test3 databases cannot be moved as they are likely damaged as part of our testing.
These changes must be done to the production database.
That cannot be done until the code base is deployed to pro

[2020-09-21 01:45] geoffj-FUG commented on #960
Kirk

That is fine. We can make sure that LND is not validated until we are ready.

That is unlikely anyway as it is at the end of the pipeline.

I have put it on my to do list.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Monday, September 21, 2020 10:54 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Ment

[2020-09-21 10:10] geoffj-FUG commented on #960
Kirk

I would like to leave CHI as a level 1 Chapman Code. It falls into the same group as England, Wales, Scotland etc.

CHI – is accepted in a similar way to ENG -. Any other entries need the Island in the similar way to the Counties.

I have attached a new table and comments. This is what will go into an appendix in the Handbook as a Technical note. Are we on the same wavelength?

Geoff

[2020-09-21 11:30] geoffj-FUG commented on #960
Kirk

I have been looking at your list of Wards in 1870 and this list of Parishes in 1891. This list is broader but contains most of the Parishes that from my experience are usually enumerated as London. The Wards list only contained Middlesex. The area South of the Thames is equally important.

https://en.wikipedia.org/wiki/List_of_civil_parishes_in_the_County_of_London_in_1891

It would make val

[2020-09-21 15:34] PatReynolds commented on #975
We would have to ask for the University of Cambridge data.  The wikipedia data is available at the top right of the page: ![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/204a0c16-f006-4b93-b362-9a503050f866)

[2020-09-21 21:21] Captainkirkdawson opened #981 "Update the edit form for userids to remove REG specific fields"

[2020-09-21 21:24] Captainkirkdawson opened #982 "Loss of gender field on csv entry edit"
The gender field setting is being lost on en edit

[2020-09-21 21:25] geoffj-FUG commented on #960
Kirk

Having slept on it I am strongly in favour of London being defined as the 112 Parishes and 4 Part Parishes in the County of London in 1891.

See https://en.wikipedia.org/wiki/List_of_civil_parishes_in_the_County_of_London_in_1891

This effectively means that we have redefined the Chapman Code from London (City) to London (City and County). This is neat and tidy. It covers  Parishes in MDX, S

[2020-09-21 21:37] Captainkirkdawson commented on #960
@geoffj-FUG Sorry but this has totally confused me, never difficult these days.
I had thought that we had reached the conclusion that LND would retain its status as the City of London.
Only POB that were in the wards of the City would pass validation without comment All others would be warned. Those that were in found in Middlesex, Surrey or Kent would have this information included in the warning

[2020-09-21 22:41] Captainkirkdawson commented on #960
@geoffj-FUG looks like our messages crossed.
If you and @FreecenBren  are happy with that it can be implemented.
The only change I would propose is that we include the City of London ward civil parishes there are 80 of them.

[2020-09-22 04:16] Captainkirkdawson opened #983 "Add incorporation lock as second level of protection against removal without thought"

[2020-09-22 10:24] FreecenBren commented on #960
Hi,

I wrote this reply yesterday but it did not go. Crossed over with others now so still sent it.
Ignore it if you wish! My pennies worth for what it is.

Brenda

Hi.

If Geoff is confused then I to am totally confused.

We could talk about this all day,  and still not reach a compromise.

But if we stick to the AS IS  for the POB option, then if it ‘pops up’ in FC2 to suggest an alternative CHP

[2020-09-22 14:04] Captainkirkdawson commented on #960
@FreecenBren  it was me (kirk) who was confused not Geoff.
As noted earlier nothing about the  POB county and Place fields is changed. They remain TWYS.
CSV Proc is looking at what is in the POB county and Place fields. Seeing if they are valid and if not either just saying so or making a suggestion so that the **validator** can take action based on that information as they do today such as manual

[2020-09-22 16:11] Captainkirkdawson commented on #960
The apparent agreement is documented in https://drive.google.com/drive/u/1/folders/150Uh4r_lvGT9_nVaxf3R4wvvub3EoyDI
Adding an additional story to populate LND after deployment of the software
Populate the LND Place Names#984

[2020-09-22 16:13] Captainkirkdawson opened #984 "Populate the LND Place Names"
Populate the london Place Names as proposed in https://drive.google.com/drive/u/1/folders/150Uh4r_lvGT9_nVaxf3R4wvvub3EoyDI

https://drive.google.com/file/d/1KMThl0O1XqdE18PrTBp2n_4rQEEp0MQc/view?usp=sharing  appears to be the link to this document

[2020-09-23 21:13] Captainkirkdawson opened #985 "Correct 1851 Parms extraction"
The 1851 parms from TNA have multiple sub districts in the same piece. Out current extraction give each the same piece number. Making all but the first subdistrict in accessible.

[2020-09-23 21:45] Captainkirkdawson commented on #919
Code written that checks that the civil district/ED for the new file do not match any that have been incorporated.
![duplicate incorporation.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/cd22fece-0b1e-45f3-a671-f9e41a7cb8a0)
incorporation lock developed.
Once incorporated the ability to reprocess the file or do further validation is removed.\
Deployed to test3

[2020-09-23 21:46] Captainkirkdawson commented on #983
Deployed to test3

[2020-09-23 21:48] Captainkirkdawson commented on #973
The incorporate action now initiates a background rake task. Deployed to test 3

[2020-09-23 21:49] Captainkirkdawson commented on #814
Writing an overview document to describe how it works.

[2020-09-24 01:01] Captainkirkdawson commented on #814
The incorporation process is documented
https://drive.google.com/file/d/12uuSmqTHwVwU2i-OvvhaIrLkL17CvWPZ/view?usp=sharing

[2020-09-24 01:07] Captainkirkdawson commented on #958
@geoffj-FUG requests removal of CHI for POB testing; treat as Country

[2020-09-24 14:25] AlOneill commented on #699
Page fixed and sync-ready.

Found that the :hover is not visible on the Donate icon — :focus is fine. Applied a temporary, scoped style. Note there is no such problem on REG (have yet to tackle BMD). Will open an issue to investigate — at some point!

[2020-09-24 14:34] AlOneill opened #986 "Investigate and fix 'missing', visible :hover on Donate image"
Unlike REG, there was no visible :hover on Donate icon on "Opportunities to volunteer …". Temporary, scoped fix applied for now, so no urgency to fix properly.

Why the difference between REG and CEN? (Have not checked BMD yet.)

[2020-09-24 14:47] Captainkirkdawson commented on #967
Countries to be permitted but only with - hyphen as POB
No places to be added to country

[2020-09-24 16:18] FreeUKGenIssues opened #987 "180892498 Error message on blank WARD (John)"
Issue reported by **johnt** at 2020-09-24 15:54:58 UTC

Reported Issue:
I am in the process of editing during validation I added a new place to the location table, submitted as true this record. As there were several known occurrences of this error I selected the reprocess option. When complete it gave error messages that the ward field was blank on each change of district. I am not certain where

[2020-09-24 16:21] FreeUKGenIssues opened #988 "180892818 Download process losing Hyphen in forename (John)"
Issue reported by **johnt** at 2020-09-24 16:00:18 UTC

Reported Issue:
I was going to perform some off-line editing for validation, so selected the download file option as I needed to correct some "Header" info.

Having performed the change of addresses I launched the replace option. This worked ok, but produced error messages that were not present previously, namely the forename was blank.

Inve

[2020-09-24 16:23] FreeUKGenIssues opened #989 "180893020 Invalid Verbatim error message (John)"
Issue reported by **johnt** at 2020-09-24 16:03:40 UTC

Reported Issue:
When editing a record for 1841, I corrected the field I needed to and selected submit, the program returned an error message that the verbatim place of birth cannot be blank. This does not exist in the 1841 census.

![Screenshot](https://test3.freecen.org.uk)

[2020-09-24 20:31] Captainkirkdawson opened #990 "Add Birth Place to Results display"
Suggested by one of the coordinators

[2020-09-24 21:31] Captainkirkdawson commented on #989
@johnt-freecen Fixed and deployed to test3

[2020-09-24 21:43] Captainkirkdawson commented on #988
@johnt-freecen can you point me to the file in question; can you send the downloaded file off line please.
I have downloaded HO107_895_t (johnt) in East of RUT from test3. It has a - in record 1727 forename and 3633 surname.
My downloaded file has them present
![forename hyphen.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/1ed09279-fb4d-420b-bf5d-e3d6c993dad7)
![surname hyphen

[2020-09-25 00:48] Captainkirkdawson commented on #988
@johnt-freecen Problem located. Nothing to do with the download. Caused by using the titleize method on a hyphen; had forgotten it was a no no.
Resolved and fix deployed to test3

[2020-09-25 00:59] Captainkirkdawson commented on #987
@johnt-freecen Need to know the file and county in question

[2020-09-25 07:51] johnt-freecen commented on #989
Hi Kirk,

Tested ok.

Regards

John
Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 24 September 2020 22:31
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] 180893020 Invalid Verbatim errormessage (John) (#989)

@johnt-freecen Fixed and deployed to test3
—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2020-09-25 08:30] johnt-freecen commented on #988
Hi Kirk,

This is now working ok thanks.

Regards

John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 25 September 2020 01:48
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] 180892818 Download process losingHyphen in forename (John) (#988)

@johnt-freecen Problem located. Nothing to do with the download. Caused by using the titleize met

[2020-09-25 08:32] johnt-freecen commented on #987
Hi Kirk,

I think this was another hyphen problem, when you fixed the other problem with hyphens this is now working as well so can be closed.

Regards

John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 25 September 2020 01:59
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] 180892498 Error message on blankWARD (John) (#987)

@johnt-fre

[2020-09-25 09:08] PatReynolds commented on #448
@Captainkirkdawson  @geoffj-FUG this appears to  be in progress for London (hurrah!) can you add the other metropolitan areas, please:
Birmingham (Warkwickshire, Worcestershire, Staffordshire)
Bristol (Gloucestershire and Somerset)
Liverpool (Lancashire and Cheshire)
Manchester (Lancashire and Cheshire)
Sheffield (West Riding of Yorkshire and Derbyshire)

https://en.wikipedia.org/wiki/List_of_town

[2020-09-25 09:28] richardofsussex commented on #448
On 25/09/2020 10:09, PatReynolds wrote:

I think this is it:

https://docs.google.com/document/d/1Ng6nIm089tBdNB-npsHj5DB_cpORg3VbD-LsDDrPXYA/edit

Richard

--
------------------------------------------------------------------------
*Richard Light*
richardlight399@gmail.com
/@richardofsussex/

[2020-09-25 11:23] PatReynolds commented on #448
Thank you, @richardofsussex ! Yes - it was!  And the decision was that we should implement the last of these.

Which would mean going further than the current solution (e.g. Manchester searches the whole of Cheshire and the whole of Lancashire).

Could Manchester just search
Bolton
Bury
Leigh
Oldham
Rochdale
Salford
Stockport
and Wigan? (snip is from FreeBMD, so perhaps we could repurpose their da

[2020-09-25 11:31] geoffj-FUG commented on #448
Kirk

I will put these into my spreadsheet so that they can be uploaded.

I will not give any more to Paul until he has unraveled the London entries. He has plenty top do there.

Geoff

[2020-09-25 11:38] geoffj-FUG commented on #448
Pat

The problem is in coding it. There is no Chapman Code for Manchester. Neither is there a Chapman Code for each of Barton etc.

However we can put these into the Place Names Database as alternative names.

There will be lots of these exceptions and they will sort themselves out during the first 12 months of validation.

Because the validator cannot add to the LND Chapman Code we need to identi

[2020-09-25 14:00] FreeUKGenIssues opened #991 "180968939 Error when editing with SCT in verbatim col (John)"
Issue reported by **johnt** at 2020-09-25 13:08:59 UTC
Time: 2020-09-25T12:59:13+00:00
Session ID: 2d49da896b7cfa8b80be612ba2ced376
Problem Page URL: [/](/)
Previous Page URL: []()
Reported Issue:
This problem may already be in the system but entering it this way to make certain.

I decide to edit an entry which contains SCT in the verbatim county field. The message states
line 209 Verbatim Place

[2020-09-25 14:06] Captainkirkdawson commented on #987
Thank you @johnt-freecen ; suspected that might be the case.

[2020-09-25 14:06] #987 closed, assigned to Captainkirkdawson

[2020-09-25 14:21] Captainkirkdawson commented on #448
@PatReynolds the work being done on **London (and similar places) in the Freecen2 Place collection#960** does not directly deal with the search aspect nor does it deal deal with Metropolitan searches.
There may well be solutions as @geoffj-FUG  implies but they will need addressing in the search code.
The current work only addresses the the Validation of POB.
I hope it may address the Place of Cen

[2020-09-25 14:23] rhodamackenzie commented on #448
It’s a bit messy with Scotland, there are dozens of RDs within the cities – do you want them all typed out and sent back?
Rhoda

[2020-09-25 14:37] Captainkirkdawson commented on #982
@johnt-freecen @geoffj-FUG Fixed in test3

[2020-09-25 14:54] johnt-freecen commented on #982
Hi Kirk,

Thanks for the update, the system is displaying the value but can you please check what is there. The Gender field now displays four values M m F f-. I am not certain what the last character is.

Regards

John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 25 September 2020 15:37
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration]

[2020-09-25 16:56] Captainkirkdawson commented on #982
@johnt-freecen clarified selection box entries. TY

[2020-09-25 17:01] Captainkirkdawson commented on #967
@johnt-freecen The country codes are now permitted. A - hyphen will pass without comment. Anything else will raise a warning for the validator. Deployed to test3
@geoffj-FUG I believe this is what we agreed

[2020-09-25 17:23] johnt-freecen commented on #967
Hi Kirk,

I have had a quick look and there is still a problem with what is displayed.

I had a record for SCT Hamilton which obviously gave a warning message. When you view the page the Verbatim County is blank not SCT. I selected the record to edit and entered LKS Hamilton and submitted the record which was successful. On viewing the record again the verbatim county field is still blank it shoul

[2020-09-25 17:32] Captainkirkdawson commented on #967
You may have to reprocess the file to get it set up correctly in the first place or enter SCT in the verbatim county field

[2020-09-25 18:04] Captainkirkdawson commented on #958
@geoffj-FUG Removed Channel Islands as requested

[2020-09-25 18:23] johnt-freecen commented on #967
Hi Kirk,

I think the problem is in the display of the data. The view panel is not displaying SCT in the Birth county entered field. When you edit the record then SCT is in the dropdown list of counties correctly, so the problem has moved from the original one.

Regards

John

[2020-09-25 19:24] Captainkirkdawson commented on #967
@johnt-freecen please let me know the file and entry number so I can look directly

[2020-09-25 19:36] johnt-freecen commented on #967
Hi Kirk, the piece in question is RG12_2489 and it's the 209th record

[2020-09-25 21:48] Captainkirkdawson commented on #967
@johnt-freecen appears to be working now

[2020-09-25 23:00] geoffj-FUG commented on #967
That sounds correct. I have not yet tested it. Geoff

[2020-09-25 23:01] geoffj-FUG commented on #958
Thank you Geoff

[2020-09-25 23:19] Captainkirkdawson commented on #967
Thanks I reprocessed the file
Kirk Dawson
Programmer and Technical Advisor
FreeUKGEN

[2020-09-25 23:36] geoffj-FUG commented on #448
Kirk

Given the nature of the data in the PARMS I believe that the PARMS should eventually be able to be tested against the FreeCEN2 Place Names Database – certainly at the Civil Parish level which is the level transcribed.

Levels above Civil Parish such as Registration District should occur in the Place Names Database as well.

The Hamlets will eventually appear in the Place Names Database as pi

[2020-09-26 00:51] Captainkirkdawson commented on #448
@geoffj-FUG
We already check the District, Sub District and Civil Parish against the Freecen2 Places at the point of creation of the parms. This is absolutely essential.
We have a report now of all failed checks.
This is discussed a little in  Complete linkages from Freecen2 Civil Parishes to Freecen2 Places #951 where you can see a summary of the situation. It also reports on how to improve the s

[2020-09-26 07:20] geoffj-FUG commented on #448
Kirk

I agree that we can and should verify the PARMS against the Place Names Database.
My concern was presenting errors to validators when they already have to get used to the new validation process. Happy for it to be handled at transcription time as that means that it is right from the start.
Geoff

[2020-09-26 11:15] geoffj-FUG commented on #448
Pat

I have added these alternatives to my spreadsheet for uploading on cutover.

Birmingham (Warkwickshire, Worcestershire, Staffordshire)
Bristol (Gloucestershire and Somerset)
Liverpool (Lancashire and Cheshire)
Manchester (Lancashire and Cheshire)
Sheffield (West Riding of Yorkshire and Derbyshire)

Geoff

[2020-09-26 13:50] Captainkirkdawson opened #992 "Warning on _ underscore"
Can we add a Warning for any field that contains an underscore please? (Similar to the ? Warning) Please set a flag in the same way if there is no flag already.

[2020-09-26 13:57] Captainkirkdawson commented on #992
@geoffj-FUG you say in the same way as ?.
If you recall the ? action removes the ? from the field. Also it only looks for a trailing ?.
What is the scope of the checking of _ please.
As a single character? as one of the characters? Is is for all fields including the census fields?

[2020-09-26 14:01] Captainkirkdawson opened #993 "Test for - hyphen in forename and surname"
Can we also test Forename and Surname for a hyphen please? Generate a Warning if a hyphen exists as the only character in the field. At the moment I only think we look for a blank.

[2020-09-26 14:15] Captainkirkdawson opened #994 "Incorporation"
Create search records from CSV entries. Make them searchable. Make them displayable

[2020-09-26 15:42] Captainkirkdawson commented on #980
Fixed that and printing deployed to test3

[2020-09-26 15:54] rhodamackenzie commented on #448
Pat,
if we are just going down the county route for the Scottish cities for 1841-1921 censuses it is nice and easy:

Aberdeen was in Aberdeenshire
Dundee was in Forfarshire
Edinburgh was in Edinburghshire
Glasgow was in Lanarkshire
Inverness was in Invernessshire
Perth was in Perthshire
Stirling was in Stirlingshire

Rhoda

[2020-09-26 18:07] AlOneill commented on #448
For those who are not already aware, note that Edinburghshire is (currently, anyway) transcribed as Midlothian (MLN), the newer name for the same county.

Edit: And Forfar is transcribed as Angus (ANS).

[2020-09-26 21:54] geoffj-FUG commented on #992
Kirk

Now, that is an interesting question.

We have locked down the entries to Broad and Narrow text. It raises the question as to whether the test for a ? is required any more. If a character is not in the test set then an Error is created. So the ? test appears to me to now be obsolete. Is that correct?

The test for _ is a test for it anywhere in the field (i.e. a substring). It is inserted by

[2020-09-26 21:57] geoffj-FUG commented on #448
Thanks Rhoda

😊 One less task.

Geoff

[2020-09-26 22:02] geoffj-FUG commented on #448
Alison

The next version of the Handbook has a revised Chapman Code table. Edinburghshire is in there as Midlothian.

We have included some of the ones that had 2 names twice. It makes it easier for the transcriber to find them.

Geoff

[2020-09-26 22:28] Captainkirkdawson commented on #985
@geoffj-FUG
For 1851 there are 1157 duplicated file names (read numbers) with different sub district names ,ie a file may have multiple sub districts in the file.
![2093.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/abc1baa9-1944-4aa2-9fb4-1438a5c57a87)

Our structure and file look up was based on the assumption of a single sub district in the file. Specifically we used the fi

[2020-09-26 22:44] Captainkirkdawson commented on #992
@geoffj-FUG Stanger that you should ask me on the obsolescence of the trailing ? . It was my understanding that it was used when the transcriber was uncertain that they had read the entry correctly. They do this rather than set the flag.
If we remove the test then rather than a warning they will get an error as the ? is not an acceptable character (except in the notes field)
You did not tell me if

[2020-09-26 23:01] Captainkirkdawson commented on #949
@PatReynolds I am sorry to say that the file you have provided
https://docs.google.com/spreadsheets/d/1PLjnwi4dz0d8Bf0pOsmc4F4SnCAAv9nKnw_z-W-jkao/edit?ts=5f676c5c#gid=0
does not help me
In the file that @richardofsussex provided there were 60 districts. We need to know which riding each of those districts are to be placed.
I looked for the first 2 entries in the list of districts (Aysgarth, Barns

[2020-09-26 23:39] #930 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:39] #931 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:39] #923 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:39] #924 closed, assigned to Captainkirkdawson

[2020-09-26 23:39] #929 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:40] #926 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:40] #925 closed, assigned to Captainkirkdawson

[2020-09-26 23:40] #932 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:41] #928 closed, assigned to Captainkirkdawson

[2020-09-26 23:41] #933 closed, assigned to Captainkirkdawson

[2020-09-26 23:41] #941 closed, assigned to Captainkirkdawson

[2020-09-26 23:41] #943 closed, assigned to Captainkirkdawson

[2020-09-26 23:41] #121 closed

[2020-09-26 23:41] #86 closed

[2020-09-26 23:41] #918 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:42] #639 closed

[2020-09-26 23:42] #638 closed

[2020-09-26 23:42] #938 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:42] #947 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:42] #946 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-26 23:42] #940 closed, assigned to Captainkirkdawson

[2020-09-26 23:43] #122 closed

[2020-09-26 23:43] #123 closed

[2020-09-26 23:43] #837 closed, assigned to Captainkirkdawson

[2020-09-26 23:43] #965 closed, assigned to Captainkirkdawson

[2020-09-26 23:43] #964 closed, assigned to Captainkirkdawson

[2020-09-26 23:43] #972 closed, assigned to Captainkirkdawson

[2020-09-26 23:43] #989 closed, assigned to Captainkirkdawson

[2020-09-26 23:43] #988 closed, assigned to Captainkirkdawson

[2020-09-26 23:44] #958 closed, assigned to Captainkirkdawson

[2020-09-27 10:09] geoffj-FUG commented on #985
Kirk

1851 was an abomination to transcribe. I only had a couple of transcribers who could cope with files with 20 to 25 thousand entries. The a, b, c, d etc break up in file names that we proposed will be a godsend to Coordinators as they can break up the pieces into EDs for transcription etc.

Your proposal 1 is not that far different logically. I am happy with it.

Geoff

[2020-09-27 10:48] geoffj-FUG commented on #913
My solution for legacy files - I have amended the Handbook instructions for uploading legacy files to include a Replace All '- with -.
That means that the problem is fixed before upload.
This item may be closed.
Geoff

[2020-09-27 11:00] geoffj-FUG commented on #992
Kirk

We started with FreeCEN1 which tested for the ? and produced a warning

We cloned this into FreeCEN2

We subsequently introduced the Broad and Narrow character sets. These do not include a ? and so if the ? is used it produces an Error. That is a satisfactory result.

The test for a ? is therefore defunct and can be removed.

We subsequently stated in the Handbook that an _  (underscore) is

[2020-09-27 11:24] geoffj-FUG commented on #960
Paul T has started entering the LND Places into a spreadsheet. These will converted to a .csv file be loaded into the Place Names Database at cutover. The area concerned is the City of London  Wards, the City of London Parishes and the Metropolitan Boroughs. These entries generate Place Names and Alternative Place Names. These are all being recorded.
This will give us a good starting point for Lon

[2020-09-27 11:39] geoffj-FUG commented on #529
Kirk
The transcriber and proofreader have read only access. Thats fine.
We set up Chas with a piece to validate but left his role as transcriber. He only had read only access.
We then changed Chas role to Validator. He gained Read Write access.
Coordinators have had Read Write access all the time.
So we are now working correctly.
(Chas is the only tester who is validating and is not a Coordinator)

[2020-09-27 11:46] geoffj-FUG commented on #126
The Handbook Downloads OK.
I have now also produced a Quickstart Guide to Transcribing the England and Wales Census. It prints back to back on 4 x A4 pieces of paper.
It emphasises the links to the Handbook but is less daunting than the Handbook.
I will ask Kirk to include it behind the FreeCEN Handbook button when I release the next version of the Hnadbook.
I suggest we leave this  one open until

[2020-09-27 12:05] geoffj-FUG commented on #982
Kirk

Now working OK
This item can be closed
Geoff

[2020-09-27 13:53] FreeUKGenIssues opened #995 "181140522 when you are paging to the next dwelling the folio and page number do not change in line with the actual records (John)"
Issue reported by **johnt** at 2020-09-27 12:48:42 UTC
Time: 2020-09-27T12:44:59+00:00
Session ID: 2d49da896b7cfa8b80be612ba2ced376
Problem Page URL: [/search_records/5f6376a1e9379077cbd355cd/sarah-franks-1841-rutland-stamford-1776-?locale=en](/search_records/5f6376a1e9379077cbd355cd/sarah-franks-1841-rutland-stamford-1776-?locale=en)
Previous Page URL: [https://test3.freecen.org.uk/feedbacks/new?

[2020-09-27 14:02] #913 closed, assigned to geoffj-FUG

[2020-09-27 14:09] Captainkirkdawson commented on #984
Paul T has started entering the LND Places into a spreadsheet. These will converted to a .csv file be loaded into the Place Names Database at cutover. The area concerned is the City of London Wards, the City of London Parishes and the Metropolitan Boroughs. These entries generate Place Names and Alternative Place Names. These are all being recorded.
This will give us a good starting point for Lond

[2020-09-27 14:14] #982 closed, assigned to Captainkirkdawson

[2020-09-27 14:35] Captainkirkdawson commented on #992
@geoffj-FUG I am totally and utterly confused.
What you are requesting is a massive task since it affect the code for the validation of  every single field. It will take at least 2 weeks of my time and then a similar amount of your teams time in confirming that the code works as expected. The law of unintended consequences is alive and well and there will be issues.
It appears that the proposed ch

[2020-09-27 21:42] geoffj-FUG commented on #967
John wrote:
The edit screen is now allowing SCT at least to be in the Verbatim County and you can see it in the dropdown list, so the correction process is now working fine.
However if you look at the record as you view the individual, then the Birth County is blank not SCT so we are not seeing what is transcribed. I think this is a minor issue that should not impede us moving forward,

[2020-09-27 21:44] geoffj-FUG commented on #980
John wrote:
I have had a quick check . When you page forward and back through dwellings the citation block appears whenever you arrive at the original page.

This one can be cleared now.
Geoff

[2020-09-27 21:50] geoffj-FUG commented on #828
I have tested this in test3 and it works fine.
I have also included Pats notes on how to use it in  the FreeCEN Handbook.
Geoff

[2020-09-27 21:57] #980 closed, assigned to Captainkirkdawson

[2020-09-27 22:02] Captainkirkdawson opened #996 "it would be nice if the word uninhabited, building under construction or visiting could be displayed rather than a blank page"

[2020-09-27 22:11] #973 closed, assigned to Captainkirkdawson

[2020-09-27 22:14] #991 closed, assigned to Captainkirkdawson

[2020-09-27 22:30] Captainkirkdawson commented on #967
@geoffj-FUG @johnt-freecen I believe that the file has to be reprocessed to get the field to display

[2020-09-28 04:11] Captainkirkdawson commented on #996
@johnt-freecen Applied to test3

[2020-09-28 04:12] Captainkirkdawson commented on #995
@johnt-freecen Fix applied to test3

[2020-09-28 07:17] geoffj-FUG commented on #954
Kirk
Works well.
It would be better if it could be moved down to the bottom next to the Submit button. That puts the 2 decisions together.
Geoff

[2020-09-28 07:17] geoffj-FUG commented on #961
Kirk
All good. Can be closed
Geoff

[2020-09-28 07:19] geoffj-FUG commented on #939
Kirk
All good. Can be closed.
Geoff

[2020-09-28 07:21] geoffj-FUG commented on #981
Kirk
The role is still not displayed for teh Coordinator to change
![image.png](https://images.zenhubusercontent.com/5e8c52a8b7c1d94d472bb276/91a51731-faf7-40c7-9a29-e98f50bfb1f9)
Image attached
Geoff

[2020-09-28 08:30] PatReynolds commented on #448
So ... what is the instruction if someone says their place of birth is Liverpool - to say that it is in Lancashire, or to leave blank because it might be Liverpool in Cheshire or Liverpool in Lancashire?

[2020-09-28 08:36] johnt-freecen commented on #995
Hi Kirk, this is now working ok and can be closed.

Regards

John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 28 September 2020 05:12
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] 181140522 when you are paging to thenext dwelling the folio and page number do not change in line with the actualrecords (John) (#995)

@johnt-freecen Fix

[2020-09-28 08:36] johnt-freecen commented on #996
Hi Kirk,

This is working ok and can be closed.

Regards
John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 28 September 2020 05:11
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] it would be nice if the worduninhabited, building under construction or visiting could be displayed ratherthan a blank page (#996)

@johnt-freecen Applied to

[2020-09-28 09:34] geoffj-FUG commented on #448
Pat

There are defaults.

Bristol is Gloucestershire or Somerset depending on which side of the Avon they are. If we don’t know then the default is GLS.

Liverpool is LAN.

We can refine it is they state the suburb. Knowle and Temple Meads are next to each other in Bristol but there is (nowadays) a bridge. Knowle is SOM and Temple Meads is GLS.

Geoff

[2020-09-28 09:41] geoffj-FUG commented on #945
Kirk
Now works well
It can be closed
Geoff

[2020-09-28 09:45] geoffj-FUG commented on #944
Kirk
To be honest I have not come across the problem. As I dont have an instance I cannot try to replicate it.
I will see if John has come across it.
Geoff

[2020-09-28 09:47] geoffj-FUG commented on #963
New caption is fine.
This item can be closed.
Geoff

[2020-09-28 09:56] geoffj-FUG commented on #992
Kirk

I will put it in my to do list and reconsider it after cutover.

We will see if it gets picked up by the Proofreader OK.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Monday, September 28, 2020 12:35 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Free

[2020-09-28 10:25] PatReynolds commented on #828
Thanks @geoffj-FUG

[2020-09-28 10:31] PatReynolds commented on #356
The transcribers help is now in the hands of @geoffj-FUG who is writing it as a PDF.

So ... is the PDF going to be downloadable from the Transcribers' help web page?  Or ???

This story  - about changing the information on FreeCEN1 still needs doing (I think by a developer) once the place where the new help will be is determined.

[2020-09-28 10:33] geoffj-FUG commented on #356
Pat

I suggest that we link the Help to open the Handbook Page.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Monday, September 28, 2020 8:32 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Change all references on to https://www.

[2020-09-28 10:49] PatReynolds commented on #984
Is the validation going to be checking for both formal name (e.g. Queenhithe Ward) and common name (name without 'Ward' e.g. Queenhithe)? Or just the formal name as in the document?

Later, will less obvious common names be added (e.g. common name Cheapside is accepted with the formal name Cheap Ward)?

[2020-09-28 10:56] PatReynolds commented on #921
@AlOneill should I add this text to About-DRAFT on test3?  I would put it as the last item in the page (if no better place is suggested.

[2020-09-28 10:59] PatReynolds commented on #875
Putting for review as I thinkn this has been completed as part of the PARMS2 work.

[2020-09-28 11:37] johnt-freecen commented on #967
Hi Kirk,

I have reprocessed the file 2 or 3 times now and still the verbatim county does not displat.

Regards

John

[2020-09-28 11:39] geoffj-FUG commented on #967
John also says
This problem was fixed and working a few days ago. The value SCT was in the Verbatim County drop down list.
I have just tried another Scottish place I entered the new county and place ,hit submit and we are rack to the message.
The update of the entry failed ["Verbatim birth county Invalid; blank"]
When I checked the drop down county box SCT has disappeared again.
Not certain what h

[2020-09-28 11:50] PatReynolds commented on #846
Irish birth counties now appearing in results - e.g. ![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/6ecec88a-7f33-490a-8bad-aba44592aee9)
No other stories needed, so I think this one can be closed.

[2020-09-28 11:54] PatReynolds commented on #764
No longer have 'i' boxes so can this be closed?

[2020-09-28 12:04] PatReynolds commented on #878
@geoffj-FUG has a solution been found, or do I still need to do some thinking?

[2020-09-28 13:54] AlOneill commented on #921
@PatReynolds Your suggestion seems reasonable — it would match the placement on REG.

[2020-09-28 14:06] FreeUKGenIssues opened #997 "181225853 Cannot edit a record which is for uninhab place (John)"
Issue reported by **johnt** at 2020-09-28 12:30:53 UTC
Time: 2020-09-28T12:27:39+00:00
Session ID: 2d49da896b7cfa8b80be612ba2ced376
Problem Page URL: [/freecen_csv_entries/5f71976be937903d470a3ceb?locale=en](/freecen_csv_entries/5f71976be937903d470a3ceb?locale=en)
Previous Page URL: [https://test3.freecen.org.uk/freecen_csv_entries/5f71976be937903d470a3ceb/edit?locale=en](https://test3.freecen.org

[2020-09-28 14:11] #961 closed, assigned to Captainkirkdawson

[2020-09-28 14:12] #939 closed, assigned to Captainkirkdawson

[2020-09-28 14:14] #995 closed, assigned to nobody

[2020-09-28 14:14] #996 closed, assigned to Captainkirkdawson

[2020-09-28 14:16] #945 closed, assigned to Captainkirkdawson

[2020-09-28 14:16] #944 closed, assigned to Captainkirkdawson

[2020-09-28 14:17] #963 closed, assigned to Captainkirkdawson

[2020-09-28 14:19] #828 closed, assigned to PatReynolds

[2020-09-28 14:33] Captainkirkdawson commented on #836
duplicate

[2020-09-28 14:33] #836 closed, assigned to PatReynolds

[2020-09-28 14:37] #529 closed

[2020-09-28 15:57] Captainkirkdawson commented on #949
Having looked up the districts in out Places collection I would propose to use the following ridings of Yorkshire for 1901
https://drive.google.com/file/d/1vwFJ6Wu-hCe-VOKaAK-Y-PT3r3s1SZzx/view?usp=sharing

[2020-09-28 16:17] richpomfret commented on #960
Closing following review in FC scrum.

[2020-09-28 16:17] #960 closed, assigned to nobody

[2020-09-28 16:19] richpomfret commented on #949
@PatReynolds to review above list.

[2020-09-28 16:20] richpomfret commented on #489
We have the policy now - closing.

[2020-09-28 16:20] #489 closed

[2020-09-28 16:23] PatReynolds commented on #879
To be done by a Data Manager or System Manager - to be raised case by case, as identified.

Not needed before we implement the new PARMS.

[2020-09-28 16:25] #875 closed, assigned to PatReynolds

[2020-09-28 16:25] richpomfret commented on #875
Completed.

[2020-09-28 16:28] PatReynolds commented on #877
@PatReynolds to check in Geoff's handbook.

[2020-09-28 16:30] richpomfret commented on #966
Completed - closing.

[2020-09-28 16:30] #966 closed, assigned to Captainkirkdawson

[2020-09-28 16:36] PatReynolds commented on #975
The issue is the hundrends/wapentakes have no lat and long - Pat to contact the Cambridge guys to see if we can have their georeferences.

[2020-09-28 16:37] richpomfret commented on #971
@geoffj-FUG can you take a look at this for @Captainkirkdawson

[2020-09-28 16:40] richpomfret commented on #846
Closing.

[2020-09-28 16:40] #846 closed, assigned to PatReynolds

[2020-09-28 16:43] richpomfret commented on #764
Closing.

[2020-09-28 16:43] #764 closed

[2020-09-28 16:47] richpomfret commented on #983
@geoffj-FUG can you take a look/test this for @Captainkirkdawson

[2020-09-28 16:48] PatReynolds commented on #676
@PatReynolds to talk to @geoffj-FUG avbout what might be needed.

[2020-09-28 16:55] richpomfret commented on #979
Agreed that yes we do.

[2020-09-28 16:59] PatReynolds commented on #977
We expand the abreviation/code and present it as a term, e.g. Employee

[2020-09-28 17:02] richpomfret commented on #970
To discuss.

[2020-09-28 17:08] richpomfret commented on #953
For further thought.

[2020-09-28 17:08] PatReynolds commented on #953
Would it be helpful to the researcher to know which Family Search image was used?

[2020-09-28 18:06] Captainkirkdawson commented on #985
Completed and deployed to test3

[2020-09-28 18:06] #985 closed, assigned to Captainkirkdawson

[2020-09-28 18:23] Captainkirkdawson commented on #954
Change made; added additional cancel above the Submit

[2020-09-28 18:23] #954 closed, assigned to Captainkirkdawson

[2020-09-28 18:24] #974 closed, assigned to Captainkirkdawson

[2020-09-28 20:00] Captainkirkdawson commented on #981
@geoffj-FUG Have fixed and deployed to test3

[2020-09-28 20:29] Captainkirkdawson commented on #951
1901 is caused by Yorkshire being used by TNA rather than a riding

[2020-09-28 20:33] Captainkirkdawson commented on #878
No solution determined at this time.
To some degree this is not urgent for implementation; it will become so when we want to move vld files and reduce the work load on the person doing the conversion.

[2020-09-28 21:02] Captainkirkdawson commented on #993
Added and deployed to test3

[2020-09-28 22:25] Captainkirkdawson commented on #967
I need to confirm this reporting is still for RG12_2489.
I have downloaded that specific file; the first version uploaded. Now loading onto my server and testing.

[2020-09-29 04:07] Captainkirkdawson commented on #967
@johnt-freecen hopefully I fixed it properly this time on test3

[2020-09-29 04:14] Captainkirkdawson commented on #967
Sorry @johnt-freecen something strange is going on

[2020-09-29 09:45] geoffj-FUG commented on #942
Rich
Working fine now
Geoff

[2020-09-29 09:58] geoffj-FUG commented on #676
Pat
The documentation that I am doing and that Kirk is contributing to, covers all the material associated with the work that we are doing at the moment. It includesTranscribing, Proofreading, Validation, Some Coordinator functions directly associated with these processes, Incorporation and searching and editing the Place Names Database. It also includes the use of CSVProc. I feel sure that inform

[2020-09-29 10:06] geoffj-FUG commented on #953
Pat
When we trialed an online transcription a couple of years ago the system captured the image number (the image was provided to the transcriber online). Subsequently I sent all my images by Wetransfer for FreeCEN to archive.
If we have image numbers we can at some time in the future and subject to copyright restrictions link the image to the transcription from the search results screen. If we ca

[2020-09-29 10:15] geoffj-FUG commented on #981
Kirk
Loks good thank you.
You can close this one
Geoff

[2020-09-29 11:00] geoffj-FUG commented on #985
@johnt-freecen This was raised whilst you were testing an 1851 piece. I dont have one ready to test for that year. Does this resolve the problem that you had? Geoff

[2020-09-29 12:58] johnt-freecen commented on #985
Hi Geoff,

As far as I am aware this is still open. For 1851 HO107_2093 there are three different piece names each with a different list of civil parishes.

I know that the proposal was to call these 2093A, 2093B and 2093C or some such, but am not aware of any actual chances to the system yet.

How I picked this piece by random I do not know.

Regards

John

Sent from Mail for Windows 10

From: ge

[2020-09-29 13:51] #942 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-29 13:53] #981 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-09-29 14:00] Captainkirkdawson commented on #985
@johnt-freecen @geoffj-FUG The code to create 1851 Parms is working. It has not been run on test3 as I would need to delete the existing set. This would mean that all 1851 test files would need to be rerun. Not sure how big an impact that is. If it is small we should do the recreate. Advise please

[2020-09-29 14:41] Captainkirkdawson commented on #967
@johnt-freecen have restarted the server and things look like they should. So please see if we are now getting Scotland and Ireland correctly and that editing is OK

[2020-09-29 16:14] PatReynolds commented on #760
Reviewed, and marked 'ready for deployment'.

[2020-09-29 16:32] PatReynolds commented on #676
Thanks, Geoff.  I am not how sure this story (the epic) got into the processing.  I'll move it back into Epics and look at individual stories remaining.

Also NB this epic is about _existing_ tools not the new tools - that is a separate epic.

[2020-09-29 16:37] PatReynolds commented on #354
To what extent is this still needed, @geoffj-FUG Are any of help and transcriber process documentation for existing systems going to be wanted or are we moving 100% to the handbook?

[2020-09-29 16:42] PatReynolds commented on #376
@geoffj-FUG is this still needed as a web page, or will it be part of the handbook?

[2020-09-29 16:43] PatReynolds commented on #431
@geoffj-FUG would I be right to assume this is now done?

[2020-09-29 17:00] PatReynolds commented on #877
An example of where a correction might be needed:
Transcriber transcribes a surname as 'Allcock' (it is a dreadful photograph and that is as good an interpretation of bad handwriting badly reproduced as can be expected).

Someone later has access to a better photograph, and realises that the name is Aucock.  Following the due checks, it is agreed by the project that 'Allcock' is an error, and 'Auc

[2020-09-29 17:04] johnt-freecen commented on #967
Hi Kirk,

I have just tried it again with our old faithful 2489 file, when I use the “view the individual” button for record 209 the Birth County entered field shows as blank.

I have another Scotland record waiting to be edited, record 2426, I entered the correct Scottish county and place, hit submit and the error “verbatim birth county invalid ; blank” appears.

So I cannot pass it off

Regards

[2020-09-29 17:10] johnt-freecen commented on #985
Hi Kirk,

I only have the one 1851 piece which I have not really started work on yet, other than getting the civil parish errors. I have taken my original largish file and spilt it into two pieces, the first matching block one of the district groups, just to check that the civil parish was ok.

I can do nothing with the second batch until this is done. It would be nice to run the second group agai

[2020-09-29 17:54] AlOneill commented on #760
The updated About and Help pages are now sync-ready.

[2020-09-29 21:54] geoffj-FUG commented on #431
Kirk

Checker is coming up in the Roles list where the Coordinator can change the role form transcriber to validator etc.

Can you amend it to Proofreader please?

Geoff

From: PatReynolds <notifications@github.com>
Sent: Wednesday, September 30, 2020 2:44 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@

[2020-09-29 21:59] geoffj-FUG commented on #676
Pat
I am not sure why we would do this for the tools we are replacing. They are obsolescent.
Geoff

[2020-09-29 23:01] geoffj-FUG commented on #376
The Handbook is primarily a How to ... It does not cover generalities.
The Handbook is now 107 pages and growing. Behind the scenes sounds like general information. The Handbook will be daunting.
That is why I am creating 2 more documents - a Quickstart Guide to Transcribing which is really for experienced transcribers and a Ready Reference which I suspect will be the reference for most transcribe

[2020-09-30 08:32] PatReynolds commented on #376
Thanks, @geoffj-FUG

Looks like a fairly quick job (famous last words) I'll move into sprint backlog as I may need to be in the office, but not doing much over the weekend.

[2020-09-30 08:38] PatReynolds commented on #354
I believe this can now be closed.  Moving to Needs review before closing.

[2020-09-30 08:39] PatReynolds commented on #354
Believe this can now be closed as new system is about to go live.  Moving to Needs review.

[2020-09-30 08:41] PatReynolds commented on #771
Noving to Needs Review as needs to be reconsidered and refined n light of new systems.

[2020-09-30 08:43] PatReynolds commented on #676
This story was written 18 months ago, before we had a firm plan to create the new tools.

There are now two remaining stories in this epic - one I believe can be closed, and one that needs to be reviewed in light of the new systems being close to launch. I believe this epic will be closed at the next scrum.

[2020-09-30 09:54] geoffj-FUG commented on #954
Kirk

Tested and works OK

Can be closed

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Tuesday, September 29, 2020 4:23 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Cancel edit button (#954)

Change made; added additional cance

[2020-09-30 09:56] geoffj-FUG commented on #985
@johnt-freecen @geoffj-FUG I have no 1851 files on test3 that I cannot do without. So I am happy for you to proceed if John is OK.
Beki is working on 1871 so it should not affect her. Chas is working on 1901 so it should not affect him.
Just get the all clear from John
Geoff

[2020-09-30 09:58] geoffj-FUG commented on #983
Rich
I will test once I have a piece ready to go.
Geoff

[2020-09-30 10:07] geoffj-FUG commented on #948
Rich, Kirk
There seem to be 2 issues on this #948.
The first is testing the Alt Place Name entered suring an online edit. That works fine.
The second id Propagation. That will be a post-cutover enhancement and is covered in #934. That has not been instituted yet.
Geoff

[2020-09-30 11:10] johnt-freecen commented on #985
! am happy for the 1851 changes to go ahead. I only have the one 1851 file there and not really done anything with it due to this problem.

Just let us know what the change to the file name needs to be please.

Regards

John

Sent from Mail for Windows 10

From: geoffj-FUG
Sent: 30 September 2020 10:57
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigrati

[2020-09-30 13:46] #948 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-10-01 10:14] geoffj-FUG commented on #962
Kirk

I was wrong.

So I am amending the instructions so that all flags have been resolved or replaced by Notes by the time Validation has been completed.

That means that we can test for zero Errors, 0 Warnings at Incorporation. If any exist then Incorporation cannot happen.

That removes a risk of a piece with Warnings or Errors being Incorporated and ending up with Garage in / Garbage out.

Geo

[2020-10-01 14:48] Captainkirkdawson commented on #967
@johnt-freecen @geoffj-FUG After multiple head scratches (now totally bald) and multiple false paths and possible solutions I believe the the root cause has been detected and resolved. Cause if you are interested was that what I believed to be an immutable constant was being changed by the initial search page. It is now firmly immutable. Hence Scotland and other countries should now be visible ans

[2020-10-01 15:25] johnt-freecen commented on #967
Hi Kirk,

It seems to be working now and displaying when you just view the record.

Regards

John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 01 October 2020 15:49
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] Country place of birth (#967)

@johnt-freecen @geoffj-FUG After multiple head scratches (now totally bald) and multiple fals

[2020-10-01 23:01] Captainkirkdawson commented on #967
@johnt-freecen thank you

[2020-10-03 10:40] geoffj-FUG commented on #983
I have now incorporated a batch and received the report. The Incorporation lock is active.
I have asked one of my testers (who was also the validator) to review about 50 random records to ensure that the records have been incorporated successfully.
I will keep you up to date.
Geoff

[2020-10-03 10:57] geoffj-FUG commented on #354
Pat
In answer to your query of September 30:
The next version of the Handbook will be available to be downloaded in the next few days. However its size would scare off any new volunteer. It is very comprehensive.
So I have created 2 new documents. They will bothe be available online in the next few days:
Ready Reference for Transcribing England and Wales censuses - This runs to about 18 pages and

[2020-10-03 10:59] geoffj-FUG commented on #126
Please see my comments on #354
Geoff

[2020-10-03 11:02] geoffj-FUG commented on #971
Kirk
What is this ine about please? Neither John nor I remember it.
Geoff

[2020-10-03 11:06] geoffj-FUG commented on #814
Tested and worksd OK.
Documentation included in October version 1.2 of Handbook
Geoff

[2020-10-03 11:08] geoffj-FUG commented on #919
Lock set when piece Incorporated successfully.
I still have to test an attempt to overwrite the file.
Geoff

[2020-10-03 11:10] geoffj-FUG commented on #967
Kirk
Tested OK.
Just a bit of housekeeping - Can we widen the Drop Down Chapman Code lists slightly please. Dublin for instance (DUB) only shows up as DU the B is hidden.
Geoff

[2020-10-03 11:46] geoffj-FUG commented on #812
#816 is now closed. Below is an update:
CSVProc addresses the problem of Place Names. We have 2 sets of fields. The first pair contain the verbatim Chapman Code and verbatim Place of Birth (i.e. TWYS). The second set are there for an alternative Chapman Code and POB to be entered. This can be done by the transcriber, proofreader or validator. If it is entered by the transciber or proofreader it is

[2020-10-03 14:22] #983 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-10-03 14:23] #814 closed, assigned to Captainkirkdawson

[2020-10-03 15:33] Captainkirkdawson opened #998 "Requirements for Incorporation Statistics"
There is a need to establish the management and research requirements for incorporation information

There currently are none. Is there a requirement for any? Incorporation is the action of adding the records from a csv file processed by CSV Proc into the search records database. Is there a need for keeping any specific statistics on this? Or will these be incorporated into the Statistic reports f

[2020-10-03 22:20] geoffj-FUG commented on #126
Version 1.2 of the FreeCEN Handbook is now available for download from test3. It still needs some revision in places but seems to be getting there. If you notice that something is missing please let me know. It has been proofread to page 35 only. It does not include all of the Managing County or Managing Syndicate functions.

There are also 2 other documents available from the same Handbook Page.

[2020-10-03 23:51] Captainkirkdawson commented on #971
@geoffj-FUG @johnt-freecen We added additional field to the display of a place
![Extra fields](https://user-images.githubusercontent.com/2874694/95003858-0bc0f280-05a1-11eb-8b68-f2ab94f8053a.png)

[2020-10-04 14:00] Captainkirkdawson opened #999 "Remove non freecen chapman codes in birth codes"
There has always been a removal of certain chapman codes  both for reg and cen These included the country codes. When we added in the country codes we allowed back in the other codes as well.

[2020-10-04 14:10] Captainkirkdawson commented on #999
The following Counties need to be hidden or they will cause havoc during validation. We cannot allow Place Names to be attached to the following Counties in the list. Some of them are modern (post 1974) Counties and others such as LND and YKS need to be locked off. Orkney and Shetland are already covered as Orkney Isles and Shetland Isles and are duplicates.

Is there a dump available of the data

[2020-10-04 14:17] Captainkirkdawson opened #1000 "Order of Actions"
I would like to rearrange the Your Actions menus for transcribers and Coordinators.

For the basic menu can we change the order.

CSV Batches

Search Place Name

FreeCEN Handbook

Communicate

Profile

Roadmap

FreeUKGenealogy Policies

For Coordinators can we have:

CSV Batches

Search Place Name

FreeCEN Handbook

Manage County

Manage Syndicate (Can we move Display Userids inside this menu plea

[2020-10-04 14:19] FreeUKGenIssues opened #1001 "181745735 Download problem with hyphenated Civil Parishes (John)"
Issue reported by **johnt** at 2020-10-04 12:55:35 UTC
Time: 2020-10-04T12:49:57+00:00
Session ID: d1691d98ea7dd7ef4c7ac30958184d51
Problem Page URL: [/freecen_csv_files/my_own?locale=en](/freecen_csv_files/my_own?locale=en)
Previous Page URL: [https://test3.freecen.org.uk/csvfiles/5f797c07e93790274b5f2ede/edit?locale=en](https://test3.freecen.org.uk/csvfiles/5f797c07e93790274b5f2ede/edit?locale=e

[2020-10-04 14:25] Captainkirkdawson commented on #997
@johnt-freecen
On line editing is only for individual edits  not census  information or dwelling. That must be done off line.

Need to find a way of enforcing that for the edit so that this issue is not created

[2020-10-04 14:48] Captainkirkdawson opened #1002 "undefined method `place_name' for nil:NilClass"
https://errbit.freeukgen.org.uk/apps/5b4cad42e9379085a99a9ea4/problems/5f794721e9379095eef681c7

PROJECT_ROOT/app/helpers/application_helper.rb:226→ search_params_for_display
/PROJECT_ROOT/app/views/search_queries/_display_search_criteria.html.erb:12→ _app_views_search_queries__display_search_criteria_html_erb__1742095647146635978_17272020220

2 events

[2020-10-04 15:43] Captainkirkdawson commented on #967
@geoffj-FUG
Width of selection box for chapman widened.
Note to some degree these are affected by character size being used on users computer
Deployed to test3 please review again

[2020-10-04 16:35] Captainkirkdawson commented on #1001
@johnt-freecen  can you confirm that the initial upload with a hyphen passes through OK

[2020-10-04 16:43] PatReynolds commented on #949
I have checked Richard and Kirk's list, and noted two districts (Selby and Ripon) that appear only in Kirk's list.
There aretwo  districts that cross riding boundaries: I've suggested if only one is possible, it should be NRY (although for different reasons for Scarborough than for Malton).  Notes are on Kirk's document.

[2020-10-04 16:50] PatReynolds commented on #921
Text added on Test3

[2020-10-04 17:01] AlOneill commented on #967
@Captainkirkdawson Suspect that 3em (could need a little more to allow for padding/margin) would be better than setting width in px here (if that is what current unit is). Just a thought.

[2020-10-04 17:01] PatReynolds commented on #975
Email sent to Cambridge 4/10/2020

[2020-10-04 17:02] Captainkirkdawson commented on #1001
Looking down Rutland there is a similar issue for Edith Weston/Edith-Weston; Holt/Holt or Nevill Holt; Leigh-Field Forest/Leighfield; Market Overton/Market-Overton: There are a few others that may need consideration.
Perhaps we should write this as a separate story.
IMO the fist task  the initial setup of a county is to go through the Districts, Pieces and Civil Parishes to ensure consistency and

[2020-10-04 17:07] Captainkirkdawson commented on #967
@AlOneill we set width as % and there are 4 versions with padding: 10px for all

[2020-10-04 17:15] PatReynolds commented on #356
So (for discussion:) tasks are:
*Transcriber Help*
- [  ] show freecen.org.uk/cms/refinery/pages/freecen-handbook when Transcriber Help button is clicked
OR
- [  ] place a link to treecen.org.uk/cms/refinery/pages/freecen-handbook from the Transcriber Help page.
OR
 - [  ] both the above (for ease of use by transcribers, and so that links  to the Transcriber Help page still are useful and don't ha

[2020-10-04 17:26] AlOneill commented on #356
I do not think that making 'Help' (in the main menu bar) a link to the handbook is a good idea. Transcribers and Coords will want/need help and advice with more than the 'how-to' of transcribing.

[2020-10-04 21:57] geoffj-FUG commented on #877
Pat
Its not in the Handbook yet.
We have got to Incorporation. Editing a piece after Incorporation has not been tested yet so there is no process.
Geoff

[2020-10-04 22:01] geoffj-FUG commented on #967
Thanks Kirk
Width is a lot better now.
Geoff

[2020-10-04 22:10] #967 closed, assigned to Captainkirkdawson

[2020-10-04 22:21] geoffj-FUG commented on #1001
Kirk, John
Whilst this is being considered should we throw in the Out of County Places as well?
If you look at Somerset you will find that Appledore is shown in Somerset in 1901, and only 1901. It is actually in Devon so is showing in the incorrect County.
Similarly Bitton is in GLS but the Registration District was in Somerset from 1851-1911.
These examples will also cause problems during searchi

[2020-10-04 22:51] Captainkirkdawson opened #1003 "Rationalize District, Piece and Civil Parishes names"
@johnt-freecen @geoffj-FUG

This is an aspect of a much wider issue that we need to address and one that needs to be part of a new document. The Initial Setup of a county under FC2.

As you are aware we extract the District, Piece and Cial Parishes from TNA for all years. Unfortunately for us they and/or the original  District and Sub District Superintendents were not consistent with their naming

[2020-10-04 22:53] Captainkirkdawson commented on #1003
Looking down Rutland there is a similar issue for Edith Weston/Edith-Weston; Holt/Holt or Nevill Holt; Leigh-Field Forest/Leighfield; Market Overton/Market-Overton: There are a few others that may need consideration.
Perhaps we should write this as a separate story.
IMO the fist task  the initial setup of a county is to go through the Districts, Pieces and Civil Parishes to ensure consistency and

[2020-10-04 22:54] Captainkirkdawson commented on #1003
Kirk, John
Whilst this is being considered should we throw in the Out of County Places as well?
If you look at Somerset you will find that Appledore is shown in Somerset in 1901, and only 1901. It is actually in Devon so is showing in the incorrect County.
Similarly Bitton is in GLS but the Registration District was in Somerset from 1851-1911.
These examples will also cause problems during searchi

[2020-10-05 15:35] Captainkirkdawson commented on #1001
@johnt-freecen @geoffj-FUG
Have resolved the issue. The download was the symptom of an issue rather than the cause.
The cause was my old enemy titlieze (A ruby method) which drops the - for some reason best known to itself.
As you are aware CsvProc is case insensitive but for consistency and professional display we impose certain case controls. Rather than apply the case control whenever and where

[2020-10-05 16:56] #971 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-10-05 16:56] johnt-freecen commented on #1001
Hi Kirk,

I have just uploaded the file with the hyphens in place and then downloaded and they are present, so I think we can close the case.

Regards

John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 05 October 2020 16:35
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] 181745735 Download problem withhyphenated Civil Parishes (John) (

[2020-10-05 17:07] #1001 closed, assigned to Captainkirkdawson

[2020-10-05 22:37] Captainkirkdawson commented on #999
@geoffj-FUG
Removed as requested. Could not do the bracketing; added as hint instead. Deployed to test3

[2020-10-05 22:56] Captainkirkdawson commented on #997
@johnt-freecen Added test to avoid online edit of an inhabited dwelling. Deployed to test3

[2020-10-05 23:31] Captainkirkdawson commented on #729
@geoffj-FUG Additional wording added to password reset and to the form for profile editing

[2020-10-06 11:36] geoffj-FUG commented on #999
Kirk
Thank you.
Looks OK except the first hint should be For Edinburghshire use Midlothian.
Geoff

[2020-10-06 14:13] Captainkirkdawson commented on #999
Corrected

[2020-10-06 14:13] #999 closed, assigned to Captainkirkdawson

[2020-10-06 14:19] Captainkirkdawson opened #1004 "Review citation code load"
The citation code appears briefly as the detail page loads. Javascript then hides until needed. Look into alternate ways of loading to avoid the brief appearance which may be unsettling on slow connections

[2020-10-08 00:50] Captainkirkdawson commented on #1002
Caused during search looking for the individual record

[2020-10-08 00:51] Captainkirkdawson commented on #1002
Fixed

[2020-10-08 00:51] #1002 closed, assigned to nobody

[2020-10-08 14:17] Captainkirkdawson opened #1005 "Next and previous search results not functioning correctly with filters"

[2020-10-08 14:21] Captainkirkdawson opened #1006 "Are notes to be displayed for uninhabited building?"
@geoffj-FUG
Chas has said that notes should be displayed for uninhabited buildings. Could you confirm that this as a requirement or not.

P2 U6 9 c5:P22

[2020-10-08 14:26] Captainkirkdawson opened #1007 "Bilingual codes"
@geoffj-FUG  said
We changed the use of B in the language column to eliminate ambiguity.

The existing language data is all for Wales. It has B’s in it. All of these will need to be changed to WE in the new system.

The existing data will need to be amended at some point. Will it be possible to do a global change on the FreeCEN database?

E0 U6 8 C6:P20

[2020-10-08 14:27] Captainkirkdawson commented on #1007
We can use a simple test on the display

[2020-10-08 15:59] Captainkirkdawson opened #1008 "Make unincorporate task a batch task"

[2020-10-08 15:59] Captainkirkdawson commented on #1008
Avoids gateway time out message

[2020-10-09 09:36] PatReynolds commented on #356
For Transcribers, I suggest amending the current Information for Transcribers, removing the 'making a transcription section' - and adding in the PDF.

For Coords, I suggest amending the current Information for Coordinators, removing 'transcription Workflow' and adding the PDF.

If you agree, I will make those changes.

[2020-10-09 10:06] PatReynolds commented on #1006
I'm thinking of an entry that I cannot, of course, now find .. where it was recorded as being 'The home of  Col. John Smith and family' or some such - for my purposes, this was very useful informatin (I was scrolling through trying to find 'the big house' in a village, not knowing who actually lived there (trying to identify a potential father for my illigitimate grandfather).  Similarly, anyone w

[2020-10-09 15:52] AlOneill commented on #356
I'm confused. Now I look at the issue description more carefully (!), some of the things discussed here do not seem to be relevant. Or maybe that just reflects my lack of understanding.

Anyway, are we ready to divert transcribers' attention to the new system?

[2020-10-09 21:48] geoffj-FUG commented on #1006
Kirk

The notes field should be displayed for every record. It is where we enter comments for the researcher to see. These notes can cover a range of things that are not normally captured, such as enumerator’s notes.

Geoff

[2020-10-09 22:03] geoffj-FUG commented on #356
Pat
I have received feedback on the handbook and ready reference.

I will be removing the Quick reference completely because at the moment it could lead transcribers to miss stuff. I expanded the Ready Reference to include Chapman Codes and abbreviations to match Fields.htm. It was so close to an abbreviated Handbook that I went with an abbrviated copy of the Handbook as a  solution.

So there wil

[2020-10-10 00:50] Captainkirkdawson commented on #1006
Currently the notes field is not processed if the uninhabited flag is set hence at this point there is no information to display.
Implementation requires a change to CSV Proc to always process the notes field and then to display.
Perhaps we should only display the field if it contains information

[2020-10-10 07:59] geoffj-FUG commented on #1006
Kirk

I am happy to display the notes field if it contains information. We get notes against all sorts of fields.

Geoff

[2020-10-10 23:05] Captainkirkdawson opened #1009 "Add ability to remove civil parishes and pieces from a duplicated district"
For district that cross county borders we propose to duplicate a district in another county. We should then be able to remove Civil Parishes from each county.

[2020-10-11 22:07] Captainkirkdawson commented on #879
The capability to copy a District, it Pieces and Civil Parishes to another County has been implemented on test3.
Together with the ability to delete a District, a Piece and a Civil Parish. This allows the contents of the district to be tailored according to the specific requirements. The functionality is restricted to data managers and system administrators due to it ability to damage the collecti

[2020-10-11 23:03] Captainkirkdawson commented on #1008
@johnt-freecen The record removal has been changed to a rake task. Deployed to test3

[2020-10-11 23:17] Captainkirkdawson commented on #1000
Changes made except Display Userids This allows the coordinator to look up any one who is a member not just their syndicate which Freereg coordinators found useful from time to time. Deployed to test3

[2020-10-11 23:49] Captainkirkdawson commented on #979
Changes made and applied to test3

[2020-10-12 04:29] geoffj-FUG commented on #747
I have added this as a note so that it doesn't get lost.
In CSVProc we have given the Coordinator the ability to break a large piece up into smaller pieces (min size 1ED) and identify it by adding _a (underscore plus a letter) as a suffix to the piece number.
The 1851 PARMS has also bee broken up to avoid civil parish duplications being rejected.
The question is "How does the system now know when

[2020-10-12 07:22] johnt-freecen commented on #1008
Hello Kirk,

I have just run this task. All seems ok, sample records checked were removed from the system and a completion message received.

I am now running the re-implement the file  process.

Regards

John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 12 October 2020 00:04
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] Make unincor

[2020-10-12 07:32] johnt-freecen commented on #1008
Hello Kirk,

All seems to be working I have done a remove a file, edit the file and re-implementation to check the change is in place.

Regards

John

Sent from Mail for Windows 10

From: Kirk Dawson
Sent: 12 October 2020 00:04
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] Make unincorporate task a batch task(#1008)

@johnt-freecen The record r

[2020-10-12 14:15] Captainkirkdawson commented on #1008
Thanks @johnt-freecen

[2020-10-12 14:15] #1008 closed, assigned to Captainkirkdawson

[2020-10-12 14:24] Captainkirkdawson commented on #969
Deployed to test3 but ONLY as a copy of a District/Piece/Civil Parish

[2020-10-12 14:28] Captainkirkdawson commented on #968
Implemented for the Parms displays on test3

[2020-10-12 14:42] Captainkirkdawson commented on #747
This is highly dependant on how we integrate the information from FR1 loaded data with FR2 loaded data.
It is also linked to Requirements for Incorporation Statistics#998

[2020-10-12 15:08] Captainkirkdawson commented on #969
Not convinced of the need to create a new parms from scratch

[2020-10-12 15:14] Captainkirkdawson commented on #951
Have added the ability to list those Districts/pieces/civil parishes that have no place Deployed to test3
![list place.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/6a566ec7-a1f5-47d2-881c-de770cbf2b56)![list missing places.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/e94d61e8-8b37-4123-96bf-c92db0a980c8)

[2020-10-12 15:21] Captainkirkdawson commented on #951
and those pieces/civil parishes that are using the district place.
![list district.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/dc2c3e17-8eb7-4b63-8eac-8d5b0e83cb48)![district names.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/de2d9c22-601a-4ae2-9034-b6c9cd6d13ed)

[2020-10-12 16:11] richpomfret commented on #921
@AlOneill to take a look.

[2020-10-12 16:13] richpomfret commented on #126
@AlOneill can you take a look at the latest draft and assess the changes/passive voice?

[2020-10-12 16:19] richpomfret commented on #993
@Captainkirkdawson to send @PatReynolds and @richpomfret a file to test this out.

[2020-10-12 16:20] richpomfret commented on #997
Can @johnt-freecen take a look and test this to see if it is now fixed?

[2020-10-12 16:27] richpomfret commented on #879
@PatReynolds to identify district and provide @Captainkirkdawson with the bits he requires.

[2020-10-12 16:31] richpomfret commented on #1000
@rhodamackenzie to register as a new transcriber on TEST3 and take it from there. @DeniseColbert to assist if required.

[2020-10-12 16:32] richpomfret commented on #979
@PatReynolds to test this out.

[2020-10-12 16:36] richpomfret commented on #951
@PatReynolds @richpomfret to take a look and have a play/test with this.

[2020-10-12 16:50] richpomfret commented on #1004
@Vino-S can you take a look at this?

[2020-10-12 16:52] richpomfret commented on #1004
If it ends up being a big task to change/fix this, let's discuss and it can go back into backlog if needed..

[2020-10-12 17:46] AlOneill commented on #921
@PatReynolds Changed the reference to 'FreeREG' to 'FreeCEN'.

The link to the Accessibility Statement is broken — there is no such page.

**Cannot make sync-ready** until either the Accessibility Statement is ready, or we decide to remove the link to that page.

Whilst waiting on the link, I'll make an 'On this page' sub-menu.

[2020-10-12 17:57] johnt-freecen commented on #997
This can now be closed.

Regards

John

Sent from Mail for Windows 10

From: Rich Pomfret
Sent: 12 October 2020 17:21
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Assign
Subject: Re: [FreeUKGen/FreeCENMigration] 181225853 Cannot edit a record whichis for uninhab place (John) (#997)

Assigned #997 to @johnt-freecen.
—
You are receiving this because you were assigned.
Reply to this email direct

[2020-10-12 19:28] Captainkirkdawson commented on #997
Thanks @johnt-freecen

[2020-10-12 19:28] #997 closed, assigned to Captainkirkdawson, johnt-freecen

[2020-10-12 19:55] Captainkirkdawson commented on #990
Birth place added to results on test3 (No order by birth place yet)![birth place.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/72a07d96-5be4-40b1-8d7b-8ce4af3feda6)

[2020-10-12 20:03] Captainkirkdawson commented on #979
@PatReynolds @richpomfret suggest you do a search on test3 for Boon in Somerset and look at the details for a 1901 census year. You can compare with the FC1 format by looking at the 1851 census result. Remember we display mush more information on the census
![boon 1901.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/cb1cee3c-e0a2-4147-809c-ec6c819f011b)

![boon 1851.png](https:/

[2020-10-12 20:30] Captainkirkdawson opened #1010 "Add birth place to search record so that we can sort results by birth place."
Requires a field to be added; to be populated by a) the transformer for both vld and csv and b) a one time rake task

[2020-10-12 21:52] geoffj-FUG commented on #984
Rich
Paul T is capturing as many alternative names as he can. So both Cheapside and Cheap Ward will be captured and will automatically validate. There will inevitably be some that will be missed but he is being very thorough.
Geoff

[2020-10-12 21:56] geoffj-FUG commented on #877
Rich
Currently in progress. Once testing is completed I will prepare the instructions.
Geoff

[2020-10-12 22:32] AlOneill commented on #126
@richpomfret @geoffj-FUG The **page** [FreeCEN Handbook](https://test3.freecen.org.uk/cms/freecen-handbook) on t3 is _not_ a draft (for obvious reasons, I guess) but it is **not** sync-ready as there is no layout and no proper headings (and maybe other problems — I have not read it properly, yet).

I'll get the page into shape first, and then have a look at the actual Handbook, if that is what you

[2020-10-12 22:58] geoffj-FUG commented on #126
Alison

You are correct. The document on t3 is a pdf.

It is not a final draft. It is being written on the fly as things are tested and a process becomes clear.

To do otherwise would mean that we would miss things if we try to document the whole system when it is ready.

I have attached a document for you. It is an Abbreviated Handbook and is being looked at be a tester at the moment to make sure

[2020-10-12 23:42] Captainkirkdawson commented on #977
Code does look up  for both working at home and for the occupational category. Applied to test3
Note the wording changes to reflect 1901 as well
![occ.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/60eb2476-39f1-4dcc-ab64-2edaac01f15a)

[2020-10-13 11:08] PatReynolds commented on #953
Family Search images have reference numbers such as 101796022 - with a direct link to the original for members, or can be viewed in Family History Centres.  @johnt-freecen is that the form we have the image numbers in?

Useful in any case for proofreaders and validators, so I suggest impementation.

[2020-10-13 11:11] PatReynolds opened #1011 "Identify Source of images for the London 1871 Census"

[2020-10-13 11:13] PatReynolds opened #1012 "Fundraise for 1871 London Census"

[2020-10-13 11:13] PatReynolds opened #1013 "Recruit Transcribers for London 1871 Census"

[2020-10-13 11:14] PatReynolds opened #1014 "Publicise/promote the London 1871 Census"

[2020-10-13 11:15] PatReynolds opened #1015 "Plan a campaign to recruit transcribers alongside London 1871 fundraising"

[2020-10-13 11:17] PatReynolds commented on #827
Duplicates #789, so merged with it, and closing

[2020-10-13 11:17] #827 closed, assigned to PatReynolds

[2020-10-13 11:19] PatReynolds commented on #829
Checked 13/10/2020 and still needs action.

[2020-10-13 11:51] PatReynolds commented on #979
Tested and looking good.  Could not find a place 'Boon' but found a John Smith in Crewkerne in 1901.

[2020-10-13 12:02] johnt-freecen commented on #953
Hello Pat,

Unfortunately we have the images in a variety of formats. The two main ones seem to be a folder of pdf images some of which do not appear to have an index, the second type are jpegs and these have individual numbers on them so could be linked. However we achieve it we would need to include the type of image somewhere in the link.

Regards

John

Sent from Mail for Windows 10

From: Pat

[2020-10-13 14:43] FreecenBren commented on #1015
Hi,

I picked this up about London 1871.
Do not have time to read them all but as I look after 1871 London it caught my eye.

Not sure what is planned for the 1871 London, but as I already look after it, I have sent you details attached as to the current stage each PIECE number is at.

1.	One point to make is that all the images we have for 1871 London are all S & N.
Therefore unless you get permi

[2020-10-13 14:57] Captainkirkdawson commented on #979
@PatReynolds Sorry I should have been clearer search for a **surname** Boon in the Census for Somerset

[2020-10-13 15:20] Captainkirkdawson commented on #1007
A display look up is deployed to test3.
However there is a corresponding need to make changes to the language filter in the search

[2020-10-13 15:27] AlOneill commented on #126
I've fixed the basic HTML markup of the Refinery page, [FreeCEN Handbook](https://test3.freecen.org.uk/cms/freecen-handbook) on t3 (i.e. _not_ the Handbook itself or the Ready Reference or the Quick-start Guide, but the HTML page that is opened by the "FreeCEN Handbook" Action).

Next, I'll create a DRAFT version of the Refinery page that addresses other issues that I've spotted.

(I'll reply to @

[2020-10-13 15:45] Captainkirkdawson commented on #1005
Fixed on test3

[2020-10-13 16:19] AlOneill commented on #829
The Volunteer page has been updated on t3 — needs a sync to appear on live.

[2020-10-13 16:35] Captainkirkdawson commented on #1007
Since we cannot perform a filter against inconsistent field contents I propose to remove the language filter (The field for language in the results still displays)
Have written a new story Reactivate the Language Filter#1016 once in production and the database reconstructions has occurred.

[2020-10-13 16:43] Captainkirkdawson opened #1016 "Reactivate the Language Filter"
Once  the online system for Freecen2 is operational and stable reactivate the language filter. following these steps.
Write and run a rake task that converts the bilingual code used in the Individual collection to the new codes.
Replace the freecen search form with the content of the form included in the file _form_freecenwith_language filter.html.erb having first checked that no other changes hav

[2020-10-13 16:57] Captainkirkdawson commented on #1003
@geoffj-FUG @johnt-freecen the aspect you mention of Out of County Places should be dealt with through the process outlined in
Add ability to copy a district and it Pieces and Civil Parishes to another County #879  and
Add ability to remove civil parishes and pieces from a duplicated district #1009
which have both been coded and are in Need Review and testing

[2020-10-13 18:59] AlOneill commented on #126
The DRAFT version of the edited Refinery page, [FreeCEN Handbook](https://test3.freecen.org.uk/cms/draft-freecen-handbook) is ready for review.

The changes made are:
* replace passive voice with active
* acknowledge browser differences and non-Windows users
* polish text for consistency and readability

Have I missed or distorted anything?

[2020-10-13 19:06] AlOneill commented on #730
Updates done and pages are sync-ready.

[2020-10-13 19:09] AlOneill commented on #730
This appears to be a duplicate of #760 …

[2020-10-13 21:10] geoffj-FUG commented on #879
Kirk
The copy will not fix them all. Take this 1851 piece for instabce (yes, 1851 again!)

1944B | Keynsham | Bitton Holy   Trinity, Brislington, Burnet, Compton Dando, Corston, Keynsham, Newton,   Newton St Loe, Oldland, Priston, Queen Charlton, Saltford, Stanton Prior,   Whitchurch
-- | -- | --

Some of the Civil Parishes are in GLS and some are in SOM.

Some Districts can be copied lock stock a

[2020-10-13 21:37] Captainkirkdawson commented on #879
@geoffj-FUG Sorry I do not follow.
One copies Keynsham to GLS; One deletes from SOM the Pieces and Civil Parishes that are not in SOM. One goes to GLS and deletes the Pieces and Civil Parishes that are not in GLS.
It is a one time set up.
The GLS coordinator loads the piece/civil parishes for GLS and you do the same for SOM.

Or is my ignorance of Freecen missing something?

[2020-10-13 21:45] geoffj-FUG commented on #126
Alison

The Ready Reference has been replaced by the Abbreviated Handbook for England and Wales Transcribers and Proofreaders.

I have canned the Quickstart guide because the differences in the systems are significant and people will use it to take shortcuts.

The instructions for the Abbreviated Handbook are currently:

Abbreviated FreeCEN2 Handbook for England and Wales Transcribers and Proofrea

[2020-10-13 21:56] geoffj-FUG commented on #879
Kirk

OK. Got it!

That can creates 2 part of the same Piece. In that case they will need to be numbered HO107_1234A and B or HO107_1234_a and b. That will show that the piece has been split.

Geoff

[2020-10-13 22:02] geoffj-FUG commented on #953
Pat

As John says we have some images as pdf’s.

Where these have been converted to jpg they have a completely independent numbering system which repeats for each set that is converted.

Capturing image numbers is an epic of its own. However it was done in the online trial a couple of years ago. I raised the issue because we have a window of opportunity to at least create the field and include it

[2020-10-13 22:05] geoffj-FUG commented on #879
Just logging another point so that it doesn’t get lost.

The procedure will require a transfer of a copy of the relevant image(s) to the other County Coordinator.

Geoff

[2020-10-13 22:24] Captainkirkdawson commented on #879
@geoffj-FUG The key is we must try this on test3 to make sure it functions as expected.
It might be that the copy needs augment the piece number so that they are different

[2020-10-13 22:26] geoffj-FUG commented on #879
Kirk

Can I upgrade myself to a dat manager so that I have rights? At present I am a coordinator.

Just checking that it will cause no problems if I do it.

Geoff

[2020-10-13 23:07] Captainkirkdawson commented on #1006
CSV Proc has been modified to always process the notes field. Deployed to test3.
The display for a transcriber/proof reader / validator/ coordinator is similar to this
![unoccupied1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/2153d2d4-fb4f-4b2d-99d9-11e564a995e1)
A researcher viewing a dwelling would have something like
![unoccupied21.png](https://images.zenhubusercontent.co

[2020-10-13 23:23] Captainkirkdawson commented on #879
@geoffj-FUG I would be happy to do that. However I would like to do the first test together.

It need to be tested by specifying a district to be copied to another county and how its pieces and their civil parishes are to be distributed.

Happy to do 1944B	Keynsham but you need to specify which civil parishes are to go to GLS.

[2020-10-13 23:44] AlOneill commented on #126
@geoffj-FUG Have uploaded the Abbreviated Handbook file and updated the (not-draft) Refinery page on t3, [FreeCEN Handbook](https://test3.freecen.org.uk/cms/freecen-handbook).

However, the file does not open directly in Firefox (which the full Handbook does), so guess there is some bit of 'magic' missing? Or, I'm beginning to suspect that I've misunderstood crucial?

Will update the DRAFT page to

[2020-10-14 10:04] geoffj-FUG commented on #879
Kirk

1944B

Keynsham

Bitton Holy Trinity, Brislington, Burnet, Compton Dando, Corston, Keynsham, Newton, Newton St Loe, Oldland, Priston, Queen Charlton, Saltford, Stanton Prior, Whitchurch

GLS

Bitton Holy Trinity

Oldland

SOM

Brislington

Burnett (note correct spelling)

Compton Dando

Corston

Keynsham

Newton

Newton St Loe

Priston

Queen Charlton

Saltford

Stanton Prior

Whitchurch

Ge

[2020-10-14 11:47] geoffj-FUG commented on #879
Kirk

I have been looking at the proposed Piece to test.

It is an 1851 piece and the breaking down of the Piece numbers in the PARMS has meant that there is a neat package of one new style Piece to transfer. I do not have access to GLS so cannot examine the result.

May I suggest that we use

RG10/2357

DULVERTON

Morebath (Devon), Brushford, Dulverton (3), Brompton Regis, Bury

This Piece has Mo

[2020-10-14 11:57] PatReynolds commented on #354
Emailed Geoff 14/10/2020

[2020-10-14 12:15] geoffj-FUG commented on #354
The Ready Reference has been replaced by an Abbreviated Handbook for Transcribers and Proofreaders. Alison has a copy. It is reasonably stable.
The Quickstart Guide will be deleted as it could cause problems of transcribers taking shortcuts and ending up in trouble.
The Full Handbook is still growing, but is very Comprehensive.
Geoff

[2020-10-14 14:03] AlOneill commented on #126
Mea culpa! Brain malfunction, big style, with realisation dawning too late last night. All now as expected on "FreeCEN Handbook" page.

[2020-10-14 20:50] Captainkirkdawson commented on #879
@geoffj-FUG  @PatReynolds The following describes the process I used on my computer to do the copy of your civil parish from Somerset to Devon' It is long and tedious; but works. (10 pages step by step in the attached) (an hour)

There are a couple of additions I want to add for locating specific districts pieces and civil parishes rather than the look through a multipage  index. Then I will make

[2020-10-14 22:34] Captainkirkdawson opened #1017 "Do we update our Freecen2 Places?"
You will recall that Freecen2 Places is based upon Freereg Places which was based on an extraction from the Gazetteer of British Place Names
(https://www.gazetteer.org.uk/).  EricB and other spent upwards of a year tuning the extraction to meet the Reg needs. This involved disabling several thousand entries of crossroads and small settlements. In additional it rationalized duplicate names and cros

[2020-10-15 00:51] AlOneill commented on #126
@geoffj-FUG The [DRAFT FreeCEN Handbook](https://test3.freecen.org.uk/cms/draft-freecen-handbook) has been updated with the details for the (new) Abbreviated Handbook. Have also tweaked some other parts of the page.

Is the DRAFT page OK to be promoted to the actual page? Does anything need changing or adding?

[2020-10-15 01:19] AlOneill commented on #921
@PatReynolds Have added an 'On this page' sub-menu to the [DRAFT About](https://test3.freecen.org.uk/cms/about-draft) page.

Have also tweaked the source order a little, with phone users in mind.

[2020-10-15 09:44] geoffj-FUG commented on #1017
The reason that I ask is that validators spend a lot of time researching Places of Birth. They are often the less commonly quoted geographic features which seem to have been covered in the new Gazetteer. The Gazetteer also includes Stately Homes etc. Servants, in particular, quote these as their Place of Birth.
It seems to me that a lot of the additions that Validators will inevitably have to add

[2020-10-15 10:18] geoffj-FUG commented on #126
Alison

The order in the menus have been amended to make them more logical.

I have quite a few images to replace.

Geoff

From: AlOneill <notifications@github.com>
Sent: Thursday, October 15, 2020 10:51 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMi

[2020-10-15 10:38] geoffj-FUG commented on #879
Kirk

I am going through your procedure and following it on paper.

The procedure is at District Level.

The District of Dulverton contains 2 Pieces in 1871:

RG10/2357

DULVERTON

Morebath (Devon), Brushford, Dulverton (3), Brompton Regis, Bury

RG10/2358

DULVERTON

Skilgate, Huish Champflower, Upton, Exton, Winsford, Exford, Withypoole, Hawkridge, Dulverton

Following the theoretical logic of t

[2020-10-15 10:58] geoffj-FUG commented on #879
Kirk

Ahh, the penny has dropped. We need to create the District in the new County as well as the Piece!

Forget the last question.

Geoff

[2020-10-15 11:43] geoffj-FUG commented on #1006
Thanks Kirk
Tests OK
Geoff

[2020-10-15 11:52] geoffj-FUG commented on #1000
Kirk
Coordinators look good.
I see no change as a Transcriber (even when I refreshed the screen). For the basic menu can we change the order please?
CSV Batches
Search Place Name
FreeCEN Handbook
Communicate
Profile
Roadmap

That would be similar to the one you have done and the most often used Actions are at the top.

Geoff

[2020-10-15 14:18] AlOneill commented on #126
@geoffj-FUG I think we are at cross-purposes: I'm talking about the DRAFT Refinery page which has links to each version of the Handbook. I'm asking if you are happy with my re-write of the accompanying text which explains how to download (and print) each Handbook.

My re-write is on t3 at:
https://test3.freecen.org.uk/cms/draft-freecen-handbook

[2020-10-15 14:22] Captainkirkdawson commented on #879
@geoffj-FUG your penny is worth a great deal more and spot on.
It might be worth my time to add a bulk delete of a piece if we are going to do this for many Districts

[2020-10-15 14:24] #1006 closed, assigned to Captainkirkdawson

[2020-10-15 15:15] Captainkirkdawson commented on #1000
Sorry @geoffj-FUG had done the checker; have now done the transcriber and validator and tweaked the data manager

[2020-10-15 21:29] geoffj-FUG commented on #126
Alison

Yes that is fine.

I will align the Handbook so that they are the same.

Geoff

From: AlOneill <notifications@github.com>
Sent: Friday, October 16, 2020 12:19 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Online help and transcriber

[2020-10-15 21:32] geoffj-FUG commented on #879
Kirk

If you do that it should be a soft delete incase a mistake is made at some time.

When the deletes are being done one at a time there is more thought put into it. A hard bulk delete in a hurry can be disasterous!

Geoff

[2020-10-15 21:33] Captainkirkdawson commented on #879
@geoffj-FUG fully concur will not action

[2020-10-16 10:12] geoffj-FUG commented on #919
Kirk
I have created 2 identical files and validated them. RG14_14141_a and RG14_14141_b. (only 12 records)
I incorporated RG14_14141_a successfully.
I then tried to Incorporate RG14_14141_b. It was rejected.
Test for duplicate contents of files at Incorporation successful.
Geoff

[2020-10-16 10:15] geoffj-FUG commented on #993
Test successful
This story can be closed.
Geoff

[2020-10-16 10:18] geoffj-FUG commented on #879
Kirk
Now that I have got my head around are we ready for me to upgrade myself to Data Manager and test with a different piece?
Just dont want to cause any problems at this juncture.
Geoff

[2020-10-16 10:19] geoffj-FUG commented on #1009
Will be tested when I test #879
Geoff

[2020-10-16 10:21] geoffj-FUG commented on #1000
Kirk
Looks good at the Transcriber Proofreader level too.
I will have a look at Data Manager when I test #879
Geoff

[2020-10-16 10:25] geoffj-FUG commented on #951
I have tried it within the linking of the PARMS and it seems to work well in that context
Geoff

[2020-10-16 10:31] geoffj-FUG commented on #984
Update
So far Paul T has captured over 250 Place Names (plus alternates) in LND and is still going. He is recording l;at/long and references as he goes, so they should be ready to upload when he has finished. We should have a comprehensive list when it is complete.
Geoff

[2020-10-16 10:37] geoffj-FUG commented on #962
Kirk
The test for 0 Errors, 0 Waeningsshould now be a story. "Cannot Incorporate unless 0 Errors, 0 Warnings"
It will need to be implemented to stop faulty records being incorporated into the database.
Geoff

[2020-10-16 10:43] geoffj-FUG commented on #571
There is a FAQ section in Appendix G of the Handbook.
They are things that came up as we implemented the transcribing for CSVProc during test, plus things that were obvious questions if someone doesn't read their Handbook.
It seems to be stable, but implementation will tell.
Is this of any help?
Geoff

[2020-10-16 14:21] Captainkirkdawson commented on #919
Thank you

[2020-10-16 14:21] #919 closed, assigned to Captainkirkdawson

[2020-10-16 14:21] Captainkirkdawson commented on #993
Thank you

[2020-10-16 14:21] #993 closed, assigned to PatReynolds, richpomfret

[2020-10-16 19:14] Captainkirkdawson opened #1018 "Add action to look uo a specific District, Piece or Civil Parish"
Rather than having to look through an index it is useful to select a specific District, Piece or Civil Parish. Add anchors and push the full index down a level

[2020-10-16 19:21] Captainkirkdawson commented on #1018
Implemented into test3. Examples follow
![District.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/3b3f55e8-87c1-4171-b0c3-891d6c0c644e)
![District 1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/e9a4a143-c836-48a9-a52e-2b41b6ffa57f)
![piece.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/adb02c3e-fa1e-43af-8fa8-2cee3869bdc7)
![parish.png]

[2020-10-16 19:24] Captainkirkdawson commented on #879
@geoffj-FUG You are upgraded to Data Manager

[2020-10-16 19:29] Captainkirkdawson opened #1019 "Add file selection for coordinators to list files incorporated and files in validation"
Based on recent experience these would be useful management additions

[2020-10-16 20:51] Captainkirkdawson commented on #1019
Incorporated into test3
@geoffj-FUG @johnt-freecen FYI as coordinators  you can now select on files being validated and files incorporated
![actions.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/5a1fd974-e404-4a2e-ad7d-b20956b86f54)
![actions1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/e286f7b7-291a-4ebe-8066-47d0411664ea)

[2020-10-16 20:56] Captainkirkdawson commented on #968
Implemented for parms

[2020-10-16 20:56] #968 closed, assigned to Captainkirkdawson

[2020-10-16 23:01] Captainkirkdawson commented on #1010
Field added to search_record; rake task written to populate existing records; code added to csv transformation. Deployed to test3

[2020-10-16 23:12] Captainkirkdawson commented on #1017
@geoffj-FUG It appears that the version available for download remains the 2014 version! I have contacted them to see if they are planning to update their download file.

[2020-10-16 23:28] Captainkirkdawson commented on #934
@geoffj-FUG this has once again reached the top of the file. Before I hit the keyboard

1. Can you please reconfirm that this is still a requirement

2. If it is can you confirm that you would like it to appear as a new option on the validation screen. With a small amount of work it could be made to only appear if the alternate fields were added.

3. That the propagation should be automatic but ra

[2020-10-17 09:46] geoffj-FUG commented on #934
Kirk

1.	Yes this is still a requirement.

Have a look at RG13_2298 Warnings and you will see the problem. In this case the Transcriber has chosen to use the alternative place name fields. But not all Transcribers are so meticulous. If this had been left to the validator the validator would have had to repeatedly enter the alternative place name, just because the enumerator abbreviated ‘south’ eve

[2020-10-17 10:07] geoffj-FUG commented on #879
Thanks Kirk

Geoff

[2020-10-17 11:07] geoffj-FUG commented on #879
Kirk

I have managed to transfer a District and Delete an unwanted transferred one. I have used a different sequence of Actions to get there to your instructions, so there is more than one way through the maze! I will send you a copy.

I chose to use Wellington District 1911. There are 20 pieces in it and in real life every one of them will need to be edited!!! 10 stay in Somerset and 10 move to D

[2020-10-17 14:37] Captainkirkdawson commented on #949
@PatReynolds about to action this story.
As you noted I have included Selby and Rippon as they do appear in the 1901 extraction.

We have Selby as WRY while you have indicated ERY

We have Rippon as WRY while you have indicated NRY

Checking the ABC Gazetteer our versions are the historic riding. The versions being suggested are not ridings but are the administrative divisions of Eastern Yorkshire

[2020-10-17 15:27] Captainkirkdawson commented on #934
@geoffj-FUG Will hold until 3 is answered.

[2020-10-17 18:27] Captainkirkdawson commented on #879
@geoffj-FUG @PatReynolds So lets split this discussion into 2 parts.

Firstly you have confirmed the software provides the capability to copy a district, its pieces and civil parishes to another county and have confirmed also the ability to remove civil parishes and pieces from a duplicated district #1009. Hence from that perspective we have done what we set out to do in this story.
However it is

[2020-10-17 19:37] Captainkirkdawson commented on #955
@geoffj-FUG
wrote:
How difficult is it to get a text version of the Error report
I ask because I have been helping a relatively new transcriber through sorting out her errors.
To get a text error report I copied the Warnings and Errors from the email, amended all the manual page breaks to paragraphs, sorted the results so that errors were at the top and copied and pasted into an email.
It is somet

[2020-10-17 19:47] Captainkirkdawson opened #1020 "Write rake task to load records from a csv file into Freecen2 Places"

[2020-10-17 19:49] Captainkirkdawson commented on #1017
@geoffj-FUG wrote;
Whilst our Gazetteer contains lots of British Place Names it does not contain Irish Place Names.

I raise this not in the context of the Ireland censuses but in the context of Validation Places of Birth where the person enumerated was born in Ireland.

I have found this Open Data which may or may not help us. It covers Northern Ireland only. https://www.nidirect.gov.uk/articles/

[2020-10-18 07:28] geoffj-FUG commented on #955
Kirk

I will have to think that one out.

Geoff

[2020-10-18 07:33] geoffj-FUG commented on #934
3. No. It should be initiated by the Validator.
It will require the Validator to Re-Process the file to update the Warnings each time that it happens. If it was automatic that is a significant processing load when Promulgations are not needed. (Can this be done with the equivalent of what we used to call a batch file?).
The Re Processing will ensure that all Warnings are up to date.
I will write t

[2020-10-18 07:44] geoffj-FUG commented on #879
Thanks Kirk

You are right, I did not carry through to the next stage. That is because my mind was offering challenges to the application of what was happening. I am a learner by doer. Rote learning has never been my forte. As I didn’t quite understand what I was doing, I stopped.

I now understand the difference between a Syndicate Coordinator and a County Coordinator. Up to now I have considered

[2020-10-18 08:07] geoffj-FUG commented on #879
Kirk

I have now successfully completed the process for RG14_14199. It is now RG14_14199A in DEV.

Now I have to round off the instructions.

If the piece is already transcribed the original RG14_14199 will need to be Downloaded.
That part of the transcription referring to Civil Parishes in the new County (in this case DEV) would be Renamed as RG14_14199A. I would suggest that this is initially Up

[2020-10-18 08:22] geoffj-FUG commented on #955
Kirk

Download Message report does what I wanted. If it was in .csv format it can be filtered in a spreadsheet and the Coordinator can comment against those messages that they need to.

Geoff

[2020-10-18 08:26] geoffj-FUG commented on #1019
John

Can you test this for me please?

I am currently testing at Data Manager level and so won’t necessarily get the same results as you.

Geoff

[2020-10-18 08:55] johnt-freecen commented on #1019
Hi Geoff,

The selection process produces the correct files when you use either the list of options or the  buttons across the top of the selected files.

However there is a problem once you have the selected view. When you select either the in validation or incorporated options the display is in alphabetical order, If you select the order by latest or oldest buttons to re-order the view you get t

[2020-10-18 11:33] geoffj-FUG commented on #1019
Thanks John

Geoff

[2020-10-18 19:37] Captainkirkdawson commented on #1010
populated CSV birth record field in search records for CSV Procon test3

[2020-10-18 20:08] Captainkirkdawson commented on #949
Hane replaced YKS with the ridings for 1901 on test3

[2020-10-18 20:10] Captainkirkdawson commented on #949
Test by selecting Manage County and use one of the ridings. Select Manage Districts and then select by year using 1901

[2020-10-18 21:02] geoffj-FUG commented on #1000
Kirk
Data Manager looks good too.
What is the attic?
Geoff

[2020-10-18 21:03] Captainkirkdawson commented on #955
@geoffj-FUG the penny just dropped at this end.
You were talking about the extension .log; takes 1 minute to make that change
I had thought you were asking for a reordering and reformatting of the report!!
It never crossed my mind it was the extension.
Any test editor will open a log extension so its never an issue for me. But I can see that for some people it might be an issue.

[2020-10-18 21:26] Captainkirkdawson commented on #1000
Whenever a file is replaced,downloaded or reprocessed the current file is moved to the attic and the new one placed in the main folder.
We never throw anything away. Disk storage is cheap!!
It means that in the event of a major foul up the datamanager can recover a version of the file for a coordinator or transcriber.
They can download the version they want, strip the unix date extension and have

[2020-10-18 21:26] #1000 closed, assigned to Captainkirkdawson, rhodamackenzie

[2020-10-18 21:38] geoffj-FUG commented on #955
Kirk

Can we add it to the To Do list please? It is not urgent as I am probably the only person who is using the system to manage their volunteers.

These little things pop up when you start to use the system in real life.

Geoff

[2020-10-18 21:54] geoffj-FUG commented on #729
Kirk
OK
Can be closed
Geoff

[2020-10-18 21:57] geoffj-FUG commented on #1009
I have successfully done this as a data manager. See comments on #879
Geoff

[2020-10-18 22:02] geoffj-FUG commented on #979
Kirk
If it is relevant I am comfortable with the way that these are appearing in the View Flags / View Error Maessages / View Warning messages screens.
These are critical to teh validator finding the correct image to view during validation.
Geoff

[2020-10-18 22:07] geoffj-FUG commented on #1018
I ;ooked at this during the transferring of a piece to another county as a data manager. I was comfortable with the result.
@johnt-freecen Did you raise this one? If so, is this what you needed?
Geoff

[2020-10-18 23:20] #729 closed

[2020-10-18 23:22] #1009 closed, assigned to Captainkirkdawson, PatReynolds

[2020-10-18 23:23] #979 closed, assigned to PatReynolds

[2020-10-18 23:24] Captainkirkdawson commented on #1018
Geoff
I added of my own volition based on my use of the system;

[2020-10-18 23:24] #1018 closed, assigned to Captainkirkdawson

[2020-10-19 00:29] Captainkirkdawson commented on #955
Done on test3.

Will look at adding the download of the warning messages in txt and csv formats as well as downloading the error messages again in csv and txt formats

[2020-10-19 20:20] Captainkirkdawson opened #1021 "Birth place in VLD entries"
@geoffj-FUG @FreecenBren I am puzzled why the Alt Birth County and Alt Birth Place are always set in vld entries and always the same as the verbatim birth county and verbatim birth place

E0 U4 S9 C2: P15

[2020-10-19 21:02] geoffj-FUG commented on #1021
Kirk

I have no idea. The spreadsheet version of a vld when converted only has the entries for alternatives. See columns AD and AE in the attached csv version of the vld file.

Are you sure that you are not referring to the Civil and Ecclesiastical Parishes? They were often the same as a work around when wincc became unusable. This has been fixed in the new spreadsheets and instructions.

Geoff

[2020-10-19 21:36] Captainkirkdawson commented on #1021
@geoffj-FUG I am indeed talking about the verbatim birth county/place and the Alternate birth county/place.

When cen2 (NOT CSV Proc) processes the vld file it loads an Individual collection which is then used to display search results.

I was looking at it  so that we could populate the Birth Place field in the display of search results; that Pat has been requesting.

I was puzzled to see both se

[2020-10-19 21:46] geoffj-FUG commented on #1021
Kirk

Just went to try it.

The link to FreeCEN1 has disappeared from the Search screen!

Geoff

[2020-10-19 22:36] Captainkirkdawson commented on #1021
@geoffj-FUG
As far as I can see the the verbatim_birth_place is taken from :t_born_place => [184,20], in the vld entry; the alternate birth place is taken from :born_place => [279,20], in the vld entry
The verbatim_birth_place is the birth place shown in the search details. The alternate birth place is unreferenced anywhere in the code and not displayed to the researcher by the modern version of c

[2020-10-19 22:54] Captainkirkdawson commented on #1010
Given the extensive time that would be required for this to run on the production system it would be better to add the code to the transformation code run as part of the monthly update.

[2020-10-20 09:04] PatReynolds commented on #1021
Just looked at link - still there
![image](https://user-images.githubusercontent.com/6338822/96564576-3dcd9680-12bb-11eb-939c-c4d4252ee852.png)
It isn't on test3, though.

[2020-10-20 14:22] Captainkirkdawson opened #1022 "Augment the error trapping during incorporation"
Dear Colleague:

Incorporation completed

RG12_1944.csv for SOM undefined method `titleize' for nil:NilClass

The FreeCEN Team

Unquote

This can be missed.

[2020-10-20 14:31] Captainkirkdawson opened #1023 "catch xlxs upload"
It should be stopped but clearly is not
{
  "action" => "create",
  "authenticity_token" => "LDblcLMnw/TF9hFZeE1WArnb8K+jrGZ4rG9LhbYH9xibbdVILfzg4pRndGZ1f6N8MWl85zLKvOabnNoZpjHA1A==",
  "button" => "",
  "controller" => "csvfiles",
  "csvfile" => {
    "action" => "Upload",
    "csvfile" => "{\"tempfile\":[],\"original_filename\":\"RG13_2301.xlsx\",\"content_type\":\"application/vnd.openxmlformats

[2020-10-20 16:12] Captainkirkdawson commented on #1022
Added failure message; trapped the backtrace and added to message.
Resolved the specific problem
Deployed to test3

[2020-10-20 16:47] Captainkirkdawson commented on #1023
Added a test and message. Deployed to test3

[2020-10-20 17:46] Captainkirkdawson commented on #1019
@geoffj-FUG @johnt-freecen

This is the manner in which the files display had always worked. It always works on the totality of the files. It was not designed to provide different sorts on the subsets created by selecting those with errors, being validated or incorporated. Perhaps it should.

Doing that is a major rewrite. Estimate of 13 would be applicable (~2 weeks)

[2020-10-20 21:01] Captainkirkdawson commented on #934
@geoffj-FUG
A first version of the Propagate action has been deployed to test3.
It works as follows. Make and edit to a record involving either or both of the Alternate POB fields. If the change is accepted ie the new fields are correct the display of the altered record displays a new action. Propagate Alternate Fields
![Propagate.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/

[2020-10-20 21:41] Captainkirkdawson opened #1024 "Which current spreadsheets to support"
Almost all work to date has involved use of the new spreadsheets. These perform well. However there is a significant amount of work in progress that use the existing original spreadsheet, interim forms and the final validation output.
What is the best way of transitioning this workload into  Freecen2 directly and not through Cen1

[2020-10-20 21:44] Captainkirkdawson commented on #1024
The system on test3 will accept the original traditional header

It will also accept the Freecen2_traditional header

If I recall correctly we introduced the latter to reflect the output of the offline validation app; the expectation being that we could import those

However it has been months since we talked about these aspects.

[2020-10-20 21:47] Captainkirkdawson commented on #1024
@geoffj-FUG responded
Let us look at the process as it exists in FreeCEN1.

Transcriber transcribes the piece. This is columns A to Y of the FreeCEN2 Traditional spreadsheet.

Proofreader proofreads the spreadsheet. In the original system with WinCC the Proofreader adds the Ecclesiastical Parish (only they actually added the Civil Parish again instead because of an apparent misunderstanding 20 odd

[2020-10-20 21:58] Captainkirkdawson commented on #1024
@geoffj-FUG
This unfortunately is where my lack of awareness of the actual detail of cen past practices makes it difficult to make sensible solutions.
However what is wrong with the proofreader using the reports produced by CSVProc if we process the minimum spreadsheet?
Should we not also be able to accept the current output of validation in CSV format The validation spreadsheet does not appear to

[2020-10-20 23:01] Captainkirkdawson commented on #953
From a developer perspective it would be straightforward to add 2 string fields. One for a Folder name and 1 for image number. These could be populated by the transcriber.
It is unclear what value would be gained from this information as these fields do not relate to any known repository of images. The Freecen image server has images for just 1500 pieces for 1891 covering London.
Since this inform

[2020-10-21 06:07] geoffj-FUG commented on #1024
Kirk
If we dont enforce the Proofreader using a minimum of the FreeCEN2 Traditional spreadsheet then the eccesiatstical parish will not be captured.
That means that the Validator has to start with a spreadsheet full of errors (no ecclesiastical parish).
That means that they have to go through the images. That has already been done twice! It is not the validators role to do this. Their role is to r

[2020-10-21 07:15] geoffj-FUG commented on #934
Kirk
Brillaint!
I chose a piece that already had alternate place names in it and removed about 40 of them. I then changed the rest of the alternate place name entries from south to north.
I then set the piece to validate. I validated the first incorrect place name entry and the propogate button came up. I propogated and it filled in all the entries I had removed and left the ones that I had change

[2020-10-21 07:22] geoffj-FUG commented on #1023
Kirk
Tests OK
Geoff

[2020-10-21 09:42] geoffj-FUG commented on #1019
Kirk
If this is to be done it should be a post implementation improvement.
I suggest that it be left as it is at the moment and moved to 'On Ice'
Geoff

[2020-10-21 09:57] geoffj-FUG commented on #1022
File that casued the problem now Incorporated OK. Search birth range problem in separate email.
Kirk, What do I need to do to a file to get No Warnings, No Errors yet cause Incorporation to fail? I need to know so that I can test through to failure. Geoff

[2020-10-21 14:00] #934 closed, assigned to Captainkirkdawson

[2020-10-21 14:00] #1023 closed, assigned to Captainkirkdawson

[2020-10-21 14:04] Captainkirkdawson commented on #1019
Will close story as completed.
Will raise a new story for the enhancement.

[2020-10-21 14:04] #1019 closed, assigned to Captainkirkdawson

[2020-10-21 14:07] Captainkirkdawson opened #1025 "Enhance file selection options for coordinators"
It currently always works on the totality of the files.
It was not designed to provide different sorts on the subsets created by selecting those with errors, being validated or incorporated.
It should.

E0 U3 S5 C4: P12

[2020-10-21 14:13] Captainkirkdawson commented on #1022
@geoffj-FUG
This is one where you have to just me
It was a coding error.
The trap did work before; it was just that there was bad error reporting,
Propose to close; no further work on your part needed

[2020-10-21 14:13] #1022 closed, assigned to Captainkirkdawson

[2020-10-21 14:20] Captainkirkdawson opened #1026 "Search problem with the CSV incorporated record responding to birth years range"
File RG12_1944 incorporated OK. This was a FreeCEN2 Traditional format file.
I searched for Thomas Cleavely (see image below). His birth year is abt 1855 (=1891-36).
If I leave the birth from / to empty I find him. If I put in the date range I don’t.

There seems to be a search problem with the birth years range.

[2020-10-21 17:16] Captainkirkdawson commented on #1026
@geoffj-FUG  Thanks for picking that up; an error in the creation of the search date. Fixed on test3.
You will need to delete the current search records and do a new incorporation (no need for an upload or reprocess of the file)

[2020-10-21 21:59] geoffj-FUG commented on #1022
😊

[2020-10-21 23:05] Captainkirkdawson commented on #1024
@geoffj-FUG
I now understand and will go with the Freecen2_Traditional for the transcriber/proof reader.

Next what about the files currently going through validation, you sent me a csv formatted file with an example. That is a different layout. How are we going to have those entered? Using the Freecen2_Traditional or do we need to specify a Freecen1_Validator format?

[2020-10-22 05:32] geoffj-FUG commented on #1024
Kirk
The columns in a vld spreadsheet are
A - Processing flag (system dependent)
B - Blank (used by the system I believe)
C - Family number (system generated)
D - family position (system generated)
E - Civil Parish
F - ED number
G - Folio
H - Page
I - Schedule
J - House number
K - Address
L - uninhabited flag and address flag
M - Surname
N - Given name
O - Name flag
P - Relationship
Q - Condition

[2020-10-22 10:41] PatReynolds commented on #953
For the researcher, it is only useful if there is a reference to a publicly accessible image.  I think there may be more use for the person who deals with data error reports - being told which folder, which image number to look at would help them answer the report.

[2020-10-22 10:44] PatReynolds commented on #829
Thank you, @AlOneill. I will move to 'Ready for User Testing'

[2020-10-22 10:50] PatReynolds commented on #126
I believe this  can now be closed.  I will copy the comments relevant to the NEW systems to the appropriate story (#126)

[2020-10-22 10:57] PatReynolds commented on #126
Information copied from #354 which is for FreeCEN1 systems, not the new systems:
Version 1.2 of the FreeCEN Handbook is now available for download from test3. It still needs some revision in places but seems to be getting there. If you notice that something is missing please let me know. It has been proofread to page 35 only. It does not include all of the Managing County or Managing Syndicate fun

[2020-10-22 11:01] PatReynolds commented on #356
Since it has been decided not to implement the FreeCEN1 systems help on FreeCEN2, I will amend this story to the necessary changes on FreeCEN1

[2020-10-22 14:29] Captainkirkdawson commented on #879
@geoffj-FUG
You are correct

[2020-10-22 15:05] AlOneill commented on #126
I have now received a .docx copy of the Abbreviated Handbook v1.3 that has been revised using many of my suggestions for pages 6 and 7.

Now that I know which of my suggestions are likely to be accepted and which are not, I will continue to review the Abbreviated Handbook with regard to the use of passive voice and similar language issues.

[2020-10-22 16:37] Captainkirkdawson commented on #1020
@geoffj-FUG
An initial version of a csv place file is ready; needs a few tweaks but is ready anytime that Paul has LDN far enough along.
His work does not need to be **complete** before we start ingesting the information.
I can also give him a list of missing place name for London from the parms ingests
Example page ![csv place ingest.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdef

[2020-10-22 21:51] Captainkirkdawson opened #1027 "Extract useable places from the current Freecen1 Places collection"
The Freecen1 Places collection contains place names and in many cases a location compiled over the years.

[2020-10-22 22:34] Captainkirkdawson commented on #1027
A rake task has been written to extract place names and their locations from the location.
Entries with no location have been eliminated.
Duplicates with the collection have been eliminated.
This left 2893 place names on the test server; there might be an additional 90 on the production system
The remainder were been ingested into my test server and 490 were added and 2403 were skipped
It would ap

[2020-10-22 22:56] Captainkirkdawson commented on #1024
Thanks @geoffj-FUG that was useful; some clarification please
You said **the system generated fields are not transferrable.**.
Could you explain what you mean by that as those fields were in the spreadsheet you provided.

**We should start all new transcriptions on the proper CSVProc spreadsheets. Transcriptions in the system can be converted to either FreeCEN2 Traditional or the new format (using

[2020-10-23 08:15] PatReynolds commented on #1020
Maybe Londin (1881) - or whatever year has been chosen?

[2020-10-23 17:28] Captainkirkdawson commented on #1020
Have also written rake tasks to download csv files from Freecen2 Places and Places by county and in total

[2020-10-23 17:34] Captainkirkdawson commented on #953
@geoffj-FUG
Before I go ahead and code how would you like me to add the 2 fields to the spreadsheets. It will affect ALL spreadsheets and your handbook.
Suggested field names are Image Folder and Image Number both as strings with broad testing. But feel free to change.

[2020-10-23 18:06] Captainkirkdawson commented on #962
@geoffj-FUG Deployed to test 3 a check that the file is clean before incorporation

[2020-10-23 19:26] Captainkirkdawson commented on #976
Improved handling for smaller displays on test3

[2020-10-25 10:57] geoffj-FUG commented on #1024
Kirk

What I meant was that they are generated for FreeCEN1. You have generated them yourself in FreeCEN2. Whilst they do not appear on the spreadsheet they do appear on the screens when we edit.

I will add the conversion to FreeCEN2 Traditional to the Utility. It will be sometime later this week.

If files are currently being validated they will be ready for publication after validation. As they

[2020-10-25 11:08] geoffj-FUG commented on #953
Kirk

Has a decision been made to do this?

I get the impression from Pat’s posts that it might not be a priority because we don’t have a set of images to reference, only to work from.

I think that we should check with Pat on this one.

If we do go ahead they can be tacked onto the end of the spreadsheets. If I remember rightly that is where they were on the online transcription tool that was dev

[2020-10-25 14:48] Captainkirkdawson commented on #1024
@geoffj-FUG Yes it does make sense. The only caveat is that the transition make take months rather than weeks.
We can close.

[2020-10-25 14:48] #1024 closed, assigned to nobody

[2020-10-25 15:08] Captainkirkdawson commented on #953
@geoffj-FUG

My understanding is that the sole reason for doing this is for the transcriber/proofreader/ to assist them in linking an entry to a specific folder/image during their work.
Perhaps some value to validator? amd maybe coordinator during a review of a specific entry in the future after a research challenge.
So it basically your teams decision in terms of requirement.
It can be an optiona

[2020-10-25 15:28] Captainkirkdawson opened #1028 "Place search option not working correctly"
While researching indexes discovered that the place selection as part of a search was not working correctly since we use 2 place collections. 1 for the old CEN1 files and 1 for the CEN2 CSV Proc. The search place options use only the CEN1 places.

[2020-10-25 15:39] Captainkirkdawson commented on #1021
Note this is a bug in the CEN implementation of CEN1

[2020-10-25 16:43] PatReynolds commented on #376
@geoffj-FUG could you send me the duty statements and I'll see whether they are best added here, or elsewhere.

Draft is here: https://test3.freecen.org.uk/cms/behind-the-scenes

[2020-10-25 16:49] PatReynolds commented on #376
Also needs two coord roles merging, as per #847.

[2020-10-25 16:51] PatReynolds commented on #847
@Captainkirkdawson is there a plan to relabel  the buttons so that they do not use the word 'syndicate' either, and county coordinator is just 'coordinator'?

[2020-10-25 17:26] Captainkirkdawson commented on #847
@PatReynolds Not at this time. It is important to remember that there are 2 distinct roles Manage the data and Manage the People regardless of who does what.

[2020-10-25 20:07] Captainkirkdawson commented on #1010
Added to freecen1 vld translator as part of CEN2 code

[2020-10-25 20:08] Captainkirkdawson commented on #1010
Needs to be checked after a deployment and a freecen1 update

[2020-10-25 23:33] Captainkirkdawson commented on #1028
@geoffj-FUG the solution to this has been developed. It required changes to both CSV Proc and Incorporation code. To properly test it we will need to reprocess and reincorporate files. Do we want to do this now? Will it have an impact on the team? I have not deployed to test3 because of its potential impact. It has to be done before deployment to production.

[2020-10-25 23:37] Captainkirkdawson opened #1029 "Freecen2 deployment process"
The steps for deployment from a systems perspective needs to be documented.

[2020-10-25 23:40] Captainkirkdawson opened #1030 "The deployment process needs to be tested"
Propose this to be a 2 step process. Firstly by deployment to test2. Secondly by deployment to test3. Note this deployment to test3 will overwrite the test materials being used by the test team

[2020-10-26 05:30] geoffj-FUG commented on #953
Kirk

Put it on ice.

The value to the validator is far outweighed by the extra work for the transcriber.

It is easier for the validator to look up piece/folio/page to locate an image.

Geoff

[2020-10-26 09:34] PatReynolds commented on #870
https://www.ordnancesurvey.co.uk/business-government/products/open-map-names a possible data source

[2020-10-26 10:09] PatReynolds commented on #975
Suggestion: where possible, while waiting for Cambridge to reply, take from wikidata - e.g. https://www.wikidata.org/wiki/Q7877741, if not possible, use  the placemame location (in this case Uggescombe Hundred).

[2020-10-26 14:06] Captainkirkdawson commented on #870
Is there really such a thing as the Freecen Gazetteer? It is not part of Freecen2

[2020-10-26 14:13] Captainkirkdawson commented on #975
Unfortunately it is not a universal source ie not all hundreds are included.

[2020-10-26 17:06] PatReynolds commented on #975
County coordinators to use the wikidata where possible, and use the place name if not there.  First step is just to do those hundreds/wapentakers where they have transcriptions.

Pat will liaise with Geoff on this.

[2020-10-26 17:12] PatReynolds commented on #730
Not a duplicate, Alison, but could be part of it - I will add to that, and close this

[2020-10-26 17:28] PatReynolds commented on #976
@PatReynolds to add advice to enhanced cookie consent to use landscape view for best experience.

[2020-10-26 17:55] richpomfret commented on #1017
Moving to 'on ice' until we have the data.

[2020-10-27 06:28] geoffj-FUG commented on #1017
As this has been put on ice I have extracted a little over 300 Irish Place names from my FreeCEN1 PlaceSup file.

I will gradually add the lat/long etc over the next few weeks.

Geoff

[2020-10-27 11:16] #730 closed

[2020-10-27 11:16] PatReynolds commented on #730
Duplicate, and done, so clusing

[2020-10-27 11:31] PatReynolds commented on #531
Close?  #529 is closed.

[2020-10-27 11:48] PatReynolds commented on #1021
Agreed that the Verbatim place needs displaying in FreeCEN2.

I think proof reading and validation should only check the verbatim place name if requested by transcriber - e.g. the transcriber is  not able to make out whether it is - as written - Bleeden or Bleedon and needs a more expert pair of eyes to decide on one or the other (for the standardized name: Bleadon).

[2020-10-27 11:53] PatReynolds commented on #354
Skipped in scrum ... needs closing, I think, as no longer needed.

[2020-10-27 12:17] PatReynolds opened #1031 "Geolocate the Hundreds and Wapentakes of the 1841 Census."
The conclusion of story #975 was not to let the ideal (the Cambridge University data) get in the way of adequate (enabling 'nearby places' searching in the 1841 census).

Therefore, where the data is available on https://www.wikidata.org/w/index.php?search=wapentake&title=Special%3ASearch&fulltext=1&ns0=1&ns120=1 for wapentakes, and https://en.wikipedia.org/wiki/List_of_hundreds_of_England_and_Wal

[2020-10-27 12:19] PatReynolds commented on #975
I emailed @geoffj-FUG with decision 27/10/2020, and created issue #1037 for implementation, so closing.

[2020-10-27 12:19] #975 closed, assigned to PatReynolds

[2020-10-27 21:47] #354 closed

[2020-10-28 11:24] helhyde commented on #1015
Hi Brenda,

This is the project we talked about when Denise and I visited you.  Yes,
the fundraising is for images we can transcribe from.

Best wishes,

Pat

On Tue, 13 Oct 2020 at 15:44, Brenda <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director

A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

*Jo

[2020-10-28 11:48] geoffj-FUG commented on #990
Looks good. That is a big improvement.
Geoff

[2020-10-28 11:58] geoffj-FUG commented on #1005
Now works OK
This can be closed
Geoff

[2020-10-28 12:00] geoffj-FUG commented on #1007
This can be closed
Geoff

[2020-10-28 12:18] geoffj-FUG commented on #1026
Kirk
I have sent an image in a separate email.
Geoff

[2020-10-29 00:33] #1007 closed, assigned to geoffj-FUG

[2020-10-29 00:34] #1005 closed, assigned to PatReynolds, geoffj-FUG

[2020-10-29 00:34] #990 closed, assigned to PatReynolds, geoffj-FUG

[2020-10-29 17:00] Captainkirkdawson opened #1032 "Failure to update the number of error/warning in the file when a record is updated."

[2020-10-31 11:48] geoffj-FUG commented on #962
Tested and works fine
This story can be closed.
Geoff

[2020-10-31 11:49] geoffj-FUG commented on #1020
Three spreadsheets with additions to Place Names forwarded to Kirk:
Part of London
Isle of Wight
Ireland
Geoff

[2020-10-31 11:59] geoffj-FUG commented on #879
Kirk

I am writing the instructions for this. Which method should I include - your original version or the way I did it?

Geoff

[2020-10-31 12:02] geoffj-FUG commented on #126
Alison
What is your timeline please? Just so I know to update the test version.
I will also need to have the final version ready by the end of November.
Geoff

[2020-10-31 14:33] #962 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-10-31 14:37] Captainkirkdawson commented on #1020
Will close as it works and remaining action is to run the task as and hen needed

[2020-10-31 14:37] #1020 closed, assigned to Captainkirkdawson

[2020-10-31 14:38] Captainkirkdawson commented on #879
Your way
Kirk Dawson
Programmer and Technical Advisor
FreeUKGEN

On Sat, 31 Oct 2020 at 06:00, geoffj-FUG <notifications@github.com> wrote:

[2020-10-31 15:15] PatReynolds commented on #644
'Thank you for your review' (as per systemwide #134

[2020-11-01 15:06] AlOneill commented on #126
@geoffj-FUG I am working as fast as I can (which is nothing like as fast as I could do in the past). I may or may not be finished before the end of November. Sorry, but that's how it is.

[2020-11-01 23:28] Captainkirkdawson opened #1033 "Permit online editing of incorporated records"
Involves updating the search record after the successful edit

E0 6 S8 c6: P20

[2020-11-01 23:54] Captainkirkdawson opened #1034 "Should we develop and implement the ability to search by district, sub district and civil parish or all fields from the census information"
Cen1 permits searching by all fields of the census information.
The initial implementation of Cen2 permits only searching by the sub district place. The CSV implementation of Cen2 permits searching by the civil parish place. Hence CEN2 as presently constructed  will have a mixture of civil parish and subdistrict places.
**We could have the CSV entries only searched by sub district place if consist

[2020-11-02 06:11] geoffj-FUG commented on #126
Alison

Given your timeline and the fact that we have a proposed Deployment on 1 December I will proceed with my version of the Handbooks.

I am still editing the full Handbook so needed the Abbreviated one with any proposed changes pretty soon to get it all done.

The version I sent you will be the version that we will deploy.

Geoff

[2020-11-02 06:25] geoffj-FUG commented on #984
First batch of almost 500 Place Names have been sent to Kirk and uploaded
Still progressing
Geoff

[2020-11-02 06:28] geoffj-FUG commented on #126
Alison
Given your timeline and the fact that we have a proposed Deployment on 1 December I will proceed with my version of the Handbooks.
I am still editing the full Handbook so needed the Abbreviated one with any proposed changes pretty soon to get it all done.
The version I sent you will be the version that we will deploy.
Geoff

[2020-11-02 06:29] geoffj-FUG commented on #126
The Full Handbook will be ready by the time we deploy. I only have a couple of minor processes to write up and a few pages still to tidy up.
Geoff

[2020-11-02 06:34] geoffj-FUG commented on #949
Kirk
Can you give me Coordinator rights to YKS please? I can then check that the above is complete (unless somebody else is already doing it?).
Geoff

[2020-11-02 06:35] geoffj-FUG commented on #879
Instructions in progress.
Geoff

[2020-11-02 06:38] geoffj-FUG commented on #831
Story #1028 has affected this as we have to recreate the files to Incorporate. This will be tested once #1028 has been tested.
Geoff

[2020-11-02 06:40] geoffj-FUG commented on #1026
Will test after #831 and #1028
Geoff

[2020-11-02 06:40] geoffj-FUG commented on #977
Will test after #831 and #1028
Geoff

[2020-11-02 06:42] geoffj-FUG commented on #829
Button is Purple, not ornage. If that is correct this one can be closed.
Geoff

[2020-11-02 15:06] Captainkirkdawson commented on #949
Provided you with YKS and the 3 ridings

[2020-11-02 15:09] Captainkirkdawson commented on #1028
@geoffj-FUG the deployment to test3 has been done so it can now be tested

[2020-11-02 15:44] AlOneill commented on #126
@PatReynolds @geoffj-FUG

I don't know what to say. I will feel that I've let people down if the unedited Handbooks are what is presented to our volunteers when the new system is deployed.

Is there something special about Dec 1st, something that means that everything has to be ready by then?

[2020-11-02 15:55] Captainkirkdawson commented on #126
Next opportunity is 8 weeks later on January 26. Implementation is county by county not all at once.

[2020-11-02 16:22] PatReynolds commented on #126
Is the commencement of training linked to deployment? Is it envisaged as a mass start (I had thought it was going to start with a few and move on in batches.  The importance of a 'finished' handbook is dependent on these.

[2020-11-02 16:55] PatReynolds commented on #1034
Checking my understanding, @Captainkirkdawson  so option 1 is to serve the information of the subdistricts available as FC1 transcriptions, and the civil parishes available as FC2 transcriptions?  all in one list, or as two lists on the search form? Will selections  of (e.g.) one subdistrict and two civil parishes be permitted?

[2020-11-02 16:55] Captainkirkdawson commented on #126
@PatReynolds as noted above implementation is phased. The initial phase involves setting the system up in production; that cannot start until after deployment and the system is active. Once set up in production the plan is to proceed with implementation county by county; starting with SOM then RUT and LEI and after that who knows. Those 3 counties have people who have been using the documentation

[2020-11-02 17:05] Captainkirkdawson commented on #1034
@PatReynolds your understanding is correct; cen1 style transcription are by subdistrict places while cen2 style csv transcription as presently implemented are by civil parish places.  One list. One selection

[2020-11-03 09:50] geoffj-FUG commented on #1026
This has been tested with several broad and narrow birth ranges. Working OK.
Geoff

[2020-11-03 09:51] geoffj-FUG commented on #977
Tests OK
Geoff

[2020-11-03 09:55] geoffj-FUG commented on #1028
On the assumption that the Place search refers to the Census District, this is now producing the correct results.
Geoff

[2020-11-03 10:08] PatReynolds commented on #921
Created draft Accessibility Page (based on FreeREG) on test3 for proofing

[2020-11-03 10:11] geoffj-FUG commented on #949
The PARMS is now showing the Districts, Sub-Districts and Civil Parishes in their Ridings for 1901.
YKS no longer has any Civil Parishes in 1901.
I have not proofread for the integrity of the breakup on 100% of the County but all appears to be OK.
Geoff

[2020-11-03 10:17] geoffj-FUG commented on #884
This is one to file away in a suitable drawer for future reference. If I don’t document it then I will forget it.

I have downloaded a file from 'Irish Townlands' which contains the information that we couldn’t find when we tried to define the Irish PARMS. It allows us to follow our current structure.

Note that I have moved data columns and sorted data. I can easily re-download the original data.

[2020-11-03 10:25] geoffj-FUG commented on #831
Citation Button is now behaving itself.
Folio/Page is displaying on screen OK
Other issues covered elsewhere.
This can be closed
Geoff

[2020-11-03 10:35] PatReynolds commented on #376
I have not merged the two coords roles but - I hope - explained that both are combined in the single role of Coord, but with actions on the different buttons.

Does the table need editing @Captainkirkdawson to make it clearer which buttons have tools for managing the team and its members, and which for managing the county?

@geoffj-FUG is there anything that a volunteer would expect to be told abo

[2020-11-03 11:06] PatReynolds commented on #998
Not part of #749 as the Records page is about current status, not historical data (doesn't matter when a record was added to the database, all that matters is that it is there.

#735 needs review and stories adding.

For this story - incorporation - decisions need to be made about
- periodicitity - do we want to know the figures for a day, a week, a month, a quarter, a year?
- detail - do we want

[2020-11-03 11:09] PatReynolds commented on #847
Two distinct roles now documented.

@PatReynolds to consider
(a) clarity of button labels
(b) where/what else needs changing

[2020-11-03 11:27] geoffj-FUG commented on #376
Pat

I have picked out a couple of Coordinator Actions and duplicated them in the Handbook. That is where they will probably look first.

Do you want to add Download Handbook to the Actions table?

I am not aware of anything that is not in the Handbook or not in ‘Behind the Scenes’. The Handbook is dynamic so anything that pops up can be easily added.

Geoff

From: PatReynolds <notifications@githu

[2020-11-03 11:29] geoffj-FUG commented on #376
Pat

Coordinator Actions link from Behind the scenes page is not working. Nor are the links below it.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Tuesday, November 3, 2020 8:36 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Cre

[2020-11-03 14:53] #1026 closed, assigned to geoffj-FUG

[2020-11-03 14:54] #977 closed, assigned to PatReynolds, geoffj-FUG

[2020-11-03 14:55] #1028 closed, assigned to geoffj-FUG

[2020-11-03 14:56] #949 closed, assigned to PatReynolds

[2020-11-03 14:59] #831 closed, assigned to Captainkirkdawson

[2020-11-03 15:21] #531 closed

[2020-11-03 17:00] Captainkirkdawson commented on #376
@PatReynolds

A number of observations.
1. Your paragraph on the county and syndicate roles is fine.
2. I am surprised that neither the REG nor the CEN versions talk about the 4th communication action. Specifically the Communicate action that allows the user to: The Communicate action allows you to communicate directly with members of the FreeREG team. Every user has it.
3. The coordinator help bu

[2020-11-03 17:12] Captainkirkdawson commented on #1029
Step 1. Merge copy of current branch into copy of Master
Step 2. Test basic running of master copy on test2 freeCEN
Step 3. Test basic running of master copy on test2 freeREG
Step 4. delete all freecen2 collections on test2 cen
  db.search_records.deleteMany({freecen_csv_entry_id:{ $exists: true}})
  db.freecen_csv_entries.drop()
  db.freecen_csv_files.drop()
  db.physical_files.drop()
Step 5. Cre

[2020-11-03 17:14] Captainkirkdawson opened #1035 "Test Freecen2 deployment process"

[2020-11-03 17:17] Captainkirkdawson commented on #1035
Step 1 has been completed on my server. There were just 3 code conflicts. Resolved

[2020-11-03 21:38] geoffj-FUG commented on #1010
Next update is due around the 16th November. Will test after this update is done.
Geoff

[2020-11-03 23:47] Captainkirkdawson commented on #1035
Step 2 has been started; my own tests showed nothing odd.
Have asked @SteveBiggs  and @Sherlock21 if they would kick it

[2020-11-04 00:13] Captainkirkdawson commented on #1035
Have done basic tests of test2 CEN for Step 3. Looks OK so will proceed to step 4

[2020-11-04 10:49] geoffj-FUG commented on #877
First darft of the Instructions is in the November version of the Full Handbook in Coordinator's Actions.
I have sent the pdf version of the Handbook to Kirk this eveing to replace the existing Handbooks on test 3.
Geoff

[2020-11-04 10:56] geoffj-FUG commented on #1003
The instructions are now in the Full Handbook.
When we deploy we will need to have each Coordinator tidy up their PARMS before they start using the system.
We will need to get some volunteers to assist Brenda or she is going to be swamped!

On another point we will need a data manager. They will be needed to move pieces between counties. It will be quite a task for a while.

Geoff

[2020-11-04 11:55] DeniseColbert commented on #1003
Re. Data Manager, we have one! Introducing @rhodamackenzie who joins us at the FreeCEN scrums, but doesn't have a background as a transcriber/coordinator. Do you see that as an issue @geoffj-FUG ? If so, perhaps, someone _with_ that experience could partner with Rhoda? That way, she can pick up some insider knowledge whilst becoming familiar with the system.

[2020-11-04 12:22] DeniseColbert commented on #921
The first link is broken (Free and Open Access) - should be https://www.freeukgenealogy.org.uk/news/2016/10/28/access-is-everything

[2020-11-04 15:52] SteveBiggs commented on #1035
I had a good play with test2 REG and found no problems.

[2020-11-04 16:00] Captainkirkdawson commented on #1035
@SteveBiggs Thanks very much Steve I owe you one

[2020-11-05 11:18] geoffj-FUG commented on #126
The latest versions of the FreeCEN Handbooks have been loaded onto test3.
The abbreviated Handbook for England and Wales Transcribers and Proofreaders is shovel ready. There may be minor changes before 1 December but nothing significant.
The Full Handbook for Validators, Coordinators and the Data Manager still requires my last proof read. I am about half way through at the moment. If you notice an

[2020-11-05 11:19] geoffj-FUG commented on #879
The instructions are now included in the latest version of the Full Handbook on test3.
Geoff

[2020-11-05 11:27] geoffj-FUG commented on #1003
Denise

I see no problem.

Rhoda has been preparing a transcription from some Somerset images using the Abbreviated Handbook as a guide. A couple of items have been clarified in the Handbook following Rhoda’s feedback. These are included in the November version on test3.

There is a section in the Full Handbook that covers some Data Manager functions. These have been tested and the procedures writ

[2020-11-05 12:02] geoffj-FUG commented on #834
Kirk
@johnt-freecen has asked: Has any thought been given to converting a VLD file into the new format of file to be re-loaded into FreeCen2? Otherwise we will need to continue with the parts of the old system to handle corrections to the VLD files when we have a user correction to make. Steps in the procedure would need to be Download existing file, correct records in file, re-Incorporate file.
G

[2020-11-05 12:12] Sherlock21 commented on #1035
Been away for a couple of days, so only just got started.
and of course I wrecked Test2 at the first chance!

I decided to look up Location of a place name.

chose DEV / Sidmouth which I clicked on in the alphabetic list of Active Places.
Got this. (  repeated the test and got the same)

SO I have stopped - Eric B

[2020-11-05 13:17] Sherlock21 commented on #1035
Kirk
forget the item below.

I had not realised I had to swap the url to CEN

will have another try later when I am back from garage.\Eris

On 5 Nov 2020, at 12:12, Eric Booker <ericbooker8@gmail.com> wrote:

Been away for a couple of days, so only just got started.
and of course I wrecked Test2 at the first chance!

I decided to look up Location of a place name.

chose DEV / Sidmouth which I clic

[2020-11-05 16:01] Captainkirkdawson opened #1036 "Copy of failure reports sent directly to the webmaster"
When CSVProc or any rake task fails a copy should be sent to the webmaster

[2020-11-05 16:03] Captainkirkdawson opened #1037 "Add some extra text in the failure email explaining that the diagnostic information should be forwarded to the webmaster"
(in case the direct copy did not get through for some reason)

[2020-11-05 16:05] Captainkirkdawson opened #1038 "Add a check at the start of the incorporation task to trap a missing place link before starting the incorporation"

[2020-11-05 16:42] Sherlock21 commented on #1035
Kirk

ignore this one please.!

the other email with the Error details still stands
EB

[2020-11-05 17:14] Captainkirkdawson commented on #834
@geoffj-FUG @johnt-freecen There is a short answer, yes because we wrote this story and no because there has been no action on it since to move forward we have to have the CEN2 infrastructure working first. But it is likely getting time to moving this forward.
The initial thought is that we write a task that downloads the file in an appropriate CSV spreadsheet format and from there on it is no dif

[2020-11-05 22:22] SteveBiggs commented on #1035
Eric, it is unclear to me what actions you took and your error does not show up in your post.

Please detail precisely what action buttons you pressed and what error you saw.

[2020-11-05 22:24] geoffj-FUG commented on #834
Kirk

The FreeCEN2 Traditional format aligns with the vld format pretty well. If we can make these 2 files fit together we can use our existing processes.

Geoff

[2020-11-05 22:35] Captainkirkdawson opened #1039 "add alternatives to the drop down list of place names for district, piece and parish edits"
E0  3 S6 C6: P15

[2020-11-06 00:13] Captainkirkdawson commented on #1035
The problem @Sherlock21 was having was looking at an active place in devon called sidmouth. The system crashed. I was able to duplicate and fix.
Actually it was nothing to do with the actual code base at all but a configuration setting on development that raised an error when it could not find a file. Normally we ask the server to respond with a nil and our code works around the problem.
I have ch

[2020-11-06 00:13] Captainkirkdawson commented on #1037
Changes made and deployed to test3

[2020-11-06 00:14] #1037 closed, assigned to nobody

[2020-11-06 00:14] Captainkirkdawson commented on #1036
Deployed to test3

[2020-11-06 00:14] #1036 closed, assigned to nobody

[2020-11-06 00:15] Captainkirkdawson commented on #1038
Fix deployed to test3

[2020-11-06 00:15] #1038 closed, assigned to nobody

[2020-11-06 09:36] PatReynolds commented on #771
Found in product backlog, should be closed so closing (oddly when story opened in new tab, already shows as closed  - Sorry, wrong story, moving this  back to product backlog.

[2020-11-06 09:43] PatReynolds commented on #771
Hi Denise, Is this now needed, as new transcribers shortly will be started on FreeCEN2 tools.

[2020-11-06 09:43] PatReynolds commented on #483
Still needed?  Story needs changing?

[2020-11-06 09:48] PatReynolds opened #1040 "Onboarding Materials for New Transcribers (FreeCEN2 system)"
Epic created to cover the essentials needed before new transcribers can be onboarded to FreeCEN2 transcription rather than FreeCEN1 as at present (6/11/2020).

[2020-11-06 10:01] PatReynolds opened #1041 "Create 'worked example' of FreeCEN2 transcription to send to new volunteers"
This is to preceded the tailored (actual piece) as is sent at the moment.  Nice clear handwriting!

@DeniseColbert to ask John Topliss for an England example, possibly Margaret for Scotland??

E0 U6 S8 C7: P21

[2020-11-06 10:43] DeniseColbert commented on #1003
Great!

[2020-11-06 19:15] Captainkirkdawson opened #1042 "Write process for Data Manager to add place name spreadsheets"
Need to write process for uploading the file and submitting the rake task

E0 U6 S8 C6: P20

[2020-11-07 10:24] geoffj-FUG commented on #879
As we set up the new system we have a need to identify the pieces that have a parish(es) in a different county. As a Coordinator I know which pieces are the problem pieces in my County. But this is not necessarily always the case.
There will be a definite need to identify the relevant pieces. Short of going through every piece in England and Wales is there any method of identifying these pieces? I

[2020-11-07 23:56] Captainkirkdawson commented on #1035
@SteveBiggs @Sherlock21 I have confirmed that the site does exactly the same thing running the master code. Suspect it is a result of the trapping of communications from test2. The logs tell me that the download file si prepared.
Do not believe this is an issue that should stop us deploying the master code with the CEN2 code changes.
Thank you both.

[2020-11-08 14:20] Sherlock21 commented on #1035
OK, I go with your proposal.

you have a better grasp of the overall picture than I do.
Eric B

[2020-11-08 16:17] #879 closed, assigned to Captainkirkdawson

[2020-11-08 16:19] Captainkirkdawson opened #1043 "Identify those districts/ pieces and civil Parishes that need to be duplicated in another county."
As we set up the new system we have a need to identify the pieces that have a parish(es) in a different county. As a Coordinator I know which pieces are the problem pieces in my County. But this is not necessarily always the case.
There will be a definite need to identify the relevant pieces. Short of going through every piece in England and Wales is there any method of identifying these pieces? I

[2020-11-08 16:21] Captainkirkdawson commented on #879
Geoff that is a new story
Identify those districts/ pieces and civil Parishes that need to be duplicated in another county.#1043

[2020-11-08 16:59] PatReynolds commented on #921
Thanks, @DeniseColbert

[2020-11-08 20:39] Captainkirkdawson commented on #1032
Have added code to test2 that adjusts the count of warning messages during correction when validating.
Irrespective of this the coordinator should always reprocess the file at the end of validation and before incorporation

[2020-11-08 20:59] Captainkirkdawson commented on #1043
@geoffj-FUG I was under the impression that the coordinator should know where boundary conditions exist. The extraction of the information you seem to be seeking is hard to envisage at this time.
We already run a test for a valid place name for district / piece and civil parish which is what formed the basis of story
Complete linkages from Freecen2 Civil Parishes to Freecen2 Places #951
We current

[2020-11-09 01:46] #760 closed

[2020-11-09 01:48] Captainkirkdawson commented on #951
Need to ensure that coordinators are aware of their need to clean up the linkages

[2020-11-09 01:50] Captainkirkdawson commented on #1029
Revised process
Step 1. Merge copy of current branch into copy of Master

Step 2. Test basic running of master copy on test2 freeCEN
  sudo bash /root/bin/update-freecen2-development
  After fetching remember to do a bundle install

Step 3. delete all freecen2 collections
  db.search_records.deleteMany({freecen_csv_entry_id:{ $exists: true}}) # this takes quite a while
  db.freecen_csv_entries.dro

[2020-11-09 02:07] geoffj-FUG commented on #951
Kirk

That is part of the Newsletter that is scheduled for week commencing 16 November. The detail is scheduled for week commencing 7 December so that nobody starts trying to do things whilst you are setting up the system.

Geoff

[2020-11-09 12:19] PatReynolds commented on #847
Suggest button title  'County Coordinator' is replaced by 'County Information'  (Systemwide?)
'Syndicate coordinators'  needs Transcriber Agreement removing (Systemwide issue). Just a duplicate of 'county coordinator'?

Suggest removing Transcriber Agreement accepted from 'Country Coordinator'  (Systemwide)

'Manage Counties' seems to be CSV proc information for all volunteers - suggest combining

[2020-11-09 12:24] PatReynolds commented on #758
Covered in #847?

[2020-11-09 12:27] PatReynolds commented on #606
Is this still valid, or has it been addressed with other developments?

[2020-11-09 15:09] Captainkirkdawson commented on #758
Not DT Explain 'syndicate' fand 'county' in documentation #847

[2020-11-09 15:12] Captainkirkdawson commented on #606
Still valid; maybe even more so

[2020-11-09 16:36] Captainkirkdawson commented on #847
@PatReynolds
Please remember that county coordinators, country coordinators and syndicate coordinators are restricted to senior managers only. The term coordinator was used to distinguish from the Manage Counties, Manage Syndicates actions.

If the Transcriber Agreement action is to be removed from either of the county/syndicate management actions it should be removed from the county coordinator.

[2020-11-09 17:04] #829 closed, assigned to PatReynolds

[2020-11-09 17:07] #1032 closed, assigned to Captainkirkdawson

[2020-11-09 17:09] #998 closed, assigned to PatReynolds

[2020-11-09 17:10] #483 closed

[2020-11-09 17:11] PatReynolds commented on #847
Pat to look on Test2

[2020-11-09 17:19] PatReynolds commented on #758
@PatReynolds to check story referred to.

[2020-11-09 17:39] PatReynolds commented on #1043
Possibly use the work of the  FreeBMD District aliasing team?  @PatReynolds to ask the team

[2020-11-09 17:49] PatReynolds commented on #1034
@PatReynolds to think about this - who should be asked / UX

@DeniseColbert to look at feedback on this issue

[2020-11-09 21:08] geoffj-FUG commented on #1031
Pat

The cutover version of the Handbook has this included.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Tuesday, 10 November 2020 3:59 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: [FreeUKGen/FreeCENMigration] Geolocate the Hundreds and Wapentakes of the 1841

[2020-11-11 10:48] geoffj-FUG commented on #803
Kirk
Is there any way of knowing which invalid Chapman Code(s) belong to each of these files please?
Geoff
rg122720.vld DBY 1891 Shardlow 2720
HS410879.VLD KKD 1841 RERRICK 879
RG093137.VLD LAN 1861 Preston 3137
RG103297.VLD LEI 1871 Waltham 3297
RG122590.VLD LIN 1891 Lincoln 2590
rg092721.vld LAN 1861 Everton 2721
rg092827.vld LAN 1861 Bolton Eastern 2827
rg092666.vld LAN 1861 Dale Street 2666
rg

[2020-11-11 15:37] Captainkirkdawson commented on #803
@geoffj-FUG See my comment of Mar 20 for the linkage.
The problem is apparently caused by  there characters being dropped in a record. Since these are fixed length records VLD if you drop characters every field gets mixed up   If you look at my post of Feb 20 it appears as if 2 characters are dropped prior to the Surname field.

[2020-11-11 16:17] Captainkirkdawson opened #1044 "Current VLD load process"
When we move over to FreeCEN2 there will be a number of FreeCEN1 validated files that will need to be loaded via FreeCEN1 as is done at the moment.

Brenda has given me an overview of the process:

I only add them to a Dropbox folder. But they have to be in particular order.

1. I have a folder in DROPBOX ( still called Dave Mayal)

2. In my H Drive (Mass storage USB) I have a folder for each year

[2020-11-12 05:30] geoffj-FUG commented on #803
Kirk

I spent about 3 hours last night trying to find the error by visually examining every line in the spreadsheet version of a vld file (converted from vld).

I copied and pasted the records for the parish concerned into a FreeCEN2 traditional spreadsheet and uploaded it and there was no error reported. To me that means that the problem has been cleaned out? (That is a presumption).

If that is