[2018-08-16 10:54] smrr723 opened #519 "undefined method `id' for nil:NilClass [Feedbacks#new]"
See exception on errbit - https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5b73f5d5e9379056f2d2e6e4

[2018-08-16 10:55] smrr723 opened #520 "Mongo::Error::OperationFailure [rake#build:delete_search_queries]"
See exception on errbit - https://errbit.freeukgen.org.uk/apps/5b633174e937903f2020c695/problems/5b639711e937906323369785

[2018-08-17 18:32] smrr723 opened #521 ""Help" link on Navbar points to the wrong URL"
"Help" on the navbar points here, which is blank - https://freecen2.freecen.org.uk/cms/information-for-coordinators

**Action**: Change link to point to https://freecen2.freecen.org.uk/cms/help

[2018-08-29 09:41] smrr723 opened #522 "Error when updating country coordinator"
undefined method `empty?' for nil:NilClass - error given on errbit -
https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5b73f57de9379056f2d2e6de

Related to #503

[2018-08-29 09:43] smrr723 commented on #503
@FreecenBren I get the same error - so it looks like a bug.  Have created a separate issue #522 to fix the bug first.

[2018-08-29 14:26] PatReynolds commented on #377
Pat to circulate draft, Alison to add links to other help pages.

[2018-08-29 14:26] richpomfret commented on #521
It does point to the right page, however it is placeholder and does not yet contain required info/links. Shall keep this story but change the title - please remove if it's a duplicate.

[2018-08-29 14:32] richpomfret commented on #521
Closing.

[2018-08-29 14:32] #521 closed

[2018-08-29 14:43] richpomfret commented on #426
Ready to be deploye.

[2018-08-29 14:44] PatReynolds commented on #508
Pat to circulate other options blog

[2018-09-03 15:49] #111 closed

[2018-09-03 15:49] #426 closed

[2018-09-03 18:55] DeniseColbert opened #523 "Provide more info on 'Status' column"
From FUG contact form:

On FreeCEN would it be possible to have a key to the status column. I guess M=married, S=single, W=widowed, but I can't guess what U stands for or what it means when there's a "-" in the column. Thanks for the brilliant website.

[2018-09-10 11:30] smrr723 commented on #505
@FreecenBren implemented on test2.

[2018-09-10 11:42] smrr723 commented on #475
@PatReynolds / @richpomfret  easy to implement, just need clarification on the below.

Currently, the analytics cookie is either stored, or it isn't, depending on the choice made. Are we proposing to just make their IP anonymous rather than deleting their analytics cookies, if they turn off the analytics option?  If so, will probably need to include text changes on the cookie page to explain we ar

[2018-09-10 14:40] richpomfret commented on #490
Standardise smallest to largest place. To discuss with coords and establish which may be preferable.

[2018-09-10 14:55] PatReynolds commented on #488
@PatReynolds to move comments re OVB to other story, and to write out some examples of  censuses, where the use of Chapman code is innapropriate

[2018-09-11 10:27] PatReynolds commented on #489
Comments posted on a different story, moved here:
Pat 11/7/2018 : Possibly remove OVB except for where person is stated to be British? Possibly remove OVB except for where country is known to be a British colony/dominion at the time of birth - or leave this for a Validation task?
Brenda replied same day: I would say that 90%+ of OVB are transcribed because the Enumerator added
the words British Su

[2018-09-11 14:44] PatReynolds commented on #258
Include trialling matched content.

[2018-09-12 00:09] smrr723 commented on #506
Have made the banner ad on test2 responsive - to be tested and compared to what we have on live. Also needs tested with/without adblock, alongside issue #395

If the above looks ok, I'll add the same functionality to the other site ads.

Note: a minor annoyance is that Google doesn't appear to support 'hot-reloading' of the ads if the window is resized after they load, i.e. they are only responsiv

[2018-09-12 00:16] smrr723 commented on #395
Hey @DeniseColbert - have put a banner ad (header) based on your designs up on https://test2.freecen.org.uk/ for testing (alongside Issue #506).  If this looks ok, I'll go ahead and add the same to the other ads, so let me know what you think!

I also noticed that our message with a white bg, or any ads which show with white bgs don't stand out very much, so have added a small CSS box-shadow on th

[2018-09-12 08:36] PatReynolds commented on #506
If you narrow the window (e.g. so you can see two pages side by side, you get this:
![image](https://user-images.githubusercontent.com/6338822/45412751-5f390e80-b66f-11e8-9620-1631cb09404c.png)

[2018-09-12 08:41] PatReynolds commented on #506
No advert showing on my mobile.

I'd expect it to come below the logo (which takes up the whole width of the screen - even 'menu' appears over the top of it.  Advertisement DOES appear right at the end.

[2018-09-12 14:04] smrr723 commented on #494
Have found what appears to be the cause here, after looking into the IP Anonymisation issue.

The line `ga('send', 'pageview');` is wrongly placed, and as a result, it's being fired 4 times when a user visits and accepts the cookie policy.  It should only be getting fired twice - once for the first page visit, and again on the page reload after they accept the cookie policy.  This explains the 4 x

[2018-09-12 14:27] #473 closed

[2018-09-12 14:45] richpomfret commented on #395
To fix the issue with the donate ad appearing prior to the advert. To experiment with the box shadow and see if there is a flat alternative which still makes it standout.

[2018-09-12 14:52] DeniseColbert opened #524 "Rotate 'ad' messages"
Needs #395
Economic 4, Urgency 3, Strategy 3, Cost 7: P=17

[2018-09-12 14:56] richpomfret commented on #508
Now signed up to Amazon. Blog circulated.

[2018-09-13 10:45] PatReynolds commented on #387
Contacted Wikitree, Family Tree Maker and Evidence Explained 13/9/2018

[2018-09-13 13:06] smrr723 commented on #424
@PatReynolds assume the requirements for this are identical to FR but if not, just let me know!

[2018-09-13 13:46] PatReynolds commented on #424
Yes, identical.

[2018-09-14 11:06] smrr723 commented on #424
I have this currently live on test2, although the limited data on our test sites gives zero in most columns - https://test2.freecen.org.uk/userid_details/transcriber_statistics , but you get the idea.

Will now proceed with the production update so updated stats should be live this evening.

Suggestions for a better/more thought out layout in a future version are welcome - I think a few rows for p

[2018-09-14 17:54] smrr723 commented on #424
This one (FC) is now live @PatReynolds - FR production update in progress.

[2018-09-14 18:32] smrr723 commented on #520
Looking into this, requires further looking into but the cause appears to be the scheduled rake task which clears search queries is taking too long to process because it's trying to do them all in one go.

It looks like the task has a parameter allowing you to limit the number of queries to clear per run, so this might be a possible solution.

[2018-09-17 10:31] PatReynolds commented on #475
I am not sure (@richpomfret can you confirm?) Current text:
We use Google analytics in order to help us understand how the site is used and to help guide improvements.
The text for the cookie page would then need to add: 'if you choose not to share personal data Analytics will anonymizes your address'.
and then in the analytics section:
We use Google analytics in order to help us understand how th

[2018-09-19 08:09] richpomfret opened #525 "Export search stats to csv"
The ability to export search stats would be very useful - particularly for comparing to google analytics.  This could be a weekly dump to a csv file somewhere.

[2018-09-20 10:37] PatReynolds commented on #508
Draft of new FC1 homepage: https://docs.google.com/drawings/d/1St3vAXSTIpYaa6X8sJkFOBCKeyLtkJCf6fFHWWjzuz0/edit?usp=sharing

[2018-09-20 11:04] PatReynolds commented on #508
Other places proposed for adverts (in order of priority)
* Search page - suggest no additions
* Search results page - suggest below the previous and next household buttons.  Also probably need to add aadditional 'new query' and 'return to query' buttons above advert, as well as retaining them higher up the page.
* https://www.freecen.org.uk/statistics.html above the table (probably an Amazon banne

[2018-09-20 13:01] PatReynolds commented on #508
Hi Brenda,
The bottom of the page will remain unchanged (from Search the database, etc, on down).

[2018-09-20 13:54] FreecenBren commented on #508
Thanks that is good to know

On Thu, 20 Sep 2018 at 14:01, PatReynolds <notifications@github.com> wrote:

[2018-09-23 09:44] PatReynolds commented on #394
Sent out invites 23/09/2018.  I will make  Denise, Rich and @FreecenBren managers when they have accepted their invitations.  I've sent an email to the helpers list, Brenda - could you un-embago it, please?

[2018-09-24 12:01] smrr723 commented on #506
A couple of things on this - creating a custom solution to refresh the ads upon page resize is apparently against Googles terms of service, ad it could artificially inflate ad views.  The other thing is that actual page resizing in the wild is a very rare user behavior.

For these reasons, the best solution going forward is just to set the ad to just not display if a user does resize the window, w

[2018-09-24 12:03] smrr723 commented on #395
Have tested a solution to delay the adblock message load by 2 seconds, which seems to allow adsense enough time to load and display.  Will put on test2 shortly.

[2018-09-24 12:13] smrr723 commented on #511
Ad Managers' delivery tools seem to be for inspecting delivery of Adwords ads, as far as I can tell, so not much use for diagnosing the Adsense issue on this FC2 page, unfortunately.

[2018-09-24 14:16] richpomfret commented on #524
Can you add more info into this story?

[2018-09-24 15:30] DeniseColbert commented on #524
Sorry - I linked the wrong story.

This is to (once #396 is done) have it so that the 'ads' rotate i.e. users don't see the same one twice in a row.

[2018-09-26 14:22] PatReynolds commented on #394
Invites don't seem to have gone out ...
I've sent another email to the helpers list letting everyone know that.
Brenda - could you  un-embargo it, please?

[2018-09-26 14:27] FreecenBren commented on #394
You are not embargo now as I released it the other day.

Brenda

On Wed, 26 Sep 2018 at 15:23, PatReynolds <notifications@github.com> wrote:

[2018-09-26 14:32] #505 closed, assigned to smrr723, FreecenBren

[2018-09-26 14:47] richpomfret commented on #424
Still not tracking yet. Working on FR (oddly as code is identical).

[2018-09-26 15:05] PatReynolds commented on #515
See #508 for draft layout.

[2018-09-26 15:58] smrr723 commented on #424
Specifically, the old field of "Total number of transcribers who accepted Transcription Agreement	" is still set to 0, and as a result, the newly added, related rows for this story are showing zero.

[2018-09-26 19:55] DeniseColbert commented on #367
Pre-made banners are in the drive:
https://drive.google.com/drive/folders/1Mr1Zp1nSQMd_kp0xxF44jA1HIET6FhbF

[2018-09-28 09:00] smrr723 commented on #395
Added the Adblock BG to other responsive ad units and tested as much as possible - currently on test2, with Issue #506.

Only the box ad on volunteering opportunities page remains as I'll have to make these edits in Refinery, on production.

[2018-09-28 09:05] smrr723 commented on #506
Have also tested this as much as possible on test2, on all banner ad units, which should now show on tablet devices and smaller laptops. Logo positioning on mobile also corrected.  On test2 with #395 currently.

The volunteering opportunities box ad will be changed on production, as it's in refinery.

No good solution for refreshing ads upon resize at the moment, but won't affect very many users a

[2018-09-28 10:38] helhyde commented on #394
Thanks, Brenda

Best wishes,

Pat

Executive Director, Free UK Genealogy

On Wed, 26 Sep 2018, 15:28 Brenda, <notifications@github.com> wrote:

[2018-09-28 10:50] smrr723 commented on #424
Found the reason for the existing error on this page - the code was identical to FR, but shouldn't have been, as the `userid_details` model on FR is slightly different.

FR users have two fields - `:new_transcription_agreement` and `:transcription_agreement`, whilst FC users only seem to have the latter, but the code was written to pull from the non-existing `:new_transcription_agreement` field.

[2018-09-28 10:58] smrr723 opened #526 "Add URL channels to Adsense & link Google Analytics Account"
Suggestion to add URL channels to our adsense account, for page specific tracking, and also to link our Google Analytics account with adsense, for same reasons.

Currently, we can see how each individual ad unit is performing, but not by a clear breakdown of page.

This would be particularly useful for Issue #511 so we can compare a pages' performance against another's, and make appropriate change

[2018-09-28 12:42] smrr723 commented on #526
Have added new channels to track different pages in FC2.  Google Analytics still to be linked, after some discussion.

[2018-10-01 11:14] richpomfret commented on #476
Collecting IP address is also considered PII. We have sufficient stories to now cover this e.g. IP anonymisation. Review has been completed so now closing. See here for further info: https://support.google.com/analytics/answer/6366371?hl=en and https://support.google.com/adsense/answer/6156630

[2018-10-01 11:17] #476 closed

[2018-10-04 15:03] PatReynolds commented on #511
Multiple repetition of identical adverts seems to be how it works if our content is attractive to only a small number of advertisers: https://support.google.com/adsense/answer/32843?hl=en-GB

[2018-10-04 16:38] smrr723 commented on #508
Layout & Amazon Ad Units for this are covered @PatReynolds, thanks.

The only thing I need is a pointer on where I can find documentation for contributing to FC1 since it's completely different to FR & FC2.

This is the only technical page I've been able to find - https://www.freebmd.org.uk/addons/wincvs/cvs.html but I assume there is more than that somewhere @richpomfret ?

[2018-10-05 10:46] smrr723 commented on #508
@lemon-ukgen - I remember you mentioned that there was a minimal README file somewhere for contributing to FC1, but I can't find it on the server at all. Any ideas where it would be?

[2018-10-08 14:16] PatReynolds commented on #524
Maybe use a different not-an-ad in each ad space, so that there is variety, and from time to time swap change the ones in the most seen positions.

[2018-10-10 14:43] richpomfret commented on #395
Still flashes up with the donate prior to the advert clicking in. Let's explore alternative ways to check if the advert is loading or not. Still requires hyperlinks (ideally too).

[2018-10-10 14:55] PatReynolds commented on #392
Tests in progress on FreeCEN1, to do on FreeCEN2

[2018-10-10 14:59] richpomfret commented on #394
Invite test works ok. Shall send out full invite to everyone else.

[2018-10-10 15:01] richpomfret commented on #387
Sounds like we are now ready to make any final adjustments and then push live.

[2018-10-15 16:30] PatReynolds opened #527 "1.2 Quality Control"

[2018-10-15 16:53] PatReynolds opened #528 "22 P - Coordinators can add an amended piece on-line"

[2018-10-15 17:17] PatReynolds commented on #527
Duplicate #84

[2018-10-15 17:17] #527 closed

[2018-10-16 09:40] PatReynolds opened #529 "County coords can access all/active/specific places in their county. Add/Edit information about the Place."

[2018-10-16 09:42] PatReynolds opened #530 "22 P - Coord can review and correct errors and contents of pieces/vlds"
Needs #361
#36 merged into this story

[2018-10-16 10:04] FreecenBren commented on #195
Update.
Richard has done all the PARMS using the NA as Doug described.
I am in the process of editing them as one column has only 21 digits to use
so some places have to be reduced to fit.
There should be some ready to send to Lemon hopefully in the next few weeks.
There are quite a few of them.
In fact Richard did everyone for all the Census Years including 1881 that
are not as yet on the databas

[2018-10-16 15:07] PatReynolds commented on #424
How do I access these, @smrr723 ?

[2018-10-16 15:16] PatReynolds commented on #392
Test started on FreeCEN2  Responsive ad 16/10/18

[2018-10-17 09:29] PatReynolds commented on #138
Although this is planned for phase 1.4 (i.e. after search features on FC2 are as comprehensive as those on FC1, it occurs to m that we might want to flip now, and have the citation generator permanent urls be of the "www.freecen.org.uk" format, rather than as 'freecen2.freecen.org.uk' format - the reason being (a) saves a bit of effort to do once, rather than do and change, but mostly because the

[2018-10-17 09:35] PatReynolds commented on #387
@sudaraka94 asked about final adjustments via email and slack  17/10/2018

[2018-10-19 14:41] PatReynolds commented on #165
I have drafted a document on 'how to solve the London issue' - https://docs.google.com/document/d/1Ng6nIm089tBdNB-npsHj5DB_cpORg3VbD-LsDDrPXYA/edit?usp=sharing  comments and thoughts, please.

[2018-10-22 09:02] PatReynolds commented on #176
No longer needed - will be done online.

[2018-10-22 14:07] PatReynolds commented on #138
Agreed - make the switch (but keep content as it is now, until all transferred to FreeCEN2

[2018-10-22 14:10] PatReynolds opened #531 "Information about place"
Define what 'information about place' is wanted.

Needed by #529 (remove if #529 is removed).

[2018-10-22 14:12] PatReynolds opened #532 "22 P - Coords can add an amended ED on line"

[2018-10-22 14:48] PatReynolds opened #533 "22 P - Coord can amend Place metadata (PARMS)"
needed by #361

[2018-10-22 14:49] PatReynolds opened #534 "22 P - Coord can ammend non-place part of validation"
needed by #361

[2018-10-23 14:28] PatReynolds commented on #246
Follow up email 23/10/2018

[2018-10-23 14:31] PatReynolds opened #535 "Create Cord Status pages structure and pages"
Move https://www.freecen.org.uk/project.htm and status pages to FC2

[2018-10-23 16:34] PatReynolds opened #536 "Coord can update their progress page"
Needs #353

[2018-10-24 10:24] PatReynolds opened #537 "Link to freecen1 from freecen2 homepage"
Needs to be ready in time for the update to make FC2 the main site.

NB not a refinery task

[2018-10-24 14:46] richpomfret commented on #165
@FreecenBren to have a look.

[2018-10-24 14:51] #85 closed

[2018-10-24 15:03] #176 closed

[2018-10-24 15:11] richpomfret commented on #526
@smrr723 anyupdate on this?

[2018-10-24 15:17] PatReynolds opened #538 "23 P - FC2 Replace search page bottom Adsense with Amazon advert"
FC2.

[2018-10-24 15:24] PatReynolds opened #539 "Put the last updated date on FC2"
Either - use FR code to do this, or do it manually on refinery - until the new transcriptions go to FC2 rather than FC1

Economic 1, urgency 2, strategy 5, cost ?5 Priority 13

[2018-10-26 16:31] richpomfret commented on #506
Banner ads look good on test2. No advert appearing at all (the box ad) on the volunteering page (768 x 1024 in 'ipad' mode), so this story should remain open until the necessary change has been made. Also appears to be a non-appearing box ad on the Help page, scroll down and it is on the right.

[2018-10-31 10:57] smrr723 commented on #526
Slight issue with this.  I didn't realise we had a separate analytics account for each of our websites.  Adsense only allows you to link one account at a time - and at the moment our FreeBMD analytics account is linked to our FreeCEN adsense account, which makes no sense.

I'll have to firstly unlink the BMD account, which I seem to have permissions to do.  What I don't have permission to do is to

[2018-10-31 11:46] PatReynolds commented on #526
Hi @smrr723 I am not sure what you mean by 'linked'.  Each site has its own code, and is separately managed through one institutional dashboard.  I've added permissions to FreeCEN (1) for you.

[2018-10-31 12:13] smrr723 commented on #526
Hi Pat - by 'link' i mean the ability to link the Adsense account of a website to its equivalent Analytics account (as mentioned in this story title), which will give us increased insights.

And thanks - that seems to have worked for FC1 but it's the FC2 one I need at the moment.

P.S. At the moment we also seem to have FC1 & FC2 websites bundled together in one Adsense account, but separated into

[2018-11-01 17:37] PatReynolds commented on #526
Thanks for the explanation.  I have given you permissions on the FC2 analytics account.

[2018-11-02 11:48] PatReynolds commented on #445
Draft Refinery page for review: https://docs.google.com/document/d/1SpGhDHuH_INIjozIeyRDT8Xe4S71jA758aolbVr_wAE/edit?usp=sharing

This will be linked from search page.

[2018-11-04 19:22] #484 closed, assigned to smrr723, richpomfret

[2018-11-05 10:52] smrr723 commented on #526
Thanks, Pat.  That's Analytics & Adsense for FreeCEN1 & 2 linked, as of last week.  Hopefully, it'll give us some useful revenue insights over time.

[2018-11-05 15:14] richpomfret commented on #539
This would be for any general update/additions to the database rather than a date per spcific record.

[2018-11-05 15:38] richpomfret opened #540 "FC1 - how to users search"
Find out how many people are using the various search options on FC1 e.g. can we use analytics to record what options are being selected or will this need to be done in the backend?

[2018-11-05 15:42] richpomfret commented on #535
Once it has been moved, we update this back on FC1 (or remove it entirely).

[2018-11-05 15:45] richpomfret commented on #536
To define which fields need to be updated. Eventual mock-up after input from coords.

[2018-11-05 16:09] smrr723 commented on #424
@PatReynolds - https://freecen2.freecen.org.uk/userid_details/transcriber_statistics

When logged on go to `Your Actions > Manage UserIDs > Transcriber Statistics`

[2018-11-05 16:12] smrr723 commented on #540
I think this can be done with Analytics, via Tag Manager - some info here but need to research it more - https://www.analyticsmania.com/post/google-analytics-form-tracking-guide/

[2018-11-07 10:56] smrr723 commented on #540
Can be done in Analytics but haven't tested it yet to see how much work is required.  Will give this a try after implementing tag manager as part of stories #494 & #475 on the deployment this week.

[2018-11-07 11:07] smrr723 commented on #475
Have tested this, first with plain analytics code and then with tag manager as a trial run.  Figured tag manager out and it's easy enough to run - so would like to add it in for all related stories.

On further reading, I would say we should just default to having everything for Analytics anonymized.  It makes us GDPR compliant, means we don't have to bother giving the user a choice for analytics,

[2018-11-07 11:12] smrr723 commented on #494
As discussed earlier, have a solution for this which uses and depends on implementing #475 to make things simpler.  Have basically had to scrap the existing Analytics cookie code in the end and just start over.

Will try to get the same solution on FR this sprint also.

[2018-11-07 11:50] smrr723 commented on #504
Tested this as part of other stories and would like to add it in soon, as I've figured it out now.  It's very easy for those with permission to change something (and therefore break something) on a site page, so we would need to agree on the correct process for changing stuff.

It doesn't have direct integration with Adsense but would be useful for Analytics and adding Analytics event tracking for

[2018-11-07 12:45] PatReynolds commented on #486
Emailed Brian 7/11/2018

[2018-11-07 15:50] #526 closed

[2018-11-07 15:55] #486 closed

[2018-11-07 15:57] richpomfret commented on #445
@DeniseColbert to also add this into feedback.

[2018-11-07 16:12] PatReynolds opened #541 "Announce change of Freecen url to FC2"
Put notice on FC1, announce on social media

Needed by #138

[2018-11-07 16:17] Vino-S commented on #508
Readme document sent  to @smrr723

[2018-11-07 16:17] #508 closed

[2018-11-08 12:08] smrr723 commented on #475
Since discussing with @richpomfret yesterday - the solution above which was to allow Analytics cookies whilst Anonymising the IP isn’t compatible with our strict GDPR strategy, due to some Ad features we have turned on (though not entirely sure this is correct).

@richpomfret - I can’t see a middle ground where we can choose not to set the “ad related part” of analytics cookies.  We either have An

[2018-11-09 13:43] richpomfret commented on #423
@AlOneill to review. We discussed how this text might also change depending upon user or transcriber type.

[2018-11-09 13:50] richpomfret commented on #377
@PatReynolds can you add the link here once the draft is ready?

[2018-11-09 17:16] richpomfret commented on #504
We need to keep in mind how tags play with cookie consent - do tags entirely replace our current GA code? There is 'some' info here in relation to how we ensure anonymous IP is switched on - https://www.en.advertisercommunity.com/t5/Google-Analytics-Code/IP-anonymization-in-Google-Tag-Manager/td-p/1688320

[2018-11-09 17:34] richpomfret commented on #494
I am unsure just how this might be adjusted or changed when considering Tag Manager - however, we DO want to trigger the anonymised IP for a user when they first visit the site - we also ensure any third party cookies (such as GA advertisement/marketing features) are deactivated with a flag set to 'FALSE' until the user explicitly consents - we can then fire it off just fine. Complexity lies in ho

[2018-11-09 18:00] richpomfret commented on #138
@PatReynolds any other essential tasks we may wish to complete before we do this e.g. ensuring Adsense/adverts are functioning correctly or Amazon is setup? I guess it would 'be nice' if we get the lovely citation generator feature live in time for this too - we can add it to the list of 'why you will love the new freecen' reasons to use it over FC1. :)

[2018-11-11 23:06] smrr723 opened #542 "Update the email text for new registrations"
The current email sent to new users states -

This results in members emailing Brenda if they do not hear from her within 24 hours.

**Suggested change -** change the text above to say "shortly (within 1-3 days)", AND/OR include some starter documentation/instructions to get the users started and give them something to do whilst awaiting the personal response from Brenda.

FYI @FreecenBren

[2018-11-12 10:55] FreecenBren commented on #542
It should actually say  something along these lines-
“You will also be shortly receiving an email with full details of how to transcribe for the project from the Coordinator who looks after your chosen County”.
Cheers

Sent from Mail for Windows 10

From: Scott Murray
Sent: 11 November 2018 23:06
To: FreeUKGen/FreeCENMigration
Cc: Brenda; Mention
Subject: [FreeUKGen/FreeCENMigration] Update the em

[2018-11-13 10:14] PatReynolds commented on #138
New URL channels will be needed on FC2 - @smrr723 may be best placed to set them up.  I don't think it matters for Amazon.

[2018-11-13 12:07] smrr723 commented on #138
Yes, easily done @PatReynolds once the domain has been changed over.

[2018-11-13 14:36] PatReynolds commented on #445
Draft now on test2, sub-page of System Documents (unless anyone can think of a better place? @geoffj-FUG @DeniseColbert do you have any comments?  How do I put a link from the 'landing page' to this page?

[2018-11-13 14:46] PatReynolds opened #543 "Update and make live the 'About' page"
Information about the drivers for change has been added on test3 - for expansion/correction and making live

E0 U3, S10, C7: P20

[2018-11-13 15:01] AlOneill commented on #543
Looking on test **2**, the markup needs some attention (no container for list items): will fix and then review other details.

[2018-11-14 16:39] smrr723 commented on #542
Thanks, Brenda.  Have added in your suggested text - will be in production code after next weeks update.

[2018-11-14 20:12] smrr723 commented on #522
Caused by .empty? check returning a NoMethodError so have replaced with .blank? and corrected a few other errors.

Fixed on test2 - will be deployed next sprint so should be able to remove `dougkdev` as Country Coordinator.

[2018-11-14 20:16] smrr723 commented on #503
Fixed bug #522 which was blocking this story, and removed dougkdev as Country Coord on test2 (replaced with CENManager account which goes to my email).

@FreecenBren you'll be able to update the Country Coord on production after the update next week

[2018-11-14 23:53] smrr723 commented on #494
If we do want to trigger the Anon IP for all new users then that makes things easier. I've gone ahead an set up a Tag Manager account for FC2 with `anonIP: true` by default.  This will anonymize their IP stored in the default analytics cookies that gets created on the first visit.

I've removed the Analytics code and replaced it with Tag Manager code - so I'll make another production update shortl

[2018-11-14 23:57] smrr723 commented on #475
Ref my last message in Issue #494 - I will go ahead with IP Anonymisation via the Tag Manager implementation. This has to be done in production, so will give this a trial run this week.

[2018-11-15 00:01] smrr723 commented on #504
Yep - the tag manager code entirely replaces our GA code.  Fields like `anonIP` can then be set on or off from the Tag Manager Admin control panel, which I have set by default.

Have gone ahead and created a FreeCEN2 container in our Tag Manager account - so will give it a run for stories #475 & #494 over the next few days.

[2018-11-16 09:03] PatReynolds opened #544 "Transcriber can identify which records they transcribed"

[2018-11-17 01:56] smrr723 commented on #515
Added my version of this to live.

Separate issue, but I noticed on FreeREG, FreeUKGen and FreeBMD where we advertise each of our other websites, none of them are linking to FC2 - all point to FC1.  Should we not be pointing users to the newer site?

[2018-11-17 01:57] smrr723 commented on #516
Amazon ad now on live.

[2018-11-17 01:59] smrr723 commented on #514
Updated the layout and pushed the volunteering text below the "Search Database" and amazon ad.  Now on live.

[2018-11-17 02:02] smrr723 commented on #513
Seems to be an issue with the FC1 production site not picking up the folder with the CSS files, but works fine on `test.freecen.org.uk` for some reason.  Have embedded the CSS into the HTML file for now which fixed the white/unstyled banner issue.

[2018-11-18 09:33] PatReynolds commented on #515
Once we flip www.freecen.org.uk to FR2, all links will go to the correct site.  Except those pointing at freecen2.freecen.org.uk, which will need changing.

[2018-11-18 10:19] PatReynolds opened #545 "Add option to use 'smile' rather than clicking on a link"
Some people don't like clicking on adverts ... so for Amazon, could we suggest that, instead, they use the Smile link to buy?

See https://docs.google.com/drawings/d/1BqqWKLCXcF1tKxbe7snfMXFf5gdtdoUAi6zlFkdvQog/edit?usp=sharing for how it could look with advert displayed, and https://docs.google.com/drawings/d/1AYxjlw0N2CIwfa-Rju7dOwAC94saWpBnygOSkXQzobM/edit?usp=sharing without the advert

[2018-11-18 10:59] PatReynolds commented on #392
ADvert on FC1 search earned 19% more as image only - so chosen.

[2018-11-19 12:31] PatReynolds opened #546 "Adsense code showing up on FreeCEN2"
This had been sorted (was not there 13/11).... showed up again today (19/11) .

E0 U4 S8 C8: P20

[2018-11-19 14:12] DeniseColbert opened #547 "FreeCEN2 image on FC1 is out of alignment with the box"
![image](https://user-images.githubusercontent.com/19173257/48712221-23896a80-ec05-11e8-857e-3190e296be1a.png)

E3 U3 S9 C8: P23

[2018-11-19 14:52] smrr723 commented on #547
What browser (& version) / device are you using, Denise?  OK on Chrome, Firefox and Safari for me.

[2018-11-19 15:07] DeniseColbert commented on #547
Chrome here. Version 70.0.3538.102 (Official Build) (64-bit)

[2018-11-19 15:17] richpomfret opened #548 "Set up new transcriber automated email"
Add in useful links and FAQ.

[2018-11-19 15:21] richpomfret opened #549 "Put out request for more coords"
Perhaps in newsletter?

Needs #377

E3 U3 S8 C8: P22

[2018-11-19 15:37] richpomfret commented on #547
Appears to be resolution related and not browser.

[2018-11-19 15:46] PatReynolds commented on #545
Link for logos and urls: https://www.freeukgenealogy.org.uk/about/pages/other-ways-to-help/

[2018-11-19 15:54] richpomfret commented on #544
Question over how we do this and how we might ask them to confirm what they have worked on.

[2018-11-20 23:18] smrr723 commented on #547
Should now be fixed @DeniseColbert

[2018-11-21 11:01] DeniseColbert commented on #445
I can't log in to test 2 to view. Raised a story.

[2018-11-21 11:02] DeniseColbert opened #550 "Can't log in to Test 2 Refinery"
![image](https://user-images.githubusercontent.com/19173257/48837516-800f9580-ed7d-11e8-8e7e-30e9313f6b79.png)

[2018-11-21 11:06] DeniseColbert commented on #453
Does this still need more info? I think we would need to offer a field that searches for the inputted word across the records?

[2018-11-21 11:07] DeniseColbert commented on #547
Yes, fixed. Thanks Scott.

[2018-11-21 12:14] PatReynolds commented on #246
Chased 21/11/2018

[2018-11-21 12:23] PatReynolds commented on #258
As this issue has multiple stories, I have reclassified as an Epic, and am ensuring all the stories mentioned exist.

[2018-11-21 12:26] PatReynolds opened #551 "Trial AdBalance FC1"
needed by #258

[2018-11-21 12:27] PatReynolds opened #552 "Add Amazon to FC2"
Needed by #258

[2018-11-21 12:27] PatReynolds opened #553 "Check AdBalance experiment on FC2"
Needed by #258

E3 U6 S7 C9: P25

[2018-11-21 12:28] PatReynolds opened #554 "24 P - Trial Matched content FC1 July 19"
Needed by #258

E3 U6 S7 C8: P24

[2018-11-21 12:29] PatReynolds opened #555 "24 P - Trial matched content FC2 July 19"
Needed by #258

[2018-11-21 15:13] richpomfret commented on #547
Looks good to me too.

[2018-11-21 15:30] richpomfret commented on #506
Looks like the ads are fixed on the Production volunteering page - not on TEST2 though.

[2018-11-21 15:39] #547 closed

[2018-11-21 15:39] #515 closed

[2018-11-21 15:40] #516 closed

[2018-11-21 15:44] richpomfret commented on #514
Closing - no longer needed.

[2018-11-21 15:44] #514 closed

[2018-11-21 15:47] #542 closed

[2018-11-21 15:49] #475 closed

[2018-11-21 15:50] #504 closed

[2018-11-21 16:04] richpomfret commented on #162
Closing - not needed.

[2018-11-21 16:04] #162 closed

[2018-11-21 16:05] #506 closed

[2018-11-21 16:30] DeniseColbert commented on #550
Yes to all apart from logging out and back in again. Will try that

[2018-11-21 16:37] DeniseColbert commented on #550
Did that, no joy

[2018-11-21 16:48] FreecenBren commented on #522
Done

On Wed, 21 Nov 2018 at 15:46, Rich Pomfret <notifications@github.com> wrote:

[2018-11-26 11:35] PatReynolds commented on #541
@DeniseColbert can you announce in Newsletter please, and put a 'something coming soon' on social media this week (or to go on sm while you are away?)

[2018-11-26 11:36] PatReynolds commented on #541
@Pat to announce to volunteers

[2018-11-26 15:17] DeniseColbert commented on #541
Do we have a timeframe? Will it actually happen when I'm away, or should I schedule a post for coming soon?

[2018-11-27 11:36] smrr723 opened #556 "undefined method `freecen_individual' for nil:NilClass"
Errbit error - https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5b8fe8a7e93790df64ef4fd0

[2018-11-28 10:29] PatReynolds commented on #541
Will check when the December newsletter will be out.

[2018-11-30 11:15] PatReynolds commented on #138
Speaking with Chris (newsletter editor) he suggests this is done in the 11/13 December release of FC1.  He will put out message to in his newsletter.

[2018-12-01 16:03] PatReynolds commented on #541
Emailed coords and transcribers 1/12/2018.
Chris will put in newsletter with full details after switch (anticipated for the December upload).

[2018-12-03 13:08] richpomfret commented on #394
Invites have been sent out. Will need to resend to those who have not accepted the invite/check our process for inviting new transcribers to the group upon sign-up.

[2018-12-03 15:15] richpomfret opened #557 "26 P --Transcriber google group mail list sign-up process"
Ensure new transcribers are invited to sign up to the mailing list/new google group as part of the process.

E0 U10 S7 C9: P26

[2018-12-03 15:17] richpomfret opened #558 "Send out invites for transcriber googlegroup"
Current invites will expire in a week - then send out another batch to those who did not sign-up.

E0 U6 S7 C9: P22

[2018-12-03 15:18] richpomfret opened #559 "Archive rootsweb transcriber group content"
Move across what we can or what might be useful for transcribers (old and new).

E0 U6 S7 C7: P20

[2018-12-03 15:34] PatReynolds commented on #507
Duplicate, so closing

[2018-12-03 15:34] #507 closed

[2018-12-04 14:34] PatReynolds opened #560 "Other places to change the URL"
* Information for Digital Inclusion trainers
* our websites

Needs #138

[2018-12-04 15:55] PatReynolds commented on #246
Find Ann moved to Acting Executive Director before my last letter, so wrote to the Business Unit (the address on their website for collaborations 4/12/2018

[2018-12-05 09:20] PatReynolds commented on #355
DRAFT Information for Transcribers (interim) now written. @FreecenBren and @AlOneill to check
DRAFT Fields in the FreeCEN1 spreadsheet in progress - some questions need answering.

[2018-12-05 09:40] PatReynolds commented on #433
Instrutions to transcribers say "Do not put a “.” after an abbreviated forename. "  So there may have been no Thos. to find

![Thomas abbreviations screenshot.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55c37263d9b190120013e30d/125516c66e82c728ace21e0d46dc9c952e8390e98eebbd51a14bf9953d4f287d3a44b0286280e626ac4a74154d435cec03070511afbd9b21b4b33821825d58e9d4685772c63411a

[2018-12-05 09:59] FreecenBren commented on #433
A difficult one as the instructions also say Type ‘as is’ and not  to
expand abbreviated names which suggests they use a full stop if one is
enumerated.
Needs to be clarified anyway.

I have a piece I am just finishing I will make sure there is a dot  etc.,
where applicable and see what the search picks up after it gets uploaded
next week.
 Just as a matter of interest and see what the search does

[2018-12-05 11:56] PatReynolds commented on #433
Thanks, Brenda.  It will be a good experiement!

[2018-12-05 15:10] smrr723 commented on #556
Completed & to be deployed this sprint.

[2018-12-05 15:10] smrr723 commented on #517
Completed & to be deployed this sprint.

[2018-12-05 15:11] #522 closed

[2018-12-05 15:35] #494 closed

[2018-12-05 15:41] richpomfret commented on #394
Shall also troubleshoot any people who have had issues joining..

[2018-12-05 15:56] PatReynolds commented on #377
Draft here: https://docs.google.com/document/d/1p2vGWunfRpnBxnIUeU_BZfnfGORDJ9wSm_V4yhkRGzg/edit?usp=sharing

[2018-12-05 16:01] richpomfret commented on #537
@PatReynolds to add in text for us to use.

[2018-12-05 16:02] richpomfret commented on #138
@lemon-ukgen what will be required on oyour side for this?

[2018-12-05 16:06] richpomfret commented on #91
Requirement for new system.

[2018-12-05 16:14] richpomfret opened #561 "Strategy for dormant helpers"
To review how we might look to nudge dormant helpers back or treat them differently to active helpers.

[2018-12-05 16:19] richpomfret commented on #557
To check and see if new transcribers can click on a link and request to be added to the new google group.

[2018-12-05 21:15] lemon-ukgen commented on #138
Mostly we shuffle the HAProxy configuration around so that `www.freecen.org.uk` lands on the `cen2_*` backends. We'll create a DNS record for `freecen1.freecen.org.uk` and use that for the `cen_*` backends.

Have we considered redirects on FreeCEN2 for FreeCEN1 URLs that people have bookmarked? Or just going with the 404 ("Missing Page") boilerplate?

[2018-12-06 14:19] PatReynolds commented on #138
Hi @lemon, looking at analytics, it seems that people start in a very limited number of places (landing page) and start new sessions (starting page)  in a very limited number of pages.  I think the cookie page is due to people not activating tracking until they've done so on the cookie page.  But we do need to ensure that freecen.org.uk/cgi/pl goes to freecen.org.uk (i.e. to the FC2 home/search pa

[2018-12-06 15:58] PatReynolds commented on #553
Experiment across both sites closes 11 Dec - then try on single sites

[2018-12-06 15:59] PatReynolds commented on #554
Experiment across both sites closes 11 Dec - then try on single sites

[2018-12-06 16:00] PatReynolds commented on #551
Experiment across both sites closes 11 Dec - then try on single sites

[2018-12-12 11:43] richpomfret commented on #541
@PatReynolds can you provide the 'notice text' for us to add onto FC1? I'll speak to Scott about putting that up today.

[2018-12-12 11:45] PatReynolds commented on #541
The URL (website address) of this website will shortly be changing to freecen1.freecen.org.uk.  The URL www.freecen.org.uk will go to the FreeCEN2 website - there will be a link back to this website.

Is that OK @DeniseColbert ?

[2018-12-12 12:02] smrr723 opened #562 "Change FC1 & FC2 URLs in Analytics Admin"

[2018-12-12 12:03] smrr723 commented on #562
Need to change the URLs of the FC1 & FC2 analytics properties, after the URL change is complete.

Process described here - https://www.monsterinsights.com/docs/change-domain-name-of-your-google-analytics-property/

Needs #138

[2018-12-12 12:06] PatReynolds opened #563 "Remove volunteer link from FC1"
Remove text on volunteering page ("How to Volunteer

You can contact the  individual COORD from the County list above.
Alternatively please contact Brenda Bowers") and replace with '"
To find out more about volunteering, and volunteer to help please visit the sign up page on FreeCEN2: https://www.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen"

Needed by #481

[2018-12-12 13:32] richpomfret opened #564 "FC2 Cookie Banner update"
As cookies will no doubt need to be refreshed upon the URL change (to check), this is an ideal time to:

a) move the cookie banner position from top of the screen to the bottom and

b) double the size of the banner (see freeukgen site as example).

[2018-12-12 14:03] DeniseColbert commented on #541
Yes that's fine I think

[2018-12-12 17:45] richpomfret commented on #541
Thanks @PatReynolds @DeniseColbert. Can you add this text onto FC1 and replace the current text/advert we have for the FC2? I think the text will need to be a bit bigger so it is more legible - possible underline the 'FreeCEN is changing' bit and see how it looks..

[2018-12-12 17:59] richpomfret commented on #423
Added comments. It might be good to add in a few links to some of the documents Brenda sends around to new transcribers - they then know where to find them if required. Files are hosted here: https://drive.google.com/drive/folders/1Xx_bPtxx-kITkpX9NqpEbl7fRbQqrX5U?usp=sharing

[2018-12-12 18:00] richpomfret commented on #423
Additionally, shall we also include a link to the transcribers google group?

[2018-12-13 15:54] PatReynolds commented on #423
That would be good - would fulfil #557 - what do you think, Brenda?

[2018-12-14 13:41] smrr723 commented on #537
The current text shows "FreeCEN2 is a work in progress; we want your feedback (link opens in a new tab) on all aspects so that we can make it better."

I will just add to this, to make it:

"FreeCEN2 is a work in progress; we want your feedback (link opens in a new tab) on all aspects so that we can make it better.  You can visit the old FreeCEN website here - https://freecen1.freecen.org.uk/"

Is

[2018-12-14 15:09] smrr723 commented on #562
Done.

FreeCEN now recording traffic from `https://freecen1.freecen.org.uk/`
FreeCEN2 now recording traffic from `https://freecen.org.uk/`

[2018-12-15 12:02] helhyde commented on #537
Yes, that is good.

[2018-12-17 11:56] richpomfret commented on #537
@smrr723 can we add this text?

[2018-12-17 12:03] richpomfret commented on #564
@smrr723 do you think this is still necessary for the switch? Would still be GOOD to have either way.

[2018-12-17 13:55] smrr723 commented on #537
Added - will be live once the production update is complete in the next hour or so.

[2018-12-17 13:57] smrr723 commented on #564
Not necessary, but I've added it anyway since I'm doing a production update - so will be live later today.

[2018-12-17 18:01] smrr723 commented on #537
Now in production.

[2018-12-17 18:01] smrr723 commented on #564
Now in production.

[2018-12-19 09:36] smrr723 opened #565 "Update link on database coverage page"

[2018-12-19 09:37] smrr723 commented on #565
Link needs updating to point to freecen1 - https://www.freecen.org.uk/freecen_coverage

[2018-12-19 09:37] smrr723 commented on #565
Complete and ready for deployment.

[2018-12-19 10:18] PatReynolds opened #566 "Enhance responsiveness of contact system"
Currently contacts all go to one volunteer - a contact about the website performance (e.g. search not working) might not be seen promptly.  (NB answer is not More Caffeine for the volunteer!!!)

E 2 U 2 S7 C6: P17

[2018-12-19 10:56] PatReynolds commented on #246
Anne replied 18/12 and will get back to us in January.

[2018-12-19 11:01] PatReynolds commented on #392
Ad Unit "FreeCEN2 Responsive Header" up 26% as images only, so chosen
Ad Unit "FreeCEN1 Homepage" up 7% as images only, so chosen

[2018-12-19 11:05] PatReynolds commented on #553
Ad balance 72% generated +13% revenue, so implemented.  Will trial more on FreeCEN1.

[2018-12-19 15:42] richpomfret commented on #564
Moving to done.

[2018-12-19 15:42] #564 closed

[2018-12-19 15:42] #537 closed

[2018-12-19 15:42] #562 closed

[2018-12-19 15:43] #556 closed

[2018-12-19 15:43] #517 closed

[2018-12-19 15:44] richpomfret commented on #503
Appears to be done, shall close.

[2018-12-19 15:44] #503 closed

[2018-12-19 15:53] richpomfret commented on #445
Review still needed.

[2018-12-19 15:55] #541 closed

[2018-12-19 15:58] richpomfret commented on #138
Shall now close. Can create new stories for any old links which may not be there yet.

[2018-12-19 15:58] #138 closed

[2018-12-19 15:58] DeniseColbert commented on #550
Can't log in to Test 3 either...

On Slack:

![image](https://user-images.githubusercontent.com/19173257/50231438-b7865780-03a6-11e9-9c6d-8fefe5a2043e.png)

Going back to around the time of the Refinery training:

![image](https://user-images.githubusercontent.com/19173257/50231503-df75bb00-03a6-11e9-9c64-3cbf426afdd4.png)

[2018-12-19 16:01] richpomfret commented on #377
@AlOneill can you take a look when you get a chance?

[2018-12-19 16:04] #392 closed

[2018-12-19 16:14] #551 closed

[2018-12-27 09:59] PatReynolds opened #567 "FreeCEN2 times out in a second or two"
Searching Alcock, Nottinghamshire, 1841, windows 10/chrome, timed out in a second or two at 9.57-ish this morning.  Had this issue last week.

[2018-12-27 10:09] PatReynolds commented on #567
Hi @sharadd15 and welcome to Free UK Genealogy!  Someone will be in touch in the next few days to get you set up, but if you have a few minutes in the meantime, could you try and replicate this bug (not yet proven to be a bug)?  Thanks, Pat (Executive Director of Free UK Genealogy, the charity covering FreeREG, this and other projects)

[2018-12-27 14:44] PatReynolds commented on #567
Issue seems to be if you have used FreeCEN2 before, resolved with clearing cache.  Please could someone put a note to that effect on the homepage of FC2. Please still test, @Sharadd15 to check that new users do not have this issue.

[2018-12-28 10:48] PatReynolds opened #568 "Gain access to 1901 census"

[2018-12-28 11:20] richpomfret commented on #567
Tested (Chrome, OS X) and got results within a few seconds based on the Alcock search above

[2018-12-31 15:53] Captainkirkdawson commented on #567
@PatReynolds
As noted on slack on 29 Dec the issue was a result of an incorrect configuration file on colobus. The maximum search time had been set at 10ms instead of the normal 100s thus causing the fast time out. This was apparent by looking at the timeout being used which is displayed on the search form.
![freecend](https://user-images.githubusercontent.com/2874694/50563286-cfc87180-0cd8-11e9-9

[2018-12-31 15:56] Captainkirkdawson commented on #566
Clearly a personnel management issue not a system issue

[2018-12-31 16:13] Captainkirkdawson opened #569 "Almost none of the system performance tools work."
Myopicvicar has system administrator  tools to measure and monitor system and search performance. These tools are essential for the ongoing maintenance and future development of the application. These tools do not currently work on the CEN branch.
The first step in addressing this is to respond to issue #1339 on FR and deploy the master code updates into the CEN parsing branch

3/6/7/4 = P20.

[2018-12-31 16:16] Captainkirkdawson commented on #548
Why not use the tools already developed for REG???

[2019-01-07 11:45] Vino-S commented on #520
It seems that the Sort by "c_at" field has timed out,  as it exceeded the mongodb in-memory threshold for sorting.
We have an index in `c_at` field for SearchQuery collection. Having an index at `c_at` field should speed up the process, yet it failed.
The `getIndexes()` command in mongo shell, only fetched the default index(_id) field not the other indexes.
However I checked only in vervet not in

[2019-01-07 15:20] richpomfret commented on #569
Thanks @Captainkirkdawson shall use this as an epic and then create substories for each tool.

[2019-01-07 15:22] richpomfret commented on #567
Many thanks @Captainkirkdawson and good to see you involved here on FreeCEN. ;)

[2019-01-07 15:23] richpomfret commented on #567
Moving to done.

[2019-01-07 15:23] #567 closed

[2019-01-09 12:10] richpomfret commented on #387
Awaiting final changes by Ben and Sudaraka.

[2019-01-09 12:20] PatReynolds commented on #553
63% started 9/1, for 8 days.  NB Google suggests that we would still get the same income at 30%.

[2019-01-09 12:35] richpomfret commented on #394
Resent invites today for those that had 'expired'. I will send a final round of invites at the start of Feb and state that unless they join now, they will be removed from the list. We may wish to have a separate pipeline for contacting past transcribers who are now 'dormant' in terms of letting them know that they are welcome to begin again.

[2019-01-09 12:46] richpomfret commented on #557
Changed the group settings so anyone can now ask to be added to the group. Next step is to add a link into the automated new account email and to consider including a link within the login page on FC.

[2019-01-09 12:49] richpomfret commented on #423
Perhaps we will get a surge of sign-ups due to it being Jan? In which case, it would be great to get this new text/links implemented this month.

[2019-01-09 12:55] PatReynolds commented on #355
Notes 9/1 on where we are:
Interim notes DONE
Fields in the FreeCEN1 spreadsheet (awaiting response on 3 queries, 5/12 and 9/1)

[2019-01-09 13:13] PatReynolds commented on #554
Attempted 9/1/2019 but we are not currently eligible.  Will re-try in 6 months.

[2019-01-09 13:14] PatReynolds commented on #555
Attempted 9/1/2019 but we are not currently eligible.  Will re-try in 6 months.

[2019-01-09 15:38] richpomfret commented on #565
Looks like this has not yet been deployed - or it still points to the old/wrong link.

[2019-01-09 15:44] richpomfret commented on #445
@Vino-S to take a look at the access issue on Refinery so this can move forward (we have another story for this 550).

[2019-01-09 15:49] #511 closed

[2019-01-11 12:53] PatReynolds opened #570 "FC1 usage graphs not linked in"
Following change of urls, FC1 usage graphs no longer exist/show.

[2019-01-13 17:38] PatReynolds opened #571 "23 P - Move censfaq to FC2"
Currently at https://freecen1.freecen.org.uk/censfaq.htm

[2019-01-13 18:48] smrr723 commented on #491
@Captainkirkdawson what was the source of this error report, and is it still happening?  I can't see it on Errbit so assume it's from another tool or logfile?

[2019-01-13 19:05] Captainkirkdawson commented on #491
The GET errors are visible in the passenger log. I believe that the specific GET issue for this which was raised last July may have been overtaken by events. However there are still well over 100 GET errors a day in the colobus log
Its a real pain tracking them down as the log is for both CEN and REG and is purely time stamped so hard to find where it originated. We really should spend more time l

[2019-01-15 14:49] DeniseColbert commented on #445
In now (thanks Vino)

Have proofed and addresses a couple of styling issues (added paragraphs and bullet points to improve flow). Querying this line is correct?
![image](https://user-images.githubusercontent.com/19173257/51186587-dc041f80-18d1-11e9-9f55-ec0bd2caf36e.png)

This is now out of date: "The first test piece was transcribed in August 2018 and is with a Proofreader as of November 2018. We

[2019-01-16 12:18] richpomfret commented on #393
@benwbrum @PatReynolds we completed this as part of the last GSoC. However, I wonder if we might want to develop a tool as a next-step based on that past project? To discuss.

[2019-01-16 14:37] richpomfret commented on #393
Actually a separate task - which was partially worked on and we now need to review. @benwbrum to review.

[2019-01-18 10:56] PatReynolds opened #572 "Change advertiser (was change product category for Amazon)"
We have had 180 clicks, but no purchases on the Amazon advert (1/12/18 to 18/1/19) so need to change the offer.  Audiobooks, perhaps?

[2019-01-21 14:58] PatReynolds commented on #423
I believe all comments here and on document are now resolved.

[2019-01-21 15:36] PatReynolds opened #573 "Improve search form - how to choose a county"
Issue with finding 'Edinburgh' - long way down!

[2019-01-22 22:17] smrr723 commented on #434
![screenshot 2019-01-22 at 22 14 22](https://user-images.githubusercontent.com/2768445/51569023-1e5dcb80-1e93-11e9-85f0-124fb2cccc08.png)

Just to clarify what needs removed @PatReynolds - are we talking about the 3 images shown above?  And do we want them replaced with an Amazon ad?

[2019-01-22 23:11] smrr723 commented on #570
Resolved & now live - https://freecen1.freecen.org.uk/UsageInfo.html

[2019-01-22 23:11] smrr723 commented on #434
Resolved & now live - https://freecen1.freecen.org.uk/UsageInfo.html

[2019-01-23 11:44] PatReynolds commented on #535
Move table of Cord status to https://test2.freecen.org.uk/userid_details/transcriber_registration?
Move rest of page to new page within Transcriber Information.

[2019-01-23 14:48] richpomfret commented on #387
@benwbrum has now completed his bit. Now trying to establish availability for @sudaraka94 to finish it off.

[2019-01-23 14:49] richpomfret commented on #187
We have developed analytics on test, so closing this issue.

[2019-01-23 14:49] #187 closed

[2019-01-23 15:23] PatReynolds commented on #355
I believe all now complete, ready for next steps:
Ensure instructions are mature-looking (well presented) and friendly: correct syntax, use sentences, replace unhelpful (or obscure) terms such as "routine", explain the essential terms, reduce the number of instances of the passive voice and tidy the typography
Final content checking
Add some more ids and complete cross-references
?Add each column/

[2019-01-23 15:36] #550 closed

[2019-01-23 15:37] #434 closed

[2019-01-23 15:37] #570 closed

[2019-01-23 15:45] richpomfret commented on #552
Conversation on the slack sprint channel for this.

[2019-01-23 15:52] richpomfret commented on #377
@geoffj-FUG to take a look before Alison.

[2019-01-23 15:53] richpomfret commented on #410
Ready for testing on TEST2. Specific details over on Slack.

[2019-01-23 15:55] richpomfret commented on #387
@benwbrum to add in the permalink code.

[2019-01-23 16:04] richpomfret commented on #519
Closing after discussion with Kirk.

[2019-01-23 16:04] #519 closed

[2019-01-24 10:57] geoffj-FUG commented on #377
Rich, Pat, Alison

I am not sure how to upload this so I have attached it to this email.

It is the response to action #377.

It is a simple first pass feedback response. My view is that the document cannot just be cloned as the FreeCEN process is so different. My comments are in Red.

Where do you want me to go from there?

Regards

Geoff Jarvis

From: Rich Pomfret <notifications@github.com>
Sent

[2019-01-24 13:34] DeniseColbert commented on #445
Page finished, from my POV.

@AlOneill is it in the 'right place' (system documentation)?

@PatReynolds can you clarify the landing page you mean? (from your earlier question:  How do I put a link from the 'landing page' to this page?)

[2019-01-24 15:46] AlOneill commented on #445
@DeniseColbert I am confused as to where this text is intended to go. I had thought it was to be added to the "About" page, but as I commented on the draft in GoogleDocs, there is a lot of volunteer-related info which may or may not be appropriate there.

So, in short, I don't know.

@PatReynolds How do you see this fitting with our current pages?

[2019-01-24 16:13] AlOneill commented on #377
@geoffj-FUG Your attachment has not survived — can you add your comments to the doc linked in Pat's msg to this issue of 5 Dec — https://docs.google.com/document/d/1p2vGWunfRpnBxnIUeU_BZfnfGORDJ9wSm_V4yhkRGzg/edit?usp=sharing ?

That would keep all the comments together.

[2019-01-25 02:58] UTpH commented on #509
Hi!
This issue has been resolved right?

[2019-01-25 05:31] geoffj-FUG commented on #377
Alison

I have added my comments to the end of the original document.

I trust that the formatting survives as I have put all my comments in red in a copy of the original document.

Regards

Geoff

From: AlOneill <notifications@github.com>
Sent: Friday, January 25, 2019 2:13 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>

[2019-01-25 05:33] geoffj-FUG commented on #445
Alison, Pat, Denise

If this is the document that I prepared I thought that it was to be used as part of the change management process. That is how I wrote it.

If that is so I would be sending every volunteer a copy.

Regards

Geoff

From: AlOneill <notifications@github.com>
Sent: Friday, January 25, 2019 1:46 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG

[2019-01-25 15:19] PatReynolds commented on #445
Apologies - I got stories confused @geoffj-FUG is correct.  It has already gone in the Newsletter.

This story has already been completed (i.e. there is an explanation on the About section). So moving to Needs Review (in case further work on About page is needed).

[2019-01-25 15:21] PatReynolds commented on #543
May have already been done?  On Live?

[2019-01-25 15:23] PatReynolds commented on #535
@Vino-S can you tell us where we can edit https://test2.freecen.org.uk/userid_details/transcriber_registration? please.

[2019-01-25 15:28] #553 closed, assigned to PatReynolds

[2019-01-25 15:28] PatReynolds opened #574 "Run Adbalance experiment(s) again"
Run when more behind-the-adverts are designed and in place

Needs #395

[2019-01-25 15:52] smrr723 commented on #563
@PatReynolds the new text you mention - "To find out more about volunteering, and volunteer to help please visit the sign up page on FreeCEN2: https://www.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen" appears to already be on the volunteering page.

Can you clarify if the page still needs editing?

[2019-01-25 16:06] smrr723 commented on #535
That page isn't on refinery @PatReynolds - requires Developer input.

[2019-01-26 00:22] smrr723 commented on #268
Adding myself to this for developer-specific things I've spotted that need doing.

- Add "topics" to the Github repository header section (ruby, rails, mongodb, etc) to make it easier for volunteers to find us - DONE
- Update website link in Github repository header - DONE
- Consider replacing `Actor: technician` label (unclear ATM and largely unused) with `developer`, `front-end`, 'back-end` labe

[2019-01-26 01:08] smrr723 commented on #268
Would also suggest to assist new developers or any other volunteer picking up Github issues, that someone needs to go through the current list and remove transcriber jargon/abbreviations as much as is possible to add clarity.

[2019-01-29 15:46] sudaraka94 commented on #387
I am available @richpomfret . Let's finish this off. I will contact @benwbrum fore required details

[2019-01-29 18:02] PatReynolds commented on #377
Thanks, both.  I have melded your versions together, suggested a new structure .  It may be easiest to see this in 'viewing' mode.

[2019-01-30 10:00] PatReynolds opened #575 "Use OCR+ machine learning to identify and extract data on images of census records"
Traditionally, transcribers have not captured 100% of the place information on census records.  This project is to do this (possibly based on an exisiting tool) for the fields where we have not done this previously

Priority: E2, U3, S5, C3?: P8

[2019-01-30 10:01] PatReynolds commented on #575
@richpomfret can you add in the link to the FreePROBATE work here, please. @benwbrum please improve the description (i.e. what fields, and anything else).

[2019-01-30 10:44] PatReynolds opened #576 "Create UK maps of completion at Registration District Level"
To enable researchers to see completeness of transcriptions at a glance, with a choice of views - country as a whole for one census year, or  one "ancient county" area for each of the census years (sequence of maps for 1841, 1851, 1861, 1871, 1881 and 1893, with potential to add more).
"Nice to have" would be to include also the statistic for "data not available" (where census return has been lost

[2019-01-31 09:06] PatReynolds opened #577 "23 P - Review statistics provision"
Following the Great Merge, review statistics available and make stories for those needed.

Needs freeukgen/myopicvicar#1339

Currently (pre great merge) available:

On test16:
site statistics (number of searchers/time)
% last name vs all searches
% first name vs all searches
% max results vs %no results vs all searches
% all (birth?) county searches vs all searches
% date searches vs all searches

[2019-02-04 15:16] richpomfret commented on #577
Be very useful to compare search stats between FC1 and 2.

[2019-02-04 17:45] smrr723 commented on #395
Hyperlink to donations page now added to all banners and also fixed the flash up using javascript to detect if Adblock is being used.  Deployed to production.

[2019-02-04 17:45] smrr723 commented on #491
Deployed to production.

[2019-02-04 17:46] AlOneill commented on #543
Have just noticed a messy confusion of tenses  — will fix today.

[2019-02-05 20:38] smrr723 commented on #513
Deployed to production - CSS files seem to be working fine now.

[2019-02-05 20:58] smrr723 commented on #552
I think the Amazon login issues have been resolved now and Pat has access again.

Have we decided where the new Amazon / Audible ads are to be placed?

[2019-02-06 12:13] AlOneill commented on #543
Ended up tweaking quite a lot of the text in the end: updated version on test2 (select About from main menu), older version still on live.

[2019-02-06 12:26] AlOneill commented on #423
Document including 'markup' looks good — will need to review once implemented (it is an app page and not on Refinery).

 Using an iframe may or may not be a good idea as whole of target page will be available and volunteers may or may not be familiar with them.

[2019-02-06 15:17] DeniseColbert commented on #445
https://www.freeukgenealogy.org.uk/news/2019/02/06/how-do-freecen-changes-affect-researchers-and-volunteers?token=BKUpF2_dmhGPZb9ONMKsplwSUT~9lZr6

Needs proofing

[2019-02-06 15:37] #513 closed

[2019-02-06 15:41] richpomfret commented on #491
@smrr723 to check fix in the log before closing.

[2019-02-06 15:52] #395 closed

[2019-02-06 15:53] #565 closed

[2019-02-06 15:59] richpomfret commented on #445
@DeniseColbert to check the new version is correct.

[2019-02-06 16:10] richpomfret commented on #219
@Vino-S to also add tag for the Donate link in the header.

[2019-02-06 16:12] richpomfret commented on #372
Done and ready for deployment.

[2019-02-06 16:12] DeniseColbert opened #578 "TEST2 logo/ad issue"
Not experiencing on production

[2019-02-06 16:12] DeniseColbert commented on #578
![image](https://user-images.githubusercontent.com/19173257/52355317-0ad16980-2a2a-11e9-86c4-24d45cd03e10.png)

[2019-02-06 16:15] DeniseColbert commented on #410
Searched Joseph Colbert, 1800 - 1900. Clicked first result:

![image](https://user-images.githubusercontent.com/19173257/52355564-6ef42d80-2a2a-11e9-97a8-9087b13c9e8f.png)

[2019-02-06 16:19] smrr723 commented on #578
My bad Denise - I was switching branches in git on test2 and forgot to recompile assets to update the CSS.  Should be fine now.

[2019-02-06 16:30] richpomfret opened #579 "Testing The Big Merge (on test2.freecen.org.uk)"
Testing FC2 required as per the magnificent merge that's COMING SOON.
What is the Great or Magnificent merge?
FreeCEN2 is built upon the same code base as FreeREG2 but with  an application sensitive setting  so that it displays pages using the CEN colour scheme,  provides unique CEN functions and disables REG specific functions.
It had been expected that  FreeREG2 code changes would be incorporate

[2019-02-06 19:00] DeniseColbert commented on #509
@UTpH No, it seems this still needs doing. The newly added 'Developer' label may mean that the person who takes this task on needs to be able to access our systems. @smrr723 can you advise?

[2019-02-06 19:23] smrr723 commented on #509
@DeniseColbert correct - needs to be a Developer and will need to be set up on cloud9 or have FreeCEN running locally after going through the instructions in https://github.com/FreeUKGen/FreeCENMigration/blob/master/CONTRIBUTING.md

[2019-02-08 11:23] richpomfret commented on #525
@smrr723 this will become increasingly useful, so might be good to squeeze it into the current sprint if we can. Should be applicable across both FC and FR. Number of searches per day is something we collect (as per the stats page) but I do not think we currently keep it beyond 30 days. As a second stage, it would be useful to have an idea of what fields are being used in the search too.

[2019-02-08 11:24] richpomfret commented on #540
That would be good. It might feed into the other story on stats - in terms of the second stage of having data on what fields are used in the search.

[2019-02-08 11:43] richpomfret opened #580 "Analytics functioning correctly on FC1?"
The numbers do not look correct in comparison to the previous year - they appear 'inflated' much like the issue we encountered on our other sites e.g. cookies being counted more than once. Please check.

[2019-02-08 14:02] DeniseColbert commented on #509
Wondering if the GFI label is appropriate here, in that case?

[2019-02-08 14:19] smrr723 commented on #509
I think so @DeniseColbert  - it's still a Good First Issue for new volunteer developers.

[2019-02-08 14:27] DeniseColbert commented on #509
Ah, so GFI + Dev = GFI for Dev. Gotcha 👍

[2019-02-11 13:58] richpomfret opened #581 "Change TEST2/3 to reflect FR"
Currently we have TEST3 (dev) and TEST2 (test) on FreeCEN, which is the opposite of what is used on FreeREG. This has led to issues/confusion in the past, particularly in relation to cms updates on Refinery. There appears to be less work involved in changing FC, so let's do that in order for both projects to have the saming naming conventions.

[2019-02-11 14:01] richpomfret commented on #581
@smrr723 @Vino-S @Captainkirkdawson do you anticipate any hidden problems we might face in changing the naming conventions? Any possible conflict on Github or our deployment process?

[2019-02-11 15:26] Captainkirkdawson commented on #581
On REG test2 is a development deployment. test3 is a production deployment. Both are for testing code. Complex code development is applied to test2. We apply bug fixes etc to test3 for final checkout before deployment to the production servers. The terms development and production in the above have a rails meaning. They serve static assets differently and they can have different performance settin

[2019-02-11 18:04] richpomfret commented on #581
Thanks @Captainkirkdawson. IF we were to swap the naming conventions around on FR (as we are investigating for FC), would you anticipate any errors or major issues?

[2019-02-11 18:20] Captainkirkdawson commented on #581
@richpomfret

Why would we change the FR scheme??? Its been that way since day 1. Everyone knows it

We would have to get lemon to change the urls in Apache to point to different folders if you wanted to make such a change

Sorry but I do not see any benefit.

CEN has never actively used 2 sites on vervet at least not to my knowledge So why don't they adopt the same logic as REG?????

The logic wa

[2019-02-11 18:39] smrr723 commented on #581
I can't see any negative side effect from changing the FC scheme to match FR.  We don't have anything on there tied to our production deployments.

@Captainkirkdawson I think Rich meant that we will be changing FC's test servers to match the (correct) FR naming convention.  Right now, FC test2 is equivalent to FR test3 and causes confusion occasionally.  The FR setup will be untouched if I underst

[2019-02-11 18:45] Captainkirkdawson commented on #581
Sorry but that is not how I read the penultimate post

[2019-02-12 10:31] DeniseColbert opened #582 "https://www.freecen.org.uk/cms may need updating"
It looks like this page needs updating?

https://www.freecen.org.uk/cms

[2019-02-12 14:52] FreeUKGenIssues opened #583 "127570109 Enhancement Suggestion (Sally Shepard)"
Issue reported by **Sally Shepard** at 2019-01-16 12:08:29 UTC
Time: 2019-01-16T11:17:42+00:00
Session ID: 5c663157afe5cf1151ec542a498f4b0f
Problem Page URL: []()
Previous Page URL: [https://www.freecen.org.uk/contacts/new](https://www.freecen.org.uk/contacts/new)
Reported Issue:
There are three points I would like to send you:
1.  Is there any provision to report errors in transcription, as in Fr

[2019-02-12 15:16] AlOneill commented on #582
This is not a "real" page — just a by-product of how our Refinery pages are organised. It probably should be hidden. (Our home page is the Search page — an app page.)

[2019-02-12 15:23] smrr723 commented on #491
Can't see any errors similar to the above in the `passenger.log` on colobus, so the fix seems to have worked.

[2019-02-12 15:23] #491 closed

[2019-02-12 16:42] DeniseColbert opened #584 "Access to transcriber stats by county"
Brenda requested this. May be good for others to have access too.

E0 U6 S7 C?8: P21

[2019-02-12 16:42] DeniseColbert commented on #582
Hidden would work then.

[2019-02-13 14:17] benwbrum opened #585 "Merge code for FreeCEN"
We need to test this from a FreeCEN perspective.

[2019-02-13 18:06] richpomfret commented on #423
@Vino-S can you add this and let us know once it is ready for us to review?

[2019-02-15 11:34] DeniseColbert opened #586 "22 P - Implement all needed actions for Coords (was Enable Coords to download updated PARMs Files (Some (possibly all) Coords do not have option to Edit Pieces in county pages of Database Coverage page - where download is)"
Brenda believes that Coords need to be able to download PARMS.DAT files that have had corrections made to them.

Coords should have 'download parms file' button.

E 0, U 6, S 8, C8: P22

[2019-02-15 11:35] DeniseColbert commented on #586
Some coords report not seeing this option:

![image](https://user-images.githubusercontent.com/19173257/52854248-ca52a980-3115-11e9-9d08-567e1d1fa128.png)

[2019-02-16 12:24] DeniseColbert commented on #445
Done, now live on FUG website in News section

[2019-02-16 12:32] DeniseColbert opened #587 "Show prominently update info, as is shown on FC1."
When the database was last updated and what recent additions have been made

needs #372

E0, U6, S8, C3?: P17

[2019-02-16 12:38] DeniseColbert opened #588 "Wildcard - 2 letters not enough"
You require 2 letters before a wild-card. This does not work for Mac /Mc surnames such as MacLeod /McLeod or MacDonald /Mcdonald.

[2019-02-16 12:47] DeniseColbert opened #589 "On FC2 home page where survey link is, ask if they have used FC2 and have some feedback"
Many people are completing the form without having used FC2 or with nothing to say about it. It would be a 'nice to have' for reviewing/analysing feedback.

[2019-02-16 12:48] DeniseColbert opened #590 "Challenge the idea that 'almost all' features have been removed"
Why have nearly all the features been removed?
FreeCEN2 seems to have 90+% of the features of FreeCEN1 removed.

[2019-02-16 13:01] DeniseColbert opened #591 "Allow first-name only searches"
I understand why first-name only searches are resticted to a specific place but this generates huge extra work for me or prohibits wide searches. Two thoughts: 1. get more computer power. Nowadays that should be cheap as chips and remove the restriction. or 2. Consider providing a screen that shows a breakdown of hits by place. That way one could explore each place where there is a prospect of dis

[2019-02-16 13:06] DeniseColbert opened #592 "limit searches to exclude repeated Census report"
I'd would be nice to limit searches to exclude repeated Census report for when searching by surname. In a search I get 130+ results I have to go through one by one, but this is super inefficient when their are only ~40 unique results.

[2019-02-16 13:08] DeniseColbert opened #593 "Able to download and save searches"
it would be nice if like the FreeBMD website if we could download and save the search to view when off line and also to be able to see the actual documents

[2019-02-16 13:16] DeniseColbert commented on #449
For example, name variants on Find my Past:

![image](https://user-images.githubusercontent.com/19173257/52900399-1c1a3300-31ed-11e9-8cf2-d27dcbabf2b3.png)

[2019-02-16 13:22] DeniseColbert opened #594 "Ability to search Scotland counties, Ireland, England etc."
Also instead of a County, for example in the case of Scotland,where you can search only for 3 possible counties,,,and the people could be working anywhere in Scotland,,,,why not just have a "field" for just all counties in "Scotland" added to the present system, and like wise one for "England",Wales and Ireland etc. and break it down that way,rather than have "all counties",which might through up

[2019-02-16 13:24] DeniseColbert opened #595 "Improve searching for individuals in consecutive censuses"
searching for individuals in consecutive censuses has been made much more difficult than in FC1

[2019-02-16 13:27] DeniseColbert commented on #591
Another comment - The fact you have to enter 4 sets of information when you dont provide a surname is frustrating as it makes it very difficult to search when you dont know exactly what you are looking for or are trying to broaden your search. A better model to adopt would be that used by the Canadian archives census records.

[2019-02-16 13:31] DeniseColbert opened #596 "Not clear where Overseas births can be selected"
They are in 'Special' section of dropdown menu, but this is unclear to users. Possibly as it's right at the bottom of the list?

[2019-02-16 13:33] DeniseColbert opened #597 "Able to search by address"
Need to be able to search an address without knowing any personal names

[2019-02-16 13:34] DeniseColbert opened #598 "Split out the country from the county"
It is a real pain to scroll down to Scotland, I'd like to filter to just Scotland counties with just one click and not all this scrolling.

[2019-02-16 13:36] DeniseColbert opened #599 "Hyperlink the Census Place names to a listing of everyday city district, towns, villages, etc"
A useful addition to the Search Detail/results table would be to hyperlink the Census Place names (final column in table) to a listing of everyday city district, towns, villages, etcetera.

[2019-02-16 13:38] DeniseColbert opened #600 "Printing issues"
This is all the info we have here, with no contact details to get more. Not sure what they mean...

"A big black logo on some pages, makes printing difficult. Clear white page would be better. Bottom of 1st page of census data 1841, 1851 data written on top of each other. Unable to read or print out clearly."

[2019-02-16 13:40] DeniseColbert opened #601 "Grey text colour is too pale"
Many reports of this, possibly due to browser used?

[2019-02-16 13:41] DeniseColbert opened #602 "Use UV to enhance faded old ink"
If not used yet on old documents, may I suggest UV to enhance faded old ink?

[2019-02-16 13:44] DeniseColbert opened #603 "Gold text (e.g. hyperlinks) are too pale to read"
Please make the "pale orange" text darker or bolder as it is hard to read in a semi bright room

Is there a quick/easy way to make all links bold or is it best to wait until accessible colours are implemented?

[2019-02-16 13:45] DeniseColbert commented on #601
ANother: Please use black ink as the colour used at present is very hard to read.

[2019-02-16 13:46] DeniseColbert opened #604 "Records vanished from FC1 & 2?"
A few reports like this:

For years your previous site gave me full details, person, family, ages etc. Now I can find nothing but no matches on both old and new sites! This includes details I have taken from your site previously. Why?

[2019-02-16 13:49] DeniseColbert opened #605 "Wildcard/soundex issues"
May need separate stories, but interesting comment:

I ran an identical search this morning for Margaret Kirk in Lanarkshire in both v1 and v2. I used Marg* because of spelling variants and contractions. v1 instantly produced 17 results in 8 different places, clearly listed in easy-to-read plain black type on alternating white and grey backgrounds. v2 told me I could not use a wild card without a

[2019-02-16 13:51] DeniseColbert opened #606 "Issue with selecting place (of census)"
There is one aspect of the new site that is an improvement. That is that after selecting a census county the places in that county are listed in a new box for selection.
But that presupposes that you know which district your target person was in, which is no use in places like Glasgow where people moved around in and out of sub-districts that are not all even parishes, like Blythswood. Even in FC1

[2019-02-16 13:54] DeniseColbert opened #607 "Ability to put a letter in the county to 'jump'"
Could use the ability to put a letter in the county area so we don’t have to scroll so far. The old one allows it and is really helpful.

[2019-02-16 13:56] DeniseColbert commented on #441
Another: The 'information' isn't really all that helpful except to complete computer novices - could it be less intrusive and/or not require a second click to remove it?

[2019-02-16 13:58] DeniseColbert commented on #448
Another:  "London city" is confusing, as London so often includes Middlesex. Just put LONDON please. It is too restrictive on the searcher to have to put the exact PLACE - places change county, even country. I'm an experienced searcher and found nothing - extremely frustrating.

[2019-02-16 14:01] DeniseColbert opened #608 "Ability to search by a known full or partial page reference."

[2019-02-16 14:09] DeniseColbert opened #609 "Make error text easier to understand"
I am having difficulty finding an ancestor which I found before. There are no results but what is frustrating is the language used to tell me why. I do not understand eg 'A Place must have been selected as a starting point to use the nearby option.'

[2019-02-16 14:09] FreecenBren commented on #596
It was suggested that the birth County search list was changed to strict
alphabetical instead of by Country/Special etc.

On Sat, 16 Feb 2019 at 13:31, DeniseColbert <notifications@github.com>
wrote:

[2019-02-16 14:12] DeniseColbert commented on #603
More:
* The orange lettering is difficult to read. it has been found that most people only get interested in their family history about the age of 55. At that age eyesight is much poorer and requires more light. Even on a 22" screen I can barely read the orange print.

[2019-02-16 14:15] DeniseColbert commented on #587
Many asking for this

[2019-02-16 14:18] DeniseColbert opened #610 "The new site doesn't seem to show everyone in the same household."
Quite a few of these, not sure how to test?

[2019-02-16 14:21] DeniseColbert opened #611 "Searches crashing / taking too long"
Quite a few recent comments. E.g.
* A real disaster - searches are "too long"
* Searches don't complete
* Now, even queries with forename, surname, birth county, and a range of 2 years for birth comes back with "Your search was running too long".  I did test out Freecen2 earlier, and did not come up against this problem. I am quite willing to get used to the newer interface, but am finding the con

[2019-02-16 14:28] DeniseColbert opened #612 "Movie next/previous household buttons"
These are not being seen, possibly bring buttons to the next line down? Or somewhere else more prominent.

Updated:
* I have commented adversely on the absence of the next/previous household search. I have now found it, right at the top of the screen where it is not visible if you have scrolled down to view the full list of names in a household of more than have a dozen people. Not a clever place

[2019-02-16 14:29] FreecenBren commented on #610
This has happened before and it related to an error in the file for FC1
where all the occupants were all as one person households.
It was corrected and re uploaded.
It is one of those that I really need to know the Piece number to correct
it if it has not already been done.
Do you have that information?

On Sat, 16 Feb 2019 at 14:18, DeniseColbert <notifications@github.com>
wrote:

[2019-02-16 14:30] DeniseColbert opened #613 "Search button not working most of the time"

[2019-02-16 14:33] DeniseColbert opened #614 "Communicate feature where results are labelled as 'viewed' after being shown"
When you get a list of possible outcomes for a person in a particular locality it is difficult to know which entries you have already clicked on if you are going in to several entries. It would be useful if entries could be coloured to show they have already been checked.

E1, U3, S8, C7: P19

[2019-02-16 14:33] FreecenBren commented on #612
The wording needs amending as well. Someone assumed the link would go to
the occupants ‘previous’ address instead of being able to look who was
living next door and up the road etc.

On Sat, 16 Feb 2019 at 14:28, DeniseColbert <notifications@github.com>
wrote:

[2019-02-18 10:13] Vino-S opened #615 "undefined method `freecen_individual' for nil:NilClass"
We are getting more than 100 logged error on Errbit as undefined method. Occurring often(getting three to four search fails everyday)
It seems to be a bot.

[2019-02-18 10:16] Vino-S opened #616 "Handle blank rows of VLD file FC2 update process"
E0, U6, S7, C5: P18

[2019-02-18 12:44] richpomfret commented on #581
@smrr723 is correct, we are investigating changing FC to match FR (not the other way around). @Captainkirkdawson my previous question perhaps wasn't clear in that respect, but was one designed to flag/elicit what might go wrong with such a change by considering it from a FR perspective.

Thanks both. I think we can go ahead and roll this out later this week (if you're around @lemon-ukgen). Please

[2019-02-18 12:50] richpomfret commented on #445
It would appear some of the content in this has triggered a few strong reactions - we need to review in light of anything that might be miscontrued and aim to provide clarification where/if necessary. How we do this can be discussed. To discuss with @PatReynolds and @FreecenBren.

[2019-02-18 14:13] DeniseColbert commented on #590
See email PDF re. this story from Brenda.

[2019-02-18 15:34] richpomfret commented on #614
We do have this, however it is only stored within a single session and then the user must select 'back to results' and the file is then 'viewed'. If a user clicks back on the browser button, the file is not described/labelled as 'viewed'. Story here therefore is to communicate this to the user. Perhaps a secondary story for allowing persistent 'viewed' labels upon login (perhaps saved searches too

[2019-02-18 15:41] richpomfret opened #617 "FC1 - update announcement box"
It is now out of date. Replace announcement box with text:

Please visit www.freecen.org.uk (also known as FreeCEN2) to use the new site, which has new features, including a citation generator (evidence explained, wikitree, family search, legacy and others)

www.freecen.org.uk should link to FreeCEN2.

E0 U1 S3 C7?: P11

[2019-02-18 15:43] richpomfret opened #618 "FC2 - make the link to FC1 more evident/visible"
We have had reports that the FC1 link at the top of the FC2 page is not visible enough.

[2019-02-18 15:47] richpomfret commented on #613
Need more info. It has happened on desktop/laptop (could be a hardware issue?).

[2019-02-18 15:51] richpomfret commented on #612
To investigate and propose possible solutions, update wording.

[2019-02-18 15:54] richpomfret commented on #610
We need to have specific examples here or test cases.

[2019-02-18 16:01] richpomfret commented on #611
Explore ways of determining search result duration - should have info here somewhere. Might be useful for us to have some stats for this - perhaps an alert for any patterns where search results take too long.

[2019-02-19 21:52] Vino-S opened #619 "t"

[2019-02-20 04:50] lemon-ukgen commented on #581
I have made the change to FreeCEN2 test sites:

https://test2.freecen.org.uk/ -> `/home/apache/hosts/freecen2/development` (RoR root)-> `freecen2_development` (db)

https://test3.freecen.org.uk/ -> `/home/apache/hosts/freecen2/production` (RoR root) -> `freecen2_production db` (db)

[2019-02-20 10:49] #578 closed

[2019-02-20 10:56] richpomfret commented on #609
We might want to review our text here, or consider adding more pronounced links or breadcrumbs to search FAQs in order to help users understand what the language means.

[2019-02-20 10:57] Vino-S opened #620 "[development][feedbacks#new] undefined method `id' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5b73f5d5e9379056f2d2e6e4)
# undefined method `id&#39; for nil:NilClass #
## Summary ##
### URL ###
[https://freecen2.freecen.org.uk/feedbacks/new?utf8=%E2%9C%93&amp;feedback_time=2018-08-15+09%3A42%3A07+UTC&amp;session_id=c38a9c9061be702ead0bdef814ec4daa&amp;user_id=Brenhanna&amp;problem_page_url=

[2019-02-20 10:58] #620 closed

[2019-02-20 10:59] smrr723 opened #621 "[development][feedbacks#new] undefined method `id' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5b73f5d5e9379056f2d2e6e4)
# undefined method `id&#39; for nil:NilClass #
## Summary ##
### URL ###
[https://freecen2.freecen.org.uk/feedbacks/new?utf8=%E2%9C%93&amp;feedback_time=2018-08-15+09%3A42%3A07+UTC&amp;session_id=c38a9c9061be702ead0bdef814ec4daa&amp;user_id=Brenhanna&amp;problem_page_url=

[2019-02-20 11:00] smrr723 opened #622 "[development][contacts#create] undefined method `schedule_number' for #<Contact:0x000000081d314af0>"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5c6ae4a1e937902b79966513)
# undefined method `schedule_number&#39; for #&lt;Contact:0x000000081d314af0&gt; #
## Summary ##
### URL ###
[https://www.freecen.org.uk/contacts](https://www.freecen.org.uk/contacts)"
### Where ###
contacts#create

### Occured ###
Feb 18  5:00pm

### Similar ###
0

## Pa

[2019-02-20 11:02] smrr723 opened #623 "[development][userid_details#create] undefined method `remote_add' for #<ActionDispatch::Request:0x0000000816b8f510>"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5c0169a3e93790637223c1ed)
# undefined method `remote_add&#39; for #&lt;ActionDispatch::Request:0x0000000823384a70&gt; #
## Summary ##
### URL ###
[https://freecen2.freecen.org.uk/userid_details](https://freecen2.freecen.org.uk/userid_details)"
### Where ###
userid_details#create

### Occured ###
N

[2019-02-20 11:02] richpomfret commented on #607
You can already do this. However, I noticed that there appear to be a few conditions where this stops working - not quite clear why this is the case (perhaps there's a bit of a lag if you do it to much?).

[2019-02-20 11:03] richpomfret commented on #608
Interesting one. What do you think @FreecenBren?

[2019-02-20 11:22] richpomfret commented on #603
This should be resolved by the new accessible colours - @AlOneill what do you think?

[2019-02-20 14:56] AlOneill commented on #603
@richpomfret Yes, will be fixed by new colours.

[2019-02-20 15:51] #520 closed

[2019-02-20 15:59] #619 closed

[2019-02-20 16:05] richpomfret commented on #618
Can we please put in a simple paragraph break after 'better.'?

[2019-02-20 23:58] helhyde commented on #600
This sounds like an issue we had a while back on FreeREG.  Probably fixed
there, and not (yet) on FreeCEN.

[2019-02-21 09:13] DeniseColbert commented on #602
Closing, with feedback to respondent.

[2019-02-21 09:13] #602 closed

[2019-02-21 09:53] DeniseColbert commented on #165
@FreecenBren Pat's asked if you could take a look at the doc above and raise questions / suggest changes for her return?

[2019-02-21 15:36] DeniseColbert commented on #560
Is this something that needs/can be changed? https://www.freecen.org.uk/sitemap.txt

Other than this, all done.

[2019-02-22 14:09] Vino-S commented on #423
@richpomfret , I have added the text in live website. Please have a look and let me know your feedback.
I have not added the the following
`Current Actions (in panel to right - see screenshot above)
(everyone) profile [edit your own], roadmap
(managers and coords only) contacts [from website], manage userIDs, syndicate coordinators [list]
(managers and tech volunteers only) Refinery CMS, search pe

[2019-02-28 13:07] DeniseColbert opened #624 "Silsden not listed in FC2"
I have complained for several years that Freecen does not list Silsden in West Riding and have been assured that Freecen 2 will be more inclusive. You have introduced a list of places when a county is selected but have still not included Silsden (a town of 10,000 people).

Needs #165

[2019-02-28 13:12] DeniseColbert commented on #612
As per updated comment, suggest moving or adding to below results/details

[2019-02-28 13:14] DeniseColbert opened #625 "Database Coverage link being missed"
Comment was: * Would be helpful if a list of areas completed was provided
It is presumed that the user did not spot that 'database coverage' has the data wanted.
It is also possible that the user wanted more granular data - if so, a separate story will be created.

E3, U3,  S9, C5:P20

[2019-02-28 13:24] FreecenBren commented on #624
This is just one of many as I have been saying recently.

[2019-02-28 13:28] DeniseColbert opened #626 "FC1 not working"
(Not sure this is the right place for this, can move.)

FreeCen1 - every time I try [to use it,] it tells me there is no server available to handle the request

[2019-02-28 13:31] FreecenBren commented on #625
Are we talking ‘Areas’  completed or ‘PIECES’ or Counties by Census Year.

The STATS on both FC1 and FC2 give you a list and the percentage  that each County is up to.

They also show all Counties by Census Year that are 100% complete.

Can we clarify please which we are wanting.

From: DeniseColbert <notifications@github.com>
Sent: 28 February 2019 13:14
To: FreeUKGen/FreeCENMigration <FreeCENMig

[2019-02-28 13:46] DeniseColbert commented on #390
I don't like the new search at all, because the old one had all the parameters on a single screen, but the new one doesn't so it takes longer and is fiddlier to create or revise a search.

[2019-02-28 13:49] DeniseColbert opened #627 "Age vs Estimated year of birth"
I very, very much dislike the age being replaced in the index by an estimated year of birth, which is not what is in in the original census. It is much easier and quicker to glance at a column of one-digit and two-digit numbers and pick out a person of interest than it is to pick out something using an eight-digit number. And it introduces a definite error in 1841, when adults' ages were supposed

[2019-02-28 13:52] DeniseColbert opened #628 "'Viewed' tag all members of household"
once you've viewed a particular record as 'viewed' that it would tag all people in that record as 'viewed'. My current get around on this is that obviously the results are displayed by year of birth so I tend to skip over those I think I have already viewed. Hope that makes sense. Other than that - great! Will be using this frequently.

[2019-02-28 13:56] Vino-S opened #629 "Access of feedbacks by Denise (engagement coord)"

[2019-02-28 14:36] DeniseColbert commented on #629
Updated to add Contacts too...

[2019-03-01 13:45] DeniseColbert opened #630 ""Wildcard can only be used with a specific place" error"
This is frustrating... what if I don't know the place?

E1, U3, S8, C6: P18

[2019-03-01 13:49] DeniseColbert opened #631 "Birth County Sorting function not working"
The sorting function for results does not work - for example I've just tried to sort on county of birth in the results page, and I get a different order from the original, but nothing remotely resembling an alphabetical sort. Even allowing for additional spaces at the beginning of entries the results are in no apparent logical order

E1, U4, S9, C7: P23

Needs #579

[2019-03-01 13:50] DeniseColbert commented on #631
I tested this and replicated:
![image](https://user-images.githubusercontent.com/19173257/53642151-019e7b80-3c29-11e9-8084-f7e5443052ee.png)

[2019-03-01 13:51] DeniseColbert commented on #390
My first reaction to the new site was not positive because unlike in FreeCen1, I now have to scroll down to initiate a search instead of having all elements of the search screen available together.

[2019-03-01 14:20] FreecenBren commented on #631
FC2 having issues with  getting it to search filled in a report online.
Tried again after a few minutes after working ok now.
Had same issue yesterday.

Anyway just got a search and it found 144 records and clicked on Census
Place column and it sorted them all alphabetically Ok.
This was on FC2  search NOT test mode!

Then clicked on Census Year and it then re-sorted them  again ok in year
order.

[2019-03-01 15:54] DeniseColbert commented on #390
Clumsy to use - I much prefer the old Freecen website which was simple to use on one page without having to keep clicking to the next box.

[2019-03-01 15:57] DeniseColbert opened #632 "Show 'place' in results , as well as 'County'"
I am struggling with this new format - In the result list of a search it no longer show the place of birth just the county.

E1, U3, S8, C6: P18

[2019-03-01 16:00] DeniseColbert opened #633 "Ability to search without forename"
I no longer seem able to search records just by place, but have to enter at least a forename.

E1, U3, S5, C7: P16

[2019-03-04 14:29] richpomfret commented on #633
This is 'do-able' on FC1, so understandable it is requested for FC2. I wonder if there is a way of doing this?

[2019-03-04 14:42] richpomfret commented on #632
This should be resolved once we implement 'places' functionality.

[2019-03-04 14:49] DeniseColbert commented on #631
Clicking on Birth County seems to sort by Census County

[2019-03-04 14:49] richpomfret commented on #630
Can we do a wildcard search without a place? @Vino-S to check if this is possible without search/performance issues.

[2019-03-04 14:50] richpomfret commented on #630
Investigate using 'county' instead of specific place for wildcard.

[2019-03-04 15:00] richpomfret commented on #627
@PatReynolds thoughts on this? We presume there was a specific reason for why we made this choice - perhaps have both columns as Brenda suggets?

[2019-03-04 15:04] richpomfret commented on #626
Let's ensure we have tools to be able to investigate this. Looks fine right now.

[2019-03-04 15:14] richpomfret commented on #625
To explore how to make 'database coverage' more visible - including providing 'recent additions' somewhere and communicating this info to users.

[2019-03-04 15:18] DeniseColbert opened #634 "Next/Prev household function is limited"
Whilst the option to view previous/next households is still there, it is limited and only goes so far and stops

[2019-03-04 20:16] FreecenBren commented on #634
I believe that is because it is PIECE number specific. So you can go
backwards and forwards within each PIECE.

*Example*. PIECE number  *NTT RG122664*. Consists of 6 ED’s (*Enumeration
Districts)*
From ED 5 to ED 10. It covers 3 Civil Parish's  Heanor x 3  ED’s : Shipley
 x 1 ED : and Ilkeston x 2 ED’s
It has 6945 entries altogether.

You can go backwards and/or  Forwards through all entries.
You

[2019-03-04 23:40] FreecenBren commented on #634
On Mon, 4 Mar 2019 at 20:16, Brenda Bowers <bowbren2@gmail.com> wrote:

NB.  This PIECE has  a total of 1404 Dwellings that make up the 6945 entries

[2019-03-05 11:12] FreeUKGenIssues opened #635 "keeps asking for repeat info 131417124 Website Problem (roy hill)"
Issue reported by **roy hill** at 2019-03-02 00:45:24 UTC
Time: 2019-03-02T00:40:35+00:00
Session ID: 240e95f93d638c6148bb332ae4866ca0
Problem Page URL: []()
Previous Page URL: [https://www.freecen.org.uk/contacts/new](https://www.freecen.org.uk/contacts/new)
Reported Issue:
keeps asking for repeat info is the fault my end let me know still a good system

![Screenshot](https://freecen2.freecen.org

[2019-03-06 15:28] benwbrum commented on #579
Functionality to test in particular:

* Click through every screen of the site, looking for (or CTRL-F) "FreeREG" instead of FreeCEN
* Search on FreeCEN-specific  fields like Birth County
* Verify advertisements and cookie warnings are displayed correctly
* Test email (especially any contact-us notifications) and "messages"
* Test the "manage counties" functionality
* Test transcriber registration

[2019-03-06 15:37] richpomfret commented on #543
@DeniseColbert to take a look/review.

[2019-03-06 15:40] benwbrum commented on #585
See #579 for testing details

[2019-03-06 15:50] richpomfret commented on #423
Also give Brenda permission to add people to the google transcriber group.

[2019-03-06 15:53] richpomfret commented on #560
@smrr723 to update the text file.

[2019-03-06 15:56] richpomfret commented on #355
For @AlOneill to take a look when possible.

[2019-03-06 15:57] richpomfret commented on #377
@geoffj-FUG to review new melded version.

[2019-03-06 15:59] richpomfret commented on #387
@benwbrum to work through 410 first.

[2019-03-06 16:08] richpomfret commented on #625
To also clarify this - what is meant by 'areas'? We DO provide completion % for county..

[2019-03-06 16:13] richpomfret opened #636 "FC2 - remove survey link"
Remove from announcement box.

[2019-03-07 10:25] DeniseColbert commented on #634
Thanks Brenda, this is useful info. It's not in the Help, so will need adding to it.

[2019-03-07 11:22] geoffj-FUG commented on #377
Rich

Done

Geoff

From: Rich Pomfret <notifications@github.com>
Sent: Thursday, March 7, 2019 1:58 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Provide FreeCEN information for Coordinators (#377)

@geoffj-FUG <https://github.com/geoffj-FUG

[2019-03-07 12:10] FreecenBren commented on #625
The STATS show details of specific areas like this this example for NTT 1851 Census.

This shows the number of records online and the % done.

Nottinghamshire    (NTT)

281,601

100.0%

 <https://www.freecen.org.uk/freecen_coverage/NTT#1851> Details

Click on the “Details” option of the above example and you get details of the areas covered for any particular PIECE number.

As per this example for

[2019-03-07 13:52] FreeUKGenIssues opened #637 "125424521 link to google doc (Kirk)"
Issue reported by **Captkirk** at 2018-12-22 16:08:41 UTC
Time: 2018-12-22T15:46:12+00:00
Session ID: c4f773fb216de16e38107465c0d856b2
Problem Page URL: [/cms/system-documents/road-map](/cms/system-documents/road-map)
Previous Page URL: [https://www.freecen.org.uk/manage_resources/new](https://www.freecen.org.uk/manage_resources/new)
Reported Issue:
I question having a link to a google doc that is

[2019-03-07 14:16] FreeUKGenIssues opened #638 "114258742 Shetland Isles (Brenda)"
Issue reported by **Brenhanna** at 2018-08-15 10:32:22 UTC
Time: 2018-08-15T10:31:44+00:00
Session ID: c38a9c9061be702ead0bdef814ec4daa
Problem Page URL: [/counties/59026141e937908f5b92e089/edit](/counties/59026141e937908f5b92e089/edit)
Previous Page URL: [https://freecen2.freecen.org.uk/counties](https://freecen2.freecen.org.uk/counties)
Reported Issue:
Why do we have 2 Shetland isles on FC2

![S

[2019-03-07 14:16] FreeUKGenIssues opened #639 "114258246 Orkney (Brenda)"
Issue reported by **Brenhanna** at 2018-08-15 10:24:06 UTC
Time: 2018-08-15T10:23:13+00:00
Session ID: c38a9c9061be702ead0bdef814ec4daa
Problem Page URL: [/counties/59026141e937908f5b92e081](/counties/59026141e937908f5b92e081)
Previous Page URL: [https://freecen2.freecen.org.uk/counties](https://freecen2.freecen.org.uk/counties)
Reported Issue:
Why do with have Orkney twice in FC2

![Screenshot](h

[2019-03-07 14:49] DeniseColbert commented on #634
From Brenda: https://docs.google.com/document/d/1i22g0TAOj_AOyPv9iEI_wb6_9W-DDxo3rWMX5iH3UfQ/edit?usp=sharing

[2019-03-07 14:58] DeniseColbert commented on #618
Tested: looks fine.

[2019-03-07 15:01] DeniseColbert commented on #549
This awaits the Info for Coords documentation but in the meantime, we're going to approach Coords about training up helpers to the role (and also proofers & validators)

[2019-03-07 15:03] DeniseColbert opened #640 "Explore where Report a Problem button reports are going"
Brenda has submitted many reports and not received a response. Also, they don't appear to be in Contacts. Data Problems are there from users, but not Brenda's.

I sent a test today and received a response (below) but it hasn't appeared in Contacts.

![image](https://user-images.githubusercontent.com/19173257/53966061-4f642980-40ea-11e9-82ee-34ee437092de.png)

[2019-03-07 15:12] DeniseColbert opened #641 "27 P - Update links to security policy in Volunteer sign-up and/or Members' Area"
Version for Transcribers: https://freeukgen.page.link/SecPab

E2, U10, S7, C8: P27

[2019-03-07 15:44] PatReynolds commented on #637
Yes: opening the document logs you into your own drive (when I do this, it shows my documents, not yours).  If you wish to comment anoymously, you can do this by opening the link in an incognito browser window.

[2019-03-08 17:55] PatReynolds commented on #356
Link from https://freecen1.freecen.org.uk/censdets.htm#sscens to https://freecen1.freecen.org.uk/software/incens/SSDOWN.HTM needs replacing with the text 'Login to FreeCEN at , and use the 'help for Transcribers' button".

[2019-03-09 13:25] AlOneill commented on #356
@PatReynolds Can't quite see the logic of the text, 'Log in to FreeCEN' taking a user to the Transcriber Help: surely that text should point to the 'Members' URL?

[2019-03-10 21:33] Vino-S commented on #640
They should be listed in Feedback action

[2019-03-11 11:49] PatReynolds commented on #356
Sorry, yes, link should be to Members URL (i.e.
Login to FreeCEN at https://www.freecen.org.uk/cms/refinery/login, and use the help for transcribers button.
I forgot to go and look for the url and copy and paste it in.

[2019-03-11 14:07] AlOneill commented on #356
@PatReynolds Good, but what does "use the help for transcribers" button mean? Are you suggesting that the user logs in and then selects the "Help" item in the main menu bar?

[2019-03-11 15:08] PatReynolds commented on #356
Yes (I think that's how the help for transcribers page is reached (if not, however it is reached)).

[2019-03-12 10:54] PatReynolds commented on #369
Not sure, at this point, whether any downloads are required.  I have asked Coords 12/03/2019

[2019-03-12 11:32] DeniseColbert commented on #640
Aha! Thanks Vino, I've now found my test. However, the ones that Brenda said she sent are not there. I wonder if she used the FreeCEN2 Feedback form to report the problem instead of the button...

[2019-03-12 12:05] DeniseColbert opened #642 ""The record you are trying to access doesn't exist" message"
![image](https://user-images.githubusercontent.com/19173257/54198700-1a2b5300-44bf-11e9-9aad-c73d3dd5d30c.png)

I've had this quite frequently on different areas, but the record does exist... in this instance I'd clicked on the link to report an error in transcription on Search Record page.

E2, U4, S5, C9:P20

[2019-03-12 12:11] DeniseColbert commented on #642
When I completed the Test report, I received this:
![image](https://user-images.githubusercontent.com/19173257/54199043-dd139080-44bf-11e9-8212-9b1c06cc1d1f.png)

[2019-03-12 12:59] DeniseColbert opened #643 "We should be able to have 2 Syndicate COORDS doing one County when they are split by Census Year. (Brenda)"
From email about new GLS coord:

I cannot update her through on FC2 for GLS as that would then go to Chris as a new helper, and I have her set up for my 1891 GLS?

We need to split up  GLS somehow????

We should be able to have 2 COORDS doing one County when they are split by Census Year.

I have updated  her for ENG in the meantime

E2, U3, S7, C5 :P17

[2019-03-12 13:30] edickens commented on #643
We have the same problem in FreeREG.  Some large counties need more than one Coordinator, so we have some with Assistant Coordinators.  I think it is important that you have one person in overall control and who gets the feedback messages.

[2019-03-12 15:08] PatReynolds commented on #643
I think FreeCEN may be slightly different, Eric, as the counties differ from census to census.  Perhaps having one person as County Coord and a number as Syndicate Coords would work in FreeCEN?

[2019-03-12 19:34] benwbrum commented on #579
Do we have any sort of tag for issues resulting from these tests?

[2019-03-13 10:38] PatReynolds commented on #579
I don't think so.  What would you like? MergeBug?

[2019-03-13 12:40] DeniseColbert commented on #642
Contact Us link clicked:
![image](https://user-images.githubusercontent.com/19173257/54279501-2251c400-458d-11e9-9a48-3c42a701530c.png)

[2019-03-13 13:10] DeniseColbert opened #644 "Contact Us --> Thank You"
Email upon sending reads "Thank you for your General Comment". "Thank you for your thank you" doesn't sound right, but maybe "Thank you for your Bouquet"?

E1, U3, S7, C9: P21

[2019-03-14 22:40] Captainkirkdawson commented on #611
You have them at https://www.freecen.org.uk/search_statistics
![cen.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ecbbfc82b317f7d9ad93dc/125516c66e82c728ace21e0d46eb919461cec1b99de6b546a749b2ce6b1373727155a07f25d0bb7eef1b2b515d5f4ea9435a564df5eb9539e4e76224d50152a7842f4d7ed43c19a6b9871abd07ba23894d87b1ba8a5e8d.JPG)

[2019-03-14 22:44] Captainkirkdawson commented on #611
The actual search performance can be looked at in one of the actions if you log in.
There is no indication of long running searches in the past 2 days.
![cen2.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ecbbfc82b317f7d9ad93dc/125516c66e82c728ace21e0d46eb919471c0cfeb9ffbb049a15ee4d673047227285cf22824d0b670e91222515f5d4eac445a5d4df5f09b37b4f46d2ede0356b49b381d66cc2f10a

[2019-03-14 22:50] Captainkirkdawson commented on #611
Mind you at the same time it is clear from errbit that FreeCEN2 crashes many times a day
https://errbit.freeukgen.org.uk/problems

[2019-03-14 23:42] Captainkirkdawson commented on #611
By way of an observation CEN appears to be using indexes and index hinting originally designed for FreeREG and are likely inappropriate for CEN

[2019-03-15 00:57] Captainkirkdawson commented on #611
What is also troubling is that there are close to 100 search failures a day on just one server with a log entry FREECEN:PHC WARNING: browser may have jumped across servers mid-session. The actual message is likely incorrect but the searches failed or it  was a bot!! Regardless something is not right

[2019-03-15 09:14] PatReynolds opened #645 "FC2 STATS is not showing updated totals in ‘Percentage Graph’ and the ‘Totals Graphs’ columns have not been updated since 1/1/2018."
On FC2 STATS is there a reason as to why the ‘Percentage Graph’ and the ‘Totals Graphs’ columns have not been updated since 1/1/2018. [Reported by Brenda]

[2019-03-15 14:12] Vino-S commented on #611
We had crashes on search everyday. I thought may be it was a bot as it happened exactly at same time everyday.
https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5b8fe8a7e93790df64ef4fd0

I concluded them to be bot as most of the crashing `search ids` are the one's that do not exist in our collection. At present I have re-directed these searches(one's with search ids that do no

[2019-03-15 14:14] Vino-S commented on #611
But We need to design to filter out these bots or similar attacks for long run of our application

[2019-03-15 14:16] Vino-S commented on #611
Ah. Yes. Indexing can be a issue too

[2019-03-15 14:34] Captainkirkdawson commented on #611
I started a slack channel thread on indexing if you wish to chat about it

[2019-03-16 19:38] Vino-S commented on #645
Hi @PatReynolds ,
FC2 stats page in brazza show has updated 'Percentage Graph' and 'Totals Graphs'
Below is an example for LAN:
Percentage Graph:
http://www16.freecen.org.uk/freecen_coverage_graph/pct/LAN/1861
Totals Graph:
http://www16.freecen.org.uk/freecen_coverage_graph/ind/LAN/1861

The FC2 was updated on March 12th on brazza. The new count is not reflected in other servers yet. Lets wait unt

[2019-03-16 20:35] Vino-S commented on #642
@DeniseColbert  we have two bugs here
1. One is as the title says,  'We are sorry' message: Minor change
2. Second one is the Red Error page when we report an error: needs investigation

[2019-03-18 14:16] #645 closed

[2019-03-18 14:20] richpomfret commented on #644
Perhaps 'Thank you for letting us know, we appreciate your support'?

[2019-03-18 14:30] PatReynolds opened #646 "Red Error page when we report an error: needs investigation"
See #642 for report / image of the problem

E0, U4, S5, C6:P15

[2019-03-18 14:30] PatReynolds commented on #642
REd error message story no issue #646

[2019-03-18 14:36] richpomfret commented on #640
Reqires further investigation..

[2019-03-18 14:41] richpomfret commented on #637
Can you clarify what the exact issue is?

[2019-03-18 14:44] richpomfret commented on #635
Requires more info - shall keep open for now.

[2019-03-18 14:51] richpomfret commented on #626
Closing - not managed to find out what may have happened.

[2019-03-18 14:51] #626 closed

[2019-03-20 15:04] Captainkirkdawson commented on #611
Having looked at FC2 over several days there is a) no evidence of timeouts b) very few crashes affecting users c) there is generally good performance.
At the same time I would urge testing and deployment of the great merge so FC2 can take advantage of and build upon the guarding developed for FR2 as well as the latest versions of software.
The biggest performance weakness of FC2 is that it uses FR

[2019-03-20 15:26] richpomfret commented on #423
Looks good. :)

[2019-03-20 15:28] smrr723 commented on #560
Sitemap updated - (will merge code before the update).

[2019-03-20 15:40] #618 closed

[2019-03-20 15:42] richpomfret commented on #636
Removed from the above but remains on the search results page. @DeniseColbert to check.

[2019-03-20 15:42] #629 closed

[2019-03-20 15:43] #615 closed

[2019-03-20 15:45] richpomfret commented on #585
Done and now testing, so closing this issue.

[2019-03-20 15:45] #585 closed

[2019-03-20 15:46] #372 closed

[2019-03-20 15:47] #219 closed

[2019-03-20 15:56] PatReynolds opened #647 "Document new complaints of time out (if they occur)"
We believe there to be no search or time out issues. Therefore we need to collect specific details of any such search, the date and circumstances.

[2019-03-20 15:56] richpomfret commented on #611
Closing - we need details for any specific issue. Checked and no major issues. Sep story being created for improving indexing.

[2019-03-20 15:56] #611 closed

[2019-03-20 15:57] PatReynolds opened #648 "Review Indexes"
Some FreeCEN fields are not indexed (e.g. Birth County Chapman Code).  The missing indexes need to be identified and implemented.

E 1, U 6, S 7, C?: P

[2019-03-20 16:07] PatReynolds commented on #369
Change text to "Ask your coordinator".

[2019-03-20 16:21] richpomfret commented on #631
The merge may well assist us here.

[2019-03-20 17:41] PatReynolds opened #649 "Link to place/map"
@Brenda reports that she saw links from place of birth to a map - now no longer there on test2 or 3.  Maybe a product of bringing the genuki link on place and/or church to FreeCEN?

Sounds like a nice feature - do we want to enable it (working for FreeCEN, of course)

[2019-03-20 18:20] PatReynolds commented on #579
MergeBug created.
On "Test the manage counties functionality" - would this be best done by someone familiar with FreeREG and how the functions _should_ work?
Testing Volunteer sign up seems to work fine - but changing password generates an error:
![image001.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55c37263d9b190120013e30d/125516c66e82c728ace21e0d46e1999b2487d3f9deab

[2019-03-20 19:29] Captainkirkdawson commented on #631
Birth county sort code needs to be written

[2019-03-20 19:31] Captainkirkdawson commented on #631
@Vino-S  since I have worked with this on FR do you want me to take this on? especially in light of your work load

[2019-03-21 12:46] FreecenBren opened #650 "Test 3 adding new Place"
Reference 133054118 Feedback
Tried adding new place and it crashed.
Message says, "We're sorry but something went wrong etc."

[2019-03-21 15:16] #650 closed

[2019-03-22 09:41] PatReynolds opened #651 "Message send process ends on the wrong screen"

[2019-03-22 09:43] PatReynolds commented on #651
After sending, arrives at this screen:
![Message-end screen.JPG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55c37263d9b190120013e30d/125516c66e82c728ace21e0d46c59189308384acc2ecb147e44ef3862c4329316546b3397f8fe62bab0021435a5b1fa4400b5b41f9f18f2bafb63c728a5c0eefd364567dd42103eee9dc4be05ce36ade0d97bcae8b44cae93820e4898b483917001e8afc4f78.JPG)

Pressing the 'send' button agai

[2019-03-22 09:56] PatReynolds opened #652 "Change Image heirarchy to FreeCEN format"
Assuming that the County:Place:Church heirarchy has been brought across, what should it be changed to for FreeCEN?
County:RegistrationDistrict:Piece? CivilParish?

It would be good to know if (once decided) this is simply a case of renaming Place to Registration District, or whether more work is involved.

[2019-03-23 15:00] Captainkirkdawson commented on #648
As a start it would appear that a large number of searches include a birth_county which is unindexed. Most of those do not include a census_county which is indexed. Is that because of the form layout?
The SSD is not used in CEN so is not required as a search index element
a) The first step is to write a rake task to determine the actual search parameters used
b) Secondly modify the search performa

[2019-03-24 14:05] Captainkirkdawson commented on #579
Have updated the userid_details collection to reflect production. This means all Members of production can log in to the system for testing.
Corrected a few merge issues on the Member actions. Removed Actions unique to FreeREG

[2019-03-24 18:22] PatReynolds commented on #648
Purely from my own usage ... I am guessing that if the tree has been built from BMD and REG info, the birth county is known, but and maybe marriage (giving a married surname) but 'current location' decades later is unknown.  With rarer surnames, and a known/approximate birth date, searching without limiting by census county reduces the results to a manageable.  I wonder if we can get the json file

[2019-03-24 19:30] Captainkirkdawson commented on #579
Volunteering and password reset both work as expected on test2

[2019-03-24 19:33] Captainkirkdawson opened #653 "Volunteering registration does not work"
@PatReynolds   reported. Testing Volunteer sign up seems to work fine - but changing password generates an error:
![image001.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/55c37263d9b190120013e30d/125516c66e82c728ace21e0d46e1999b2487d3f9deabf301b44fff9e2c4533317346f67f71ddb22beb172e59595f47ac415a5f44f9fb8b22afbf2e6c981e5ab38532022d8c6853beb2901eb80bbb258e4c84b6ba8a48c3eb3

[2019-03-24 19:37] Captainkirkdawson commented on #653
Volunteering and password reset both work as expected on my testing with test2.

[2019-03-24 19:39] Captainkirkdawson commented on #653
@PatReynolds  could you please recheck. How did you get the reset message as all mail on test2 is currently trapped and goes to me at this point.

[2019-03-24 19:46] Captainkirkdawson opened #654 "Registration completion message incorrect"
The registration completion message is identical to the copy of the initial registration message

[2019-03-24 20:01] Captainkirkdawson commented on #651
The initial message was created on test3 not test2.
I created and sent a message to Pat. It basically worked OK but message reports it is from FreeREG also it does not contain the server link

[2019-03-25 16:23] PatReynolds opened #655 "Contact existing transcribers, re-inviting to Google Group"
E2, U6, S7, C5: P20,

[2019-03-25 16:54] Captainkirkdawson commented on #649
@FreecenBren  @PatReynolds Please review this story.
The Transcriptions link and the Manage Counties member action on FreeREG access a places database collection. Every place in FreeREG has a location link which displays the location of the Place on a Genuki Map.
The FreeCEN coverage link takes one to a County with the details providing a pieces listing which contains a Place name as a field for t

[2019-03-25 17:33] PatReynolds commented on #598
Closing as duplicates #467

[2019-03-25 17:34] PatReynolds commented on #598
No, may be different - may want list of Scottish counties to select from

[2019-03-25 17:35] PatReynolds commented on #389
Closing as duplicates #467

[2019-03-25 17:35] #389 closed

[2019-03-25 17:40] PatReynolds commented on #649
The (?missing ?never there) link was from a results page (i.e. a researcher view).

[2019-03-25 19:14] Captainkirkdawson commented on #649
There has never been a researcher accessible link to a map.  Does there need to be one?

[2019-03-25 21:48] Captainkirkdawson commented on #654
Message adjusted for when a user completes their registration. Deployed to test2.

[2019-03-25 21:55] Captainkirkdawson opened #656 "Send message needs to be made multi-modal"
Currently the message always uses the freereg team

[2019-03-26 11:09] PatReynolds opened #657 "Link from Place/Parish to GENUKI in results screen"
Link to GENUKI (or similar) map from Place, and/or Civil Parish and/or Ecclesiastical Parish in result for household

E0: U3: S2: C6: P11

[2019-03-26 11:10] PatReynolds commented on #649
Maybe - I have added #657 to consider this as part of wider Place discussions.  As it was never there, this story can be closed.

[2019-03-26 13:38] Captainkirkdawson commented on #657
It should be noted that place within a piece has current information  that provides links to google maps for the majority of pieces. The edit of a piece provides the ability to add  or change the specific map location.

[2019-03-26 17:28] Captainkirkdawson commented on #656
Completed and deployed to test2

[2019-03-26 17:40] Captainkirkdawson opened #658 "Contact system mails integration"
The contact system from REG need integration with some changes made for CEN and the messages adjusted where needed to be multi-modal

[2019-03-26 19:09] Captainkirkdawson commented on #658
1. Not all messages are being trapped; not necessarily a big issue
2. The contact message needs to go multi-modal
3. Need to investigate what changes have been made to customize contacts for CEN

[2019-03-26 19:20] Captainkirkdawson commented on #658
WRT 1) it would appear  at first glance that the development mail intercept does not intercept cc or bcc

[2019-03-27 16:41] AlOneill commented on #423
Just a couple of things:

Three of the four links in the opening paragraphs are set to open in a new tab, without warning. Although this is not a public page (and so full accessibility criteria do not apply), it could be confusing for a volunteer — for example, one who is not internet-savvy.

If it *were* a public page then link text such as "click here" or its variants would be a definite no-no:

[2019-03-28 14:37] DeniseColbert opened #659 "Database Coverage - explain why some counties are not included in the tables for some years"
E.g. Ayrshire - 100% complete for 41 & 51 but absent from list for other censuses. Do we not have images for these? We should let users know somehow.

[2019-03-28 16:32] FreecenBren commented on #659
That is because I have not added the PARMS files yet.  Have them all for
the missing ones to edit.
It will not change the % as we do not have the images anyway so once added
they will say 0%
I thought this issue was on a waffle board anyway? I know it has been
discussed.

On Thu, 28 Mar 2019 at 16:08, DeniseColbert <notifications@github.com>
wrote:

[2019-03-28 16:37] DeniseColbert commented on #659
It might be, if it is we can delete this one. Thanks Brenda.

[2019-03-28 19:43] #649 closed

[2019-03-28 22:28] Captainkirkdawson commented on #658
All components of Communications, Contacts, Feedback and Messages and Syndicate Messages appear to work as expected with multi-modal information and correct server links

[2019-03-28 22:31] Captainkirkdawson commented on #579
All aspects have been tested to the best of my ability as someone who does not use FreeCEN on a regular basis.

[2019-03-28 22:35] Captainkirkdawson opened #660 "P19 Review Manage Counties Functionality"
The Manage Counties Functionality is essentially as written for FreeREG.
The CEN management team needs to review and specify what, if anything, they wish to accomplish with this action.

Needs #652

E0 U6 S8 C5:P19

[2019-03-28 22:41] Captainkirkdawson opened #661 "Review Manage Syndicate Functionality"
The people management aspects of the currently functionality work correctly and are applicable to FreeCEN. There are 3 functions dealing with images and batches that could be removed.
FreeCEN management needs to review the current functionality and specify any requirements.

[2019-03-28 22:45] Captainkirkdawson opened #662 "P18 Review Manage Userid Functionality"
All the userid management functions work and are applicable to FreeCEN.
The FreeCEN management team needs to review and specify any additional functionality.

E0 U6  S7 C5: P18

[2019-03-28 22:50] Captainkirkdawson opened #663 "P19 Determine search parameter usage"
Write rake task to extract the actual search parameters used over a period of a month.

Required by #648

E0 U6 S7 C6: P19

[2019-03-28 22:54] Captainkirkdawson opened #664 "P19 Update search performance statistics"
Modify the search performance statistics to display the CEN search parameters
Required by #648

E0 U6 S7 C6:  P19

[2019-03-28 22:56] Captainkirkdawson opened #665 "P19 Site Statistics for FreeCEN"
The site statistics need to list the Cen records
Required by #648

Interval end Year Month Day Number of records Number of searches Number of records added
Not working (last worked 2017-05-19 on live site) - Make story

E1 U6 S7 C6: P19

[2019-03-29 14:44] Captainkirkdawson commented on #579
Summary of where we are:
Master has been merged into freecen_parsing by @benwbrum , tested and bugs fixed by myself. Brought into step with the current master yet again. It is now running on test2 cen with no known issues.
Recommend that the merged branch replace freecen_parsing in production and become the base code for CEN Development. Master should be merged into the merged branch every 2 weeks

[2019-03-30 00:56] dhousman opened #666 "GA Analytics Config Updates"
Make these updates to Google Analytics Config: Exclude bots from all properties
Consolidate different analytics accounts as properties under one account

Please assign this issue to me when you are ready for me to proceed with these configuration updates.

I cannot diagnose/troubleshoot issues in your reports until I can start making changes to your configuration.

[2019-03-30 01:04] dhousman opened #667 "GA Standardized Report Rollout"
Please assign this issue to me after you have reviewed the custom dashboards and are ready for me to roll them out on your other properties. I assume you want a monthly pdf report sent by email on the first? day of the month.

The only limitation I can see is that the emails can be sent monthly, but the dates are only for the previous 30 days.

[2019-03-30 01:14] dhousman opened #668 "GA Conversion Implementation"
Explore GTM implementation. Attempt to configure custom conversion events.

[2019-03-30 01:16] dhousman opened #669 "GA Configure reporting in Google Data Studio"
I purchased a netbook so this is an option. Please specify reports that you want reported side by side (on different properties).

[2019-03-30 01:17] dhousman opened #670 "GA: Custom reporting in API"
Configure advanced visitor enagement reports using GA API.

[2019-03-30 01:19] dhousman opened #671 "GA: real-time reporting in javascript?"
it's possible to create real-time reports to be embedded on web pages. Create reports of ___ metrics in real time.

[2019-03-30 16:07] PatReynolds commented on #410
@benwbrum is any further testing needed?  If so, please let me know what to test

[2019-03-30 16:07] PatReynolds opened #672 "Import from FreeREG buttons (or other solution) used to solve FreeREG#1870"
Taking solution for this from FR in terms of allowing for easy share of permanent links/URL to social media & adding on FC. See other story on FR for further info.

P17? if its size is 5

[2019-03-30 16:11] PatReynolds opened #673 "friendly and permanent urls, and share-by-social-media"

[2019-03-30 21:32] Captainkirkdawson opened #674 "P 18 Separate database for test instances"
Currently both test2 and test3 are using the same mongodb database. This is bad practice.
Solution is to clone the test database and save under a separate name.
E0 U6 S7 C5: P18

[2019-03-30 21:33] Captainkirkdawson commented on #673
As noted on REG do not understand the requirement

[2019-03-30 21:34] Captainkirkdawson commented on #672
Do not understand the requirement

[2019-03-30 21:35] Captainkirkdawson commented on #671
Reports of what and for what purpose and why javascript as the solution

[2019-03-30 21:36] Captainkirkdawson commented on #670
Do not understand the requirement

[2019-03-30 21:36] Captainkirkdawson commented on #669
Do not understand

[2019-03-30 21:37] Captainkirkdawson commented on #668
Why?

[2019-03-30 21:38] Captainkirkdawson commented on #666
What configuration and why?

[2019-04-01 09:19] PatReynolds commented on #672
Hope that clarifies, @Captainkirkdawson - seems to have lost half the title!

[2019-04-01 11:38] richpomfret commented on #669
@Captainkirkdawson these are sets of tasks added by David (analytics volunteer) and are specific to Google Analytics/Tag Manager on FreeCEN. Although there might be tasks (to discuss) in here for adding new or extra data charts/stats within the actual site too.

[2019-04-01 11:50] richpomfret commented on #669
@dhousman fyi, this waffle board is primarily for project development on FreeCEN so we might wish to find a better 'home' for them if no coder support is required and if they are across projects e.g. not just FreeCEN. Data Studio would be excellent (glad to hear this is now an option) and I think, ideal for high level reports for quick glance comparison across our projects. Let's discuss further o

[2019-04-01 11:53] richpomfret commented on #668
We have Google Tag Manager now recording such 'clicks' but do not have GA hooked up to provide any metrics on it.

[2019-04-01 11:55] richpomfret commented on #666
@dhousman do you have access to the 'without bots' views on our projects in GA? Sorry @Captainkirkdawson these stories are GA/GTM related but require little developer input (at this stage).

[2019-04-01 13:16] richpomfret commented on #666
@dhousman it would be useful to understand any 'side effects' of consolidating these properties.

[2019-04-01 13:17] richpomfret commented on #674
@Captainkirkdawson . Agreed. Can we have a size estimate?

[2019-04-01 13:19] richpomfret commented on #673
@Captainkirkdawson Pat has added a user example over on the FR story.

[2019-04-01 13:23] richpomfret commented on #672
@Captainkirkdawson can you add a size when appropriate.

[2019-04-01 13:30] richpomfret commented on #671
We need to first define the requirements here and how it may be useful. We can look at this in terms of the GA site behaviours and then project database data visualisation.

[2019-04-01 13:38] richpomfret commented on #665
@Captainkirkdawson Can you add a size?

[2019-04-01 13:42] richpomfret commented on #659
To check for duplicate before closing.

[2019-04-01 13:45] richpomfret commented on #269
Investigate. This should be covered by other new campaigns.

[2019-04-01 13:53] richpomfret commented on #598
To ensure we are consistent with this (not just Scottish counties).

[2019-04-01 13:59] #558 closed

[2019-04-01 14:05] richpomfret commented on #586
To provide 'download parms' link for all coordinators rather than 'edit..' (the latter is only accessible to Brenda).

[2019-04-01 14:29] PatReynolds commented on #648
@Captainkirkdawson please change priority I have given if I've got it wrong, and estimate size.  TY, Pat

[2019-04-01 14:51] Captainkirkdawson commented on #648
This is an Epic. The first cut has been done. Will review after completion of the 3 tasks identified

[2019-04-01 18:53] dhousman commented on #671
@richpomfret yes this could be useful in embedding a report that publicly shares  information about how much the site is currently being used, or possibly to visualize site goals such as conversion (possibly transcribing data). Note sure if you want/need something like this, but I wanted to let you know that's an option.

[2019-04-01 19:09] dhousman commented on #668
@richpomfret I went through the triggers on your GTM settings page but was unable to  get those events to fire.   if you can provide a list of page addresses with instructions on how to trigger the event, then I will look at the hits and configure the reports to reflect the additional data.
 I think it might be helpful to start this activity by putting together a document of which conversion event

[2019-04-01 19:11] dhousman commented on #666
@richpomfret I updated this issue by editing your responses and adding my own messages to them... apologies if I made things confusing. Going forward would you prefer that I just add a reply like this?

[2019-04-03 14:43] richpomfret commented on #636
Fine to leave on the search results page. Will close.

[2019-04-03 14:44] DeniseColbert commented on #560
This is fine- closing

[2019-04-03 14:44] #560 closed

[2019-04-03 14:49] richpomfret commented on #642
To test on Live (the message has been changed). To try and replicate/investigate the second bug (captured in the other story Pat mentions).

[2019-04-03 14:53] richpomfret commented on #543
To review versions on TEST3/Live and see which is preferable @DeniseColbert @AlOneill

[2019-04-03 14:57] richpomfret commented on #470
@DeniseColbert To test - this may already be done.

[2019-04-03 14:59] DeniseColbert commented on #470
This does indeed appear to be fixed.

[2019-04-03 15:01] richpomfret commented on #653
Shall test this too.

[2019-04-03 15:04] #470 closed

[2019-04-03 15:05] richpomfret commented on #654
Shall test.

[2019-04-03 15:17] richpomfret commented on #552
Any update on this one @PatReynolds?

[2019-04-03 15:30] richpomfret commented on #524
Might be tricky to rotate (not impossible), so back-up plan is a good idea.

[2019-04-08 14:11] richpomfret commented on #666
Thanks both @Captainkirkdawson and @dhousman. We do need to resolve the 'bugs' in FR GA and hope that the code revert might have done this. If not, we might want to start again from scratch with Tag Manager.

[2019-04-08 14:12] richpomfret commented on #666
@dhousman please include comments as new comments rather than edit someone else's post (which is bad juju imo!).

[2019-04-08 14:15] richpomfret commented on #671
Thanks @dhousman. I think we will put this on the 'back-burner' for now, seeing as we do not have a clear set of requirements for it.

[2019-04-08 14:18] richpomfret commented on #668
@dhousman That document does sound like a very good idea (I would hope we have something like that already but perhaps not). @DeniseColbert @Vino-S any idea if we have such a doc listing Tag Manager conversions/triggers?

[2019-04-08 15:37] richpomfret commented on #667
@dhousman can we consider 2 reports; one weekly and one monthly? Weekly should be the site performance report. Monthly can be the retention/acquisition. We might want to consider a monthly compiled report for site performance too.

[2019-04-08 15:44] richpomfret commented on #667
Imo, the reports look excellent. For the site overview dash/report, can we ensure any graphs compare/include comparison with exact time period last year? That way we can keep an eye on seasonality. Perhaps just have 'users' for that and have the 'users and new users' graph below that, seeing as that becomes a tad cluttered when including last years data (you'll see what I mean).

[2019-04-08 15:47] richpomfret commented on #667
I also wonder if it might be possible to have a few 'bullet-point' stats at the top of the report - a bit like those we get auto sent through to the Analytics channel on Slack e.g. 'xyz% + over number of users last week' and perhaps the same for '..number of users this time last year'. Can continue discussion over on Slack if you like.

[2019-04-08 22:43] Captainkirkdawson commented on #579
Ugh
@richpomfret @Vino-S @PatReynolds
Just went to merge freecen_parsing into master-into-freecen and guess what 6 areas of conflict!!! We have to get away from updating parsing or we will spend hours resolving conflicts

[2019-04-09 11:12] Vino-S commented on #579
I too agree with @Captainkirkdawson . We need to stop working on freecen_parsing in a order to stop ourselves from creating more conflicts. We can continue once the merge is completed.

Can I suggest to update only` master` every sprint as most of the time we have common requirements and changes for both REG and CEN?
We can filter on code level for fixes of FreeCEN/ FreeREG specific issues.
Then w

[2019-04-10 14:20] Captainkirkdawson commented on #387
Have picked this up. Integrating freereg citation code approach  ( #1374)

[2019-04-11 15:42] PatReynolds commented on #424
This option does not appear on the menu (but link still works as https://freecen.freecen.org.uk/userid_details/transcriber_statistics

[2019-04-11 16:55] Vino-S commented on #424
Hi @PatReynolds ,
Below is the link:
https://www.freecen.org.uk/userid_details/transcriber_statistics

[2019-04-11 16:55] Vino-S commented on #424
Hi @PatReynolds ,
Below is the link:
https://www.freecen.org.uk/userid_details/transcriber_statistics

[2019-04-14 21:31] Captainkirkdawson commented on #387
The citation generator is available for viewing on test2

[2019-04-14 21:35] Captainkirkdawson opened #675 "Record produced using a citation generated url is missing Printable Format, [not possible to add Next Dwelling and Previous Dwelling, Next Record and Previous Record]"
In implementing the citation I noted that FreeCEN does not implement a next or previous record produced by a search. Instead there is a next and previous dwelling.
Is this deliberate? It means that there is no way, other than going back to the results, to step through the results. Should there be? Should both be there?
Decided in prescrum 15/5: yes, both should be there.

Two actions:
1/ redesign

[2019-04-14 21:37] Captainkirkdawson commented on #387
It should be noted that the citation is only generated for results. It is not generated for next and previous dwellings. See issue #675

[2019-04-15 10:48] PatReynolds commented on #387
Title of Button "Citation Generator" is not in bold, as the other buttons are.
Permanent URLS work.

Wikitree generates incorrect citations (only one tested so far - correcting these might resolve issues in other formats - nb (search Elizabeth Lawson or Thomas Lawson - not the same Elizabeth and Thomas as in the correct examples further down, which are my ancestors, because their records are  not

[2019-04-15 13:05] PatReynolds commented on #675
This is deliberate.  For discussion, should we add a 'previous entry in search results' and 'next entry in search results' feature?

[2019-04-15 13:35] #647 closed

[2019-04-15 19:26] Captainkirkdawson commented on #387
I need help from @Vino-S  to advise on missing field definitions associated with head of household. Question raised on slack.

[2019-04-15 19:26] Captainkirkdawson commented on #387
Wording on other citations need to be checked by an expert!

[2019-04-15 21:00] Captainkirkdawson commented on #410
The friendly url is running on test2 for a search result.
It is independence of citation and visa versa

[2019-04-15 23:20] Captainkirkdawson commented on #387
Have completed the citation clean up noted by @PatReynolds
Need final confirmation by experts on citations. Running on https://test2.freecen.org.uk/

[2019-04-16 08:52] PatReynolds opened #676 "Document the tools for transcribers, proofreaders and managers"
Transfer FreeCEN1 documentation to the FreeCEN2 website, including updating from practice in 2000 to practice today. Create new documentation for the replacement tools being developed on FreeCEN2 which includes the tools developed for FreeREG, and now imported.

[2019-04-16 08:59] PatReynolds opened #677 "Document the new tools for transcribers, proofreaders and managers"

[2019-04-16 09:01] PatReynolds commented on #677
Create new documentation for the replacement tools being developed on FreeCEN2 which includes the tools developed for FreeREG, and now imported into FreeCEN2.

Needs #676
Needs #377

[2019-04-16 21:16] dhousman commented on #667
Per request, I split out the users from the new users timeline. re-did layout to put the "bullet point" stats in the left column  Can't do these side by side at the top because that affects the layout of the timelines and i can't make the timelines span more than one column, and I don't think you want to compress the timelines to get more bullet point stats at the top. I set up date ranges for las

[2019-04-17 14:38] benwbrum commented on #631
Currently the code is in `master-into-freecen` deployed on `test2` and has been tested by @Captainkirkdawson .  We will wait to deploy it until `master-into-freecen` is deployed to FreeCEN production, and *not* add it to `freecen_parsing`.

[2019-04-17 14:39] #636 closed

[2019-04-17 14:39] #623 closed

[2019-04-17 14:39] #622 closed

[2019-04-17 14:40] #642 closed

[2019-04-17 14:43] benwbrum commented on #579
We think that testing is complete and that this branch is ready for deployment.  We may need a plan for deployment to production.

[2019-04-17 14:45] benwbrum commented on #621
Unable to replicate this error locally.  Should we wait until we spot it again on Erribit?

[2019-04-17 14:45] #621 closed

[2019-04-17 14:48] benwbrum commented on #658
The contact system needs to be tested to see if the mailings go out correctly.

[2019-04-17 14:49] benwbrum commented on #246
Pat chased Ann in March and may have chased her in April.  @PatReynolds to update with most recent update.

[2019-04-17 14:51] benwbrum commented on #256
Aberdeen is cleared up, but there are still more problems.  @FreecenBren and @Vino-S will be looking at this.

[2019-04-17 14:52] benwbrum commented on #552
Quoth @PatReynolds: "No."

[2019-04-17 14:53] benwbrum commented on #535
This will require a code change to add a link on the transcriber registration page, according to @Vino-S.

[2019-04-17 14:55] benwbrum commented on #377
The Google Doc has been reviewed, so the contents can be published (but still need to be published).

[2019-04-17 14:57] benwbrum commented on #445
The rationale and clarifications have been provided.

[2019-04-17 14:57] #445 closed

[2019-04-21 22:36] dhousman commented on #670
Built in Google Analytics reports are fairly rudimentary when it comes to analyzing visitor behavior across visits. Currently, the best we can do is report on the visit number for each visitor that takes place within a time frame. You can see this explained in depth here: https://support.google.com/analytics/answer/1032796?hl=en. I don't think that this report is of great use to you.

Using bounce

[2019-04-24 16:26] PatReynolds commented on #586
The name of the link (in Actions) is "Manage Pieces".

[2019-04-25 10:38] PatReynolds commented on #387
Family search and Legacy are both missing the end of the PRO reference (just showing PRO, should have a / and a number, Folio and Page.
Evidence Explained has an extra (unwanted) space before the final full stop.
Had a very peculiar result from https://test2.freecen.org.uk/search_records/5904214be9379091b1b35e50 - only three citation types appeared - but fine now, and problem not replicated in any

[2019-04-25 17:20] PatReynolds commented on #410
https://test2.freecen.org.uk/search_records/59037c10e9379091b1f27c0b generated from  England, Scotland and Wales Census, 1861 database, FreeCEN (https://test2.freecen.org.uk/search_records/59037c10e9379091b1f27c0b : viewed 25 Apr 2019), Ann PATRICK head of household, Market Harborough, Leicestershire, England; from 1861 England, Scotland and Wales Census database and images; citing PRO RG 9/2252,

[2019-04-25 22:55] Captainkirkdawson commented on #387
Fixed those formats on test2

[2019-04-25 23:19] Captainkirkdawson commented on #410
Fixed on test2 cen

[2019-04-26 14:33] PatReynolds commented on #410
Agreed, now works fine.

[2019-04-27 23:51] Captainkirkdawson commented on #664
Completed as part of multi modal and deployed to test2 cen

[2019-04-28 00:03] Captainkirkdawson commented on #472
This is 1 year old; there is no current indication that there is any issue with revising a search. I propose it be closed

[2019-04-28 00:05] Captainkirkdawson commented on #358
What needs to be changed and to what?

[2019-04-28 08:39] PatReynolds commented on #358
Don't know yet - waiting to hear back from Na tional Records of Scotland (see dependency)

[2019-04-28 15:24] FreeUKGenIssues opened #678 "136379381 Website Problem (Anthony Bennett)"
Issue reported by **Anthony Bennett** at 2019-04-28 11:09:41 UTC
Time: 2019-04-28T11:08:47+00:00
Session ID: 02bbcfb4c5c09b32b75a8fdcfc6248a5
Problem Page URL: []()
Previous Page URL: [https://www.freecen.org.uk/contacts/new](https://www.freecen.org.uk/contacts/new)
Reported Issue:
I am repeatedly receiving the message "We encountered a problem completing your request" when attempting a search.  T

[2019-04-28 15:29] Captainkirkdawson commented on #678
This will be a difficult issue to diagnose due to bot accesses creating a large number of similar events. brazza logs show 313 such crashes alone today up until 15:00. Since these are trapped events they are not reported ito errbit

[2019-04-28 16:37] Captainkirkdawson commented on #678
brazza had 309 crashes of /home/apache/hosts/freecen2/production/app/controllers/search_records_controller.rb:63:in
and 5 of 	/home/apache/hosts/freecen2/production/app/controllers/places_controller.rb:99:in `for_search_form'

[2019-04-28 18:00] Captainkirkdawson commented on #678
I believe that the type A and type B crashes are from bots. THE TYPE C errors are user level experiences and are a serious performance issue and may be the cause of many of the comments made about FreeCEN2.
Have confirmed that his first search crash was for an Emily Rule rather than what he reported. It is interesting that the search queries associated with TYPE C are present in the database. Look

[2019-04-28 19:30] Captainkirkdawson commented on #678
There are a couple of ways of handling this. Firstly by waiting for a write completion or secondly through code changes. I am reluctant to adopt the latter until we have deployed the multi modal code as these areas of code are different there. Consequently I will experiment with a write timeout in mongoid.yml

[2019-04-28 21:19] Captainkirkdawson commented on #678
Applied a write majority to saki

[2019-04-29 13:26] DeniseColbert commented on #588
Tell enquirer to search Ma* and Mc*

Needs adding to 'Help' (also FreeREG)

[2019-04-29 13:27] DeniseColbert commented on #589
Superceded

[2019-04-29 13:27] #589 closed

[2019-04-29 13:35] DeniseColbert commented on #591
Communicate in 'Help' that 'Nearby Places' can be used with this.

Kirk to investigate if we can relax on 'First Name' at all, and look at https://www.bac-lac.gc.ca/eng/census/Pages/census.aspx model.

[2019-04-29 13:37] PatReynolds opened #679 "Research on implementing #591"

[2019-04-29 13:43] DeniseColbert commented on #592
New feature (not in FreeCEN1). Canvas users to assess if this would be a good use of our time.

[2019-04-29 13:50] DeniseColbert commented on #593
* Include in hint that you can save as PDF via Print option

* Bring export to CSV/JSON feature across

* Download as PDF option

[2019-04-29 13:52] PatReynolds opened #680 "Document alternative ways to save information"
Note that you can also save by right clicking and choosing 'print' and print options.

[2019-04-29 13:54] PatReynolds opened #681 "Bring alternative saving of detailed results from FreeREG"
Export to CSV and Json

E1 U1 S4 C?7: P15

[2019-04-29 13:56] PatReynolds opened #682 "Add cpapacity to export to PDF"

[2019-04-29 14:00] DeniseColbert commented on #595
Check with enquirer about what they are asking for

[2019-04-29 14:02] DeniseColbert opened #683 "Allow selection of multiple census years"

[2019-04-29 14:09] DeniseColbert commented on #596
Potential Machine Learning task to go through Notes and pick up e.g. USA

[2019-04-29 14:11] DeniseColbert commented on #596
Change the Hint that Overseas births are in the Special section at the bottom of the list.

[2019-04-29 14:11] PatReynolds opened #684 "Extract country of Birth (OVB and OVF) from places recorded in Notes"
Possibly implement via machine learning

[2019-04-29 14:12] #597 closed

[2019-04-29 14:31] Captainkirkdawson commented on #678
saki logs show only 2 type C occurrences today. Both messages are correct there were no such queries.
Propose to deploy same fix to other servers.

[2019-04-30 14:38] Captainkirkdawson commented on #678
Logs show only 3 type C occurrences over all 5 servers today. Those were correct.
As this was a configuration change it is implemented and deployed

[2019-04-30 17:07] PatReynolds opened #685 "Site Statistics page is not working (FC2)"
May be a feature still in Test3 / test2.

E1 U6 S7 C6: P20

[2019-05-01 14:14] Captainkirkdawson commented on #579
The master-into-freecen has been superseded by the multi modal master branch which is the common MyopicVicar code base that supports our applications. We should test this and place into production rather than master-into-freecen

[2019-05-01 14:39] benwbrum commented on #579
We need to test both FreeREG and FreeCEN on test2 with the multi-modal code.  @Vino-S is also testing the VLD/build processing files.

This is the branch that needs to be deployed; there is no reason to deploy the interim `master-into-freecen` branch instead.

[2019-05-01 14:40] benwbrum commented on #579
Denise has tested the base-line search for FreeCEN with citations etc.  We need a more comprehensive search of e.g. CEN-specific searches.

[2019-05-01 14:41] benwbrum commented on #651
Still needs testing; could be done by @DeniseColbert

[2019-05-01 14:44] benwbrum commented on #424
Link to be added after we deploy the multi-modal code.

[2019-05-01 14:46] benwbrum commented on #472
Pat remembers a similar problem which has been resolved since.  She will open a new issue if she encounters it again.

[2019-05-01 14:46] #472 closed

[2019-05-01 14:47] benwbrum commented on #246
It's May; Ann needs chasing again.

[2019-05-01 14:48] benwbrum commented on #256
No time last sprint; postponing for tonight's update to review results from that.

[2019-05-01 14:50] benwbrum commented on #355
@AlOneill refreshing memories on this.

[2019-05-01 14:55] benwbrum commented on #165
Pat to talk to @richardofsussex on this.

[2019-05-01 14:58] benwbrum opened #686 "Document FreeCEN2 Data Model"

[2019-05-01 17:42] Captainkirkdawson commented on #685
This is because there are no cron tasks set up for vervet that would create the statistics. that applies to both reg and cen

[2019-05-02 09:03] PatReynolds commented on #165
Contacted Richard 2/5/2019

[2019-05-03 17:04] #581 closed

[2019-05-10 08:28] PatReynolds opened #687 "Amend Excel column adjustment instructions and add to FC2"
Document at https://drive.google.com/file/d/0BzRDUeF70MtpcEdZZzl1WnNlYm5qaXRmNVdZTExIQ2ZpaXJB/view?usp=sharing needs converting to Refinery and Windows 10 instructions adding

E0 U1 (rarely used) S3 C7: P11

[2019-05-10 08:51] AlOneill commented on #687
Needs to be more general than just for Excel, including OpenOffice, for example.

What is different on Windows 10?

[2019-05-10 08:52] PatReynolds commented on #687
Don't know about Windows 10 changes - request was from Brenda.

[2019-05-10 09:32] AlOneill commented on #687
OK. Will place on "Spreadsheet Tips" page (to be created).

[2019-05-13 13:20] PatReynolds opened #688 "Convert Alison's listing of Countries as OVF and OVB for Freecen2 Places"
See also #684 which is blocked by this story, and may not be needed

[2019-05-13 13:27] PatReynolds opened #689 "Place Epic"

[2019-05-13 13:48] DeniseColbert opened #690 "Display a message when there is no 'Next Dwelling' (at end of Piece)"
Something like:

You've reached the end of this Piece; unfortunately we can't show you the next dwelling.

[2019-05-13 13:50] richpomfret commented on #640
A good issues for John T to take a look at perhaps.

[2019-05-13 13:51] DeniseColbert commented on #690
Related to #634

[2019-05-15 13:30] DeniseColbert commented on #651
Seemed to work OK on test2

Test3 gave me this error when I pressed 'send':
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/d8076883-2b24-4efd-b687-d0d2796aaafd)

[2019-05-15 13:34] DeniseColbert commented on #543
I think live has the best version. Differences are minor but live is a bit of an easier read.

[2019-05-15 13:46] DeniseColbert commented on #347
Do we already have information like this, to put in a Refinery page?

[2019-05-15 14:36] richpomfret commented on #678
Closing - no further incidences spotted.

[2019-05-15 14:36] #678 closed

[2019-05-15 14:38] richpomfret commented on #651
Should be resolved on TEST3 once multi-modal is rolled out later this week.

[2019-05-15 14:38] #651 closed

[2019-05-15 14:45] richpomfret commented on #543
In which case, these changes on live also need to be on TEST3 or we risk the old version moving over onto 'live' when an automated update takes place.

[2019-05-15 14:50] richpomfret commented on #139
@PatReynolds let's organise a separate review to go through the new additions on FC from FR.

[2019-05-15 14:53] DeniseColbert commented on #543
Done, can be closed.

[2019-05-15 14:54] richpomfret commented on #424
@PatReynolds let's test once rolled out.

[2019-05-15 14:56] richpomfret commented on #256
Update has been completed. @FreecenBren now looking at this.

[2019-05-15 15:02] #543 closed

[2019-05-15 15:08] richpomfret commented on #347
Research task here to discover the differences we then need to document..

[2019-05-15 15:10] richpomfret commented on #347
@DeniseColbert to chat to Margaret upon her (and your) return.

[2019-05-15 15:21] richpomfret commented on #681
Likely to inherit this during the merge? In which case this 'may' already be done..

[2019-05-15 15:24] richpomfret commented on #685
So....I would have thought that this might be resolved as part of the great merge, but your last comment @Captainkirkdawson appears to indicate otherwise?

[2019-05-15 16:49] richpomfret opened #691 "GA reporting incorrect new/returning users"
Appears to be across each project (not just FC2). We have a higher number of new users vs returning on Google Analytics. This conflicts with both common sense and other stats pointing towards users visiting the site via a 'direct' link to the search e.g. through a bookmark.

[2019-05-15 17:12] richpomfret commented on #653
Password reset works fine for both current/new users on LIVE.

[2019-05-15 17:13] richpomfret commented on #653
CLOSING. Will do general current/new user tests post multi-modal deployment.

[2019-05-15 17:13] #653 closed

[2019-05-16 09:49] PatReynolds commented on #658
Am unable to log in on test2.  Will now test password recovery!

[2019-05-16 10:03] PatReynolds commented on #681
FC2  test 3 has 'SH' and 'Remove' versus FR2 live "Show' and 'Replies'.  the FC2 set-up is very different, with the message being the author-view, not the recipient-view (as far as I can see).

[2019-05-20 12:28] richpomfret commented on #126
Moving this back into Sprint Backlog as it remains urgently needed - if a user logins into the site and clicks on 'help' they are taken to a page with nothing on it other than 'placeholder'. We need even a simple or basic bit of text here or set of links to assist transcribers. @PatReynolds or @AlOneill any idea if we have anything for this?

[2019-05-20 12:38] richpomfret opened #692 "Registration link to Volunteer Induction Handbook (pdf) is broken"
Although users can still tick the box, they cannot actually get access to the volunteer induction handbook as the link is broken:

https://www.freeukgenealogy.org.uk/files/Documents/VolunteerInductionHandbook.pdf

Other links seem to work fine, so need to investigate what has gone wrong here.

[2019-05-20 12:39] richpomfret commented on #692
@DeniseColbert assigned to you to take a look as the link is a FUG file, although @PatReynolds may be able to assist. Flagged urgent as creates issue for any new sign-ups (although registration can still be completed).

[2019-05-23 17:58] AlOneill opened #693 "Refinery is centring text (again)"
On test3, the Refinery preview pane is centring the text again. Have not looked on live.

Also, get red error screen when trying to save a newly-created child page — creating a random page works, but the process stalls after attempting to re-order the pages. Never had this happen before.

[2019-05-23 18:17] AlOneill commented on #687
Have created a draft "Spreadsheet Help" page, but Refinery will not save added content: will add this to story re Refinery issues.

[2019-05-23 18:20] AlOneill commented on #693
I cannot add content to a newly-created Refinery page — red message screen on trying to save.

[2019-05-24 10:46] AlOneill commented on #688
Re the Milestone, surely this is needed for volunteers (to complete POB CHP) as much as for researchers?

[2019-05-24 11:34] PatReynolds commented on #688
I thought OVB and OVF came from the Census,  not the transcriber.  If the censuses all say a country name, why use OVB/OVF?

[2019-05-24 11:42] FreecenBren commented on #688
The census only says the country and sometimes the town/village etc.
It also can say if they are ‘Naturalised British Subjects’

If it says that then we use OVB whatever the country of Birth in the CHP
column. In the POB we enter the details that the enumerator has entered.

So born in New York, USA we will use OVF unless it says ‘Naturalised
British Subject’
If it does not say that then we go by

[2019-05-28 22:16] Captainkirkdawson commented on #646
Fixed and in production

[2019-05-28 22:18] #656 closed

[2019-05-28 22:18] #658 closed

[2019-05-28 22:18] #387 closed

[2019-05-28 22:18] #631 closed

[2019-05-28 22:18] #664 closed

[2019-05-28 22:19] #410 closed

[2019-05-28 22:19] #654 closed

[2019-05-29 11:38] PatReynolds commented on #246
Now have new contact - Gerry D. and discussing date for phone call.

[2019-05-29 11:46] PatReynolds commented on #369
Added "This, and other software is available from your Syndicate Coordinator. " to DRAFT Information for Transcribers (bottom of "How FreeCEN works — an introduction" on initial page for transcribers.

[2019-05-29 12:05] PatReynolds commented on #423
This story may contain elements/suggestions that do not refer to the Volunteer landing page.

Elements relating to the volunteer landing page have now been added, but the Open Data signup has gone awol, so I wil re-open that story.

Suggest closing this one.

[2019-05-29 12:10] PatReynolds opened #694 "(Reinstate) Open Data sign-up for existing transcribers"
Memory says that this story (#107 ) was implemented, but not there now.

Needs implementing (again).

[2019-05-29 13:13] PatReynolds opened #695 "place"

[2019-05-29 13:16] PatReynolds opened #696 "Place"

[2019-05-29 13:29] PatReynolds commented on #552
Tried to sign in 29/5 - Amazon are working on website 'come back later'.

[2019-05-29 14:30] richpomfret opened #697 "FreeCEN2 GA has been 'broken' since Saturday - not reporting expected numbers"
FC2 Google Analytics has gone from reporting a few thousand unique users per day to under 10. It looks like this reported traffic is now being picked up by FreeREG instead due to an incorrect ID being used. This coincides with the code deployment at the weekend.

[2019-05-29 14:45] richpomfret commented on #697
Revisiting/updating TAG Manager should resolve this (re: Kirk's theory) - we also need to assess how this might be impacting upon bounce rate.

[2019-05-29 14:47] richpomfret commented on #697
To make multi-modal.

[2019-05-29 14:50] #695 closed

[2019-05-29 15:01] #423 closed

[2019-05-29 15:03] #646 closed

[2019-05-29 15:04] richpomfret commented on #579
Closing - any new bugs/issues that arise on LIVE can be added as specific stories.

[2019-05-29 15:04] #579 closed

[2019-05-29 15:14] PatReynolds commented on #377
@PatReynolds to transfer draft to Refinery, for review

[2019-05-29 17:15] Captainkirkdawson commented on #697
It is clear that there  are 2 tag manager codes. 1 for FreeREG and 1 for FreeCEN.
The code at https://github.com/FreeUKGen/MyopicVicar/blob/master/app/views/layouts/application.html.erb#L11-L17
needs to be made dependent on appname similar to
https://github.com/FreeUKGen/MyopicVicar/blob/master/app/views/layouts/_header.html.erb#L4-L31

[2019-05-30 11:00] PatReynolds commented on #681
Alternative means are missing on FreeCEN:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/d3d2bea8-2488-4ddd-a04c-3ee532505aa2)

[2019-05-31 13:46] Captainkirkdawson commented on #693
@AlOneill I believe that I have fixed the red crash. Refinery had made a change to their tables which was largely undocumented. test3 has been fixed but not production. Please confirm is OK before I go to production.

[2019-05-31 14:53] AlOneill commented on #693
@Captainkirkdawson Yes! Successfully created a child page on test3, saved it with a little content and then re-ordered in Pages listing. TY.

Just leaves the centring in text editor pane — it's important as I can't proofread that much centred text with any accuracy. But you know that :-)

[2019-05-31 22:23] Captainkirkdawson commented on #693
Will review On Saturday

On Friday, 31 May 2019, AlOneill <notifications@github.com> wrote:

--
Kirk Dawson
5220 Riverside Drive
Fairmont Hot Springs, B.C.
V0B 1L1

[2019-06-02 13:46] Captainkirkdawson opened #698 "Freecen management needs to respond to contacts submitted by researchers."
Since the deployment of the multi modal software version of FreeCEN on May 25 the contact mangement system has been in use by researchers. There are now messages awaiting action. It is time for the FreeCEN management team to respond using the Contact action system

[2019-06-03 10:15] #697 closed

[2019-06-03 11:53] DeniseColbert opened #699 "Donate button is broken on https://www.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/16762f99-95e8-482f-82fc-2bf92f9ce7c3)

Image needs adding to Refinery

E2 U2 S5 C8: P17

[2019-06-13 08:52] FreeUKGenIssues opened #700 "Need for viewed records to be noted on return to results list as "viewed"(139897433 Website Problem -Geoff Masters)"
Brenda and Pat believe this has already been raised as an issue, but cannot find it on the board.

Issue reported by **Geoff Masters** at 2019-06-08 04:23:53 UTC
Time: 2019-06-08T04:07:00+00:00
Session ID: ee2ee8e49e96aeb54345af25b1dcb366
Problem Page URL: []()
Previous Page URL: [https://www.freecen.org.uk/contacts/new](https://www.freecen.org.uk/contacts/new)
Reported Issue:
This is both a Websi

[2019-06-14 08:59] PatReynolds opened #701 "Clarify "Database Coverage" by stating completeness (including absense) of images held"
Currently, there are 'missing' counties - e.g. Berkshire in 1841.  these should appear, with a message in details along the lines of "We currently do not have access to the images of this census to transcribe.  If you have images that we can transcribe from, please get in touch".

[Feedback at the Genealogy Show]

[2019-06-14 09:55] PatReynolds opened #702 "Add link to System Documentation Folder in Gdrive (from Systems Documentation page in Refinery)"
E0 U6 S7 C8 : P21

[2019-06-17 13:09] PatReynolds commented on #582
@richpomfret why was this moved back to incoming?

[2019-06-17 13:25] PatReynolds opened #703 "Image"

[2019-06-17 13:47] PatReynolds commented on #681
Now there, so closing.

[2019-06-17 14:15] AlOneill commented on #693
@Captainkirkdawson Refinery on production is doing something strange with **style attributes that use max-width**: they are not deleted (which I find surprising) but **they reach the browser (Firefox) empty**, i.e. as style="". The Refinery editing/preview pane honours them.

In general, I avoid the use of such style attributes but can't help but wonder what other styles might be lost: will report

[2019-06-17 16:35] PatReynolds opened #704 "Adapt Image system for FreeCEN purposes"

[2019-06-17 16:44] #703 closed

[2019-06-19 14:21] richpomfret commented on #692
Double-checked and all fine. Closing.

[2019-06-19 14:21] #692 closed

[2019-06-19 14:22] richpomfret commented on #165
Let's discuss during next roadmap meeting on Monday.

[2019-06-19 14:23] richpomfret commented on #557
This has been complete for some time - closing.

[2019-06-19 14:23] #557 closed

[2019-06-19 14:26] richpomfret commented on #394
I think we can consider this complete. Closing.

[2019-06-19 14:26] #394 closed

[2019-06-19 14:38] richpomfret commented on #246
@PatReynolds to create new task for next steps.

[2019-06-19 14:38] #246 closed

[2019-06-19 14:40] richpomfret commented on #424
Link within User ID management options.

[2019-06-19 14:40] PatReynolds opened #705 "Send NRS information required"
E2 U6 S7 C8: P23

[2019-06-19 14:46] richpomfret commented on #693
@Captainkirkdawson to resume work on this.

[2019-06-19 14:56] richpomfret commented on #617
@PatReynolds to test.

[2019-06-19 14:57] richpomfret commented on #535
Ready for testing on TEST2.

[2019-06-19 14:59] richpomfret commented on #691
@richpomfret to test/check this again.

[2019-06-19 17:35] Captainkirkdawson commented on #693
freecen was missing the wymiframe.html.
Added

[2019-06-21 17:48] Captainkirkdawson commented on #693
@AlOneill the issue of centering of text on cen has been fixed.

[2019-06-21 17:48] #693 closed

[2019-06-24 15:47] PatReynolds commented on #195
This only got the PARMS files into FC1 (and Brenda still converting from CSV to DAT and giving to Lemon for uploading) - need them also in FC2

[2019-06-24 16:59] PatReynolds opened #706 "Validation - identify which fields are checked, and for what"
Who has a list of what VALDREV checks?
Have Vino/Lemon got a list of errors that need to be added?
Are there other checks which are made on FreeREG which could be added?

Later story about enhanching the check further in 1.5~ #140

Pat to list fields and work with Brenda what needs to be checked

E0 U6 S7 C6: P19

[2019-06-25 15:01] Captainkirkdawson commented on #165
Brenda asked:
Each record has a ‘Birth Place column’ and of course a ‘Birth Place’
Is it , or would it be possible, to create/obtain a list of all these Birth Places from the FreeCEN Database?
Assuming Brenda ment the the individual record in the request :
There are actually 5 fields that appear to be associated with birth_place for an individual.

  field :birth_place, type: String
  field :verba

[2019-06-25 15:12] Captainkirkdawson commented on #165
Thinking about the question I did a little more research.
The search record against which we search contains the census place identifier as well as the county.
It also contains the birth_chapman_code which I assume is extracted from the birth_county.
It does not contain any field associated with birth_place.
The birth_chapman_code is not indexed.

[2019-06-25 18:12] FreecenBren commented on #165
Index of CHP

The Chapman Code is added at the Transcription CSV stage by the transcriber
from the Census images.
It therefore goes through all the stages and into the final VLD.

If any CHP is not from the accepted list, (example. Typed incorrectly) and
is not picked up by the any of the FreeCEN stages of,
1. CSV
2. CSVCHECK,
3. DAT
4. CHE
5. FCTOOLS,
6. finally to a VLD, then the upload will thr

[2019-07-01 14:38] richpomfret commented on #698
No longer needed so closing.

[2019-07-01 14:38] #698 closed

[2019-07-01 14:41] richpomfret commented on #685
Not needed on test2/3 so closing.

[2019-07-01 14:44] richpomfret commented on #685
Checked and broken on LIVE, so reopening and moving across.

[2019-07-03 11:58] AlOneill commented on #355
Do not see how the page that that takes a new transcriber through an example spreadsheet can work nicely without instructions to use browser Back button — especially for the final section that asks the reader to look at different parts of the Field descriptions page. So suggest we add some notes to "Info ..." page about when use of Back button is appropriate and safe (static pages), and when it is

[2019-07-03 12:03] AlOneill commented on #355
Not keen on the somewhat inelegant page names: the reader will not care much about FC1/FC2 distinctions in this context. Still thinking re alternatives — suggestions welcome.

[2019-07-03 14:38] richpomfret commented on #552
Closing as per plan for new advertising partnership/strategy.

[2019-07-03 14:38] #552 closed

[2019-07-03 14:39] richpomfret commented on #549
Draft email being prepared to cover this.

[2019-07-03 14:41] richpomfret commented on #256
Remains in progress - still potential issues.

[2019-07-03 14:54] richpomfret commented on #165
Let's go ahead and do this.

[2019-07-03 15:09] richpomfret commented on #91
@Captainkirkdawson to take a look and explore the required specification here.

[2019-07-03 15:11] richpomfret commented on #87
@FreecenBren to look at this - the functions should now be there - what do we need to do in order to make it accessible?

[2019-07-04 17:49] Captainkirkdawson opened #707 "CEN is using the same Chapman Code eliminations as REG"
While researching the Chapman Codes for REG I found that CEN is using the same elimination code list defined for REG this means that CEN2 is not offering the  'England and Wales Shipping',                               'Out of County', 'Overseas British', 'Overseas Foreign', 'Scottish Shipping' birth county options provided in CEN1.
REG also eliminates 'Unknown', 'Clwyd', 'Dyfed', 'Gwent', 'Gwyned

[2019-07-05 16:51] PatReynolds commented on #424
Still needs to be done, so re-opening.

[2019-07-05 16:55] PatReynolds opened #708 "Transcriber statistics now showing fewer signed-up transcribers than new transcribers in the last 30 days"
Find out what has happened to data and re-instate.

[2019-07-05 19:47] Captainkirkdawson commented on #424
Could you please explain what needs to be done.
The transcriber statistics is ![transcriber.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/4ab5e4e4-e196-4e53-bf2c-04f012263296)there on the Userid management action
And it takes you to a page of statistics.
![transcriber1.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/b890d1e3-ea1b-4bf4-94fc-9f5a561cb834)

For

[2019-07-05 19:52] Captainkirkdawson commented on #708
I am afraid no one can research this without far more information.

[2019-07-05 20:33] AlOneill commented on #424
@Captainkirkdawson Sorry, but the table lines on top of the honeycomb look bad (unprofessional). Do any other pages have this colour change? Do not have access to "Userid Management". The pages I *do* have access to all seem to have a white background.

Suggest we revert to using a white background, &c — unless colours are temporary, to improve readability? In which case, mea culpa.

[2019-07-05 23:12] Captainkirkdawson commented on #424
@aThat's just in my browser where I personally change the display to white on black I find all the white on internet pages too much for my eyes so I do the change. Nothing to do with the code base which remains as is

[2019-07-05 23:37] Captainkirkdawson commented on #707
This was fixed when I fixed REG

It is running for basic checkout on test2

[2019-07-05 23:39] Captainkirkdawson commented on #707
One further observation the birth and census counties INCLUDE Ireland. Is that appropriate?????

[2019-07-06 08:45] FreecenBren commented on #707
I am not sure what you are doing anyway, but I do know that FreeCEN use the
CHP for Ireland, IRL, and all the Counties Irish Chapman codes, example for
Mayo, Limerick etc., etc., in the Birth County Column (CHP) and in the POB
column of course we enter the place of birth as well.
We get quite a few Irish people living in England, Wales and Scotland in
the 19th Century.
Not sure if that helps or no

[2019-07-06 14:07] Captainkirkdawson commented on #707
Thank you for the clarification on Birth County but what about Census counties? Do we have Census data for the counties in Ireland?

[2019-07-06 14:16] FreecenBren commented on #707
Hi,

Not at the moment, but it is on Pats list for the future!

Brenda

From: Kirk Dawson <notifications@github.com>
Sent: 06 July 2019 15:07
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: Brenda <bowbren2@gmail.com>; Assign <assign@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] CEN is using the same Chapman Code eliminations as REG (#707)

Thank you for th

[2019-07-09 15:14] PatReynolds commented on #377
Ready for your review, @AlOneill

[2019-07-10 09:34] FreeUKGenIssues opened #709 "Search record info not being sent with Data Problem report (142679887 Data Problem (Denise Colbert))"
Issue reported by **Denise Colbert** at 2019-07-10 09:18:07 UTC
Time: 2019-07-10T09:17:25+00:00
Session ID: 8533b375b44d7d8795c94796ec49d044
Problem Page URL: [unknown](unknown)
Previous Page URL: [https://www.freecen.org.uk/contacts/59028104e9379091b135d285/report_error?locale=en](https://www.freecen.org.uk/contacts/59028104e9379091b135d285/report_error?locale=en)
Reported Issue:
Testing... Hi Br

[2019-07-11 11:53] AlOneill commented on #377
@PatReynolds Had a quick look yesterday and fixed the broken, nested lists. Don't worry about the links, I'll assign ids as I go through.

[2019-07-11 13:38] AlOneill commented on #377
@PatReynolds  @FreecenBren @geoffj-FUG  Work not complete yet, but have listed a number of questions/comments at the top of the page: some are as a result of not being able to see what Coords see; others are more general. (There may be more to follow ...)

Page can be viewed at:
https://test3.freecen.org.uk/cms/draft-information-for-coordinators

[2019-07-11 15:35] richpomfret commented on #512
The lack of an easy option to find/change the cookie policy options is a bit of a concern - not sure if this conflicts with GDPR or not (a user must be able to change their settings) although I am sure there is a route to the page somewhere. It is, however, rather infuriating and an easy change i'm sure. This should be included in the footer for FreeBMD2.

[2019-07-12 14:43] #707 closed

[2019-07-13 16:00] Captainkirkdawson commented on #708
Only comment practical is to say there are ![tranns2.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/d54eeb95-932b-4493-8ecc-d3b13452b167)

[2019-07-15 14:22] richpomfret commented on #708
Having issues accessing the stats currently - @Vino-S taking a quick look at that prior to us moving forward with or shelving this story.

[2019-07-15 14:28] richpomfret commented on #640
@DeniseColbert to investigate and see if this is still a problem.

[2019-07-15 14:32] richpomfret commented on #427
@DeniseColbert Now has manage user IDs but not all options currently available in FR.

[2019-07-15 14:37] richpomfret opened #710 "Coordinator cannot see contacts when clicking on the button (opens to blank page)"
Only reported by one coordinator so far (John T). To test/investigate.

E0 U6 S7 C7: P20

[2019-07-15 14:38] richpomfret commented on #710
To give @DeniseColbert coordinator level access (Cornwall?).

[2019-07-15 14:40] richpomfret commented on #710
@Vino-S to set this up and give required permissions (once MongoDB is back in working order on FC).

[2019-07-17 09:36] PatReynolds opened #711 "Do FreeCEN files have headers?"
Looking at the initial text for updated FreeCEN coords, realised that some actions within FreeREG depend on headers.  Do CEN files have Headers in the same way as REG files? Are they different in any way?

This information will be needed in planning Validation.

[2019-07-17 09:50] PatReynolds commented on #377
Thanks, @AlOneill   I've made some changes,  comments and sent a couple of questions over to Brenda.

[2019-07-17 11:13] PatReynolds commented on #705
Sent final piece 17/07

[2019-07-17 11:23] PatReynolds commented on #617
Still seeing
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/548e1e8a-5a57-4b2b-b983-f1a6ae006e4d)

My fault - did not make the story clear! Have clarified above

[2019-07-17 14:34] richpomfret commented on #691
Seems ok now - closing.

[2019-07-17 14:34] #691 closed

[2019-07-17 14:45] richpomfret commented on #549
Request has gone out!

[2019-07-17 14:56] richpomfret commented on #549
Discussion on aim to recruit more proofreaders (and transcribers), with opportunity to train people up as proofreaders who may then eventually move onto becoming validators etc.

[2019-07-17 15:04] richpomfret commented on #709
@Vino-S could you take a look at this?

[2019-07-17 15:25] edickens commented on #549
FreeREG needs them as well.

[2019-07-17 18:35] FreecenBren commented on #711
Not knowing what the header does in FreeREG makes it hard to understand the
question.
The only thing that FreeCEN have that could be construed as  Header(s) by
this order.
1. Census Year then by
2. Census County, and then by
3. Piece number
From that we then allocate it to a transcriber to start the Transcribing in
the pre designed Spreadsheet  ( Each of the 25 columns has a title.)

As I said not

[2019-07-18 08:55] PatReynolds commented on #355
Files currently on refinery:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/5488301a-ca58-485c-958b-ae2ee63581b9)
Files that were on FC1: was wrapped in: SSCENS.EXE which has been removed from the server as it caused serious issues.
The contents of SSCENS.EXE are now, I believe in refinery, unless @FreecenBren knows better.

This story cannot, however, be closed as ther

[2019-07-18 16:49] PatReynolds commented on #165
field :birth_county, type: String
field :birth_place, type: String
field :verbatim_birth_county, type: String
field :verbatim_birth_place, type: String
field :birth_place_flag, type: String
@FreecenBren can you confirm that the verbatim_birth_county/place is twys, and the birth_county/place is what is picked from an authorised/standardized list?

[2019-07-19 09:18] PatReynolds opened #712 "Complete Place of Birth search"
Implement features (to follow from Revisiting Place

[2019-07-19 09:20] #712 closed

[2019-07-19 11:02] PatReynolds commented on #696
Duplicate of #689, closing

[2019-07-19 11:02] #696 closed

[2019-07-19 15:24] PatReynolds commented on #195
The (unedited) files need adding to FC2.

[2019-07-19 15:25] PatReynolds commented on #195
Will the edited field need bulk converstion to the actual place names in order to be properly displayed / used on FC2, link with Pelagios, etc.?

[2019-07-19 15:31] PatReynolds commented on #529
@FreecenBren is this something that has been brought over from the FreeREG roadmap that has no meaning on FreeCEN?

[2019-07-29 11:43] PatReynolds commented on #709
Testing - with attachment.to Data Question and Website Problem as not sure which was broken!

@FreecenBren did you get both, OK?

[2019-07-29 13:29] PatReynolds commented on #708
Still not able to access stats:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/ad5551b2-813f-4340-a87e-0b950ba8f54c)

[2019-07-29 13:31] PatReynolds commented on #424
Awaiting access to this feature again before checking that story is still live.

[2019-07-29 13:55] Captainkirkdawson commented on #709
Neither. It is the reporting of a Data Problem from the search results detail page

[2019-07-29 13:57] Captainkirkdawson commented on #708
Fix has yet to be deployed into production. We did not do a release after the last scrum as only 1 story had been declared ready

[2019-07-29 13:58] Captainkirkdawson commented on #424
Fix has yet to be deployed into production. We did not do a release after the last scrum as only 1 story had been declared ready

[2019-07-29 14:21] richpomfret commented on #711
@pat and @richpomfret to find out methodology for transcriber to make a change to something that has already been upload. Or perhaps @FreecenBren can assist?

[2019-07-29 14:25] richpomfret commented on #709
@Vino-S Looks like this isn't fixed yet on test3.

[2019-07-30 14:19] AlOneill commented on #700
FreeREG results get "(viewed)" added to each result that has been viewed: can this be applied to CEN?

![image](https://user-images.githubusercontent.com/14852554/62137023-2a609500-b2dd-11e9-9f33-425a96f1c5f6.png)

**A colour change will mean nothing to a screen-reader.**

[2019-07-31 07:58] PatReynolds commented on #700
Hi @AlOneill no-one spot that Geoff's suggestion wasn't to use FreeREG solution, which is accessible. So changed changed story accordingly.

[2019-07-31 09:10] PatReynolds opened #713 "Evidence Explained citation incorrect"
Currently: Free UK Genealogy "England, Scotland and Wales Census" database,(etc.)

Should be: Free UK Genalogy “General Register Office: 1891 Census Returns” database,(etc.)

I

[2019-07-31 09:46] PatReynolds commented on #535
1/ Full table from https://freecen1.freecen.org.uk/project.htm has not been relocated to Transcriber sign-up - is what we have sufficient @FreecenBren ?

4/ Moved to the first section of 'About' on test3 - is this the best place @FreecenBren  Is the code ok @AlOneill

[2019-07-31 12:55] PatReynolds commented on #355
Current html moved to https://drive.google.com/file/d/1BMUjjBivw922K9oDUUbAP4uZB8ls5LU1/view?usp=sharing

Text being edited to remove all out-of-date information, prior to new information being added where needed.

[2019-07-31 13:29] PatReynolds commented on #711
Example of header row (from FreeCEN1 example spreadsheet)
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/ea3f6b57-88f8-4ada-8f8b-3c67f0cc6b24)

Additional fields needed in header row:
transcriber ID
image source (e.g. LDS)

[2019-07-31 13:36] Captainkirkdawson commented on #700
See systemwide  story 47.
Conclusion to date for all apps is that we should have the detail link as first column and that viewed gets added. Still no decision on adding row number as in REG or sticking with generic title as in CEN.

[2019-07-31 14:14] PatReynolds commented on #555
Sites not eligible 31/7/2019 so closing.

[2019-07-31 14:14] #555 closed

[2019-07-31 14:15] PatReynolds commented on #554
Sites not eligible 31/7/2019

[2019-07-31 14:15] #554 closed

[2019-07-31 14:44] #705 closed

[2019-07-31 14:57] richpomfret commented on #711
Establish what a VLD file looks like and how a file changes when it gets processed (via CVS check etc).

[2019-07-31 15:02] richpomfret commented on #549
Looks like this is complete in terms of putting out the request. Shall create new story to cover other discussion on recruiting more proofreaders etc.

[2019-07-31 15:02] #549 closed

[2019-07-31 15:18] richpomfret commented on #709
Ready to be tested again.

[2019-07-31 15:31] richpomfret opened #714 "Coord can VIEW contents of pieces/vlds"
First step of bigger epic (#530) is to see if we can find a way for coords to view contents of a file online.

[2019-07-31 17:00] richpomfret opened #715 "Recruit more proofreaders (and transcribers)"
Spin-off from #549.

Recruit more proofreaders (and transcribers), with opportunity to train people up as proofreaders who may then eventually move onto becoming validators etc.

[2019-08-01 15:06] AlOneill commented on #535
@FreecenBren @PatReynolds Am looking at the text added to the About page. I have some questions about these sentences:

"The FreeCEN project was initiated in July, 1999. One of the main instigators was Brian Randell (GenUK, Devon)."

1. What does 'GenUK, Devon' stand for?
2. Who were the other 'main instigators' and should we acknowledge them too?

[2019-08-01 15:30] AlOneill commented on #355
@PatReynolds Not sure that asking Brenda to edit/comment on a paste of the raw HTML is the best way to go here — it is not pleasant to read. And I am certainly not going to simply copy back an edited version of the raw HTML — too error-prone. Have I missed the point?

[2019-08-01 15:40] PatReynolds commented on #355
Hi Alison, I' have amended earlier post, for clarity.

[2019-08-02 07:59] PatReynolds commented on #535
No idea - I was copying and pasting from FreeCEN1.  I know Brenda is working the history of the project at the moment, so suggest we run with this for now, and enhance it when Brenda has something more comprehensive.

[2019-08-02 08:34] Vino-S commented on #709
1. Added code to send problem Search Record information which is sent as mail to Coordinator
2. Also made changes in the code to display link to problem Search Recod Detail page in github issue.

@Captainkirkdawson Do we need to test the code in FreeREG also ?

[2019-08-02 10:14] geoffj-FUG commented on #535
Alison, Pat

I believe that GenUK was an original acronym for what is now FreeUKGen. It consisted of FreeCEN and FreeBMD (and later FreeREG).

Devon was the original county used as a pilot for FreeCEN. When I started in 2004 all the sample work was from Devon.

I cant answer the second question. As far as FreeCEN is concerned Peter Cox (NZ) must have been one as he wrote the software. FreeCEN1 use

[2019-08-02 14:06] AlOneill commented on #535
@geoffj-FUG Thanks.

@PatReynolds OK, I will rework the sentence about Brian Randell in light of Geoff's info re the pilot, for now at least — it is a bit odd as it stands. I'll save the other names Geoff mentioned until @FreecenBren has completed her work on the history.

[2019-08-02 14:48] PatReynolds opened #716 "Are Newark and Newark on Trent the same District in 1841"
The drop-down list/records for 1841 have both 'Newark' and 'Newark on Trent' as names.  Is this correct? A mis-transcription? If one (or more) sub-districts called the district by a different name, do we show both?  Or show one name that finds both?

Similarly, why do some District names start with a number?

[2019-08-03 04:42] Captainkirkdawson commented on #709
Will look at it Saturday. It was already working correctly on REG. I believe CEN uses different code in places but a test for unintended consequences is needed.

[2019-08-03 15:15] Captainkirkdawson commented on #709
@Vino-S have now had a chance to look at the implementation and am unsure that it really addresses the story as the issue is still there.  The following is a data report done today on test3 which is running issue_709.
![cendp.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/fa649ec6-2a71-4ceb-878e-5cdc4f313504)
There is no link to the search record that has the problem. Neither i

[2019-08-03 15:24] Captainkirkdawson commented on #709
Have just received the info the coordinator receives. There is insufficient into for them to respond. They need a link to the search record the researcher saw

![cendp2.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/9185de35-25ea-4cb9-9b34-8f9466071f69)

[2019-08-04 12:08] FreecenBren commented on #716
They are both.

This is just one example from the National Archives as per our PARMS.
Other census years are the same

Registration Sub-District 3 Newark. P
PIECE NO. RG092468  1861 Census

Reference:  and Description

Description:
Registration Sub-District 3 Newark.
Parish: Newark; Hamlet: Newark-upon-Trent.

Example of an 1841 Census.

HO107868
Newark
Newark upon Trent   East Stoke

From: PatRey

[2019-08-04 12:11] FreecenBren commented on #355
I agree with you Pat.

From: AlOneill <notifications@github.com>
Sent: 01 August 2019 16:31
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: Brenda <bowbren2@gmail.com>; Assign <assign@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Review 1st iteration of information for transcribers on Refinery (#355)

@PatReynolds <https://github.com/PatReynolds>  Not sure

[2019-08-05 11:30] richpomfret opened #717 "Improve FC2 database error report"
Request from Brenda - report output is currently a .txt and tricky for her to decipher. 'A simple spreadsheet similar to FC1 would do nicely', see attached. ![Screen Shot 2019-08-05 at 12.23.20.png](https://images.zenhubusercontent.com/5c8ff5bf777e5f767e486db5/d637d639-0640-4c1a-b669-991687fe6cbf)

[2019-08-07 03:25] Captainkirkdawson opened #718 "Adjust emails for the delete messages rake task"
Currently email distribution is reg centric

[2019-08-10 01:05] Captainkirkdawson commented on #718
Completed and has run on test3

[2019-08-10 19:29] Captainkirkdawson commented on #714
Initial comment. Access to the pieces metadata is presently available for the total database to the system administrator and technical roles through an augmentation of the database_coverage system. There is an edit capability for a piece though that interface and there is the ability to download the piece metadata in DAT and CSV formats. However it must be remembered that the database is reloaded

[2019-08-11 00:38] Captainkirkdawson commented on #714
Brenda commented `We will continue to do the amendments as we do at present until such time as things change.
At present the COORDS amend the VLD, send me a copy, and at the FreeCEN ONE  upload slot, the amended VLD,s are sent to Lemon in a different folder to the NEW VLD,s.
Lemon then removes the current one in FC1 Database, and uploads the newly amended VLD.
As you quite rightly say, not much po

[2019-08-11 00:42] Captainkirkdawson commented on #714
Just to clarify. My initial comment was about the Pieces and the associated freecen1_fixed_dat_files and their entries not the VLD files and their entries. I have yet to look at that aspect.

[2019-08-12 04:20] Captainkirkdawson commented on #714
A first cut at the show of Pieces, DAT, VLD and Places is available on test3 for evaluation

[2019-08-12 09:59] FreecenBren commented on #714
Unfortunately it will not let me into Test 3 anymore.
I have not been in for a while so not sure if you have moved the site or renamed it.
Can someone send me a link please so I can try again.

[2019-08-12 10:11] richpomfret commented on #714
Here you go: https://test3.freecen.org.uk/

We now need a username and password to access our Test sites, shall email that directly to you.

[2019-08-12 13:25] Captainkirkdawson commented on #714
@FreecenBren  the change to the access to the test sites was the subject of the message sent to  with the subject `Test servers from Kirk Dawson of FreeCEN. Reference 145285686`

[2019-08-12 14:13] richpomfret commented on #717
We could link this to the story @Captainkirkdawson is currently working on (#714)

[2019-08-12 14:15] richpomfret commented on #716
@PatReynolds to close? Assuming the question is now answered.

[2019-08-12 14:17] richpomfret commented on #713
Will be corrected when REG changes are deployed to CEN.

[2019-08-12 21:59] Captainkirkdawson commented on #717
@FreecenBren @Vino-S @richpomfret A first version has been deployed to *test3*. Currently implemented as system administrator action (brenda, vino , rich and myself). Can be implemented at county level if desired.
On login ino *test3*. Select the FreeCen Errors action
![freecen_errors.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/dd444135-481e-4981-b373-cc5496e371e7)

[2019-08-13 00:54] Captainkirkdawson commented on #714
@FreecenBren @Vino-S @richpomfret have improved the Pieces displays for the County Coordinator on **test3**.
Log on and select the Manage Counties action
![manage_pieces0.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/8ea49656-6b71-4d46-bd3c-b02ee7f39d15)
The systemtem administrators can select a county; CCs go straight to theirs.
Select Manage Pieces
![manage_pieces1.JPG](http

[2019-08-14 14:40] richpomfret commented on #427
Should now be live and complete. @DeniseColbert to check and sign-off.

[2019-08-14 14:45] richpomfret commented on #714
Fine to deploy 1st iteration of this. We can then refine and get more input as appropriate.

[2019-08-14 14:48] richpomfret commented on #717
@Vino-S did you also contribute some work or create a report here? Brenda has mentioned that you sent something through..

[2019-08-14 14:51] richpomfret commented on #709
@Vino-S can you comment or update?

[2019-08-14 14:57] richpomfret commented on #711
Ability to see/view the VLD 'headers' now on TEST3 and will be deployed to production too.

[2019-08-14 14:59] #711 closed

[2019-08-15 10:49] DeniseColbert opened #719 "Coordinators (& transcribers?) can see list of other coordinators"
This could be addressed by internal comms system, if so please close and I'll communicate this to volunteers.

[2019-08-15 13:31] #427 closed

[2019-08-15 15:01] #718 closed

[2019-08-15 15:01] #714 closed

[2019-08-15 15:37] Captainkirkdawson opened #720 "Investigate why code for database coverage appears to give an incorrect total"
Devon for 1881 on database coverage shows 8990 records loaded. It shows that there are 3 pieces on line but only gives the total for the first 2.
Using the Manage Pieces for Devon shows 3 pieces with records loaded for a total of 12380.

[2019-08-15 15:42] Captainkirkdawson opened #721 "Revise Manage County displays for Cen1 Pieces, VLDs and Places"
Based on feedback for the phase 1 deployment make further adjustments to the views for those displays

[2019-08-15 15:53] Captainkirkdawson commented on #256
An on line action has been added for system administrators . FreeCen Errors
https://www.freecen.org.uk/freecen_errors?
This shows both record errors as well as file upload errors.
@Vino-S @FreecenBren It would seem that the majority of the file load errors arise from a reversal of the year and piece number
![errors.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/e68ec14d-f851-41

[2019-08-15 17:51] FreecenBren commented on #256
Not at home at the moment so cannot check too much.

What I can say is that no where do any transcribers type in the piece
number or Census year.

When a spreadsheet was been transcribed using the columns as and when there
is data to enter from the census image, the spreadsheet is saved according
to the census year and piece number.

For example if a piece number is called 1234 and the census year

[2019-08-15 22:25] Captainkirkdawson commented on #720
The total number of individual records  is 37,365,159 according to mongodb. That is the total shown by database coverage for brazza, drill, howler and saki. Colobus reports 37,148,266

[2019-08-15 22:38] Vino-S commented on #720
Yes. Looking at freecen coverage page code. However if we have a bug in the code then it should affect brazza, drill, howler and saki too.

[2019-08-16 04:20] Captainkirkdawson commented on #720
@Vino-S I agree 100% that almost all bugs would affect all servers not just one. There are at least 2 situations I can think of that could lead to a difference. 1) the code is using values from a file rather than just the database 2) it is using a leftover value "left over from a previous calculation instead of clearing or resetting it.

[2019-08-16 04:35] Captainkirkdawson commented on #720
@FreecenBren I think you can leave it up to @Vino-S and myself to dig into the matter of why one server is giving an incorrect total. What I think you need to focus on if the missing records between FC1 and FC2 which is as you say 59.902 records. Could I suggest that we focus comments on that in story #256

[2019-08-16 04:39] Captainkirkdawson commented on #256
@FreecenBren I think the question we need answered is a) do the unloaded files in the above list amount to the missing 59.902 records and 2) why were they not processed. Certainly the message provided is inadequate and needs fixing. Also we need to include the file name in that report to help you

[2019-08-16 07:52] FreecenBren commented on #720
Good idea. Will do.

On Fri, 16 Aug 2019 at 05:35, Kirk Dawson <notifications@github.com> wrote:

[2019-08-16 14:29] #717 closed

[2019-08-16 14:32] Captainkirkdawson opened #722 "Enhance On Line Error Report"
Based on usage enhancements are required

[2019-08-16 14:42] Captainkirkdawson commented on #256
@FreecenBren just wanted to emphasize that you should log into FC ie FC2 and use the FreeCen Errors action to view the error report and I will be making enhancements to that to clarify the report
![errors.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/75fcaaae-2404-490b-b6fb-95f24eec3601)

[2019-08-16 14:59] Captainkirkdawson opened #723 "Enhance the freecen_update_from_FC1 rake task."
Currently when a VLD file is processed and there is a significant issue that stops the file from being loaded we appear to simply get a message that there was an error. It would be helpful if more information on the error could be provided.

[2019-08-17 12:30] Captainkirkdawson opened #724 "Make it possible to update and edit FreeCen2 online"

[2019-08-17 12:48] Captainkirkdawson opened #725 "Make the freecen_upload code detect and report non UTF-8 characters as data errors and continue processing."
E 2 U6 S8 C6: P22

[2019-08-17 13:03] Captainkirkdawson opened #726 "Correct undefined method `match' for nil:NilClass at freecen1_vld_transformer.rb:23 in block in transform_file_record`."

[2019-08-17 13:05] AlOneill commented on #725
From a transcriber's perspective, CEN does not use UCF. However, a "?" is allowed in Notes field only.

[2019-08-17 14:16] Captainkirkdawson commented on #256
**An analysis of the log for the August 12 update show that**

0) The update only set out to process **2**  pieces
----DELETED VLDS (count: 0)--
[]
----MULTIPLE VLDS (count: 0)--
[]
----NEW VLDS (count: 2)--
[{"chapman"=>"BRK", "file"=>"/raid/freecen2/freecen1/pieces/BRK/rg121002.vld", "base"=>"rg121002.vld", "base_up"=>"RG121002.VLD", "digest"=>"4ff6b7c6eba5a17793c25bcaad25af6b"}, {"chapman"=>"GL

[2019-08-17 15:07] FreecenBren commented on #256
Interesting findings about what FC2 upload issues.

Lemon had to take down the amended VLDs first anyway, before he can replace
them with the amendments.  There were 13 VLDs amended last month for 5
different Counties of LAN, CAM, PER, WAR and WRY.

Also 36 new VLDs (from 13 diff counties) + the 13 amended VLDs  be uploaded
again, a total of 49 VLDS to be uploaded.
How many of those did  FC2 uploa

[2019-08-17 15:08] Captainkirkdawson opened #727 "Process the 18 VLD files previously reported as Errors not subsequently processed"
ERY/rg093557.vld, GLS/rg091797.vld, HAM/RG120865.VLD,  LAN/rg092663.vld, LAN/rg092682.vld, LAN/rg092696.vld, LAN/rg092705.vld, LAN/rg092720.vld, LAN/rg092721.vld, LAN/rg092722.vld, LAN/rg092728.vld, MDX/RG090798.VLD, NTT/rg103530.vld, NTT/rg103534.vld,
SFK/RG121477.VLD, SOM/RG121886.VLD, SOM/RG121889.VLD, SOM/RG121890.VLD, WRY/rg093302.vld, WRY/rg093303.vld, WRY/RG104320.VLD, WRY/RG104534.VLD, WRY

[2019-08-17 15:33] Captainkirkdawson commented on #725
My mistake meant to say UTF-8

[2019-08-17 15:39] Captainkirkdawson commented on #256
@FreecenBren I did complete that analysis after you commented so may wish to read to the end

[2019-08-17 17:10] FreecenBren commented on #727
They are all still in the Amended Dropbox folder that Lemon picks them up
from so this will have to be referred to Lemon.
The 8 LAN ones have been a problem since January and beyond.
We could not find the problem
So 3 weeks ago I stripped one of them right back myself and found the
problem. So then did all 8 and we kept our fingers crossed.
They all went through as you see.

The others were done b

[2019-08-17 18:19] Captainkirkdawson commented on #720
the answer and solution lies in the controller

    # Since get_index_stats is slow (several seconds on production), we cache
    # the result so subsequent hits will be faster. Be sure to do
    # Rails.cache.delete when updates are done (when records or parms are
    # added/deleted/updated in db)
    @all_pieces = Rails.cache.fetch("freecen_coverage_index", :expires_in => 7.days) do

Actually c

[2019-08-18 04:23] Captainkirkdawson commented on #256
@FreecenBren commented b email
`They are all still in the Amended Dropbox folder that Lemon picks them up
from so this will have to be referred to Lemon.
The 8 LAN ones have been a problem since January and beyond.
We could not find the problem
So 3 weeks ago I stripped one of them right back myself and found the
problem. So then did all 8 and we kept our fingers crossed.
They all went through as