[2017-07-15 19:38] dougkdev commented on #265
Note that the automatic update is for production only.  Test2 requires manual updates when needed (the freecen1 build on the test machine is not regularly updated, so the update task wouldn't see any new files unless they are copied over from production).

[2017-07-17 12:57] DeniseColbert commented on #245
Ah ok, thanks Alison.
So are we going to have accessible link colours, and different logo colours?
Can you tell me the code you're using for the accessible teal please? The values don't match on the working doc.

[2017-07-17 12:57] DeniseColbert commented on #245
PS- not sure what happened to the logos email!

[2017-07-17 13:32] AlOneill commented on #245
@DeniseColbert Whether or not the link and other accessible colours are used 'as is' in the logo, or modified a little will depend on what your design volunteer comes up with. I did not like the way the accessible colours blended (without other mods to the logo image file) and just wanted a good enough but quick fix for the examples page.

Accessible teal is 00605b

[2017-07-17 14:22] PatReynolds commented on #275
Brenda keeps being asked to re-accept the policy

[2017-07-17 14:28] PatReynolds commented on #273
NB, no records for Sark? Possibly with Alderney? Brenda to check

[2017-07-18 10:48] DeniseColbert commented on #276
Option 3 has my nod.

[2017-07-18 13:03] PatReynolds commented on #276
Thank you.
Visually, I like 3 best, then 2, then 1.  Could the 'we welcome your feedback' be underlined (i.e. be a pseudo-link)?
Not sure if navy is the right colour to work with purple, but definitely prefer a solid block.

[2017-07-18 20:55] AlOneill commented on #276
Here are two versions of option 3 for your consideration, both with the proposed new navigation colours. They also incorporate styling to make the key part of the link look more like a link, as Pat suggested. (NB there is currently *no* visual indication of hover or focus for the grey styling; the navy background colour changes a bit on hover, but there is *no* change on focus.)

**Option 3a**

![

[2017-07-19 08:24] PatReynolds commented on #276
Slight preference for 3a, but both look good. Thanks!

[2017-07-19 08:32] DeniseColbert commented on #276
I like 3a also. Where will we stand on accessibility without the change on focus?

[2017-07-19 11:59] Vino-S commented on #125
Hi @PatReynolds

Could you please share Code of Conduct pdf and text for Opportunities to  volunteer with freecen if it is ready?

 We can resolve this issue completely if we upload the documents.

Many Thanks,
Vino

[2017-07-19 12:15] DeniseColbert commented on #268
Form drafted, but improvements needed.

Embed code for the form:

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfipOs-MRSbfdQ9gCml7CeePzomLzFLcmU9Zg18bQ-EQ8yO6g/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

Link: https://goo.gl/forms/zEKBuoHVRYnHTP8j1

[2017-07-19 14:36] #242 closed

[2017-07-19 14:36] #198 closed

[2017-07-19 14:36] #199 closed

[2017-07-19 14:39] richpomfret commented on #266
Appears to be fixed, however we may need more info here in order to replicate the issue. To test, and close if applicable.

[2017-07-19 14:45] richpomfret commented on #197
To add into every page (currently it's only on search page). To also check/test real time analytics as unsure if this is working or not.

[2017-07-19 14:46] #265 closed

[2017-07-19 14:49] PatReynolds commented on #234
@patreynolds to remind @dougkdev and check what development (if any) is still needed on message system

[2017-07-19 15:02] richpomfret commented on #237
Is this still in-progress, @dougkdev?

[2017-07-19 15:10] richpomfret commented on #125
Pat to check/create text and then Brenda to review.

[2017-07-19 15:13] benwbrum commented on #237
We had a long discussion of this on the call as follows:

## Problem

Although in FreeREG, all Yorkshire records are encoded by Riding, FreeCEN data includes vaguer Yorkshire records, in which the enumerator only wrote down "Yorkshire" -- especially for birth county.  As a result, data in FreeCEN may be encoded as `YKS` in addition to `ERY`, etc.

## Proposal

Since we cannot deliver accurate sear

[2017-07-19 15:13] richpomfret commented on #222
Not essential for launch.

[2017-07-19 15:16] richpomfret commented on #257
Still a big gap in numbers - currently being explored. Vino/Doug to assist.

[2017-07-19 15:23] richpomfret commented on #118
To mock-up a button for user log-in - using the CSS style buttons we currently use (replaces the RSS feed button/icon).

[2017-07-19 17:11] PatReynolds commented on #125
@Vino-S can you send me a link to the page that a new transcriber gets to after clicking on 'register as a transcriber' on https://test2.freecen.org.uk/userid_details/transcriber_registration? (until there are syndicates to choose from, I can't get there by testing it.

[2017-07-19 17:19] PatReynolds commented on #125
@FreecenBren @DeniseColbert suggested changes are here: https://docs.google.com/a/freeukgenealogy.org.uk/document/d/1ikOGV0cIWSqa2HGGKpQlyluxcLXDXKJZdBd8njZvmrY/edit?usp=sharing  Can you comment there, please?

[2017-07-19 19:17] FreecenBren commented on #125
The problem that I see with this is that they are being asked to subscribe
 to FreeCEN before they have been sent details of what it entails.
No one will volunteer  to help until they know what they are volunteering
to do.
It does not matter wether it is FreeCEN or volunteering in the community,
the same applies.

We really need 2 Stages.
Stage 1:  One to send out details of what it entails.
Stage

[2017-07-20 09:08] PatReynolds commented on #125
Could we add 'what it entails' as a document to the sign-up page?  Or include it in the page?  (to save you work).

[2017-07-20 09:26] FreecenBren commented on #125
The instructions at the moment are as we work now.
As we have not as yet decided how the Transcribing, Checking, Validating in
FreeCEN 2 will be done in the future we will need to be able to amend as
and when.
Then we have the issue that not all COORDS work the same. A few use DROPBOX
to send Images etc., others use, BT, Cloud, etc., and some still send a
copy on CD. Also I always start a 'new tra

[2017-07-20 11:32] PatReynolds opened #277 "Add ability to record source of images"
Current standard terms:
LDS
ACDB Project

[2017-07-20 21:29] dougkdev commented on #237
@richpomfret yes this is still in progress, this is the one I emailed you about before the scrum that I had just begun to look at. Unfortunately I mis-typed the number (as #137 instead of #237) in the body of the email, sorry for the confusion.

[2017-07-20 21:31] dougkdev commented on #234
@PatReynolds I emailed you the list of fields on July 5 and you replied on July 6. Is there something else you are waiting for from me?

[2017-07-21 09:48] Vino-S commented on #107
The code is in test2

[2017-07-22 18:15] AlOneill commented on #245
Lawks! Forgot the palm navigation. Will change colours of Menu button to use accessible teal; menu items will be purple on same light grey as currently. Both will reverse on focus/hover.

The cancel button (big X) colour will be accessible teal. However, the current hover does not work in Firefox (neither does it work in FreeReg on Firefox). Only visible indication is that pointer changes to hand.

[2017-07-26 09:50] helhyde commented on #125
Hi Brenda,

The sign up should reflect the processes and tools that we use at the
moment - and be updated as and when things change.  Having someone whose
role is to keep the documentation up to date is thus very important.

The information needed before sign up could be very brief, e.g.

We will send you images to transcribe, links to specialist software needed
(or you can use a preformatted spre

[2017-07-26 09:53] PatReynolds commented on #125
@Vino-S Can you add the list of syndicates, or do you need me to provide?

[2017-07-26 09:59] PatReynolds commented on #222
*Role
All options: researcher, trainee, pending, transcriber, syndicate_coordinator, county_coordinator, volunteer_coordinator, data_manager, technical, system_administrator, contacts_coordinator, project_manager, executive_director, publicity_coordinator, genealogy_coordinator, documentation_coordinator, engagement_coordinator

Suggest: all, PLUS checker

[2017-07-26 10:01] PatReynolds opened #278 "Content of Physical Location field"
Import from FreeREG "Physical location "Just a country will do""

Do we want to use this for 'full address, if telephone number not given, otherwise just a Country will do'?

[2017-07-26 10:02] Vino-S commented on #125
Hi @PatReynolds ,
I have a clarification before adding the list of syndicates:
1. Are the syndicates and the syndicate coordinator are same as that of FreeReg or do we need to make changes?

[2017-07-26 10:04] PatReynolds commented on #107
Does sign up to Agreement reflect in the field in User  noted by Doug:
Transcription agreement accepted? (This is the current field, I'm not sure if it is changing with what you have Vino doing regarding the agreement work)
Also needs to record reading of Code of Conduct and Volunteer Induction Handbook.
Does it record date of volunteering (and hence of these aspects?)

[2017-07-26 10:06] PatReynolds opened #279 "Remove Fiche reader recording (was Enable recording of volunteer transcription skill (was other fields needed)"
1/ Take decision on whether it is useful to know who has a fiche reader

2/ Find where data on fiche readers is input (at signup?). Delete or continue, depending on decision above

3/ Find if fiche reader data is still held, and if so where, and
3b/ Delete ore retain, depending on decision above.

Previous description:
FreeREG has two more fields - do we want either?  Or anything additional:
*Tran

[2017-07-26 13:41] MikeLi1 commented on #197
Just a heads up. Google Analytics is not installed yet.

[2017-07-26 21:43] Vino-S commented on #107
Hi @PatReynolds ,

Do you want me to add Code of conduct and Volunteer Induction handbook Check-boxes for existing transcribers too?

[2017-07-27 08:29] helhyde commented on #107
No, not needed, thank you.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 26 July 2017 at 22:43, Vino-S <notifications@github.com> wrote:

--
*- -*

*Dr Pat

[2017-07-27 09:28] PatReynolds commented on #125
Syndicates are the current COORDs - I will send list over.

[2017-07-27 09:29] PatReynolds commented on #124
https://www.freereg.org.uk/cms/information-for-transcribers is current for FreeREG - will set up as a google doc for @Brenda and Coords.

[2017-07-27 10:32] PatReynolds commented on #125
@FreecenBren is it best to only advertise the countys/years where we have images awaiting transcription? @Vino-S in the meantime, please just put options for 'Any Questions? Ask Us' and 'Any County and Year'.

[2017-07-27 10:40] Vino-S commented on #125
Hi @PatReynolds,
 I have added the syndicates.

[2017-07-27 10:45] Vino-S commented on #125
For the time being I have set 'Pat Reynolds' as syndicate coordinator for 'Any County and Year' and 'Vinodhini' as syndicate coordinator for 'Any Questions? Ask Us'. Once we finalise the syndicate coordinators we can update later

[2017-07-27 11:19] PatReynolds commented on #125
Please could you set both to Brenda.

[2017-07-27 11:24] Vino-S commented on #125
Its on test2. Updated the syndicate coordinator to Brenda

[2017-07-27 15:40] FreecenBren commented on #125
Not really as easy as that.

There are several Counties x years that are not all complete.
We had a COORD who never sent on all the images he had after he took ill.
In some cases we managed to get copies from the Transcriber but there are still gaps.

Then we have the problem regards the 1891 Census as they all came on Micro Fiche many moons ago. A lot of images were lost/not returned.

This came

[2017-07-27 16:08] PatReynolds commented on #125
Thanks - testing now.  A couple of corrections:
If you have any questions about transcribing or the documents linked below, Please contact us should be
If you have any questions about transcribing or the documents linked below, please contact us.

 have read, and agreed to abide by the, the Code of Conduct (pdf). should be
 have read, and agreed to abide by, the Code of Conduct (pdf).

@FreecenBre

[2017-07-27 16:55] Vino-S commented on #125
Hi @PatReynolds ,
Made the changes and updated in test2.

[2017-07-27 19:42] AlOneill commented on #245
Have found the changes for the `icon__cancel ` CSS class.

@richpomfret @Vino-S @dougkdev

Now ... finding the styles to correct was the easy part: how best to implement?

The easiest and quickest way would be to put all the changes into FreeCen's version of `freereg_contents.css` — however any subsequent edits would be error/anomaly prone and would be bad news for users as they would add 250+ lin

[2017-07-28 08:42] PatReynolds commented on #245
Is there anything in the Redisign folder on the gdrive?  I've just added @dougkdev and @benwbrum to that folder.  There's an icons.data.svg.scss file in /freereg/styles/css there.

[2017-07-28 08:45] PatReynolds commented on #124
FreeREG has this information after sign-up, so I think it ok to move ahead without it for the moment, and carry on as normal (i.e. Brenda gets the email, and contacts the person as she does at the moment.

[2017-07-28 08:54] PatReynolds commented on #125
Thanks, @Vino-S The 'volunteer' page still has the Lorem Ipsum text -  I will write something now so we have something there for launch.

[2017-07-28 09:14] PatReynolds commented on #234
I have finished the coords for upload.  Not a priority for today, but for next week - will send link to @FreecenBren @Vino-S and @dougkdev.

Vino/Doug are the multiple roles in Role ok for upload (and what should be added for Brenda, Mike and Rena who have additional roles?)Is the format for 'county' what you were expecting?

Brenda, can you add more county details, once we know what the format sh

[2017-07-28 10:39] PatReynolds commented on #107
@FreecenBren  reported issue by email Reference 81101624 Thursday, July 27, 2017 5:14 PM I was unable to replicate.

[2017-07-28 10:42] PatReynolds commented on #107
@Vino-S please could you (temporarily) remove the Open data invitation from the login page. We are not going to invite volunteers to sign it until we have a working communications system (and have used it to communicate with our volunteers).

[2017-07-28 10:56] Vino-S commented on #107
Hi @PatReynolds ,

Temporarily removed the Open Data sign up invitation.

[2017-07-28 11:40] PatReynolds commented on #107
TY - will create new story to reinstate.

[2017-07-28 11:42] PatReynolds opened #280 "Activate Transcription Agreement Sign up (existing active transcribers)"
Pat to write to existing transcribers and invite to sign up (dependent on #220)

[2017-07-28 14:05] Vino-S commented on #125
Hi @PatReynolds ,
Added text for Opportunities to volunteer with FreeCen in test2.

[2017-07-28 14:06] Vino-S commented on #125
Code of Conduct pdf is yet to be uploaded!

[2017-07-28 14:18] helhyde commented on #125
Hmm.. There is a placeholder there at the moment - do you see that?

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On 28 July 2017 at 15:06, Vino-S <notificati

[2017-07-28 14:19] PatReynolds commented on #125
Please remove:
Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.

Where does it come from?

[2017-07-28 14:20] PatReynolds commented on #125
Please move "To register as a transcriber, please press the button below." and the button above the heading and paragraph about developers.

[2017-07-28 15:00] Vino-S commented on #125
Made the changes and updated in test2.

[2017-07-28 21:20] AlOneill commented on #245
@PatReynolds  FreeCen must get/create its own version of `icons.data.svg.css`, distinct from the FR (and UKGen) version in that the fill colour of the social media icons is orange rather than teal. So need to find out how and where that magic happens. I will check out the FR file you mention.

[2017-07-28 21:27] Vino-S commented on #245
Hi @AlOneill ,
There is a assests folder for Freecen here: https://github.com/FreeUKGen/MyopicVicar/blob/freecen_parsing/app/assets_freecen/styles/css/icons.data.svg.css

[2017-07-29 06:50] dougkdev commented on #237
Are we removing the ERY, NRY, WRY only from the birth county selection, or also in the census county? (We do have the riding information for census county, it is only birth county that we often only have "YKS" in the data instead of a specific riding).  We could remove the selection for the ridings in both places for consistency, or we could keep ERY, NRY, WRY, and YKS (all) for census county to f

[2017-07-29 07:26] FreecenBren commented on #237
Whatever is decided by removing the Ridings from the POB for the search I
hope it does not have any impact when we upload the VLDS for the Ridings?
Silly question I know but just checking.
As long as the researcher when they select a birth place of YKS, the search
facility will use all 4 CHP's WRY, ERY, NRY and YKS in its search.
I prefer the 2nd option of keeping the Census County.
B

On Sat, 29

[2017-07-29 07:32] dougkdev commented on #237
Won't impact uploading of VLDs, the data will still be the same as it is now. The change will just be to the query form. Birth county will have only YKS as an option and if YKS is selected, the search will return results of data with birth county listed as any of: YKS, ERY, NRY, WRY.

[2017-07-29 18:12] AlOneill commented on #245
Thank you, Vino. I confess to being a little confused at this point about how the SCSS/CSS files all work together — I will need some thinking time and a chance to draw a diagram or several! (I thought I had understood the flow, but clearly not yet.)

[2017-07-29 20:21] dougkdev opened #281 "disable RefineryCMS member action for coords"
Brenda ran into an issue when she was inadvertently given the role of "syndicate_coordinator" where the RefineryCMS action was taking her to edit county pages.  Unless county pages are planned for CEN, we need to disable  this action in the userid_role.rb for freecen syndicate and county coords to prevent confusion.

[2017-07-29 20:39] dougkdev opened #282 "multi-county search with YKS does not include all of YKS"
while investigating #237, I saw that there is also a bug in the logic for YKS if the user selects multiple counties (the user is allowed to select up to 3). I'll fix this bug along with #237 since it is in the same area of the code.

[2017-07-29 20:49] dougkdev opened #283 "document test2/fc2 update process"
with recent work on the update script and cron jobs, some changes have been made to how FC2 updates are done. Needs to be documented for developers' reference.

[2017-07-30 00:16] dougkdev opened #284 "generate fc1 and fc2 reports for #257"
In order for Brenda to investigate #257, she needs us to generate a report of number of records for each piece in freecen1 and freecen2 so she can narrow down which pieces have discrepancies.

[2017-07-30 00:18] dougkdev commented on #257
need to generate reports for Brenda to narrow down which pieces have discrepancies. Created story #284 for those reports.

[2017-07-31 09:31] PatReynolds commented on #151
Sent @lemon-ukgen text 31/7/2017

[2017-07-31 09:38] richpomfret commented on #262
@PatReynolds We now have a message implemented - so let's change this to 'done' and create a new story relating to any new task i.e. creating/adding a survey.

[2017-07-31 09:55] PatReynolds commented on #262
Agree - will close. Story #276 is in progress.

[2017-07-31 10:20] PatReynolds opened #285 "Add Coords to New Transcriber Signup"
Add Counties/years which are suitable

[2017-07-31 10:22] PatReynolds commented on #236
@dougkdev can this be done now?

[2017-07-31 10:30] PatReynolds commented on #264
dependent on #234

[2017-07-31 10:31] PatReynolds commented on #274
Notified of launch

[2017-07-31 10:44] Vino-S commented on #236
Hi @PatReynolds ,
This has been implemented.

[2017-07-31 13:25] PatReynolds commented on #203
CF what is being done with images on FreeREG (marking some as non-existant)

[2017-07-31 14:10] PatReynolds commented on #285
Brenda has listed and sent spreadsheets to coords.  Pat to send to Vino when checked

[2017-07-31 14:18] PatReynolds commented on #281
Yes, county pages are wanted (currently "status page"). County Coord needs, Syndicate Coord doesn't need.  At the moment they do this on independent websites.

[2017-07-31 14:22] PatReynolds commented on #279
To be decided as part of Transcription phase

[2017-07-31 14:31] PatReynolds commented on #277
National Archives

[2017-07-31 14:41] richpomfret commented on #254
Moved to Israel to see if this is something he might have time to do.

[2017-07-31 14:46] PatReynolds commented on #273
Pat to check for Sark

[2017-07-31 16:17] dougkdev commented on #236
Looks like Vino has merged the script from master but the cron job to launch the script has not been added yet.  I will add it.

[2017-07-31 16:28] dougkdev commented on #236
Ok, cron job set to launch the script.

[2017-07-31 17:32] dougkdev opened #286 "nil @search_query.result_count"
NoMethodError: undefined method `>=' for nil:NilClass (appears to be nil @search_query.result

in search_queries_controller show:

if @search_query.result_count >= FreeregOptionsConstants::MAXIMUM_NUMBER_OF_RESULTS && MyopicVicar::TemplateSet::FREECEN != MyopicVicar::Application.config.template_set

[2017-07-31 18:09] dougkdev opened #287 "app-specific logger messages in search_queries_controller"
some log messages say FREEREG instead of app-specific (missing_document for example)

[2017-07-31 18:33] dougkdev opened #288 "some recent changes to emails are not app-specific"
the most recent master merges brought in some changes to the mailer views with messages that say "FreREG" instead of app-specific messages. Ex: send_change_of_email_notification_to_sc.html.erb

[2017-08-01 00:35] dougkdev commented on #273
removed the individual islands from the census county list on test2

[2017-08-01 00:38] dougkdev commented on #272
fix on test2

[2017-08-01 00:39] dougkdev commented on #282
fix on test2

[2017-08-01 00:41] dougkdev commented on #287
on test2

[2017-08-01 00:49] dougkdev commented on #237
Removed ERY, NRY, WRY from the birth county list (YKS searches them all, plus anything just marked in the data as YKS for birthplace). Left ERY, NRY, WRY, and YKS (to search them all) in the list for census county as preferred by Brenda. Deployed to test2.

[2017-08-01 01:13] dougkdev commented on #237
deployed to production, ready for user test

[2017-08-01 01:13] dougkdev commented on #273
also on production

[2017-08-01 01:14] dougkdev commented on #272
deployed to production, ready for user test

[2017-08-01 01:14] dougkdev commented on #282
deployed to production, ready for user test

[2017-08-01 01:15] dougkdev commented on #287
deployed to production, ready for user test

[2017-08-01 08:30] PatReynolds commented on #282
Tested: Alcock, no forename, 1700 - 1800, Yorkshire - generated error "1 error prohibited this search from being processed:

A forename and surname must be present to perform an all counties search."

[2017-08-01 08:50] PatReynolds commented on #272
Error message about not finding without forename on 'all counties' also occurs on Channel Islands and Worcestershire.

[2017-08-01 09:14] PatReynolds commented on #282
Multi-county search (test Bucks, Worcs and Yorkshire) works on place of birth and on census place.

[2017-08-01 09:24] PatReynolds opened #289 "Merge emendation list code from FreeREG"
Brenda reports:
Just done a search using YKS only for a David Smith. POB 1800 to 1890
All Census Years
Because I selected YKS  as the Census County it did not give me a choice of  Census places.
It did however give me 205 results
 If I search for Dave I get nil results
Are we using the FreeREG emendation list on FreeCEN2?
On FreeCEN1 1891 'Dave Smith' only finds 1 record (total UK).
On FreeCEN2 th

[2017-08-01 10:26] PatReynolds commented on #125
Code of conduct link now not working (worked before).

[2017-08-01 10:36] Vino-S commented on #125
Hi @PatReynolds ,
The code of conduct which you had sent is in word document format. As we need to upload the .pdf format, could you please send the  Code of Conduct(pdf), so that I can update the link?

[2017-08-01 10:41] PatReynolds commented on #125
Hi @Vino-S
There need to be links to:
http://www.freeukgenealogy.org.uk/files/Documents/Code-of-Conduct.pdf
and
http://www.freeukgenealogy.org.uk/files/Documents/Code-of-Conduct.docx
We are putting the documents on www.freeukgenealogy.org.uk rather than on FreeCEN2 as the same documents are used by all projects, and when there are updates, I only want to change them in one place.

[2017-08-01 11:12] benwbrum opened #290 "FC2 search statistics not collected"
Search statistics at http://www16.freecen.org.uk/search_statistics are blank.  Perhaps we need to set up a cron job to collect them?

[2017-08-01 11:45] Vino-S commented on #125
Thanks for the links @PatReynolds .

I have implemented the changes for **Code of Conduct**. Please have a look.
If the implementation is fine, I will go ahead and do the same for **Transcriber Agreement** and **Volunteer Induction handbook**

[2017-08-01 12:13] benwbrum commented on #289
Most of our emendation rules only handle abbreviations ("Tho" for "Thomas")
rather than nicknames ("Tom" for "Thomas"), so I'm not surprised that Dave
isn't one we apply.  We really should be listing the rules we support,
however, and documenting them for researchers.

Ben

On Tue, Aug 1, 2017 at 4:24 AM, PatReynolds <notifications@github.com>
wrote:

--
Ben W. Brumfield
Partner. Brumfield Labs LL

[2017-08-01 12:57] PatReynolds commented on #125
All three documents now have their proper links on test2.

[2017-08-01 14:53] Vino-S commented on #197
I have made few changes in code and deployed it in test2.  Could someone test it and let me know whether it is working?

[2017-08-01 16:50] dougkdev opened #291 "check for colscan on update"
When we did a full rebuild of the FC2 database in April 2017, Kirk noticed that there were some full column scans in the logs. The colscans slow down updates somewhat.  Possibly indicates that we should add some indexes that we do not currently have. This story is low priority as it is not regarding day-to-day search performance (other than possibly increasing the resource load during a build/upda

[2017-08-01 20:46] dougkdev commented on #104
Not dependent on volunteers gateway any more since that plan was postponed indefinitely several months ago. I believe this story can be closed as there is really nothing here that isn't part of other stories (#125, #118, #234)

[2017-08-01 23:55] dougkdev commented on #283
Ok, I have written documentation, but not sure where to put it.  Is there a FreeCen google docs location similar to the FreeReg location where Kirk places his documentation?

[2017-08-02 00:16] dougkdev commented on #272
Currently the query form imposes the same restriction as Reg in that if you search across all counties (census counties) a first and last name are required.  Are you saying that we should change that requirement so that if EITHER a census county OR a birth county is specified we no longer require both a first and last name?  Or are you just saying the error message is unclear and we should change

[2017-08-02 00:28] dougkdev commented on #88
password reset still works as of 1 Aug 2017

[2017-08-02 00:33] dougkdev commented on #288
deployed to test2

[2017-08-02 01:38] dougkdev commented on #220
I saw this got assigned to me yesterday, but I'm afraid I'm a little behind the curve on this story.  Is this the same or different than the messaging system in Reg? (Are we just making sure code that has been merged from master is similarly working in FC2? or is this a different set of requirements?)  Also-- I looked for similar story /discussion in FreeReg about what has been done as far as boun

[2017-08-02 07:34] PatReynolds commented on #220
Yes, it's the FreeREG system that we are bringing into FreeCEN.  Yes, it's got issues, but without throwing money we don't have at the problem, we haven't come up with a solution yet.  The set-email-to-bouncing code is there it is issue #989

[2017-08-02 09:36] helhyde commented on #272
If you select Channel Islands for birth, and all counties for Census, it
says you have to have a surname and a first name. If you select Anglesea
for birth, and all counties for Census, it performs the search.

On 2 August 2017 at 01:16, dougkdev <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable In

[2017-08-02 09:40] helhyde commented on #283
Will send link.

On 2 August 2017 at 00:55, dougkdev <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1723 362616  ​ +44 7943 145387
Westwood House,Westwood, Scarborough YO11 2JD, UK

[2017-08-02 14:33] dougkdev commented on #272
I'm not seeing the same thing as you are. On both test2 and production if I use only surname Smith (no first) I get the message with both Anglesea and Channel Islands for birth and All counties for census.  I don't see the message and search is performed when first name is included.

[2017-08-02 14:54] benwbrum opened #292 "Search Statistics says FreeREG instead of FreeCEN"

[2017-08-02 14:54] dougkdev opened #293 "investigate mongo replication (logged errors about indexes)"

[2017-08-02 14:54] #266 closed

[2017-08-02 14:55] #159 closed

[2017-08-02 14:56] #262 closed

[2017-08-02 14:57] #237 closed

[2017-08-02 15:02] #282 closed

[2017-08-02 15:03] #272 closed

[2017-08-02 15:05] #288 closed

[2017-08-02 15:06] richpomfret commented on #197
@dougkdev to deploy/roll-out (which should fix it).

[2017-08-02 15:09] #107 closed

[2017-08-02 15:09] dougkdev opened #294 "allow all-county search without forename"

[2017-08-02 15:11] richpomfret commented on #107
Complete (as much as we can do here) so moving to done. A few additional stories are required before this is completely finished.

[2017-08-02 15:11] dougkdev commented on #294
see #272 and #282 -- the limitation is causing confusion. In FC1 an all-counties search without forename was permitted if census year was selected.

[2017-08-02 15:15] #173 closed

[2017-08-02 15:16] #290 closed

[2017-08-02 15:19] #104 closed

[2017-08-02 15:20] #151 closed

[2017-08-02 15:26] richpomfret commented on #125
@AlOneill To test for accessibility.

[2017-08-02 15:28] richpomfret commented on #256
A number of load errors found by Brenda (for Lemon to assist with).

[2017-08-02 15:35] richpomfret commented on #222
Also require: validator

[2017-08-02 15:37] richpomfret commented on #267
@DeniseColbert  to chase.

[2017-08-02 15:47] richpomfret commented on #245
Vino to rebuild/recompile as test2 is production (rather than development).

[2017-08-02 15:51] richpomfret commented on #124
Consider adding new story for docu update.

[2017-08-02 18:39] dougkdev commented on #125
The tool-tip (information) text says "...if you are in doubt, select the 'England, rest of' group..."  should be changed to "...if you are in doubt, select the 'Any county and year' group" to match the default syndicate that your created.

[2017-08-02 19:01] dougkdev commented on #222
checker and validator roles added. (deployed to test2, not yet on production).

[2017-08-02 19:22] dougkdev commented on #283
thank you. added the document

[2017-08-02 19:26] dougkdev opened #295 "add system documents link"
For member action "System Documents" add link in refinery to the freecen google drive folder. probably want to also link to the Reg system docs since a lot of the system-wide information is there.

[2017-08-02 19:29] #283 closed

[2017-08-02 19:56] AlOneill commented on #125
**The 3 checkboxes**: the 'labels' are marked up as span elements. They should be marked up as label elements, with for attributes that each match the id of the corresponding input element. (This is a public page that should be accessible to screen-reader users; and our markup should be semantic/valid, in any case.) There should also be a space between the main part of the first 2 labels and '(pdf

[2017-08-02 20:21] dougkdev opened #296 "syndicate_coordinator with no assigned syndicates causes exception"
If a user has the role syndicate_coordinator but is not assigned any syndicates, manage_syndicates_controller throws exception instead of gracefully handling the error.

[2017-08-02 20:36] FreecenBren commented on #125
It has always been FreeCEN

On Wed, 2 Aug 2017 at 20:56, AlOneill <notifications@github.com> wrote:

[2017-08-02 20:50] dougkdev opened #297 "typos in transcription agreement field in edit user profile"
when a user edits their profile, the wording currently reads "... When you decline or *had* not made your choice you *will shown* a message..."

[2017-08-02 23:21] AlOneill commented on #125
Just re-read first para of **Volunteer** page and there are a couple of typos. Suggest:

"FreeCEN's aim is to provide a free-to-use, online and searchable database of the census returns for the whole country. Without the invaluable support of volunteers, this project would not exist."

[2017-08-02 23:37] AlOneill commented on #125
@FreecenBren Yes!, but see the logo and the main heading on the "Volunteer" page, for example. FreeBMD (= free plus *3* more words), FreeCen (= free plus *one* more word) and FreeReg (as per Cen) are more consistent as a group and easier to interpret than the original FreeBMD, FreeCEN and FreeREG.

So much will be changing, that this seems like a good time to properly decide. And then be consisten

[2017-08-03 07:50] FreecenBren commented on #125
Yes but what about FreeUKGen and the title of this 'list' etc. Where does
it stop!
I am of the old school and if it works and people use it, and are used to
it, why change it!
That is my take on it anyway! Others will have theirs!

On Thu, 3 Aug 2017 at 00:37, AlOneill <notifications@github.com> wrote:

[2017-08-03 08:35] PatReynolds opened #298 "set up test2 and test3"
Test2 production
Test3 development (sorry this may be the wrong way round - issue failed to load yesterday

[2017-08-03 10:43] FreecenBren commented on #125
This is the Logo that the trustees designed at the start of FreeCEN.

It is also on the FreeCEN 1 page at  https://www.freecen.org.uk/

From: AlOneill [mailto:notifications@github.com]
Sent: Thursday, August 3, 2017 12:37 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: Brenda <bowbren2@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigra

[2017-08-03 16:05] PatReynolds commented on #125
Thank you, that looks like what I thought I'd written ....

On 3 August 2017 at 00:21, AlOneill <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1723 362616  ​ +44 7943 145387
Westwood Ho

[2017-08-03 16:07] PatReynolds commented on #125
Yes, FreeCEN.  It is just not like that in the logos.

On 2 August 2017 at 21:36, Brenda <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1723 362616  ​ +44 7943 145387
Westwood House,Wes

[2017-08-03 16:08] PatReynolds commented on #125
Yes, FreeCEN.  It is just not like that in the logos.

On 2 August 2017 at 21:36, Brenda <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1723 362616 <+44%201723%20362616>  ​ +44 7943 145

[2017-08-03 16:08] PatReynolds commented on #295
Agreed.

[2017-08-03 16:57] dougkdev opened #299 "Backup of MongoDB"
see similar freereg issue 1262.  We need to set up FreeCen to backup critical collections required to enable database to be rebuilt from files if database is ever corrupted / lost. Census data is already available for build-from-cold from the freecen1 PARMS.dat  and .VLD files, but need to backup users, counties/syndicates/etc, data added directly to FC2, and any other data that doesn't come from

[2017-08-03 17:03] dougkdev opened #300 "FreeCEN instead of FreeCen used consistently on site"

[2017-08-03 17:05] dougkdev commented on #300
see Pat's response in #125 that FreeCEN not FreeCen should be used (except for the logo). There are several other places on the site that are inconsistent.

[2017-08-03 18:04] dougkdev commented on #281
Unable to reproduce the problem without directly typing in the URL for the /cms/refinery/county_pages . The RefineryCMS member action is not presented to syndicate coords, so perhaps when the action did not appear, maybe typing refinery into the browser URL navigation field resulted in it auto-completing to that previously-visited URL?  Hard to know without more info. I do not think there is anyth

[2017-08-03 18:31] dougkdev commented on #181
This is done.  URLs with search query ids are no longer server-specific as search_queries are now stored in the main database instead of a separate local_writeable database on each independent server.

[2017-08-03 18:32] #181 closed

[2017-08-04 00:46] dougkdev opened #301 "invalid county / UTF-8 exception ingesting LAN/rg092981.vld entry 863"
appears that a non- UTF-8 accented character in the name is causing the offsets to get mixed up, birth county reported as KS- (which is invalid) instead of YKS as it is in the file, and then when the invalid birth county is reported as an error, an exception occurs because of invalid UTF-8 in the error message.
Needs investigation, but I strongly suspect the accented e in the first name is a 1-byt

[2017-08-04 06:43] dougkdev opened #302 "crash while updating county coord"
assigning coords used to work, but has broken. crash is NoMethodError length for nil:NilClass). investigating.

[2017-08-04 07:21] dougkdev commented on #302
fix deployed to test2.  (county_groups was missing in the default coord's userid_detail due to the way I initialized the counties via script, and code wasn't checking for nil before operating on county_groups).

[2017-08-04 09:21] PatReynolds commented on #281
Yes, to close.

[2017-08-04 09:21] #281 closed

[2017-08-04 12:22] AlOneill commented on #125
Where does that leave FR, where FreeReg is used throughout the site?

[2017-08-04 20:42] AlOneill commented on #300
Have updated all (AFAIK!) Refinery pages as per.

[2017-08-04 20:44] dougkdev commented on #300
Great! I'll update the places in the code.

[2017-08-04 20:46] dougkdev opened #303 "message system crash with unexpected attachment file extension"

[2017-08-04 20:53] AlOneill commented on #125
Refinery pages updated to use FreeCEN and FreeREG ( and also the typos mentioned above on "Volunteer" page). I somehow got behind the curve on this issue.

Forget my comment above re responsive behaviour of "Volunteer" page at palm width — see now there is device-sniffing at work, whilst I was on a laptop!

[2017-08-04 21:28] dougkdev commented on #300
code updated and deployed to test2

[2017-08-04 21:29] dougkdev commented on #303
fix deployed to test2

[2017-08-04 22:18] dougkdev commented on #220
Thanks, both. I will need to have a closer look at what has been done with #989, etc.

Did some initial work on this story to make app-specific changes to what was merged from FreeREG to use the same code on FreeCEN: Set up to use app-specific text and sending address,  made a couple cosmetic changes with the tooltips on the message creation form. Fixed a tiny bug that would cause a crash any time

[2017-08-04 23:04] dougkdev commented on #222
deployed to production

[2017-08-04 23:04] dougkdev commented on #302
deployed to production

[2017-08-04 23:06] dougkdev commented on #300
code also deployed to production.  @AlOneill , did you make the changes on test2 or on production or both?  (Just wondering if I need to copy refinery content from one server to the other or if they are both in sync with each other).  Thanks

[2017-08-04 23:06] dougkdev commented on #303
deployed to production

[2017-08-14 14:46] richpomfret commented on #299
@lemon-ukgen @dougkdev Are we in a position to move forward with this task? If not, what's needed?

[2017-08-14 14:50] richpomfret commented on #298
To mirror the set-up on FreeREG. @lemon-ukgen I wonder if we might follow a similiar set-up for FreeBMD when we update the test/dev facilities? Although of course for the latter we need sandbox environments and not sure this covers it.

[2017-08-14 15:07] richpomfret opened #304 "Test User Experience for new Volunteer sign-up"
It apears as though new volunteers are having trouble knowing what to do next after sign-up. For us to test and assess how we might improve the user experience and provide better sign-posts.

[2017-08-14 15:13] richpomfret opened #305 "Update Stats page - add daily total searches"
Add a 'quick glance' set of numbers alongside the graph for easy comparison with FreeCEN1 numbers.

[2017-08-14 22:17] lemon-ukgen commented on #299
If all the data is under `/raid` on `colobus` then nothing further to do. If there's data elsewhere then someone needs to let me know where.

The current backup retention is 2 months of daily snapshots. If that's not enough then we can change it, but UKGEN will need a bigger storage server (currently `uakari`).

[2017-08-16 14:46] richpomfret commented on #287
@Vino-S to check.

[2017-08-16 14:50] #125 closed

[2017-08-16 14:52] richpomfret commented on #222
Needs population for further testing.

[2017-08-16 14:52] #222 closed

[2017-08-16 14:57] #302 closed

[2017-08-16 15:00] richpomfret commented on #197
Working fine.

[2017-08-16 15:00] #197 closed

[2017-08-16 15:10] #292 closed

[2017-08-16 15:12] benwbrum opened #306 "Change search graphs to percetages"
Excepting the total number of searches, we should change the graphs of search breakdowns to present a percentage rather than absolute values.

[2017-08-16 15:12] #305 closed

[2017-08-16 15:18] PatReynolds commented on #234
Syndicatenames: KentSyndicate,  DevonSyndicate, etc.  Roles to be in a single field. @pat_reynolds to finish for V/C/Ts and send to Vino.

[2017-08-17 06:50] lemon-ukgen commented on #298
* https://test2.freecen.org.uk - exists, running in production
* https://test3.freecen.org.uk - I'll set this up, and configure Passenger to run it in development

This is the other way around from FreeREG2. We can switch them if that's a concern.

[2017-08-17 08:02] lemon-ukgen commented on #298
Now done. I just cloned `~apache/hosts/freecen/production` (test2) into `~apache/hosts/freecen/development` (test3) so it will have all the same database setup etc. The developers may want to change that.

Both sites are currently errorring 'We're sorry, but something went wrong...' as I found them.

[2017-08-21 15:11] richpomfret opened #307 "Bug - Sign-up/Password reset shows 'FreeREG' instead of 'FreeCEN'"
When a user clicks on the password reset link in a registration/reset email, they are taken to a page where it says 'Set your FreeREG password' instead of FreeCEN.

[2017-08-21 15:14] richpomfret commented on #304
There is no clear 'next step' for a user once they have signed up - they are taken to a blank screen with no 'what to do next' message. We need a blurb here and an automated welcome email.

[2017-08-21 15:54] richpomfret opened #308 "'Welcome'/Next Steps email for new transcribers"
Having just tested the new sign-up flow, there appears to be no 'welcome' email for new users and they are therefore not knowing what happens next. Let's ensure we have one (we can use the FreeReg one as a template).

[2017-08-22 11:15] PatReynolds commented on #276
This appears to be finished.  Anything more to do @DeniseColbert @AlOneill ?

[2017-08-22 11:28] PatReynolds commented on #304
Suggestion sent to @FreecenBren 23/8/2017

[2017-08-23 10:08] PatReynolds commented on #304
Text to add: "Welcome to FreeCEN!  Your support is very much appreciated.  Brenda Bowers, our Chair will be emailing you soon with details of how to start.  If you don't get this email, please check your spam.  You can always contact her at bowbren2@gmail.com."

[2017-08-23 10:09] PatReynolds commented on #304
Do they get an email asking them to choose their password?

[2017-08-23 10:25] Vino-S commented on #304
We send an email which has link to set their password after they complete their initial registration

[2017-08-23 11:27] FreecenBren commented on #304
After the registration that is where they do not know what is next.
Does not explain what they have exactly registered for!

Do they get added on to receive newsletters updates etc?

From: Vino-S [mailto:notifications@github.com]
Sent: 23 August 2017 11:25
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: Brenda <bowbren2@gmail.com>; Mention <mention@noreply.github.com>
Subj

[2017-08-23 14:00] PatReynolds commented on #273
I've now  run some experimental searches, with the conclusion that: for place of Birth search for Sark, FC2 is better than FC1 (i.e. you can do it).
For enumeration place, the structure is Channel Islands (county) > Guernsey (place) > Sark (civil parish).  Sark is often treated as a dependency of Guernsey, but is in fact an independent country (with its own UN code) so people might reasonably expe

[2017-08-23 14:23] PatReynolds opened #309 "Enhance searches on place of enumeration."
Currently searches are based on the first two levels of the enumeration heirachy (county and place).  This has some problems.  In the Channel islands, for example, the independent country of Sark is a third level place, and does not appear (see #273). The names for second level places change. A free text search for third level place names (FC1) does not indicate whether the spelling entered reflec

[2017-08-24 11:03] DeniseColbert commented on #276
I believe it is done, yes. Maybe a story about what we'll do with the feedback?

[2017-08-30 08:42] PatReynolds commented on #175
Tasks arising from #85 can only be implemented (in phase 1.2 and 1.3) once #175 is completed in phase 1.1). Task #85 can proceed simultaneously with this, but is much less urgent.

[2017-08-30 13:26] Vino-S opened #310 "Error report of search should include details from where the report was issued"

[2017-08-30 13:39] AlOneill commented on #245
When checking out something else, realised we had forgotten the cookie notice. (This is about the colours — the other issues will still need addressing.)

Taking the notice as it is now, neither the white nor the yellow are accessible with the green. A darker green would work with white, or a lighter green with black.

![FreeCen__Search___and_links-search_html_—_FreeCen_2.png](https://waffleio-dir

[2017-08-30 13:46] AlOneill commented on #245
Or, we could use a dark neutral background colour which could work with white (and yellow, if wanted).

Or even a light neutral background — although it may not provide enough general contrast to the other page content.

![FreeCen__Search__.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5609b1960367a9170003b106/125516c66e82c728ace21e0d46ce869f26a186a7b0d68c46a54ff39c16796

[2017-08-30 14:37] #236 closed

[2017-08-30 14:42] #273 closed

[2017-08-30 14:53] #276 closed

[2017-08-30 14:58] #267 closed

[2017-08-30 15:01] PatReynolds commented on #245
Meeting decided dark green for cookie notice.

[2017-08-30 15:06] PatReynolds commented on #124
They need to be taken to a landing page with text - to be supplied by Pat (based on FreeREG, in consultation with Brenda).

[2017-08-30 15:09] #304 closed

[2017-08-30 15:19] PatReynolds commented on #299
@dougkdev is there any data elsewhere?

[2017-08-30 15:19] #298 closed

[2017-08-30 19:56] AlOneill commented on #300
@dougkdev  Apologies for delay — did not get message.

I made changes on *production only*: https://freecen2.freecen.org.uk/

[2017-09-06 16:26] Vino-S opened #311 "remove advert from login page"

[2017-09-06 18:07] Vino-S commented on #311
removed advert from login page and "page-not-found" page

[2017-09-07 08:53] MikeLi1 opened #312 "Google Analytics Code found outside of <head> tag"

[2017-09-07 08:55] MikeLi1 commented on #312
The google analytics tracking code in FreeCen2 is placed outside head tag. Could we place it inside the <head> </head>?

[2017-09-07 13:52] Vino-S commented on #307
Fixed and pushed the code in test2

[2017-09-11 10:58] PatReynolds commented on #285
@Vino-S I think I sent you the list of coords - please let me know if you still need them.

[2017-09-11 11:05] PatReynolds commented on #280
Needs to only have the option of signing up (i.e. not options to decline or not declare (at this moment in time).

[2017-09-11 11:08] Vino-S commented on #285
Hi Pat,
I have updated the list of coords in test2. Please have a look. I will update in live website after I have your feedback

[2017-09-11 14:20] PatReynolds opened #313 "Tool to show quantity of records loaded for a piece"

[2017-09-11 14:26] PatReynolds opened #314 "Make issues from the feedback to date"

[2017-09-11 19:54] dougkdev commented on #299
Yes @richpomfret, can move forward with this task as there is nothing it is dependent upon.  @PatReynolds  yes-- the data is currently exclusively in the database itself, not in the /raid directory.  All of the things I mentioned in the initial comment need to be regularly backed up from the mongo database to the /raid directory on colobus so that Lemon's system backups will include them. FC2 does

[2017-09-12 09:15] Vino-S opened #315 "Store only the required user information in cookie for login"
When a user tries to login to our website  the complete user information is stored in the cookie. For some of our users,  the information exceeds the cookie storage capacity(4K) and therefore throws ActionDispatch::Cookies::CookieOverflow error and therefore returns 500 error page in test2.

So it would be a good idea to store only the required user information in the cookie.

[2017-09-13 14:36] #300 closed

[2017-09-13 14:38] #294 closed

[2017-09-13 14:39] #190 closed

[2017-09-13 14:40] #310 closed

[2017-09-13 14:41] #311 closed

[2017-09-13 14:46] PatReynolds commented on #245
@Vino-S can you advise on role of grunt icon?

[2017-09-14 13:58] AlOneill commented on #245
@Vino-S I can see that grunticon decides which version of the icon CSS gets served with an HTML page, but can grunticon do more than this?

For example, line 146 of https://github.com/FreeUKGen/MyopicVicar/blob/freecen_parsing/app/assets/stylesheets/FreeUKGenealogy-Core-Frontend/styles/scss/base/_forms.scss refers to adjusting "grunticon widths", which suggest to me that grunticon could be involve

[2017-09-14 14:33] PatReynolds commented on #308
@Vino-S text for email is here: https://docs.google.com/document/d/1jy-zGOoIHtZ_mdGzRJnw1TDvCNzn077jsuIEmZXuXmU/edit?usp=sharing

[2017-09-15 07:47] FreecenBren commented on #308
Nice and clear. Like it.

On Thu, 14 Sep 2017 at 15:33, PatReynolds <notifications@github.com> wrote:

[2017-09-15 09:41] PatReynolds commented on #285
Yes, this all looks good to me!  Please update in Live website.

[2017-09-15 09:44] PatReynolds commented on #234
@Vino-S do you need now to create all coords as syndicate coords, with same county responsibilities?  KentSyndicate, DevonSyndicate, etc.?

[2017-09-15 09:48] PatReynolds commented on #234
Apologies, @Vino-S see you have created the syndicates - I will now update V/C/Ts listing with the syndicates.  @FreecenBren can you check the syndicate coord listing in test2, and ask @vino-s to set to 'false' any counties that do not have records to transcribe at the moment, please.

[2017-09-15 14:18] FreecenBren commented on #234
I have done them in Test 3 for England & Wales, Still cannot get into test2.
Scotland ones I am still checking out.

Sent from Mail for Windows 10

From: PatReynolds
Sent: 15 September 2017 10:48
To: FreeUKGen/FreeCENMigration
Cc: Brenda; Mention
Subject: Re: [FreeUKGen/FreeCENMigration] Import existing users (and theirroles and email addresses) (#234)

Apologies, @Vino-S see you have created the

[2017-09-18 13:33] richpomfret commented on #132
Function for 1st letter of names required. For use with uncertain characters at beginning of name.

[2017-09-18 14:12] edickens commented on #132
The problem with this is that every entry will be found if they use a Star.
But I can see why it may be needed, so perhaps we allow a question mark for one character, and then there has to be more actual characters following.

[2017-09-18 15:51] DeniseColbert opened #316 "FC2 Feedback: 'Surname only' search facility"
For unusual names

[2017-09-18 15:52] DeniseColbert opened #317 "FC2 Feedback: Occupation search facility"
This is to re-enable the basic search by occupation, available on FC1.

I.e. typing in the search field returns matching records.

Two possible future enhancements:
a) wildcard permissable (e.g. Ag*Lab* returns Ag.Lab., Ag. Lab., Ag. Labourer, etc.  and *smith returns Blacksmith, Goldsmith, Silversmith, Smith, Tinsmith, Whitesmith, etc.).
b) searching uses a reference table to search for synonyms.

[2017-09-18 15:54] DeniseColbert opened #318 "FC2 Feedback: Angus 1841 database coverage page shows many places not online, yet the coverage graph is 100%"
Possible bug?

[2017-09-18 15:55] DeniseColbert commented on #318
AFAICT the database coverage page shows all 1841 is online: https://freecen2.freecen.org.uk/freecen_coverage/ANS

[2017-09-18 15:56] DeniseColbert opened #319 "FC2 Feedback: Light grey text is unreadable"

[2017-09-18 15:59] DeniseColbert opened #320 "FC2 Feedback: Able to select multiple census years"

[2017-09-18 16:00] DeniseColbert opened #321 "FC2 Feedback: Flag when untranscribed info is requested"

[2017-09-18 16:02] DeniseColbert opened #322 "FC2 Feedback: Page jumps"
From user: Page jumps after my line starting with 6. so that it is not possible to see what I am typing.

Possibly related to #326 (ad blocking content)

[2017-09-18 16:04] DeniseColbert opened #323 "FC2 Feedback: 'Optional' in name boxes is misleading"
The Surname and First Name on your initial search screen say optional however, if you leave out the first name you get an error.

[2017-09-18 16:05] DeniseColbert opened #324 "FC2 Feedback: <thead> part of the results tables should have a darker colored background color, to more easily distinguish them from the results rows."

[2017-09-18 16:06] DeniseColbert opened #325 "FC2 Feedback: if you could zebra-stripe every other results row's background color (alternating between white and very light grey, for example) that would make it easier to read"
Right now the rows do light up with a different background color if you mouseover them, but I think static striping would be better.

[2017-09-18 16:08] DeniseColbert opened #326 "FC2 Feedback: an ad coming up over the working area of the site"
From Brenda: On iPad, page jumps when pop-up / ad is loading, ad is in front of screen

[2017-09-18 16:09] DeniseColbert opened #327 "FC2 Feedback: results to be in alphabetical order (Christian name), as they used to be, not by d.o.b."

[2017-09-18 16:12] DeniseColbert opened #328 "FC" Feedback: Facility to more easily search by address / area"
For research on houses

[2017-09-18 16:13] DeniseColbert opened #329 "FC2 Feedback: 'Detail' link not sufficiently clear"
Users are missing the link and are not aware that there is more information for them to see

[2017-09-18 16:14] DeniseColbert opened #330 "FC2 Feedback: Inform users that choosing a Census Place can restrict results"

[2017-09-18 16:15] DeniseColbert opened #331 "FC2 Feedback: missing search fields (such as folio/page/etc)"
I just tried the same searches on both sites -- all worked on the old site and none worked on the new site.

[2017-09-18 16:17] DeniseColbert opened #332 "FC2 Feedback: Make Too Many Results message clearer"
Your 250 (*) results exceeds our display limit of 250 to avoid overloading your device with too much information at one time.

(*) Consider adding '+' here

[2017-09-18 16:23] DeniseColbert opened #333 "FC2 Feedback: Change name input order to 'Forename - Surname'"
This is more intuitive, modern and also the convention on other family history search websites.

[2017-09-18 16:54] DeniseColbert opened #334 "Extra info in 'Detail' column is easily missed"

[2017-09-18 16:54] #334 closed

[2017-09-18 18:10] FreecenBren commented on #318
https://www.freecen.org.uk/coverage-ANS.html#1841

FreeCEN one says it is all complete for 1841. See above link.
I will compare the two.

On Mon, 18 Sep 2017 at 16:55, DeniseColbert <notifications@github.com>
wrote:

[2017-09-18 18:41] FreecenBren commented on #318
A few months back we had an issue with some VLD for Angus. Due to the names
not matching the PARMS.
They were then deleted and the correctly named VLD,s were uploaded.
Looking at the FC2 numbers and percentage graphs they appear to show the Up
and down movement.
That explains the fluctuation. The quantities for FC1 and FC2 are identical

FreeCEN does not have that problem as I asked Lemon to delet

[2017-09-19 14:22] Vino-S opened #335 "Unable to access Profile"
I tried to access my profile in test2 and FC2 it is throwing error "We're sorry, but something went wrong with processing your request.."

[2017-09-20 09:42] DeniseColbert opened #336 "FC2 Feedback: Would like option to put male or female"

[2017-09-20 09:52] DeniseColbert opened #337 "FC2 Feedback: Too much white space"
#1)
The results of a search in FreeCen2 take up too much screen space, for my tastes. A simple spreadsheet-like layout would be my choice without all the horizontal lines and triple-spacing -- it also makes a 'print screen' more useful.

#2)
The results of a search in FreeCen2 take up too much screen space, for my tastes. A simple spreadsheet-like layout would be my choice without all the horizont

[2017-09-20 10:07] DeniseColbert opened #338 "FC2 Feedback: Birth County keeps defaulting to All Counties which prohibits a Surname only Search on Ipad."
Brenda tested this and it appears the Revise Search function isn't working on PC or iPad

[2017-09-20 10:09] DeniseColbert opened #339 "Drop down of pre-entered text isn't working on iPad (Brenda)"

[2017-09-20 10:11] DeniseColbert commented on #329
Many comments point to users missing the 'Detail' link

[2017-09-20 10:39] DeniseColbert opened #340 "FC2 Feedback: Soundex on search page switching to 'Exact Match?' on results page is confusing users"

[2017-09-20 10:42] DeniseColbert opened #341 "FC2 Feedback: Ability to search all of (e.g.) Scotland, Wales"

[2017-09-20 11:04] DeniseColbert opened #342 "FC2 Feedback: Prev/Next household facility too hidden"
Suggest buttons are placed below table on details page, above donate button

[2017-09-20 11:13] DeniseColbert opened #343 "FC2 Feedback: Printable format"
Users aren't aware that clicking this button gets them C&P facility

Suggest addition of the word 'text' to button.

[2017-09-20 11:32] DeniseColbert opened #344 "FC2 refining by secondary name"
Would be nice if you could refine the search using a secondary name, of someone expected to be in the same household (e.g. a relative).

[2017-09-20 11:42] DeniseColbert opened #345 "FC2 Feedback: Report Error message is not clear"
Suggest message is placed above Donate button, and also above the donate button on the Search Results page (currently only on Details page)

[2017-09-20 11:52] DeniseColbert opened #346 "When 2 counties and 'All Counties' are selected on iPad, 3 counties are selected. All counties should deselect other counties"

[2017-09-20 12:09] DeniseColbert opened #347 "FC2 Feedback:Information on differences between censuses"
E.g. Scotland age adjustment in 1841 census etc.

[2017-09-20 12:14] DeniseColbert opened #348 "FC2 Feedback: Useful for 'person searched for' row to be highlighted in table on Details page"

[2017-09-20 12:16] DeniseColbert commented on #343
Another suggestion was to have a print icon

[2017-09-20 12:18] DeniseColbert opened #349 "FC2 Feedback: I can't see the details column when using on my tablet, it won't give me landscape view"

[2017-09-20 12:24] DeniseColbert opened #350 "FC2 Feedback: Add 'Optional' next to Census Place"

[2017-09-20 12:26] DeniseColbert opened #351 "FC2 Feedback: When viewing "detail" pages it would be good to have a "return to results" button at the bottom of the listing. This would enable quick viewing of each record and return to results page."

[2017-09-20 12:27] DeniseColbert commented on #351
This would enable quick viewing of each record and return to results page.

[2017-09-20 12:28] DeniseColbert opened #352 "FC2 Feedback: Reinstate Recent Additions feature"

[2017-09-20 14:20] PatReynolds commented on #338
This story doesn't seem to be about the revise Search function. Searching by surname alone, all birth dates, all census years, all birth counties, all census counties works both as initial search an revised search on my android phone. Is the story that it doesn't on iPads? Other (only?) Story is that  revising a search (on iPad) resets county (birth? Census?) To all counties.  Please could you spl

[2017-09-20 14:21] PatReynolds commented on #338
Duh! Says birth county!

[2017-09-21 17:00] Vino-S commented on #308
Hi @PatReynolds ,
In the document there is three **Change my password** link. But all them take us to the same page no matter whichever link is clicked.  Will it be a good idea to mention it only once?

[2017-09-22 14:53] Vino-S commented on #280
Updated the code in test3

[2017-09-25 14:12] PatReynolds commented on #352
i.e. a feature in FC1, needs adding to FC2.

[2017-09-25 14:23] richpomfret commented on #345
Please clarify which error message.

[2017-09-25 14:31] PatReynolds commented on #341
Need to know whether this can be done by 'Scotland' selects all Scottish counties, or does it need a database redesign?

[2017-09-25 14:39] PatReynolds commented on #333
Should be in line with FreeREG (one way or the other)

[2017-09-25 14:46] richpomfret commented on #330
Should be simple, just need to establish what text to use.

E0 U3 S5 C8:P16

[2017-09-25 14:50] PatReynolds commented on #323
Error is a bug - should be able to search without forename.

[2017-09-25 14:53] richpomfret commented on #318
Appears fixed.

[2017-09-25 14:53] #318 closed

[2017-09-26 11:11] PatReynolds commented on #308
Please keep as it is - we think it is clearer to the user what they have to do this way.

[2017-09-26 11:24] Vino-S commented on #308
Thanks Pat.

On Tue, Sep 26, 2017 at 12:11 PM, PatReynolds <notifications@github.com>
wrote:

--
Thanks

Vino

[2017-09-27 08:15] DeniseColbert commented on #345
Details page:
![image](https://user-images.githubusercontent.com/19173257/30902762-5bd6ceae-a364-11e7-93db-0d8fda5ad59d.png)

[2017-09-27 08:28] PatReynolds commented on #345
In what way not clear? Visibility of the word 'report' (i.e. will be fixed by the new colour scheme).

[2017-09-27 09:04] DeniseColbert commented on #345
For some, it appears too far down the page to be noticed and people aren't seeing it. We've had a lot of feedback criticising the amount of white space; users don't like the info so diffuse/having to scroll- they want as much as possible in the top part of the screen. Brenda suggested that moving the message so it appears above the Donate button, and also placing it on the search record page shoul

[2017-09-27 09:39] PatReynolds opened #353 "Find by maiden name (Scotland)"
Scottish women were (maybe still are) legally known by their maiden name, so the census would record both married surname and maiden surname.  This data is recorded in the format MARRIED / MAIDEN in the name field.  FreeCEN1 found the / MAIDEN component (but there was no 'search by maiden name option').

[2017-09-27 14:36] #307 closed

[2017-09-27 14:37] #287 closed

[2017-09-27 14:42] #315 closed

[2017-09-27 15:01] #88 closed

[2017-09-28 09:43] PatReynolds opened #354 "22 P - Online help and transcriber process documentation for existing systems available"
Convert/enhance current documentation so that it is available to new and existing transcribers on FreeCEN2
needs #369

Economic 4, Urgency 6, Strategy 8, Cost 5: P=22

[2017-09-28 09:45] PatReynolds commented on #124
No landing page in existence on FreeREG that I can find.  Pat drafting ....

[2017-10-09 11:20] AlOneill commented on #245
Aha! Have now found the *correct* Grunticon page on GitHub:
https://github.com/filamentgroup/grunticon

It can be used as either a command line tool or a browser app — Grumpicon. Feed one of them the SVG files , set a bunch of options, and it will produce all 3 CSS files, plus the necessary PNG image files.

Will do some local testing first, then reassess.

[2017-10-09 13:12] PatReynolds commented on #354
Pat to send Rena and Geoff the spreadsheet and pages from FreeCEN1

[2017-10-09 13:16] PatReynolds commented on #352
It includes Errors, so Brenda doesn't have to email coords.

[2017-10-09 13:23] PatReynolds commented on #329
Place left?
Use button rather than text link.
Text for screen readers = 'Details line 11' (et.)
Button says 'Show dwelling details' (or something like that) maybe text under button 'click to  see all the details of this person and others in the same place' (or something)

[2017-10-09 13:28] richpomfret commented on #337
Can you clarify @DeniseColbert ?

[2017-10-09 13:28] PatReynolds commented on #337
need to find out what devices, and try some mockups.

[2017-10-09 13:33] richpomfret commented on #327
Need to draw attention to how we currently allow this.

[2017-10-09 13:41] edickens commented on #327
Click the column heading to sort into different orders?

[2017-10-09 13:42] PatReynolds commented on #321
compare log file for no results with Brenda's spreadsheet of what is / is being / is not avaialable for transcription

[2017-10-09 13:44] edickens commented on #337
We had the same comment when we started FR.  The open text was said to be more readable on tablets and other devices.  But we did request that the Members' area had a different configuration with much tighter text so that the amount of scrolling is reduced.

[2017-10-09 13:45] PatReynolds commented on #319
#245 will deal

[2017-10-09 13:46] #319 closed

[2017-10-09 13:46] edickens commented on #321
Sounds like FR's V1.5 RAP (Records Available and Processing) report !!!

[2017-10-09 15:28] PatReynolds commented on #321
Sounds like, but is from the user, saying what they want, rather than from
us, telling user what they can have.

On 9 Oct 2017 2:47 pm, "Eric Dickens" <notifications@github.com> wrote:

[2017-10-09 16:28] edickens commented on #321
In FR, only the counties and places with entries come up for selection, but there can still be gaps within a place  We have planned for a GAP report where we know entries exist but have not been transcribed, or are lost for ever, or are gaps in the registers due to no activity.

[2017-10-11 10:04] PatReynolds commented on #124
Resent links 11/10/2017

[2017-10-11 12:19] AlOneill commented on #245
Decided against trying to figure out how to use Grunticon per se (at least for now!), but have gone with Grumpicon plus manual editing.

All icons needing editing are now done; PNG images are done; all 3 icon CSS files updated and tested locally.

NB: have not done anything towards updating "favicons" — these are a whole different kettle of fish!!

[2017-10-11 14:35] #316 closed

[2017-10-11 14:37] richpomfret commented on #306
Is this deployed onto test2?

[2017-10-11 14:37] #286 closed

[2017-10-11 14:39] #297 closed

[2017-10-11 14:40] richpomfret commented on #314
@DeniseColbert to confirm whether this is now complete or not.

[2017-10-11 14:41] #308 closed

[2017-10-11 14:43] #296 closed

[2017-10-11 14:44] #335 closed

[2017-10-11 15:05] #323 closed

[2017-10-11 15:06] richpomfret commented on #323
Duplicate so closing (294).

[2017-10-11 15:11] #263 closed

[2017-10-11 15:17] PatReynolds commented on #278
Pat to check page, and  suggest text.

[2017-10-12 11:39] PatReynolds opened #355 "Review 1st iteration of information for transcribers on Refinery"
The htm documents are to be put into FreeCEN2 style, in the Information for Transcribers folder.  The CSV files are to be  uploaded, for download from new page on FreeCEN2 to replace https://www.freecen.org.uk/software/incens/SSDOWN.HTM (see story #356)  Documents and filesare in the gdrive, FreeCEN folder, FreeCEN1  documents.

E0 U6 S7 C5: P21

[2017-10-12 11:40] PatReynolds opened #356 "Remove all references on FreeCEN1 re downloads, etc. for transcribers."
Economic 4, Urgency 6, Strategy 8, Cost 6: P=20

Needs #369

Changed title to reflect task.
Task is change all references on FC1 and FC2 to "https://www.freecen.org.uk/software/incens/SSDOWN.HTM" to "https://test3.freecen.org.uk/cms/information-for-transcribers#transcribing" and add text: this link takes you to the Transcriber's help page.  If it does not work, please log in as a member on www.fre

[2017-10-12 12:21] FreecenBren commented on #355
Just to put it on record so to speak.
The moving of SSCENS means we are moving instructions that are out of date
in some aspects.
Examples.
No one uses Flopping discs anymore.
Also INCENS has not been used for years and is not workable.
The files that are there for being downloadable contain .EXE files that
anti-virus programs stop you downloading them as well as GOOGLE etc.

I know they are going

[2017-10-12 12:23] PatReynolds commented on #355
Yes, the downloads will now be the files themselves, not .exe files that contain the files/documents/spreadsheets.
All documents need to be revised by Rena before making live, so that they are up to date.

[2017-10-17 16:10] PatReynolds commented on #354
Sent 17/10/2017

[2017-10-18 08:39] PatReynolds commented on #355
This now appears to be urgent - the .exe download file may be the one causing our sites (all FreeCEN and FreeREG) to be blacklisted by some web protection sites.  We may need to take the download file off the site.

[2017-10-18 11:20] PatReynolds opened #357 "Change google ad client and add ads.txt"
It  needs to be pasted in between the <head> and </head> tags

The code is:
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1788116026113570",
    enable_page_level_ads: true
  });
</script>

[2017-10-18 11:49] PatReynolds commented on #246
Also contact:
The Church of Scotland
Scottish Catholic Archives
"Several local authority archives and university archives in Scotland share the responsibility for looking after the records of Scotland's government, court and churches"

[2017-10-18 11:50] PatReynolds opened #358 "Update credit/copyright statement"
After consultation with National Records Scotland

[2017-10-18 14:54] FreecenBren commented on #355
This is what I have been saying.
I get emails from helpers and COORDS alike asking me for what they need as
they are unable to download the files they need.
The EXE files are safe but over the years we have had antivirus programs
rejecting them. Macfee was the first.
Now Google as well as others have joined the reject list.

I send, VALDREV, WINCC,  FCTOOLS  (including the CSVCHECK  that is based

[2017-10-19 14:55] PatReynolds commented on #354
From Brenda's comment on what she does - should CSVCHECK be added to the resources available for download on the Transcribers section of FreeCEN2?

[2017-10-20 09:48] PatReynolds opened #359 "Enable Google Analytics on FreeCEN1"

[2017-10-23 14:13] richpomfret commented on #359
Vino to take a look at FreeCEN1 code and see how easy it is to add in the analytics code.

[2017-10-23 14:15] PatReynolds opened #360 "Remove ccsens.exe from FreeCEN1"
This file, while innocent, is being flagged as hosting a trojan.  This means it it is impossible to get to FreeCEN1/2 and FreeREG from local authority libriary computers.
So needs to be deleted.
Contents will be available soon on FreeCEN2, and meanwhile Brenda can send via dropbox.

[2017-10-23 14:15] richpomfret commented on #358
Need to get clarification on what to include in the statement (Pat).

[2017-10-23 14:22] richpomfret commented on #337
To review once accessibility changes have been made and all such updates have been completed. To return to.

[2017-10-23 14:30] PatReynolds opened #361 "22 P - Validation (VLD correction) possible"
E.g download, correction software, upload, or
correct on-line.
See https://www.freecen.org.uk/manual/peidx.htm for Validation on FreeCEN1
https://www.freecen.org.uk/manual/6c.htm describes what VALDREV (the old software) does
Dependent on #378 for standardized place names to pick from
Three parts - can be done in any order
(a) place of birth 'normalised' form #
(b) final pair of eyes on uncertaint

[2017-10-25 14:36] richpomfret commented on #306
Yet to be deployed onto production (should be on test2).

[2017-10-25 14:41] #314 closed

[2017-10-25 14:43] richpomfret commented on #349
Ready for testing on test2

[2017-10-25 14:58] PatReynolds opened #362 "check coords are getting the new transcribers details sent to them (and are acting on them)"

[2017-10-25 14:59] benwbrum commented on #124
I'm trying to track this down in my various email accounts.  @PatReynolds, is https://docs.google.com/drawings/d/1_k3bTuenpBTq-s3WZWXy-giQgVb-1m5_rccruk7Wbic/edit?ts=5938205f the landing page draft you sent me?

[2017-10-25 15:01] PatReynolds opened #363 "Only counties with data to transcribe should appear in drop down list"
Spreasdsheets on FC1 and on Scotland FC1

[2017-10-25 15:02] PatReynolds opened #364 "Flowchart for Transcriber registration"

[2017-10-25 15:07] edickens commented on #364
Should be the same as FreeREG.

[2017-10-25 15:11] richpomfret commented on #339
Let's test this more across a few devices (tablet/mobile)

[2017-10-25 15:14] PatReynolds commented on #340
Use "soundex"

[2017-10-25 15:16] #363 closed

[2017-10-26 10:35] PatReynolds opened #365 "Remove all Scottish counties and Sussex from the list of syndicates"
Needs to use the same methodology as FreeREG - county coord indicates that county has data and personal capacity to take on new volunteers

[2017-10-26 10:36] PatReynolds opened #366 "Put a * before 'all counties' and 'any questions' so they go to the top of the list of syndicates to be chosen by new transcribers"

[2017-10-26 11:59] FreecenBren commented on #366
Information.

We do not now have a COORD or any Images for Sussex, and therefore no new transcribers needed.

So a Syndicate is also not needed.

The 1851, 1861, 1871 & 1891 Census are all completed and online.

That only leaves the 1841 Census and we do not have any images for them

Sent from Mail for Windows 10

From: PatReynolds
Sent: 26 October 2017 11:36
To: FreeUKGen/FreeCENMigration
Cc: Sub

[2017-10-29 21:34] lemon-ukgen commented on #360
I think we're actually talking about `SSCENS.EXE`, of which there appear to be many variants tailored for each district (?)

[code]

If they're all based on the same code I expect they'll all trip whatever test we're dealing with. I'll remove all these `.exe`s.

[2017-10-29 21:38] lemon-ukgen commented on #360
Done.

[2017-10-29 21:38] #360 closed

[2017-11-03 09:51] PatReynolds commented on #246
@richpomfret to check Security Policy version 1.1 against requirements of NRS.

[2017-11-06 15:14] richpomfret commented on #364
To include automated emails (or need for them).

[2017-11-06 15:22] richpomfret commented on #362
To email co-ords and advise them of the sign-up process for new transcribers.

[2017-11-06 16:56] PatReynolds commented on #365
Please add
"To find out details of the available years and places within a county, you can check here on FreeCEN1 (opens in new tab)" [with link to https://www.freecen.org.uk/project.htm]. @FreecenBren to check wording.

[2017-11-07 09:27] PatReynolds commented on #365
@Vino-S please use the data on https://www.freecen.org.uk/project.htm to mark counties as accepting transcribers (if there is a Yes in the county), otherwise set to false.

[2017-11-07 10:29] DeniseColbert opened #367 "Add easyfundraising to websites"

[2017-11-07 14:26] PatReynolds commented on #365
FreeCen coord Leicestershire & Rutland 1871 notes there is no mention of Leicestershire or Rutland.

[2017-11-07 15:10] FreecenBren commented on #365
Manage Syndicates  BOX shows nothing at all for anyone

Syndicate coordinators  BOX lists them all including Leicester And Rutland

On Tue, 7 Nov 2017 at 14:26, PatReynolds <notifications@github.com> wrote:

[2017-11-07 16:57] richpomfret opened #368 "Add 'contact' link to Help page"
Contact is rather hidden away on the site. Intuitively, I would look for this on the HELP page and I wonder if we can add a link there? This could be in the opening paragraph or in the right-hand menu options.

[2017-11-08 12:27] PatReynolds opened #369 "Transfer FreeCEN1 programmes to FC2"
Where there is no quick win change in programming in version 1.2:
Change from .exe compressed to uncompressed (or ZIP if compression needed):
Census Data CENSDUPL Program
U.K. Census Data Validation Program
- VALDREV
csvchk.zip
Windows Census Check (WINCC)
VALCENS

[2017-11-08 15:37] richpomfret commented on #349
To test on more devices to see where this might be a problem i.e. different tablet sizes.

[2017-11-08 15:39] #175 closed

[2017-11-08 15:40] richpomfret commented on #234
Tested and now on Live.

[2017-11-08 15:42] richpomfret commented on #234
Let's test this further with larger files (as we are likely to import 400 plus users).

[2017-11-08 15:43] richpomfret commented on #326
To test on Live.

[2017-11-08 15:45] richpomfret commented on #306
To fix FreeREG stats 1st (also here) before deploying this.

[2017-11-08 15:47] richpomfret commented on #256
Problem with Aberdeen - ongoing.

[2017-11-08 16:03] richpomfret commented on #245
Alison to add new colour scheme for us to take a look at. To then schedule a meeting to review where we are and potential colours.

[2017-11-08 16:07] benwbrum commented on #245
@AlOneill, have you tried doing the bower/grunt build on the repository created by the designers?

[2017-11-08 16:08] richpomfret commented on #124
Pat has now sent through the doc to Ben. Ben to review.

[2017-11-08 16:14] richpomfret commented on #354
Rena is currently working on this with Brenda's guidance.

[2017-11-08 16:15] PatReynolds commented on #364
Pat to check with coords whether one or multiple options training pathway - e..g. starting off the spreadsheet with first two pages, and first line of third page, or not having a start.

[2017-11-08 16:16] PatReynolds commented on #354
See #364

[2017-11-08 16:17] #362 closed

[2017-11-09 12:55] PatReynolds commented on #364
Draft shared with Brenda and developers 9/11/2017

[2017-11-13 09:44] DeniseColbert commented on #349
![20171111_003534](https://user-images.githubusercontent.com/19173257/32719119-28ce7800-c857-11e7-9524-406c65511591.jpg)
![20171111_003544](https://user-images.githubusercontent.com/19173257/32719120-28e3903c-c857-11e7-8ba4-7e3662f40677.jpg)

[2017-11-13 09:51] DeniseColbert commented on #349
These are the results on a 7" tablet, looks solved to me

[2017-11-14 13:25] DeniseColbert opened #370 "Ireland is missing from Birth County list"
These are in FC1 and should have been copied over

[2017-11-16 12:24] PatReynolds opened #371 "Update IPR and Terms of Use notices"
See https://docs.google.com/a/freeukgenealogy.org.uk/document/d/1ua6ODxzxxgUgvsXkRONpZjiP0C-XRE_K-9ajJQ2J0Kc/edit?usp=sharing
Economic 0, Urgency 10, Strategy 3, Cost 7?: P=20
needs #246

[2017-11-17 16:52] Vino-S commented on #359
Hi @PatReynolds ,
I do not have the google analytics code for Freecen1.  Could you please send me the code so that I can add it the website?

[2017-11-20 15:20] richpomfret commented on #369
Need to know what we need (from the many exe files), where we put them and how quickly we need to do this.

[2017-11-20 15:26] richpomfret commented on #367
To make a mock-up/wireframe so we know where it is going.

[2017-11-20 15:31] richpomfret commented on #337
Thanks Denise. Let's focus on finding where this happens on the search results page, different examples of it and then we can explore elegant solutions to it.

[2017-11-20 15:33] richpomfret commented on #337
Potential task for a volunteer who specialises in UX?

[2017-11-20 15:42] richpomfret opened #372 "Please show 'last updated'"
As is the case in CEN1, please communicate when the database was last updated within the 'managed peices' page.

E3 U6 S8 C 8: P25

[2017-11-21 11:18] PatReynolds opened #373 "remove /free-uk-genealogy-transcriber-agreement"
This page is not needed - link is now to www.freeukgenealogy.org.uk page(s)

[2017-11-21 14:38] PatReynolds commented on #278
@Vino-S can you point me at the page where a volunteer is able to change their contact details?

[2017-11-21 14:49] Vino-S commented on #278
Hi @PatReynolds ,
All transcribers have access to Profile Action. A transcriber can update their contact details like Email, Location and Telephone using EDIT action in Profile.

[2017-11-21 15:18] richpomfret opened #374 "advert click-tracking"
Outstanding question from the roadmap. Do we have this in place for Adsense? I presume so, however I've not seen the reports on this.

[2017-11-22 15:41] #349 closed

[2017-11-22 15:49] #364 closed

[2017-11-22 16:07] richpomfret commented on #354
Pat to check with Geoff and to then add to test server before it's live. Need to agree on process for pushing pages live via Refinery.

[2017-11-22 16:11] PatReynolds commented on #278
@Patreynolds to see what the wording is in Profile Action, and consult on changes needed.  @Vino-S to make any change needed in errbit.

[2017-11-22 16:14] richpomfret commented on #338
Can anyone replicate?

[2017-11-22 16:29] richpomfret opened #375 "Request a reset of your FreeREG password"
Shows FreeREG instead of FreeCEN.

Also, not sure if it worked as no confirmation after reset and not sure if it responds appropriately if a non email address is used in the email box. Please test and update as necessary.

[2017-11-29 15:06] PatReynolds commented on #124
Resent to Ben for any changes to text needed.

[2017-11-29 15:31] PatReynolds commented on #354
Shared with Geoff 29/11

[2017-11-29 15:40] PatReynolds commented on #278
I cannot see 'profile action' in my actions.  If I go to 'manage ID' and then 'edit' I can edit my own ID.  @Vino-S Is this what everyone can do?
Current wording:
Just a country will do
Suggested alternative:
Full address, if telephone number not given, otherwise just a Country will do.

[2017-11-29 15:42] PatReynolds commented on #279
Recording transcription level already there (29/11/2017), also fiche reader there.  Story is therefore changed to 'remove fiche reader recording'

[2017-11-29 16:09] PatReynolds opened #376 "Create 'behind the scenes' for FreeCEN"
https://www.freereg.org.uk/cms/information-for-coordinators/behind-the-scenes

[2017-11-29 16:15] PatReynolds opened #377 "Publish FreeCEN information for Coordinators"
Draft ready for circulation

E0 U6 S7 C7:P20

[2017-11-29 16:16] PatReynolds commented on #280
@richpomfret please add link to forum

[2017-11-29 16:20] PatReynolds commented on #359
Code sent 29/11

[2017-11-29 17:01] PatReynolds commented on #361
Suggest Validation should be done online, with final action to be committing to the FreeCEN2 database.

[2017-11-29 17:28] FreecenBren commented on #361
Alternate ways besides online, as not all people  have access to Online
services/WiFi all the time.
Restricted service comes to mind. I.e. The Outback, Scotland, remote areas
etc. WW.

Also we have to remember that it can a take a long time to Validate a PIECE.
A PIECE can have many entries between a few hundred  ( Mostly Shipping) up
to 25,000 +
Just thinking out of the box.
Being able to upload

[2017-11-30 08:39] PatReynolds opened #378 "Update/replace GENIE place locator and Supplementary Places lists (was PlaceSup.GEN in VALDREV)"
Possibly replace with FreePASTplace.
?Needed before new transcription tools?
?Needed before Images online?

needs #165

E2, U3, S8, C5?:P18

[2017-12-04 15:10] richpomfret commented on #378
To discuss/review - can do this via Slack or here.

[2017-12-04 18:03] PatReynolds commented on #337
See also FreeREG 1360

[2017-12-06 11:35] PatReynolds opened #379 "Persistent URLs (Spec)"
Needed for linked open data

[2017-12-06 15:33] benwbrum commented on #124
Reviewed -- no changes needed.

[2017-12-06 15:47] richpomfret commented on #234
Should now be fine, but for Pat to test out too.

[2017-12-06 15:48] richpomfret commented on #326
Will try testing this on tablet.

[2017-12-06 16:03] PatReynolds opened #380 "Find and display empty dwellings"

[2017-12-06 16:10] benwbrum commented on #257
We have determined that FreeCEN1 and FreeCEN2 count uninhabited records differently.

When a VLD line (representing a census form entry) is parsed in FreeCEN1, we're counting the line as a record, whether the line represents an individual or an uninhabited dwelling.

When VLD files are processed by FreeCEN2, we create a `dwelling` entry for each dwelling and an `individual` entry for each individu

[2017-12-06 16:10] PatReynolds opened #381 "Check that everyone has 'Profile' button"

[2017-12-06 16:11] richpomfret commented on #278
Pat to create new story with regard to adding in profile 'action' for every user type.

[2017-12-06 16:12] FreeUKGenIssues commented on #380
We need to carefully define what search parameters would find an empty
dwelling, since forename and surname will necessarily need to be blank.

On Wed, Dec 6, 2017 at 10:03 AM, PatReynolds <notifications@github.com>
wrote:

--
Ben W. Brumfield
Partner. Brumfield Labs LLC
Creators of FromThePage <https://fromthepage.com/>

[2017-12-06 16:15] benwbrum commented on #366
This may be doable by reordering the list programmatically, so that we might not need the asterisk.

[2017-12-07 12:50] PatReynolds commented on #124
@Vino-S please give my profile access to refinery in both tests and production, so I can implement.

[2017-12-07 14:25] Vino-S commented on #124
Hi @PatReynolds ,
I had given  access to Refinery in both test2 and test3 for your Userid.
I had also added Profile action to your list of actions in test and live website.

[2017-12-07 15:10] PatReynolds commented on #124
TY, Vino.  I have made the landing page on test3. Is the layout correct (I cut and pasted, so should not be typos)?
We then need to make this where transcribers go once they have pressed the 'register' button on https://freecen2.freecen.org.uk/userid_details/transcriber_registration? . I couldn't find that page on refinery, so couldn't see how/what to change - let me know how to edit it, please.

[2017-12-10 17:38] PatReynolds commented on #361
The new VLD programme will either need to
a) accept a .che file (i.e. probably a .dat file) or the existing system (via FC1)will need to be maintained until the transcriptions in progress are all up in the system.  When developing the CHE programme, it may be possible to take in transcriptions at that point. Or
b) have a temporary conversion from the .che file to the input to the VLD programme.

[2017-12-10 17:40] PatReynolds commented on #361
What is the size of the largest .che file submitted to VLD so far?  How does it compare in size to the resulting .vld file?

[2017-12-10 17:45] FreecenBren commented on #361
It was also discussed many moons ago to combine the Checking and the
Validation stage into one.
The agreement between the COORDS at that time was about 50/50.
Some said that if it was combined they would still like to do the post
Validation on the VLD before it was uploaded, as they do now, as they felt
that they often find things that were missed or wrong!

On Sun, 10 Dec 2017 at 17:38, PatReynol

[2017-12-11 14:35] FreecenBren commented on #361
It depends on what you are meaning by size.  KB/MB or actually rows of DATA.

The largest VLD uploaded I think was one for about 32,000 entries/rows for the 1851 Census.
I am uploading one this week for 21,767 entries/rows and the size is 6356KB.

The average VLD is about 4000 to 15,000 rows as it very much depends on the Census year.
The sizes for each Census year by County depends on how the NA

[2017-12-11 15:40] PatReynolds commented on #361
Thanks, Brenda.  I meant size of files (kb). I'm guessing that the largest files might reach a couple of mb.

I hadn't heard about the discussion on combining checking and validation.  I think we might split the processes as follows
checking: a checker looks at those rows where the transcriber has noted that checking is needed
verification: a coord looks at the data before final sign-off and publi

[2017-12-11 17:22] FreecenBren commented on #361
Uploading the following 6 later today with others.

21767 = 6.356MB my example I example I gave you
5250   = 1.533MB
12500   = 3.65mb
17240   = 5.034mb
2544     =  0.717mb
2815      = 0.822mb

So the average for these 6 would work out at 10337 at 3.019MB

The discussion took place with your processors I believe about merging WINCC & VALDREV.

I think the COORDS would prefer looking at the final ve

[2017-12-14 14:44] PatReynolds opened #382 "Open Data Day"
Open Data Day is Saturday 3rd March.  What could we do to celebrate? http://opendataday.org/

[2017-12-15 12:18] PatReynolds opened #383 "Add in profile 'action' for every user type."

[2017-12-18 15:14] richpomfret commented on #382
Potentially provide Cornish data as 'open data' access on a page for this?

[2017-12-18 15:17] richpomfret commented on #383
Closing as duplicate of 381.

[2017-12-18 15:17] #383 closed

[2017-12-18 15:18] richpomfret commented on #379
Added Ben, as he is already looking at this across on FreeReg.

[2017-12-20 12:26] PatReynolds commented on #354
SSCENS.zip contents now available on test3 for review.

[2017-12-20 12:33] PatReynolds commented on #369
All .zip files now taken down from FreeCEN1, work-around is that Coords have what they need at the moment and new cords can ask existing to forward).  Probably more urgent for checkers than validators

[2017-12-20 15:44] DeniseColbert commented on #381
I have the Profile button in my Actions

[2017-12-20 15:46] #285 closed

[2017-12-20 16:03] benwbrum opened #384 "Cloud9: Make FreeREG/FreeCEN workspaces public"
It should be possible to make the Cloud9 workspaces for developers public and document how to clone them, obviating some of the setup work and the need for volunteers to contact a mentor before starting.

See https://community.c9.io/t/where-i-can-see-other-peoples-public-workspaces/664/2

[2017-12-20 16:09] benwbrum opened #385 "Cloud9: Create FreeCEN workspace"

[2017-12-20 16:44] FreecenBren commented on #381
I also have it in my Actions

On Wed, 20 Dec 2017 at 15:44, DeniseColbert <notifications@github.com>
wrote:

[2017-12-21 16:25] DeniseColbert commented on #370
AFAICT only the Northern Ireland counties have been added. FC1 has both NI and Southern Irish counties

[2017-12-22 00:39] AlOneill commented on #325
We already have striped table style available. The colour would probably need overriding — currently pale yellow — but that could create another issue ...

The striped style does not remove the row highlighting: this style would have to be written out if we stripe with light grey (and white).

[2017-12-22 00:55] AlOneill commented on #337
The ideal amount and location of white space on a page is as much to do with comfortable reading (amount of concentration needed) and meaningful associations (things that are closer together should be more closely related than those further apart) as the amount of scrolling needed.

Using a touch pad makes light work of scrolling, but perhaps mouse-users find it more troublesome.

[2017-12-22 16:00] DeniseColbert commented on #359
Code seems to have fallen over:

![image](https://user-images.githubusercontent.com/19173257/34304313-30694bfa-e731-11e7-96c9-d753f88eb189.png)

[2017-12-22 16:38] PatReynolds opened #386 "Email update fails"
I tried to update an email reported as undeliverable (to a gmail.co.uk address), but got an error report - 'The update of the profile was unsuccessful ["Email address Userid email already exists on change", "Email address Refinery email already exists on change"] '

[2017-12-22 16:58] FreecenBren commented on #386
I assume all gmail email address are

@gmail.com

And NOT  .co.uk

 I could be wrong!!!!

On Fri, 22 Dec 2017 at 16:38, PatReynolds <notifications@github.com> wrote:

[2017-12-27 10:21] PatReynolds commented on #234
Syndicate coordinators appear not to have been imported, at least for some (no existing volunteer should be 'all counties'

[2017-12-27 11:21] PatReynolds commented on #357
Find out we can't just place on the subdomain, so I will need to ask Lemon to show you how to place on www.freecen.org.uk as well as FreeCen2.  Code is:
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5379635334920389",
    enable_page_level_ads: true
  });
</script>

[2017-12-28 09:45] PatReynolds commented on #386
Exactly, Brenda - I was trying to change a .co.uk to a .com, as that should work (the .co.uk failed)

[2017-12-28 10:23] PatReynolds commented on #325
I don't see stripes of any colour (chrome or comodo). do we need testing on other browsers?

[2017-12-28 11:03] PatReynolds commented on #373
Changed to a dummy webpage on test3

[2017-12-28 12:25] PatReynolds commented on #370
Yes, all counties are needed.  At the time of these censuses, Ireland was undivided and entirely part of the UK (United Kingdom of Great Britain and Ireland as it was then)

[2017-12-29 10:10] PatReynolds commented on #374
Yes, works.

[2017-12-30 10:01] PatReynolds commented on #124
Thanks, @Vino-S  - tests fine.

[2017-12-30 22:35] AlOneill commented on #325
@PatReynolds Yes, the striping is available, but we don't use it currently. The colour is currently a pale yellow: this is what it **would** look like, here on a Search Results table (using the new colour scheme):

![style_gallery___freereg](https://user-images.githubusercontent.com/14852554/34457579-f5fcb736-edac-11e7-936c-b603bb71ab0c.png)

We can alter the colour to suit, naturally. To be unamb

[2017-12-31 11:31] PatReynolds commented on #325
I'm happy with primrose (the colour you have here) for the stripes.  Probably need to test mock ups of this vs no stripes with users.

[2017-12-31 18:12] AlOneill commented on #325
Try looking at those yellow stripes for any length of time — it did my nut in!!

Having spent some time experimenting with stripe colours, as opposed to theorising(!), I concluded that those nearer to grey (i.e. more neutral) than the yellow were more comfortable. For example:

![style_gallery___freereg](https://user-images.githubusercontent.com/14852554/34463313-cbc646f0-ee4f-11e7-81c1-cd7dc1d3d6

[2017-12-31 18:25] AlOneill commented on #325
Apologies for using FreeREG example for FreeCEN issue. But ...

[2018-01-01 16:30] AlOneill commented on #337
Looking at a Search Results page, some of the problem at least is caused by the markup — it has become seriously unorthodox — the `div.container` and `main` element are being closed before the table even begins; the table is within an unnecessary/unhelpful `div.grid`and the widths applied to the columns are inappropriate, causing unnecessary wrap in some cells, and hence a lot of unnecessary extra

[2018-01-02 10:22] PatReynolds opened #387 "Citation Generator"
See FreeREG #1374 for details
Needs #410.

[2018-01-02 11:00] PatReynolds commented on #325
I completely agree!

[2018-01-02 18:39] AlOneill commented on #337
Should add that the buttons on the detail links will continue to add white space to a table row until the new colours are in place and we can revert to a simple link.

Markup issues located in ERB files and details sent to Vino.

[2018-01-02 18:59] AlOneill commented on #333
On the other hand, since a surname is the minimum requirement for a search on FreeCEN, it makes sense to put it first.

[2018-01-03 09:11] PatReynolds commented on #333
Since this is 1.3, and needs more exploration - inc. user research - I have moved back into incoming.

[2018-01-03 13:09] PatReynolds opened #388 "Update copyright year to 2018"
Needed before change in #358 will be ready

[2018-01-03 15:32] richpomfret commented on #375
Still shows 'freereg' instead of 'freecen'. Also there is no confirmation message that a new password has been sent once the user has pushed the 'reset password' button.

[2018-01-03 15:45] richpomfret commented on #368
To also add a more prominent 'contact us' below the advert box on right-hand side.

[2018-01-03 15:46] #366 closed

[2018-01-03 15:50] #381 closed

[2018-01-03 15:50] PatReynolds opened #389 "Narrow down results by country?"
What numbers are involved in searching all records in Ireland, Scotland, Wales or England?  Would users find this useful?

[2018-01-03 15:55] richpomfret commented on #118
Vino to let Pat know when it is ready to test.

[2018-01-03 15:57] richpomfret commented on #365
Just to remove Scottish syndicate to complete this story.

[2018-01-03 16:01] #374 closed

[2018-01-03 16:05] richpomfret commented on #124
Now on Live - to test and ensure it is working fine.

[2018-01-03 16:06] richpomfret commented on #355
@FreecenBren Can you confirm that this is all fine now? If so we can close this issue as should be complete.

[2018-01-03 16:07] richpomfret commented on #354
@FreecenBren Can you check and test?

[2018-01-03 16:16] #220 closed

[2018-01-03 16:21] PatReynolds opened #390 "Review "white space" issue"
Dependent on tables being fixed, accesibility stuff, etc.  Then needs review by users.

[2018-01-03 18:08] AlOneill commented on #354
@PatReynolds Just had a quick look at Info for Transcribers on test3 — the HTML markup is not quite right (the basic markup, not classes) — would you like me to tidy, so that page is nicer to read?

[2018-01-04 09:54] PatReynolds opened #391 "Review response to new sidebar advert"
See email from Pat 4/1/2018
This is being changed to 'colourful' - we could revert to standard, or change colours and font.

Economic 4, Urgency 3, Strategy 3, Cost 6: P=16

[2018-01-04 09:58] PatReynolds opened #392 "Change banner ad to images only (check 4 Dec 18)"
Test to see impact on earnings

[2018-01-04 10:11] PatReynolds commented on #354
Yes please, or perhaps better to tell me what I've got wrong, and I'll then
not repeat the errors.

On 3 January 2018 at 18:08, AlOneill <notifications@github.com> wrote:

--
*- -*

*Dr Pat Reynolds*
Executive Director
Free UK Genealogy  <http://www.freeukgenealogy.org.uk/>
A Charitable Incorporated Organisation registered in England and Wales,
number 1167484
VAT registration: 233 0105 70

​+44 ​1

[2018-01-05 17:54] AlOneill commented on #354
Markup sorted to make it easier to focus on the page contents (it is not a finished version — will do that once content editing is complete):
https://test3.freecen.org.uk/cms/information-for-transcribers

Don't worry if any editing of content breaks the markup *at this stage* — it can be restored! (Some notes re markup sent to Pat, as requested.)

Realised that we do not currently have styles for

[2018-01-05 20:10] AlOneill commented on #354
The other two pages in the Transcriber help have not been updated since 2002 and are showing their age! Tables are used to control the page layout — this is at odds with how the FreeCEN 2 site controls layout using CSS. The information offered is not tabular in nature. (CHP codes and Relationship Abbreviations are lists.)

The language is unfriendly: there is much use of the passive voice (!) whic

[2018-01-08 11:59] PatReynolds commented on #274
Invitation also dependent on #382.  NB need to reset status of all so no previous transcribers have accepted or declined (at start of sign up).  New transcribers since launch all have signed.

[2018-01-10 15:06] benwbrum opened #393 "Computer Vision identify census records on images"

[2018-01-10 16:43] benwbrum commented on #393
TODO: add sample inputs and outputs for census records.

In addition to the above, a flag (or probability) that the region of interest contains ink would be invaluable as an output.

[2018-01-11 09:43] PatReynolds opened #394 "23 P - Forums (was Newsletter distribution)"
To create alternatives to Rootsweb as discussion groups (newsletters being addressed separately) - title changed to reflect this.

Urgent as Rootsweb is continuing problematic and longevity of the site in a way that supports us is very uncertain (see#1033, see FreeREG #620 and #692).  This feature will allow opt-in / opt-out distributions on the message system.  Needs to be done first on FreeREG,

[2018-01-11 10:13] edickens commented on #394
When the website message system on the server has had the change to allow pdf attachments made live, I will use that, not the mailgroups, to send out my newsletters.

[2018-01-15 11:46] PatReynolds opened #395 "Add message to those blocking adverts"
Message to explain that we are a charity, adverts are a vital part of our income, and that if you prefer not to see adverts, please consider making a donation

E6 U3 S8 C8: P27

[2018-01-15 15:09] PatReynolds commented on #394
@edickens I believe that an opt-out is needed, both here on FreeCEN, and on FreeREG.  Will be implemented first on FreeREG.

[2018-01-15 15:20] richpomfret commented on #382
To get confirmation from Trustees.

[2018-01-16 12:30] PatReynolds opened #396 "Define levels of Adsense/AdExchange targeting"
i.e on non search pages you may be able to add MPU's 300x250's and define sections for targeting in case needed down the line
Work being undertaken by Kate Peskett, Adsense/AdExchange volunteer

Economic 4, Urgency 3, Strategy 3, Cost ?5: P=15

[2018-01-16 17:49] PatReynolds commented on #375
Now correctly showing 'freecen' in test 2 please push to live.

[2018-01-16 18:12] Vino-S opened #397 "Restrict change of Transcription Agreement status to the individual, through the interface"

[2018-01-16 18:36] Vino-S commented on #397
Refer FreeREG issue 35

[2018-01-17 13:39] Vino-S commented on #370
Updated all counties of Ireland in Live website

[2018-01-17 13:40] Vino-S commented on #365
Removed Scottish syndicates in live website

[2018-01-17 13:44] Vino-S commented on #118
As @PatReynolds  suggested, Users will be able to change their Userids.  It will throw error if a user chooses a Userid that is already taken.
 Currently updated in test2 for testing.

[2018-01-17 13:45] Vino-S commented on #388
Updated in Live website

[2018-01-17 13:46] Vino-S commented on #278
Changed the wording of Physical Location to "Full address, if telephone number not given, otherwise just a Country will do." as @PatReynolds  suggested.

Updated in Live website

[2018-01-17 13:49] Vino-S commented on #337
Updated the markup of search_results ERB page as suggested by @AlOneill in Live Website.

We can change the Button of Detail to link as in FreeREG if needed.

[2018-01-17 13:52] Vino-S commented on #397
The Agreement status can now be updated by the transcribers only by themselves not by others like( system_administrators, "syndicate_coordinator" etc.)
Updated in test2 for testing.

[2018-01-17 13:55] Vino-S commented on #234
Updated the syndicate coordinators for most of the users.
I need to send @PatReynolds the list of transcribers for whom I do not have syndicate_coordinator.

[2018-01-17 13:55] Vino-S commented on #368
Ready for testing in test2

[2018-01-17 14:03] Vino-S commented on #257
@benwbrum  had suggested to ammend Params file for 1841 Census for NTT for FreeCEN2.
We have 2 errors in FC2 which needs fixing.
If we fix this, it will bring the records of HO108749 in next FC2 update and will be able fix the count difference.
Working on it currently.

[2018-01-17 15:27] richpomfret commented on #246
Currently reviewing the requirements but all good so far. Shall confirm.

[2018-01-17 15:31] richpomfret commented on #111
@lemon-ukgen Restarting this issue so we can see if it's still valid or not. I can give you access to FreeCen analytics if you need and we can get this story moving or close if applicable? I am currently checking to see if we have a Google Webmaster tools account.

[2018-01-17 15:46] #124 closed

[2018-01-17 15:47] #370 closed

[2018-01-17 15:48] #388 closed

[2018-01-17 15:49] #278 closed

[2018-01-17 15:52] richpomfret commented on #397
Pat has tested and seems fine to deploy to test3 - I will also see if I can break it once it is on there.

[2018-01-17 15:57] richpomfret commented on #368
Looks good. Happy to deploy to staging>production.

[2018-01-17 16:02] richpomfret commented on #355
Apparently broken links might might mean an update is needed in Refinery.

[2018-01-17 16:07] richpomfret commented on #306
@lemon-ukgen Can you take a look at this for Ben?

[2018-01-17 16:20] richpomfret commented on #257
Is this still a valid task considering Ben's above comment relating to how we count things differently btween FreeCen1 and 2?

[2018-01-17 17:01] FreecenBren commented on #257
This is nothing to do with the counting.
It is an error in a PARMS file for NTT 1841.
I have sent them a corrected PARMS file

On Wed, 17 Jan 2018 at 16:20, Rich Pomfret <notifications@github.com> wrote:

[2018-01-17 20:50] DeniseColbert opened #398 "Record on FC1 not found on FC2"

[2018-01-17 20:53] DeniseColbert commented on #398
![image](https://user-images.githubusercontent.com/19173257/35066332-242d6dfc-fbc8-11e7-841b-b726f78b466e.png)

Sorry, I had 2 counties selected in FC2 search, went back and took GLA away and found my guy.

[2018-01-17 20:53] #398 closed

[2018-01-17 20:55] DeniseColbert opened #399 "Ad between search results is broken"

[2018-01-17 20:56] DeniseColbert commented on #399
![image](https://user-images.githubusercontent.com/19173257/35066530-d7df4f6e-fbc8-11e7-9d03-86c894c09421.png)

[2018-01-17 22:03] AlOneill commented on #337
@Vino-S  Thank you!

The big wobble in the table is down to the tooltips: a hidden tooltip is located to the right of where it will be shown. When we review for access, those particular tooltips will need to be replaced anyway: solution is not straightforward and will depend on how much information needs to be shown there, amongst other things. (Which is why we haven't fixed that now.)

[2018-01-19 00:35] AlOneill commented on #368
The .islet around the .banner is causing trouble at some tablet-range widths. Suggest we remove the div.

@Vino-S As the page is in Refinery, I can fix it if you like.

[2018-01-19 23:45] AlOneill commented on #399
I think the CSS could be part of this issue: it is a little complicated, so will investigate and report back.

[2018-01-20 11:41] richpomfret opened #400 "FC2 Remove/change old test accounts"
At least one test account still has email setup to go to Doug when a user signs up. Please update any/all accounts so emails go to the correct people.

[2018-01-22 20:44] AlOneill commented on #368
@Vino-S Have fixed as described. Also removed style attribute on a.banner as it was breaking responsiveness.

[2018-01-22 21:17] AlOneill commented on #354
On test2:
Have taken "Fields in the FreeCEN1 spreadsheet" out of tables. "Relationship to Head" and "Chapman Codes for FreeCEN" presented as lists.

There is a lot of editing still to be done. Have not edited content, except to fix the CHP code for Peebles! A suggested to-do list is on the page. Other comments/queries in text.

I have added just enough markup to make page pleasant to read. No worr

[2018-01-23 10:37] PatReynolds commented on #354
Thanks Alison, I'll ask Rena and Greg to answer the 'to dos', and implement

[2018-01-23 11:46] richpomfret opened #401 "Develop FreeCen API"
Develop a simple api (REST?) in order to access and query our database.

[2018-01-23 14:52] PatReynolds commented on #361
VLD software had two elements: (a) place of birth name and (b) coordinator's look at data before final sign-off.

[2018-01-23 15:05] PatReynolds opened #402 "Create tool to manage place of birth names"
This is to replace (part) of the old VLD software.
Place of birth is recorded 'as is' in the census - for example if the enumerator wrote Brighton in the county of Kent, the transcriber records Brighton, Kent.  Or if they wrote Flower (local pronunciation of Floor) Northamptonshire, the transcriber records Flower, Northamptonshire.  Some researchers will find this useful, but it makes it difficult

[2018-01-23 20:50] amankh99 commented on #376
Hi,
@PatReynolds is the project isn't started yet, because I can't see any code available at this repository. There is no proper 'readme' and 'contribution guide', please tell me how to get started?

[2018-01-24 10:41] PatReynolds opened #403 "Add link to privacy policy in footer"

[2018-01-25 10:19] PatReynolds commented on #357
Also  ads.txt file needs to be hosted to your root domain some further details here: https://iabtechlab.com/ads-txt/ (emailed file 25/1/2018

[2018-01-26 00:25] lemon-ukgen commented on #357
I'll use this work as a chance to write FreeCEN-the-first instructions for @Vino-S

[2018-01-26 01:37] lemon-ukgen commented on #357
* Two different `google_ad_clients` are mention in this ticket. I used the more recent one (`ca-pub-5379635334920389`)
* FreeCEN previously had non-page-level ads included via `cgi/banner.pl`. I've replaced this with `cgi/pageads.pl` which is included in the `<head>` part
* I've deployed this to `test.freecen.org.uk` only so far

@PatReynolds @Vino-S please can you check the changes are what you e

[2018-01-26 09:57] PatReynolds commented on #357
Thanks, Lemon. Please could one of you deploy to live?

[2018-01-26 17:48] Vino-S commented on #357
Thanks @lemon-ukgen.
@PatReynolds  I have updated the FreeCEN and FreeCEN2 live website.
As mentioned by Lemon ads did not show up in FreeCEN2 also.
I have enabled Pagelevelads in header. I had used "ca-pub-1788116026113570" for FreeCEN2 to differentiate from FreeCEN1.
Please have a look and let me know if any changes required.

[2018-01-26 17:49] Vino-S commented on #359
Google Analytics script enabled.

[2018-01-26 18:11] FreecenBren commented on #357
FC1 search page not working

The FreeCEN site has encountered an error. Please try again later.The error
that has been reported is: *Bad name after GoogleAnalyticsObject' at
/home/apache/hosts/freecen/cgi/search.pl <http://search.pl> line 181. on
brazza*

*Only if the problem persists* please mail cen-web@freecen.org.uk giving
full details of the problem -

   - Full details of the error that was

[2018-01-26 19:09] Vino-S commented on #357
Hi @FreecenBren ,
I had fixed the issue. Could you please have a look again?

[2018-01-26 19:12] FreecenBren commented on #357
Thanks Vino.
Up and running ok. Tested in with a search and worked fine.
Many thanks
Brenda

On Fri, 26 Jan 2018 at 19:09, Vino-S <notifications@github.com> wrote:

[2018-01-27 21:53] AlOneill commented on #354
@PatReynolds @FreecenBren Updated  [Fields in the FreeCEN1 Spreadsheet](https://test2.freecen.org.uk/cms/information-for-transcribers/fields-in-the-freecen1-spreadsheet) on test2, to include guidance for Institutions & Shipping, and for Scotland. Also re-ordered some of the information (was "to-do" 2 and 3).

Added 1841 Occupation Abbreviations; made changes as per Brenda's request; SCT and IRL co

[2018-01-29 11:02] PatReynolds commented on #357
Sorry, I told Adsense to check when it was only in test, and now they want new code:
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5379635334920389",
    enable_page_level_ads: true
  });
</script>

Please let me know when that is on live of www.freecen.org.uk (don't wo

[2018-01-29 12:11] Vino-S commented on #357
Hi @PatReynolds ,
script is now live at www.freecen.org.uk. Please have a look. But as Lemon mentioned ads are not showing up

[2018-01-29 17:09] PatReynolds commented on #359
Working fine now!

[2018-01-29 17:33] PatReynolds commented on #357
Thanks - I've now activated the Adsense account.  It might need pasting into every page :-(

[2018-01-29 19:57] lemon-ukgen commented on #357
Funny you mention it. In the situation before we replaced the old Google Ads code was this

* the code was abstracted away into its own file so it could be easily included in every page with a one-line `<!--#exec`> tag

* but this tag was only present on the index page

I didn't look to change this, since it appeared to reflect a conscious decision about ads on FreeCEN from before.

Adding the cod

[2018-01-30 15:21] PatReynolds commented on #376
Hi @amankh99 The project is well underway (please see freecen2.freecen.org.uk for the beta.  FreeCEN uses a branched version of the code of FreeREG (MyopicVicar), therefore you can clone the relevant repository from there. The CMS we use is Refinery - so we'll need to give you access to test2.freecen.org.uk for you to create the page there @richpomfret could you do that?

[2018-01-30 20:24] AlOneill commented on #355
There are a number of issues here:

**On test3** FWIW, the links to the two CSV files and the Fields PDF now work (links updated). The Fields PDF has page headers with Pat's local file path in the headers (probably a Bad Thing) and we are in the process of updating the Fields, so do we really want volunteers to continue to download this elderly, unfriendly document?

**On test2**, although all 3 f

[2018-01-31 09:54] PatReynolds commented on #355
Only the example CVS files are needed, now we have html pages again for the 'how tos'.

I think we had decided that we did not need to test refinery pags on test2 (whichever comes first in the sequence)

Links to downloads needs resolution - perhaps as a separate issue?

[2018-01-31 14:31] Vino-S commented on #368
Moved the changes by @AlOneill to live

[2018-01-31 15:09] richpomfret commented on #359
Also tested here and all fine now. :)

[2018-01-31 15:16] richpomfret commented on #375
Tested here too and all good. Is it also on TEST3? Do push it there and then it can be deployed as normal. :)

[2018-01-31 15:17] richpomfret commented on #280
Q&A group is here - https://groups.google.com/a/freeukgenealogy.org.uk/forum/?hl=en#!forum/transcription-agreenment--open-data

[2018-01-31 15:19] richpomfret commented on #280
@Vino-S Please ensure the link to the group is given to the user as part of the sign-up text for existing transcribers (as it is for new). Probably done already but thought i'd check. ;)

[2018-01-31 15:22] richpomfret opened #404 "Email reset 'incorrect email' error message needed"
Should a user incorrectly input their email address or a wrong address, when clicking 'reset' they are not informed of the error and no message is shown. The user should be informed that they have entered an incorrect email address and to please check before re-entering it.

[2018-01-31 15:26] richpomfret commented on #373
Where is the direct URL to test this? It's unclear..

[2018-01-31 15:27] richpomfret commented on #338
Closing as now appears fixed. Although I do have an ipad (borrowed!) so will do some general testing for any such UX issues.

[2018-01-31 15:27] #338 closed

[2018-01-31 15:28] richpomfret commented on #326
Borrowed an ipad so shall finally get a chance to test tonight! HURRAH! ;)

[2018-01-31 15:31] richpomfret commented on #275
Cookie policy appears just fine and up to date. However, may need to check on any possible bugs with it if anyone is being asked to re-accept it - although I think i've seen this on test2/3..

[2018-01-31 15:35] benwbrum commented on #306
I've done some more research -- the reason this isn't deployed is that the code needs to be merged from master, depending on this pull request: https://github.com/FreeUKGen/MyopicVicar/pull/1339

[2018-01-31 15:38] #368 closed

[2018-01-31 15:42] PatReynolds opened #405 "Review UX on ipad"
E1, U3,  S10, C 7: P21

[2018-01-31 15:43] #337 closed

[2018-01-31 15:43] PatReynolds opened #406 "Review user perception of white space"
Invite new user comment on this topic to identify where a better balance could be achieved.

[2018-01-31 15:45] richpomfret commented on #397
Ready to be pushed to live.

[2018-01-31 15:49] #375 closed

[2018-01-31 16:04] PatReynolds opened #407 "Old Coord uploaded to system"
Vino to send Brenda list for checking

[2018-01-31 16:12] benwbrum opened #408 "Merge Master code changes into FreeCEN"
In order to pick up the enhancements made to the codebase for FreeREG (including search percentages, CONTRIBUTING.md, etc) we need to merge the code from `master` into `freecen_parsing`.  There is a pull request for this at https://github.com/FreeUKGen/MyopicVicar/pull/1339 ,
 but the work should be tracked here.

[2018-01-31 16:17] richpomfret commented on #234
@Vino-S to check that there are no 'all counties' users coming through. @PatReynolds to clarify if needed.

[2018-01-31 16:17] PatReynolds opened #409 "Review all emails out of system"
Some emails have not been seen/modified to meet FreeCEN's needs.  Team needs to review all.

[2018-01-31 16:18] richpomfret commented on #246
Confirmed we are now covered. @PatReynolds please do proceed.

[2018-01-31 16:19] richpomfret commented on #275
To check Barrie's comments and ensure we are consistent across sites.

[2018-01-31 16:22] benwbrum commented on #306
This depends on #408

[2018-01-31 16:25] richpomfret commented on #379
Ben & Richard L have now agreed on a way forward for this - new stories for documenting this and then doing it.

[2018-01-31 16:25] benwbrum opened #410 "Implement friendly URLs"
Follow the specs in https://github.com/FreeUKGen/FreeUKRegProductIssues/issues/801

[2018-01-31 16:25] #379 closed

[2018-01-31 16:28] PatReynolds commented on #382
Open Death Data - undertakers blog

[2018-02-05 11:33] PatReynolds opened #411 "Machine learning of effective ways of searching FreeCEN data"
Using the data in the FreeCEN database, discover the most effective ways of presenting the  researcher with additional requests for information after a number of basic entry questions.

[2018-02-05 13:02] PatReynolds commented on #68
Reopened as found not to be done. Now live, open to team to comment/check.

[2018-02-06 10:16] PatReynolds commented on #253
@AlOneill notes Need to consider those volunteers who can't use a pointing device

[2018-02-06 10:20] PatReynolds opened #412 "Accessibility Review"

[2018-02-06 16:28] PatReynolds commented on #359
Needs adding to all pages (see email from Dragos 5 Feb 2018)

[2018-02-06 16:49] PatReynolds opened #413 "Investigate behaviour on choosing time-limited place"
Users may be choosing time-limited place and census for a different time - investigate how often this happens and draw up actions resulting (e.g. information on No Results message, paragraph on Help).  The story on why so many search failures is probably relevant.

[2018-02-07 15:53] PatReynolds commented on #246
Contacted 7 Feb.

[2018-02-07 15:57] PatReynolds opened #414 "Enable attachments to messages"
I thought this was an existing issue, but now can't find it.  Attachments still fail (.rtf, pdf).

[2018-02-09 10:55] PatReynolds commented on #357
Working fine now on FreeCEN1 and FreeCEN2, but not test2

[2018-02-09 10:59] Vino-S commented on #357
Hi @PatReynolds ,
Updated test2. Please have a look

[2018-02-09 14:24] PatReynolds commented on #357
Perfect!

[2018-02-10 16:58] PatReynolds commented on #126
@Vino-S could you provide me of a screenshot of what transcribers see when they log on?

[2018-02-10 17:31] PatReynolds commented on #85
Suggest we go with CSV, as allows for off-line work through the process.
Assumptions document: https://docs.google.com/document/d/1n47ULyApcOcB9WYiWRyeupTzloSMpvZE1ecoAVLP5qo/edit?usp=sharing
@FreecenBren please  correct faulty assumptons

[2018-02-10 17:55] PatReynolds commented on #126
Comment for draft.
https://docs.google.com/document/d/1SLLodOLQK8JfFherLUp86G6Xjmo27fhUMx4_xVSAJDE/edit?usp=sharing

[2018-02-13 15:08] PatReynolds commented on #413
Make people select a year or 'all years' before offering a choice?

[2018-02-13 23:25] offthewallace commented on #393
Hi benwbrum
 I saw this idealist from google summer of code. I am wondering that is there a standard format for the input files? Because once standardized and had enough samples,  a model can be trained for producing those bounding box coordinates.

[2018-02-14 05:37] zzzhacker commented on #393
Hi benwbrum
I am interested in this idea. I get the idea but it would we more helpful to clarify things exactly if you provide some input and output images. because now I think to solve the problem in a way something like Yolo object detection but here instead of object we have some text format.

[2018-02-14 15:38] #414 closed

[2018-02-14 15:38] #357 closed

[2018-02-14 15:53] benwbrum commented on #289
This may be picked up automatically thanks to #408.  This will be a testing task once that is resolved.

[2018-02-14 15:59] benwbrum commented on #409
Developers are needed to find the emails the system is sending, and then passing those along to Brenda, Pat, and others to review; A google drive folder might be the perfect destination.

Pat to make the folder; Vino to extract the email text/subject/recipients.

[2018-02-14 19:33] malgamves commented on #401
Hi, I'd like to work on this during SoC. Why the question mark on REST? Any things that might make implementing a REST API a problem?

[2018-02-15 15:13] FreecenBren commented on #413
Sent from Mail for Windows 10

Will they have a choice of the Years  ( and I presume County)  that we are  currently working on  that we do have the images for?

Otherwise it will be a case of telling them that “we are sorry, but we do not yet have the images for your chosen  Census Year and County.
Would  you like to chose from the following that we do have.”

 If we do however get copies of ALL

[2018-02-16 14:30] iamgroot42 commented on #393
Hi @benwbrum
This idea seems really interesting! Is the list of formats available anywhere (for reference)? Depending on the amount and granularity of data available, different pipelines can be constructed to solve this problem. Also, it would be great if you could provide a sample output (the format, details) that are available for constructing such a model :D

[2018-02-17 15:15] PatReynolds opened #415 "Update donate link"
Link is now: https://www.freeukgenealogy.org.uk/help-us-keep-history-free/

[2018-02-17 16:19] FreecenBren commented on #415
But if you are on the SEARCH  page at https://freecen2.freecen.org.uk/search_queries/new

 And you click on the Make a Donation button at the bottom  it does not take you to that address. “ Hover over the link below”
• Contact Us
• Make a Donation
• Policies

It takes you to this one,

https://www.freeukgenealogy.org.uk/about/help-us-keep-history-free/

So that link needs changing

Sent from Mail

[2018-02-17 20:20] abhiML commented on #393
Hi @benwbrum I did a similar project on bill receipt data where I used a Deep Learning model to identify the different fields of data and form a bounding box around them. I also used another model to perform OCR on the bounded text data. I believe the task can be accomplished given enough training data and fixed number of fields.

[2018-02-18 08:30] malgamves commented on #371
Which repo does this edit go into? I'm up to do it.

[2018-02-18 23:46] AlOneill commented on #355
Links to CSV files for download now fixed on test2 for the Transcriber Help pages.

[2018-02-19 00:00] AlOneill commented on #385
As someone whose main task is to update our SCSS/CSS, I don't think things are quite right yet: amongst other things, I am investigating why the current icons CSS is not served to a browser preview page. I suspect that the `config/initializers/assets.rb` file needs either editing or deleting !!! (BWDIK)

[2018-02-19 10:30] PatReynolds commented on #371
Hi @malgmves, @vino-s can you explain, please?

[2018-02-19 10:42] Vino-S commented on #371
Sure @PatReynolds . I am about to finish a task in FreeBMD and then I will support Malgmves

[2018-02-19 13:32] DeniseColbert commented on #415
I have fixed the link in the button on https://freecen2.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen

@Vino-S could you do the footer link please?

[2018-02-19 14:10] FreecenBren commented on #415
Thanks Denise.
 Should this link have a picture of the donate button as it only has the
small text wording there.
Clicking on the text ‘Donate’ though does take you to the correct page.
Tested on my IPad

On Mon, 19 Feb 2018 at 13:32, DeniseColbert <notifications@github.com>
wrote:

[2018-02-19 15:47] Konsang commented on #393
Hi @benwbrum!

Really Interesting Idea. I had a few doubts. Hoping you could clarify them.
1) Is the project research-oriented like finding the best model? Is the data currently hosted on some platform like kaggle?
2) Are there any baseline models for us to compare our results with?
3) Does it involve other functionalities like integration with other software or some nice GUI?

Thanks!

[2018-02-19 16:02] Vino-S commented on #371
Hi @malgamves , Can you send your email address so I can discuss and explain the task?

[2018-02-19 16:55] DeniseColbert commented on #415
https://freecen2.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen does have the Donate button; do you mean the text on FreeCEN1? We do want the Donate button placed on FreeCEN1- it is on the FreeCEN1 waffleboard: https://github.com/FreeUKGen/FreeCen-1-Issues/issues/4

[2018-02-19 17:07] malgamves commented on #371
Sure thing, malgamves@gmail.com

[2018-02-19 17:41] FreecenBren commented on #415
On my Windows 10 PC

When on the FC1 page at https://www.freecen.org.uk/  and click on either these links I get the Green Donate button.

sign up page on FreeCEN2: https://freecen2.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen 

On the my IPad

But when doing the same on the IPad I do not get the Donate button but the following empty box with the text in it.

https://freecen2.freecen.

[2018-02-19 19:19] DeniseColbert commented on #415
It sounds like there might be an issue here with a (wrong) link showing where the donate button should be. Are you able to screenshot Brenda?

[2018-02-19 19:37] FreecenBren commented on #415
Never found out on the iPad so asked it. Sorry it is big. Tried attaching
it but this was all it would do

On Mon, 19 Feb 2018 at 19:19, DeniseColbert <notifications@github.com>
wrote:

[2018-02-20 15:46] ketankr9 commented on #401
Can this be perused as a gSoC project ?

[2018-02-20 18:19] DeniseColbert commented on #415
Hmm, it's not showing anything. I'll try to get it tested. Thanks Brenda.

[2018-02-23 11:00] RohitLearner commented on #301
Do this programmatically rather than using the recode utility - it would be quite straightforward in C#, for example.

Just to reiterate though: all of this is heuristic.

[2018-02-26 18:11] richpomfret commented on #346
And vice versa should also apply i.e. if a user selects an individual county, then 'all counties' should no longer be selected.

[2018-02-26 18:59] richpomfret opened #416 "Review nature of adverts on search results page"
Site adverts look like 'spam' adverts rather than appropriately targeted for user demographics.

[2018-02-28 15:44] Vino-S commented on #359
Added google analytics on search page, search_results page, history page, censdets.htm

[2018-02-28 15:51] #384 closed

[2018-02-28 15:54] benwbrum commented on #408
This is deployed to test2, including all software changes made to the `master` branch for FreeREG for the last few months.

[2018-02-28 15:55] #397 closed

[2018-02-28 15:55] #280 closed

[2018-02-28 15:57] richpomfret commented on #118
Shall test in test3.

[2018-02-28 15:58] richpomfret commented on #326
Seems fine - cannot duplicate.

[2018-02-28 15:58] #326 closed

[2018-02-28 16:00] benwbrum opened #417 "Implement open data browsing"
As Cornwall data may be shared, we can implement an SEO-friendly browsing interface as part of the work on #410.

[2018-02-28 16:00] #359 closed

[2018-02-28 16:01] richpomfret commented on #396
Not sure if this is at all related, but a few weird adverts (spam-like) are cropping up on FreeCEN2 at the moment..

[2018-02-28 16:06] Vino-S commented on #293
=>rs.status()
{
	"set" : "shard1",
	"date" : ISODate("2018-02-28T12:41:59.208Z"),
	"myState" : 1,
	"term" : NumberLong(18),
	"heartbeatIntervalMillis" : NumberLong(2000),
	"members" : [
		{
			"_id" : 0,
			"name" : "mongo2.freeukgen.org.uk:27018",
			"health" : 1,
			"state" : 2,
			"stateStr" : "SECONDARY",
			"uptime" : 7496690,
			"optime" : {
				"ts" : Timestamp(1519821698, 1),
				"t" : Num

[2018-02-28 16:09] benwbrum commented on #393
See sample data and description of the data at https://github.com/FreeUKGen/SummerOfCodeImages/issues/3

[2018-02-28 19:05] katepeskett commented on #396
Hi Rich, do you have any screenshots of the spam like ads?

[2018-03-01 14:02] mahesh15230 commented on #371
If more hands on deck needed, happy to help. Email : mahesh15230@mechyd.ac.in

[2018-03-01 14:36] mahesh15230 opened #418 "Contact Email of Free UK Genealogy doesn't work"

[2018-03-01 14:40] mahesh15230 commented on #418
I have tried to send a mail to soc@freeukgenealogy.org.uk twice
![Screenshot (194).png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a9805ac6214ce0011a4df7d/125516c66e82c728ace21e0d46db978826878dba87e6ab03ec0ca9c060046b313916ac217586f76ae5002e550e574fff455d5a4cfaf9802ba6b43c708f5e09e4d8644d68d47f40f2ecdd42e64bef62994597b7bb804dc5e9342ce68e8d4f391601109bb2.png)

[2018-03-01 14:43] mahesh15230 commented on #418
I'm new here and I got the Delivery Status Notification (Failure) email twice. Any assistance is appreciated

[2018-03-02 12:48] richpomfret commented on #401
Hi there. Yes it can - we would be happy to hear your proposal for it. We are still writing up the spec/requirements for this but can help you/discuss it very soon.

[2018-03-02 13:15] malgamves commented on #401
Sure thing. Will wait till then.

[2018-03-07 16:02] richpomfret commented on #411
@benwbrum Added you to this after our projects meeting this afternoon. We ideally need all of these mini project documents written up quite soon (prospective candidates will begin writing proposals from the 12th March until the 27th).

[2018-03-08 05:26] mnishant2 commented on #393
I agree this can be done very efficiently provided enough data using deep learning.I have also in the past used traditional computer vision to do such a task on a banks forms with only a couple of scanned images.So yeah,I am sure this is achievable.I wanted to know whom to contact for submitting my proposal wrt summer of code for this project.

[2018-03-12 15:11] #119 closed

[2018-03-12 15:16] richpomfret commented on #325
To continue reviewing - perhaps to roll out as a tet with the zebra suggestion, or finding an alternative solution based on Alison's comments/thoughts.

[2018-03-12 15:25] richpomfret commented on #399
Is this now fixed?

[2018-03-12 15:36] richpomfret opened #419 "Change Doug's role - ensure he doesn't receive emails"
To update his role so he doesn't continue receiving emails he isn't required to receive.

[2018-03-12 15:38] richpomfret opened #420 "Remove 'reply within 2 days' promise"
To change to 'as soon as possible' (or simply implement as changed in FreeREG). It is not always possible for a reply within 2 working days, therefore this needs to be updated.

[2018-03-12 15:39] richpomfret commented on #418
This has now been updated and SoC email addy is working again. Thanks for letting us know.

[2018-03-12 15:39] #418 closed

[2018-03-12 16:38] AlOneill commented on #354
Have finished updating [Fields in the FreeCEN1 Spreadsheet](https://test2.freecen.org.uk/cms/information-for-transcribers/fields-in-the-freecen1-spreadsheet) with info/suggestions from Rena. Had to put Abbreviations sections on their own page — Refinery would not save when combined.

@FreecenBren Now needs checking for accuracy and remaining queries answering.

[2018-03-13 09:13] PatReynolds commented on #416
The one I blocked on FreeREG/FreeBMD has not been served on FreeCEN (the one you shared on slack looks identical, though, but gives a different url - that can't be found on FreeCEN either.

[2018-03-13 16:04] PatReynolds commented on #246
Contact said she would contact us mid-March.

[2018-03-14 14:20] PatReynolds commented on #126
Sorry - that should be 'draft for comment' - @FreecenBren @AlOneill Rena and Geoff (emailed 14/3)

[2018-03-14 15:43] richpomfret commented on #399
Advert is broken if no results are found - it shows an empty advert box below the results. If no results are found, no advert should be shown.

[2018-03-14 15:45] richpomfret commented on #404
Shall test on test3.

[2018-03-14 15:46] richpomfret commented on #312
@benwbrum ok to push to live?

[2018-03-14 15:54] richpomfret commented on #355
@PatReynolds to draft 'quick' bit of text in the meantime to include for transcribers once they first login.

[2018-03-14 15:57] richpomfret commented on #408
We shall do a general test and make sure nothing has broken.

[2018-03-14 15:57] richpomfret commented on #306
Ready to test.

[2018-03-14 15:58] richpomfret commented on #68
Now on the site but requires an update.

[2018-03-14 15:59] #68 closed

[2018-03-14 15:59] richpomfret opened #421 "Update Freecen2 Roadmap"
Re: feedback on making it more user friendly.

E 1, U 6, S 7, C7: P21

[2018-03-14 16:01] richpomfret commented on #373
Let's push this to live.

[2018-03-14 16:05] #415 closed

[2018-03-14 16:09] richpomfret commented on #289
Should be ready to test?

[2018-03-14 16:13] #382 closed

[2018-03-14 16:24] #234 closed

[2018-03-14 16:25] Vino-S opened #422 "Create a rake task to fetch users with syndicate as "All counties""

[2018-03-14 17:40] PatReynolds opened #423 "Create text for volunteer landing page"
Volunteer 'landing page' - where they are taken once they've logged in.
Needed by #481
E0 U6 S7 C7: P20

[2018-03-15 10:28] PatReynolds commented on #423
Draft for comment https://docs.google.com/document/d/1C21P0U4xVioaK7ZySKA0aZzNlVuIMhHogkX9gHkJ0WA/edit?usp=sharing

[2018-03-20 10:38] PatReynolds opened #424 "Count Transcribers and Open Data status"
A report for Trustees (and other interested parties) recording (weekly) how many individual transcribers there are on FreeCEN, and how many in each Transcriber Agreement status.

[2018-03-21 11:38] PatReynolds opened #425 "Remove incorrect publisher ID advert"
See FreeCEN taxonomy for errors

[2018-03-21 12:41] richpomfret opened #426 "Add sitemap for FreeCEN2"
Sitemap is very useful for tracking all of our pages (what's active) and user journey flow. Helps to identify 'blocks' and refine user experience. Original request via Denise/Rane

[2018-03-21 15:36] benwbrum commented on #401
More details on this:

We'd like to create an API that duplicates much of the search functionality of FreeREG/FreeCEN., so that client applications can query records in our database and get programmatic responses back.  We'd prefer a REST API which can return responses in JSON.  Sample API client tools would

Sample data dumped from our database is at https://github.com/FreeUKGen/SummerOfCodeImage

[2018-03-21 16:23] PatReynolds commented on #86
Many of these features already brought over from FreeREG. @Vino-S can you list what remains?

[2018-03-21 16:29] PatReynolds commented on #84
@patreynolds to contact Rick Parsons to get rules from current checking systems, and create document for review

[2018-03-23 04:31] LifeArchitect commented on #411
Hi, Im applying for GSoC and am interested in this project. However, I noticed it is not on the ideas page: https://www.freeukgenealogy.org.uk/about/volunteer/tech-volunteering-opportunities/ideas-list/. Where can I get more information about it? Also, what is the format for proposals that you would like? Thanks

[2018-03-23 10:10] PatReynolds commented on #411
Hi @LifeArchitect are you signed up to our slack channel (see link to new tech volunteering form on ideas page).  Apologies, this one was inadvertently removed when adding images to the ideas page - now back.

[2018-03-27 15:06] DeniseColbert opened #427 "Give Denise same level of 'Actions' as per FreeREG"
I don't have the full range of permissions I need in FC2-  e.g. Message System

E2, U6, S7, C9: P24

[2018-04-06 23:08] salonirk11 commented on #411
@benwbrum I would like to take this up. can you please elaborate `presenting the researcher with additional requests for information`. an example of 'additional requests' will be appreciated.

[2018-04-09 14:11] richpomfret commented on #426
Option of creating this within Refinery. To investigate whether there is an easy way of automating this for any new page added (rather than have to manually update it every time a page is added).

[2018-04-09 14:13] richpomfret commented on #426
@DeniseColbert could we also have specific examples of how a sitemap would be used by Rane? This will help when it comes to priority.

[2018-04-11 14:49] PatReynolds opened #428 "Move Status pages to FreeCEN2"

[2018-04-11 14:50] PatReynolds opened #429 "Check links to Volunteering from FC1, and remove"

[2018-04-11 14:52] PatReynolds commented on #365
Brenda still receiving requests to join Scotland.

[2018-04-11 14:54] DeniseColbert commented on #365
![image](https://user-images.githubusercontent.com/19173257/38624673-9c04b9a6-3da0-11e8-90e1-a547c4e8f4fd.png)

[2018-04-11 14:57] richpomfret commented on #423
For us to check the text and approve.

[2018-04-11 15:00] richpomfret commented on #416
Seems to be ok now. On-going task to block such ads.

[2018-04-11 15:01] #416 closed

[2018-04-11 15:02] PatReynolds opened #430 "Add "inappropriate advert?" text"
Add text explaining that if you see an inappropriate advert, contact exdir@

[2018-04-11 15:04] richpomfret commented on #396
@katepeskett these are now fixed (apologies for missing your message). It will be an ongoing task to block any 'bad ads'.

[2018-04-11 15:07] PatReynolds opened #431 "Change 'Checker' to 'Proofreader' everywhere"

[2018-04-11 15:15] richpomfret commented on #410
@benwbrum we may move this back out of the sprint backlog unless you think it will be completed within the next sprint. We're doing a bit of spring cleaning.

[2018-04-11 15:20] richpomfret commented on #293
@Vino-S Unsure whether to keep this in the sprint backlog, what needs to be done next here?

[2018-04-18 10:09] PatReynolds opened #432 "For discussion: use of UCF"
Using UCF would enhance the FreeCEN search, and is not a replacement for the Proofreading and Validating - indeed, a Proofreader might well replace a UCF for ‘I can see a character’ with a UCF for ‘I can see an s or e’.

[2018-04-18 11:27] PatReynolds opened #433 "Emmendation issue?"
A search for Thomas appears to return "Thos" but not "Thos."

[2018-04-19 16:11] PatReynolds opened #434 "Remove non-Adsense/AdExchange adverts from FreeCEN1"
FreeCEN1 is publishing old partners - we don't get any benefit  - adverts are on https://www.freecen.org.uk/UsageInfo.html

E2 U2 S3 C7: P14

[2018-04-23 11:25] DeniseColbert opened #435 "Check-box to include records from people born out of census county"
It would be helpful if a search of birthplace by county could include a tick-box option to include records of people born outside the county.

[2018-04-23 11:27] DeniseColbert opened #436 "Switch name order to First name -> Surname"
I dislike the transposition of surnames and given names in your transcriptions, and the forcing of surnames to uppercase. I would prefer the names to be transcribed exactly as they are written in the original records.

[2018-04-23 11:31] DeniseColbert opened #437 "Preserve method of communicating updates to database"
I notice you are copying the format of your sister site FreeReg so my question/feedback is do you propose to keep the present update information format ie saying which pieces have been added in an update. FreeReg just say XXXX records added and you have to trawl through the list of parishes to find if any new records have been added to the area you are researching which can be very time consuming

[2018-04-23 11:42] DeniseColbert opened #438 "Ability to input family members to narrow down results"
Please add a field where we can fill in family members as well to help us narrow down the search results.

[2018-04-23 11:43] DeniseColbert opened #439 "Census location map"
A map locating the census location would be quite intuitive

[2018-04-23 11:46] DeniseColbert opened #440 "Split the Census County drop-down box"
It would be better to split the drop down box for places into England, Islands, and Scotland and then this brings up a further drop down box for each of the three areas - would save having to scroll through a long list to get to say Invernes. Then when a search is done you could just do an area like England rather than the whole UK, at the present I can't just search Scotland for example.

[2018-04-23 11:59] DeniseColbert opened #441 "Reduce size of / move notification boxes so that text entry boxes aren't covered"
The big chunky pop-downs and notification boxes are annoying, especially when they cover up the text entry boxes . I can't tab over to the next text entry box and start entering data until I dismiss the massive infobox (name searching, etc) which comes up telling me about optional info etc. This is really annoying and reduces my efficiency, making it take about twice as long to enter data than Fre

[2018-04-23 12:01] DeniseColbert opened #442 "Include Validators' manual entry of place name on Freecen2"
I noticed during a recent search on Freecen2 that the POB for a Margaret Gardner In Orwell Kinrossshire 1861 was given as Lanarkshire Moffat. When validating this parish I added a Validator's choice of Dumfriesshire Moffat (the correct county for Moffat). This information appears on Freecen1 correctly. Is there no facility to include Validators' choices on Freecen2?

[2018-04-23 12:03] DeniseColbert commented on #328
A free-text search for addresses has been requested

[2018-04-23 12:15] DeniseColbert opened #443 "Consider offering 'smaller print' option"
I dislike layout and page style (colour, print) and find difficult to read.  (I have dyslexia.)  Found it easier when shrunk page to small print.

[2018-04-23 12:16] DeniseColbert opened #444 "Ability to search on plus/minus an age/dob"
Helpful filters have been removed (occupation, age, sex). The opportunity to search on plus/minus an age/dob more useful than the current format, as it made searching quickly between census years or where age doubtful (narrowing and widening a search).

[2018-04-23 12:17] DeniseColbert opened #445 "Explain what has driven change from FC1 to FC2"
Would be helpful had there been an explanation as to what was driving the need to change and to this format.

Needs #550

[2018-04-23 12:24] DeniseColbert opened #446 "Ability to sort results"
Is it possible to sort the results, perhaps by forename or other column? For example to list all the Ann Smiths together, which might include open a search of information about possible individuals who hadn’t previously come to your attention.

[2018-04-23 12:26] DeniseColbert opened #447 "Allow searching by place"
I used to be able to search for Ashburton entries for 1891, but this does not seem to be possible now. Putting in just Devon brings up too many results.

[2018-04-23 12:34] DeniseColbert opened #448 "Make searching London (etc) easier"
Has 'London (city)' but it's not clear what to tick if it's 'Greater London' or 'London Metropolitain Districts' (or similar) - I did a test of someone from the 1860s who lived in London but even without selecting a location, they weren't found - if that's because these have yet to be transcribed, that's fine, but it would be helpful to know which areas are not yet on the system.

Also Manchester,

[2018-04-23 12:34] DeniseColbert commented on #448
(Have replied pointing out Database Coverage link is in the text when no results are found)

[2018-04-23 12:38] DeniseColbert opened #449 "Variants for forename and surname"
Might be better to have name variants selectable for both first and last name.

[2018-04-23 12:39] DeniseColbert opened #450 ""Aylsham" is not listed as an area for the census search."

[2018-04-23 12:53] DeniseColbert opened #451 "Reduce space between results"
Results are too wide for easy copy and paste - needs editing to fit on page when copied - that is the only downside to it that I can see.

[2018-04-23 12:56] DeniseColbert opened #452 "Change display sequence for census data"
Change display sequence for census data such that it matches that of the citation reference Class/Piece/Schedule etc.

[2018-04-23 13:00] DeniseColbert opened #453 "Keyword search"
This has been suggested a few times, but not sure if this would be covered by the story for occupation search?

[2018-04-23 13:03] DeniseColbert opened #454 "Make it clearer when no results found, that we haven't transcribed all records"
Many comments implying this info is being missed - consider stating in bold that our database isn't complete.

[2018-04-23 13:05] DeniseColbert opened #455 "Review column widths and fix table headers"
The Census Year column is too wide so that the census district has to wrap around.  Also the table column headings should be fixed and only the contents of the table do the scrolling.

[2018-04-23 13:07] DeniseColbert opened #456 "Advert feedback"
You have two advertisements on the one page.  The one above the results table is very large and causes the result to go off the bottom of my screen.
E0 U3 S7 C7: P17

[2018-04-23 13:15] DeniseColbert opened #457 "Check-box added to viewed section"
I wonder whether a button/tick box could be added to the 'Viewed' section of the table so I could confirm/remember which was the correct (or wrong) 'Charles Palmer'. This could work like a 'Saved search' function and would help when coming back to a search at a different time.

[2018-04-23 13:29] DeniseColbert commented on #333
Site looks good from my initial searches. However it seems incongruous that on the search request screen the surname precedes the first name yet on the next screen "you searched ..." they appear reversed.

[2018-04-23 13:31] DeniseColbert opened #458 "Review Too Many Results text"
"Search result :
""Too many search results
Please refine (narrow down) your search.
Your 250 results exceeds our display limit of 250 to avoid overloading your device with too much information at one time.""
So ....... 250 is bigger than ..... 250?
"

[2018-04-23 13:59] DeniseColbert opened #459 "Include place of census (sub-district) search using standardised places (e.g. from GENUKI)"
EG "I used to be able to search for Ashburton entries for 1891, but this does not seem to be possible now. Putting in just Devon brings up too many results."

Proposed way this would work
a) use a high level variant of place name in Pelagios (level of the Census Sub-District) in the drop down list, but do not put years in, as linked open data will be used to identify the districts to be searched -

[2018-04-23 14:07] #447 closed

[2018-04-23 14:11] PatReynolds commented on #456
May be a problem on small screens - are we correctly optimised for these?

[2018-04-23 14:13] PatReynolds opened #460 "Fix table column headings"
The table column headings should be fixed and only the contents of the table do the scrolling.

[2018-04-23 14:31] PatReynolds commented on #444
Not needed - age range search already available.

[2018-04-23 14:32] #444 closed

[2018-04-23 14:33] #443 closed

[2018-04-23 14:39] #451 closed

[2018-04-23 14:41] PatReynolds commented on #450
Is Aylsham a census district, if so, needs to be added.  If Aylsham is just a place, then story #459 covers this.

[2018-04-23 14:44] PatReynolds commented on #448
I've said 'minor enhancement', but it isn't minor, just a good one to sort sooner rather than in 1.4.  Also cf #459

[2018-04-23 14:46] PatReynolds commented on #446
Need to add instructions above the blue "i" that clicking will sort the results.

[2018-04-24 09:46] DeniseColbert opened #461 "Extra column to aid identification of correct ancestor on search results table"
If occupation was given in the table it could help narrow down results and save clicking many red herrings

[2018-04-24 09:47] DeniseColbert commented on #328
We have huge numbers of requests for this.

[2018-04-24 10:33] DeniseColbert opened #462 "Possible Shaftesbury / Weymouth error"
If I search for Sarah Voss born Dorset in Dorset in FreeCEN2, household in 1841 says place=Shaftesbury but when you open it, civil parish is Weymouth - is that really right? Although the search on FreeCEN1 has Shaftesbury when you Show Household, it says Weymouth on the index result placing the emphasis on Weymouth which is more helpful.

[2018-04-24 11:00] DeniseColbert opened #463 "Lancashire doesn't show in some Database Coverage tables"
Shows in 1841 table as 'zero'
Not present at all in 1851, 1871, 1881
No explanation on page why some counties show as zero in some censuses and are not listed at in others.

[2018-04-24 11:17] FreecenBren commented on #462
Hi Denise,
Your answer is in the details for the Piece number HO107295.
Look at the National Archives at this link

*Piece:* HO107/295/16 *Place:* Shaftesbury -Dorset *Enumeration District:* 4
*Civil Parish:* Weymouth *Ecclesiastical Parish:* Melcombe Regis
*Folio:* 16 *Page:* 25
*Address:* Melcombe Regis East Street

http://discovery.nationalarchives.gov.uk/details/r/C3761028

Then look at the St

[2018-04-24 11:25] DeniseColbert opened #464 "Print facility issue on IE"
Frustrated with print from within internet explorer of a census record, excess line spacing carriage returns

[2018-04-24 11:29] #464 closed

[2018-04-24 11:36] DeniseColbert opened #465 "Ability to search without inputting county"
I find freecen 2 great if you can actually state the actual area, rather awkward if you don't know a certain county

E2 U3 S5 =???P18 based on estaate of 3

[2018-04-24 14:03] DeniseColbert commented on #390
I consider that the page where one inputs one's search parameters is far too spread out. It would be far easier to use if it was condensed so that there was not so much space between the various sections.

[2018-04-24 14:05] DeniseColbert commented on #333
It would also be easier to use if the name input section followed the example of the majority of other similar sites and one entered fore-name followed by family-name.  Your converse way of entering the names caught me out several times.

[2018-04-24 14:06] DeniseColbert opened #466 "Ability to search by village"
I find it difficult to search when the village in which the census took place does not show.  For instance, Shebbear is shown but the village is Beaford.  I would prefer to see Beaford if both can't be shown.

[2018-04-24 14:25] DeniseColbert opened #467 "Ability to select birth country instead of county"
I have found that trying to find where in Ireland people have come from difficult as we now don't always where they came from, Could there be a selection of just "Ireland" to use along with a family name, Thank you

[2018-04-24 14:34] DeniseColbert opened #468 "Add Mac info for multiple selection in drop-downs"
CTRL for Windows, CMD for Mac

[2018-04-24 14:43] DeniseColbert opened #469 "Walton Dale should be Walton le Dale"
I have just tried searching based on a location: Walton-le-Dale in Lancashire, the search engine options appear to list this location as Walton Dale. Perhaps this may contribute towards  failed searches?

[2018-04-24 14:57] DeniseColbert opened #470 "Revise search defaults should keep search counties selected"
Economic 2, Urgency 4, strategic 8, Cost ?7: Priority = 21

[2018-04-24 16:02] AlOneill commented on #460
Not sure 'minor enhancement' is apt: fixed headers are currently **not possible natively** in HTML/CSS. The necessary finagling is tricky to make responsive and accessible: outcome may not be visually acceptable.

[2018-04-24 20:33] DeniseColbert commented on #329
I think this has been done?

![image](https://user-images.githubusercontent.com/19173257/39212624-2617246a-4807-11e8-97eb-a9ba6655c0d6.png)

[2018-04-24 20:53] DeniseColbert commented on #458
Duplicate of #332 ?

[2018-04-25 10:03] DeniseColbert opened #471 "PARMS issue - Bideford"
From Brenda:

We have completed Bideford in 1841, 1851, 1861, 1891 censuses

If you look on the search and select Devon then look on the list of places, Bideford only shows for 1861 and 1891 Census.

This is all PARMS connected

If you search for say 1841 Census and select Place: Bideford you get this message:

Place: Bideford -DEV (1861/1891) incompatible with year 1841
Please correct the above e

[2018-04-25 14:19] AlOneill commented on #329
Note that page is not fully accessible — the tooltip information and the title attribute on the detail button will not be seen by those who can't use a pointing device.

For all users, there is no explanation of what clicking on a column heading would achieve.

[2018-04-25 14:38] benwbrum commented on #289
Yes it should be ready for testing.

[2018-04-25 14:38] Vino-S commented on #399
Added to code in test2 for testing

[2018-04-25 14:49] benwbrum commented on #385
We think this has been resolved, and will re-open if it comes up again.

[2018-04-25 14:49] #385 closed

[2018-04-25 14:54] benwbrum commented on #245
@AlOneill says 'no'.

[2018-04-25 15:03] benwbrum commented on #410
This work has been completed in `master` for FreeREG, and should be plucked over once it has been tested there.

Likely, we will want to address the SEO-related issues as well before deploying or announcing this, since we need to remove our dependency on having the `search_query_id` around on the server.  (That parameter is used to let users navigate from one record of their search results to anot

[2018-05-02 10:23] FreeUKGenIssues opened #472 "105102717 Amended search cause fail (Mark Young)"
Issue reported by **Mark Young** at 2018-05-01 11:11:57 UTC
Time: 2018-05-01T11:08:57+00:00
Session ID: 923f0a1ee7b6c682471bda5e5c692bf1
Problem Page URL: []()
Previous Page URL: [https://freecen2.freecen.org.uk/contacts/new](https://freecen2.freecen.org.uk/contacts/new)
Reported Issue:
About 75% of the time I try to do a search on your Freecen2 site I get this meassge:

"We encountered a problem

[2018-05-02 10:26] DeniseColbert commented on #472
Have asked for more info on device, OS and browser.

[2018-05-03 09:38] DeniseColbert commented on #472
I am running Windows 10 Home with all latest updates on a desktop PC. Accessing the site through Chrome Version 66.0.3359.139 (Official Build) (64-bit).

[2018-05-06 03:48] mattkse commented on #429
What does this mean, remove any volunteering links?

[2018-05-06 08:39] FreecenBren commented on #429
I have not seen this one before.
I do however feel that who ever set it up that it should be modified.

It should say change the link on FC1  to connect with the FC2 volunteer link.
We do not want to lose volunteers from FC1 but transfer them to FC2 link instead.

Brenda

Sent from Mail for Windows 10

From: mattkse
Sent: 06 May 2018 04:48
To: FreeUKGen/FreeCENMigration
Cc: Subscribed
Subject: Re:

[2018-05-07 17:42] FreecenBren commented on #336
This Option is in FC1

[2018-05-08 12:06] DeniseColbert commented on #336
This is a suggestion for FC2

[2018-05-09 10:47] DeniseColbert commented on #403
https://www.freeukgenealogy.org.uk/files/Documents/Privacy-Notice.pdf

[2018-05-09 14:43] richpomfret commented on #365
Looks like Sussex is still there.

[2018-05-09 14:52] benwbrum commented on #312
I've verified this on `test2` and it works.

[2018-05-09 14:58] richpomfret commented on #221
@PatReynolds can you clarify if this is now needed as part of our imminent GDPR changes? I'll investigate in the meantime..

[2018-05-11 01:49] mattkse commented on #429
OK, but what are FC1 and FC2?

[2018-05-11 07:04] FreecenBren commented on #429
FC1 = FreeCEN One
FC2 = FreeCEN Two

I have also added somewhere to this that I prefer that the links for volunteering on FreeCEN One should NOT be removed but should be LINKED to the FreeCEN Two volunteering page.
That way they get re-directed to FreeCEN TWO, and can then volunteer from  there.

Sent from Mail for Windows 10

From: mattkse
Sent: 11 May 2018 02:49
To: FreeUKGen/FreeCENMigration
Cc

[2018-05-13 17:01] PatReynolds commented on #429
Hi Scott,  Can you identify where on FC1 there are links to click to volunteer.  Do they all point to FC2?  Do any still point to individual coords?  Or elsewhere?  Let me know - we need them to point to FC2 where that makes sense, or re-write the FC1 text if it doesn't.

[2018-05-18 15:44] smrr723 commented on #371
Is this just a case of adding a direct link to our updated Privacy Notice as with FreeREG here - https://github.com/FreeUKGen/MyopicVicar/issues/1383 ?

[2018-05-20 19:26] mattkse commented on #346
I cannot reproduce this.  Can you be more specific about how this happens?

[2018-05-20 19:28] mattkse commented on #254
Can you be more specific about what you mean by "database coverage page" and how one navigates to it?

[2018-05-20 19:33] mattkse commented on #339
I cannot reproduce this.  Can you be more specific about where this happens?

[2018-05-21 00:10] smrr723 commented on #339
I don't think there's an actual dropdown anywhere on FreeCEN?  I can't see one, so I suspect this is autofill form data that the browser saves and pre-populates - making this a browser issue. Can you confirm @Vino-S ?

[2018-05-21 14:03] sudaraka94 opened #473 "When querying without a surname in FreeCEN2 it gives an error without showing validation errors"

[2018-05-21 14:18] richpomfret commented on #471
Duplicate so closing.

[2018-05-21 14:18] #471 closed

[2018-05-21 14:26] richpomfret commented on #466
Again, linked to places change/feature.

[2018-05-21 14:30] richpomfret commented on #465
@DeniseColbert can we have more info? We can get it to work with 'all counties' selected, so unsure what they were doing to create the issue.

[2018-05-21 14:31] richpomfret commented on #463
Closing as a non-issue.

[2018-05-21 14:31] #463 closed

[2018-05-21 14:35] richpomfret commented on #462
@DeniseColbert I don't think there is any action here on our part. However, we can use this as an example in documentation in order to help clarify places/locations over time (maps will help with this).

[2018-05-21 14:35] #462 closed

[2018-05-21 14:37] richpomfret commented on #461
Already planned.

[2018-05-21 14:37] #461 closed

[2018-05-21 14:39] richpomfret commented on #453
@DeniseColbert can we keep a log of the key words people are using or wish to use? If only occupation then yes, but no doubt other key words are coming up too.

[2018-05-21 14:39] #450 closed

[2018-05-21 14:43] richpomfret commented on #449
Presume this refers to option to select first/last names on soundex.

[2018-05-21 14:45] richpomfret commented on #433
Fullstop if used, is not being picked up in the emmendation.

[2018-05-22 16:03] PatReynolds opened #474 "Update Transcriber registration page"
Replace "we will not share them with any outside organisation." with "Please read our Privacy Notice for information on how we will protect and use your data.".

[2018-05-23 10:16] richpomfret opened #475 "IP Anonymization in Google Analytics"
Not nessary for 25th - as we updating the cookies to include this just in case. However, as part of GDPR, we should implement IP Anonymization in Google Analytics. This will remove any identifying user info and enable us to include analytics cookies as part of our essential cookies.

[2018-05-23 10:16] richpomfret opened #476 "Do we collect any Personally Identifiable Information (PII)?"
To check to see if we do this at all with analytics. A common example of PII data collection is when a user information is being captured in a page URL that contains an “email= querystring” parameter. For example, it can happen on a thank-you page. Ensure that no PII is being collected and sent to Google Analytics.

[2018-05-23 14:25] richpomfret commented on #419
@Vino-S can you check the fix for this over the next sprint and establish why it is still happening?

[2018-05-23 14:27] richpomfret commented on #399
Tested and fixed on test2. Please do push to live.

[2018-05-23 14:28] richpomfret commented on #408
Tested and no major issues. Please push to Live if this hasn't already been done.

[2018-05-23 14:29] richpomfret commented on #306
Should be pushed to live once the merge is completed.

[2018-05-23 14:42] PatReynolds commented on #289
Can the initial problem be replicated?

[2018-05-23 14:43] richpomfret commented on #419
@FreecenBren please recheck as this may now be fixed.

[2018-05-23 14:44] richpomfret commented on #365
Now ready for testing.

[2018-05-23 14:46] #399 closed

[2018-05-23 14:47] #312 closed

[2018-05-23 15:07] PatReynolds commented on #475
Needed for users to be able to select 'no' to sending data to advertisers (but still getting non-personal adverts)

[2018-05-23 15:42] PatReynolds opened #477 "RSS Blog Icon points to wrong URL"
results from change of 'blog' to 'news'

[2018-05-24 16:36] richpomfret opened #478 "Experiment with Adsense Auto Ads?"
Google auto-optimisation option for better results: https://support.google.com/adsense/answer/7478040?hl=en

[2018-06-01 13:09] smrr723 commented on #386
Hi @PatReynolds - could you send me an email with the email address in question, so that I can check if it does actually exist on the system or not? Thanks.

[2018-06-04 14:08] richpomfret commented on #478
We won't use this as may place adverts in 'bad' places for users.

[2018-06-04 14:08] #478 closed

[2018-06-04 14:14] richpomfret commented on #465
Discussed adding in a drop-down list of places which include cities e.g. Liverpool, London (and so on). To be reviewed as part of our work on Places.

[2018-06-04 14:15] PatReynolds commented on #465
cf #459

[2018-06-05 11:33] DeniseColbert opened #479 "Comms Coord receives FreeCEN update reports"

[2018-06-06 10:19] Vino-S commented on #473
updated the code in test2

[2018-06-06 10:19] Vino-S commented on #422
updated the code in test2

[2018-06-06 11:08] Vino-S commented on #407
Created a button in Syndicate Coordinators action to download list of Syndicate coordinators in CSV format. The button is located at the bottom of the page.
 Ready for testing in test2

[2018-06-06 11:20] richpomfret commented on #425
Sent to Scott & Vino.

[2018-06-06 14:34] benwbrum commented on #410
An example of a friendly URL for FreeREG:
`http://localhost:3000/search_records/58ea2b94a020dd02bffac8ec/john-whittle-burial-staffordshire-wolstanton-1637-03-10?search_id=5b17f0a8a020dd665730cbff&ucf=false`
and
`http://localhost:3000/search_records/58ea2b94a020dd02bffac8ec/john-whittle-burial-staffordshire-wolstanton-1637-03-10`

[2018-06-06 14:44] richpomfret commented on #407
@FreecenBren please take a look if you get a chance.

[2018-06-06 14:47] richpomfret commented on #432
@FreecenBren what do you think?

[2018-06-06 14:58] richpomfret commented on #410
Fine for FC (and FreeBMD) - may be an issue on FR for baptisms.

[2018-06-06 15:06] richpomfret commented on #425
Important to know that we do have 2 publisher IDs - one for trading and one for us as a charity.

[2018-06-07 14:13] smrr723 commented on #425
ca-pub-7825403497160061 shows on the volunteering opportunities and transcriber registration page. Do we want to replace this with ads from ca-pub-5379635334920389 which appears to be the correct one?

If so, we will need a new ad unit set up in our ..89 adsense account - unit should be 336x280px size according to the taxonomy doc.

[2018-06-07 14:45] PatReynolds opened #480 "Revise FreeCEN1 homepage"
Currently:
County Projects

County sub-projects
Donating transcripts
About Volunteering

Retitle: Helping out
Link  "County Projects"as first line below  to https://www.freecen.org.uk/project.htm
The 'donating transcriptions' link needs linking to 'https://www.freeukgenealogy.org.uk/about/opendata/open-data-for-donors/
Volunteering needs linking to https://freecen2.freecen.org.uk/cms/opportunities

[2018-06-07 14:46] PatReynolds opened #481 "Remove 'volunteering' and 'registration' pages from FreeCEN1"
Remove Brenda's email address as well as the these pages.

[2018-06-07 14:51] PatReynolds opened #482 "Remove email links from https://www.freecen.org.uk/project.htm"
also add a link to the freecen2 volunteer sign up.

[2018-06-07 14:54] PatReynolds opened #483 "Add link from https://freecen2.freecen.org.uk/userid_details/transcriber_registration? to https://www.freecen.org.uk/project.htm from"
add after "Begin with the documents linked in the form. If you have any questions about the documents or about transcribing, please contact us (link opens in new tab)" the following text and link:
"If you are interested in transcribing from a particular county, please check the availability of records here [link] (opens in a new tab)." - nb the link should open in a new tab.

[2018-06-13 08:25] DeniseColbert opened #484 "Add volunteer policy to sign up"
https://docs.google.com/document/d/1U4t9tkB34CbFR7CPx6gQ2qbvzbiGGu5tDv-Njsz1BwQ/edit?usp=sharing

[2018-06-13 08:31] DeniseColbert commented on #453
We have a log, off the top of my head it's things like names of other possible household members; "visitor"; "blind" etc.

[2018-06-18 14:23] richpomfret commented on #482
To avoid people going straight to co-ordinators & email addresses being disclosed.

[2018-06-18 14:32] PatReynolds commented on #479
Available on FC1 - what else does Chris need?

[2018-06-19 12:48] DeniseColbert opened #485 "Change scotland syndicate coord from Rena to Brenda"
New volunteers' who choose Scotland - email goes to Brenda

[2018-06-20 14:30] richpomfret commented on #404
Tested on TEST2 and working fine. :)

[2018-06-20 14:40] #404 closed

[2018-06-20 14:42] richpomfret commented on #408
Part of a wider discussion on merging between FC and FR.

[2018-06-20 14:43] #408 closed

[2018-06-20 14:44] richpomfret commented on #118
For Brenda/Pat & myself (if possible) to test and check.

[2018-06-20 14:45] richpomfret commented on #473
@sudaraka94 can you test this for us? :)

[2018-06-20 14:52] richpomfret commented on #403
Ready to be moved onto TEST2.

[2018-06-20 14:53] richpomfret commented on #394
Helen is currently workin on this.

[2018-06-20 14:59] richpomfret commented on #425
On hold until Kate provides info for us. @PatReynolds  to chase.

[2018-06-20 15:01] richpomfret commented on #410
@benwbrum did you get a chance to do this?

[2018-06-20 15:17] #270 closed

[2018-06-20 15:18] DeniseColbert commented on #270
This was about changing the transcriber sign-up link on FUG from FC1 to FC2 (completed months ago).

[2018-06-20 16:18] PatReynolds opened #486 "Contact Brian Mc. re transcribing from Family Search"
sendpermission from National Archives

[2018-06-21 13:06] PatReynolds opened #487 "Make occupations TWYS / with auto expansion"
Early censuses used a number of standard abbreviations for occupations, which were sometimes also used in later censuses.  For discussion: move to twys, with auto-expansion.  E.g. enumerator wrote FS, transcriber types FS, displays as FS [i.e. female servant].

[2018-06-21 13:41] PatReynolds opened #488 "Continue use of Chapman Code?"
Can Field T be changed to TWYS? I.e. can FC2 cope with the text as entered by the enumerator?

[2018-06-21 13:48] PatReynolds opened #489 "Overseas place of birth policy"
For discussion (to be read in conjunction with current instructions): abbreviate all as OVF?  Continue OVB? TWYS (search using emendation list so Gibraltar finds Gib., USA finds United States of America, etc.?  a reason for abandoning OVB: https://en.wikipedia.org/wiki/History_of_British_nationality_law#Early_English_and_British_nationality_law shows it is very difficult to judge whether someone i

[2018-06-21 14:17] PatReynolds opened #490 "Place of Birth: specify ordering?"
E.g. specify that a place written Portishead Bristol should be transcribed as Bristol, Portishead - or that ordered name should go in the 'normalised' place name field?

E0 U6 S6 C7: P19

[2018-06-21 16:10] FreecenBren commented on #490
Not quite sure about this example.
Portishead is in Somerset. It is about 10 miles from Bristol on the coast.
Bristol does not have a CHP as Bristol is a town and also in Somerset (Som)
Census state a County and a POB.
Can you clarify please.

Example:

We could use say instead as an example, Clifton, Bristol  as Clifton is a
Parish of Bristol.
The  POB can be either SOM or GLS as the Chapman code

[2018-06-21 16:13] PatReynolds commented on #490
Thanks, Brenda, a better example!

[2018-06-21 17:35] FreecenBren commented on #489
We also have to take into account that some enumerators do actually enumerate entries as British Subject irrespective of where they were born.

We also get “Naturalised British Subject” as well, and they could have been anywhere in the world, Timbuctoo’ for example.

So not all those that say they were born in France, USA, Germany etc., are given an OVF as the Chapman Code, if the enumerator has a

[2018-06-21 17:55] AlOneill commented on #489
Yes, irrespective of the quality of the information, we still need a clear way to indicate that the person has been described as British, in addition to just stating their place of birth. Doing genealogy involves all kinds of judgement calls by the researcher.

[2018-06-21 20:08] AlOneill commented on #488
I does not look like a trivial change as places described by CHP codes were spelt or abbreviated in inventive ways by some enumerators. Some counties in SCT and IRL had more than one name in use: the recorded name is currently entered in the Notes field if it is not obvious from the CHP.

And validation of a file would fail if the TWYS version is unknown to the process. Could not be applied retros

[2018-06-23 14:55] Captainkirkdawson opened #491 "Search crashes"
There are approximately 100 crashes per day of the FR2 search app
ActionController::UrlGenerationError
SearchQueriesController#create
23 Jun 2018, 08:40
Error message
ActionController::UrlGenerationError: No route matches {:action=>"show", :controller=>"search_queries", :id=>nil} missing required keys: [:id]

Error details
Filed tickets
Stack trace[Show framework code]
ActionController::UrlGenerat

[2018-06-25 15:24] PatReynolds commented on #140
Nb  no real field length restriction

[2018-06-25 15:40] PatReynolds opened #492 "Parms can be used"
PARMS files contain metadata on (cencus) places and pieces. This is used as an authority file - giving the places to be searched - and for validation of data entered.
needs #195
needs #203

Ecomomic 0, urgency 6, strategy 6, cost 5: P19

[2018-06-27 10:05] smrr723 commented on #485
That's all of Rena's syndicates in Scotland changed to Brenda now, but I noticed the "Accepting Transcribers" field is set to false for all of them.  Should this be set to true @DeniseColbert ?

[2018-06-27 10:17] DeniseColbert commented on #485
No, we have no images to transcribe for Scotland so it should be set to false. I think there was some cross-over with volunteers choosing Scotland and the emails being sent to Rena, before the Scottish syndicates were set to false. Should be fixed now, cheers Scott :)

[2018-06-27 12:48] AlOneill commented on #485
This strikes me as back to front! As there are no images for SCT, then surely the logical response is to set all the 'Accepting transcribers' fields to false, **not** to change the name of the Coord. As it happens, I believe Rena is stepping down as SCT Coord, but that is not the point here.

[2018-06-27 13:34] FreecenBren commented on #485
I changed Margaret Singletons role to Scotland Syndicate Role at Rena’s
suggestion and request the other day.
It is still that way at the moment as I have just looked?

Not sure what else to change as Dougs names is still associated with a
Country Syndicates list?
Should I alter them as well?

Not amended anything else so confused even more now!

On Wed, 27 Jun 2018 at 13:48, AlOneill <notificatio

[2018-06-27 14:47] DeniseColbert commented on #485
I think Brenda and I had our wires crossed, have emailed her for more info.

[2018-06-29 07:37] PatReynolds commented on #419
As a temporary fix, I have changed Doug's email addresses.  He does not appear to be on live.  He is on in several roles in test2, that should now be allocated to their proper persons.

[2018-06-29 08:45] FreecenBren commented on #419
I have tried to change both Country Coordinators and Manage Countries from Doug to myself for England & Wales, and Margaret for Scotland but it comes up each time as an error.

Tried in Test 2 and then in FC2 both the same error message.
We're sorry, but something went wrong with processing your request.
A report has been produced and sent to the webmaster.
Please return to your prior activity but

[2018-06-30 15:09] Captainkirkdawson opened #493 "Add CEN to ERRBIT"
There are no reports from CEN system crashes on ERRBIT

[2018-07-02 14:07] richpomfret opened #494 "Review FreeCEN2 analytics"
Since the gdpr cookie change, we've seen a daily spike in users. This may be as a result of the changes we made rather than actual users (but hopefully not!). The same applies on FR.

[2018-07-02 14:11] richpomfret commented on #493
Looking into this. We think Vino may have this fixed - which means we should see error reports coming through IF there is a crash. Need to check.

[2018-07-02 14:13] richpomfret commented on #479
@DeniseColbert can you clarify requirements for this one?

[2018-07-04 14:15] richpomfret commented on #275
A pass has now been completed, therefore closing this. Separate stories are being created to cover the specific tasks for this.

[2018-07-04 14:17] richpomfret opened #495 "FC1 Cookie banner & on/off consent"
We need to implement the functionality and user options (as per FreeBMD). This therefore gives users a way of consenting to third party cookies e.g. personalised advertising and analytics. 'On/Off' switches therefore needed on the cookie policy page next to their respective types.

[2018-07-04 14:19] richpomfret opened #496 "FC2 Cookie Policy & consent update"
Update needed to the cookie policy page on FC2 - includes on/off options for personalised adverts and analytics. To mirror functionality on FreeBMD.

[2018-07-04 14:19] #275 closed

[2018-07-04 14:30] smrr723 commented on #474
Ready for push to test2.

[2018-07-04 14:30] DeniseColbert commented on #479
Am waiting to hear from Chris.

[2018-07-04 14:43] richpomfret commented on #289
@PatReynolds  to try and replicate.

[2018-07-04 14:45] richpomfret commented on #419
@Vino-S to investigate this - perhaps to change so Doug is no longer on here.

[2018-07-04 14:46] smrr723 commented on #386
So the .co.uk email address for the user already existed in the system which is why you got the error - so probably not an issue here, but will test with another user just to make sure.

[2018-07-04 14:48] richpomfret commented on #118
Tested and now on production.

[2018-07-04 14:48] #118 closed

[2018-07-04 14:51] richpomfret commented on #422
List now with Pat.

[2018-07-04 14:51] #422 closed

[2018-07-04 14:54] richpomfret commented on #485
Done and closing.

[2018-07-04 14:54] #485 closed

[2018-07-04 14:58] richpomfret commented on #387
Vino to assist Sudaraka with information on how the database is structured (afte receiving relevent models).

[2018-07-04 15:02] smrr723 commented on #386
Tested this with a test userid and the email update works with no errors.

Issue can be closed.

[2018-07-08 15:33] PatReynolds opened #497 "FreeCEN1 progress graphs colours are unreadable"
Eg https://www.freecen.org.uk/statgraphs/1841-BAN-ind.gif

Economic 0, Urgency 2, Strategy 5, Cost ?7: P=14

[2018-07-08 15:35] PatReynolds commented on #497
![image](https://user-images.githubusercontent.com/6338822/42421400-db8a8788-82cc-11e8-9ccd-20e78c04d631.png)

[2018-07-08 16:31] smrr723 commented on #477
On test2 now.

[2018-07-08 16:32] smrr723 commented on #403
On test2.

[2018-07-09 08:55] PatReynolds opened #498 "Improve help for use of records from shipping"
e.g. what does Glasgow (Aberdeen) mean?  And what can you do with that information.

[2018-07-11 10:35] PatReynolds commented on #289
Thos  does not find Thomas, Thomas find Thos (i.e. working correctly).  David does not find Dave on FC2 (working correctly).  David does not find Dave on FC1.
Therefore: is this a request to expand the emmendation list to include abbreviations such as Tommy, Dick and Harry, or  can it be closed, @FreecenBren ?

[2018-07-11 11:02] PatReynolds commented on #488
Possibly remove OVB except for where person is stated to be British?  Possibly remove OVB except for where country is known to be a British colony/dominion at the time of birth - or leave this for a Validation task?

[2018-07-11 11:41] FreecenBren commented on #488
I would say that 90%+ of OVB are transcribed because the Enumerator added
the words British Subject.
Therefore the Transcriber would transcribe it AS IS.

The remainder would/should be picked up by the Validator.
Removing the OVB option would go against what we tell them to Transcribe AS
IS.
Leave it for the Validation Process is my preference.

On Wed, 11 Jul 2018 at 12:02, PatReynolds <notificat

[2018-07-11 11:51] FreecenBren commented on #289
The example Dave is a difficult one as I have no recollection of having
seen Dave, always David.
That does not mean there was none.
I think possibly Dave is more a 20th Centuary variation.
I just did a search on FC2 with the name Dave Smith  and nothing else
selected, and from 30 million plus records it found 3.

We could possibly end up with so many emendations and not many found anyway.
Incident

[2018-07-11 12:43] DeniseColbert commented on #479
Chris would like to cut out the middle man I think, as he currently has to trouble Brenda for info. Is there something that Brenda gets that can also be sent to Chris?

[2018-07-11 12:54] PatReynolds commented on #479
Brenda says all the info is on FC1.

[2018-07-11 13:38] FreecenBren commented on #479
I only look at the FC1 STATS pages. Nothing is sent I just go online.

1. FC1 Project Page gives you the date of the latest upload.
https://www.freecen.org.uk/

It also gives you links to the following

2. Stats gives you the new total that is Online, also by Census Year and
each County and the new %.

https://www.freecen.org.uk/statistics.html

3. Recent additions gives you the list of new Pieces

[2018-07-16 14:08] PatReynolds opened #499 "Passwords not being sent / won't reset"
Brenda has 5 new people in 5 days having issues.  She will send problem email to Vino

[2018-07-16 14:11] PatReynolds commented on #498
Pat to also look at E+W shipping example to see if issue is limited to Scotland

[2018-07-16 14:22] PatReynolds commented on #497
Problem still on chrome/windows.  Ipad is fine.  Page is transparent - an effect of the chrome theme.

Update text on FC1 "if graphs do not display well, please use a different browser, or use FC2 [link]"

[2018-07-18 14:45] richpomfret commented on #289
Closing - a separate story will be created for this type of new search as suggested by Brenda.

[2018-07-18 14:45] #289 closed

[2018-07-18 14:46] PatReynolds opened #500 "Research user need/demand for handling nick names in searches"
See #289 for earlier discussion

[2018-07-18 14:52] richpomfret commented on #387
@sudaraka94 can we now test this on test3 or 2?

[2018-07-18 15:00] richpomfret commented on #419
@FreecenBren to test.

[2018-07-19 11:58] PatReynolds opened #501 "Is it possible to use watermarks to identify Sources?"
EG to see which came from S+N, LDS etc.

[2018-07-23 15:21] sudaraka94 commented on #387
I got the information on how to deploy it on test2 or 3 . I am preparing my implementation to be deployed.

[2018-07-23 16:59] smrr723 commented on #474
Now in production.

[2018-07-23 16:59] smrr723 commented on #477
Now in production.

[2018-07-23 16:59] smrr723 commented on #403
Now in production.

[2018-07-24 11:22] smrr723 commented on #424
Deployed to production.

[2018-07-24 12:54] smrr723 commented on #425
Deployed to production with latest Adsense ID code - ads are now appearing at https://freecen2.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen

@PatReynolds - the ad on the transcriber registration page is a different size to the page above.  Could you create another ad unit in Adsense please, this time being 728px x 90px ?  Thanks!

[2018-07-24 16:45] PatReynolds commented on #425
Something odd is happening ... I can't see advert number 9555045725 (or advert name  FreeCEN2 Volunteering opportunities in my adsense account now - others also seem to be missing).

None of the FreeCEN2 adverts should be a specified size - they are all responsive.

could you grab the ad names and numbers on FreeCEN2 for me please - I don't see where they are when I view source code.

[2018-07-24 18:14] smrr723 commented on #499
Just an update & note to myself as I work on this - the issue only appears for certain users.  My test user (Transcriber, Technical) was able to reset the password when I changed it to Yorkshire, System Admin.

Still trying to identify the root cause.

[2018-07-24 18:51] smrr723 commented on #425
Hm, odd.  I could have a look if you'd like but I'd need access.

Regarding the responsiveness of our ad units, I tested creating an ad unit in my own account and got the following snippet when creating a responsive ad:

`<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>`
`
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-26530178

[2018-07-25 08:14] PatReynolds commented on #425
Have given you access.  Will send screen shot of what I see.

[2018-07-25 09:05] smrr723 commented on #425
Thanks - it's showing fine for me in the control panel.  I'll test one of our responsive ad units in place of the code you gave me, and see how it responds.

[2018-07-25 21:59] smrr723 commented on #499
Should be resolved now but can someone else also give the system a whirl and test it?

The error was caused by someone deleting the CENManager account for some reason... Culprit still to be identified.  I've set up a new account with that ID - need to know what email you want it to go to @FreecenBren - this is the new registration emails.

[2018-07-25 23:21] FreecenBren commented on #499
New registrations should go to the County COORD if the new volunteer has entered a choice of County.

Those that do not give their choice or select ‘ANY’ are sent to myself.

From: Scott Murray <notifications@github.com>
Sent: 25 July 2018 23:00
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: Brenda <bowbren2@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [F

[2018-07-26 08:04] PatReynolds commented on #499
Just tested by signing up for Somerset (and let Geoff know why).

[2018-07-26 08:20] smrr723 commented on #499
Great. That seems to work - I got the mail sent to Geoff (since CENManager is CC'd).  So I found a previous email from when I originally signed up that Brenda had forwarded to me, and Doug Kennard's email was listed for CENManager, so he would have been getting all the sign up mails before.

Who should I put in his place?  Brenda?

[2018-07-26 08:48] PatReynolds opened #502 "23 P - Discussion of CSI transcription importer tool"
CSI allows for Download as CSV (Excel) | Download as SQL | Download as XML | Download as JSON

E2 U3 S7 C?5: P22

[2018-07-26 09:36] PatReynolds commented on #424
Statistics are not visible (just headings).  Statistics don't seem to include number of transcribers, number of those who have signed.

[2018-07-26 10:07] DeniseColbert commented on #479
Thanks Brenda, if Chris knows where to find the stats there's no need for you to do the extra work of emailing him.

Closing.

[2018-07-26 10:07] #479 closed

[2018-07-26 11:46] PatReynolds opened #503 "Listing of County and Country Coords on live is out of date"
Doug is given as the coord on many of them.  Needs copying from  list of syndicate coords (role holders are identical at the moment.  NB list of county cords on test2 is out of date.

[2018-07-26 12:21] DeniseColbert opened #504 "Place Google Tag Manager code on every page of website"
IIUC, once the code is on the website, we will configure Tag Manager, and then we will need the existing analytics code to be removed.

Copy the code below and paste it on to every page of your website.
Paste this code as high in the < head > of the page as possible:

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagNa

[2018-07-26 16:46] FreecenBren commented on #499
The COORDS should be getting the new Registrations for their County(s)

I know I get my Counties plus all the ones marked as “ANY COUNTY”

In the last week both Neil & Carol sent me an email saying the reset had not worked, along with some for my Counties, so I know they get copies.

Doug also got a copy when he set it up. I requested that Doug should be removed last month! It is on the Waffle Boa

[2018-07-26 23:03] AlOneill commented on #499
Er, maybe I am missing something here, but shouldn't the reset &c be through the syndicate coord?
Probably the same person as the county coord, but 2 different roles.

[2018-07-27 08:20] PatReynolds commented on #499
Yes, @AlOneill if it's to do with people, it's Syndicate, if it is to do with data, it's County.

[2018-07-27 08:52] PatReynolds commented on #499
Password reset also works fine.

[2018-07-27 11:40] PatReynolds commented on #246
Anna Slater contacted mid-march, and again in April requesting more information. The Past-Present-Future document sent 27/7/2018.

[2018-07-27 18:23] smrr723 opened #505 "Add syndicate details to email notification of user reassignment"
Request from Brenda:- When a user is re-assigned to a different syndicate, the coordinator of the new syndicate receives an email notification, as below:

"Dear Brenda;

New User at new.user@email.com and userid new_user123, has been re-assigned to your syndicate.

Please make them welcome
The FreeCEN Team"

This isn't helpful when the coordinator has multiple syndicates.

**Action:** add details

[2018-07-28 16:16] smrr723 commented on #425
Second ad unit added here on test2 (is also responsive) - https://test2.freecen.org.uk/userid_details/transcriber_registration - this one will be updated on the next production update, the other ad is already in production because it's in a refinery page.

All units should have the correct pub.ID with the next production update.

RE: the unit on the volunteering opportunities page @PatReynolds - I

[2018-07-28 16:23] smrr723 opened #506 "Adsense ads responsive issues"
Have spotted two ads which are not responsive:

1. Header ad across all pages (same issue as on FreeREG)
2. Square ad on Volunteering Opportunities page - https://freecen2.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen

The non-responsiveness is not due to the ad settings in the adsense control panel, it's due to incorrect CSS design of the ad containers.

needs #515 before home page c

[2018-07-30 08:49] PatReynolds commented on #425
Second ad unit is fine.

[2018-07-30 14:23] richpomfret commented on #504
@DeniseColbert can we have a summary or overview of why we're switching over to Tag Manager? Thanks :)

[2018-07-30 14:31] richpomfret commented on #502
@benwbrum what format is best out of the above?

[2018-07-31 19:56] smrr723 commented on #493
Tested and configured ok on local dev environment.  Will be live on FreeCEN2 production, test2 & 3 after running the update scripts for this sprint.

[2018-08-01 13:49] PatReynolds opened #507 "Trial matched content"
This is where an advertising slot can, instead, show another thing on our website https://support.google.com/adsense/answer/6111336?hl=en-GB

Economic 0, Urgency 1, Strategy 5, Cost 7?: P=13

[2018-08-01 14:36] DeniseColbert commented on #504
There are lots of benefits, the main one for us being less reliance on developer time to implement and manipulate tags. This is a decent article: https://moz.com/blog/an-introduction-to-google-tag-manager

[2018-08-01 14:37] #386 closed

[2018-08-01 14:38] #373 closed

[2018-08-01 14:38] #496 closed

[2018-08-01 14:39] #495 closed

[2018-08-01 14:40] richpomfret commented on #424
Moved back to backlog - not functioning as expected.

[2018-08-01 14:43] #419 closed

[2018-08-01 14:44] #474 closed

[2018-08-01 14:44] #477 closed

[2018-08-01 14:45] #403 closed

[2018-08-01 14:52] richpomfret commented on #425
Check and ensure fixed upon deployment - otherwise the issue remains elsewhere.

[2018-08-01 14:53] #499 closed

[2018-08-01 15:05] richpomfret commented on #395
Alternative is to provide our own donate 'advert' to replace blocked adverts when users are utilising an adblocker. Variety of these are preferable e.g. donate, easyfundraising etc.

[2018-08-01 21:44] smrr723 opened #508 "Review FC1 Ad Strategy"
There is a much higher CTR (click through rate) and therefore higher rate of earnings per user (approx 4x that of FC1) on FC2. FC1 still has the higher earnings though, due to a higher volume of users.

Actions I would suggest:-

1.  Review ad placements on FC1 (we either have too few ads, or they are poorly placed - it looks to be the former)
2.  Encourage migration from FC1 > FC2 with our own im

[2018-08-02 12:24] DeniseColbert opened #509 "Change 'Blog' in footer to 'News' and point to https://www.freeukgenealogy.org.uk/news"
E0 U2 S4 C8: P14

[2018-08-02 13:33] PatReynolds commented on #371
No - see https://docs.google.com/document/d/1ua6ODxzxxgUgvsXkRONpZjiP0C-XRE_K-9ajJQ2J0Kc/edit?usp=sharing

[2018-08-02 14:25] DeniseColbert opened #510 "22 P - Place link to Terms of Use page in Footer"
Needs #371
Economic 0, Urgency 8, Strategy 7, Cost 7: P=22

[2018-08-03 07:34] PatReynolds commented on #425
Thanks - can take up to 48 hours to run through, so I'll check Monday.

[2018-08-03 08:17] PatReynolds commented on #510
Or perhaps "By using this site, you agree to our Terms and Conditions" in the bar, after "... County Record Office, local Family History Society or LDS Family History Centre." ?

[2018-08-03 14:22] smrr723 opened #511 "Ads on search page appear only some of the time, or not at all."
If you perform a search on FC2, the banner ad (not the one in the header) doesn't seem to appear most of the time.

I've checked our adsense account and the ad appears to be active, but it's been set to "Display Ads only", meaning that ads with just text won't appear, so if no image ads are available on the ad network it will just show as blank.  I suspect this is the problem, and should be set to

[2018-08-08 12:05] smrr723 commented on #511
@PatReynolds @richpomfret

Changed setting from "Display Ads only" to "Text and Display Ads", which seems to have done the trick.

Following a test with Rich, there are still times where some ads don't seem to appear - perhaps need an Adsense review to ensure we aren't targeting too narrow a demographic.

[2018-08-08 12:11] richpomfret commented on #392
See issue #511, where Scott theorised that 'image only' ads setting might be responsible for adverts not being shown at all in some cases e.g. on the search results page.

[2018-08-08 12:13] richpomfret commented on #511
Labelled urgent and moved across into the sprint backlog - we can't have adverts failing on FC2, even if it's specifically adverts on the search results page.

[2018-08-08 12:16] richpomfret commented on #258
@PatReynolds we also need to be looking at advert content - as there appears to be no variety and I wonder if this is related to our settings.

[2018-08-09 10:59] PatReynolds commented on #387
Looking good on test2 @sudaraka94 !

[2018-08-09 21:19] #493 closed

[2018-08-10 14:34] PatReynolds commented on #425
Error message was still there earlier this week, but is now gone.  Issue resolved! Thank you!

[2018-08-13 14:29] richpomfret opened #512 "Place link to Cookie Policy page in Footer"
To allow ease of access for users who wish to change their settings.

Priority = 21: economic 0, urgency 10, strategic importance 3, cost 8

[2018-08-13 14:44] richpomfret commented on #503
@FreecenBren to move forward with this.

[2018-08-13 14:49] smrr723 commented on #511
Have just discovered what is probably the cause - https://github.com/FreeUKGen/MyopicVicar/blob/freecen_parsing/public/robots.txt

We're not allowing bots to crawl the search page (including Adsense bots).  We are allowing this on FR, however.  https://github.com/FreeUKGen/MyopicVicar/blob/master/public/robots.txt

[2018-08-13 14:51] richpomfret commented on #501
S+N do have watermarks and can be identified. Need to work out how we might do this e.g. mark source upon being uploaded.

[2018-08-14 10:28] DeniseColbert commented on #395
Some draft designs in Projects folder of drive

[2018-08-14 11:54] smrr723 commented on #511
Fix deployed on test2 - https://test2.freecen.org.uk/search_queries/5b719acde93790d1d34875a0

Looks to be working for me:-

![screen shot 2018-08-14 at 12 52 47](https://user-images.githubusercontent.com/2768445/44090154-178a703e-9fc1-11e8-99f1-fd745fe6317a.png)

[2018-08-14 15:15] PatReynolds commented on #425
Error message now back ...

[2018-08-14 15:28] smrr723 commented on #511
**Update:** Don't test yet please.  I've just found yet another two problems (third/fourth so far..) with this page - a bunch of code that looks like it was _meant to be_ removed, is still lingering there:

`      $(document).ready(function(){(adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1788116026113570",
        enable_page_level_ads: true
      })`

..with th

[2018-08-15 08:39] PatReynolds commented on #425
Snip of the warning: https://drive.google.com/file/d/0BzRDUeF70Mtpa0o3clQtQ3R2cVU/view?usp=sharing  Nb this is on the old account (for FreeBMD and FreeREG, not the new account for FreeCEN)

Looking for something else, I found te code in the header section of the freeBMD Home page mentions www.freecen.org.uk .... maybe that's the issue?

[2018-08-15 10:34] smrr723 commented on #425
Ah ok, thanks Pat.  That won't be an issue on FC then, if it's not on the FC adsense account.  It looks like FR & FBMD are missing the ads.txt file though which lets Google know which publisher IDs are allowed on our site.

This issue can be closed - the error above is related to FR/FBMD.

[2018-08-15 12:05] FreecenBren commented on #503
I have updated what I could on both Test 2 and FC2.

It would not let me amend the following two.

I get this message.

I did report the following if you look in Feedback 114255810, 3rd one down.

The other 2 feedbacks relate to Duplicate Counties that one of each needs to be deleted.

If you look at  https://freecen2.freecen.org.uk/counties

I was able to amend them OK but looking at the top row

[2018-08-15 12:30] smrr723 commented on #111
I've created a Webmaster Tools account (now called Google Search Console) and added FC2 and FC2 Test2.  Added you as another user @richpomfret - https://www.google.com/webmasters/tools/home?hl=en

I was doing this as part of Issue #511 in order to update our robots.txt file, and add a sitemap for FC2.

[2018-08-15 12:37] smrr723 commented on #426
Added a sitemap here - https://test2.freecen.org.uk/sitemap.txt - whilst working on Issue #511.

I've made it the same as FR for now - https://www.freereg.org.uk/sitemap_location.txt - but would recommend we add all pages on the site so will do this on deploy to production, and will also submit our new sitemap to Google via webmaster tools, in line with best practices here - https://support.google

[2018-08-15 14:41] richpomfret commented on #407
Replace by more spefici task (503) so closing.

[2018-08-15 14:41] #407 closed

[2018-08-15 14:42] richpomfret commented on #425
Fine now on FC. Closing.

[2018-08-15 14:42] #425 closed

[2018-08-15 15:26] AlOneill commented on #387
Looking good, except that I cannot tab to Citation Generator button because it is an empty link (href="#"). Also there is no warning that the citations themselves will appear in a new browser tab.

[I use Evidence Explained style citations, but it is so long since I did any proper FH that I can't remember what to expect — however, will check if I am the only EE user on the team!]

[2018-08-15 17:12] richpomfret opened #513 "FC1 Move cookie banner to bottom of the screen"
Cookie banner currently covers the advert at the top  of the page and it is unclear for first time users how to proceed. Move to the bottom and check background colour on banner (it has appeared white within my browser and needs to standout).

e6 U4 S7 C6:P23

[2018-08-15 17:14] richpomfret opened #514 "FC1 Remove volunteering text on home page"
To remove in order to reduce amount of text and at the same time as FC2 logo image is added in order to be more prominent.

[2018-08-15 17:15] richpomfret opened #515 "FC1 Add FC2 logo image on homepage"
To add in under the text that suggests users go and check out FC2. This will make the link more prominent and improve transition of people over to the new site.

Requires #514

[2018-08-15 17:17] richpomfret opened #516 "FC1 Add more adverts"
Add in footer banner adverts - currently only one per page and this should change to two.

Priority 24/40:
Economic - 6/10
Urgency - 6/10
Strategic - 7/10
Cost - 5/10

[2018-08-16 10:51] smrr723 opened #517 "undefined method `empty?' for nil:NilClass"
See exception on errbit - https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5b73f57de9379056f2d2e6de

[2018-08-16 10:53] smrr723 opened #518 "undefined method `schedule_number' for #<Contact:0x00000008272652d0>"
This error only occurred once on Aug 4th 2018 - hasn't occurred since, so low priority, affecting very few.

See exception on errbit - https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5b656dfce93790866f369779

E0, U2, S1, C6: P9