[2020-11-12 21:26] Captainkirkdawson commented on #803
@geoffj-FUG difficult to comment. Which specific file were you looking at?
The problem is something seen with the vld files loaded into CEN. The issue was detected when I did a quality check on the chapman field  and found those errors. The problem is caused by an offset of one or more character in a couple of lines.
These files have "moved" around the internet several times by the time they arriv

[2020-11-13 22:33] Captainkirkdawson commented on #803
@FreecenBren
I must emphasize that these are NOT issues with the new CSVProc version of CEN2.
Perhaps we should formalize our terminology. There are 3 CEN applications; 2 of which are in production and 1 in development (hopefully to go live at the end of this month). My terminology from here on will be:CEN1 (the old app developed by Dave Mayall) using offline data and file tools with monthly updat

[2020-11-13 22:35] Captainkirkdawson commented on #803
@geoffj-FUG
 I have spent today digging into these files and have sent  you a zip file with the problem files; some of which are very old.
The following is the situation as of today
![problem files.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/74f838de-5547-4b59-b80d-ee13c89c0293)

[2020-11-14 01:40] Captainkirkdawson commented on #803
@geoffj-FUG @FreecenBren
The files with the null entries have records with null in almost all fields an example for rg122720.vld is

 "surname" : "\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000",
        "forenames" : "\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u0000\u000

[2020-11-14 02:03] Captainkirkdawson commented on #803
@geoffj-FUG @FreecenBren An example for rg092666.vld with birth county "BJa"

 "_id" : ObjectId("5c87ae79f4040bce77ab514d"),
        "surname" : "ARDHOUSE              Ma",
        "forenames" : "ria                   -B",
        "occupation" : "irt Maker                   -O",
        "occupation_flag" : "V",
        "name_flag" : "o",
        "relationship" : "ardrMF",
        "marital_status"

[2020-11-14 10:07] geoffj-FUG commented on #803
Brenda

I have recreated the csv file from the RG122720.vld file and have a host of problems.

Firstly, the file has truncated half way through the address on row 2632. Everything after that (2753 records) had the family number of 0 and family member number of 0 again.

I discovered that there are a large number of records that have not uploaded (or were not transcribed).

I tried to convert the f

[2020-11-14 10:34] geoffj-FUG commented on #803
Got it!

In the row that truncated and became the last row in the piece I have the following (my emphasis in red):

\fctools\fctwkg\RG122720.VLD

[When reporting program errors, be sure to send this file and the original data file]

Census year = 1891, input format = VALD-REV, output format = ALL, VERBOSE

Info: record 2631 non printable characters

Info: record 2631, Building/Unoccupied flag = <

[2020-11-14 10:43] FreecenBren commented on #803
Ok Geoff leave them with me.

I will do them and then ask Lemon to  do an amended upload extra for the
amended VLDs. He will have to fit it in during a break next week as it is
not FreeCENS  week. He has done it before.

Cheers Brenda

[2020-11-14 10:48] geoffj-FUG commented on #803
Brenda

I have attached  RG092666

I cannot find anything in it. Tests OK.

I have recompiled the vld file.

It is attached.

I will leave the rest to you.

Geoff

[2020-11-14 15:40] Captainkirkdawson commented on #803
@geoffj-FUG The files sent to you off line are copies of the ORIGINAL files used to create the CEN1 database.  ie they are what @FreecenBren or whomever sent to get processed on the date noted in the report 7 comments above
They are not downloaded  files.

[2020-11-17 10:44] PatReynolds commented on #502
Hi @geoffj-FUG saw this while looking for something else and wondered if it could be used by CSV-proc?

[2020-11-17 10:54] PatReynolds opened #1045 "Tools for managing syndicates EPIC"

[2020-11-17 10:55] PatReynolds commented on #1045
To cover CAP, GAP, DAP and any similar tools needed

[2020-11-17 16:41] Captainkirkdawson opened #1046 "Add warning to CSVProc when Civil Parish does not have a valid Freecen2 Place"

[2020-11-17 22:34] geoffj-FUG commented on #402
There is a problem with the definition of this story.
vld has never had a pck list for the alternative POB. It has always been a research and type in exercise for validators.
The old Place names used by vld has been replaced in the CSVProc by the Place Names Database. This is not a drop dowen pick list.
The problem with a pick list is that it leads the validator to an answer. For best results the

[2020-11-18 09:44] geoffj-FUG commented on #706
Every field in CSVProc has been defined and a test. The Handbook now provides a description to the transcriber etc of what can or cannot be entered. There is not one list of tests applied to CSVProc fields.
The issues identified by Rena have been addressed. Scholars are no longer an error. However, there was some debate as to whether it even needed identifying as the entry had been transcribed and

[2020-11-18 10:23] geoffj-FUG commented on #378
The Place Names Database replaces both Genie and Placesup in CSVProc.
It is far more comprehensive that the old tools.
This story can be closed.
Geoff

[2020-11-18 10:49] geoffj-FUG commented on #643
Kirk
This issue will be a problem on cutover.
I was hoping to have Coordinators assist other Coordinators with the PARMS set up. Also coopt Validators to assist.
We cant do this unless we can have more than one Coordinator to a County.
We have a one to many relationship for Transcribers, Proofreaders and Validators. So why cant the system accept a one to many relationship for Coordinators? A Coord

[2020-11-18 10:52] geoffj-FUG commented on #534
A Coordinator can edit any field in a piece in CSVProc.
I am not sure what caused the issue here. It is not clear.
Geoff

[2020-11-18 10:55] FreecenBren commented on #643
If you do decide to go down this route, then only one County Coord will
need to receive the New Volunteers email. Otherwise we could have
duplication of setting up the new volunteers.
Unless you have another plan to deal with that issue.

Brenda

On Wed, 18 Nov 2020 at 10:49, geoffj-FUG <notifications@github.com> wrote:

[2020-11-18 11:06] geoffj-FUG commented on #643
Brenda

The story was on Zen Board for review.

I don’t understand why we cant have more that one Coordinator to a County if we can have more than one Transcriber etc. To me it is a simple one to many relationship without seeing the code. I am sure that Kirk will be able to tell me.

I am looking for a short-term solution to help get the new PARMS files sorted when we cutover.

When Pat has launch

[2020-11-18 11:15] geoffj-FUG commented on #1010
This appears to work OK. I compared results on test3 with results on the live system and they were comparable.
I did one search where I simply searched for surname Jones born in BRK and census county BRK to see what sort of result I got. Naturally there were a lot of them.
Do we want to give the researcher the option of sorting them on the Birth Place so that the records for one Birth Place all ap

[2020-11-18 11:23] geoffj-FUG commented on #870
This has been done on FreeCEN2 in the Place Names Database in CSVProc.
Our starting point is about 50,000 British Place names with latitude and longitude plus 2800 Irish Civil Parishes and Baronies also with latitude and longitude. This will be added to by Validators during validation.
Geoff

[2020-11-18 11:34] geoffj-FUG commented on #869
May I fly a kite?
We now have a Gazetteer of our own with Latitude and longitude. In transcription etc we can use a Locate button to open Google maps and see the place. In Validation we make sure that the POB is valid and in our database (unless we cant).
If this locate facility was added to the person in a household in the search results when Birth Places are displayed to the researcher, then the

[2020-11-19 11:06] geoffj-FUG commented on #502
Pat
CSVProc has settled with CSV files and that seems to be working well.
I think that your query is best suited to How we download Open Data requests.
It is a technical issue that is best directed to Kirk.
I do not see it as much use to bread and butter researchers looking for family information. Their files are normally GEDCOM format if they want to upload the information to their trees. That be

[2020-11-19 17:22] Captainkirkdawson commented on #1027
These have been added where needed

[2020-11-19 17:23] #1027 closed, assigned to Captainkirkdawson

[2020-11-19 17:26] Captainkirkdawson commented on #1029
Step 0. Check Userid collection on production and coordinators

Step 1. Merge copy of current branch into copy of Master

Step 2. Test basic running of master copy on test2 freeCEN
  sudo bash /root/bin/update-freecen2-development
  After fetching remember to do a bundle install

Step 3. delete all freecen2 collections
  db.search_records.deleteMany({freecen_csv_entry_id:{ $exists: true}}) # this

[2020-11-19 17:27] #1030 closed, assigned to Captainkirkdawson

[2020-11-19 17:28] Captainkirkdawson commented on #1035
Have tested Freereg on test2.
Have tested Freecen on test2

[2020-11-19 17:29] Captainkirkdawson commented on #648
Indexes designed and created for CSVProc

[2020-11-19 21:26] Captainkirkdawson commented on #851
@geoffj-FUG  Your urgent review and comment is required.
I have started looking at this story and have a number of questions. I assume that the purpose of the download is to reprocess through CSVProc hence the output must be processable by CSVProc.
0) There is no field header so I would propose to use the year census spreadsheet.
1) How should we structure the CSV file in terms of how entries were

[2020-11-19 22:27] geoffj-FUG commented on #851
Kirk

Answers in red below

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Friday, November 20, 2020 7:27 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Ability to download a validated file (vld) from CEN2 in CSV (#851)

@geoffj-FU

[2020-11-19 23:14] Captainkirkdawson commented on #851
@geoffj-FUG
There are no comments red or otherwise.
There was also a copy of a contact request you had received.
So have not any feedback

[2020-11-20 11:41] geoffj-FUG commented on #851
Reply sent off board

[2020-11-22 05:45] geoffj-FUG commented on #643
After discussion with Kirk a County cannot have 2 Coordinators. The system has not been designed for a one County many Coordinators model. It is one Coordinator Many Counties model. The joining table does not exist and its introduction would be a major project. It all comes down to the original design brief.
Geoff

[2020-11-22 17:20] Captainkirkdawson commented on #643
@FreecenBren @geoffj-FUG @rhodamackenzie
I have been quite clear that  a syndicate can have only one coordinator and a county can have only one coordinator. That was the design adopted for better or worse 8 years ago. Changing that is an enormous task and the pain in doing it it likely bigger than the gain.
It is essential though that you recognise that county coordinators and syndicate coordinato

[2020-11-23 12:37] PatReynolds commented on #429
Only remaining page seems to be https://freecen1.freecen.org.uk/project.htm

Will be obsolete after CSVProc is in place.

[2020-11-23 15:47] Captainkirkdawson commented on #1010
Need to review

[2020-11-23 15:52] Captainkirkdawson opened #1047 "Announce plans for CSVProc deployment"

[2020-11-23 15:54] Captainkirkdawson opened #1048 "Deployment of CSVProc"

[2020-11-23 17:08] #951 closed, assigned to PatReynolds, richpomfret, geoffj-FUG

[2020-11-23 17:09] #1029 closed, assigned to Captainkirkdawson

[2020-11-23 17:10] #1035 closed, assigned to Captainkirkdawson

[2020-11-23 17:11] PatReynolds commented on #402
Tahnks, Geoff, that means this story can be closed.

[2020-11-23 17:11] #402 closed

[2020-11-23 17:12] PatReynolds commented on #706
Thanks, Geoff, that means this can now be closed.

[2020-11-23 17:12] #706 closed

[2020-11-23 17:12] #378 closed

[2020-11-23 17:13] PatReynolds commented on #534
Thanks, Geoff, this is an old story part of listing all the things we wanted CSVProc to do (before CSVProc had a name), so closing now.

[2020-11-23 17:13] #534 closed

[2020-11-23 17:15] PatReynolds commented on #643
Yes, we can have tso syndicate cords (not 'County cords') doing one county - limitelsss syndicate cords per county coords per county!

[2020-11-23 17:16] #643 closed

[2020-11-23 17:17] PatReynolds opened #1049 "Document the use / actions of Syndicate Coords vs County Coords"
Pat to check this when doing other work on this issue.

Issues arising:
 -[ ] rewrite Information for Coords, making roles of County Coord and Syndicate Coord distinct, removing all materials now covered in the Handbook

[2020-11-23 17:20] PatReynolds commented on #429
@PatReynolds to specify what is needed / write stories.

[2020-11-23 17:29] PatReynolds commented on #1048
Let's deploy this sprint.

[2020-11-23 17:32] #1047 closed, assigned to nobody

[2020-11-23 17:38] ghost opened #1050 "185881975 Website Problem (Sue)"
Issue reported by **Sue** at 2020-11-21 09:52:55 UTC
Time: 2020-11-21T09:51:27+00:00
Session ID: e1071e86ffd459c4007f854d203bcfcb
Problem Page URL: []()
Previous Page URL: [https://www.freecen.org.uk/contacts/new](https://www.freecen.org.uk/contacts/new)
Reported Issue:
I have removed adblock and refreshed, etc. but I continually get the message remove adblock. Please advise. Thanks.

[2020-11-23 17:42] DeniseColbert commented on #1050
Contacted Sue 23/11 for more info

[2020-11-23 20:41] ghost opened #1051 "186093265 Website Problem (Dianne Baker)"
Issue reported by **Dianne Baker** at 2020-11-23 20:34:25 UTC
Time: 2020-11-23T20:29:02+00:00
Session ID: 0b1abc1a6ba235a0434aedf501d3083a
Problem Page URL: []()
Previous Page URL: [https://www.freecen.org.uk/contacts/new](https://www.freecen.org.uk/contacts/new)
Reported Issue:
Annoyed, not happy with the constant  pop up about turning off ad-blocker.  I have Kaspersky, and there is no option to

[2020-11-23 20:43] Captainkirkdawson commented on #1051
@DeniseColbert @PatReynolds @Vino-S
Another very unhappy customer

[2020-11-23 21:03] Vino-S commented on #1051
The ad-blocker pop-up does seem strict. The pop-up does not allow users to use our website unless the adblocker is disabled

[2020-11-23 22:23] Captainkirkdawson commented on #1046
Warning added to test3

[2020-11-23 22:29] Captainkirkdawson commented on #803
A reload of rg092827.vld LAN 1861 Bolton Eastern 2827 continue to exhibit the sane problem
![still there.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/d7de8be2-fd62-4270-97f1-2595e513cc04)

[2020-11-23 23:31] FreecenBren commented on #803
I am working on this Lan piece  again for Neil, as it failed again on Vino
‘s report.

On FC1 and FC2

Brenda

On Mon, 23 Nov 2020 at 22:29, Kirk Dawson <notifications@github.com> wrote:

[2020-11-24 10:19] PatReynolds commented on #1051
Have disabled existing message.  Will create message with choices (thought that was what I had done) and check that versions for FreeREG and FreeCEN are OK.

[2020-11-24 11:34] PatReynolds commented on #1051
Could you test, please Vino - does not seem to be any message to ad blockers on FreeCEN now.

[2020-11-24 12:07] Vino-S commented on #1051
Yes @PatReynolds , the adblocker message still displays on FreeCEN

[2020-11-24 12:14] PatReynolds commented on #1051
But can you close it?

[2020-11-24 12:22] Vino-S commented on #1051
No Pat. It does not have close

[2020-11-24 12:49] DeniseColbert commented on #1050
Sue replied: I am using Chrome and it's Windows.

[2020-11-24 12:52] Vino-S commented on #1051
Hi @PatReynolds , The close button is now there. Apologies I had my window zoomed up to 110% so the close button got cut-off

[2020-11-24 14:36] PatReynolds commented on #1051
Thanks, @Vino-S  @DeniseColbert could you contact Dianne to reassure her that this was an oversight, and she and other users can now enter the site while using an adblocker.

[2020-11-24 14:54] DeniseColbert commented on #1051
Will do

[2020-11-24 15:47] DeniseColbert commented on #1051
Done.

[2020-11-25 11:21] PatReynolds commented on #921
First link now corrected.

[2020-11-25 11:59] PatReynolds commented on #571
https://freecen1.freecen.org.uk/censfaq.htm
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/ff56fc51-1897-423e-ba59-4e4928d1a0ee)
Have put these in a spreadsheet: https://docs.google.com/spreadsheets/d/1uxU6pkBEQKPRsNGHm1RSV_sheT_DO9HN0jHfajPLpEM/edit?usp=sharing

For most, decision on what (if anything) needs to be preserved post-shutdown of FreeCEN1 transcription and u

[2020-11-25 22:01] geoffj-FUG commented on #571
Pat

This is old. It refers to Incens which was floppy disc based.

I joined the project about 2004 and it was old technology then.

I have put my notes in column E

Geoff

From: PatReynolds <notifications@github.com>
Sent: Wednesday, November 25, 2020 9:59 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Comment <comment

[2020-11-27 04:34] geoffj-FUG commented on #847
Clarification included in Dec 2020 version of FreeCEN Full Handbook. Will be available on cutover.
Geoff

[2020-11-27 09:17] PatReynolds commented on #813
@geoffj-FUG  is this story still appropriate? What, if anything, remains to be done?

[2020-11-27 09:42] geoffj-FUG commented on #813
Pat

This is the issue that I mentioned on the pre cutover FreeCEN site. At the moment the mailing list is restricted to specialized roles only.

On the test3 site I sent a message to the Somerset syndicate and received replies that it was working OK. So the test 3 version is more useful and will presumably migrate this week.

The facility is useful for sending out information. At the moment I hav

[2020-11-27 11:02] DeniseColbert opened #1052 "Problems with Message reply email"
**Issue 1**

I replied to Pat's message and received an email notification addressed to her.

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/5d72e7fb-eb33-4dff-af60-23f066d5f49c)

**Issue 2**

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/ed4b1d13-4f9d-48ed-aef1-a44dc38f8197)

The same happened with another reply I sent (to UserID Jennypin)

[2020-12-05 23:40] Captainkirkdawson commented on #1048
Completed

[2020-12-05 23:40] #1048 closed, assigned to Captainkirkdawson

[2020-12-05 23:41] #1046 closed, assigned to Captainkirkdawson

[2020-12-05 23:42] Captainkirkdawson commented on #984
Final batch of 600 names received and deployed

[2020-12-05 23:42] #984 closed, assigned to geoffj-FUG

[2020-12-05 23:44] #959 closed, assigned to Captainkirkdawson

[2020-12-05 23:45] #994 closed, assigned to nobody

[2020-12-05 23:56] Captainkirkdawson opened #1053 "Add name edit to District Sub District and Civil Parish"
We have edits for District Sub District and Civil Parish that permit the selection of names from a list of available names. This was designed to make them al consistent.
The is however the need to edit the name for punctuation and spelling.
This is somewhat like the rename feature of REG and carries some of the same downsides.
It is there proposed that this be a restricted capability to be done by

[2020-12-06 20:53] Captainkirkdawson commented on #1053
@geoffj-FUG I have added the ability for data manager and system administrators to edit the name of a District Piece or Civil Parish provided there are no csv files already uploaded for those. Deployed to production and test3.
Also added additional breadcrumbs for the selection pages.
Let me know if there are names to be changed

[2020-12-07 16:28] AlOneill commented on #126
I'm planning on finishing my opening set of suggestions for making the text of the Abbreviated Handbook more user-friendly either this week or next.

It will not be completely finished, but I need a break. I will, however, have looked through the whole document.

[2020-12-07 17:14] richpomfret commented on #921
@PatReynolds to deploy.

[2020-12-07 17:14] PatReynolds commented on #921
@PatReynolds to deploy on live

[2020-12-07 17:16] richpomfret commented on #571
@PatReynolds to review comments/notes.

[2020-12-07 17:21] richpomfret commented on #877
Thanks @geoffj-FUG. Now closing this story. Let's open a new one if appropriate.

[2020-12-07 17:21] #877 closed, assigned to geoffj-FUG

[2020-12-07 17:23] richpomfret commented on #1003
Now complete, so closing.

[2020-12-07 17:23] #1003 closed, assigned to geoffj-FUG

[2020-12-07 17:38] richpomfret commented on #1052
@Vino-S to take a look at when possible (this sprint).

[2020-12-07 17:42] #1051 closed, assigned to nobody

[2020-12-07 17:43] #1050 closed, assigned to DeniseColbert, Vino-S

[2020-12-08 10:19] PatReynolds commented on #126
Thanks, @AlOneill I'm reviewing the other actions (all mine, I think) that have got lost and will make them as tickyboxes in the story itself.

[2020-12-08 11:42] PatReynolds commented on #126
Draft Information for Transcribers ready for content check on test3

@geoffj-FUG any further changes needed?
We envisioned the following sub-pages, are they still needed?
![image](https://user-images.githubusercontent.com/6338822/101476819-38e5a480-3946-11eb-8a46-c132a2ba2058.png)

[2020-12-08 11:50] PatReynolds opened #1054 "Update Help for Coords to reflect presence of The Handbook and other needed changes"

[2020-12-08 11:56] PatReynolds commented on #376
2. working on this now
 3.  could you remove, please, @Captainkirkdawson
4.  now story #1054
5. working on this now
6. is the table (see https://test3.freecen.org.uk/cms/draft-behind-the-scenes) too much, @geoffj-FUG

[2020-12-08 12:41] PatReynolds commented on #376
Text ready for proofing (https://test3.freecen.org.uk/cms/draft-behind-the-scenes)

This is currently seen as a sub-page for Coordinators (see links on right) but is it needed as a sub-page for Transcribers and others too?  If so, should links on right to be to Help for Coordinators, Help for Transcribers, and ????

[2020-12-08 13:08] PatReynolds commented on #571
Thanks to @geoffj-FUG for his comprehensive review.  I have actioned those elements identified by Geoff as needing action by someone other than himself, so takingmyself off this story now.

[2020-12-08 17:41] PatReynolds opened #1055 "Remove visibility of transcribers Open Data status from Coords pages"
Was part of #847

For discussion: do coords need to know the open data status of individuals?

[2020-12-08 18:06] PatReynolds opened #1056 "Remove "Manage FreeCEN Coverage Action"?"
For discussion:
"Manage FreeCEN Coverage" is not management, it is information.  Is it need now at all given:  the information now in 'Database Statistics' and Is identical to content of 'Records ' Tab for the public

[2020-12-08 18:18] PatReynolds commented on #847
Buttons now all fine.

Information for County Coordinators now needs revision in light of changes (new story made - #1054)
Information for Transcribers is now updated (story #126)
Access to information about transcription agreement status needs discussion (story #1055)
Purpose of Manage FreeCEN Coverage Action unclear (story #1056).
Otherwise complete.

[2020-12-08 18:21] PatReynolds commented on #1049
Checked,.

[2020-12-08 18:31] PatReynolds commented on #758
Yes, #847 coverage of  syndicte and county documentation covers this.

[2020-12-08 18:59] PatReynolds commented on #606
I _think( discussion was that civil parish should be used because it is/?can be mapped across all censuses.- but can't find discussion now.. It may be subdistrict?  or give user the choice of searching the cp/subdistrict OR the district?

I feel Civil Parish is best (once CP name mapped to all the variant names) with 'nearby places' added as a priority.

Thoughts @Captainkirkdawson @geoffj-FUG @rh

[2020-12-09 22:37] Captainkirkdawson commented on #1056
It is a place holder action which will likely be needed in the future
It is ONLY  visible to you, rich and system administrators

[2020-12-09 22:38] Captainkirkdawson commented on #1055
Surely syndicate coordinators need access to this information?

[2020-12-10 18:24] Captainkirkdawson opened #1057 "Enumerator Special Situations are not processed correctly"
CSVProc does not handle the Enumerator Special Situations correctly for dwelling number and sequence in household. For those cases the spec states  **There will be no Schedule Numbers: Use "0" (zero).** CSVProc  is interpreting this as a new dwelling and the person as the first person in the dwelling

[2020-12-10 18:35] Captainkirkdawson opened #1058 "CSVProc may not handle the Enumerator Special Situations correctly"
CSVProc does not handle the Enumerator Special Situations correctly for dwelling number and sequence in household. For those cases the spec states  **There will be no Schedule Numbers: Use "0" (zero).** CSVProc  is interpreting this as a new dwelling and the person as the first person in the dwelling

[2020-12-10 18:37] Captainkirkdawson commented on #1058
@geoffj-FUG discovered while developing the VLD download. Not sure we ever tested this aspect.

[2020-12-10 20:16] geoffj-FUG commented on #1058
Kirk

That is correct.

The ED number is for instance 0#3. The schedule number is 0.

The entry that the ED and schedule number are against is the first entry in the household. So it is a new dwelling.

The piece that you are looking at if it is Bedminster Union in Long Ashton is a piece that has not been put through CSVProc. The transcriber will probably have repeated the ED number for each new f

[2020-12-10 23:46] Captainkirkdawson commented on #1058
@geoffj-FUG The piece I was looking at was RG12/1953.vld which is on the production system.
You are totally correct that provided the schedule number is not repeated then CSVProc does function correctly in almost every circumstance. The error was mine in the extraction of the VLD as a CSV where I had duplicated the schedule number of 0 with every record in the special ED. This has now been correct

[2020-12-11 00:26] Captainkirkdawson commented on #851
The code to generate a CSV file has been developed and is available for evaluation on test3
In a county select the Manage VLD Files option
![vld files.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/b5415391-6e76-4834-9e8e-0593ec09294e)
On the listing of files select the show for one you wish to access
![listing.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/

[2020-12-11 01:31] Captainkirkdawson opened #1059 "Should WAL Country code be permitted as a county of birth."
@geoffj-FUG
While experimenting with the VLD downloader I have observed that files containing **Country Codes** for both Verbatim and Alternate County of Birth of WAL.
Clearly CEN1/2 permits this. CSVProc has this as an error.

Do we continue to error it? Do we change CSVProc to accept it or produce a warning rather than an error?

It is not a valid chapman code

[2020-12-11 11:39] PatReynolds opened #1060 "Add Scotland to Freecen2 Districts; Pieces; Civil Parishes"

[2020-12-11 11:41] PatReynolds opened #1061 "The Ireland Epic"
-[ ] Contact Ireland and Northern Ireland
 -[ ] Consider implementiation
 -[ ] Add Ireland to CSVProc

[2020-12-11 11:45] PatReynolds opened #1062 "Wildcard in name can be used with Place of Birth"

[2020-12-11 11:48] PatReynolds opened #1063 "Add searching of Nearby Places to Place of Birth"

[2020-12-11 12:02] PatReynolds commented on #133
Situation 10 Dec 2020

Search for CHANDOS finds Reginald W CHANDOS PELE (and his family, and others with this name, also CHANDOS-POLE and plain CHANDOS)
Search for PELE finds the CHANDOS PELEs
Search for  POLE in Staffordshire 1861 finds Reginald CHANDOS-POLE (at Repton, DBY).

Is there any other test needed or can this be closed?

[2020-12-11 12:36] PatReynolds opened #1064 "Allow searching by title"
A search for CHANDOS Duke finds the Duke of Buckingham, family name Chandos (in Haddenham, Buckinghamshire).
Searching _just_ by title (e.g. Duke of Buckingham, Reverend, Sir is only permitted in a specified county and place
A search for DUKE in Haddenham, Buckinghamshire finds him.
A search for Rev or Rev. or Reverend can be made but a search for Rev. in Fotheringhay, Northamptonshire started to

[2020-12-11 12:49] PatReynolds opened #1065 "Specify Additional Searches"
Needed for deciding implementation in 1.4 and subsequently

[2020-12-11 21:20] Captainkirkdawson commented on #1064
There is no such field as title.
The only field is the forename and it is the one you are using .
If the forename has a title as a component of the forename then it will already be retrievable since we index and search by each of the forenames in the field.
Do not believe we ever entered abbreviations for title names
Timeouts are frequent on wildcard searches which is why the wildcard augmentation

[2020-12-11 21:23] Captainkirkdawson commented on #1062
That will be a biggy.

But first we need to get a search by place of birth running

[2020-12-11 21:24] Captainkirkdawson commented on #1063
Another big one
Need to get the Place of birth search going first

[2020-12-11 21:27] Captainkirkdawson commented on #1061
It is likely that CSVProc will already handle.
The fundamental requirement to support is to have the Place/District/Piece/Parish information that we obtained from TNA
Geoff has already done considerable work on this Irish Parms#884 It is also an epic

[2020-12-11 21:32] Captainkirkdawson commented on #1060
The issue is not so much CSVProc as getting the Place/District/Piece/Parish parameter information for Scotland like we have from TNA Without it we cannot proceed

[2020-12-11 21:34] Captainkirkdawson commented on #1057
Geoff replied
Kirk
If I look at a Validation file header in Valdrev I see what looks like 2 entries. The # seems to have been used to split the display (it may or may not have been used to split the fields).
The ED number for these is always 0 and the second digit is used to identify the type of institution.
If the record downloads as 02 then that appears to me to be one of these. An ED number of

[2020-12-11 21:35] Captainkirkdawson commented on #1057
Found it

Yes downloads as an 03 with Bedminster Union Workhouse as the address.

So will work on that basis to correctly process thos records

[2020-12-11 21:37] #1057 closed, assigned to nobody

[2020-12-11 21:49] Captainkirkdawson commented on #834
CSVProc can handle the traditional format of csv file so there is no basic requirement to load a VLD file.
CSVProc will download the traditional headed csv file in the correct format for the year.
We can download a VLD file from CEN2 in csv format and it can be processed by CSVProc
Suggest this be closed.

[2020-12-11 21:51] Captainkirkdawson commented on #616
Do not know what the requirement is and given that
CSVProc can handle the traditional format of csv file so there is no basic requirement to load a VLD file.
CSVProc will download the traditional headed csv file in the correct format for the year.
We can download a VLD file from CEN2 in csv format and it can be processed by CSVProc
Suggest this be closed.

[2020-12-11 21:53] Captainkirkdawson commented on #721
Can manage cen1 pieces, vld files, entries and places in CSVProc.
Suggest this be closed

[2020-12-11 21:55] Captainkirkdawson commented on #459
Overtaken by CSVProc
suggest this be closed

[2020-12-11 21:59] Captainkirkdawson commented on #361
Validation is now an integral part of CSV Proc
All sub stories have been completed
Propose we close

[2020-12-11 22:02] Captainkirkdawson commented on #741
CSVProc can handle the traditional format of csv file so there is no basic requirement to load a VLD file.
CSVProc will download the traditional headed csv file in the correct format for the year.
We can download a VLD file from CEN2 in csv format and it can be processed by CSVProc
Suggest this be closed.

[2020-12-11 22:03] Captainkirkdawson commented on #741
CSVProc and all its components have been deployed
Suggest we close and deal with new issues and problems as identified

[2020-12-12 12:40] PatReynolds commented on #376
assigned Javier 12/12/2020

[2020-12-12 22:04] geoffj-FUG commented on #376
Pat

Table looks OK to me.

Whilst it needs interpretation I think it serves its purpose. We know what these things mean.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Saturday, December 12, 2020 10:41 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGe

[2020-12-12 22:58] AlOneill commented on #376
@PatReynolds I've spotted and corrected some simple typos: a hyphen that should be an em-dash, a missing capital letter and a missing full stop. (I thought it easier to do than to explain!)

I will leave it to others to comment on the content as I'm a little out of touch.

[2020-12-13 18:51] AlOneill commented on #376
On further reflection, there are clearly some Actions missing from the table, but there is not much wriggle room to add them in. Maybe remove and list separately the Actions that are common to all Members?

[2020-12-14 09:49] PatReynolds opened #1066 "Cords have completed and checked information held on each syndicate member"
Story created as in progress, and present as a story on Roadmap (was #87 which was to implement capability to record the information

[2020-12-14 10:04] PatReynolds opened #1067 "Upload of VLDs is possible"
Story identified in Roadmap meeting

[2020-12-14 10:06] PatReynolds opened #1068 "Correct Errors in the Pieces Report"

[2020-12-14 10:07] PatReynolds commented on #1068
@geoffj-FUG have I got the title correct for this issue?  Please could you let me have the sub-stories for this epic.

[2020-12-14 10:09] geoffj-FUG commented on #1068
Pat

This is the work that Brenda is currently doing. The errors are in FC1 pieces.

Geoff

[2020-12-14 10:20] FreecenBren commented on #1068
This months errors in FC1 are as below.

I have corrected DOR. HAM and HUN.
They will be uploaded at the next scheduled update.
The LEI one I sent an email to John to fix and send me an amended VLD.
 FreeCEN - Errors
CountyFileMessage
DOR H01071858.VLD Invalid Census Type
LEI RG103297.VLD  corrupt (invalid record length) 595591
HAM RG120896.VLD ignored - duplicate
HUN ho107448.vld  Invalid County

[2020-12-14 10:24] PatReynolds opened #1069 "Review and enhance adverts"

[2020-12-14 10:26] geoffj-FUG commented on #1068
Brenda

Does that mean that the list of vlds with errors that you were chasing about a month ago are now mostly clear?

Geoff

[2020-12-14 10:27] PatReynolds opened #1070 "Improve experience for smart phone users"

[2020-12-14 10:40] PatReynolds opened #1071 "The Wildcard Epic"

[2020-12-14 10:42] PatReynolds opened #1072 "1063"

[2020-12-14 10:47] PatReynolds opened #1073 "Enhance ability to search using titles i.e. Dr finds Doctor, Rev. finds Reverend etc."

[2020-12-14 10:54] PatReynolds opened #1074 "Create CSV spreadsheets for Ireland"

[2020-12-14 10:56] PatReynolds opened #1075 "Create CSV spreadsheets for Scotland"

[2020-12-14 10:59] PatReynolds commented on #1075
opened in error see  #927

[2020-12-14 10:59] #1075 closed, assigned to nobody

[2020-12-14 11:05] FreecenBren commented on #1068
No really. Will not know till I get the next FC2 report from Vino.
If they worked then they will not be on Vino error report.
Because they work on FC1 does not necessarily mean that FC2 has accepted
them

[2020-12-14 11:07] geoffj-FUG commented on #1068
OK Thanks

Can you keep me in the loop please?

Geoff

[2020-12-14 11:44] PatReynolds opened #1076 "Recent additions report (urgent)"
Links to https://github.com/freeukgen/systemwide/issues/158

E0 U6 S8 C4: P18

[2020-12-14 11:50] PatReynolds opened #1077 "Update revised roadmap (online version)"

[2020-12-14 16:29] Captainkirkdawson commented on #1067
Do not understand this story. We have spent 9 months implementing a replacement for VLD processing called CSVProc. What is being proposed here? Upload of a file is trivial. It will just sit there. There are no current processes that would take the entries and put them in the database. The latter is a 21 size task.

[2020-12-14 16:31] Captainkirkdawson commented on #1070
Experience of what?

[2020-12-14 16:31] Captainkirkdawson commented on #1072
What is this?

[2020-12-14 16:33] Captainkirkdawson commented on #1073
These are emendations as the field is the forename field

[2020-12-14 16:35] Captainkirkdawson commented on #1074
They already exist
![ireland](https://user-images.githubusercontent.com/2874694/102108083-b51d3380-3def-11eb-886d-aea27bf6d566.png)

[2020-12-14 16:37] Captainkirkdawson commented on #1076
Has to be a component of a redesigned Reports system for CEN

[2020-12-15 10:32] geoffj-FUG commented on #1066
Pat
Bev’s volunteers are not even registered and she has declined to register them or use CSVProc. She has decided that her volunteers are different to everybody else’s as they wont cope online.
In addition she has recently added a County to her workload so she now has Cambridge / Norfolk / Suffolk / Surrey / Essex. That is 5 Counties that are presumably not registered and which she has refused to

[2020-12-15 10:59] FreecenBren commented on #1066
Not strictly true.
She does have members registered. I have just looked at a couple of her
counties.
What she is saying is that many or her helpers, want to carry on as they do
now.
She was assured that they could by both Pat and Kirk.

It is very easy to read what COORDS have been sent to do with CSVProc, but
without the required training  it is not easy.
You can only follow instructions to a cer

[2020-12-15 20:56] Captainkirkdawson commented on #1066
Brenda;
New volunteers are automatically registered. However little use has been made of that fact for the very good reason that there was no benefit to so doing.
What I said was that as a volunteer organization we cannot force people to change and some find change difficult. We can encourage, cogole and support those that are willing to try.
It is important to remember, as you know better than mo

[2020-12-16 11:12] PatReynolds commented on #1066
Hello all, do you think it would be helpful to coords (and others) if Anna our video/training volunteer were to make a short video explaining the buttons and what they do?  e.g. "this is where you go if you want to send a message to your coordinator, or to any other member of the FreeCEN project'.? @geoffj-FUG @FreecenBren

[2020-12-16 12:38] FreecenBren commented on #1066
I am sure that would be very useful.

Any help that COORDS can get to help with the future move over to FC2  would be most welcome.

[2020-12-16 13:13] DeniseColbert opened #1078 "Short videos of Your Actions in FreeCEN2"
Short video explaining ~~the buttons and what they do e.g. "this is where you go if you want to send a message to your coordinator, or to any other member of the FreeCEN project'...~~

- Login, access/upload/replace file
- Using reports produced by CSVProc
- How COORDS can manage their transcribers

Comms video story on System wide (cross-project)

[2020-12-16 13:26] DeniseColbert commented on #1066
Story made: https://github.com/freeukgen/freecenmigration/issues/1078

Anna and I will work on this

[2020-12-16 15:13] Captainkirkdawson commented on #1078
Glad to see this story.
Rather than a single video explaining all buttons which would take too long to produce and perhaps be just as daunting. We should perhaps make a series of short videos following the outline in
https://docs.google.com/document/d/18BFuneT2bjbqaQGfT3QLUVW-cCE_ZRPD_RcgpTm3CIE/edit#heading=h.szfug6z51yfg

Even that outline may be too theoretical and aimed at people new toCEN.

F

[2020-12-16 23:23] AlOneill commented on #126
Latest round of suggested edits to Abbreviated Handbook sent today to @geoffj-FUG for consideration.

[2020-12-17 14:20] DeniseColbert opened #1079 "Potential Coord issue with Volunteer registration"
I would be interested to know in what you do when FreeCEN notifies you
that a new transcribers has joined your group (or when one transfers
into it), and what the typical outcomes of it are.

With me, I always send an email to the transcriber, introducing myself,
let them know why I am writing to them, refer them to my project website
(so they can see which pieces I have available), and so, always

[2020-12-17 14:21] DeniseColbert commented on #1079
Story to gain tips/feedback for the Coord. Have suggested he checks if on any spam blacklists and use read receipts.

[2020-12-18 12:23] DeniseColbert commented on #1078
Video 1: Login, access/upload/replace file
Video 2: Using reports produced by CSVProc
Video 3: How COORDS can manage their transcribers

Awaiting Anna to register on live site as Technical and have correct access to actions to be able to make the videos.

Anna will need a file to upload, could @geoff or @Captainkirkdawson send one to me please?

[2020-12-18 16:29] Captainkirkdawson commented on #1078
@DeniseColbert At this stage she needs to be a volunteer (in Technical is fine).
File sent off line.

[2020-12-18 16:41] Captainkirkdawson commented on #1078
@geoffj-FUG may have a better one ( I sent RG11_2460.csv)

[2020-12-18 22:57] Captainkirkdawson opened #1080 "Check into propagation when verbatim is changed"
It should not

[2020-12-18 23:27] geoffj-FUG commented on #1078
1881 is a good year. Not too many fields at that time and it is friendly to users of the FC1 spreadsheets.
Geoff

[2020-12-18 23:30] geoffj-FUG commented on #126
Alison

I will get to it in the New Year. I have put it in my To Do list.

Geoff

From: AlOneill <notifications@github.com>
Sent: Thursday, December 17, 2020 9:24 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Online help and transcriber proc

[2020-12-18 23:35] geoffj-FUG commented on #1066
Denise
Be aware that at the moment volunteers send emails to their Coordinator. We should not change that at the moment - too much, too soon. We need to get people workingwith the essential basics first.
Geoff

[2020-12-19 00:00] geoffj-FUG commented on #1059
Kirk

We shouldn’t be using Country codes. There is a standard list but we use only OVF and OVB.

I asked that question when we started CSVProc and the answer was no change.

I suggest that they might have been early FC1 pieces when they would still have been experimenting.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Friday, December 11, 2020 11:31 AM
To: FreeUKGen/FreeCENMigration

[2020-12-19 00:10] Captainkirkdawson commented on #1059
Issue is the use of WAL as a chapman code rather than WLS

[2020-12-19 10:22] geoffj-FUG commented on #1059
WAL used to be rejected by either CSVCheck or Valdrev, (I am not sure which, maybe both). I have corrected it many times when it has cropped up when the piece was tested. So it has been accepted by a validator along the way even though there was a Warning against it. WAL is not in the original list of valid Chapman Codes from the early 2000s. I copied and pasted that original list from the documen

[2020-12-19 10:24] geoffj-FUG commented on #851
Kirk

Catching up on a backlog of emails.

I have just flagged this one to do in the next couple of days.

Geoff

[2020-12-19 10:26] geoffj-FUG commented on #1058
Kirk

The civil parish of the first port should be one and the same as the parish in which the census return was lodged. That was the  instructions in the census. If it was not we will never know because all we see is the civil parish in which it was lodged.

Geoff

[2020-12-19 10:43] FreecenBren commented on #1059
Quite a few of the Welsh Census often say just Wales and no County.
Probably because of the spelling of many POB’s.
 The enumerator went for the easiest.

CSVCHECK accepts WLS but rejects WAL as Geoff says.

[2020-12-19 18:07] Captainkirkdawson commented on #1059
@FreecenBren @geoffj-FUG I am sorry to have to tell you that RG121953.VLD (a SOM file) contains WAL as a Chapman Code on CEN2 so something is not right somewhere

[2020-12-19 18:14] Captainkirkdawson commented on #1058
Thanks @geoffj-FUG  for the explanation; my lack of knowledge showing through.
Closing

[2020-12-19 20:39] geoffj-FUG commented on #1059
Kirk
I immediately know who transcribed that. I used to do a replace all on his spreadsheets. I must have missed one. Not sure why it validated though.
Mea Culpa
Geoff

[2020-12-19 22:07] Captainkirkdawson commented on #1059
No problem; just needed to ensure we were not missing something; looks like Valdrev does not check.

Will close

[2020-12-19 22:07] #1059 closed, assigned to nobody

[2020-12-20 01:55] Captainkirkdawson opened #1081 "Need to add validity checks on lat/lon in place create"
None now

[2020-12-20 01:57] Captainkirkdawson commented on #1079
Not sure you will get this through a story. Few coordinators have access to zenhub

[2020-12-20 21:40] Captainkirkdawson commented on #1080
I have committed an update to test3 that addresses both the scholar validation as agreed above. It also tightens up when we offer POB propagation.

[2020-12-21 15:01] ghost opened #1082 "188482263 Missing contact message from System (John)"
Issue reported by **johnt** at 2020-12-21 12:11:03 UTC
Time: 2020-12-21T12:06:54+00:00
Session ID: 9b60ecec5fb774a92e584acc319e98bf
Problem Page URL: [/messages/userid_messages?locale=en](/messages/userid_messages?locale=en)
Previous Page URL: [https://www.freecen.org.uk/manage_resources/new?locale=en](https://www.freecen.org.uk/manage_resources/new?locale=en)
Reported Issue:
I have received a Fre

[2020-12-21 15:32] DeniseColbert commented on #1079
I will feed back any info we have for the Coord

[2020-12-21 16:04] #1053 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-12-21 16:06] Captainkirkdawson commented on #1080
@geoffj-FUG Thanks for the off line feedback. Have added an additional test and deployed to test3 and production.

[2020-12-21 16:09] #1058 closed, assigned to nobody

[2020-12-21 16:11] DeniseColbert commented on #1066
We are planning a future video on Communications but it will be a general video, as all three project websites have the same system. This can be shared with FreeCEN transcribers at the appropriate time.

[2020-12-21 16:11] Captainkirkdawson commented on #969
Found situations where it is needed

[2020-12-21 16:42] PatReynolds commented on #429
@geoffj-FUG can https://freecen1.freecen.org.uk/project.htm be deleted now?

[2020-12-21 17:12] #133 closed

[2020-12-21 17:12] #1080 closed, assigned to Captainkirkdawson

[2020-12-21 17:13] #530 closed

[2020-12-21 17:14] #741 closed

[2020-12-21 17:17] PatReynolds commented on #834
Downloaded VLD can be uploaded as other CSV using CSVproc - will go through same proofreading and validation checks (but this can be quite useful).

[2020-12-21 17:17] #834 closed, assigned to Captainkirkdawson

[2020-12-21 17:19] PatReynolds commented on #616
@geoffj-FUG can you explain what is needed, please?

[2020-12-21 17:21] #721 closed

[2020-12-21 17:21] #361 closed

[2020-12-21 17:23] PatReynolds commented on #803
@Captainkirkdawson to see if this was fixed in the recent upload.

[2020-12-21 17:26] #571 closed

[2020-12-21 17:29] PatReynolds commented on #1043
Now business as usual, so closing.

[2020-12-21 17:29] #1043 closed, assigned to PatReynolds

[2020-12-21 17:34] PatReynolds commented on #1066
Coords are doing this as part of starting to use FreeCEN2.

Can this be closed @geoffj-FUG

[2020-12-21 17:44] PatReynolds commented on #1079
Denise to ask Chris to bcc her, so she can check they are getting out of his system.

[2020-12-21 17:56] #1074 closed, assigned to nobody

[2020-12-21 18:03] PatReynolds commented on #1067
VLDs can already be uploaded as CSV files - so deleting from Roadmap and will then close.

[2020-12-21 18:05] PatReynolds commented on #1064
emendation is the only thing left - @Pat to add that story number to the roadmap and close this.

[2020-12-21 18:13] #1056 closed, assigned to nobody

[2020-12-21 18:14] PatReynolds commented on #1055
They need to know in order to allocate work that has to be open. therefore closing.

[2020-12-21 18:56] Captainkirkdawson commented on #1082
Have confirmed there is an issue.

[2020-12-21 20:52] Captainkirkdawson commented on #1082
Talking through back of the head. No issue

[2020-12-21 20:52] #1082 closed, assigned to Captainkirkdawson

[2020-12-21 21:27] geoffj-FUG commented on #616
Brenda
Have the blank rows in vld files that vldrev stated were ignored been loaded and are they causing problems?
Geoff

[2020-12-22 06:19] geoffj-FUG commented on #851
Kirk
I have downloaded the vld file OK and opened it as a .csv fle.
If the piece is a vld file and is being downloaded then it has been validated. The .csv is not a validated .csv as there is no validation column.
The purpose of downloading a vld file may be as simple as correcting an ecclesiastical parish by one letter. We do not want to revalidate the whole thing.
I downloaded RG121918.vld It is

[2020-12-22 09:18] FreecenBren commented on #616
They do not cause an issue on their own.

If a VLD  fails at upload as an ERROR, and i correct it by amending and
replacing in FC1, then if I do find some blank rows,  mostly at the end of
the piece,  I do delete them when I adjust the error.
Not sure if other COORDS do the same.

They are picked up in CSVCHECK.
Before sending it to be  Proof Read, using Visual Checking ,  I do run it
through CSVC

[2020-12-24 00:03] Captainkirkdawson opened #1083 "Add standard name to District, Piece and Civil Parish."
Given that there are no standards on case control and special characters for TNA names and that transcriber input may vary in case there will be occasions when we will not be able to do a match. Hence we propose to add a standard name for the District, Piece and Civil Parish in the same manner as we did for Freecen2 Place and select based on that.

[2020-12-25 15:55] Captainkirkdawson commented on #1081
Checks added

[2020-12-25 15:55] #1081 closed, assigned to Captainkirkdawson

[2020-12-25 15:59] Captainkirkdawson commented on #1083
@geoffj-FUG Databases updated with new field Code changed to use the new field and deployed to test3 for testing.

[2020-12-25 21:21] Captainkirkdawson opened #1084 "Ensure that there is not multiple processing of the same file from the same user"
Looking at the logs shows simultaneous processing of the same file from the same user this should not be permitted

E0 U6 S9 /C6: P21

[2020-12-26 16:27] Captainkirkdawson opened #1085 "Promulgate an entry in the notes field"
John Toplis has suggested:
It would be a nice enhancement if we could be offered the chance to promulgate an entry in the notes field. I am  just validating a 9,000+ piece and there quite a few entries for "Kibworth” I am entering that it could be either “Kibworth Beauchamp or Kibworth Harcourt”

[2020-12-26 16:28] Captainkirkdawson commented on #1085
Initial reaction was
If it applies to the same POB that is being promulgated it is doable

[2020-12-26 16:32] Captainkirkdawson commented on #1085
Geoff  supported
John’s enhancement sounds good. I can see it saving the Validator a lot of work. It should be a separate action to Promulgating the POB and should be able to be actioned when there are no notes and the POB fields match. The flags should change so that it gets validated when the recurrences occur.

[2020-12-26 16:52] Captainkirkdawson commented on #1085
@geoffj-FUG
It is possible to promulgate the note added when an alternate POB is added for an entry as part of that promulgation.
It is also possible to promulgate the note added to an entry to other entries with the same POB
It would be one or the other that gets offered NOT both

[2020-12-26 19:01] Captainkirkdawson opened #1086 "Check our file naming"
Some pieces are named RG10_1535A these are loaded from a file name RG10_1535A.csv; they appear to be stored as RG10_1535a.csv

This may give issues with replace and download.

Need to review

[2020-12-28 16:50] Captainkirkdawson opened #1087 "Promulgation of the folio number"
@geoffj-FUG
I have confirmed that the download of a file will **always have both the folio and page numbers** set whenever **a page number changes**.
This clearly is incorrect from a strict interpretation of the TWYS rules
But as far as I can see this will not interfere with any offline or online changes being made by transcribers, proofreaders, validators or coordinators.
It can be corrected if r

[2020-12-28 17:49] #1086 closed, assigned to nobody

[2020-12-28 18:29] Captainkirkdawson commented on #969
Code added and deployed to test3. Capability restricted to DM and SA

[2020-12-29 10:47] geoffj-FUG commented on #1087
Kirk

That creates a problem.

If we take the process:

Transcriber – Uploads transcriptions several times. No need to download. Instructions say enter only when Folio changes. No impact.

Coordinator copies piece to Proofreader.

Proofreader downloads piece – Folio numbers added. Warnings produced for every second Folio number. Proofread and Uplaoded.

Coordinator copies piece to Validator.

Vali

[2020-12-30 16:10] PatReynolds commented on #421
DRAFT FreeCEN Roadmap page with summary which is sufficient for most (but link for those wanting more) created, draft now with @nirgo9116 for proofing

[2020-12-30 16:14] PatReynolds commented on #1072
Created in error?  So closing.

[2020-12-30 16:14] #1072 closed, assigned to PatReynolds

[2020-12-30 16:32] #1055 closed, assigned to nobody

[2020-12-30 16:40] PatReynolds commented on #1068
Hi Geoff,

My understanding is (and @Captainkirkdawson may need to correct me) that the  file uploaded to FreeCEN1 is corrupt, and there is no way of checking this - FC1 accepts it, but FC2 does not.

The resolution seems to be that the file as transferred to FC2 needs to be downloaded (i.e. as a CSV file) the converted into the appropriate format for FC2 upload, and processed using CSVProc.

It w

[2020-12-30 16:54] PatReynolds commented on #1068
Duplicates #803 so closing.

[2020-12-30 16:54] #1068 closed, assigned to PatReynolds

[2020-12-30 16:57] #1067 closed, assigned to PatReynolds

[2020-12-31 00:29] Captainkirkdawson commented on #1087
@geoffj-FUG

I have fixed the download so that the folio number is only included when it changes which means the file will represent what was uploaded.
This fix will apply to all new uploads, but not to those already downloaded.

Have also fixed the Folio and Page change display so that only displays the folio number when it changes
![folio change.png](https://images.zenhubusercontent.com/5b68ae68

[2020-12-31 07:41] geoffj-FUG commented on #1087
Thanks Kirk

I will check it on the next piece I validate. I will get John to watch for it too.

I have a couple of priorities before that.

Geoff

[2021-01-02 15:25] Captainkirkdawson commented on #1083
JohnT tested and we deployed.

[2021-01-02 15:25] #1083 closed, assigned to Captainkirkdawson

[2021-01-02 15:26] Captainkirkdawson commented on #969
Deployed

[2021-01-02 15:26] #969 closed, assigned to Captainkirkdawson

[2021-01-03 18:27] PatReynolds commented on #429
https://freecen1.freecen.org.uk/project.htm

Contains links to various pages detailing which records are available and awaiting transcribers:
http://freepages.rootsweb.com/~bowbren/genealogy/index.htm contains data on Brenda's, John Toplis' and Beki House's counties, last revised 2017

http://freepages.rootsweb.com/~durhamcensus/genealogy/index.html  is for Carole's counties (Dorset, Yorkshire, Du

[2021-01-03 18:33] PatReynolds opened #1088 "Add emendation to first name searching"
This will take the knowledge built in FreeREG (see story #823 for part of this work) which groups first names according to their variants - eg Patricia, Patty, Pattie, Patsy, Pat - a search for any one will find the others.

Creating the emendation table for FreeCEN will also include titles (e.g. Knt. for Knight, Rev. for Reverend, Bart. for Baronet, Dr. for Doctor).

E0 U3 S6 C4: P13

[2021-01-03 18:34] PatReynolds commented on #1073
Could not find story, so created #1088 and closing this

[2021-01-03 18:34] #1073 closed, assigned to PatReynolds

[2021-01-03 18:34] PatReynolds commented on #1064
Could not find existing story, so created #1088 and clsing

[2021-01-03 18:34] #1064 closed, assigned to PatReynolds

[2021-01-03 18:37] PatReynolds commented on #1077
Nir doing first proof

[2021-01-03 21:22] geoffj-FUG commented on #1068
Pat

I can try one in test if you like to see what happens. Logic says it should work.

We now have quite a few records uploaded via CSVProc. Probably getting on for 20,000 between John and I by next weekend.

When is the next error report run, please? We need to see whether any of these pieces report problems first.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Thursday, December 31,

[2021-01-04 00:30] Captainkirkdawson commented on #1088
I was under the mistaken impression that FreeCEN2 had always used emendations. Looks like I was wrong

[2021-01-04 15:29] PatReynolds commented on #911
Contacted TNA 4 Jan 2021

[2021-01-04 16:07] PatReynolds commented on #1060
Emailed contact at NLS 4 Jan 2020

[2021-01-04 16:29] PatReynolds commented on #1054
Have made some changes, ready for review.  Unable to link to the Handbook (links needed both in the links near the top, and in the final section).

[2021-01-04 17:03] PatReynolds commented on #1087
Needs confirmation that this issue is resoved. @geoffj-FUG to test

[2021-01-04 17:05] PatReynolds commented on #851
Deployed, but not tested. @geoffj-FUG could test

[2021-01-04 17:08] PatReynolds commented on #616
Recent updates not having such errors.  Closing, to re-open if errors recurr.

[2021-01-04 17:08] #616 closed

[2021-01-04 17:10] PatReynolds commented on #1054
@AlOneill to see if she can figure out what Pat is doing wrong in linking to the Handbook page

[2021-01-04 17:21] PatReynolds opened #1089 "Updating District > Piece > Civil Parish names"
Needs to be a management team role, rather than a Coord role, due to complexity. - Needs adding to Handbook

Work from the top down.

@rhodamackenzie to make changes.

[2021-01-04 17:25] PatReynolds commented on #606
Piece name used currently.

All three levels should be used (future).

[2021-01-04 17:31] #847 closed, assigned to PatReynolds

[2021-01-04 17:35] #758 closed

[2021-01-04 17:37] #1079 closed, assigned to DeniseColbert

[2021-01-04 17:39] PatReynolds commented on #1088
Code is there. Emendations are there. Needs implementing

Will involve updating whole database.

[2021-01-04 17:44] PatReynolds commented on #1085
@geoffj-FUG could you comment on this, please?

[2021-01-04 18:12] AlOneill commented on #1054
@PatReynolds The DRAFT page is a copy of 'Information for **Transcribers**' rather than for **Coords** (see lead para, for instance). What would you like to do about this?

The Handbook page is not listed when using the 'Insert Link' button (I do not know why not), so the link will need to be inserted manually (in the HTML pane).

[2021-01-04 23:14] geoffj-FUG commented on #1085
The test should simply be Has the Notes changed?
Promulgate Notes should copy the notes into every record that has the same Verbatim Chapman Code and Verbatim Place of Birth and where the existing notes are null. It should not be dependant on an alternative entry.
The purpose is to promulgate information where an entry such as Newton Devon is enumerated. Now we have the space we can suggest all 6

[2021-01-04 23:28] AlOneill commented on #1085
But, there could be more than Place suggestions in the Notes field. Can we separate the parts without losing information or adding anything irrelevant? (I hope so!)

[2021-01-04 23:31] geoffj-FUG commented on #1085
Alison
The Promulgation will be an Action that the validator chooses to either do or not do. This is already the case with alternative POBs at the moment.
My Place suggestion was an example. But the promulgation will be dependant on the verbaitim place of birth otherwise we have no way of controlling it.
Geoff

[2021-01-05 13:03] suffolkroots commented on #99
I am not at all happy with the National Archives links. They seem to be incorrect in so many cases.

Classic examples are Islandshire and Norhamshire for DUR 1841.

These are NBL places, pieces are in FreeCEN1 for NBL. How have they changed to DUR in CEN2?

It seems a bit of a mess.

Nearby places seems a pipe dream if the going live timescale is to remain.

[2021-01-05 14:00] suffolkroots commented on #1063
I am not at all happy with the National Archives links. They seem to be incorrect in so many cases.

Classic examples are Islandshire and Norhamshire for DUR 1841.

These are NBL places, pieces are in CEN1 for NBL. How have they changed to DUR in CEN2?

Now they have to be moved back from DUR to NBL. And many more such. Vamos DM!

Nearby places seems a pipe dream if the going live timescale is to

[2021-01-05 22:26] Captainkirkdawson commented on #1010
Confirmed that the monthly update now adds the birth_place to the search record.
Now need to write a slow crawler to update all existing search records with the field.
Once that is done we can sort on that field

[2021-01-05 22:33] geoffj-FUG commented on #1010
Kirk

I presume from this that it is the birth_place you are searching on and not the verbatim_birth_place. Or is it verbatim_birth_place unless birth_place is populated?

There will be places that we have never found at validation. They usually have a note entry. The reason that I raise this is that there will be several thousand entries that will not match the Place Names database. In addition t

[2021-01-05 22:56] Captainkirkdawson commented on #1010
@geoffj-FUG this has nothing to do with the search. Late in 2020 we added the display of an individuals birth place to the Search results page
![search results](https://user-images.githubusercontent.com/2874694/103708417-c9c39600-4f6d-11eb-9818-fd6422c1dd37.png)
For vld entries we look up the individual to get the information. For csv we add the information to the search record at incorporation. W

[2021-01-05 23:08] Captainkirkdawson opened #1090 "Remove the Irish Counties from the Census County search options"
We have no transciptions would it not be better therefore not to offer to search them

[2021-01-05 23:38] Captainkirkdawson commented on #803
Afraid to have to say nothing has been fixed
The file rg092827.vld fails with an error notification
The files with blank entries are still there. In total there are 8848 entries with nul chapman codes (the entries look to be blank lines

[2021-01-06 00:21] Captainkirkdawson commented on #1063
@suffolkroots
It is important to be careful when talking about places. Yes there are issue with TNA but that does not affect the Place of Birth information entered into a census. Yes the POB nearby search feature will need to make use of the geographic location of a Civil Parish and that is why the coordinators are being asked to ensure that those are linked to a known geographic place in the Free

[2021-01-06 00:42] Captainkirkdawson commented on #99
@suffolkroots
This an old and obsolete story that is no longer active.
It was replaced by the Epic **Manage Parms and their Pieces Directly on CEN2#852**
This is now operational.
Geoff's handbook covers much of this starting on page 67 in the section **How to Manage the PARMS Files**
The Intercounty you raise has been recognized and addressed through the section  **How to Handle Inter-County Piece

[2021-01-06 04:12] geoffj-FUG commented on #1010
Thanks Kirk

Just sanity checking.

I understand now.

Geoff

[2021-01-06 10:28] geoffj-FUG commented on #1083
Done and dusted!

[2021-01-06 10:41] geoffj-FUG commented on #429
https://freecen1.freecen.org.uk/project.htm Table needs updating. This is useful info but we dont need links to Coordinators in it. It discourages people from using the registration process.
The personal pages of each Coordinator are there because of the need to have a public profile. (Somerset is at https://sites.rootsweb.com/~somtcen/ but not listed above. It cant be updated because Rootweb have

[2021-01-06 11:31] suffolkroots commented on #99
Sorry to reply on closed post---just to be clear---the two 1841 districts mentioned above are not inter-county/inter-parish problems, they are erroneously linked by TNA to wrong county, being far away from Durham border. Yes, they will need moving, due to mistakes by TNA.

[2021-01-06 16:00] FreecenBren commented on #429
My links are there but everyone is out of date.
I cannot delete them,  as Geoff says,  as Roots Web will not let me.
Cannot update them neither. So catch 21.
Nov 2016 was the oldest  per county that were updated.
The index page was last updated 2018 so that is out of date anyway.

Brenda

From: geoffj-FUG <notifications@github.com>
Sent: 06 January 2021 10:41
To: FreeUKGen/FreeCENMigration <FreeCE

[2021-01-06 16:01] Captainkirkdawson commented on #99
Thanks for that clarification

[2021-01-06 16:16] Captainkirkdawson opened #1091 "Yorkshire Parms"
Yorkshire Ridings PARMS have been done at District level. It has stopped at that level.

We have another TNA mess. Whilst PARMS are recorded against Ridings there is no respect for Riding boundaries within pieces.
@geoffj-FUG commented _We seem to have made a millstone for our own necks by splitting the YKS PARMS into Ridings. They are more manageable beyond the YKS border._

  Ali is not working

[2021-01-06 16:19] Captainkirkdawson opened #1092 "Durham Parms"
Ali is currently working on Durham at District level.

[2021-01-06 16:20] Captainkirkdawson opened #1093 "Middlesex Parms"
MDX PARMS is in progress and is currently being worked on at District level.

[2021-01-06 16:23] Captainkirkdawson commented on #1092
It is reported by @geoffj-FUG that _Durham presents another problem. It has listed wards at the District level._

[2021-01-06 16:24] Captainkirkdawson commented on #1092
@geoffj-FUG Is this true for all years or just one? Extent of issue is important in determining action

[2021-01-06 16:25] Captainkirkdawson commented on #1091
@geoffj-FUG Is this true for all years or just one?

[2021-01-06 16:38] Captainkirkdawson commented on #1092
Ali reports _Classic examples are Islandshire and Norhamshire for DUR 1841.

These are NBL places, pieces are in FreeCEN1 for NBL. How have they changed to DUR in CEN2?_

[2021-01-06 16:43] Captainkirkdawson commented on #1092
Ali noted _the two 1841 districts mentioned above are not inter-county/inter-parish problems, they are erroneously linked by TNA to wrong county, being far away from Durham border. Yes, they will need moving, due to mistakes by TNA._

[2021-01-06 17:37] DeniseColbert opened #1094 "Add message (or part of) to Message System email notifications"
Per https://app.zenhub.com/workspaces/freereg-5c8d31ec9dfa726d3bf773e3/issues/freeukgen/freeukregproductissues/1404

[2021-01-06 18:01] FreecenBren commented on #1092
I am not up to date with things. So here goes my questions or thoughts that
are probably all wrong as I have my FC1  head on.

This is what Genuki says about DUR/NBL

*From History, Topography 1841. Just one place as an example.*
*"KYLOE, a parish in the division of Islandshire, county Northumberland,
formerly in Durham.*

I am sure we will have many of these kind of situations in the future.
NTT

[2021-01-06 18:17] PatReynolds opened #1095 "Put preview of messages into email"
See FreeREG1404
Reported Issue:
In the same way as we have for Contact messages, we should include the message content in the email from the SC to their syndicate members via the Syndicate Messages action so they don't have to login to read it.

We should also do this for general message emails from the Message System action so they only need to login if they want to reply.

Consider limiting the

[2021-01-06 23:34] Captainkirkdawson commented on #1092
@FreecenBren
Thanks for the comment. I will try to respond in simple terms

The Parms for CSVProc are 100% based on TNA. They are a complete extract of their information.
They have been extracted into a District> Piece>Civil Parish structure. Which is the TNA structure.

So **CSVProc is based on the same information used by Freecen1.**

It has just being displayed in ways they were not previously

[2021-01-06 23:37] Captainkirkdawson commented on #1092
@geoffj-FUG I do not understand why the 1841 districts are a problem by being a ward. Wards are the equivalent of Hundreds in other counties and that is how TNA has described all of 1841

[2021-01-07 00:18] Captainkirkdawson commented on #1092
@geoffj-FUG  from wiki
County Durham was divided into wards, analogous to hundreds. From an 1840 map of County Durham [6].

Chester-le-Street
Sadberge
Easington
Stockton

Northumberland was subdivided into baronies, which were arranged in six wards ] The wards were analogous to hundreds. From the National Gazetteer of Britain and Ireland (1868) [12]

Bamburgh
Castle[45]
Coquetdale
Glendale[46]
Mor

[2021-01-07 00:54] geoffj-FUG commented on #1092
Kirk

It was late at night and I did not investigate further.

My experience was that Hundreds, Wapentakes, Baronies were the same thing.

In my experience Wards were a Borough administration area. Now I know better.

Geoff

[2021-01-07 01:55] Captainkirkdawson commented on #1092
@geoffj-FUG No problem I did not know until I did some research.

There may well still be issues with 1841 in Durham but that is likely to be a common statement for 1841 everywhere

[2021-01-07 06:23] geoffj-FUG opened #1096 "Additional Rooms field in 1891 spreadsheet"
The spreadsheet for the year is missing this column, and the handbook states that the columns was only used for the 1901, and 1911 census. It has come to light that we have missed the entry in 1891.
I went through all of these fields several times and had them double checked. We have been transcribing and testing for months and this was completely missed.
A column called Rooms needs to be inserted

[2021-01-07 06:32] geoffj-FUG commented on #1096
Note above should read <5  not <=5. The test is the same as 1901.

[2021-01-07 11:02] geoffj-FUG commented on #1087
I have just downloaded a couple of recently uploaded pieces and the folio number is not duplicated.
I have also uploaded a FC1 Traditional spreadsheet,, converted it to the new Headers, and downloaded it. No duplicated Folio numbers.
Looks good now
:)
Geoff

[2021-01-07 11:10] geoffj-FUG commented on #851
Pat
See my comment from 22 December.
So far I have been able to download a vld file as a csv file OK in test.
But I cannot reload it, The .csv file has no validated column. It therefore needs revalidation.
The downloaded .csv file needs an additional column added and set to True for all records to show that the record is validated. Otherwise the complete piece has to be revalidated from scratch.
W

[2021-01-07 11:19] geoffj-FUG commented on #688
As the Validaotrs gradually populate the Place Names Database this information will be available there, together with Lat/Long and link to Google Maps and a relevant web page. The Database does not just have Countries it has places within countries.
The list will then become defunct (probably about 12 months time).
Geoff

[2021-01-07 15:24] AlOneill commented on #688
**Some places are time-sensitive:** for instance, the Ionian Islands (Corfu, Ithaca, Kephalonia, Kythira, Lefkas, Paxos and Zakynthos or Zante) were British **from 1809 to 1864 only**. In such cases the date of birth is important in deciding whether OVB or OVF is appropriate (in the absence of other information in the census entry). Will this be reflected in the database?

[2021-01-07 15:34] ghost opened #1097 "189842274 Place name additional space (Geoff)"
Issue reported by **somt.cen** at 2021-01-06 05:57:54 UTC
Time: 2021-01-06T05:54:23+00:00
Session ID: c98c15c88c36bb371170455e20c2e589
Problem Page URL: [/freecen_csv_entries/5ff45571f493fd686ca759e4?locale=en](/freecen_csv_entries/5ff45571f493fd686ca759e4?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_csv_entries/5ff45571f493fd686ca759e4/edit?locale=en](https://www.freecen.org.

[2021-01-07 15:36] ghost opened #1098 "189907836 Ireland searches(Clare Pierson)"
Issue reported by **Clare Pierson** at 2021-01-07 00:10:36 UTC
Time: 2021-01-07T00:06:20+00:00
Session ID:
Problem Page URL: []()
Previous Page URL: [https://www.freecen.org.uk/contacts/new](https://www.freecen.org.uk/contacts/new)
Reported Issue:
How on earth do I get no results when I search for McQuilkin in County Antrim census records??  Several McQuilkins lived in County Antrim, some in East

[2021-01-07 15:39] ghost opened #1099 "189929771 Incorrect year report (Geoff)"
Issue reported by **somt.cen** at 2021-01-07 06:16:11 UTC
Time: 2021-01-07T06:11:46+00:00
Session ID: 5f552abe6cb8ef8b34721f960ea22544
Problem Page URL: [/csvfiles/new?locale=en](/csvfiles/new?locale=en)
Previous Page URL: [https://test3.freecen.org.uk/freecen_csv_files/my_own?locale=en](https://test3.freecen.org.uk/freecen_csv_files/my_own?locale=en)
Reported Issue:
Kirk
I am in test.
I have down

[2021-01-07 15:41] ghost opened #1100 "189963661 missing parish (Kirk)"
Issue reported by **Captkirk** at 2021-01-07 15:41:01 UTC
Time: 2021-01-07T15:38:12+00:00
Session ID: e0a712c8a93c59b38ac52dee70dd0459
Problem Page URL: [/feedbacks](/feedbacks)
Previous Page URL: [https://www.freecen.org.uk/manage_resources/new?locale=en](https://www.freecen.org.uk/manage_resources/new?locale=en)
Reported Issue:
One of my transcribers has an error report. I am looking at RG13_228

[2021-01-07 15:52] Captainkirkdawson opened #1101 "Offline listing of index displays for District, Piece and Civil Parish"
@rhodamackenzie has identified that it would be extremely useful for the DM and Coordinators to be able to obtain an off line report of the index display

[2021-01-07 15:54] Captainkirkdawson commented on #1095
Tweak code implemented for FreeREG when that is done

[2021-01-07 20:48] geoffj-FUG commented on #688
Alison

 Most validators will plump for OVB and that will be correct most times.

In reality we don’t know whether a person not born in the UK is OVB or OVF if they appear to be OVF in the census. That is because we do not know their parentage or other circumstances. It was not important until the 20th Century when it starts to appear as a census question.

The Ionian Isles will be entered into th

[2021-01-07 20:49] geoffj-FUG commented on #688
Alison

Most validators will plump for OVB and that will be correct most times.

In reality we don’t know whether a person not born in the UK is OVB or OVF if they appear to be OVF in the census. That is because we do not know their parentage or other circumstances. It was not important until the 20th Century when it starts to appear as a census question.

The Ionian Isles will be entered into the

[2021-01-07 21:57] geoffj-FUG commented on #688
Alison

I have attached a spreadsheet (to your direct copy of this email).

Can you transfer your OVB information to this spreadsheet (including latitude and longitude) so that it can be uploaded directly to the Gazetteer, please?

In every case you should enter the Chapman Code as OVB.

Genuki etc column is the proof that it exists (e.g. Wikipedia) and Source is the web address.

That will effect

[2021-01-08 00:40] AlOneill commented on #688
Blimey! I walked straight into that one.

This will be a biggie, because:
* My listing is for the 19th century only — expanding it to cover the 20th century will be complicated and pains-taking
* I currently have no latitude & longitude information (CEN1 did not require it)

The spreadsheet will take me in the order of months to complete, so if anything about your request was said in jest, now is

[2021-01-08 00:51] AlOneill commented on #921
@PatReynolds The page is **not** ready for deployment because the link to the accessibility statement is still broken.

I will investigate.

[2021-01-08 01:00] AlOneill commented on #921
@PatReynolds There are two issues here: the Accessibility Statement page is a DRAFT and even if it was not, it is not a child of About, as the `href` states.

Moving back to In Progress and adding a Dependency.

[2021-01-08 01:09] AlOneill opened #1102 "Add an Accessibility Statement"
This appears to be in progress — there is a DRAFT page — but I cannot find the story.

[2021-01-08 01:54] geoffj-FUG commented on #688
Alison

Just do a few at a time. They will gradually get done. We can upload spreadsheet page(s) in batches.

Grid references are only UK based. So you will only use latitude and longitude.

I get latitude and longitude simply by Googling place latitude and longitude. A decimal comes up and that can be copied and pasted into the 2 cells and then edited. Note that South and West are both negative w

[2021-01-08 01:57] geoffj-FUG commented on #688
Alison

PS – If you go to the FreeCEN2 Gazetteer you will see what I did with the Ionian Islands. Search Ionian with no County selected and it will bring up all the entries.

Geoff

[2021-01-08 10:28] PatReynolds commented on #688
We should (some how / somwhere record that we are using the WSG84 (maybe add to the About page?)

Just in case (would hate to find that I should have mentioned this before) and it is news to Alison or anyone else working on coodinates:  ... nb that Google uses N and S, E and W for lat and long.  South and West are  recorded as negative,, eg the -40.9006 in Geoff's example = 40.9006S  Piositives (e

[2021-01-08 10:30] PatReynolds commented on #1102
Story #921  (sorry, no that is not the story!)

[2021-01-08 10:32] PatReynolds commented on #921
This appears to be in part an issue with the instructions for creating new pages: they are supposed to be created outside the structure.  Shall I move the Accessibility statement into the structure?

[2021-01-08 10:33] geoffj-FUG commented on #688
Pat

There is a thorough explanation on latitude and longitude in the Handbooks.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Friday, January 8, 2021 8:29 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Comment <comment@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Convert Alison's listing o

[2021-01-08 14:36] AlOneill commented on #921
The instructions say not to **link** a new page into the structure, which is not the same thing. The main issue is that the Accessibility Statement page is still a DRAFT: that page must be checked and signed off before the About DRAFT can be signed off and made sync-ready.

In the meantime, I've moved the DRAFT Accessibility Statement to be a child of DRAFT About.

[2021-01-09 00:40] Captainkirkdawson commented on #1101
@rhodamackenzie CSV downloads of the District, Piece and Civil Parish full and yearly indexes are deployed to test3 for final testing. If OK will deploy to production.
@geoffj-FUG  FYI you may or may not want Coordinators to be aware of these or simply allow Rhoda to use them with coordinators in their clean up
Links on thye pages eg
![Districts.png](https://images.zenhubusercontent.com/5b68ae684b

[2021-01-09 01:49] Captainkirkdawson commented on #1096
@geoffj-FUG field added to spreadsheet for 1891.Verification of the field is the same as 1901 Deployed to test3 for checking

[2021-01-09 01:50] geoffj-FUG commented on #1101
Kirk

Thanks for this. I will have a look.

Yes, I will make Coordinators aware as soon as they are available. I will write something to go with  it.

Geoff

[2021-01-09 01:50] geoffj-FUG commented on #1096
Thanks Kirk

I will test this evening

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Saturday, January 9, 2021 11:50 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Additional Rooms field in 1891 spreadsheet (#1096)

@geoffj-FUG <h

[2021-01-09 01:53] Captainkirkdawson commented on #1100
@geoffj-FUG clearly the EDS are not alright "Puriton"=>["2", "0#8"],  Huntspill"=>["4", "5", "6", "0#8"]. Further research is required

[2021-01-09 01:54] Captainkirkdawson commented on #1100
@geoffj-FUG research is required, may take a day or 2

[2021-01-09 03:43] Captainkirkdawson commented on #1101
@geoffj-FUG In most cases @rhodamackenzie will have to action changes. They should use these to note what they want changed and why IMO

[2021-01-09 05:19] Captainkirkdawson commented on #1100
this looks dangerous
![worrisome.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/57745b46-b0ad-488e-8ba1-b2e349b978b2)

[2021-01-09 05:38] geoffj-FUG commented on #1100
Kirk
I have asked for this to be fixed. I will add a note against each field in the Handbook.

I still cannot see why the Civil Parish should not match Pawlett.

PS I did not refer Chilton on Polden to you as I have added it as an Other Place Name in the Gazetteer. I have asked him to retest that one.

Geoff

[2021-01-09 06:59] geoffj-FUG commented on #1096
Kirk

Spreadsheet downloaded.

Data populated with a range of Rooms entries. All test OK

Can be migrated.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Saturday, January 9, 2021 11:50 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigratio

[2021-01-09 11:58] rhodamackenzie commented on #1101
Geoff,
Please ask the coordinators to use these when they are asking me to do name changes or moves as this will speed things up considerably. They can ignore punctuation issues as I will sort them out.
Thanks to you both for for doing this,
Rhoda

[2021-01-09 12:03] geoffj-FUG commented on #1101
Rhoda / Kirk
I will ask once they are live. Are they under the County menu?
Geoff

[2021-01-09 12:10] rhodamackenzie commented on #1101
Click:

County
Manage District (or pieces or civil parishes)
Choose year
Button is there at the top

There is another one for a large file under the full index button but best if they do not use that so only mention the one on the individual years
Cheers, Rhoda
[cid:image002.jpg@01D6E680.6854D240]

[2021-01-09 12:25] geoffj-FUG commented on #1101
Rhoda

That makes it all transparent and therefore so much easier.

Well done

Geoff

[2021-01-09 14:53] Captainkirkdawson commented on #1101
@rhodamackenzie @geoffj-FUG

The full index one is the one that is used to ensure that Districts/Pieces or Civil Parishes have the same spelling. It can be used by Rhoda without reference to the coordinator to ensure a common spelling.

Coordinators though likely do need it if they want to try to line up the 1841 hundreds

I will add a final column for their notes or should I call it Actions Requi

[2021-01-09 15:17] rhodamackenzie commented on #1101
Yes, actions required is best title for that column.

[2021-01-09 15:25] Captainkirkdawson commented on #1100
@geoffj-FUG
It is because Pawlett is spelt Powlett in 1901 parms for that Piece
![2286.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/45523256-0cf3-4677-894e-e607cee31cd9)
Doing a fill index civil parish csv for Somerset shows it missing and where it is.
![pawlett.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/5bb2aa6d-ac09-446e-9b7e-8f6c35793c9e)
![powlett.

[2021-01-09 15:52] Captainkirkdawson commented on #1096
@geoffj-FUG Deployed to production

[2021-01-09 15:52] #1096 closed, assigned to Captainkirkdawson

[2021-01-09 15:53] Captainkirkdawson commented on #1101
@rhodamackenzie @geoffj-FUG Deployed to production

[2021-01-09 15:53] #1087 closed, assigned to Captainkirkdawson

[2021-01-09 21:52] geoffj-FUG commented on #1100
Thanks Kirk
I couldn't see that. A case of wood and trees.
The spreadsheet is going to be a big help in this. It is easier to read.
Geoff

[2021-01-09 22:15] #1100 closed, assigned to Captainkirkdawson

[2021-01-10 00:25] Captainkirkdawson commented on #1099
@geoffj-FUG It was my error in the formatting of the file name. For 1851 there was a double  hyphen rather than a single one. HO107__1924.csv  rather than HO107_1924.csv Corrected and deployed

[2021-01-10 00:25] #1099 closed, assigned to Captainkirkdawson

[2021-01-10 02:10] Captainkirkdawson commented on #851
@geoffj-FUG
The file can be uploaded as downloaded. Yes it will produce all of the errors and warnings.
If we add the record valid field then it will not upload because it is a new file and therefore not being validated.
There is no way of distinguishing a downloaded vld file from any other file.
In fact if it has errors, and all I have tested to date do have errors, it cannot be in validation by

[2021-01-10 09:51] geoffj-FUG commented on #851
Kirk
Have a look at Notes. They have been duplicated.
I have examined all the errors in detail:
Query - Is the report being generated before or after the fields have been prefilled? They are prefilled but reporting as Errors.

Have a look at Row 5429 et seq, These haven't sorted out the repetition when converted.

Row 5519 error is due to a change in rules. We do not pass the y after 999. It looks

[2021-01-10 09:58] geoffj-FUG opened #1103 "Merchant Vessel Page Numbers"
The Instructions state:
For Merchant Vessels, there may be no Page Numbers: Use "0" (zero)
However Page number 0 creates an error.
Records in FC1 contain the page number 0 so we need to modify the page number test to accept it.
Geoff

E0 U6 S 9 C6: P21

[2021-01-10 16:59] Captainkirkdawson commented on #851
What file was this? It does not look like HO107_1924 on test3 which is the one I thought we had been talking about. None of the numbers above relate to that file eg you report there is an error with line 5519 but I cannot see one
![5519e.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/095e5818-4134-43df-bce1-5aecc9be98dc)
nor a warning
![5519.png](https://images.zenhubuserconten

[2021-01-10 22:17] geoffj-FUG commented on #851
RG12_1918

[2021-01-11 10:35] PatReynolds opened #1104 "Temporarily remove Ireland as a census place to be searched"
Brenda has had two contacts consused that the Ireland search is not working.

E0 U4 S9 CC6: P 19

[2021-01-13 00:45] AlOneill opened #1105 "Improve colour contrast of Message above Search form"
The text above the search form is:
You may access the original version of Freecen by clicking [this link]

This is not helpful for a screen-reader user (who can call up a list of links on a page) because 'this link' could be anything.
Also, the casing of 'Freecen' should be 'FreeCEN'.

Suggest that the text would be better as:
You can use this link to visit the [original version of FreeCEN]

[2021-01-13 00:46] AlOneill commented on #1105
Message edited on production and on test3.

[2021-01-14 12:38] DeniseColbert opened #1106 "FreeREG Servant CC'd in email notification of reply to message"
When I open the message it appears that I'm getting the email the recipient gets, addressed to them:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/8090ee4d-e11e-42b4-97c2-b3ac9486b49d)

E0 U8 S7 C5: P20

[2021-01-14 12:39] DeniseColbert commented on #1106
Also see FreeREG in list of recipients, but I think we have a story for this already.

[2021-01-14 12:43] DeniseColbert opened #1107 "Terms and Conditions link in footer links to a missing page"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/69a71fd5-91ca-47ff-ae7b-80cdedf5d079)

E3 U10 C9 C6:P28

[2021-01-14 13:59] DeniseColbert opened #1108 "FreeCEN transcriber doesn't have Message System in Actions"
UserID: Bogdoggirl

![image0.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/09a742bd-3aca-41d2-9c2b-dc7836b2c365)

Bogdoggirl received the email notification for my newsletter but can't see the newsletter due to the issue above.

[2021-01-14 14:19] DeniseColbert opened #1109 "Issues with transcriber's "email address invalid" message"
**UserID: ObeOne68**

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/c3bd8d54-c115-4a74-8617-093385fb8110)

1. The transcriber has no way of knowing why their email address was made invalid- can we give more info?
2. The request to check whitelist is confusing - can we give a link with a bit more information? If not our own Help, then Wikipedia maybe?
3. The message men

[2021-01-14 15:18] #1108 closed, assigned to nobody

[2021-01-14 17:52] Captainkirkdawson opened #1110 "Simply Transcriber Files Index page"
Thinking about our new transcribers and older members I was looking at the main batches page which is the one they will spend a lot of time with

The page was simply the Freereg page with a few tweaks. It was designed more for the coordinators who wanted to be able to do things from this page and not have to show and then act. Freereg transcribers have never expressed any comment.
It can look very

[2021-01-14 17:58] Captainkirkdawson commented on #1110
Comments received
Rhoda: I would agree about simplifying the page, it was overwhelming to me when I first saw it. Transcribers only need to see to what they need to carry out their role.

Beki: Yes, I think if you just limit the items as you have shown it will be helpful to transcribers.

Geoff:  I believe that the Error listing should be left there also. If we want transcribers to remove their er

[2021-01-14 17:59] Captainkirkdawson opened #1111 "Add processing option to list only errors"

[2021-01-16 16:54] AlOneill commented on #1105
The colour contrast between the plain (red) text and the (lavender) link is an extremely poor **1.01:1** (both colours have good contrast with the white background, but were not intended to be used side-by-side). Also, the whole Message is in bold, so there is not even a contrast in font weight between the plain text and the link text.

The text colour and weight are set with a class on the Messag

[2021-01-17 19:06] Captainkirkdawson opened #1112 "The 1911 census TNA civil parish extraction is incorrect in many cases"
Well as you know I am not a census expert and worked on certain assumptions.

It appears that 1911 blows those working assumptions into pieces (sorry about the pun)

My working assumption had been that a census document specified a single civil parish and that the entries that followed were part of that parish.

That is not necessarily true for 1911 where the census document can specify many civil

[2021-01-17 20:35] rhodamackenzie commented on #1112
The TNA entry has each parish on a separate line in other years, but for 1911 either all are on the same line or, or one is alone, with the others all together on the next line  - the former is what happened in Kirk's example. Presumbaly our extraction works on the principle of one parish per line
![image](https://user-images.githubusercontent.com/62574522/104855237-7fde9680-5903-11eb-98cf-c2f8690

[2021-01-17 21:04] Captainkirkdawson commented on #1112
Yes we take a line break as a new parish. Clearly for 1911 we should have concatenated the 2 entries!!!!!!!!!!!!!!!!!!

[2021-01-17 21:10] Captainkirkdawson commented on #1111
@geoffj-FUG @johnt-freecen @rhodamackenzie Test3 is running the new upload and replace pages that add the Error only option also added an explanation

 ![New replace.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/79cfde81-51e5-4f12-b3f9-eb53e0265be6)

![New upload page.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/81b7082b-6ef6-4200-bdc4-71ab7f3315cf)

[2021-01-17 21:13] Captainkirkdawson commented on #1110
@johnt-freecen @geoffj-FUG @rhodamackenzie test3 is running the new index page for my files
![new my files.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/07ac558d-c060-4e46-b8e9-83290c5ad9af)

[2021-01-17 22:02] geoffj-FUG commented on #1112
I have taken a step back and used Sock Dennis Somerset as an example.
The problem appears to me that we are applying 19C transcription rules toa 20C Census. (This problem may raise its head again in 1921, but I dont know their rules).
The first thing that we must take into account is that there is a one to one relationship between the Piece and the ED in 1911. The Piece is not broken into various

[2021-01-18 00:41] Captainkirkdawson commented on #1112
@geoffj-FUG To say I am exceedingly confused is an understatement. I finally found Sock Dennis after some head scratching. Its in piece Yeovil (RG14_14403)
TNA has it as
![14403](https://user-images.githubusercontent.com/2874694/104859376-29149500-58e2-11eb-8fff-c9913af54f53.png)
We extracted that as 2 parishes Chilthorne Domer and Sock Dennis Ilchester Northover
This is clearly incorrect. Ancestr

[2021-01-18 12:37] DeniseColbert opened #1113 "When making a transcriber inactive, we should give an error message if box is left ticked but a reason is given"
It's easy to miss the checkbox so if a reason is selected the system should highlight that the person hasn't been made inactive.

E0 U6 S7 C6: P19

[2021-01-18 17:08] #1101 closed, assigned to Captainkirkdawson

[2021-01-18 17:09] #1111 closed, assigned to Captainkirkdawson

[2021-01-18 17:09] #1110 closed, assigned to Captainkirkdawson

[2021-01-18 17:15] PatReynolds commented on #1105
@AlOneill to tweak the colours in refinery, with the developers to use once we have a good solution.

Suggestions: changing colours, red box islet.

NB currently used to redirect to FreeCEN1, could be used for other messages with link

[2021-01-18 17:16] DeniseColbert commented on #1105
Consider islet or island class for message of the day where we want to draw attention. This message can be changed to plain text in grey (from red). @AlOneill to make the change on test3,

[2021-01-18 17:18] johnt-freecen commented on #1111
Hi All,

Just a comment, we could do with a way of publishing the introduction of these changes to the user community, at the moment I drop a note to my team who are live, but as we spread its use a smarter method is needed.

Regards

John

Sent from Mail for Windows 10

From: DeniseColbert
Sent: 18 January 2021 17:09
To: FreeUKGen/FreeCENMigration
Cc: johnt-freecen; Mention
Subject: Re: [FreeUKGe

[2021-01-18 17:25] DeniseColbert commented on #1049
@PatReynolds to review and update story

[2021-01-18 17:31] #1066 closed, assigned to geoffj-FUG

[2021-01-18 17:35] DeniseColbert commented on #921
@PatReynolds to review Refinery and update story with next step

[2021-01-18 17:37] DeniseColbert commented on #1102
@Pat to update upon review of Refinery

[2021-01-18 17:49] DeniseColbert commented on #1112
@PatReynolds to look on Ancestry to see if the intersection of parishes is clear.

[2021-01-18 17:54] DeniseColbert commented on #1109
@DeniseColbert to request more info

[2021-01-18 18:03] DeniseColbert commented on #1098
Contact enquirer that we're temporarily removing Ireland from the search.

[2021-01-18 18:07] #1093 closed, assigned to nobody

[2021-01-18 18:08] DeniseColbert commented on #1090
Duplicate = closing

[2021-01-18 18:08] #1090 closed, assigned to nobody

[2021-01-18 23:55] AlOneill commented on #1105
"Message" edited on test3 and is ready for Review. This is the simplest version.

Stick or twist?

[2021-01-19 16:18] Captainkirkdawson commented on #1104
There is no data

[2021-01-19 20:44] Captainkirkdawson commented on #1104
Deployed a fix to test3 and then production

[2021-01-21 16:35] Captainkirkdawson commented on #849
On the display of a file (batch) add the two fields

[2021-01-22 17:37] Captainkirkdawson commented on #1112
To be done when we decide on format of civil parish names for 1911
 district Leicester

RG14_19165 to 217        North West Leicester (all currently incorrect)

RG14_19218 to 264        North East Leicester  (these are all correct)

[2021-01-22 17:39] #1092 closed, assigned to nobody

[2021-01-22 20:54] Captainkirkdawson commented on #1103
@geoffj-FUG was this for an original upload of a traditional file or simply an error in my download of a vld file. Solutions are quite different

[2021-01-22 20:55] #1091 closed, assigned to nobody

[2021-01-22 21:50] geoffj-FUG commented on #1103
Kirk

It looks like our page number test parameters that needs amending.

At the moment page 0 is not a valid page number (I think?). We need to make it valid.

Geoff

[2021-01-22 22:44] Captainkirkdawson commented on #1103
@geoffj-FUG can you provide an example of the failure please.

A 0 is a valid digit and a non digit is the only cause of an error message on a page number.

A warning will be issued if it is less than the previous page number.

So without a case I cannot investigate and see why an error message would be generated

[2021-01-22 23:01] Captainkirkdawson commented on #851
Put on hold until Geoff has more time

[2021-01-22 23:01] #648 closed

[2021-01-22 23:11] Captainkirkdawson commented on #93
I know of no easy way of having general purpose report writers for our apps. Would this be for internal management or researchers? If the latter we are really talking about the development of an api.

[2021-01-22 23:15] Captainkirkdawson commented on #465
One can search without a county for sparsely populated names

[2021-01-22 23:33] Captainkirkdawson commented on #481
Is there any more to do with this story?

[2021-01-22 23:39] #699 closed

[2021-01-22 23:40] #870 closed, assigned to PatReynolds

[2021-01-22 23:41] #681 closed

[2021-01-22 23:42] Captainkirkdawson commented on #844
Coordinator can do now

[2021-01-23 16:09] #518 closed

[2021-01-23 16:09] #539 closed

[2021-01-23 16:09] #569 closed

[2021-01-23 16:12] #260 closed

[2021-01-23 17:49] Captainkirkdawson commented on #1084
@geoffj-FUG Interlock added and code deployed to test3.
Test by trying to do a replace on an existing file immediately after submitting the first; should get an error message

[2021-01-23 17:58] #787 closed, assigned to Captainkirkdawson

[2021-01-23 18:02] Captainkirkdawson commented on #785
Added

[2021-01-23 18:02] #785 closed, assigned to Captainkirkdawson

[2021-01-23 22:22] Captainkirkdawson commented on #1085
@geoffj-FUG  @johnt-freecen Have added the notes propagation to test3 for testing

[2021-01-25 16:12] Captainkirkdawson commented on #1010
After considering how to write an run a crawler to populate the birth place field realized there was a simpler way. When we retrieve the results of a search code is added to extract the birth place from the individual document if it is not in the search record. It then stores it in the search record for future use. This adds a short amount of time to the first search that retrieves the record for

[2021-01-25 16:19] Captainkirkdawson opened #1114 "Shorten the text under the We found n records"
The current text increases the white space
![Extra.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/8d749fc8-1963-4bb1-acbd-1594d9056ab4)

[2021-01-25 16:20] Captainkirkdawson commented on #1114
Test shortened; others may wish to wordsmith. But reduction on space is achieved
![shorter.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/1e04e953-a71b-4c20-932b-50be2d32af60)
see test3

[2021-01-25 16:37] Captainkirkdawson opened #1115 "Sort by birth year has error"
While testing the sort by Birth Place it became clear that there are problems with the sort by Birth Year
In this example the Birth Year was to be ordered by increasing birth year.
![one.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/c908d6e3-36c0-4a90-be50-7c64ea28bdbe)
![two.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/020043e0-e313-426f-b533-3ceb06b0dbc

[2021-01-25 16:38] Captainkirkdawson commented on #1115
You will also note there is no census district for those entries

[2021-01-25 21:47] Captainkirkdawson commented on #1115
It is worse than I thought there are 534337 records without a search_date.

Not only will they sort incorrectly but they will not be retrieved by a search with a date range

[2021-01-26 02:38] Captainkirkdawson commented on #1115
A fix for search display has been deployed to test3

The fix for the date range in a search needs a crawler rake task See #1116

[2021-01-26 02:41] Captainkirkdawson commented on #1114
@AlOneill please cast your eyes over the text but no extra words please

[2021-01-26 05:22] Captainkirkdawson opened #1116 "Lack of search date field causes records to be irretrievable by a search with a date range"
There are 500,000 plus entries in the database without a search date field

[2021-01-26 05:24] Captainkirkdawson commented on #1116
The fix for the date range in a search needs a crawler rake task. Most of estimate of size is for shepherding the rake task

[2021-01-26 05:24] Captainkirkdawson commented on #1116
Needs to be scheduled after the next monthly update

[2021-01-26 15:44] AlOneill commented on #1114
'Select' is more inclusive than 'click'.

Listed by birth date. Select a heading to sort by that column: select again to reverse the order. See individual details by selecting the View button.

Same number of words (26). Tone more friendly.

[2021-01-26 15:58] Captainkirkdawson commented on #1114
@AlOneill I have always used select when there are alternatives. Here there is just the one option.

[2021-01-26 16:41] AlOneill commented on #1114
Ah, select is a versatile and hard-working word! The thing is that keyboard-only users, both sighted and unsighted, _cannot_ click: they select (follow) a link by using Enter or whatever key combo works in their screen-reader software. Maybe not all that important, but I can imagine that being asked repeatedly to click must be irritating — one more straw on the camel's back. Cannot think of a para

[2021-01-26 16:52] DeniseColbert commented on #1105
Stick; looks good.

[2021-01-26 18:40] Captainkirkdawson commented on #1114
Wonderful explanation. TY

[2021-01-26 20:21] Captainkirkdawson opened #1117 "' in welsh names to be permitted"

[2021-01-27 01:46] Captainkirkdawson commented on #1117
Revised code generated and applied to production

[2021-01-27 01:52] Captainkirkdawson opened #1118 "Highlight selected individual in the dwelling report"
There are often multiple names in a dwelling display; we should highlight the one name that was identified in the search

[2021-01-27 02:55] #776 closed

[2021-01-27 11:37] geoffj-FUG commented on #1084
Not a big enough load on the server this evening.
From	Subject	Received	Size
Test FreeCEN Servant	somt.cen processed rg10_2377.csv at 2021-01-27 11:34:03 +0000	9:34 PM	39 KB
Test FreeCEN Servant	somt.cen processed rg10_2377.csv at 2021-01-27 11:33:41 +0000	9:34 PM	39 KB
Test FreeCEN Servant	somt.cen processed rg10_2377.csv at 2021-01-27 11:31:22 +0000	9:31 PM	39 KB
Test FreeCEN Servant	somt.cen pr

[2021-01-27 15:01] Captainkirkdawson commented on #1084
Yes that may always be the case; may have to wait until its in production;
works on my test server which is slow
Kirk Dawson
Fairmont, B.C. Canada

On Wed, 27 Jan 2021 at 04:38, geoffj-FUG <notifications@github.com> wrote:

[2021-01-27 16:05] Captainkirkdawson commented on #1118
Applied to test3

[2021-01-27 17:36] AlOneill commented on #775
Do not know what @Captainkirkdawson had in mind exactly but I can see a few issues:

*  the `div.container` is closed too soon so there are no side margins visible for the 'Top of Page' and 'Report a Problem' buttons
*  the "If you believe …" text is marked up as an `h5` heading which breaks the headings hierarchy (at best!)
*  in the same piece of text, the warning about the link opening in a new

[2021-01-27 17:44] Captainkirkdawson commented on #775
As always @AlOneill I had nothing specific in mind just that it did not appear to be correct

[2021-01-27 22:54] geoffj-FUG commented on #1084
Kirk
In that case we may just have to let it go live.
Geoff

[2021-01-28 01:51] Captainkirkdawson commented on #1084
Yes
We moved test3 to a much faster and more lightly loaded server last week

[2021-01-28 11:37] DeniseColbert commented on #1098
Replied to Clare, closing

[2021-01-28 11:37] #1098 closed, assigned to DeniseColbert

[2021-01-28 17:02] AnneV-Learn commented on #849
Code changes made and pull request made.

[2021-01-28 17:49] Captainkirkdawson commented on #849
Pulled into master

[2021-01-28 17:57] Captainkirkdawson commented on #454
The current text is Freereg based; talks about registers
We have also changed the Transcriptions link to records.
Need to have different texts for different apps

[2021-01-28 19:06] Captainkirkdawson commented on #775
Addressed the concerns noted by @AlOneill (I hope) as well as some other minor changes. Deployed to test3

[2021-01-28 19:08] Captainkirkdawson commented on #348
Dealt with as part of #775

[2021-01-28 19:11] Captainkirkdawson commented on #348
dealt with as part of #1118

[2021-01-28 19:11] #348 closed

[2021-01-28 20:53] Captainkirkdawson commented on #1107
Fixed as part of #775

[2021-01-29 15:45] Captainkirkdawson commented on #1116
checked 40,304,379 records there were 3,832,166 missing a search date or just under 10%

[2021-01-30 10:43] geoffj-FUG commented on #1085
Tested and appears to work OK.
I note that the buttons stay when both the alternative place of birth and notes are entered. I was able to promulgate them one by one but was not sure whether they had worked or not as there was no message. Having said that I did keep receiving proxy server fault messages so that may have had an impact.
Maybe we shoud have either an extra button that promulgates both

[2021-01-30 17:42] Captainkirkdawson commented on #1085
@geoffj-FUG
There are messages at the end of the promulgation of both fields; as you say the proxy error likely caused issues.
Likely best to retest.
propagation is separate actions by design as one may succeed and the other may not and if we combined could get into a mess in that case.
If there is already a note on one of the entries being propagated to then we concatenate the messages.

[2021-01-30 18:18] Captainkirkdawson opened #1119 "People are volunteering and receiving no response from their coordinators"
These contact messages were received in the past week

Hello I signed up to FreeCen to volunteer for transcribing just over a week ago and I haven't heard anything yet from a co-ordinator. I didn't specify a particular syndicate as I'm happy to work on anything. I did some transcription for FreeCen over 10 years ago and for FreeBMD about 20 years ago. Can you please let me know what I need to do t

[2021-01-30 21:09] FreecenBren commented on #1119
That’s strange Kirk.

Nick is one of John Toplis  new volunteer, and I transferred him to LEICS at Johns request.

If the Georgia one is a Haney then I have her down on my list.

There is a John Hartley signed up for England, so I would have passed him on to another COORD.
He is not on my list.

I have 20 to set up myself for my counties.

If I have a 48 hour day I might get there.

We could do wi

[2021-01-31 01:54] Captainkirkdawson opened #1120 "McArthur changes to Mc Arthur in POB"

[2021-01-31 01:56] Captainkirkdawson commented on #1120
Fix applied to test3

[2021-01-31 18:08] Captainkirkdawson opened #1121 "Record removal time out"
@johnt-freecen reported

Record removal failed

RG10_1526.csv for johnt in HUN ProceedingErrno::ETIMEDOUT: Operation timed out - Took more than 100 seconds to receive data (for 136.243.151.103:27017 (mongo2.freeukgen.org.uk:27017, TLS)) (on mongo2.freeukgen.org.uk:27017, connection 1:1, retries disabled), ["/home/apache/hosts/freecen2/production/vendor/bundle/ruby/2.6/gems/mongo-2.13.1/lib/mongo/s

[2021-01-31 18:10] Captainkirkdawson opened #1122 "test3 access - John"
@johnt-freecen is unable to access test3

[2021-01-31 18:11] Captainkirkdawson opened #1123 "test3 access problem - Rhoda"
@rhodamackenzie is unable to login on test3

[2021-01-31 18:49] Captainkirkdawson commented on #1112
Following a video call with @geoffj-FUG we concluded that the TNA extract of 1911 was the best that could be done programmatically. That the issue was that the original TNA listing is flawed when it lists more than 1 Civil Parish.
When there are 2; the second may contain 1, 2 or more civil parishes with no clear separation between the names. If a name contains 2 words those can just as easily be 2

[2021-01-31 19:11] Captainkirkdawson opened #1124 "The 1901 TNA Civil Parish extraction is meaningless"
Following video discussions with @geoffj-FUG  we have formed the opinion that the TNA civil parish extraction is effectively meaningless at the civil parish level.
For example Blagdon piece in Somerset is extracted as
![blagdon.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/058ac073-2127-4f39-b6f1-cf47dca8c265)
This is from a TNA record of
![tna blagdon.png](https://images.zenh

[2021-01-31 19:19] Captainkirkdawson commented on #1124
We propose the following:
System actions 1)update the civil parishes list to 1901 to eliminate all entries.  2) provide access to the existing action of adding a civil parish to county and master county coordinators
Documentation. The instructions for the transcriptions of 1901 be updated to reflect that the coordinator when starting work on a new 1901 piece they review the Enumeration District  d

[2021-02-01 04:38] Captainkirkdawson commented on #1123
Resolved

[2021-02-01 04:38] #1123 closed, assigned to nobody

[2021-02-01 11:58] PatReynolds opened #1125 "test3 access - Pat"
pat.reynolds@freeukgenealogy.org.uk is unable to access test 3

[2021-02-01 15:34] Captainkirkdawson commented on #1121
John said
I tried it again later in the day and it worked, so everything is now ok thanks.
Decision
ill ignore until it happens again; it is such a simple action I was blown away. Likely a system load problem. I was hitting the server very hard the other day fixing a search date issue

[2021-02-01 15:34] #1121 closed, assigned to nobody

[2021-02-01 15:34] Captainkirkdawson commented on #1122
Fixed by rebuild of refinery table

[2021-02-01 15:35] #1122 closed, assigned to nobody

[2021-02-01 15:39] Captainkirkdawson commented on #1125
@PatReynolds Password reset has been sent

[2021-02-01 16:08] Vino-S commented on #356
Ready for the test: test.freecen.org.uk

[2021-02-01 16:46] PatReynolds opened #1126 "Enable screen reader users to "hear" that the text is "bold" (highlighting the person that was identified by the search and clicked to)"
E0  U9 SS6 C6: P21
A span with a class of accessibility (Alison to expand this story)

[2021-02-01 17:00] DeniseColbert commented on #93
@Vino-S to look at systemwide story document

[2021-02-01 17:04] PatReynolds opened #1127 "Coordinators or System administrator can add transcriber information to a VLD file"
E3 C3 S7 C5:  P18

[2021-02-01 17:04] DeniseColbert commented on #844
Complete - new story for FC1 files being made- closing

[2021-02-01 17:04] #844 closed, assigned to Captainkirkdawson

[2021-02-01 17:08] PatReynolds commented on #1049
Include Master Coords (experts who can assist other coords).

[2021-02-01 17:12] DeniseColbert commented on #429
Pat to check all stories are made

[2021-02-01 17:16] DeniseColbert commented on #1078
Our YT channel to replace Kirk's videos.

[2021-02-01 17:23] DeniseColbert commented on #454
@DeniseColbert to look at this message in FR & FC and come up with draft text

[2021-02-01 17:30] DeniseColbert commented on #1119
@DeniseColbert to approach Coordinators to see if anyone would take the role of Volunteer Coordinator

[2021-02-01 17:43] #1125 closed, assigned to nobody

[2021-02-01 17:50] Captainkirkdawson opened #1128 "Update the civil parishes list for 1901 and eliminate all entries"

[2021-02-01 17:56] Captainkirkdawson opened #1129 "Enable access to the adding a civil parish to a piece for county and master county coordinators in 1901 and 1911"
There is an exiting action on the freecen2_piece that allows the adding of a new civil parish. Currently restricted. Activate it for the county_coordinator and master_county_coordinator for 1901 and 1911 pieces while retaining it for those currently permitted.

[2021-02-01 17:59] Captainkirkdawson opened #1130 "Enable access to the deleting a civil parish to a piece for county and master county coordinators in 1901 and 1911"
There is an exiting action on the freecen2_parish that allows the deletion of civil parish. Currently restricted. Activate it for the county_coordinator and master_county_coordinator for 1901 and 1911 pieces while retaining it for those currently permitted.

[2021-02-01 18:05] Captainkirkdawson opened #1131 "Update the civil parishes list for 1911 to eliminate the second parish if it has more than a single word and inserts 'needs review'"

[2021-02-01 18:57] AlOneill commented on #1114
@Captainkirkdawson Removing the class `hard--bottom` from the containing `section` restores overall balance and adds only a little to the height. Is this acceptable?

![no-results-alt-01.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/98f6eea3-3c05-483c-b077-fe7ddda1364b)

[2021-02-01 18:59] #1104 closed, assigned to Captainkirkdawson

[2021-02-01 19:01] #1010 closed, assigned to Captainkirkdawson

[2021-02-01 19:01] #1115 closed, assigned to Captainkirkdawson

[2021-02-01 19:02] #1116 closed, assigned to Captainkirkdawson

[2021-02-01 19:02] #1084 closed, assigned to Captainkirkdawson, geoffj-FUG

[2021-02-01 19:02] #849 closed, assigned to AnneV-Learn

[2021-02-01 19:04] #1085 closed, assigned to Captainkirkdawson

[2021-02-01 19:04] #1118 closed, assigned to Captainkirkdawson

[2021-02-01 19:04] #1117 closed, assigned to Captainkirkdawson

[2021-02-01 19:04] #1107 closed, assigned to Captainkirkdawson

[2021-02-01 19:10] Captainkirkdawson commented on #1114
Personally I would say that making that paragraph larger than the You searched for adds addition empty space to page which is what we were trying to eliminate

[2021-02-01 19:12] AlOneill commented on #1105
This is not complete yet — the  `weight--bold` and `text--red` classes should be removed from the `div` element that contains the "Message"  — a developer task.

[2021-02-01 19:13] #1120 closed, assigned to Captainkirkdawson

[2021-02-01 19:14] #775 closed

[2021-02-01 19:15] AlOneill commented on #1105
Then "Message" should be cleaned up on test3 and either synced or copied to live — I can do that.

[2021-02-01 23:22] Captainkirkdawson commented on #1105
The div has been adjusted prior to deployment and it now operational.
Please proceed with any adjustments to the refinery content

[2021-02-01 23:23] #1124 closed, assigned to Captainkirkdawson

[2021-02-01 23:23] #1112 closed, assigned to Captainkirkdawson

[2021-02-02 01:24] AlOneill commented on #1114
It adds a few pixels only. Re-writing the text has made a big improvement. Visual balance for the "We found …" section is also important — imbalance is uncomfortable for some (even many?).

Let the Scrum decide!

[2021-02-02 01:41] AlOneill commented on #1105
@Captainkirkdawson, thanks — I can now see the changes.

"Message" cleaned up on t3 and live.

[2021-02-02 01:41] #1105 closed, assigned to AlOneill

[2021-02-02 03:01] Captainkirkdawson commented on #1114
Its always been out of wack; less so now

[2021-02-02 03:02] Captainkirkdawson commented on #1105
TY

[2021-02-02 14:11] AnneV-Learn commented on #1130
Hi Kirk,

On freecen2_piece, from what I can determine, there is currently the option to delete a piece but not a civil parish (that appears on the freecen2_civil_parishes pathway).
Can you please clarify what is required for #1130 as the story is 'Enable access to the deleting a civil parish’.
Thanks
Anne

[2021-02-02 16:07] Captainkirkdawson commented on #1130
Da Huh

Never write from memory without checking

Story amended

[2021-02-03 07:26] geoffj-FUG commented on #1041
I have already done this.
I have sent all Coordinators a 1901 transcription with 1500 rows on it. It is called RG13_Sample.
It has a complete ED plus the start of the next ED and a whole range of entries.
1901 has all the columns in it to create any year except 1911. Coordinators just delete the columns that they dont need to create the sample for the year that they want a sample for.
Geoff

[2021-02-03 07:46] geoffj-FUG commented on #851
Kirk
RG12_1918
I will send you the report and the converted file.
Geoff

[2021-02-04 10:52] PatReynolds commented on #448
Re recent discussions on London - is another way forwards with searching to treat places the metropolitan areas as we treat places which are in one traditional county, but in a piece associated with a different traditional county (e.g. places in Lincolnshire in the Newark , Nottinghamshire Piece).  The place might be in both the traditional county (and perhaps also the census county) and ALSO in t

[2021-02-04 10:57] geoffj-FUG commented on #448
Pat

The issue that we have is from the perspective of  transcribing and managing the transcriptions rather than searching. Once we get this step right then searching issues will then be evident. Searching has to be designed around what is recorded and recording around what we need to search. So it is iterative. We also need to respect the history as we are working with historical counties.

Geoff

[2021-02-04 22:57] geoffj-FUG commented on #1085
I have now completed the validation of a piece with repetitive entries. I promulgated everything and had no issues.
Works well
Geoff

[2021-02-04 23:58] Captainkirkdawson opened #1132 "Eliminate 1861 Freecen2 Pieces for London"
These were not enumerations

[2021-02-05 00:00] Captainkirkdawson commented on #1132
The pieces were removed

[2021-02-05 00:10] Captainkirkdawson commented on #1131
@geoffj-FUG
I cannot do as planned since there is no specific order for the entries.

I will have to say needs review in all cases where there are 2 or more civil parishes listed

[2021-02-05 04:52] Captainkirkdawson commented on #1128
I have run the civil parish delete on 1901

There were 99 pieces that had csv entries and therefore could not be deleted.

Those pieces need to be checked for accuracy of the civil parishes.

List sent to @geoffj-FUG  off line

[2021-02-05 04:54] Captainkirkdawson commented on #1131
Completed the processing of 1911; Only 10% of the pieces were affected.

The list of 47 pieces that might or might not have a problem with the civil parish name and had files attached and therefore need to be checked. Only those with a problem need action Sent off line to @geoffj-FUG

[2021-02-05 10:06] geoffj-FUG commented on #1131
Kirk

Have checked all these 1911 Parishes against the pieces.

It was interesting. The rubbish place names had disappeared and the good ones are on the list. That is because the good place names had entries but the spurious ones did not, despite being in the same piece.

None of the 1911 entries in the text file need action.

Geoff

[2021-02-05 10:11] geoffj-FUG commented on #1128
Kirk

I have been though the 99  entries for 1901 CON and SOM and all are genuine entries and do not need amendment or removal.

Geoff

[2021-02-05 11:36] DeniseColbert commented on #1078
Video 1 is done, will send offline.

Re. video 2 -

1. is this aimed at new or existing transcribers?
2. Which of @Captainkirkdawson 's videos should this one cover?

[2021-02-05 14:45] AnneV-Learn commented on #1129
Pulled to Master and deployed

[2021-02-05 15:01] AnneV-Learn commented on #1130
Pulled to Master and deployed

[2021-02-05 15:23] Captainkirkdawson commented on #1131
That is likely a result of the first test on any civil parish being to do nothing other than report if there were transcriptions made for the parish.

[2021-02-05 17:50] Captainkirkdawson commented on #1127
Need to add transcribed_by_person_surname,  transcribed_by_person_forname, transcribed_by_person_email address and transcribed_by_userid fields to freecen1_vld_file;
add edit action to the show. restricted to county and master county coordinators, data  and system administrator
the edit form to have the new fields
The update needs to strip whitespace, name and email address are mandatory. Need to

[2021-02-05 17:52] #1094 closed, assigned to nobody

[2021-02-05 17:52] Captainkirkdawson commented on #1094
Being done as part of reg and will automatically apply

[2021-02-05 17:53] Captainkirkdawson commented on #1095
Being done as part of reg will apply automatically

[2021-02-05 17:53] #1095 closed, assigned to nobody

[2021-02-05 18:00] Captainkirkdawson commented on #1097
Fixed in #1120

[2021-02-05 18:00] #1097 closed, assigned to nobody

[2021-02-05 18:18] Captainkirkdawson opened #1133 "Add userid to file name in the Freecen2 Piece show"
The current show of a piece provides a list of files associated with the piece.
![piece file name.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/3de18253-94be-4bbd-9a7e-3fc5577c431c)
As in this example there are 2 and could be as many as 4 (One each for transcriber, proofreader, validator and coordinator)

It would be useful to know the userid of the person who owns each of the

[2021-02-06 00:00] Captainkirkdawson commented on #894
Coded and tested and applied to a crontask

[2021-02-07 16:15] Captainkirkdawson opened #1134 "London in 1861"
We need to decide if we intend to create and use LND as a county in 1861. Currently there are no pieces identified as LND in 1861.

The first pieces relevant to London in our database start with 1871. It has been an accepted practice that 1871 and 1881 fit into “London” as this is what they were recognised as being at the time even before the formal change of making London officially a County in 1

[2021-02-07 18:59] Captainkirkdawson commented on #1025
Have adjusted the Manage County file actions to  do a preselect.
![fc_1025_1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/4e3f86c1-866f-467f-916b-a071229a1f57)
The actions for the files display for the coordinator are now sort actions that work against the preselection

![fc_1025_2.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/0d8672c2-7287-44b8-8613-3e6b

[2021-02-07 19:10] Captainkirkdawson opened #1135 "Add additional statistics to the statistics collection"

[2021-02-08 10:56] PatReynolds commented on #1078
@geoffj-FUG where do you feeel the urgency is on  (missing) videos?  Is it Coords actions, or how Coords can communicate with their teams? Or ????

[2021-02-08 11:43] geoffj-FUG commented on #1078
Pat

I think that an Introduction Video which is available on the Volunteer page would be useful. This would describe what being a FreeCEN transcription volunteer is about. It could precis the Introduction to New Transcribers Guide that we put onto the Handbooks Page on CSVP{roc last week. (It also went to Coordinators via the Coordinators Message Board). No detail, just perhaps an overview and a

[2021-02-08 15:08] AnneV-Learn commented on #1127
Hi Kirk,

When you get a spare moment can you give me a bit more information on this one please.

Questions I have at the moment are:
What is a VLD file?
Does this assignment process already exist (eg transferring a csv file)?
Does Tech include Data Administrator and System Admin?
How is the transcriber of a file identified (ie it’s transcriber)?

Bye for now
Anne

[2021-02-08 20:27] Captainkirkdawson commented on #1127
Renamed to clarify scope and make consistent with description.

A VLD file is a FC1 file created by the validator of the file originally transcribed for FC1 (You may be sorry you asked; https://west-penwith.org.uk/fctools/doc/reference.html )

Files are sent by coordinators to Brenda who passes them to the person who runs the monthly update of FC1. The vld file gets into Freecen2 by a monthly tran

[2021-02-09 07:38] geoffj-FUG commented on #1103
Kirk

The problem piece disappeared with the test3 reset. I will try to find another one.

Geoff

[2021-02-09 07:39] geoffj-FUG commented on #1103
Kirk
Have a look at RG10_5549 in test3.
We have errors for page number 1 and page number 2.
May be related.
Geoff

[2021-02-09 14:51] AnneV-Learn commented on #1133
Pulled to master and deployed by KD

[2021-02-09 17:49] AnneV-Learn commented on #1127
Hi Kirk,

Still trying to get my head around this.

Is there user documentation for this process? (It will probably help me to better understand the flow and how the different files in the link you provided are used.)
I have looked on the old FREECEN website and followed some of the routes to documentation but it is not make a lot of sense to me - I have only been involved in transcription and hav

[2021-02-09 18:15] Captainkirkdawson commented on #1127
Will reply off line

[2021-02-10 16:12] ghost opened #1136 "192611424 Duplicate Alternate Place Names (Geoff)"
Issue reported by **somt.cen** at 2021-02-07 07:10:24 UTC
Time: 2021-02-07T07:07:54+00:00
Session ID: 56a5cb1e7850b8b21f5e180ab907638f
Problem Page URL: [/freecen2_places/search_names_results?locale=en](/freecen2_places/search_names_results?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen2_places/search_names?locale=en](https://www.freecen.org.uk/freecen2_places/search_names?local

[2021-02-10 16:12] ghost opened #1137 "Page number reported as error with ED in middle of page"
Issue reported by **somt.cen** at 2021-02-09 12:04:29 UTC
Time: 2021-02-09T11:57:28+00:00
Session ID: 56a5cb1e7850b8b21f5e180ab907638f
Problem Page URL: [/freecen_csv_entries/60227871f493fd7447464bf7?locale=en&type=Err](/freecen_csv_entries/60227871f493fd7447464bf7?locale=en&type=Err)
Previous Page URL: [https://www.freecen.org.uk/freecen_csv_entries?locale=en&type=Err](https://www.freecen.org.uk/

[2021-02-10 16:25] Captainkirkdawson commented on #1136
There is a test for name uniqueness on the main field but not on the additional names. Should there be?

[2021-02-10 16:25] Captainkirkdawson commented on #1136
Kirk

It seems strange to me that there is not. The ‘Other Place Name’ is supposed to be a pseudonym. It means that a Place Name can be entered more than once in the Database.

Where a place genuinely appears more than once then the bracket solution should be used to differentiate between them. I did this when linking Cornwall to sort out a few places and make sure that I could identify the correc

[2021-02-10 16:27] Captainkirkdawson commented on #1136
Do I interpret this as something that should be done. i.e. the alternates need to be unique.?

(Likely never really crossed my mind it was such a rarely used feature within FreeREG)

[2021-02-10 16:28] Captainkirkdawson commented on #1136
Kirk
I really need to think about the consequences for the system, because Counties do have repeated names in them. So we cant enforce data integrity.
That creates complications for Validation
Geoff

[2021-02-10 16:29] Captainkirkdawson commented on #1136
But i thought you said Where a place genuinely appears more than once then the bracket solution should be used to differentiate between them

So the uniqueness is on the full text "Wraxall (Nailsea)": not the parts.

With that we can have data integrity  i.e. only 1  Wraxall (Nailsea)

[2021-02-10 16:32] Captainkirkdawson commented on #1137
I am sorry Geoff but I really do not understand the sequence of events. It would appear that the second was a reprocessing to create the warnings and that this was followed by a conversion which appears fine by looking at it in the attic Ecclesiastical Parishes were then added The failure was cause by line 5859 have an Ecclesiastical Parish of St John added without page/folio information to an ent

[2021-02-10 16:32] Captainkirkdawson commented on #1137
The whole design was based on the concept that a new ED would always have folio/page information;

I do not really understand as the FC1 has no ED break at that point.

It is not seeing a 0 but a blank when it is expecting something because it is an ED

[2021-02-10 16:34] Captainkirkdawson commented on #1137
Kirk
Can we wrap the test in an if statement?
If new Ed Number <> old ED number
       Do page number test
Endif
That would stop it testing for a page number when the transition is in the middle of a page, or the ED number is repetitive such as with merchant vessels. Transitions in the middle of a page can happen with ecc parishes (like the reported problem) or a new where_census_taken such as a c

[2021-02-10 16:55] Captainkirkdawson opened #1138 "When a Feedback/Comment is archived go back to the open list"
The current Feedback and Comment systems permit archiving and reopening.
At the end of the action they stay on the listing for the selected status. They should go back to the original status not stay on the selected one

[2021-02-11 10:40] geoffj-FUG commented on #1025
Kirk
Problem
I have 4 pieces in test3. Two are  marked as validation under way. (County SOM)
I have no pieces in the Under validation lsit.
Geoff

[2021-02-11 17:01] Captainkirkdawson commented on #1025
@geoffj-FUG Sorry about that misspelt validation
should work now

[2021-02-12 23:05] geoffj-FUG commented on #970
This is not a Researcher enhancement, it is a Validator enhancement.

The following functions are required:
Sounds like (Soundex)
Starts With (substring)
Ends With (substring)
Contains (substring)
If possible, the Wild card ?. This is less important as starts with and ends with will solve the query in most cases.

They are the missing functions for Validators and would simplify their job immensely

[2021-02-13 10:48] geoffj-FUG commented on #1025
Kirk
Works well.
Once it is live I will check with Incorporated files as there are several there.
Geoff

[2021-02-13 16:01] Captainkirkdawson opened #1139 "Enhance Search Place Names Capability"
The original Search Place Names capability was a simple search capability implemented using the text index functionality of Mongodb.
The following functions are required:
Sounds like (Soundex)
Starts With (substring)
Ends With (substring)
Contains (substring)
If possible, the Wild card ?. This is less important as starts with and ends with will solve the query in most cases.

They are the missing

[2021-02-13 16:04] Captainkirkdawson commented on #970
Remove non soundex components and place in other stories
Starts With (substring)
Ends With (substring)
Contains (substring)
If possible, the Wild card

[2021-02-13 16:19] Captainkirkdawson commented on #970
Components of this story are:
Add soundex place name field to Freecen2Place.
Add soundex field to Freecen2Place creation and update
Add option to search on soundex to basic Search Place Names search page
Add soundex search
Add flag to search place names results so indicate soundex search
Rake task to add soundex field to existing documents.

[2021-02-13 16:24] Captainkirkdawson opened #1140 "Develop regex capability to search for string in Freecen2Place name"
This is the core requirement to support a number of string search capabilities

[2021-02-13 16:27] Captainkirkdawson commented on #1140
@geoffj-FUG what is the minimum size of the search string? 2 or 3 characters? Clearly 1 is too few.

[2021-02-13 16:28] Captainkirkdawson opened #1141 "Apply Search Place Names regex to start of place name"
Add option selection to Search Place Names Search page
Add selection code
Augment Search Place Names Results to indicate form of search

[2021-02-13 16:32] Captainkirkdawson commented on #1141
Add option selection to Search Place Names Search page
Add selection code
Augment Search Place Names Results to indicate form of search

[2021-02-13 16:34] Captainkirkdawson opened #1142 "Apply Search Place Names regex to end of place name"
Add option selection to Search Place Names Search page
Add selection code
Augment Search Place Names Results to indicate form of search

[2021-02-13 16:36] Captainkirkdawson opened #1143 "Apply Search Place Names regex to any part of place name"
Add option selection to Search Place Names Search page
Add selection code
Augment Search Place Names Results to indicate form of search

[2021-02-13 16:41] Captainkirkdawson opened #1144 "Add wild card search to Search Place Names"
Add option selection to Search Place Names Search page
Add selection code
Augment Search Place Names Results to indicate form of search
This is less important as starts with and ends with will solve the query in most cases.

[2021-02-13 21:43] geoffj-FUG commented on #1140
Kirk

I think we could go for 3. Two is pointless as it will bring up too many options.

Geoff

[2021-02-13 21:46] Captainkirkdawson commented on #1140
OK minimum of 3 it is

[2021-02-14 07:10] geoffj-FUG commented on #909
If we want to be pedantic it is next schedule and previous schedule.
Next schedule and previous schedule means absolutely nothing to a lay researcher, and our audience is lay researchers. We have always used next Household and Previous Household.
'The man (on his ipad) on the Clapham bus' would recognise next Household. If it turned out to be a Church he would say, "Oh look they lived next to the

[2021-02-14 08:46] FreecenBren commented on #909
Well said Geoff, I agree with you 100%..

If it has already worked for 22 years then do not change it.

Brenda

On Sun, 14 Feb 2021 at 07:10, geoffj-FUG <notifications@github.com> wrote:

[2021-02-14 19:05] Captainkirkdawson commented on #909
@geoffj-FUG so do we assume that you and @FreecenBren are suggesting that the current names that Freecen2 uses i.e. "Next Dwelling" and "Previous Dwelling" should be changed to "Next Household" and "Previous Household"?

[2021-02-14 21:56] geoffj-FUG commented on #909
Kirk

I am happy with next Dwelling. It is as useful as next Household. It is understood by the end user.

Yesterday you suggested that we should prioritise the work that we still have to do. So, I was looking through Zenboard to see what was there. I came across this story.

My view is that it adds nothing to the usefulness of the system and should be closed.

Geoff

From: Kirk Dawson <notificati

[2021-02-15 08:31] FreecenBren commented on #909
What I was agreeing to was what  Geoff said.

 Why was it changed to Dwellings and not left as Household as per FC1 which
works fine.

[2021-02-15 15:45] Captainkirkdawson commented on #909
@FreecenBren don't ask me. Well before my time. It has always been Dwellings on FreeCEN2 since its implementation in 2017

[2021-02-15 16:13] Captainkirkdawson commented on #1076
Basic code written to generate statistics.
Reports to be added

[2021-02-15 16:15] Captainkirkdawson commented on #1135
Set up a new collection targeted at FreeCEN.
Code currently has an issue with duplication

[2021-02-15 16:19] Captainkirkdawson opened #1145 "Timeout on removal"
Two attempts at removal.

Unlocked incorporation - OK

Removed but timed out both times.

Record removal failed

rg11_2389.csv for somt.cen in SOM ProceedingErrno::ETIMEDOUT: Operation timed out - Took more than 100 seconds to receive data (for 88.99.215.156:27017 (mongo1.freeukgen.org.uk:27017, TLS)) (on mongo1.freeukgen.org.uk:27017, connection 1:1, retries disabled), ["/home/apache/hosts/freece

[2021-02-15 21:00] geoffj-FUG commented on #909
Kirk

The cost in time of changing it far exceeds any benefit.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Tuesday, February 16, 2021 1:46 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Find better terms than "Next Dwelling" an

[2021-02-15 21:56] Captainkirkdawson commented on #1145
Alternate way of deletion adopted and deployed to test3

[2021-02-15 23:53] #909 closed, assigned to nobody

[2021-02-15 23:54] Captainkirkdawson commented on #1145
Deployed to production as critical

[2021-02-16 00:21] Captainkirkdawson commented on #1113
deployed to production

[2021-02-16 01:46] Captainkirkdawson opened #1386 "Add 'Forward' (to another member) to contacts - was The revised contact email no longer has a link to the contact"
The update to the contact email that now includes the message has eliminated the link to the online contact.

This means that no one is going to  use the contact system to reply to the contact.

This will destroy its effectiveness as no one will know if the message has been replied to or what the reply was.

E0 8 SS7 C5: P20

[2021-02-16 18:01] Captainkirkdawson opened #1146 "Clean up 1841 Hampshire Districts"
TNA for Hampshire in 1841 has a similar issue to Kent in that they also have back to back Hundred statements.
Although in this case there appears to be less rationale in the naming of the first.
Regardless in both cases we ended up creating false districts.There is little you or any coordinator can do to fix those situations as Districts with children need to be deleted. There are naming issues wh

[2021-02-16 18:12] Captainkirkdawson opened #1147 "New class of POB messages for validators"
It appears that transcribers are daunted by all of the POB warning messages that are created for the benefit of validators.
It has been proposed that POB warning messages be placed in a category of their own.
Likely a size 8 .Would require a new class of messages; hence lots of donkey work where each message has to be looked at and a decision made as to which class to assign it and then a relay ou

[2021-02-16 18:39] Captainkirkdawson opened #1148 "It looks as if FC1 recorded it as 999y. We could just change the test to pass it."
We do not pass the y after 999. It looks as if FC1 recorded it as 999y. We could just change the test to pass it.

[2021-02-16 18:43] Captainkirkdawson opened #1149 "Decouple the occupation categories from the occupation on VLD download"

[2021-02-16 18:51] Captainkirkdawson opened #1150 "Investigate RG121918.vld download lines Row 5429 et seq"
,,,,,,,,,,,,,,,,HALL,Worthy A,,Son,-,M,14y,,(Notem),,,SOM,Highbridge,,,,,,,
,,,,,,,,,,,,,,,,HALL,Louis F,,Son,-,M,14y,,(Notem),,,SOM,Highbridge,,,,,,,
,Highbridge,,,,,,,,12,65,,,Worston Lane,,,COURT,Geo,,Head,W,M,52y,,Rlwy Carriage Examiner(Em'ee),,,SOM,Highbridge,,,,,,,
,Highbridge,,,,,,,,,,,,,,,COURT,William,,Son,S,M,17y,,Coachbuilder Appren(Em'ee),,,SOM,Highbridge,,,,,,,
,Highbridge,,,,,,,,,,,,

[2021-02-16 18:55] Captainkirkdawson opened #1151 "missing 0 schedule numbers against unoccupied flag"
missing 0 schedule numbers against unoccupied flag u etc. Row 5783 (RG121918.vld download) tells us. The programme sees the following 0 as part if the same schedule. We need an if u, b, v do not remove schedule number. That raises the issue of 1841. We cannot use the schedule number to show a transition because every one of them is 0. We need to use the change in household number to identify the t

[2021-02-16 19:05] Captainkirkdawson opened #1152 "False? uninhabited_flag of x"
Rows 6707 to 6709. I looked for hidden entries in the ED section but none were apparent. Not sure why these were reported.
Warning: line 6706 uninhabited_flag of x is moved to address flag.
Warning: line 6706 Notes contains information Schedule enumerated as 125ABSchedule enumerated as 125AB.
ERROR: line 6707 Schedule number is blank and not a page transition.
Warning: line 6707 uninhabited_flag o

[2021-02-16 19:06] Captainkirkdawson commented on #851
Thanks Geoff.

It is important that we have a common understand of the vld download to csv.

VLD files contain FULLY populated vld entries. i.e. the VLD software does the propagation.

Since CSVProc expects an unpropagated file the download DEPROPAGATES  the vld file

Do not understand the comment on Notes do not see any duplication . Yes there are note fields with the same content but for differe

[2021-02-16 19:11] Captainkirkdawson opened #1153 "[production][freecen2_places#destroy] Errno::ETIMEDOUT: Operation timed out - Took more than 100 seconds to receive data (for 136.243.1..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/602b0039e93790b8acadc6ad)

[2021-02-16 19:14] Captainkirkdawson opened #1154 "[production][search_records#show] nil can't be coerced into Integer"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/600c80e1e93790e8d4d6200c)

[2021-02-16 19:14] Captainkirkdawson opened #1155 "[production][search_records#show_citation] SearchRecordsController#show_citation is missing a template for this request format and variant. ..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5ffe2112e93790ed19319b78)

[2021-02-16 19:15] Captainkirkdawson opened #1156 "[production][freecen2_civil_parishes#show] undefined method `chapman_code' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/60284625e93790c6c83d79ca)

[2021-02-16 20:40] Captainkirkdawson opened #1157 "[production][search_queries#create] Errno::ETIMEDOUT: Operation timed out - Took more than 100 seconds to receive data (for 88.99.215..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63318ae937903f2020c6a0/problems/602c1401e937907c168a482f)

Occurring 2-3 times a day on all servers

[2021-02-17 11:02] geoffj-FUG commented on #1147
Summary
This is what I see as the situation:
There are three reports allowed.
Info: this is the least useful but there is a lot of information in it that is useful for specific situations such as new transcribers.
Warnings: This is essential for Validators
Errors: This is essential for Transcribers and Proofreaders as we cannot progress a transcription whilst it contains Errors.
In an ideal world

[2021-02-17 12:03] FreecenBren commented on #1147
In my opinion I agree with Geoff when he sums it up quite nicely as:

*The only solution that I can see is to expand the Errors report to contain
these essential Warnings. This would then be similar, but not exactly the
same, as a report from CSVCheck.As Kirk idetifies this affects the download
of a vld file and replacement in FC2. The current situation is that a
downloaded vld file needs to be re

[2021-02-17 12:08] geoffj-FUG commented on #1147
Brenda

It is not proposed to download every file. There is a need to download a vld file when we receive a query from a researcher and we need to amend the original transcription.

Geoff

[2021-02-17 15:35] Captainkirkdawson commented on #1147
@geoffj-FUG Amount of effort to do as suggested is 90% of the effort required to add the new class

[2021-02-17 21:19] Captainkirkdawson commented on #1157
These are occurring daily on all servers. Freereg is also exhibiting 1 or 2 a week on all servers. Topography of Mongos is different. CEN has a primary and a single secondary with no sharding so all requests go to these 2 servers. Do not believe that to be an issue.
Tracing 1 particular case on CEN a search for James in Chesterfield. Search created at  : ISODate("2021-02-17T15:02:58.025Z").  Time

[2021-02-18 00:35] Captainkirkdawson commented on #1155
Code in wrong place. Fixed. applied to test3

[2021-02-18 01:54] Captainkirkdawson commented on #1154
Added test to avoid a nil situationand deployed to test3

[2021-02-18 15:52] Captainkirkdawson opened #1158 "Why are first name in a place taking more than 100 seconds?"
There were 6 first name searches on 18 Feb that took more than 100 sec. Why?
![place first name.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/9487be21-e85c-4fa7-8316-a29dcdeecdca)

E1 U4 S9 C5:P19

[2021-02-19 00:34] Captainkirkdawson commented on #1156
Put in trap in view and deployed to test3
Seemed that it was likely restricted to data managers

[2021-02-19 09:53] PatReynolds opened #1159 "Search by Ship's name"
This is a suggestion (for a future version) based on a very interesting talk I went to earlier this week about the Viola / Dias -  who was, at various points, a trawler, a minsesweeper and submarine-spotter, a whaler and finally a sealer and is now in South Georgia.   I thought it would be fun to see if I could pick her up on a census (forgetting that she wasn't built until 1906 ...).

I think shi

[2021-02-20 00:11] Captainkirkdawson opened #1160 "[production][freecen2_places#create] undefined method `[]' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5ffd8c8de93790ed19319b67)

[2021-02-20 00:13] Captainkirkdawson commented on #1160
Problem is caused by the failure to strip whitespace from the grid reference

[2021-02-20 00:32] Captainkirkdawson commented on #1160
Stripped white space applied to test3

[2021-02-20 00:33] Captainkirkdawson opened #1161 "[production][search_queries#show] undefined method `zero?' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/602e661de937904f3f3a1bdd)

[2021-02-20 15:12] Captainkirkdawson opened #1162 "IOW place names when dealing with HAM"
The IOW place names are not being seen when I am updating the HAM PARMS. IOW is a subset of HAM.

[2021-02-20 16:41] Captainkirkdawson commented on #1161
Fix applied and deployed to test3

[2021-02-20 16:44] Captainkirkdawson opened #1163 "[production][freecen_pieces#index] undefined method `[]' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/602e1d3ee937904f3f3a1bd9)

[2021-02-20 17:57] Captainkirkdawson commented on #1163
Trap applied to catch and deployed to test3

[2021-02-20 18:01] Captainkirkdawson opened #1164 "[production][freecen2_civil_parishes#index_for_piece] undefined method `id' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/602eac69e937904f3f3a1bea)

[2021-02-20 19:05] Captainkirkdawson commented on #1164
Trap added and deployed to test3

[2021-02-20 19:11] Captainkirkdawson opened #1165 "[production][freecen2_places#search_names_results] undefined method `[]' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/5ff1c4e6e9379070df8756df)

[2021-02-20 21:50] Captainkirkdawson commented on #1165
Error condition trapped and form instructions improved. Deployed to test3

[2021-02-21 00:16] Captainkirkdawson commented on #1157
Was no timeout on 18th or 19th on any server; However there was an increase in the number of searches terminated for running too long which is a controlled termination as opposed to a red screen crash

[2021-02-22 17:45] Captainkirkdawson opened #1166 "Freecen1 update on freecen2 has files that occasionally crash due to file content errors"
Did you notice the 3 errors

starting self.process_vld_file() for /raid/freecen2/freecen1/pieces/LAN/rg123026.vld at 03:47:43 PM
   transform start at 03:47:52 PM
***EXCEPTION CAUGHT while processing process_vld_file:
  undefined method `match' for nil:NilClass

["/home/apache/hosts/freecen2/production/lib/freecen1_vld_transformer.rb:23:in `block in transform_file_record'",

starting self.process_

[2021-02-23 19:20] Captainkirkdawson commented on #1153
This is a one off; given the code I fail to see why it was not an immediate response. The socket timeout having been doubled should help. I suggest this be closed and reopened if it reoccurs.

[2021-02-23 19:21] Captainkirkdawson commented on #1153
Turns out it was not fixed and was not a one off
The method was making sure that there were no records; districts, pieces or civil parishes using that place. I had forgotten to add the indexes that  would support such checks. it was reading all search records! My bad.
Indexes are added should behave as designed. (Fingers crossed)

[2021-02-24 09:48] geoffj-FUG opened #1167 "1841 Missing from Isle of Man PARMS"
The Isle of Man is missing the Isle of Man District, its pieces and Civil Parishes in 1841. They are attached to the Channel Islands.
The Isle of Man 1841 needs to be moved to the rest of the Isle of Man records.
Geoff

[2021-02-24 09:51] geoffj-FUG commented on #1158
I have a report of timeouts when a Place Name is being Disabled in the Gazetteer. This is affecting the Yorkshire linking in particular.
Geoff

[2021-02-24 15:21] FreecenBren commented on #1167
Can you clarify this please as I am a little confused.

We do not have the 1841 for either Isle Of Man, nor for what was called in
1841 the *Islands in the British Seas* which includes Guernsey and Jersey.

Piece numbers are as follows for 1841
H0107/1460 to 1465 as follows

This is split  between the 3 places.
1460 are Guernsey
1461 to 1462 are  for Jersey
1463 to 1465 are the Isle of Man.

When

[2021-02-24 15:37] Captainkirkdawson commented on #1153
Ali reports that the fix has worked.

[2021-02-24 15:38] Captainkirkdawson commented on #1158
@geoffj-FUG what you refer to is a different issue although it appears to be similar. [production][freecen2_places#destroy] Errno::ETIMEDOUT: Operation timed out - Took more than 100 seconds to receive data (for 136.243.1...#1153. That story has had a fix applied  and Ali confirms it is now working

[2021-02-24 16:37] PatReynolds commented on #1132
Thank you @Captainkirkdawson , closing

[2021-02-24 16:37] #1132 closed, assigned to Captainkirkdawson

[2021-02-24 16:39] PatReynolds commented on #1128
Thank you @geoffj-FUG . @Captainkirkdawson what is needed now?

[2021-02-24 16:40] PatReynolds commented on #1131
Thank you both, is anything more needed, if not please close @Captainkirkdawson or @geoffj-FUG

[2021-02-24 16:40] #1133 closed, assigned to AnneV-Learn

[2021-02-24 16:40] #1129 closed, assigned to AnneV-Learn

[2021-02-24 16:41] #1130 closed, assigned to AnneV-Learn

[2021-02-24 16:42] PatReynolds commented on #894
Thank you, @Captainkirkdawson  now closing.

[2021-02-24 16:42] #894 closed, assigned to Captainkirkdawson

[2021-02-24 16:43] PatReynolds commented on #1025
Thanks, both.  Does this need further testing, @Captainkirkdawson or can it be closed (if so, please do).

[2021-02-24 16:43] PatReynolds commented on #1113
@DeniseColbert  to test

[2021-02-24 16:44] PatReynolds commented on #1145
Thanks, @Captainkirkdawson

[2021-02-24 16:44] #1145 closed, assigned to Captainkirkdawson

[2021-02-24 16:45] PatReynolds commented on #1155
Thanks, @Captainkirkdawson I will test

[2021-02-24 16:46] PatReynolds commented on #1154
@Vino-S to test

[2021-02-24 16:48] PatReynolds commented on #1156
@Captainkirkdawson just been told about your email by Denise - do you want this testing first, if so please ask Vino, otherwise just deploy (same for others where people have been allocated to test).

[2021-02-24 16:50] PatReynolds commented on #1153
Thanks @Captainkirkdawson and Ali Closing

[2021-02-24 16:50] #1153 closed, assigned to Captainkirkdawson

[2021-02-24 16:54] Captainkirkdawson commented on #1167
@FreecenBren this story has nothing to do with FreeCEN1 and whatever parms or images you may or may not have.

It refers to Freecen2  where we are doing a one time establishment of the District, Piece and Civil Parish information based on TNA extracts. We do not worry about whether or not we have the images. After all we may have access to them one day.

At this point in time we are making sure th

[2021-02-24 16:54] PatReynolds commented on #1041
@geoffj-FUG do we need one for Scotland? Maybe only 'in due course'?

[2021-02-24 16:56] #771 closed

[2021-02-24 16:58] PatReynolds commented on #1157
Could you let us-all or me know what you need discussing, please?

[2021-02-24 17:02] PatReynolds commented on #126
Hi @geoffj-FUG how are you getting on with this? any help needed?

[2021-02-24 17:03] PatReynolds commented on #120
@geoffj-FUG is this now closed or an ongoing processess during cutover?

[2021-02-24 17:09] PatReynolds commented on #1078
The video on the volunteering page is a nice idea, and needed in the medium term - for now the support for Coords is more important.

[2021-02-24 17:14] PatReynolds commented on #1114
Scrum agreed that the few pixels of grey improve legibility, so should be implemented.

[2021-02-24 17:26] PatReynolds commented on #1119
Closing, as #772 is the action needing implementation to address this issue.

[2021-02-24 17:26] #1119 closed, assigned to PatReynolds, DeniseColbert

[2021-02-24 21:41] #1128 closed, assigned to Captainkirkdawson

[2021-02-24 21:42] #1127 closed, assigned to AnneV-Learn

[2021-02-24 21:42] #1131 closed, assigned to Captainkirkdawson

[2021-02-24 21:43] #1025 closed, assigned to Captainkirkdawson

[2021-02-24 21:43] #1113 closed, assigned to DeniseColbert, AnneV-Learn

[2021-02-24 21:44] #1155 closed, assigned to Captainkirkdawson, PatReynolds

[2021-02-24 21:44] #1154 closed, assigned to Captainkirkdawson, Vino-S

[2021-02-24 21:45] #1156 closed, assigned to Captainkirkdawson, Vino-S

[2021-02-24 21:45] #1160 closed, assigned to Captainkirkdawson

[2021-02-24 21:45] #1161 closed, assigned to Captainkirkdawson

[2021-02-24 21:46] #1163 closed, assigned to Captainkirkdawson

[2021-02-24 21:46] #1164 closed, assigned to Captainkirkdawson

[2021-02-24 21:46] #1165 closed, assigned to Captainkirkdawson

[2021-02-24 21:47] Captainkirkdawson commented on #1157
Awareness only

[2021-02-24 21:47] #1157 closed, assigned to Captainkirkdawson

[2021-02-24 22:50] geoffj-FUG commented on #1167
Brenda

The story refers to FC2. TNA have IOM under British Seas, which is otherwise CHI in 1841. The story is for Kirk to move it so that the FC2 PARMS can be done.

Geoff

From: Brenda <notifications@github.com>
Sent: Thursday, February 25, 2021 1:22 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Author <author@norepl

[2021-02-24 22:51] geoffj-FUG commented on #1158
Thanks Kirk

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Thursday, February 25, 2021 1:39 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Why are first name in a place taking more than 100 seconds? (#1158)

@geoffj-FUG <https://g

[2021-02-25 09:43] geoffj-FUG commented on #1025
Kirk
I still need to do instructions for Coordinator actions before a 1901 or 1911 year can be started. I am not sure ablut the actions and tools for this as I think they are being used by Rhoda. I dont have the knowledge yet.
Geoff

[2021-02-25 09:50] geoffj-FUG commented on #1041
Pat
Scotland has fields that have been specified but not developed as yet. The spreadsheets exist, but not the test. We need to treat Scotland as a separate project to be developed when resources are available and England and Wales have been cut over.
We managed to create the E&W PARMS from the TNA download. We currently have not examined the Scottish indexes and how useful they will be. I suspect

[2021-02-25 09:58] geoffj-FUG commented on #126
Pat
Its still on my to do list. Cutover is taking more time than originally envisioned. I have been updating images to align with the new screens.
I will evetuallly get to it but have more than enough on my plate at the moment.
Geoff

[2021-02-25 10:04] geoffj-FUG commented on #120
Pat
This should not be closed until cutover is complete. I have been mentoring Coordinators where necessary. Those that have been cut over are taking to the testing systems OK. Help with the pARMS is ongoing. One Coordinator was completely lost so I have fixed that County up myself. Most other Coordinators just need help with sprecific questions.  I suspect that there will be a bit of work needed

[2021-02-25 10:07] geoffj-FUG commented on #1078
Pat
I would say that the  Coordinators process sequence from page 57 of the Full Handbook called From Transcription to Incorporation is the most important area for Coordinators. This is the bread and butter process for a Coordinator.
Geoff

[2021-02-25 13:03] PatReynolds commented on #1078
@DeniseColbert could you let the volunteer making the videos know?  Thanks, Pat

[2021-02-25 18:48] johnshaw1000 commented on #93
Something like this perhaps? https://docs.mongodb.com/bi-connector/current/

[2021-02-25 21:15] geoffj-FUG commented on #1078
Pat

There are several stories already, each covering different improvements such as soundex and regex.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Thursday, February 25, 2021 11:04 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration

[2021-02-26 00:28] ghost opened #1168 "194111791 Problem linking Saltfleetby All Saints (John)"
Issue reported by **johnt** at 2021-02-24 15:56:31 UTC
Time: 2021-02-24T15:53:28+00:00
Session ID: 56665411489a24ef64112538b9b04b03
Problem Page URL: [/freecen2_civil_parishes/5fc7c6ddf4040b5f994c1ff0?locale=en](/freecen2_civil_parishes/5fc7c6ddf4040b5f994c1ff0?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen2_civil_parishes/chapman_year_index?chapman_code=LIN&locale=en&year=1841]

[2021-02-26 09:46] PatReynolds commented on #1078
Sorry, Geoff, don't quite understand your last message - how does this refer to making vidoes of actions (that we should wait on gazateer use until the improvements are in place perhaps?)

[2021-02-26 10:53] PatReynolds opened #1169 "Statistics do not include uploads as expected"
https://www.freecen.org.uk/userid_details/transcriber_statistics does not seem to be displaying the number of transcribers who have uploaded to CSVProc.

[2021-02-26 12:06] DeniseColbert commented on #1078
So, next video is "From Transcription to Incorporation" (pg57). Each section to be recorded separately and later combined.

Some ideas of what this may include (bearing in mind that we likely need 2 of these - one for brand new volunteers and one for those migrating from FC1).

1.  Using the system (Action buttons)
2.  Accessing spreadsheet (different for the 2 target audiences)*
3. Completing spr

[2021-02-26 15:39] Captainkirkdawson commented on #1169
That's because it has yet to be coded; It is part of the work on #1076 and #1135
Transcriber statistics for FreeCEN have never been accumulated as part of the FC1 operations

[2021-02-26 15:42] PatReynolds commented on #1169
Thanks, @Captainkirkdawson.  It will be lovely to have more transparency.

[2021-02-26 22:34] Captainkirkdawson commented on #1168
For some reason, currently unknown the standard place name was not corrected; it was the place name. Hence no match was found. Have added code to notify the member of the reason for a failure and described it as such. There was previously no such check or message it was assumed that since we were displaying the name it would always be found. Rule 2 is never assume anything!!. Code has been deploye

[2021-02-28 22:38] Captainkirkdawson commented on #1169
This![Freecen member statistics.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/94f7dc87-02d9-44db-beb6-ad90151138a5) is a copy of the first report.

You will see that we have had 104 new transcriber volunteers in the past 3 months. This is why we need to have a volunteer coordinator

The other block shows the number active on FreeCEN2 since the launch of CSVProc on 1 December 2

[2021-03-01 11:23] geoffj-FUG commented on #1167
The 1841 census detail for 1841 is recorded under CHI. As well as the problems with IOM, 1841 is the only year where JSY, GSY etc are entered under CHI. In the other years they are under their own Chapman Codes.
Geoff

[2021-03-01 12:07] PatReynolds commented on #1049
Looking at the DRAFT information for coords on test3, it appears to be a copy of the Information for Transcribers. Have marked 'do not use' on both test 3 and live.

I think this story is complete. However some updates to this page are needed / will be needed and I will start a new story.

[2021-03-01 12:07] PatReynolds opened #1170 "Update Coords help page with changed management teams"

[2021-03-02 19:00] Captainkirkdawson opened #1171 "[production][search_records#show] undefined method `next_and_previous_records' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63318ae937903f2020c6a0/problems/603a343ce93790420eb4c8d4)

[2021-03-03 18:32] Captainkirkdawson commented on #970
@geoffj-FUG Anne has developed the soundex code. Running in test3 needs evaluation
![soundex search.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/0e2d88a9-4386-4c71-ba4e-7a738a7df827)
![soundex results.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/30d638cd-11c0-455b-974e-fd4eda9112eb)

[2021-03-04 11:08] geoffj-FUG commented on #970
Kirk

I am not getting a result.

I started with a hard match and gradually narrowed it down.

It appears that I don’t have the option to select Soundex so it is not happening.

Geoff

[2021-03-04 11:23] AnneV-Learn commented on #970
Hi Geoff,

Are you not seeing the Place Name Soundex checkbox on Test3? I am - see screenshot below.

KR
Anne
[cid:896AEAEB-4DA7-407B-90DC-EF3EED426A0C-L0-001]

[2021-03-05 09:49] geoffj-FUG commented on #970
Anne

Got it!

It gets lost in the text below it. Can we move it across so that it is in line with the other 2 entry boxes?

Otherwise it works well. Can we migrate it please?

Let me know when it has been migrated and I will post to the Boards.

Geoff

From: Anne Vandervord <notifications@github.com>
Sent: Thursday, March 4, 2021 9:24 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.gi

[2021-03-07 23:13] Captainkirkdawson commented on #735
https://docs.google.com/document/d/1LD9zyYV1en5uzx0zP2_QSnMtSEuH3Vz_IQWWqvMEytU/edit has basic requirements

[2021-03-07 23:35] Captainkirkdawson commented on #1076
The first set of reports for overall statistics and county level statistics can now be generated on test3
![overall statistics.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/62b246d7-2670-4955-9e6a-0e5524e8662b)
![somerset statistics.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/2f252205-f6f1-4996-bb77-33e8d61336d1)

[2021-03-08 00:33] Captainkirkdawson commented on #1076
@geoffj-FUG
A very first cut of statistics on the content, including additions, for Freecen2 has been prepared on test3.
There is an overall report
![overall statistics.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/753b5f9f-832e-478d-b175-897b1adfd7a6)

As well there is a county level report; somerset is an example
![somerset statistics.png](https://images.zenhubusercontent.co

[2021-03-08 00:39] Captainkirkdawson commented on #1135
There is now a basic data collection system available to run on test3. It is basically only viable through statistical reports
Fields collected for each year and county as well as totals are
      [:individuals]
      [:dwellings]
      [:vld_files_on_line]
      [:vld_files]
      [:csv_files]
      [:csv_files_incorporated]
      [:vld_entries]
      [:csv_entries]
      [:csv_entries_incorporat

[2021-03-08 06:14] geoffj-FUG commented on #1076
Kirk
That covers a lot of good information.
However, RG11_2391 (8 Feb) and RG11_2392 (26 Feb) were Incorporated for SOM in the past 30 days but have not appeared on the report.
Geoff

[2021-03-08 15:10] Captainkirkdawson commented on #1076
@geoffj-FUG
This is a report from test3 and there are no incorporated files there.
The code can be applied to production if it looks like it may be useful
There is a considerable amount that can be done with other reports if the basis is acceptable.

[2021-03-08 21:10] geoffj-FUG commented on #1076
Kirk
The base is acceptable. It contains far more information than FC1 reports.

[2021-03-08 22:21] Captainkirkdawson opened #1172 "Multi county parms report"
Geoff is beginning to consider what has happened to the PARMS. The Coordinator needs to know where the whole of the piece is. We have broken it up. The ‘home’ Coordinator has all the Images and will need to organise transcription even if part of the piece is in another County. They therefore need to be able to enter a TNA piece number and see the various parts of it in our PARMS.

E0 U6 S7 C5: P18

[2021-03-08 22:44] #1168 closed, assigned to Captainkirkdawson

[2021-03-08 22:46] #1169 closed, assigned to Captainkirkdawson

[2021-03-08 22:46] #1171 closed, assigned to Captainkirkdawson

[2021-03-09 00:05] Captainkirkdawson opened #1173 "Display the pieces loaded for a specific county by year and by total"
There is a FreecenSiteStatistics collection that contains a records hash that has information for every county for every year. This is used to drive the County Statistics action ( It also drives the full Site Statistics action used by management.
An example follows
![county.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/b1835e6e-c3b0-49e9-b5b6-da6147ab0584)
What is need is a li

[2021-03-09 15:44] AnneV-Learn commented on #1140
Deployed to Test3 by KD.
@geoffj-FUG this is ready for testing now.

[2021-03-09 15:45] AnneV-Learn commented on #1141
Deployed to Test3 by KD.
@geoffj-FUG this is ready for testing now.

[2021-03-09 15:46] AnneV-Learn commented on #1142
Deployed to Test3 by KD.
@geoffj-FUG this is ready for testing now.

[2021-03-09 15:46] AnneV-Learn commented on #1143
Deployed to Test3 by KD.
@geoffj-FUG this is ready for testing now.

[2021-03-10 01:43] Captainkirkdawson commented on #1137
@geoffj-FUG
Turns out the issue was a little different, I was erroring out on a non digit field. There was code to handle a blanks but it was never being activated because of the earlier detection of a non digit.
Will deploy in the next deployment

[2021-03-10 05:07] Captainkirkdawson commented on #1103
@geoffj-FUG cannot find RG10_5549 in test3.

[2021-03-10 10:27] geoffj-FUG commented on #1103
Kirk
I have re-loaded the piece.
Geoff

[2021-03-10 10:35] geoffj-FUG commented on #1143
Anne

Magic!

Can you please migrate this to FreeCEN2.

Well done. I think that the users will be pleased.

Geoff

From: Anne Vandervord <notifications@github.com>
Sent: Wednesday, March 10, 2021 1:47 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigra

[2021-03-10 16:37] DeniseColbert commented on #1049
Please close when new story is made

[2021-03-10 16:38] DeniseColbert commented on #356
@PatReynolds could you test this please?

[2021-03-10 17:07] DeniseColbert commented on #1135
@PatReynolds suggested Institutions and Vessels; @Captainkirkdawson to have a think about this

[2021-03-10 17:13] DeniseColbert commented on #1054
@PatReynolds to check

[2021-03-10 17:17] DeniseColbert commented on #421
@PatReynolds to delineate the two Roadmap stories and clarify

[2021-03-10 17:19] DeniseColbert commented on #911
Next steps need clarifying @PatReynolds

[2021-03-10 17:44] PatReynolds commented on #356
AAAggh. This is now about four stories. Note to self: add anything that isn't in the tickyboxes yet, to them, when I return.  Then do all the tickyboxes!

[2021-03-10 17:46] PatReynolds commented on #1049
Cannot sign in to the members' area on  test3 ....

[2021-03-10 17:48] PatReynolds commented on #1077
Completed.  Next Roadmap will be April 2021.  Putting this story into Backlog for re-activation at that point.

[2021-03-10 17:52] PatReynolds opened #1174 "Add 'Back' buttons to the 'Data Coverage' Pages"
Back buttons are needed from the totals and percentage graphs (link from 'Data coverage'  detail of county/year page) and from the 'Data coverage' detials of county/year pages back to the Records detail page back to the main 'Database coverage' page (Records page).

I am suggesting doing this to discourage users from using their browser back button anywhere on the site

[2021-03-10 18:06] PatReynolds commented on #1135
Possibly date last vld added as something reported in the Records?

[2021-03-10 18:09] PatReynolds commented on #421
This (html roadmap page with a link to a google doc that does not need to be updated) needs no further changes, so closing.

[2021-03-10 18:10] #421 closed

[2021-03-10 18:17] PatReynolds commented on #786
@Captainkirkdawson  is there anything which needs to be counted (ie. any implications for the report generator? i.e. story #93).

[2021-03-10 21:43] Captainkirkdawson commented on #1135
last vld added is something that I would expect that we would add to the new Reports @AnneV-Learn

[2021-03-10 21:56] Captainkirkdawson commented on #1135
As I said at the meeting things like institutions and vessels are specific characteristics of a field and generally not meanable to generalised statistics for the full site. The cost of their extraction on a county by county basis is going to be high

[2021-03-10 21:58] Captainkirkdawson commented on #1174
Suggest that this be part of the overall recode of the FreeCEN Records action

[2021-03-10 22:00] Captainkirkdawson commented on #786
I think  a list of what is required by county basis would be good as part of the Records action

[2021-03-10 22:37] #1076 closed, assigned to Captainkirkdawson

[2021-03-10 22:37] #970 closed, assigned to AnneV-Learn

[2021-03-10 22:38] #1142 closed, assigned to AnneV-Learn

[2021-03-10 22:38] #1141 closed, assigned to AnneV-Learn

[2021-03-10 22:38] #1140 closed, assigned to AnneV-Learn

[2021-03-10 22:38] #1143 closed, assigned to AnneV-Learn

[2021-03-10 22:38] #1137 closed, assigned to Captainkirkdawson

[2021-03-10 22:39] #1135 closed, assigned to PatReynolds, DeniseColbert

[2021-03-10 23:34] Captainkirkdawson commented on #1103
@geoffj-FUG sorry but I do not see it on test3

[2021-03-10 23:49] Captainkirkdawson commented on #1103
@geoffj-FUG File RG10_5549 in test3 has no page number errors. Are we looking at the correct file??

[2021-03-11 00:17] Captainkirkdawson commented on #1103
@geoffj-FUG
Reason I could not find the file was I was looking in Somerset and it was in Cambridgeshire.
These page number issues have nothing to do with Merchant Vessels.
Regardless the fix I deployed for **Page number reported as error with ED in middle of page#1137** would apply to this situation.
I reprocessed the file and it has fixed the issue.

However as I said this is not a Merchant Vesse

[2021-03-11 06:21] geoffj-FUG commented on #1103
Kirk

I have uploaded file RG12_1918 to test3. This file had a series of vessels against ED 0#8 from row 7372 onwards.

The page number problem appears to have cleared with yesterday’s fix.

Geoff

[2021-03-11 09:50] geoffj-FUG commented on #1103
Kirk

It’s the top file in CSVBatches for somt.cen. County SOM.

Geoff

[2021-03-11 14:22] DeniseColbert opened #1175 "Volunteer Coordinator role"

[2021-03-11 14:43] DeniseColbert commented on #1175
Currently looking to find out what to do with:

- new transcribers who have selected a county of Brenda's that she is letting go of
- new transcribers who have selected England Syndicate

Awaiting responses to emails re. the above from @geoffj-FUG

Also wondering why I've been receiving file processing emails since 6th March:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e

[2021-03-11 18:21] Captainkirkdawson commented on #1103
@geoffj-FUG
The problem with using RG12_1918 is that it was created by my vld download and then uploaded **Hence issues may be caused by either component**. It is therefore not a file that is especially useful for diagnosing an upload issue. But perhaps I can modify it as a test piece

[2021-03-11 18:48] Captainkirkdawson commented on #1103
@geoffj-FUG

I can now confirm the following.

That the VLD Download does NOT process the 0#8 ED entries correctly. This will be addressed in as a story under the VLD tools epic
Manage vld data files with online tools in CEN2#854

That a Merchant Vessel Page Number of 0 is correctly processed.
That a Merchant Vessel Page Number of blank creates an Error message.

This is what I believe the specifi

[2021-03-11 20:31] Captainkirkdawson opened #1176 "Merchant Vessel Page Numbers as part of VLD download"
Merchant Vessel Page Numbers
The Instructions state:
For Merchant Vessels, there may be no Page Numbers: Use "0" (zero)
However Page number 0 creates an error.
Records in FC1 contain the page number 0 so we need to modify the page number test to accept it.

[2021-03-12 00:02] #1114 closed, assigned to AnneV-Learn

[2021-03-12 02:03] Captainkirkdawson commented on #1175
Those are actually being sent to the syndicate coordinator and I implemented the process by naming the Volunteer Coordinator as the syndicate coordinator who gets the email if different from the county coordinator if different. I can turn off if you like

[2021-03-12 05:01] geoffj-FUG commented on #1103
Kirk

If the ED number is entered on that row as 0#8 then there must be a page number.

If the ED is blank it is OK, but not compulsory, for the page number to be blank.

Geoff

[2021-03-12 05:53] geoffj-FUG commented on #1175
Kirk

I need to think about that one. Denise will need to receive test results from Newbies but once handed over to the Coordinator she will no longer need them.

Denise, if you can set a rule to move them into an email sub-folder that will get them off your screeen for now.

I need to get the process straight in my mind before I make a final comment.

We dont want them going back to Brenda.

Geof

[2021-03-12 10:52] DeniseColbert opened #1177 "Disable England syndicate"
Per email from Geoff on 11/3/21

[2021-03-12 11:09] DeniseColbert commented on #1177
Done by @geoffj-FUG - closing

[2021-03-12 11:09] #1177 closed, assigned to nobody

[2021-03-12 14:56] DeniseColbert commented on #1175
No problem then, I'd already created a filter but wondered if I should be doing anything with them. I'll ignore them until I hear otherwise. Many thanks, @geoffj-FUG & @Captainkirkdawson

[2021-03-12 16:19] Captainkirkdawson commented on #1103
@geoffj-FUG sorry to be so dumb but we are miscommunicating.
I was talking about subsequent vessels where a folio number has been entered and what to do with the page validation at that point.
Currently if there is a new folio number there must be a page number. It can be 0.

 I was asking if I should permit a blank page number if there is a folio number for a vessel on non ED lines

[2021-03-12 18:50] Captainkirkdawson opened #1178 "In 1841 IOM , Guernsey and Jersey are located in the Channel Islands"

[2021-03-12 20:39] Captainkirkdawson commented on #1178
@geoffj-FUG IOM for 1841 is now where it should be and there is consistent non-capitalisation of the o; Similarly JSY and GSY for 1841 were moved. The CHI no longer has any parameters

[2021-03-12 21:36] geoffj-FUG commented on #1175
Thinking aloud …
If we use Any County as a landing page and the Volunteer Coordinator moves the volunteer to a County after training then the problem should be resolved. The only syndicate members will be those being trained.
Thoughts please.
Geoff

[2021-03-12 21:37] geoffj-FUG commented on #1103
Kirk

If there is a folio number there should be a page number.

Geoff

[2021-03-12 22:27] Captainkirkdawson commented on #1103
TY @geoffj-FUG  will leave code as is and close

[2021-03-12 22:27] #1103 closed, assigned to Captainkirkdawson, geoffj-FUG

[2021-03-13 01:54] ghost opened #1179 "195501885 activate Yorkshire as search names county (Ian)"
Issue reported by **monty6** at 2021-03-12 18:04:45 UTC
Time: 2021-03-12T17:07:50+00:00
Session ID: 0167cd927b78f4e728dcb0b73a436cfd
Problem Page URL: [/freecen2_places/search_names_results?locale=en](/freecen2_places/search_names_results?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen2_places/search_names](https://www.freecen.org.uk/freecen2_places/search_names)
Reported Issue:

[2021-03-14 08:55] geoffj-FUG opened #1180 "CHI PARMS issues"
I have started on the CHI PARMS. I need to restructure them.
I wish to establish the structure
District - Channel Islands
Piece - Island
Civil Parish - Civil Parish.

That is for 2 reasons. It aligns with our 3 levels in the Chapman Codes but more importantly it is the researchers three most obvious search paramenters. (If they are not in the parish, look on the Island. If they are not on the Isla

[2021-03-14 11:02] FreecenBren commented on #1180
Hi Geoff,

Just an update.

We only have the 1861 & 1891 for CHI.

1861  : JSY x 3 to PR  and 5 to validate 1 to transcribe and GSY  is all
complete.

1891 :  JSY x 5 to PR  : 3 to Validate  3 to transcribe
1891   : GSY x 3 to Validate.

Sark and Alderney images are either none or were lost at the time as per NA.

We have no helpers at all for the CHI at the moment.
Therefore no movement.

IOM :

[2021-03-14 12:27] geoffj-FUG commented on #1180
Thanks Brenda

The FC2 PARMS has to be done whether we have images or not. Then the researchers searches will work properly.

Geoff

[2021-03-14 21:52] ghost opened #1181 "195651420 Over - a place name in Cambridgeshire (Michael)"
Issue reported by **MikeS** at 2021-03-14 11:37:00 UTC
Time: 2021-03-14T11:25:36+00:00
Session ID: cf207ad3cd1570b04327f8f42fc1ed57
Problem Page URL: [/freecen2_places?locale=en](/freecen2_places?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen2_places/new?locale=en&name=Over](https://www.freecen.org.uk/freecen2_places/new?locale=en&name=Over)
Reported Issue:
I have screenshots as

[2021-03-14 22:14] Captainkirkdawson commented on #1181
The Place name is there which is why it cannot be added.
All of the advanced place name search find the entries (There are 2)
@AnneV-Learn has identified the cause cause; https://stackoverflow.com/questions/49171693/disable-stop-word-filtering-in-a-mongodb-text-search
Put simply the text index does not index certain common words (Predominantly those possessive and connective words) and they are de

[2021-03-14 22:43] Captainkirkdawson opened #1182 "Remove trailing whitespace in the district/piece and civil parish names during on line creation/update"

[2021-03-15 10:05] AnneV-Learn commented on #1181
A disadvantage of taking option 5 above is that we would lose ‘stemming’ I believe.

[2021-03-15 14:43] Captainkirkdawson commented on #1181
@geoffj-FUG Your opinion please. Mike agrees with option 4

[2021-03-15 21:50] geoffj-FUG commented on #1181
Kirk
My brother lives there so I know it exists.
Option 4 sounds goo to me.
Geoff

[2021-03-15 22:47] geoffj-FUG commented on #1180
Step 1 done by Rhoda
Geoff

[2021-03-15 23:45] Captainkirkdawson commented on #1147
@geoffj-FUG
As I had to address the issue of the . in Rel or Dis fields in the processing of a traditional header; which is now deployed to test3 and permits with or without the . on those fields.
I decided to deal with this issue at the same time.
There are now four processing options
![POB.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/473ca1a8-6f05-4f49-a50b-b8c0f1a1d835)

I

[2021-03-16 01:01] Captainkirkdawson commented on #1180
@geoffj-FUG I am totally and utterly confused about what is happening with CHI.

Last week I was asked to remove the 1841 IOM , Guernsey and Jersey parms and put them in their respective counties. Story 1178. In 1841 IOM , Guernsey and Jersey are located in the Channel Islands. This I did as an urgent action

On on the 14th it appears that you want to move JSY and GSY back into CHI for all years a

[2021-03-16 01:19] FreecenBren commented on #1180
I too am confused.

All the Alderney, Jersey and Guernsey so far in FC1 are all in CHI.
I am having validated the last few and they will all get uploaded in FC1
the same in CHI.

When I do the next FC1 upload at the end of the month and I do manage to
get any CHI  Validated  VLD’s uploaded, when Vino does the FC2 upload for
us from FC1 where will the CHI VLD’s go to in FC2, or will they end up in

[2021-03-16 01:52] Captainkirkdawson commented on #1180
Brenda

Not sure where your confusion really comes from.

Anything coming into Freecen2 from FC1 knows nothing about CSVProc or the
Freecen2 Districts/Pieces or Civil Parishes.

What happens to files from FC1 is based solely on your traditional Parms.
Just as it has been for the past 3 years. Nothing has changed. So you have
nothing to be concerned about at this time.

Kirk Dawson
Fairmont, B.C. C

[2021-03-16 07:14] geoffj-FUG commented on #1180
Kirk

The TNA index treats the Channel Islands in different ways in different years. My first attempt was aimed at linking as is. This meant that when they changed their model our PARMS would not be consistent across the years. That means the our researcher searching would not be consistent.

It struck me that to get consistent search results we would need to have all of the Channel Islands under

[2021-03-16 08:18] FreecenBren commented on #1180
Thanks Geoff,

That makes sense.
 Brenda

[2021-03-16 17:46] Captainkirkdawson opened #1183 "[production][freecen2_civil_parishes#full_index] undefined method `downcase' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/604dc0a0e93790daecb96f92)
# undefined method `downcase&#39; for nil:NilClass #

[2021-03-16 18:02] Captainkirkdawson commented on #1180
Thank you @geoffj-FUG
I agree that TNA catalogues that are the basis for our fleshing out our many of our collections change according to the census year.
For 1841-1861 TNA uses in essence the Channel Islands. I say in essence because IOM is included in the Channel Islands in 1841. For 1871 onwards they Islands are treated separately.
However whatever we do has to consistently fit within our data

[2021-03-18 14:47] ghost opened #1184 "195991940 Strange result from replace activity (John)"
Issue reported by **johnt** at 2021-03-18 10:12:20 UTC
Time: 2021-03-18T10:07:30+00:00
Session ID: 2ef7b58fcec93ed590005f8812ee7346
Problem Page URL: [/freecen_csv_files/my_own?locale=en](/freecen_csv_files/my_own?locale=en)
Previous Page URL: [https://www.freecen.org.uk/feedbacks/new?utf8=%E2%9C%93&feedback_time=2021-03-18+10%3A06%3A46+UTC&session_id=2ef7b58fcec93ed590005f8812ee7346&user_id=johnt

[2021-03-18 14:50] Captainkirkdawson opened #1185 "We were unable to process your request to include RG10_4425.csv of FreeCEN00848 into the database"
RG10_4425.csv for FreeCEN00848 in WRY undefined method `sex' for nil:NilClass, ["/home/apache/hosts/freecen2/production/app/models/search_record.rb:830:in `block in populate_search_names'", "/home/apache/hosts/freecen2/production/app/models/search_record.rb:817:in `each'", "/home/apache/hosts/freecen2/production/app/models/search_record.rb:817:in `each_with_index'", "/home/apache/hosts/freecen2/pr

[2021-03-18 16:15] Captainkirkdawson commented on #1185
Issue has nothing to do the the sex field; that is the symptom. It crashed because we did not find the freecen_csv_entry

[2021-03-18 22:31] Captainkirkdawson opened #1186 "File with garbage not caught early"
civil_parish,enumeration_district,ecclesiastical_parish,municipal_borough,ward,parliamentary_constituency,location_flag,folio_number,page_number,schedule_number,uninhabited_flag,house_number,house_or_street_name,rooms,address_flag,surname,forenames,name_flag,relationship,marital_status,sex,age,individual_flag,occupation,occupation_category,at_home,occupation_flag,verbatim_birth_county,verbatim_bir

[2021-03-18 22:36] Captainkirkdawson opened #1187 "Unincorporate not functioning correctly"
Leaaving search records behind

[2021-03-18 23:29] Captainkirkdawson commented on #1187
Code fixed and deployed

[2021-03-19 11:16] geoffj-FUG commented on #1180
Kirk

I have had a long think about this. I have now looked at the problem from a different perspective. I previously only considered it from a search results perspective.

Channel Islands is a level 1 Chapman Code in the FC2 table of Chapman Codes. Under normal circumstances we do not attach place names to a level 1 code. It equates with ENG, SCT and IRL. We have identified the Codes of JSY, GSY,

[2021-03-19 12:18] DeniseColbert opened #1188 "Remove comscoord.freecen@freeukgenealogy.org.uk from "Volunteering Question" emails"
When Volunteering Question email notifications are sent to the Vol Coord, comscoord.freecen@freeukgenealogy.org.uk should not be CCd.

This is likely a temporary measure to avoid duplication of work and the potential for enquiries being answered by both the Vol Coord and the Comms Coord, until the roles are established.

[2021-03-19 17:18] Captainkirkdawson commented on #1185
A fix has been added.
While doing this it was noted that a failed incorporation left search records which became duplicated on a successful incorporation.
Added code to remove search records created during a failed incorporation.
Deployed to test3 and to production

[2021-03-19 17:24] Captainkirkdawson commented on #1184
Problem caused by poor implementation of No POB Warning.
Reimplemented and deployed

[2021-03-19 20:26] Captainkirkdawson commented on #1180
In my opinion we should, under the Channel Islands, have 2 districts  Jersey and Guernsey ( The 2 bailiwicks). Within those districts we have pieces for the parts of the specific bailiwicks all of which fall within Guernsey  since I understand there are no inhabited islands within the  bailiwick of Jersey.
All of the place names are to become part of the Channel Islands
With respect to validation

[2021-03-19 20:28] Captainkirkdawson commented on #1180
@geoffj-FUG If this is the way you wish to go it will take a day to restructure the place names and upload the new structure for CHI

[2021-03-20 15:29] Captainkirkdawson opened #1189 "Add integrated statistics to FreeCEN footer"
The FreeCEN footer only contains vld information

[2021-03-20 15:30] Captainkirkdawson commented on #1189
Using the new site statistics collection display the number of searches, the number of records and additions

[2021-03-20 15:38] Captainkirkdawson opened #1190 "Enhance Search Statistics Reports"
The only current information of searches is the total number of searches.

[2021-03-20 15:40] Captainkirkdawson commented on #1190
The search statistics data collection has now been tailored to FreeCEN. It is updated nightly
![search statistics.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/6128ca55-8061-4b69-a04f-492c4b15eeb4)

[2021-03-20 15:45] Captainkirkdawson commented on #1178
Replaced by #1180

[2021-03-20 15:45] #1178 closed, assigned to Captainkirkdawson

[2021-03-20 16:07] Captainkirkdawson commented on #1188
I am afraid this is not easy to do as it is integrated code with FreeREG and we have spent extensive resources to ensure that the coms coordinator is kept in the loop .
Can this not be dealt with through a working agreement between the parties?

[2021-03-20 16:08] Captainkirkdawson commented on #1186
I brute force trap has been added

[2021-03-20 16:13] FreecenBren commented on #1188
No problem Kirk.
Not a time consuming issue. OK by me.
Many thanks.

On Sat, 20 Mar 2021 at 4:07 pm, Kirk Dawson ***@***.***>
wrote:

[2021-03-20 19:40] Captainkirkdawson commented on #1183
Caused by an incomplete set up of CHI pieces

[2021-03-20 19:40] #1183 closed, assigned to nobody

[2021-03-20 20:02] Captainkirkdawson commented on #1182
Whitespace stripped and deployed to test3

[2021-03-20 21:29] Captainkirkdawson commented on #1179
The idea is to search all ridings

[2021-03-20 21:31] Captainkirkdawson commented on #1179
Revised version deployed to test3

[2021-03-20 21:34] Captainkirkdawson commented on #1167
Completed

[2021-03-20 21:38] Captainkirkdawson commented on #1162
@geoffj-FUG Should IOW be incorporated into HAM or remain as a separate county?

[2021-03-20 22:55] geoffj-FUG commented on #1180
Kirk

I can run with that.

It is the same model as we are using for IOW and the Ridings.

Geoff

[2021-03-20 22:58] geoffj-FUG commented on #1162
Kirk

IOW is part of HAM. But it can be enumerated as IOW or HAM.

We need the Chapman Code model of level 2 HAM level 3 HAM or IOW for validation of POBs.

As far as PARMS is concerned they can be one County.

PARMS and validating are using the same Gazetteer for 2 different purposes.

Geoff

[2021-03-21 00:23] Captainkirkdawson commented on #1166
@Vino-S @FreecenBren An offline processing of the file RG123155 under diagnostic conditions shows that the crash is a symptom of an incorrectly formatted record. While it would be possible to avoid the crash this would simply allow the  creation of incorrect entries. Hence we are better to let the crash occur.
 age: nil, age_unit: nil, birth_county: "ber", birth_place: "bach          -", birth_pla

[2021-03-21 11:14] geoffj-FUG commented on #1147
Tests well
This story can be closed
Geoff

[2021-03-21 11:19] geoffj-FUG commented on #1167
IOM resolved and PARMS amendments done.

[2021-03-21 17:46] DeniseColbert commented on #1188
Brenda, this story is because you _don't_ need to answer Volunteering Questions anymore; that is now fully in the role of Volunteer Coordinator (which I'm temporarily doing). Could you leave all of these for me to answer?

OK @Captainkirkdawson, thanks for letting me know.

[2021-03-21 17:46] DeniseColbert commented on #1188
Closing

[2021-03-21 17:46] #1188 closed, assigned to nobody

[2021-03-21 18:28] Captainkirkdawson commented on #1166
@Vino-S @FreecenBren  Further off line investigation shows where these files go wonky

Processing **rg123155.vld**
**The line BEFORE the following was where there was a special character present. It then appears also in the following records**

"000970003Barton Upon Irwell  14  11   16  96       Peel Green Road Ͼ� Ivy Farm-PLATT                   Frances R E             -Daur  SF15 y-(Em'ee)

[2021-03-21 18:46] Captainkirkdawson commented on #1166
@Vino-S I have committed to master the code that detects when a vld file has got out of correct sequence. A crash is caused on the first detected incorrect line. The actual line that is incorrect  is the one PRIOR to this.

[2021-03-21 19:22] FreecenBren commented on #1166
Neil is on holiday so I will look at them tomorrow.
It looks like the same problem he had last  year.
I have copies so will let you know.

Strange that neither CSVCHECK nor FC1 upload rejected them as they went
through on there.Thanks for pointing them out.
I will let him know anyway to what adjustment I make.

This is what it looks like on FC1 search page for the address.
Strange it happens for L

[2021-03-21 19:34] FreecenBren commented on #1166
This is the 2nd one. The issue is in the occupation.
Will fix it as well tomorrow

*Piece:* RG12/3026 *Place:* Prescot -Lancashire *Enumeration District:* 35
*Civil Parish:* Sutton *Ecclesiastical Parish:* St Nicholas
*Folio:* 73 *Page:* 26 *Schedule:* 150
*Address:* 25 Walkers Lane

------------------------------
  Surname First name(s) Rel Status Sex Age Occupation Where Born Remarks
    TIMBLIN

[2021-03-21 20:13] #1167 closed, assigned to Captainkirkdawson

[2021-03-22 20:00] Captainkirkdawson commented on #1151
Fix applied to test3

[2021-03-22 20:24] Captainkirkdawson commented on #1152
Not sure what can be done with this. The vld record has an x in the uninhabited field. The download has correctly carried this into file and the warnings are appropriate

[2021-03-22 20:26] Captainkirkdawson commented on #1150
Cannot duplicate with copy of file taken from production

[2021-03-22 20:40] Captainkirkdawson commented on #1148
999y permitted

[2021-03-23 16:31] Captainkirkdawson commented on #1152
Have eliminated the error. Warning still generated. test3

[2021-03-23 16:32] Captainkirkdawson commented on #1148
999y permitted in test3

[2021-03-23 16:33] Captainkirkdawson commented on #1176
Corrected in test3

[2021-03-23 16:36] Captainkirkdawson commented on #851
@geoffj-FUG New version applied to test3; all known issues addressed

[2021-03-23 22:13] Captainkirkdawson commented on #1149
Deployed to test3

[2021-03-24 16:38] #1187 closed, assigned to Captainkirkdawson

[2021-03-24 16:38] #1185 closed, assigned to Captainkirkdawson

[2021-03-24 16:38] #1184 closed, assigned to Captainkirkdawson

[2021-03-24 16:38] #1189 closed, assigned to Captainkirkdawson

[2021-03-24 16:38] #1147 closed, assigned to Captainkirkdawson

[2021-03-24 16:39] #1190 closed, assigned to Captainkirkdawson

[2021-03-24 16:54] DeniseColbert commented on #93
Story on Systemwide: https://github.com/freeukgen/systemwide/issues/158
Doc: https://docs.google.com/document/d/1LD9zyYV1en5uzx0zP2_QSnMtSEuH3Vz_IQWWqvMEytU/edit

[2021-03-24 16:58] DeniseColbert commented on #1175
Plan: All new transcribers enter training syndicate and then VC passes them on to Coord.

[2021-03-24 16:59] PatReynolds opened #1191 "The Records Page Epic"
We have a Records link on the main menu bar. This currently takes you to the old Data Coverage page for FC1.
The Records page display system needs to be re- engineered to fit with the new CSV upload system as well as the historical data.
Parts related to the old Data Coverage system are in Database coverage epic#749  parts of which may be usefully considered.

[2021-03-24 17:14] PatReynolds opened #1192 "Investigate why searches are timing out"

[2021-03-24 17:15] DeniseColbert commented on #1136
Any further comments @geoffj-FUG

[2021-03-24 17:21] DeniseColbert commented on #1126
@AlOneill to add some info to the story about accessibility code for this.

[2021-03-24 17:28] PatReynolds commented on #1134
Pat to explore with Kirk

[2021-03-24 19:12] AlOneill commented on #1126
I suggest we precede the name with `<span class="accessibility">This is the person found in your search</span>`

There are a few more issues with this page:
* neither table has a `caption`: I suggest something along the lines of `<caption class="accessibility"></caption>` and
* the text "If you believe there to be an error in this transcription then please report (link opens in a new tab) it to ou

[2021-03-24 19:35] AlOneill commented on #1126
I suggest we follow the name with `<span class="accessibility">the person found in your search</span>`

Neither table has a `caption` to explain the contents. I suggest _something like_ `<caption class="accessibility">Reference details for this record</caption>` for the first and for the second, Details of each person in the record

The text "If you believe there to be an error in this transcripti

[2021-03-24 22:17] AlOneill commented on #1126
On further thought — the link-text would be better with some more context, so I suggest the following (the link-text is in square brackets) —
"If you believe there to be an error in this transcription then please [report it to our data manager (link opens in a new tab)].

[2021-03-24 22:20] Captainkirkdawson commented on #1181
@AnneV-Learn Change looks fine. Lets do a merge and then deploy to the test3 server

[2021-03-25 14:08] DeniseColbert opened #1193 "Duplicate word in email notification"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/39a276d4-2b2b-4dfb-b85d-68a90fe0ea2a)

Does this occur in all Contact Us emails?

[2021-03-25 15:58] Captainkirkdawson commented on #1193
@DeniseColbert It was because the forename and the surname for the userid were the same Cencoms. So it was not really a duplicate.
Have edited the name to be Cen as forename and Coms as Surname

[2021-03-25 15:58] #1193 closed, assigned to nobody

[2021-03-25 17:07] Captainkirkdawson opened #1194 "Develop a plan for the future of the Records displays"
Review the FreeREG approach and perhaps the FreeBMD2 approach if developed (talk to vino) and look at the old FreeBMD approach. Develop an overall plan for how to build the system from a top down perspective.

[2021-03-25 23:11] Captainkirkdawson commented on #1106
Thanks to @Vino-S the issue has been resolved. It occurred with replies to messages. Applied to test3

[2021-03-25 23:13] Captainkirkdawson commented on #1126
Changes applied to test3

[2021-03-25 23:32] Captainkirkdawson commented on #644
Current set of subject of response emails is
{
      'Website Problem' => 'RE: Thank you for reporting a website problem',
      'Data Question' => 'RE: Thank you for your data question',
      'Data Problem' => 'RE: Thank you for reporting a problem with our data',
      'Volunteering Question' => 'RE: Thank you for question about volunteering',
      'General Comment' => 'RE: Thank you for the g

[2021-03-26 00:04] AlOneill commented on #1126
@Captainkirkdawson Ah. I must've explained that badly. Apologies. I'll tweak the markup and email some HTML snippets.

[2021-03-26 09:34] DeniseColbert commented on #644
Could this 'Thank-you' => 'RE: Thank you for your compliments', be changed per Pat's comment above, to 'Thank you for your review'?

[2021-03-26 14:30] Captainkirkdawson commented on #644
Done and applied to test3

[2021-03-26 16:35] Captainkirkdawson commented on #548
Is this still a requirement?

[2021-03-26 16:37] Captainkirkdawson commented on #254
This will be dealt with in the redesign of the Records pages

[2021-03-26 16:40] Captainkirkdawson commented on #584
Being dealt with in the site statistics and county drill down.
Also CSV files are associated with the transcriber
Is there more if so it should be added to the requirements that those actions are doing.
This should be closed

[2021-03-26 16:41] Captainkirkdawson commented on #271
Search stats are available

[2021-03-26 16:41] #271 closed

[2021-03-26 16:42] Captainkirkdawson commented on #545
Is this still a requirement?

[2021-03-26 16:43] #563 closed

[2021-03-26 16:43] #269 closed

[2021-03-26 16:43] #625 closed

[2021-03-26 16:44] #371 closed

[2021-03-26 16:44] #546 closed

[2021-03-26 16:44] #257 closed

[2021-03-26 16:45] #710 closed

[2021-03-26 16:46] #662 closed

[2021-03-26 16:47] #660 closed

[2021-03-26 16:49] Captainkirkdawson commented on #632
Implemented

[2021-03-26 16:49] #632 closed

[2021-03-26 16:50] Captainkirkdawson commented on #1031
Implementing as part of cutover

[2021-03-26 16:50] #1031 closed, assigned to nobody

[2021-03-26 17:20] Captainkirkdawson commented on #1180
Actions needed:
1)Copy places for ALD (1), GSY, FSY, SRK to CHI on both test3 and production
2)Modify/Create xml for ALD, GSY, FSY, SRK and CHI to create Districts and pieces with appropriate names for each census year in CHI
3)Remove districts/piece and parishes from CHI. (There are none for ALD, GSY JSY) on test3
4)Upload and process CHI xml for each year on test3.
5) Confirm all OK on test3
6)R

[2021-03-26 17:31] AlOneill commented on #1126
@Captainkirkdawson
The first table is good. Thank you.

The `span` between the tables is in the wrong place: it has to identify a specific person in the second table, so it needs to go immediately before their surname value, in the same cell:
`<td class="weight--semibold"><span class="accessibility">the person found in your search</span>SURNAME value</td>`

The `thead` of the second table is empty

[2021-03-26 21:20] Captainkirkdawson commented on #1126
Sorry @AlOneill. Most of your requests have been adopted. 1) Positioning of the caption in the second table and 2) removing a please. 3) putting the span on the first element required a bit more programming because of the way the values are placed in the line which is why I had placed it on the the full line.
There is no empty `thead` in the second table. It does have all the column headers within