[2021-11-16 18:58] Captainkirkdawson opened #1330 "Review Gazetteer Places within Counties"
The Nearby places search option is showing that we have incorrect coordinates for some of our Places.

It would help if we were to conduct a systematic review of the places in a county not by detail but by a visual review to identify outliers and correct those if necessary.

It is suggested we go county by county. List Active Places with Records; in the list visually scan for entries that look inc

[2021-11-17 11:25] PatReynolds opened #1331 "Set up testing team for FreeCEN"
Documentation on "how to test" is ?complete, and recruiting volunteers for
 - [ ] tests for Coord features
 - [ ] tests for Validator features
 - [ ] tests for Proofreader features
 - [ ] tests of Transcriber features
 - [ ] tests of Researcher features
will reduce workload of existing team members and offer an opportunity for existing FreeCEN volunteers and users to become more involved (if they

[2021-11-17 15:01] AlOneill commented on #1327
@Captainkirkdawson OK. I'll stop asking daft questions.

Fixed some grammar today and discovered more new text and some broken markup. If no more content is added or edited, all is now fixed. (Am still pondering how to make the text more accessible to the general reader.)

@the_Scum Do we publish the revised text as it stands or are there parts that need attention first?

[2021-11-17 16:16] DeniseColbert commented on #1307
Complete

[2021-11-17 16:18] DeniseColbert commented on #1307
I've changed the title to address the previous errors that are likely to have been made, and prevent future ones.

[2021-11-17 16:34] PatReynolds commented on #1305
Thank you, @Captainkirkdawson ! So closing.

[2021-11-17 16:34] #1305 closed, assigned to Captainkirkdawson

[2021-11-17 16:42] PatReynolds commented on #1265
Ready for testing.  @DeniseColbert  to ask Chris to test once we have done a little more testing ourselves.

[2021-11-17 16:54] PatReynolds commented on #1258
The extended character set will only be used for type-what-you-see fields (i.e. personal names and place of birth).  @Captainkirkdawson to investigated the feasabily of using an extendted character set in searching these fields - where a character with a diacrictial mark in a search finds both the character with, and without the mark, and a search for a character without a diacritial mark finds bo

[2021-11-17 17:02] PatReynolds commented on #1327
@PatReynolds @DeniseColbert to check, (and @DeniseColbert to write a blog post) and report back to @Captainkirkdawson

[2021-11-17 17:04] PatReynolds commented on #774
@PatReynolds look at Brenda's suggestions

[2021-11-17 17:11] #1255 closed, assigned to PatReynolds

[2021-11-17 17:13] PatReynolds commented on #1292
@DeniseColbert to test Vimeo with one video to check functionality with Refinery.

[2021-11-17 17:22] #1329 closed, assigned to nobody

[2021-11-17 17:22] #1328 closed, assigned to nobody

[2021-11-17 17:26] PatReynolds commented on #1319
@Captainkirkdawson to take a look - may have alarady been dealt with

[2021-11-17 17:37] DeniseColbert opened #1332 "Rake task for unassigned or misassigned transcribers"
Ultimately, all transcribers should be in a syndicate that reflects their transcribing. A rake task to identify those in:

Any Questions? Ask Us
Any County and Year
Technical
Wales Syndicate (?)
Yorkshire Syndicate (?)

And all old syndicates that are no longer in the dropdown list on Registration page

[2021-11-17 17:40] Captainkirkdawson commented on #1319
Yes it was responded to . Improvement made to csvproc messaging

[2021-11-17 17:40] #1319 closed, assigned to Captainkirkdawson

[2021-11-17 17:56] AnneV-Learn commented on #1318
@PatReynolds I was able to find these in Freecen2 - see attached screenshots
![Screenshot 2021-11-17 at 17.48.51.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/ff6d2324-9be0-4edf-9951-ca6ea1902d09)
![Screenshot 2021-11-17 at 17.48.12.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/4b413144-d2b5-4202-8432-1f8e90d6b5b1)

[2021-11-17 17:59] Captainkirkdawson commented on #1265
Could I suggest we add an extra link and a new column. The link is a location line that opens a map with the location of the place. The new column lists the number of records on line.
See below
![Place display.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/c16ebb53-1f91-46cb-a61e-f8fe68bb3bda)![Place display.png]
![pieces display.png](https://images.zenhubusercontent.com/5b68ae

[2021-11-17 21:21] geoffj-FUG commented on #1265
I support both of Kirk's suggestions. Geoff

[2021-11-17 21:26] geoffj-FUG commented on #1258
Pat
I have concerns with
 _and a search for a character without a diacritial mark finds both the character with, and without the mark. also applies to "-" and " " where a search for one finds the other._
If this is applied to Validation then mistakes in the enumeration will not be picked up if we ignore the " ". Kingsbrompton for instance would pass testing when the place name is actually Kings Br

[2021-11-18 12:45] rhodamackenzie commented on #1330
Kirk,
is there any way i can access the places as an excel file along withe county and lat/long? Both for fast scanning to find problems and to let me check i have not missed out any minus signs after i make changes? Happy to look at all placenames this way, or to only look at active ones. It's terribly time consuming plus i will have to go back and check them all manually again at the end.

[2021-11-18 19:29] Captainkirkdawson commented on #1327
@AlOneill Can you do what you do to make the DRAFT Help ready for use and I will transfer to production

[2021-11-18 22:27] AnneV-Learn commented on #1265
@Captainkirkdawson I am wondering if it would also be useful to add a button on the 'All Counties' page that links to a list of Places with New Pieces Online  i.e. added in previous 30 days. The list would show County, Place, Year and buttons to 'View Pieces' and 'Unique Names').

[2021-11-18 23:02] Captainkirkdawson commented on #1265
Yes  it would. It would also likely be a good idea to add it to the county page too

[2021-11-18 23:02] Captainkirkdawson commented on #1330
@rhodamackenzie Sent off line

[2021-11-18 23:42] AlOneill commented on #1327
@Captainkirkdawson The draft page has been checked and promoted — it is sync-ready.

[2021-11-18 23:55] #1327 closed, assigned to Captainkirkdawson, AlOneill

[2021-11-18 23:55] Captainkirkdawson commented on #1327
Thanks @AlOneill deployed.

[2021-11-19 00:03] AlOneill commented on #1265
@AnneV-Learn I've just had a quick look at the new Records page — it is looking good!

Are you ready for me to hit you with some accessibility issues? Or should I hold off for now?

[2021-11-19 07:04] AnneV-Learn commented on #1265
@AlOneill please do send me the accessibility issues.

[2021-11-19 12:37] rhodamackenzie commented on #1330
Hi Kirk,
I'm finding several places which are duplicates of correct places but in other counties a long way from the correct county, most were edited at some point, by sensible people who would not have made this mistake. I wondered if this is the situation you mentioned where an error occurred if someone was working in a different county then went into the gazetteer.
Anyway - I cannot disable the

[2021-11-19 15:45] AlOneill commented on #1265
@AnneV-Learn Starting with the Records page —

* although using a `fieldset` to hold both the form and the table is not invalid markup per se, I think it would confuse screen-reader software and hence those who use that software. The `fieldset` could contain the whole form, in which case it would need to have a `form="id-of-form"` attribute. It is more commonly a child of a form.

Further, a scree

[2021-11-19 18:59] AnneV-Learn commented on #1265
@AlOneill  thank you for your preliminary review. By ‘behind a login’ do you mean the Test3 login (just checking as Records pages should be available to non-members)?
I am currently working on some additional functionality and so I think I will deal with that first now.
To be honest my html experience is very minimal and I just aimed to get the Records landing page (which is the most complicated o

[2021-11-19 19:05] AlOneill commented on #1265
@AnneV-Learn Yes, the t3 login. There won't be an issue once the page is on production (!)

No problem with your lack of experience: we all have to learn something new with these projects.

[2021-11-19 23:25] Captainkirkdawson opened #1333 "Vld records marked as deleted are not downloaded by CSVProc"
@geoffj-FUG reports that If a record has an 'x' as a flag, the record does not get downloaded into the csv file. FreeCEN1 allowed the flags to be uploaded but they are no longer used by reports. CSVProc requires them to be resolved or replaced by an entry in the Notes field. This appears to be the cause of the missing records.

[2021-11-20 00:13] Captainkirkdawson commented on #1333
@geoffj-FUG I can confirm that the download does not download an entry that contains the deleted flag. It is NOT clear to me what action you want us to take.
From my research both FC1 and FC2 simply ignore the flag and treat it like any other record. In your file the first 2 deleted flag entries are in the same household. See attached.
![Bull1.JPG](https://images.zenhubusercontent.com/5b68ae684b58

[2021-11-20 01:41] Captainkirkdawson commented on #1330
@rhodamackenzie Providing you have not created a new place of the same name in the correct county you should be able to correct the incorrect one. If you have already created a new one then that needs to be renamed and deleted; renaming is essential prior to disabling

[2021-11-20 01:45] Captainkirkdawson opened #1334 "Incorrect schedule number on VLD download of uninhabited."
When there is a proper schedule number entered against a 'u' in the uninhabited field it is being changed to 0 on download.

[2021-11-20 01:47] Captainkirkdawson opened #1335 "Unoccupied gets UNK on VLD download"
UNK gets added as the Chapman Code of unoccupied buildings. I did not have instances of 'v' or 'b' so cannot comment on those.

[2021-11-20 01:49] Captainkirkdawson opened #1336 "VLD download of shipping incorrect"
Schedule 0 and page number appear against second person on a ship as well as the first person (ships are correctly transcribed as schedule no 0 on original transcription)

[2021-11-20 01:58] Captainkirkdawson commented on #1335
@geoff Problem does not originate with the download. FC1 vld processing adds it to both birth and verbatim county fields as part of  the entry creation. The download takes what is already there.
Will eliminate as part of the download.

[2021-11-20 18:24] Captainkirkdawson commented on #1335
Code updated to remove UNK if uninhabited. Note yet deployed

[2021-11-20 22:31] Captainkirkdawson commented on #1335
Have confirmed that the same problem exists for b n v as well as u; but not for x

[2021-11-21 08:57] geoffj-FUG opened #1337 "Correct Places in Gazetteer without Sources"
When we did the work on the County PARMS and transferred Civil Parishes etc between Counties it created duplicate entries in the Gazetteer for the place. These entries are invalid for Validation purposes but are letting incorrect Places of Birth through as automatically validated. The entries cannot be removed because they have children attached to them. However these entries typically do not have

[2021-11-21 16:31] Captainkirkdawson commented on #1337
There are 1294 places with no source, of which 474 have data associated with them

[2021-11-21 17:17] Captainkirkdawson commented on #1335
Code adjusted but not yet deployed

[2021-11-21 21:59] Captainkirkdawson commented on #1333
@geoffj-FUG since there has been no advice yet and in order to make progress on the other aspects of the VLD download I propose to include the entries in the download and set the uninhibited flag to n and added a note "Deleted flag set on VLD; "

[2021-11-21 22:48] Captainkirkdawson commented on #1336
@geoffj-FUG Freecen2 puts both page and schedule number against all shipping entries. Schedule number is given as 0 for all. Will remove for download for all except first

[2021-11-22 03:25] Captainkirkdawson commented on #1333
@geoffj-FUG Using n is not going to work. Will try x

[2021-11-22 09:49] geoffj-FUG commented on #1333
Kirk
The deleted flag is not that flag that is causing the problem. It is the flags that were put into the following columns in the FC1 tarditional spreadsheet - H (address flag and uninhabited etc. Uninhabited etc download OK), K (Names flag), P (Age etc flag), S (Occupation flag) and V (POB flag).
It is the x flags  in FC1 tht drew the attention of the proofreader / validator to a problem record

[2021-11-22 09:55] geoffj-FUG commented on #1337
Kirk

Can you download me a csv file please and I will have a look at them. Can we
identify the ones with data?

I suspect that the 474 will be the ones that are linked in the PARMS. They
are legitimate to make the PARMS work but we need to hide them so that they
do not get used by the automatic validation process.

There were a lot of entries with no source generated when we started with
the Gaze

[2021-11-22 09:57] geoffj-FUG commented on #1336
Kirk

By first I presume that you mean first entry in a ship. There can be more
than one ship enumerated. A ship details in the address will identify the
start of a new ship.

Geoff

[2021-11-22 22:46] geoffj-FUG commented on #1337
An example of a problem entry is Launceston DEV. It was generated when part of the Launceston CON Registration District was moved to DEV to geolocate the Civil Parishes. The result is that Launceston DEV now auto validates,. The incorrect entry can be identified by a lack of a source.
Geoff

[2021-11-22 22:49] Captainkirkdawson commented on #1333
@geoffj-FUG sorry to disagree but the first problem is the deleted flag from the VLD entry.
The code as originally written did not output any entry with the deleted flag field in the vld entry set to D.
A vld entry has 299 bytes and is set up as
Entry field	Transcriber field	Starting_byte	Number_of_bytes
A	X	0	1	Deletion marker (D or blank)
B	X	1	4	Not used. Was Registration district - this usage

[2021-11-22 23:00] Captainkirkdawson commented on #1337
@geoffj-FUG I will get you a list shortly; have been focusing more on the VLD download issue.
I am sorry but i believe your proposed solution will cause as many problems as it fixes.
If a member does not see an entry and the validation does not see an entry then are they not then going to try to create another entry/ This will fail if it has the same name as one that is not being shown; if it is a

[2021-11-23 01:43] Captainkirkdawson commented on #1336
Yes first person for the ship will have the entry

[2021-11-23 09:44] PatReynolds commented on #1331
Sent MOTD wording to @DeniseColbert 23 Nov 2021

[2021-11-23 12:22] AnneV-Learn commented on #1265
@AlOneill I have addressed the issues you identified and also checked all the pages in the RECORDS functionality with the WAVE accessibility tool and made corrections where necessary. Now none of the pages have Errors or Alerts associated with the RECORDS views. So hopefully all will be ok when the updated version is made available for testing.

[2021-11-23 17:54] PatReynolds commented on #1265
I can't see the Unique names button (on test 3). Should I?

The selection of places does not work ain the same way as on the search page - typing in a character will take you to the first instance of  a place starting with the character.  Is it possible to add this, for consistency and ease of use.

Otherwise all working as expected, thank you!

[2021-11-23 18:11] AnneV-Learn commented on #1265
The Unique names button only appears on the Place index if there is data Online. I don’t know which counties/places you tried @PatReynolds but if you try County = Lancashire and then Place = Accrington hopefully you will see the unique names button for 1861 data.
Tomorrow I will be releasing an updated version of the Records  pages for preliminary testing by Kirk. This includes new functionality (

[2021-11-23 19:06] Captainkirkdawson commented on #1310
@geoffj-FUG there are 118,405 birth chapman_codes of OVB in search records; there are 114,896 birth county records with OVB in freecen_individual ;  There are 113,686 verbatim birth chapman_codes records with OVB in  freecen_individual; there are 9,873 verbatim birth chapman_codes records with OVB in  freecen_csv_entries; there are 439 birth chapman_codes records with OVB in  freecen_csv_entries.

[2021-11-23 21:54] AlOneill commented on #1265
@AnneV-Learn Excellent — thank you! I look forward to being able to re-test all the Records pages.

[2021-11-23 22:10] geoffj-FUG commented on #1310
Kirk

I see the vld issue as more important because it is affecting the integrity of the database.

The timing of the elimination of OVB is at our discretion.

So, we will tackle the vld issue first.

Geoff

[2021-11-23 22:38] Captainkirkdawson commented on #624
Silsden is a civil parish in WRY; i=the images including Silsden have not been transcribed hence it will not appear in the Census Places list. It would automatically appear if it was ever tyranscribed

[2021-11-23 22:38] #624 closed

[2021-11-23 22:50] Captainkirkdawson commented on #469
Place name is FC2 is Walton le Dale

[2021-11-23 22:50] #469 closed

[2021-11-23 22:56] Captainkirkdawson commented on #413
Do not understand requirement

[2021-11-24 20:25] Captainkirkdawson commented on #1265
We have pulled the code into test3 but the re appear to be underlying data issues so taking the time to redo the linkages. The displays look excellent; may take a day or 2 to get the database setup on test3

[2021-11-25 21:56] Captainkirkdawson commented on #255
It is not clear to me how we can structure a meaningful birth place constraint given that there are over 500,000 distinct place names in the records. Clearly a drop down list for selection is going to contain too many entries.

[2021-11-26 10:34] PatReynolds commented on #255
Might need an initial basic search, with enhanced tools.

Basic search: select different country, if not United Kingdom, then state (uk gives the four home countries plus Ireland?) then county, then lat and long is found from drop down list of standard places?

Enhanced: final step (or first step?) is a free text search using gazateer to get lat and long

Alternative: third party tool is used to i

[2021-11-27 01:56] Captainkirkdawson commented on #255
Unfortunately a large number of the distinct place names for the birth place do not have a location hence their birth place record is inaccessible.

[2021-11-29 10:46] PatReynolds commented on #255
Sorry, I thought all identifiable Places of Birth were in the gazetteer, and every place in the gazetteer was georeferenced.

Would the Ordnace Survey Place data be sufficient to geocode the rest? It is Open Data.  https://www.ordnancesurvey.co.uk/business-government/products/open-map-names

There is an API: https://osdatahub.os.uk/docs/places/gettingStarted or we can download as CSV.

[2021-11-29 17:51] Captainkirkdawson commented on #255
POB is validated for CSVProc but we have 40 million VLD POB values that were only validated against whatever the transcriber validator used

[2021-11-29 18:57] Captainkirkdawson commented on #1333
@FreecenBren has confirmed as follows:
So I used the search for this PIECE I found where a D has been used.

You will see that at some stage the D was meant to be deleted but it was not.

The system though still passed it.

[2021-11-29 18:58] Captainkirkdawson commented on #1333
Excellent work Brenda.

You have confirmed that FC1 paid no attention to the deleted flag in the VLD and included that record in the database.

I have confirmed that FC2 also ignored the deleted flag. Hence the 2 databases are consistent but incorrect.

You have confirmed in that one case that the record with the deleted flag should not have been included.

Perhaps Geoff can confirm the situation

[2021-11-29 19:33] FreecenBren commented on #1333
We could, well I will anyway, check all  of the VLD’s  I still have to
finish off, before they are added to the database, to ensure that all D’s
are amended.

Not sure about checking those already online, but if you can identify any
then I will do them,  no problem, as long as they are for my counties.
(Still plenty of those)

Cheers Brenda

[2021-11-30 09:55] PatReynolds commented on #1265
Unique names button now there - I must have not been looking in the right place.  Everything works as I would expect it to (and very easy to use!)

Is there a typo in Stockton 1851, piece HO107_2383A  "Norton, (Blakeston), Stainton(Thornaby), Stockton upon Tees(East Hartburn;Preston-upon-Tees;Stockton-upon Tees) " - missing second hyphen in last name.

[2021-11-30 10:16] PatReynolds commented on #659
I _think_ this may be resolved by the new records coverage page - i.e. Catterick, North Riding of Yorkshire:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/d6f0e99d-ad51-4d6c-9b18-324390508793)

1841 = no pieces exist
1851 = 1 piece exists, but we have not transcribed it yet
1861 = 1 piece exists, and this is transcribed and online

Suggested text "a zero in the total p

[2021-11-30 10:17] PatReynolds commented on #747
For review for closure and/or new stories now the Coverage pages have been re-implemented.

[2021-11-30 10:19] PatReynolds commented on #254
I believe this has been dealt with (excellently!) in the redesign

[2021-11-30 10:20] PatReynolds commented on #1174
Back buttons now in place and functioning as expected.

[2021-11-30 10:22] PatReynolds commented on #701
Possible duplicate

[2021-11-30 10:27] PatReynolds commented on #659
Duplicate is possibley #701

[2021-11-30 10:35] PatReynolds commented on #732
New Records pages work fine on a Pixel XL using DuckDuckGo (have found it impossible to test on Chrome as chrome won't recognise any website it can't crawl, it seems...).

[2021-11-30 10:36] PatReynolds commented on #761
Resolved in new Records pages.

[2021-12-01 01:50] Captainkirkdawson commented on #1265
@PatReynolds the spelling issue is nothing to do with the Records display; it is an incorrect name in the TNA hamlet.

[2021-12-01 01:54] Captainkirkdawson commented on #1265
We have identified 2 issues.
1) VLD file deletions were unclean in that they left some fields uncleared.  These can only be dealt with AFTER deployment to production on a case by case basis.
2) CSVProc uses the Civil Parish place not the Piece place and a piece may have multiple cavil parishes

[2021-12-01 16:07] DeniseColbert commented on #367
Would this work? https://drive.google.com/file/d/1KlCNoboggjcma1HBB5OUVrqBvTM03LgQ/view?usp=sharing

[2021-12-01 16:42] PatReynolds commented on #1265
1) @AnneV-Learn to add code so system admin access new code  - everyone else to see current version - for clean up of (a).

2) Decision to go for granularity ie use Civil Parish Place. Deploy after (1) completed, and and work on (2).

[2021-12-01 16:43] #747 closed

[2021-12-01 16:44] #761 closed

[2021-12-01 16:44] #1174 closed, assigned to nobody

[2021-12-01 16:44] #254 closed

[2021-12-01 16:44] #732 closed

[2021-12-01 16:45] #659 closed

[2021-12-01 16:53] PatReynolds commented on #1333
@PatReynolds  to research the utility to researchers of retaining the Deleted entries, and report back.

[2021-12-01 16:56] PatReynolds commented on #774
@DeniseColbert  has asked @FreecenBren and @geoffj-FUG for feedback on Role Description.

[2021-12-01 17:02] PatReynolds commented on #1331
Set up email groups for each.
Review documentation tomorrow.

[2021-12-01 18:03] Captainkirkdawson commented on #439
@Captainkirkdawson demoed a census location link on the search results page.
@PatReynolds to think about linking at the results page or at the details page.
@PatReynolds  to discuss with @AlOneill the use of buttons/hyperlinks in tables
@PatReynolds to consider extending to POB either at the results/details page and if the later would it be all residents or just search name

[2021-12-01 19:14] AlOneill commented on #1265
@AnneV-Learn
On the Records page, there is a `div.grid__item` as the first child of the `div.container`: it is a quirk of our CSS that all `.grid__item` elements must be children of a `.grid` element (and vice-versa). If not, the spacing gets messed up, especially in a narrow window.

![records-01Dec.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/080f9c48-0637-46b7-98a6-5881371

[2021-12-01 21:03] Captainkirkdawson commented on #1337
@geoffj-FUG wrote
I think that we can only go about this as a sequential string of tasks.

The first is to sort out the Places with no source. That will take me a couple of months allowing for Christmas.

Once every valid place has a source we should be able to filter out the places with no source. That will at least filter out the anomalies caused by the PARMS alignment and remove a few incorrect

[2021-12-01 21:16] Captainkirkdawson commented on #1337
@geoffj-FUG just a reminder we already validate a POB birth place against the alternate names and accept that if found.
We could go further if warranted and do a soundex check of that name against its existence or do a check of the name as part of a gazetteer name ie the options available on the gazetteer search

[2021-12-02 00:47] AlOneill commented on #1265
@AnneV-Learn The use of brackets to convey meaning is likely lost on screen-reader users as punctuation is not announced typically.

There is also the related issue of counties listed as "Angus (Forfarshire)", for example, because two names were in use — what will a user make of the brackets used there? That Angus has records but that Forfarshire does not?? Those in the know will probably understa

[2021-12-02 07:01] geoffj-FUG commented on #774
I have an issue with the following comment:
_Utilise the email confirmation- TRUE / FALSE page to present transcribers with an invitation to become a COORD / Proofreader / Validator (message not served to volunteers already fulfilling those roles)._
As a Coordinator I may not have pieces to Proofread or Validate (e.g I have none to that stage in Cornwall).
In addition I have volunteers who are qui

[2021-12-02 09:49] PatReynolds commented on #774
Rest assured that Coords will not be obliged to work with volunteers who are unsuitable (there is no benefit to anyone from
 this happening). The process currently envisages the application process being handled by one volunteer, who can (a) assess and where need be train those with interest, and (b) will liase with Coords, who will say if they have vacancies or not  - there will be some matching

[2021-12-02 10:34] FreecenBren commented on #774
Hi,
I agree with Geoff. I have a few of the older generation who are happy to
carry on transcribing but not the next stage.

I have one volunteer who has contacted Denise to be a COORD for Devon.
I do not have the time to train him.  He needs training as a Validator
first,  never mind as a COORD.
 I think he is up to it but who will do the training?

I am struggling myself on how to add places mis

[2021-12-02 15:24] DeniseColbert commented on #1331
How will we collect feedback from testers? Should they use the Report a Problem button? Something else?

[2021-12-02 15:44] DeniseColbert commented on #1331
Suggest: use Report a Problem button to report new issues that testers encounter, ask testers to report issues with features being tested in the mailing group.

We think we need a Testing Facilitator (x2: one for volunteer testers, one for researcher testers) to collate the replies and update the development team with the feedback.

[2021-12-05 16:14] AnneV-Learn commented on #1265
@AlOneill  - I have attempted to address your observations  and the revisions should be available to review when the next version is moved to Test3. I'll let you know when that happens.

[2021-12-05 17:05] Captainkirkdawson commented on #1265
@PatReynolds I have not proceeded with deployment to production as I have found no way of merging the civil parishes place data with the piece place data. None of the strategies I have tried work. Since this means that CSV loads would not be reported  an alternative solution should be found prior to deployment. Moving back to in progress.

[2021-12-05 22:45] Captainkirkdawson commented on #950
We currently geo-reference District, Piece and Civil Parish places within the Gazetteer.
Hamlets and townships are not themselves geo-referenced.
Suggest this be closed

[2021-12-05 22:50] Captainkirkdawson commented on #599
Duplicate of #439

[2021-12-05 22:53] #599 closed

[2021-12-05 22:55] Captainkirkdawson commented on #657
Duplicate of https://app.zenhub.com/workspaces/freecen-5cb4e56573d7e234297de6c6/issues/freeukgen/freecenmigration/439

[2021-12-05 22:55] #657 closed

[2021-12-05 22:57] #459 closed

[2021-12-05 22:59] Captainkirkdawson commented on #1213
Duplicate of https://app.zenhub.com/workspaces/freecen-5cb4e56573d7e234297de6c6/issues/freeukgen/freecenmigration/439

[2021-12-05 22:59] #1213 closed, assigned to nobody

[2021-12-05 23:14] Captainkirkdawson commented on #448
I am afraid that most of these suggestions are beyond our ability of develop given that millions of the records have already been transcribed using names used in TNA.

London has to a degree been resolved by creating London (City) as a county.

The best solution that is available now is to use the Nearby places option

[2021-12-07 03:31] Captainkirkdawson commented on #1335
Deployed

[2021-12-07 03:31] #1335 closed, assigned to Captainkirkdawson

[2021-12-07 07:38] AnneV-Learn commented on #1265
@PatReynolds @AlOneill I actually found a solution which appears to resolve the issue of merging the civil parish place and piece place data.  The rake task to collect the data does take longer to run now but I’ll continue to investigate possible fixes for that.
I also changed the County and Place drop-downs  to improve accessibility. The Place drop-down now includes the census ‘years with data’ i

[2021-12-15 16:38] DeniseColbert commented on #448
@geoffj-FUG do you agree with this, that Nearby Places is sufficient for searching big cities?

[2021-12-15 16:39] DeniseColbert commented on #950
All levels are now georeferenced in gazetteer so closing

[2021-12-15 16:39] #950 closed, assigned to nobody

[2021-12-15 16:40] DeniseColbert commented on #774
@DeniseColbert to review Geoff and Brenda's comments and make substories/clarify existing stories

[2021-12-15 16:48] DeniseColbert commented on #1265
Just some tidying up of the code to do. Full deployment aimed for mid-January after scrum so that Anne's around to respond to bugs.

[2021-12-15 16:52] DeniseColbert commented on #1337
@rhodamackenzie to send @Captainkirkdawson some examples of duplicate places issue

@Captainkirkdawson to respond to @geoffj-FUG comments

[2021-12-15 16:56] DeniseColbert commented on #367
@AlOneill do you now have access to this image?

[2021-12-15 17:00] DeniseColbert commented on #1309
@Captainkirkdawson agrees that we're not yet ready to begin the research for UX as the data needs consideration

[2021-12-15 19:09] AlOneill commented on #367
@DeniseColbert Yes, I now have access to the new image. It is significantly wider than the current one. I've placed it on t3 on [DRAFT Help](https://test3.freecen.org.uk/cms/draft-help) for you to consider whether or not it works there, across the range of screen widths.

[2021-12-15 21:39] geoffj-FUG commented on #448
Denise
Nearby Places is the essential tool for searching big cities. The further away from the POB that people live the less pedantic they are about where they are born.
For instance a person born in Bristol Bedminster will state Bedminster as their POB in a North Somerset census but may state Bristol if they live in Manchester. Manchester people will recognise Bristol but will not know where Bedm

[2021-12-16 00:22] AlOneill commented on #367
@DeniseColbert New image now also placed on t3 on [DRAFT Opportunities to volunteer with FreeCEN](https://test3.freecen.org.uk/cms/draft-opportunities-to-volunteer-with-freecen). It has a little more space on this page — there has always been more space here: I have not changed that.

[2021-12-18 22:26] Captainkirkdawson commented on #1332
Task written by @AnneV-Learn and deployed to production.

[2021-12-18 22:32] Captainkirkdawson commented on #1332
task run and report sent off line to @AnneV-Learn and @DeniseColbert

[2021-12-22 18:01] Captainkirkdawson opened #1338 "[production][freecen2_contents#new_records_index] no implicit conversion of nil into String"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b633174e937903f2020c695/problems/61c34589e93790775823d6ad)
# no implicit conversion of nil into String #
## Summary ##
### URL ###
[https://www.freecen.org.uk/freecen2_contents/new_records_index](https://www.freecen.org.uk/freecen2_contents/new_records_index)"
### Where ###
freecen2_contents#new_records_index

### Occured ###
Dec

[2021-12-22 18:04] Captainkirkdawson commented on #1338
@AnneV-Learn one for you to deal with when you have time after Christmas

[2021-12-28 16:00] Captainkirkdawson opened #1339 "Help : missing link content (advert missing)"
![missing.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/b80494c6-7d4d-42e7-b11d-a878a5fabd74)
E2 U4 S9 C7: P22

[2021-12-28 17:13] AlOneill commented on #1339
@Captainkirkdawson That "missing link" is, in fact, a missing advert — not my territory.

[2021-12-28 19:38] Captainkirkdawson commented on #1339
@PatReynolds for you?

[2021-12-29 11:26] PatReynolds commented on #1339
Thanks @Captainkirkdawson taking a look at this now.

[2021-12-29 11:51] PatReynolds commented on #1339
Problem is it is a FreeREG/FreeBMD advert, not a FreeCEN advert.  Please confirm that the size wanted is width:336px;height:280px and I will make a FreeCEN advert that size (or whatever is needed).

[2021-12-29 15:41] Captainkirkdawson commented on #1339
@PatReynolds I have no idea on the structure of the Help but suspect so

[2022-01-02 16:17] Captainkirkdawson commented on #268
Is this still  a requirement it has been inactive since smrr723 left

[2022-01-02 16:19] Captainkirkdawson commented on #548
Is there a developer requirement?

[2022-01-02 22:09] Captainkirkdawson commented on #1337
Firstly there is the establishment and maintenance of the high quality Gazetteer. Without that the rest of activities involving places become irrelevant.

Secondly there is the matter of ensuring that the Gazetteer is used for all birth places for past, present and future entries. See Ensure that the POB exists within the Gazetteer#1340

Geoff and Rhoda have been working to establish a high qualit

[2022-01-02 22:20] Captainkirkdawson opened #1340 "Enable search of Place of Birth from VLD files"
The Search record is populated with the POB and Alternate POB from either the VLD or the CSV entries.

The CSV entry is validated against the Gazetteer.

The VLD entry is not.

[2022-01-02 22:23] Captainkirkdawson commented on #1340
Ensuring the Gazetteer HAS been used is a much bigger task as I noted earlier. There are 20 times as many different birthplaces as there are entries in the Gazetteer. i.e. there are over 900,000 birth places entered into records that are NOT in the Gazetteer. Pat asked 'if the process of incorporating a VLD file into the database could be changed in some way that would mean that the place name aut

[2022-01-02 23:06] Captainkirkdawson commented on #1300
Done by @Vino-S

[2022-01-02 23:06] #1300 closed, assigned to DeniseColbert

[2022-01-02 23:15] Captainkirkdawson commented on #356
No references so presume finished

[2022-01-02 23:15] #356 closed

[2022-01-03 14:26] AlOneill commented on #596
@Captainkirkdawson The county tooltips are good, except that the birth county one needs a bit of a tweak of the middle part for case and punctuation. Also, "including" works better than "includes".

I suggest that the birth county tooltip would be better as:
`<small>These are grouped into sections for England, Ireland, Islands, Scotland, Wales and a Special category (including overseas, out of cou

[2022-01-03 16:04] PatReynolds commented on #596
I agree with  your suggestions, @AlOneill

[2022-01-03 16:27] Captainkirkdawson commented on #596
@AlOneill thanks for picking up the punctuation error. Change made on test3. I agree that some reordering of the text in the Help would be logical; I kept my edits to a minimum as I do not like to play with the structure.

[2022-01-03 16:49] AlOneill commented on #596
@Captainkirkdawson, thank you for fixing the tooltip text.

@All, edits to Help in progress offline.

[2022-01-03 18:00] AlOneill commented on #596
Is it me or does anyone else find this paragraph troubling? "You can also select a Birth County, but only counties that have been transcribed are displayed."
So, I cannot choose a _birth county_ in the search form unless that county has transcriptions, which is surely not necessary as long as the _census county_ has transcriptions?

[2022-01-04 09:51] PatReynolds commented on #596
I think "troubling" is putting it a bit mildly.

More than troubling - I think it is just wrong.  The county pob list seems to be  the whole county list, which also  includes such things as "Military Locations" (checked and no Smiths born in a military location were found but there might be an entry ....).  Perhaps replace with "You can also select a Birth County. Places of Birth which are outside

[2022-01-04 11:55] PatReynolds opened #1341 "Add statistic to indicate proportion of open records"
Statistic could be on whatever is easiest to count, and is the work of a single transcriber (e.g. individuals, households, or pieces).

[2022-01-04 12:03] PatReynolds opened #1342 ""Total number of transcribers who have accepted Transcription Agreement, but have no records" missing from statistics"

[2022-01-04 12:17] PatReynolds opened #1343 "Total number of active transcribers who have signed the transcription agreement missing from statistics"

[2022-01-04 13:57] AlOneill commented on #596
@PatReynolds The information you are looking for has been added (not by me) to the draft version of the "Help" page:
https://test3.freecen.org.uk/cms/draft-help#birth
It looks misplaced — perhaps it was intended for the 'Census county' information?

I agree that that all possible counties appear to be in the 'Birth county' select box

[2022-01-04 21:25] AlOneill opened #1344 "Improve accessibility of Filters on Search page"
There is room for improvement with the Filters part of the Search form:

1. 'blank' or '--' might not convey anything much to a screen-reader user: I suggest we put words in the '--' select input default for 'Marital status' and 'Sex', which could make the small text in the labels redundant

2. in the introductory paragraph, '(e.g. 3-400);' is very likely to be difficult to understand for a screen

[2022-01-04 21:38] AlOneill commented on #596
[DRAFT Help](https://test3.freecen.org.uk/cms/draft-help) returned to Refinery and is ready for review.

NB the DRAFT also addresses #367.

[2022-01-04 22:51] Captainkirkdawson commented on #596
@AlOneill I have no problems with the draft TY

[2022-01-05 22:47] Captainkirkdawson commented on #454
Deployed to test3

[2022-01-06 01:49] Captainkirkdawson commented on #1344
WE have had this for a year now; perhaps we should also look at a reduction in white space?

[2022-01-06 09:19] PatReynolds commented on #454
Tested - working as expected, thank you @Captainkirkdawson  Needs a second pair of eyes for typos as my eyes are wonkier than ever.

[2022-01-06 14:45] AlOneill commented on #454
@Captainkirkdawson @PatReynolds No typos spotted. Can I suggest that the spacing between the paragraph above the list and the list itself be reduced a little by adding the class `push-half--bottom` to the paragraph (this is our standard practice on Refinery pages)?

I should've made a comment on the link text "Search tips" earlier — apologies. As it points to (the top of) the "Help" page, then the

[2022-01-06 18:32] Captainkirkdawson commented on #454
@AlOneill Revised on both test3s. I have always and will be unconventional. Need you to keep me focussed
I changed the text on gaps to _Some reasons for missing records_ for consistency of ideas

[2022-01-06 19:06] AlOneill commented on #454
@Captainkirkdawson Excellent. Thank you.

I mentioned the unconventional markup because I have a dim memory of an idea that some screen-reader users move through a page by going to the next _paragraph_. I might be imagining that idea — I'll try to find out and will get back to you if I find anything definitive and that warrants a change.

PS it might be a mistake to rely on me to keep you focussed

[2022-01-09 18:14] Captainkirkdawson opened #1345 "221648158 Report options for copy and re-process (Ali)"
Issue reported by **AH001** at 2022-01-09 08:55:58 UTC
Time: 2022-01-09T08:51:16+00:00
Session ID: 31725d5c1a9f66f862c3ae47fda4d377
Problem Page URL: [/freecen_csv_files/61d9a8d1f493fd7075c6f5c3?locale=en](/freecen_csv_files/61d9a8d1f493fd7075c6f5c3?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_csv_files/61d9a8d1f493fd7075c6f5c3?locale=en](https://www.freecen.org.uk/freecen_csv

[2022-01-11 12:20] DeniseColbert opened #1346 "Detailed Results page displaying differently"
I have three FreeCEN tabs, all instigated within 2/3 minutes of each other. Each shows a different display:

https://www.freecen.org.uk/search_records/60fe6f81f493fd89eb38f46c/john-colbert-1861-huntingdonshire-st-neots-1794-?locale=en

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/22b9653e-de7a-4548-bc89-8db99951890c)

(Note: no function buttons at the top of the page,

[2022-01-11 20:45] Captainkirkdawson commented on #1346
Its because you are logged in as a member and have been doing other things. Member displays are different for displaying entries

[2022-01-12 12:24] PatReynolds opened #1347 "Prepare Role Descriptions for Validators and Proofreaders"
There are no (I think) current role descriptions or help provided for proof readers or validators.

Recruiting for validators (both for new coords to undertake, or to work alongside a coord) needs to take plae more urgently than recruiting for proof readers.

E0 U7 S 8 C8 P23

[2022-01-12 16:05] DeniseColbert commented on #548
Yes, a developer will be needed to add new/updated info and resources to the email.

[2022-01-12 16:34] PatReynolds commented on #454
I'll mark as ready for deployment - will need to return to this if @AlOneill  finds that there is an isue.

Thank you all - a varst improvement

[2022-01-12 16:37] PatReynolds opened #1348 "Deal with peole in non-existent syndicates"
All  transcribers should be in a syndicate that reflects their transcribing. A rake task to identify those in:

Any Questions? Ask Us
Any County and Year
Technical
Wales Syndicate (?)
Yorkshire Syndicate (?)

And all old syndicates that are no longer in the dropdown list on Registration page has identified who is not: @DeniseColbert to remediate.

[2022-01-12 16:43] PatReynolds commented on #448
Agreed, nearby places is the answer, so closing.

[2022-01-12 16:43] #448 closed

[2022-01-12 16:50] PatReynolds commented on #1337
Agreed with decision on who to restrict change-making powers to.

@Captainkirkdawson to implement

[2022-01-12 17:04] PatReynolds commented on #1346
To clear the specialist views, going back to the actions button clears it back to researcher view.

[2022-01-12 17:04] #1346 closed, assigned to nobody

[2022-01-12 17:11] PatReynolds opened #1349 "Design and Accessiblity improvements to Search Page"

[2022-01-12 18:51] AlOneill commented on #454
@PatReynolds The navigation issue is complicated — different users will use different methods. I'm still considering what would make most sense in the context of that page — and also more widely, for the sake of consistency and predicability for our screen-reader users. I'm currently leaning towards a change of some sort.

[2022-01-12 18:57] AlOneill commented on #1348
@DeniseColbert I bet that I'm missing from all syndicates. I've transcribed a number of Pieces in the past, most recently for a number of SCT counties that were coordinated by Rena Mitchell, but am no longer active as a transcriber.

[2022-01-13 16:21] PatReynolds commented on #454
Sorry, @AlOneill what navigation issue?

[2022-01-13 16:27] Captainkirkdawson commented on #454
Deployed

[2022-01-13 16:27] #454 closed

[2022-01-13 16:31] Captainkirkdawson commented on #596
Tooltips change has been deployed.

[2022-01-13 17:41] Captainkirkdawson opened #1350 "221587505 Flags not reported (Ali)"
Issue reported by **AH001** at 2022-01-08 16:05:05 UTC
Time: 2022-01-08T15:54:18+00:00
Session ID: 6ad390cf152427be62b6c775b83d4d76
Problem Page URL: [/freecen_csv_files/my_own?locale=en](/freecen_csv_files/my_own?locale=en)
Previous Page URL: [https://www.freecen.org.uk/csvfiles/61d9a8d1f493fd7075c6f5c3/edit?locale=en](https://www.freecen.org.uk/csvfiles/61d9a8d1f493fd7075c6f5c3/edit?locale=en)
R

[2022-01-14 22:53] Captainkirkdawson commented on #1350
Fix deployed to test3

[2022-01-16 18:17] Captainkirkdawson commented on #1211
Likely should include both incorporated and vld loaded files with ability to display either or both

[2022-01-16 18:18] Captainkirkdawson commented on #1211
Best solution is likely a csv download report

[2022-01-17 02:16] Captainkirkdawson opened #1351 "[production][freecen2_places#search_names_results] target of repeat operator is not specified: /*x hill/"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63313de937903f2020c67f/problems/61e2b9f8e9379022dfe574fc)
# target of repeat operator is not specified: /*x hill/ #
## Summary ##
### URL ###
[https://www.freecen.org.uk/freecen2_places/search_names_results?locale=en](https://www.freecen.org.uk/freecen2_places/search_names_results?locale=en)"
### Where ###
freecen2_places#search

[2022-01-17 02:17] Captainkirkdawson commented on #1351
@AnneV-Learn have a look at this one

[2022-01-17 22:44] AnneV-Learn commented on #1211
@geoffj-FUG
Just getting to look at this now and I need some clarification on the requirements please.
The number of VLD and CSV files recently incorporated (ie previous 30 days) are reported for the whole database  on the Site Statistics page ![Screenshot 2022-01-17 at 22.31.48.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/99bc0937-e956-41e9-9722-3b95574e6a6a) and for each Co

[2022-01-18 03:19] geoffj-FUG commented on #1211
Chris

You compile the newsletter and statistics.

What are your specific requirements, please?

Geoff

[2022-01-18 19:15] Captainkirkdawson commented on #1299
@AnneV-Learn when you have a few minutes could you look at the incorrect handling of the age 999; it has come up again

[2022-01-19 06:02] geoffj-FUG commented on #1211
Chris Mahoney replied:
For any given piece, the newsletters report the following facts about it (refer to newsletter for sample):

County
Year
Piece Number
Place
Locations
Number of Entries

Have asked people what stats they would like me to report on, but beyond the above, have had no particular requests as to what they want to see.

I did discuss with Denise (I think it was Denise, but it could

[2022-01-19 06:11] geoffj-FUG commented on #1211
Anne
I concur with Chris' comments but would add that the 'previous 30 days' could present a problem in 31 day months or when the stats are reported on on the 2nd or 3rd of the month.
I would like to see an option to select a date range or an option to select either the last 30 days or the last 45 days. That will overcome this issue.
The report images suggest that the report is County by County. W

[2022-01-19 22:41] Captainkirkdawson commented on #1299
The fix developed by @AnneV-Learn has been deployed

[2022-01-19 22:41] Captainkirkdawson commented on #1299
The fix developed by @AnneV-Learn has been deployed

[2022-01-19 22:41] #1299 closed, assigned to AnneV-Learn

[2022-01-19 22:41] Captainkirkdawson commented on #1350
Deployed

[2022-01-19 22:41] #1350 closed, assigned to Captainkirkdawson

[2022-01-19 22:42] Captainkirkdawson commented on #596
Help deployed

[2022-01-19 22:42] #596 closed

[2022-01-19 22:43] Captainkirkdawson commented on #1265
Deployed. Any changes will be made as new stories

[2022-01-19 22:43] #1265 closed, assigned to AnneV-Learn

[2022-01-19 23:07] Captainkirkdawson opened #1352 "Recent additions shows totals of all piece for a place"
It would appear that we are showing the total number of records for all pieces of a place when 1 piece is added.
See the following for SFK
![recent additions SFK.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/b551190b-2974-44af-b3a5-c25a8e5eac33)
Listing the pieces show 2 pieces only one of which is recent.
![Not recent.png](https://images.zenhubusercontent.com/5b68ae684b5806bc

[2022-01-19 23:12] geoffj-FUG commented on #1211
Chris Mahoney has commented on my last comment:
Viewing a selected date range would an answer to ensure that no uploads on any given day have been missed, but a quicker, and easier way of getting the stats would still be preferable.

While the "Recent Additions for All Counties" page will let me view all additions for all counties over the past 30 days in one go, there were 122 locations on it whe

[2022-01-20 00:16] Captainkirkdawson commented on #1352
Records online is correct but is misleading as the recent addition was only part of the total.
Perhaps the recent additions page should report what has been added and the total to be clear.

Colchester in Essex in 1891 is another example

[2022-01-20 00:21] Captainkirkdawson opened #1353 "Add display of pieces per year per county"
@geoffj-FUG
Chris and others have requested that the pieces for a county displayed for each year.
![view all pieces for a year.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/9fb5e5b7-d4de-42b0-ac40-dc03fddde16b)
![view pieces.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/416c67b6-e758-4230-aafb-fc714acb75af)

[2022-01-20 00:26] #1351 closed, assigned to AnneV-Learn

[2022-01-20 00:29] Captainkirkdawson commented on #1211
@geoffj-FUG This story has become too confused and cluttered with other matters. Others are being written
Have written story `Add display of pieces per year per county#1353` for the work `Ability for Researchers and Members to view Piece Status by County`. This requirement could be met by your suggestion for RECORDS County view to be enhanced to include 'View Pieces' button etc.

[2022-01-20 00:31] Captainkirkdawson commented on #1211
@geoffj-FUG` Recent additions shows totals of all piece for a place#1352` raised in response to comment by coordinator

[2022-01-20 00:35] Captainkirkdawson commented on #1211
Have narrowed focus of this story to meeting the reporting needs for Chris. The needs of management have already been addressed by the Site Statistics and Search Statistics

[2022-01-20 16:53] Captainkirkdawson commented on #1352
Suggest we add an extra column
![Extra.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/17e62f4e-ada6-4514-a7d0-6ab3806299f3)

[2022-01-20 18:29] #637 closed

[2022-01-20 18:29] #609 closed

[2022-01-20 18:30] #324 closed

[2022-01-20 18:33] Captainkirkdawson commented on #214
But the search has to be done to get the number and if very large would time out

[2022-01-20 18:33] #214 closed

[2022-01-20 23:36] Captainkirkdawson opened #1354 "Part pieces for FreeCEN2 are not shown as uploaded for previously loaded VLDs"
The issue is caused by there being a greater granularity in the pieces for 1841/1851 with freecen2 than for freecen1. This arose from separating the pieces into components based on the hundreds and adding  A, B, C etc to the number.   If you look at the number completed in the reports it is close to what you think is completed. For 1851 and onwards  the number of pieces is close to what you would

[2022-01-21 00:26] Captainkirkdawson commented on #1354
We were faced with a similar issue with the ability to upload CSVProc files and added the ability to confirm when the last part of a piece had been added. 1) We could do something similar in this situation for uploading new VLD files.
2) we could add an edit option to enter an Online and date of online to a piece. This could be used for pieces  cutover into other counties 3) we could run a rake ta

[2022-01-21 00:27] Captainkirkdawson commented on #1354
@geoffj-FUG your views on these options would be appreciated

[2022-01-21 04:48] geoffj-FUG commented on #1354
Kirk
I see a conundrum.
Lets take 1851 as an example. Somerset completed this year some time ago and all the files are uploaded as vld files. But the new PARMS will have broken some of the pieces up as they are all large. The stats will show some missing files but they are all online.
I have previously actioned a researcher contact action report for HO107_1846 (I think). As a result I deleted HO10

[2022-01-21 16:42] Captainkirkdawson commented on #1354
@geoffj-FUG  your response seems to indicate support for options 1 and 3 which address VLDs loaded for pieces of the same county. Is this the case? Your comments do not address how to deal with VLDs for Complete and partial cutover pieces where 'ownership and transcription' is in a different county coordinator.

[2022-01-22 01:23] geoffj-FUG commented on #1354
I am sorry. I am frustrated at the problems that vld files and their continuation are causing. This is just one example.
(I am trying to work through the Gazetteer and the Counties that are causing the most headaches seem to be biased towards the Counties who are still using vlds. Hence my frustration). It would all be far simpler if we only used the upgraded system.

My view is that the Coordinat

[2022-01-24 23:53] Captainkirkdawson opened #1355 "Remove the draft training videos"
I created some 20 draft instructional videos on FreeCEN2 usage one year ago. These very recorded zoom sessions and the videos are stored on my personal YouTube account.
It is time that these were removed from my account and replaced on FreeCEN2 by access to the professional instructional videos

[2022-01-25 19:33] AnneV-Learn commented on #1352
Updated Recent Additions to show single column 'New Records Online'.

[2022-01-25 19:45] AnneV-Learn commented on #1211
@Captainkirkdawson Just need final clarification as to where this functionality should sit. The first comment states : Maybe to go in "Site statistics" button? (not sure who said that) but I think you would prefer it to be on the Records page. I am slightly more in favour of Site Statistics which is where a CSV File download facility already exists and this is a type of statistic too as it is coun

[2022-01-26 00:05] Captainkirkdawson commented on #1211
@AnneV-Learn site statistics is fine; but means we will need to open that up to coordinators

[2022-01-26 14:40] DeniseColbert commented on #1355
I was thinking this yesterday, too! The Coords had some suggested improvements, but nothing major. If we're happy to not let the perfect be the enemy of the good, I'll upload them into YouTube when I don't need the bandwidth for meetings etc.

[2022-01-26 16:49] PatReynolds commented on #367
Images are now live on FreeCEN, but there is a possible issue with display. Closing this.   Will open new story if there is an issue.

[2022-01-26 16:56] PatReynolds commented on #1337
@geoffj-FUG still working on this, then @Captainkirkdawson to make changes

[2022-01-26 16:59] PatReynolds commented on #1301
Anna currently training under Mike Simpson, and co-ordinating training materials.

[2022-01-26 17:10] PatReynolds commented on #1340
Needs someone to understand how the issue might be resolved on the VLD files. @PatReynolds and @DeniseColbert to work on a spec for a volunteer - talk to @geoffj-FUG and @Captainkirkdawson to senure we are asking for the right things.

[2022-01-26 17:11] #1338 closed, assigned to AnneV-Learn

[2022-01-26 17:27] PatReynolds opened #1356 "Create a FreeCEN2 screen equivalent to the FreeCEN1 Database Statistics page"

[2022-01-26 17:54] PatReynolds commented on #1333
Just checking: D means there was an entry in the census, which was struck through?  There are some examples mentioned in this online discussion: https://www.rootschat.com/forum/index.php?topic=791507.9

Thanks,

Pat

[2022-01-26 20:50] DeniseColbert commented on #1355
Work in progress, links here: https://docs.google.com/document/d/1xAbAFG4usBxV5zYxDF2EnsFeKDiu8A7EFJQ74rrHcCA/edit?usp=sharing

(document is only accessible by those logged into a FreeUKGen account)

[2022-01-26 21:19] Captainkirkdawson commented on #1356
Deployed to test3

[2022-01-26 21:58] Captainkirkdawson commented on #1211
Download of report requested by Chris has been added and deployed to test3. Date range is selectable. Available through the Site Statistics Action. Action has been opened up to county coordinators.

[2022-01-26 22:11] Captainkirkdawson commented on #591
A forename search based on a census place that uses the nearby places option **work**s and is an effective solution providing the name is not too common and a narrow date range applied

[2022-01-27 02:48] geoffj-FUG commented on #1337
Message sent to Kirk with first cut spreadsheet attached:

Kirk

I have attached my first cut revised version of the Gazetteer entries.

Warning – do not change the filters on this copy or you will never get them back. They were quite complex in the end.

The entries are in three colours.
Black – these are entries that I have fixed up so far and need no further action.
Green – These are entries th

[2022-01-27 02:51] Captainkirkdawson opened #1357 "[production][freecen2_contents#display_pieces_by_status] Render and/or redirect were called multiple times in this action. Please note that you may only c..."
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63318ae937903f2020c6a0/problems/61f1ed72e937904ff3bff7b5)
# Render and/or redirect were called multiple times in this action. Please note that you may only call render OR redirect, and at most once per action. Also note that neither redirect nor render terminate execution of the action, so if you want to exit an action after red

[2022-01-27 02:53] Captainkirkdawson commented on #1357
@AnneV-Learn we are getting a number of these; ran out of time myself

[2022-01-27 02:57] geoffj-FUG commented on #1333
THIS HYPOTHESIS IS NOW DISPROVEN. See next message.

Pat

The old FC1 Wincc and Valdrev had a field that kept track of the progress on the piece for the volunteer. This had several codes including ‘D’.

The ‘D’ was generated by the software when an entry was deleted by the Proofreader (WinCC) or the Validator (Valdrev). It was a soft delete.

There was no instruction apparent to me that the Coordi

[2022-01-27 03:59] geoffj-FUG commented on #1340
Pat

To my mind this is just another patch up. It is also impossible to achieve because of the limitations of the FC1 spreadsheet. That is why CSVProc was developed.

Vld files belonged to FC1. Csv files belong to FC2 and the capability to match with the Gazetteer was designed into FC2.

The capability to match FC1 files to the Gazetteer can never be achieved because of the limitations of the FC1

[2022-01-27 08:44] DeniseColbert commented on #1356
Works beautifully, thank you Kirk!

[2022-01-27 11:15] geoffj-FUG commented on #1333
At this point I am raising a **BIG RED FLAG.**
I have just downloaded a vld file. It is RG9 1705 Bedminster. I noticed that there is a Note in the Notes column that the vld flag is set to D. Soo I started looking at the entries.
Take Jane Brice F3 P1 Sch 2. She is on the image and should not be deleted. Yet she had a D. (I am afraid that the vld file is now in the attic as I was in the process of

[2022-01-27 12:07] PatReynolds commented on #1333
So the next task is to understand why the validator or coordinator marked entries as D (if not because the enumerator had deleted them).

[2022-01-27 18:29] Captainkirkdawson commented on #1357
Code fixed and master county coordinator access added. Deployed to test3. Crash is due to bots so testing by users is not practical

[2022-01-27 21:38] geoffj-FUG commented on #1333
Pat
The Proofreader or Validator would not have added the D. The system would have.
The piece that I looked at was one that I would have validated many years ago. I can see absolutely no reason for the flags to be in the file.
What I have found disproves the hypothesis that the flags were entered by Wincc or Valdrev.
The answer lies somewhere in FC1 itself.
Geoff

[2022-01-28 11:31] DeniseColbert opened #1358 "Can we (or do we) tell how many transcribers are active?"
This info is included in FreeBMD newsletters and is also in the latest FreeREG newsletter. It would be very useful if we could have a similar metric for FreeCEN. I imagine it could be difficult to know in FreeCEN...

[2022-01-28 16:19] Captainkirkdawson commented on #1358
Both FreeBMD and FreeREG have always worked on the basis of transcriber uploading and processing their transcriptions (file) it is possible to define some metric for active. e.g. uploaded a file within the last year, 6 months or 3 months; or been active i.e. uploaded a file.
Since FreeCEN until very recently worked by transcribers giving their work to a coordinator who then uploaded the file and t

[2022-01-30 16:28] Captainkirkdawson commented on #1337
@geoffj-FUG I need clarification. See the specific stories for your action requests.
Amend every ‘Gazetteer’ entry with an url to ‘Gazetteer of British Place Names’ #1360
Extract a list of unique values in the sources field of the Gazetteer collection #1359

[2022-01-30 16:32] Captainkirkdawson opened #1359 "Extract a list of unique values in the sources field of the Gazetteer collection"
You request **Can you extract a list of unique sources please?** I interpret this as a request for a list of the unique values in the source field? Easily done but what will you do with it? Do you want the list as a txt file or ?

[2022-01-30 16:34] Captainkirkdawson opened #1360 "Amend every ‘Gazetteer’ entry with an url to ‘Gazetteer of British Place Names’"

[2022-01-30 19:10] Captainkirkdawson commented on #1337
@geoffj-FUG was I expected to take any action on the content e.g. deleting entries having made adjustments to linkages?

[2022-01-30 20:42] cmahoneynz commented on #1358
I do not think we can tell how many are active at this time with any certainty, maybe something to revisit at a later date.
Take my FreeCEN group for sample, while I have 13 I would consider active at present, only four at this time have made use of CSVProc.  Rest are not at this time for various reasons, mostly as they are transcribing large pieces which they started before FreeCEN 2 became live.

[2022-01-30 21:54] geoffj-FUG commented on #1337
Kirk
I can go no further with the entries in green. They all appear to be as a result of the PARMS exercise. Many of them have been identified as duplicate entries. If we re-link them to the main entry we can then remove the duplicate.
From my point of view the entry from the Gazetteer of British Place Names has been the primary one.
Once we have done that we should be able to set a filter for val

[2022-01-30 21:58] geoffj-FUG commented on #1359
My intention is to identify a standard entry for each source and a list of sources that we see as common.
I will then ask for a look-up table with these sources and Other in it. The Source field will then become a look-up field and stop rubbish such as a, b etc being entered.
If the entry is Other that is OK as long as we enforce the entry of a web address as well.
Geoff

[2022-01-30 22:03] geoffj-FUG commented on #1360
The purpose of this is to sort out the spurious entries that have appeared in the Gazetteer.
Someone has used Gazetteer as a way of getting around a source. They have not been putting in a url.
If we can change the source to the Academically correct Gazetteer of British Place Names for those entries that look correct then I can identify the other entries and fix them.
It also means that we can dis

[2022-01-31 00:14] Captainkirkdawson commented on #1359
@geoffj-FUG there are 299 distinct (unique) entries
null,
        "",
        "ArchiUK",
        "Aussietowns",
        "Bath Record Office",
        "Bedfordshire Archive Service",
        "Berkshire Enclosure.org",
        "Bethnal Green Reg District",
        "Bing maps",
        "Britain Express",
        "Britannica",
        "Britiain Express",
        "British History",
        "British His

[2022-01-31 00:28] Captainkirkdawson commented on #1337
@geoffj-FUG so to be totally clear (The statement above is a reason for action) you wish me to resolve those entries that are coloured green? If that is correct I will create the appropriate story for action by by me.

[2022-01-31 12:42] richardofsussex opened #1361 "Create New FreeCEN2 Place dialogue fails to respect current county selection"
Although it says, prominently:
Creating a New Place in Cumberland (CUL)
the relevant county is _not_ selected in the drop-down list. If you go ahead and complete the entry without re-selecting your county, it complains that no county has been selected when you try to save your work.

[2022-01-31 17:06] Captainkirkdawson commented on #1361
We deliberately removed a preselection because too many coordinators were creating the place in the wrong county; specifically they were creating it in their county. So we make it a deliberate action.

[2022-01-31 18:06] richardofsussex commented on #1361
In that case I understand why you made the change. (Sigh - why can't people use the system properly.) However, in that case it should just say "Creating a New Place".

[2022-01-31 18:56] Captainkirkdawson commented on #1361
Happy to make that change

[2022-02-01 02:44] geoffj-FUG commented on #1337
Kirk
We need to resolve the entries that are coloured green. They all appear to be associated with the PARMS.
There will be 2 solutions:
1. Where the place is a duplicate or where the correct place name exists the PARMS will need to be linked to the correct entry. Once this is done the problem place name in the Gazetteer need to be disabled.
2. Where the place name is verified as correct the PARMS

[2022-02-01 11:51] PatReynolds commented on #1358
Thanks all.  I think a (very rough!) calculation could be made along the lines of:
Count the CSV transcribers who have uploaded, and the number of records: get an 'average records per transcriber' number.
Count the number of records uploaded via VLD and divide by the number of records per transcriber.

Reprocessing might make that impractical, though.

While VLD transcribers may be taking longer t

[2022-02-01 18:17] Captainkirkdawson opened #1362 "Write a collection management suite for the source field of the Gazetteer"
Currently the source field is a free form string field with no controls.
@geoffj-FUG has identified a requirement to control limit the content to a set of predefined values that are established by the data manager and system administrators.
This requires the ability to create, edit and destroy entries in the collection.
It also requires that the create and edit of the freecen2_place be changed to

[2022-02-03 18:04] Captainkirkdawson commented on #1354
Rake task written that deals with the need to link the new part pieces of freecen2 with previously loaded vld files. It has been run in production and produces much better results. The code also deals with part pieces for another county so no action is required of coordinators. See new version for Dorset
![dorseta.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/5850201f-9b20-4ff

[2022-02-04 17:46] Captainkirkdawson opened #1363 "Resolve issue of appropriate county in Records display."
There appears to be inconsistences in the county used when counting and displaying Places and Pieces that are creating the contents of RECORDS displays

[2022-02-04 18:09] Captainkirkdawson opened #1364 "Downloaded Pieces report for recent files loaded reporting issue"
It appears that the download report reports the total of parts uploaded not just the part uploaded
All rest of report is good.
![leicester part.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/2e7acdee-fb88-4222-8ad7-7dc0da0dcd4d)
![lei.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/77752c0f-3ebc-4dab-a1ed-c00d805a1124)

[2022-02-04 18:38] Captainkirkdawson opened #1365 "Review Parms used in Scotland - short term"
It appears that in the Parms created from the material of Freecen1 I eliminated a number of Districts from the parms (Those where there were multiple districts  for a piece which had been manually separated when transcribing for Scotland  in freecen1 This means that a number of places in Freecen1 do not appear in Freecen2 eg. Old Machar; nor do they appear in any other place. Hence they are retrie

[2022-02-04 18:42] Captainkirkdawson opened #1366 "Review Parms used in Scotland - long term"
It appears that in the Parms created from the material of Freecen1 I eliminated a number of Districts from the parms (Those where there were multiple districts  for a piece which had been manually separated when transcribing for Scotland  in freecen1 This means that a number of places in Freecen1 do not appear in Freecen2 eg. Old Machar; nor do they appear in any other place. Hence they are retrie

[2022-02-04 18:56] Captainkirkdawson commented on #1365
Old Machar records linked to Aberdeen

[2022-02-04 22:02] geoffj-FUG commented on #1288
Email sent as follows:
Ali

That sounds like a simple solution.

I assume that the returns were sent to Whitehall as they would have been secret information. We need a Place Name added to the Gazetteer of Royal Navy LND with the Whitehall Coordinates. They will all link to that. I have attached a spreadsheet with the Gazetteer entry on it as it is Chapman Code LND.

Kirk, There is an entry in the

[2022-02-05 01:46] Captainkirkdawson commented on #1361
Change made and deployed

[2022-02-05 01:46] #1361 closed, assigned to nobody

[2022-02-05 01:59] Captainkirkdawson opened #1367 "Resolve the Green source issues in Geoff's Source report"

[2022-02-05 11:28] geoffj-FUG commented on #1337
Text of email sent to Kirk with spreadsheet attached:

I have attached the next version of the Gazetteer amendments. Some of the previous red entries have been resolved and are now black as no action is required.

The spreadsheet is colour coded as follows:

Green – These are the same list as was included in green on the first version of the spreadsheet. None have been changed
Blue – These are ent

[2022-02-05 11:52] geoffj-FUG commented on #341
If you look at the Full Version of the FreeCEN Handbook there is a Chapman Code hierarchy. (not in the abbreviated version). This table has three levels of Chapman Codes. We already use level 2 chapman codes to search the Gazetteer and during validation, so for instance YKS (level 2) will find ERY, NRY or WRY places (level 3). Tjis table may be useful for this story.

[2022-02-05 11:59] geoffj-FUG commented on #1159
This can be achieved in a new search screen:
Filter all the records in the database by including only entries with an ED of 0#2 or 0#8.
Search the address field for the ship name as a substring.
Display the resulting data.
The second option would be to apply the filter and then search by surname and/or firstname.
Geoff

[2022-02-05 16:39] Captainkirkdawson opened #1368 "Resolve the Blue source issues in Geoff's Source report"

[2022-02-05 16:40] Captainkirkdawson opened #1369 "Resolve the Red source issues in Geoff's Source report"

[2022-02-05 23:43] Captainkirkdawson opened #1370 "Resolve the Blue source issues in Geoff's Source report"

[2022-02-06 02:09] Captainkirkdawson commented on #1365
Savoch linked to Rhynie and Essie; Issue with New Pitsligo resolved.

[2022-02-06 08:32] AnneV-Learn commented on #1362
@geoffj-FUG are you able to supply me with a list of the entries that you want to see in the source selection dropdown

[2022-02-06 09:43] geoffj-FUG commented on #1362
Anne
I need to go through a very long list. It will be a couple of days before I have shortened it down.
Geoff

[2022-02-06 10:22] AnneV-Learn commented on #1362
@geoffj-FUG of course - no problem.

[2022-02-06 22:36] Captainkirkdawson commented on #1370
DUP

[2022-02-06 22:36] #1370 closed, assigned to Captainkirkdawson

[2022-02-06 23:04] Captainkirkdawson commented on #1288
RNS exists as a Chapman code and therefore acts like a county. It is there because it is a subseries within TNA just like Military MIL

It has one place located at Portsmouth.

It has a number of Parms extracted from TNA e.g. attached  images

The ship's names are civil parishes

RNS exists as a county for the Birth and Search; but is not visible for searches as there are no records.

I cannot see

[2022-02-06 23:09] #1356 closed, assigned to Captainkirkdawson

[2022-02-06 23:09] #1354 closed, assigned to Captainkirkdawson

[2022-02-06 23:10] #1359 closed, assigned to geoffj-FUG

[2022-02-06 23:12] #1357 closed, assigned to Captainkirkdawson

[2022-02-06 23:12] #1186 closed, assigned to Captainkirkdawson

[2022-02-07 18:38] Captainkirkdawson opened #1371 "Colour of donate"
Is this the correct colour
![colour.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/dea7d319-973b-40da-bc79-f6e6293d8a97)

[2022-02-07 19:15] AlOneill commented on #1371
@Captainkirkdawson no. The updated colours (one CSS file) were sent to @Vino-S and are now in use on REG t3, but not yet on the other sites. The text has been moved to above the button though.

[2022-02-09 16:36] PatReynolds commented on #1211
Believe to be deployed now, so closing

[2022-02-09 16:36] #1211 closed, assigned to AnneV-Learn

[2022-02-09 16:36] #1353 closed, assigned to AnneV-Learn

[2022-02-09 16:36] #1352 closed, assigned to AnneV-Learn

[2022-02-09 16:37] PatReynolds commented on #591
@PatReynolds to see what is needed here.

[2022-02-09 16:38] PatReynolds commented on #268
@DeniseColbert to check state of play with this.

[2022-02-09 16:41] PatReynolds commented on #1363
@AnneV-Learn has resolved, and @Captainkirkdawson  has deployed, so closing.

[2022-02-09 16:41] #1363 closed, assigned to AnneV-Learn

[2022-02-09 16:42] PatReynolds commented on #1355
@Captainkirkdawson to deploy.

[2022-02-09 16:46] PatReynolds commented on #1333
Concluded that there is no reason why the D is there, so @Captainkirkdawson will remove them.

[2022-02-09 16:49] PatReynolds commented on #1371
Asset pipeline is awaiting deployment.

[2022-02-09 16:49] PatReynolds commented on #1364
Now resolved and deployed.

[2022-02-09 16:49] #1364 closed, assigned to AnneV-Learn

[2022-02-09 17:01] PatReynolds commented on #1196
@DeniseColbert to write to Chris re Transcriber info.  Piece info is already on FreeCEN2

[2022-02-09 17:05] #1109 closed, assigned to DeniseColbert

[2022-02-09 21:37] AlOneill opened #1372 "Update Help page for new Records section pages"
Have received updated text from @AnneV-Learn:

"Select RECORDS from the main menu to see statistics relating to the number of census Pieces currently in the database for each census year and details of recent additions (i.e. Pieces added to the database in the previous 30 days). Censuses are broken into Pieces by the National Archive (a Piece consists of a related set of census pages). From here y

[2022-02-09 21:49] AnneV-Learn opened #1373 "undefined method `[]' for nil:NilClass still reported from freecen2_contents#display_pieces_by_status"
Thought this had been resolved so I'll take another look.

[2022-02-10 00:21] AlOneill commented on #1339
The advert block is not fully responsive: depending on the window width, its appearance flips between as expected and variations on this:

![mal-responsive-advert.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/ff3136d5-245e-4352-b959-92883fb2a4bf)

[2022-02-10 00:29] AlOneill commented on #1372
@AnneV-Learn With a few tweaks to the text as given, the 'Database contents' section has been updated on t3:
https://test3.freecen.org.uk/cms/draft-help#dbContents

[2022-02-10 07:56] AnneV-Learn commented on #1372
Thank you @AlOneill, it looks good to me

[2022-02-10 11:27] DeniseColbert commented on #1196
Emailed Chris 10/2/22

[2022-02-10 15:02] DeniseColbert commented on #268
It seems there's only this left to do: Update the README & CONTRIBUTING.md files - I've seen a few devs not able to progress because they've been confused about the location of the FreeCEN code, so I will edit these to add some clarification.

@Vino-S , could perhaps one of the new volunteers you're working with review the above-mentioned files and improve/fix? Do you think it might be an appropri

[2022-02-10 15:22] Captainkirkdawson commented on #268
@jayto581 updated the CONTRIBUTING.md file 6 months ago; so is up todate.

[2022-02-10 15:25] DeniseColbert commented on #268
Thanks Kirk, in this case I think it can be closed then.

[2022-02-10 15:25] #268 closed

[2022-02-10 15:38] Captainkirkdawson commented on #1355
@DeniseColbert currently they are hard coded ; would it be better to place them in a refinery page and place a link to that in the code; that way you or others can make the changes in future?

[2022-02-10 15:42] AlOneill commented on #1372
Page promoted. It is sync-ready.

[2022-02-10 16:15] Captainkirkdawson commented on #1355
@DeniseColbert @PatReynolds there is one additional video for county coordinators on loading/uploading managing VLD files.

It also covers how to enter information on the transcriber of the VLD file

https://youtu.be/GUr_LbzNH0o

[2022-02-10 16:19] Captainkirkdawson commented on #1341
@PatReynolds I mentioned there was the ability for a coordinator to enter information of who transcribed a vld file.
It is described in the video on VLD Actions https://youtu.be/GUr_LbzNH0o

[2022-02-11 09:56] PatReynolds opened #1374 "Update FreeCEN1 page to indicate that FreeCEN2 is now more complete than FreeCEN1"
See also #617

[2022-02-14 03:17] geoffj-FUG commented on #1362
Anne

Sorry this took so long.

I have narrowed the list down to some sound primary sources relevant  to the census period. They are in the attached spreadsheet (I have set the filter so only the ones that we need are visible).

When you make the changes can you make the entry into the web site field compulsory please? I have a lot of them to fix.

Geoff

From: Anne Vandervord ***@***.***>
Sent: S

[2022-02-14 08:03] AnneV-Learn commented on #1362
Thanks @geoffj-FUG but no spreadsheet was attached - unless I am not understanding how to see it.

[2022-02-14 11:37] PatReynolds commented on #1339
Sent code to Vino 14 Feb 2022

[2022-02-14 15:29] DeniseColbert commented on #1355
Thanks, Kirk. I have downloaded that one from your channel, and uploaded it to ours (as we don't have an equivalent). I have embedded all videos in this page on Refinery: https://test3.freecen.org.uk/cms/draft-instructional-videos. Next steps are to tidy it up and make it live.

[2022-02-14 16:07] AlOneill commented on #1355
I had a quick look at the first video and have the following comments:

* the views of the site pages are distorted
* it is not possible to read most of the red comments, even in full screen
* If you select "View on Youtube", the opening view (with the start button) is clipped at the sides
* the closed captions are pretty accurate but they render "FreeCEN" as "free send" and "freecen.org.uk" as "f

[2022-02-15 10:49] DeniseColbert opened #1375 "Place Transcribers in correct Syndicate"
Run rake task again to see if new volunteers have been added since the first time. Not to hold up sending initial email.

From Geoff:

It may be a project to identify the County of the last piece done and transfer them to that County.

Perhaps a rake taske could help?

[2022-02-15 11:20] DeniseColbert commented on #1332
Could this be used to identify users in the England syndicate, for the purposes of #1375 ?

[2022-02-15 11:36] AnneV-Learn commented on #1362
@Captainkirkdawson should the deployment of this one happen after you have finished the Gazetteer issues you are dealing with (#1367 - 1339, 1360)?

[2022-02-15 16:07] Captainkirkdawson commented on #1362
@AnneV-Learn @geoffj-FUG  Should not have any impact **unless you are writing and running rake tasks to change the content of current fields then it would be a disaster**. If it just imposes a control on what that field contains in future edits there will be no impact.

[2022-02-15 16:55] DeniseColbert commented on #1196
Chris sent me a spreadsheet, and the following info:

[2022-02-15 17:06] AnneV-Learn commented on #1362
@Captainkirkdawson Ok thanks Kirk

[2022-02-16 10:53] PatReynolds opened #1376 "Members area: add role descriptions"

[2022-02-16 10:53] PatReynolds opened #1377 "Member's area: Add role descriptions"

[2022-02-16 10:54] PatReynolds opened #1378 "Members area: add role descriptions"

[2022-02-20 18:29] AnneV-Learn commented on #1362
Deployed to Test3 - now ready for testing.
The management of Place Sources is restricted to data manager and system administrator roles - appears in 'My Actions' for users with either of those roles.
 Create and edit of the freecen2_place now require population of Source from drop-down of Place Sources and Website URL.
@geoffj-FUG supplied the list of of valid values for the Place Source drop-down

[2022-02-20 18:31] AnneV-Learn commented on #1138
Deployed to Test3 - ready for testing

[2022-02-20 18:35] AnneV-Learn commented on #1373
Deployed to Test3 by @Vino-S and I have tested. Seems ok. I don't think any further testing can be done as I believe issue was create by Bot and can't be replicated. The testing I did confirms that the changes have not impacted the existing functionality.

[2022-02-20 18:37] AnneV-Learn commented on #1372
Looks ok to me so probably ready for deployment now.

[2022-02-20 19:29] Captainkirkdawson commented on #1362
My testing was positive.
Only suggestion is to make the display of source name case insensitive

[2022-02-20 22:11] geoffj-FUG commented on #1362
Anne

Looks good.

We can run with that Can you go live, please?

Geoff

From: Anne Vandervord ***@***.***>
Sent: Monday, 21 February 2022 4:29 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Write a collection management suite for the source field of the Gazetteer (Issue #1362)

Deployed to Test3 - now read

[2022-02-21 08:11] AnneV-Learn commented on #1362
@Captainkirkdawson - sorry not clear to me what you are suggesting is changed.

[2022-02-21 15:39] Captainkirkdawson commented on #1362
@AnneV-Learn It is a minor matter. If a source is created with lower case it is displayed at the end of the list.
![test1](https://user-images.githubusercontent.com/2874694/154986463-e2c3bfe3-88e7-469e-b6ef-7bbf465ecb91.png)
![test2](https://user-images.githubusercontent.com/2874694/154986498-8799db8e-51c0-45c2-8b56-4eaf9d74f410.png)
People should not create with lower but people are people

[2022-02-21 18:02] Captainkirkdawson opened #1379 "System Management of FreeCEN"
@PatReynolds @DeniseColbert
Over the past 25 years FreeCEN has to all intents been managed by one person with some strong county coordinator assistants. Until 15 months ago this was all done using personal records with requests for minimal updates sent to lemon for changes to tables in Freecen1. Starting 15 months ago we introduced a number of online tools for the management of Freecen2 going forw

[2022-02-21 18:22] AnneV-Learn commented on #1362
@Captainkirkdawson - Oh right - I think it is worth fixing that as you say.

[2022-02-21 21:47] geoffj-FUG commented on #1379
Kirk
Can you provide a short 1-2 sentence description of each role please?
Is the SNDManager role different to what Rhoda is doing?
Geoff

[2022-02-21 22:28] Captainkirkdawson commented on #1379
@geoffj-FUG
Those 4 Userids are four people who make up the Management team for CEN: They all have the system_administator role within the project. Ideally
CENManager should be the person with overall responsibility for FreeCEN; the role undertaken by Brenda
SNDManager should be the go to person on all syndicate and volunteer matters.
SBManager should be the go to person on county and country matt

[2022-02-22 00:22] Captainkirkdawson commented on #1379
@geoffj-FUG
When I say _go to person on all syndicate and volunteer matters._ I mean that person makes changes to syndicate being open/closed; changing coordinators; adding syndicates and closing them. Works with volunteer_coordinator (and might even be the volunteer_coordinator if there is no one) tries to get new people in roles etc etc
When I say _go to person on county and country matters_ I m

[2022-02-22 09:33] AnneV-Learn commented on #1362
@Captainkirkdawson - now updated and deployed to Test3

[2022-02-22 12:12] geoffj-FUG commented on #1379
Pat / Denise

I am having trouble getting my head around these roles as it involves a paradigm shift to what is happening at the moment. So I will be nutting this out as I type.

The best time to establish these roles is now, whilst we are restructuring. It means that new Coordinators are coming in with the updated structure and will not experience major change in the medium term.

My comments bes

[2022-02-22 15:02] Captainkirkdawson commented on #1379
@geoffj-FUG
Why do we need special Userids? It is because 1) there are a number of actions that need the authority of a system administrator. e.g. assigning coordinator roles 2) We should not give all coordinators the role of system_administrator. They could destroy the database and the application by a single mistake.  It should be restricted to the Management Team. 3) technical people as well as

[2022-02-23 15:32] AlOneill opened #1380 "Records: accessibility issues"
The Records page looks very good — very neat — but it has a number of issues related to display and accessibility.

Many of the issues on this page are inter-related, that is they need to solved together and the nature of the fix will determine the details. So, where to start? Fixing the table issues could be a good place.

- [x] there are 2 `fieldset` elements plus their associated `legend` eleme

[2022-02-23 15:42] AlOneill commented on #1380
@AnneV-Learn Accessibility is a multi-faceted thing and automatic testing will only pick up about 30% of the issues. You have made a commendable attempt!

[2022-02-23 16:12] Captainkirkdawson opened #1381 "Scottish shipping"
Margaret reported  a SCS file in the ANS directory, HS612999 unloaded.
@PatReynolds assigned to @rhodamackenzie
@rhodamackenzie reported shipping in Scotland having no pieces in FC2
@Captainkirkdawson confirmed those findings and in addition found that the other 7 SCS pieces while on line were assigned to other counties such as Bedfordshire.
He concluded:
It is clear that there is no piece structu

[2022-02-23 16:16] PatReynolds commented on #591
Agree as @Captainkirkdawson asked - first task is assess impact on performance of simply enabling a first-name-only search

It may be that the simplest solution is affordable.

[2022-02-23 16:35] PatReynolds commented on #1362
@Captainkirkdawson to test

[2022-02-23 16:41] PatReynolds commented on #1355
@DeniseColbert to make page live.

[2022-02-23 16:47] PatReynolds commented on #1339
Not working on test3, @Vino-S to push to live to test there.

[2022-02-23 16:49] PatReynolds commented on #1054
@PatReynolds to look at the new version of 'abridged' on the Coords mailing list

[2022-02-23 16:54] PatReynolds commented on #1340
@PatReynolds and @DeniseColbert to ask remain coordinators for the placename files needed to complete this task.

[2022-02-23 16:57] PatReynolds commented on #1196
@AnneV-Learn to see if allocation is only on VLD, or on FC2 allocations.

If not already there, solution is to add a separate field to piece

[2022-02-23 17:00] PatReynolds commented on #1337
@rhodamackenzie and @geoffj-FUG to work at this list.

[2022-02-23 17:08] PatReynolds commented on #1380
@AnneV-Learn to take a look and get back to @AlOneill

[2022-02-23 17:22] PatReynolds commented on #1379
Roles decided:
CENmanager (temp: Pat)
SNDmanager (temp: Denise)
DATmanager Rhoda
Role 4

- others tbd

[2022-02-23 17:32] PatReynolds commented on #1375
Needed: rake task for CSV with names, emails, and syndicate, date of last confirmation of email, uploaded file

[2022-02-23 17:53] AnneV-Learn commented on #1196
Currently Transciber (name, email and userid) can be assigned to VLD/CSV file not Piece but could be added to Piece so that the co-ordinator could set it. This would then provide a way of indicating if a Piece is being transcribed.

[2022-02-23 19:28] Captainkirkdawson commented on #1196
@AnneV-Learn we need to think a little more about this.

A piece normally (not Scotland) has only one VLD hence there is a one for one correspondence between the VLD transcriber and the piece. The coordinator has to enter the transcriber into Freecen2

For Scotland and for CSVs a piece may be broken into parts and a different transcriber can work on different parts it is a many to one between the

[2022-02-23 20:53] Captainkirkdawson commented on #1371
@Vino-S deployed latest CEN code to t3 and  ran precomile on t3 but colour is teal. Is that what was expected?

[2022-02-23 21:24] AnneV-Learn commented on #1196
@Captainkirkdawson   - that looks promising Kirk - would be great if can populate automatically

[2022-02-23 21:46] AlOneill commented on #1371
@Captainkirkdawson Yes, I was asked to make the button Teal for all 3 projects.

[2022-02-23 21:50] Captainkirkdawson commented on #1371
TY @AlOneill Guess we are good to go @Vino-S

[2022-02-24 10:01] geoffj-FUG commented on #1337
Pat

Kirk is working on this at the moment. It cannot be done from a PC because there are links that need removing and reassigning.

Kirk is currently running a rake task to do it. It is taking about 15 minutes per entry. It is a slow process but it is happening.

Geoff

[2022-02-24 10:30] PatReynolds commented on #1337
Sorry, @geoffj-FUG I obviously minunderstood what I should have noted.

[2022-02-25 10:59] PatReynolds commented on #1170
Hello @DeniseColbert I have done a first re-write - there are some sections (e.g. recruitment) which you know, but I don't.

[2022-02-25 11:00] PatReynolds commented on #1049
Being undertaken as part of #1170

[2022-02-25 11:34] AnneV-Learn opened #1382 "Rake to list Freecen2_place sources not in Freecen2_place_sources list"
Rake to list Freecen2_place sources not in the recently deployed Freecen2_place_sources so that a further rake task can automatically set to the appropriate value from Freecen2_place_sources

[2022-02-25 14:26] PatReynolds commented on #1379
Hi @DeniseColbert I've done a first go-through - there are some items (e.g. on onboarding) which you may be able to improve.

[2022-02-25 15:44] AlOneill opened #1383 "Empty link in header as part of the logo markup"
The main problem is that **the logo is an empty link**. We need to add something to identify the link destination for a non-sighted user: it need not be a heading

The other sites have an `h1.accessibility` element as a child of the logo. FreeCEN does not. However, …

… It makes more sense, I believe, to make it a simple link to the main page, which is where the `href` points to. The alternative,

[2022-02-25 16:03] AlOneill commented on #1383
FreeREG has this:

`<a class="site__header__logo  icon__freereg" href="/">
    <h1 class="accessibility">FreeREG | Free Parish Register Records</h1>
</a>`

FreeBMD has a shorter version:

`<a class="site__header__logo icon__freebmd" href="/">
        <h1 class="accessibility">FreeBMD</h1>
</a>`

What do we want for FreeCEN? Something like: FreeCEN: free census records ?

Also, what is our policy f

[2022-02-25 18:30] #1373 closed, assigned to AnneV-Learn

[2022-02-25 18:30] #1138 closed, assigned to Captainkirkdawson, AnneV-Learn

[2022-02-25 18:30] #1362 closed, assigned to AnneV-Learn

[2022-02-25 18:32] #1372 closed, assigned to AlOneill, AnneV-Learn

[2022-02-25 18:32] #1371 closed, assigned to Vino-S

[2022-02-25 18:32] #1332 closed, assigned to DeniseColbert

[2022-02-25 18:32] Captainkirkdawson commented on #1332
Possibly

[2022-02-26 03:33] geoffj-FUG opened #1384 "Remove True / False choice from Validation edit entryscreen"
At the bottom of the Validation edit screen there is a Record valid True False choice. If the Validator selects true the changes are not tested.
This creates the risk that a Validator can cheat the system by entering ann invalid Alternative POB (i.e. not on the Gazetteer and select True. This puts the invalid record into the system and no match will ever be achieved on a POB search.
The default va

[2022-02-26 16:57] Captainkirkdawson commented on #1381
@rhodamackenzie The misplaced Scottish Shipping files have been placed in SCS. SCS is now searchable with 2 places. Now to find out the issue behind the one in ANS

[2022-02-26 18:26] AnneV-Learn commented on #1375
@DeniseColbert I have written a Rake task which I hope provides a CSV file with the info you need. It has been deployed to Test3 and run there just to get you an example of the output, which I'll email to you. Note: It Lists Active Transcribers and the only example of a transcriber with an uploaded file can be found on row 818 of the output. For VLD or CSV files uploaded it will show the chapman c

[2022-02-26 18:41] Captainkirkdawson commented on #1381
@rhodamackenzie Located and loaded the missing file into its proper place in SCS.
You can now report To Margaret and Brenda that the issues surrounding SCS and ANS have been resolved.

[2022-02-26 22:34] Captainkirkdawson commented on #1379
I have set up
SNDManager  SNDManager@freeukgenealogy.org.uk
CONManager  CONManager@freeukgenealogy.org.uk
DOCManager  DOCManager@freeukgenealogy.org.uk
GENManage  GENManager@freeukgenealogy.org.uk
DATManager  DATManager@freeukgenealogy.org.uk
WEBManager  WEBManager@freeukgenealogy.org.uk

They all have the temporary password; once you have set up the email address and the forwarding we can send a

[2022-02-26 23:27] #1366 closed, assigned to Captainkirkdawson

[2022-02-26 23:31] Captainkirkdawson commented on #1379
Amended your draft test accordingly

[2022-02-26 23:52] Captainkirkdawson commented on #1355
@DeniseColbert The link has been made and it is active on production.
I noticed 2 things. Firstly one cannot view the pages in full screen which makes them very hard to follow.
Secondly there is no video on the login process and how to recover the password
![login video.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/b9838bf9-7d9a-415a-8c3f-bc81e4463b6d)

[2022-02-28 15:06] DeniseColbert commented on #1375
Thanks, @AnneV-Learn I have forwarded to @geoffj-FUG

[2022-02-28 16:20] Captainkirkdawson opened #1385 "225970602 Edit profile ID (Ali)"
Issue reported by **AH001** at 2022-02-28 09:36:42 UTC
Time: 2022-02-28T09:35:07+00:00
Session ID: 30afbb1c6186bf61da6089e7f2e2d1a2
Problem Page URL: [/userid_details/my_own](/userid_details/my_own)
Previous Page URL: [https://www.freecen.org.uk/manage_resources/new?locale=en](https://www.freecen.org.uk/manage_resources/new?locale=en)
Reported Issue:
How do we set "Do not acknowledge my contributi

[2022-02-28 16:27] Captainkirkdawson commented on #1385
There is currently no method.
That is because there is no automatic system of recognizing the person who transcribed a file.
It is a purely manual system which is rarely if ever used as it requires coordinator input.
Nor is the contribution recognized publicly

[2022-03-01 08:23] suffolkroots commented on #1385
Completely at odds with FreeREG system where transcriber is recognised by files in their profile?

[2022-03-01 12:11] AnneV-Learn commented on #1375
Rake format (output from running against TEST3) has been reviewed by @geoffj-FUG and he is happy for it to be moved to production.
Asked @Vino-S to deploy, run the rake task and send the out to me for initial review.

[2022-03-01 15:18] Captainkirkdawson commented on #1385
True. They work in totally different ways and have done for 20 years

[2022-03-01 20:31] AlOneill commented on #921
@PatReynolds AFAICT, there is just one issue preventing the sign-off of this page: the Accessibility statement is still a draft.
I cannot see a story for the Accessibility statement. The DRAFT page looks pretty good — if there are no urgent changes to be made, I suggest I check it and make it sync-ready. That will allow me to make DRAFT About sync-ready too.

[2022-03-01 22:26] AnneV-Learn commented on #1382
Rake to list freecen2_place sources not in  Freecen2_place_sources and rake to update all freecen2_place records with source = 'Gazatteer' to 'Gazetteer of British Place Names' ready for deployment.

[2022-03-01 23:39] Captainkirkdawson commented on #1369
2/3rds of way through. Completed NFK

[2022-03-02 21:06] AnneV-Learn commented on #1136
@geoffj-FUG can I just double-check the requirements here.
So an alternate name should not be the same as any place name in the same county or other alternate name in the same county - is that correct?

[2022-03-02 21:45] geoffj-FUG commented on #1136
Anne

Yes that is correct.

We need to restrict this to new additions only. If we try to enforce data integrity on existing data then we will have problems.

We can differentiate between places in the same county by adding their nearest significant town in brackets. You will find lots of these instances in the Gazetteer. So, the test should simply be one of matching the string of the place name wi

[2022-03-03 08:44] AnneV-Learn commented on #1136
Reply from Geoff:

Anne

Yes that is correct.

We need to restrict this to new additions only. If we try to enforce data integrity on existing data then we will have problems.

We can differentiate between places in the same county by adding their nearest significant town in brackets. You will find lots of these instances in the Gazetteer. So, the test should simply be one of matching the string o

[2022-03-03 11:13] DeniseColbert commented on #1379
For collaborative clarification, I've placed the roles in this doc: https://docs.google.com/document/d/15IPQkT_JMxVmmJT7WvDTieqv4-evMzs8S112S6yj7bg/edit?usp=sharing

[2022-03-03 11:37] AnneV-Learn opened #1387 "Errors reported in ErrBit for Freecen2_contents"
Resolve errors reported in ErrBit for Freecen2_contents

1.undefined method `unique_forenames' for nil:NilClass - (app/controllers/freecen2_contents_controller.rb:142→ place_names)

2. undefined method `[]' for nil:NilClass - (app/controllers/freecen2_contents_controller.rb:56→ place_index)

3. undefined method `count' for nil:NilClass - (
app/controllers/freecen2_contents_controller.rb:155→ place

[2022-03-03 18:02] AnneV-Learn commented on #1136
@geoffj-FUG Updated code that should solve this has been deployed to Test3 - are you able to test it?

[2022-03-05 11:50] geoffj-FUG commented on #1136
Anne

I have just added Backwell Hill as an alternative to Backwell in SOM. (Correct because it did not exist)

Then I created a new Place Name of Backwell Hill as the primary Place Name. It was accepted, even though it already exists as an alternative place name. (Incorrect)

I then created a new place name of Backwell Hill as a Primary Place Name and it was rejected. (Correct)

Geoff

[2022-03-05 11:53] AnneV-Learn commented on #1136
Was this on Test3 Geoff?
A

On 5 Mar 2022, at 11:50, geoffj-FUG ***@***.***> wrote:

﻿

Anne

I have just added Backwell Hill as an alternative to Backwell in SOM. (Correct because it did not exist)

Then I created a new Place Name of Backwell Hill as the primary Place Name. It was accepted, even though it already exists as an alternative place name. (Incorrect)

I then created a new place name of

[2022-03-05 12:01] AnneV-Learn commented on #1136
﻿
G
I actually didn’t change the code relating to checking the Primary place name when created as I hadn’t realised there was a problem with that! I was just making amendments to the alternative name processing when adding a new alternative or crating a new place with alternatives.
I’ll look at correcting the issue you found too.
We’re you able to test the way it now validated alternative names (o

[2022-03-05 17:36] AnneV-Learn commented on #1380
@AlOneill Sorry this took so long, I got caught up with other issues. I have made corrections (see below) and you can now review on Test3.

Round 1 Corrections:

- [x] there are 2 fieldset elements plus their associated legend elements that are not grouping form inputs — they are not being used semantically. One wrapping the table and one for “Recent Additions”.

- [x] all tables need a caption el

[2022-03-05 18:46] AlOneill commented on #1380
@AnneV-Learn First, apologies for some misleading descriptions of the issues — I've amended those. The description of how to use the `scope` attribute is entirely my fault. I've only just become aware that the initial description of how to use the `caption` element is flawed — unfortunately, there is a lot of misinformation out there, but actually using a screen reader is very revealing.

I'm goin

[2022-03-05 23:30] geoffj-FUG commented on #1136
Anne

I will look at Validation. I was just checking the Gazetteer.

Just sanity checking – we are only using strings to test duplicate entries. It occurred to me that if you are using Coordinates then that would cause my results.

That raises the thought that perhaps we should be using County + String + Coordinates to test for duplicates. That would remove the issue where 2 places are named the s

[2022-03-06 06:47] geoffj-FUG commented on #1384
I have been updating the Handbooks. The Transcribers and Proofreaders Handbook is online. I have now almost finished the Addendum for Validators. The new version takes into account Story #1384.

It involves hiding an entry on a form. No coding is required as the result will be the default setting. I need to remove the alternative ‘true’ setting which is creating a loophole that allows Validators t

[2022-03-06 06:58] geoffj-FUG commented on #333
This involves reformatting the spreadsheets (easy) and re-coding the upload/replacements. It also involves recoding the FC1 to FC2 conversions. Also the vld upload. I dont see it as a minor enhancement. FC1 was in the same order as we now do FC2, we did not change it.
Geoff

[2022-03-06 07:02] geoffj-FUG commented on #753
There are a huge number of records without an ecclesiastical parish. Whilst FC1 purportedly recorded ecclesiatical parishes confusion over what was recorded in the PARMS resulted in civil parishes being entered. This involves reviewing every existing record. FC2 does capture it for transcriptions using wholly FC2 spreadsheets. FC1 spreadsheets did not capture it.
Geoff

[2022-03-06 07:04] AnneV-Learn commented on #1136
Hi Geoff,

Sorry I used misleading terminology there. I was only referring to the Gazetteer. I meant ‘validation’ that the system does when an alternative name is added to an existing Gazetteer place or when a new Gazetteer place is created with alternative names specified at creation (checking for duplicates). Those are the areas of code that I had attempted to update.
Currently it uses County an

[2022-03-06 07:10] geoffj-FUG commented on #876
The structure of FreeCEN2 depends on the PARMS, which is in itself governed by the census administrative structures since 1841.
The structure is
County
Registration District (or Hundred, Wapentake etc)
Census Piece
Civil Parish
It is this structure that governs how FreeCEN can be searched.
EDs are recorded within civil parishes and I suspect are too small for a researcher to recognise. A civil par

[2022-03-06 07:16] geoffj-FUG commented on #920
We can go to civil parish level. It is recorded in the PARMS
Street level can theoretically be achieved but streets were not necessarily recorded properly.
Some enumerators put street against the first entry on a page then nothing. Pragmatism in the interpretation of 'as is' governs whether the street is repeated by the transcriber. The policy of if in doubt leave it out ws also adopted where it w

[2022-03-06 09:46] geoffj-FUG commented on #1136
Anne

I am happy with the County / Place string. No problem.

I understand. Unfortunately FreeCEN uses Validation as a particular process. All good.

Geoff

[2022-03-06 15:02] Captainkirkdawson commented on #333
@geoffj-FUG I believe this story was targeted at the search page and its order of input for the surname/forename fields not at the data entry.

[2022-03-06 16:02] Captainkirkdawson commented on #876
@geoffj-FUG @PatReynolds
Geoff your comment about the structure of the Freecen2 database is correct as far as it goes.
However it is important to remember that Freecen2 actually searches by the Freecen2 Place (and its location as part of the Nearby Places option).
Each of the database levels below the County link to a place in Freecen2 Place.
VLD search records are populated with the piece level F

[2022-03-06 19:14] Captainkirkdawson commented on #1369
Finished DTS; there are 45 left to do

[2022-03-06 22:34] geoffj-FUG commented on #333
😊

Geoff

From: Kirk Dawson ***@***.***>
Sent: Monday, 7 March 2022 1:03 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] FC2 Feedback: Change name input order to 'Forename - Surname' (#333)

@geoffj-FUG <https://github.com/geoffj-FUG>  I believe this story was targeted at the search page and its order of inp

[2022-03-07 06:10] geoffj-FUG commented on #1343
This should not happen until we have completed story #1375. We will then have sorted out a lot of the volunteers who are not active.

[2022-03-07 06:30] geoffj-FUG commented on #1340
@PatReynolds @DeniseColbert - There is no point in getting the Placesup files from the Coordinators. Firstly they are not quality controlled. Secondly they are just a list of text entries with no additional information. A lot of the entries are not even valid. They were entered to make Valdrev work.
The Gazetteer is a resource that is alive - it grows as new places are added. There is no point in

[2022-03-07 06:40] geoffj-FUG commented on #1260
Story #1269 has no information.
I think this story is completed?
I seem to be going OK on the live system.
Geoff

[2022-03-07 06:41] geoffj-FUG commented on #1269
What is this story about please?
Geoff

[2022-03-07 08:28] AnneV-Learn commented on #1269
I’m not sure @geoffj-FUG - I’ll have to discuss/check at the next scrum meeting

[2022-03-07 09:12] PatReynolds commented on #1269
It seems to be to pick up any issues arising from when the Delete did not function as intended (story #1260, which is complete).

[2022-03-07 09:24] PatReynolds commented on #1340
Enabling a place of birth search from VLD files does not change or contaminate the gazzetteer (as I understand what is being proposed here).  What it means is: if a place of birth in a VLD file is 'Totnes', it will be found by a search for 'Totnes', alongside the 'Totnes' people in files that have been validated against the gazetteer.  If the place of birth in a VLD file is 'Tottnes' (and there is

[2022-03-07 11:26] AnneV-Learn commented on #1375
Deployed to production and run. Output emailed to @geoffj-FUG.

[2022-03-07 11:28] AnneV-Learn commented on #1382
Deployed to production and both rake tasks run. Output from second rake task emailed to @geoffj-FUG

[2022-03-07 12:35] AnneV-Learn commented on #1360
Deployed to production and rake task to make the updates has been run (see #1382)

[2022-03-07 13:03] AnneV-Learn commented on #1136
Hi Geoff,

Program code has been updated which I believe will resolve this issue. The updated code has been deployed to Test3.
So could you please re-test when you get time (I know you have loads on at the moment)? And complete any further testing of the duplicate alternative names issue (#1136).

Bye for now,
Anne

On 5 Mar 2022, at 11:50, geoffj-FUG ***@***.***> wrote:

﻿

Anne

[2022-03-07 16:12] Captainkirkdawson commented on #1269
description written

[2022-03-07 16:51] Captainkirkdawson opened #1388 "226495919 Validation resetting (Geoff)"
Issue reported by **somt.cen** at 2022-03-06 11:31:59 UTC
Time: 2022-03-06T11:28:52+00:00
Session ID: ff0166dbe8ca7d12ec34dc78f5f8c4c5
Problem Page URL: [/freecen_csv_files/62206921f493fd3c9df6c555?locale=en](/freecen_csv_files/62206921f493fd3c9df6c555?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_csv_entries?locale=en&type=War](https://www.freecen.org.uk/freecen_csv_entries?lo

[2022-03-07 16:53] Captainkirkdawson commented on #1388
This story has been created at @geoffj-FUG request.
I had replied as follows
Geoff
There have been no changes to CSVProc for some months. The validation process has not been touched for over a year. So it would appear that you are asking for a change in specification. That would be best done by adding a new story or amending an existing one.
Kirk

[2022-03-07 16:55] Captainkirkdawson commented on #1388
To which he replied
This was a fault report. I was validating RG13_2270.
I had validated about 50 records and downloaded the file. When I uploaded the file it had set everything back to false. I validated some of it again and re-processed the file. It reset all the validated work to false again.
I have a downloaded copy from the first download and it shows the validated records as true. It was the

[2022-03-07 17:00] Captainkirkdawson commented on #1388
There have been no changes in CSVProc validation processes since it launch 15 months ago. In that time 544 files have gone through validation without comment from coordinators or validators hence my view that this is a new requirement that needs spelling out.

[2022-03-07 17:59] Captainkirkdawson commented on #1388
@geoffj-FUG when I look at the csv file you sent me the record_valid header is offset by one column whereas the data column for the record_valid is where it should be and it is followed by a blank column.
enumeration_district,civil_parish,ecclesiastical_parish,where_census_taken,ward,parliamentary_constituency,location_flag,folio_number,page_number,schedule_number,uninhabited_flag,house_number,hou

[2022-03-07 18:11] Captainkirkdawson commented on #1388
Subsequently I unincorporated a file, reprocessed it; downloaded it and replaced it and no warnings were generated hence I see no issue.

[2022-03-08 01:56] Captainkirkdawson commented on #1369
@geoffj-FUG  I have effectively completed the reds. However some of the large urban centre entries ae a mess as you have noted. I would like to spend some time getting then into a consistent structure. Before starting I wish to confirm that place naming should follow the larger smaller rule i.e. Leeds Beeston  should be the format NOT Beeston Leeds.
There is also the question of brackets. Do we in

[2022-03-08 02:01] Captainkirkdawson commented on #1369
IMO if we are doing the bigger smaller rule we should bracket so as to indicate that is what has been done. ie. Leeds (West)

[2022-03-08 02:21] geoffj-FUG commented on #1369
Kirk

Yes, Bigger to smaller.

Brackets are essential. We are looking at locking down duplicate entries by testing strings. So Wraxall (Nailsea) has to be differentiated from Wraxall (Shepton Mallet). The searching of POBs will need to take account of multiple lat/long entries if and when it ever happens.

Is Leeds West a place or not? I would validate it as the alternative Leeds. However, Leeds i

[2022-03-08 02:43] geoffj-FUG commented on #1369
Kirk

Further to my previous email.

If Leeds West is going to be entered to aid validation because it recurs in many pieces in many years, it should be an alternative name to show that it is Leeds. If should not be entered as a primary name.

The problem is changing people’s habits. Everything was entered in one list in FC1. No alternatives.

Geoff

[2022-03-08 04:58] Captainkirkdawson commented on #1369
@geoffj-FUG Leeds (West) would validate Leeds West because we validate on the standard name which is always shown on the Freecen2_place detail display

[2022-03-08 22:35] Captainkirkdawson commented on #1369
@geoffj-FUG your argument about having all quadrants as alternates to the primary in cities makes logical sense. The counter argument is that doing so creates a single place with many hundreds of thousands of records and loss of specificity not to mention maxing out the results for common names. Hence I would urge retention of the sectorization.

[2022-03-08 22:36] Captainkirkdawson commented on #1369
I have cleaned up leeds and think it looks better!!

[2022-03-09 00:29] Captainkirkdawson commented on #1369
All red items dealt with

[2022-03-09 00:30] Captainkirkdawson commented on #1368
Commenced changes requested

[2022-03-09 01:54] geoffj-FUG commented on #1369
Thank you.

I will get the missing web address and invalid sources sorted out and then we can run another download and see how things look then.

The missing web addresses are being delegated to the Coordinators. Pat has already sent out a message to them that it is going to happen.

Geoff

From: Kirk Dawson ***@***.***>
Sent: Wednesday, 9 March 2022 10:30 AM
To: FreeUKGen/FreeCENMigration ***@***

[2022-03-09 07:23] geoffj-FUG commented on #1388
Whenever I get a query from a volunteer I check the headers. Why didn't I do it for myself?

Problem now resolved.

Geoff

[2022-03-09 07:23] #1388 closed, assigned to nobody

[2022-03-09 07:25] geoffj-FUG commented on #1369
Kirk

OK I understand

Geoff

From: Kirk Dawson ***@***.***>
Sent: Wednesday, 9 March 2022 8:36 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Resolve the Red source issues in Geoff's Source report (Issue #1369)

@geoffj-FUG <https://github.com/geoffj-FUG>  your argument about having all quadrants as altern

[2022-03-09 11:38] AnneV-Learn commented on #1382
@geoffj-FUG has provided spreadsheet of the updates that can be done programmatically. Rake to do these updates written and ready to deploy and test on Test3

[2022-03-09 13:13] AnneV-Learn commented on #1382
Successfully tested on Test3.

[2022-03-09 15:14] AnneV-Learn commented on #1269
Thanks @Captainkirkdawson

[2022-03-09 16:39] DeniseColbert commented on #1375
Thanks @AnneV-Learn

Next steps, @PatReynolds to write to England, @DeniseColbert to write to Any and Geoff et al to sort transcribers into counties

[2022-03-09 16:41] DeniseColbert commented on #1382
@Vino-S to deploy before @AnneV-Learn goes away for a few weeks

[2022-03-09 16:43] DeniseColbert commented on #1387
Done, closing

[2022-03-09 16:43] #1387 closed, assigned to AnneV-Learn

[2022-03-09 16:44] DeniseColbert commented on #1136
@geoffj-FUG can you test?

[2022-03-09 16:54] DeniseColbert commented on #1381
Complete: closing

[2022-03-09 16:54] #1381 closed, assigned to Captainkirkdawson, rhodamackenzie

[2022-03-09 16:57] DeniseColbert commented on #1369
Done, closing

[2022-03-09 16:57] #1369 closed, assigned to Captainkirkdawson

[2022-03-09 17:03] DeniseColbert commented on #1379
Awaiting @geoffj-FUG to indicate his agreement (or otherwise)

[2022-03-09 17:13] PatReynolds commented on #1385
No public recognition on CEN so closing.

[2022-03-09 17:16] PatReynolds commented on #1384
It is useful for testing purposes, so will be hidden from all but SysAdmin and people in Technical.

[2022-03-09 17:29] PatReynolds opened #1389 "Make the first heading in App pages h1"
May be disconcerting for screen reader users that the refinery pages start with h1 tags, app pages start with h2. tags.

Pat to investigate the impact of the current situation for users of screen readers (check webaim archives to start with).

Alison to see how webaim pages themselves are marked up.

[2022-03-09 17:33] PatReynolds commented on #1378
Add to action buttons lists. "Roles in FreeCEN" or "Who does what".

[2022-03-09 17:34] PatReynolds commented on #1378
@PatReynolds to talk with @geoffj-FUG about this.

[2022-03-09 17:35] #1377 closed, assigned to nobody

[2022-03-09 17:35] #1376 closed, assigned to nobody

[2022-03-09 17:54] AlOneill commented on #1389
WebAIM mark up their pages in an unexpected way: the heading with the logo in the header is an `h2` element whilst the first heading in the page main content is an `h1`. Cannot see an explanation of this markup practice in their information pages.

I will investigate further …

[2022-03-09 19:47] AlOneill commented on #1389
It looks like most sites use an `h1` element to identify the main content of an individual page.

However, whether or not there is a heading element (of any level) in the header material (brand logo, main navigation and so forth) is highly variable. Of course, if the logo is a link, then it **must not be empty**, which the CEN one is — that is an error.

[2022-03-09 20:22] AlOneill commented on #1383
@Vino-S I could not hear what you were saying the Scrum (and apologies for interrupting you) — what are your thoughts? Please note the amended description — it describes the problem more accurately.

@PatReynolds et al. — apologies for not stating the main problem more clearly from the outset.

[2022-03-10 14:43] Vino-S commented on #1383
@AlOneill ,
I was just saying that the `h1.accessibility` in  will be available for the screen-readers.
However as I understand the issue, we might have to remove the h1 tag from the logo.

We can go with the the first solution suggested by Alison. Because I believe most users have tendency use Logo to navigate to Home page.

[2022-03-10 15:20] Captainkirkdawson opened #1390 "226832435 Contact us page link (Linda)"
Issue reported by **Linda2469** at 2022-03-10 09:00:35 UTC
Time: 2022-03-10T08:59:33+00:00
Session ID: f6afc00dc4fc16a9d79838f43c229345
Problem Page URL: [/cms/help/frequently-asked-questions-researchers?](/cms/help/frequently-asked-questions-researchers?)
Previous Page URL: []()
Reported Issue:
The contact us page link goes to a cannot be found page.

![Screenshot](https://www.freecen.org.uk)

[2022-03-10 15:30] AlOneill commented on #1383
@Vino-S thanks.
So, we can put a `span.accessibility` in the link that simply says "FreeCEN search" or "FreeCEN search page". Although it is the home page, I think that saying it is the search (page) is more helpful.

No `h1` element in the header, but ensure there is an `h1` on every app page, even if it is hidden from sighted users or the size is reduced using one of .beta, .gamma, etc. or it is

[2022-03-10 15:58] Captainkirkdawson commented on #1390
@Vino-S @DeniseColbert This is likely VERY urgent

[2022-03-10 23:31] Captainkirkdawson commented on #1368
Completed

[2022-03-11 00:17] Captainkirkdawson commented on #1367
@geoffj-FUG I have just started on these. Before going too far I think it best to evaluate what happens when we do this type of change.
The first Green entry is for Edlesborough BDF. VLD Entries exist for 1861 and 1891.
The 1891clearly indicates that the location is in BKM although the census was BDF
![Edlesborough1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/52ec4a99-9587-4

[2022-03-11 00:24] Captainkirkdawson commented on #1367
Searching for a 1861 entry in BKM Edlesborough is also successful
![Edlesborough4.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/2508f55c-c53f-4636-999f-7d369a528c12)
And to be absolutely clear there is no option to search for Edlesborough in BDF
![Edlesborough5.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/5c6728e2-593e-46d6-9132-91934cfe96f8)

[2022-03-11 06:11] geoffj-FUG commented on #1367
Kirk

Looks good to me.

Geoff

[2022-03-11 09:18] Vino-S commented on #1390
Fix deployed to production.

[2022-03-11 15:17] AnneV-Learn commented on #1382
Deployed to production and P1 updates have run.
@geoffj-FUG informed.

[2022-03-11 15:22] AlOneill opened #1391 "Advert breaks layout"
The advert at the top of the page is breaking the layout. It is fine when page loads, but scrolling down and then back up again produces this:

![advert glitch.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/c8885e27-f3e9-4153-8dc8-bec177a192e8)

[2022-03-11 15:27] AlOneill commented on #1391
In the footer, this does not look as intended either:

![advert glitch-2.png](https://images.zenhubusercontent.com/5ce6b34165b1a70acc0a9124/f32f4325-a58a-473d-b4f0-09583883f14e)

[2022-03-11 15:31] Captainkirkdawson commented on #1367
@geoffj-FUG will proceed. There are 177 corrections it will take a minimum of 20 hours active time to do these; likely a week

[2022-03-11 15:38] AlOneill commented on #1390
Working as expected, although Safari is unhappy about something — have to scroll to the very bottom to get the links in the same group as "Contact us" to behave as links.

OK on Firefox, but adverts are not showing up there.

[2022-03-11 15:42] AlOneill commented on #1391
I was viewing on Safari — the ads do not show on Firefox. Personalised advertising is "On".

[2022-03-11 15:56] AlOneill commented on #1391
Back in Safari, and turning "Personalised advertising"  off, fixes (ties) banner ad to bottom of page. What is going on? I'm going to stop now.

[2022-03-12 00:26] AlOneill opened #1392 "Images and Files missing from Help on production (Refinery tables)"

[2022-03-12 00:38] AlOneill commented on #1392
The two images that should be on the Help page are present in t3 but missing from production. Also the Handbook files.

Were the Refinery Images and File tables synced along with the Pages?

[2022-03-12 21:21] Captainkirkdawson commented on #1367
Have done 60 so far 117 left to do

[2022-03-12 21:41] geoffj-FUG commented on #1367
😊

[2022-03-14 19:44] Captainkirkdawson opened #1393 "Red correction was in error"
LAN	Farnworth	53.383333	-2.716667	TRUE	Location is Widnes. Correct entry exists. Cannot disable as has search records	done
LAN	Farnworth (Kearsley)	53.545468	-2.399881	FALSE	Place name amended. Source added.

Unfortunately the original linkages had all freecen_pieces and therefore freecen2 pieces linked to LAN	Farnworth	53.383333	-2.716667; In reality some should have pointed to  LAN	Farnworth (Ke

[2022-03-15 18:10] Captainkirkdawson commented on #1367
117 done 60 left to do

[2022-03-15 22:21] geoffj-FUG commented on #1367
TY

Geoff

From: Kirk Dawson ***@***.***>
Sent: Wednesday, 16 March 2022 4:10 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Resolve the Green source issues in Geoff's Source report (Issue #1367)

117 done 60 left to do

—
Reply to this email directly, view it on GitHub <https://github.com/FreeUKGen/FreeCEN

[2022-03-16 17:37] PatReynolds commented on #750
Not sure what the "a elements" are (anchor elements?)

[2022-03-16 19:02] AlOneill commented on #750
@PatReynolds the `a` element is the link element. (They were called anchors once, when they also had a `name` attribute, but anchor is no longer helpful or accurate.)

[2022-03-17 21:57] Captainkirkdawson commented on #1367
139 done that leaves the 37 in WRY

[2022-03-18 06:32] geoffj-FUG commented on #1367
Thanks Kirk

I am putting all the dregs into one spreadsheet so you can ignore the individual spreadsheets that I have been sending you.

When you are ready I can send London as nobody else can make the changes.

Geoff

[2022-03-18 14:28] Captainkirkdawson commented on #1367
@geoffj-FUG London is already in progress. Rhoda has the ability to make changes

[2022-03-18 21:48] Captainkirkdawson commented on #1367
I have completed the green actions to the best of my ability.

Any further action requests should be done in other stories

[2022-03-18 21:54] Captainkirkdawson commented on #1337
@geoffj-FUG I have completed the red blue and green changes in their respective stories. I have retuned the listing to you for information

Further changes arising from the requests to coordinators should first be referred to @rhodamackenzie who has the ability to make almost all changes.

Only changes that require the merging of place entries because they have the same location (and are NOT alter

[2022-03-19 05:25] geoffj-FUG commented on #1367
Kirk

Thank you.

We sent them to her in the first place but she said she didn’t have access.

Anyway it’s all good now.

Geoff

From: Kirk Dawson ***@***.***>
Sent: Saturday, 19 March 2022 12:29 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Resolve the Green source issues in Geoff's Source report (Issue #

[2022-03-19 05:38] geoffj-FUG commented on #1337
Kirk

Thank you.

I will break up the spreadsheet that I have into the two parts.

We are almost there at last!

Geoff

[2022-03-19 14:53] Captainkirkdawson opened #1394 "Replace county coordinator for Kirks Counties"
Currently I am county coordinator for the following counties.
MIL
OTH
OUC
OVB
OVF
They need to be assigned to someone else.
I suggest we assign them to CONManager

[2022-03-21 14:11] Captainkirkdawson opened #1395 "227788464 Unable to validate entries (Geoff)"
Issue reported by **somt.cen** at 2022-03-21 10:34:24 UTC
Time: 2022-03-21T10:32:01+00:00
Session ID: 83e2bf54e0fc28bc061c5356051cb624
Problem Page URL: [/freecen_csv_entries/62370d4cf493fdb714d6ffa8?locale=en](/freecen_csv_entries/62370d4cf493fdb714d6ffa8?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_csv_entries/62370d4cf493fdb714d6ffa8/edit?locale=en](https://www.freecen.org.

[2022-03-23 00:37] Captainkirkdawson opened #1396 "227898084 error trying to replace RG12_2348 for user Hopkinal (John)"
Issue reported by **johnt** at 2022-03-22 17:01:24 UTC
Time: 2022-03-22T16:57:43+00:00
Session ID: 42e850254d7abc8c7b998455b192ad01
Problem Page URL: [/freecen_csv_files/my_own](/freecen_csv_files/my_own)
Previous Page URL: [https://www.freecen.org.uk/manage_resources/new?locale=en](https://www.freecen.org.uk/manage_resources/new?locale=en)
Reported Issue:
The following message was received
Subjec

[2022-03-23 00:39] Captainkirkdawson commented on #1396
John
The problem is quite simple.
The header is incorrectly formatted. The column for rooms (after house_or_street_name  and before address_flag) does not have a header. It is blank.
enumeration_district,civil_parish,ecclesiastical_parish,where_census_taken,ward,parliamentary_constituency,sanitary_district,location_flag,folio_number,page_number,schedule_number,uninhabited_flag,house_number,house_o

[2022-03-23 00:41] Captainkirkdawson commented on #1396
Requirement to to make the csv processor generate an error message and exit cleanly.

[2022-03-23 16:36] #1367 closed, assigned to Captainkirkdawson

[2022-03-23 16:36] #1368 closed, assigned to Captainkirkdawson

[2022-03-23 16:37] #1382 closed, assigned to Vino-S, AnneV-Learn

[2022-03-23 16:46] PatReynolds commented on #1340
Part of Implementing Place of Birth Search.

@Captainkirkdawson to consider how to implement.

[2022-03-23 17:00] PatReynolds commented on #1393
@Captainkirkdawson to unscramble.

[2022-03-23 17:02] PatReynolds commented on #1391
@PatReynolds to test to ensure fix has worked.  And if not, fix it.

[2022-03-23 17:05] #1385 closed, assigned to nobody

[2022-03-23 17:07] PatReynolds commented on #1374
@PatReynolds to write the text, @Vino-S to implement

[2022-03-23 17:09] PatReynolds commented on #1341
@PatReynolds to ask Coords to enter the information.

[2022-03-23 22:45] Captainkirkdawson commented on #1324
@geoffj-FUG I believe the latest version of the vld download as CSVProc works as expected. Deployed to test3 for you to test

[2022-03-23 22:49] Captainkirkdawson commented on #1334
Code updated and deployed to test3

[2022-03-23 22:50] Captainkirkdawson commented on #1336
Code updated and deployed to test3 for testing

[2022-03-23 22:51] Captainkirkdawson commented on #1333
Records with a soft delete are now downloaded and a note added. Deployed to test3

[2022-03-24 01:22] FreecenBren commented on #1340
I agree with Geoff.
Besides that 24 years of records on about at least 4 to 6 different types
of software,  and at least 6 different types of PCs etc. with many hundreds
of VLD were added directly using the very old system before W32 etc., and
after that by Dave Mayall and his successors were the Validator was not
recorded.
Besides very time consuming if it were which I do not have anyway.

Sorry

[2022-03-24 10:03] PatReynolds commented on #1340
Hello Brenda,  the solution discussed yesterday addresses Geoff's concerns.  We will use (in part) the code developed to find place names already (e.g 'begins with Stock" or 'ends with"dale" to identify places of birth in VLD files, and indicate that those records should be returned as part of the search results.  No changes will be made to either the VLD files, or the Gazetteer, only to the searc

[2022-03-24 11:09] PatReynolds commented on #1379
I have found and looked at the FreeCEN2 roles document https://docs.google.com/document/d/15IPQkT_JMxVmmJT7WvDTieqv4-evMzs8S112S6yj7bg/edit?usp=sharing and there Geoff says he is already doing the work described in CONmanager, and the documentation point of DOCmanager.

He does not do the marketing/fundraising side of DOCmanager.  I wonder if this needs clarification, e.g is this just providing th

[2022-03-24 11:54] geoffj-FUG commented on #1310
This story will remove a catch 22 from the validation process. If a place name needs correction and has a default of OVF but the person is a British Subject  it cannot be amended to the correct place name because the validation process rejects it as an OVB unless the spreadsheet is downloaded, amended and replaced.
This story is also becoming more important as the Gazetteer is continually having i

[2022-03-24 12:09] geoffj-FUG opened #1397 "Create Actions for Review of accuracy of Civil Parishes in FC1 vld files"
We now test the civil parish in csv files against the PARMS to ensure that they are entered correctly.
As far as I am aware the old vld files loaded into FC1 did not have this check. In addition the FC2 PARMS was updated during the cutover to the new system.
The work that was done linking the PARMS has made our public searches more accurate. However the historic data has not had the alignment done

[2022-03-24 12:17] geoffj-FUG commented on #688
I have asked for #1310 to go ahead. If that happens this story will not be required.
Geoff

[2022-03-24 15:01] Captainkirkdawson opened #1398 "228045825 Warning on age of scholar (Ali)"
Issue reported by **AH001** at 2022-03-24 10:03:45 UTC
Time: 2022-03-24T10:01:28+00:00
Session ID: 4f071354a432f362b21b94d3d1f5ea3e
Problem Page URL: [/manage_resources/new?locale=en](/manage_resources/new?locale=en)
Previous Page URL: [https://www.freecen.org.uk/cms/refinery/login](https://www.freecen.org.uk/cms/refinery/login)
Reported Issue:
Warnings are generated for age of scholar if apparent

[2022-03-24 15:02] Captainkirkdawson opened #1399 "228045222 Incorrect date confirmation of email address (Ali)"
Issue reported by **AH001** at 2022-03-24 09:53:42 UTC
Time: 2022-03-24T09:51:59+00:00
Session ID: 977eeeb601865721ea0e0bda3d2092f2
Problem Page URL: [/userid_details/5cde8eaff493fd4ec7c05d6b?locale=en&page_name=](/userid_details/5cde8eaff493fd4ec7c05d6b?locale=en&page_name=)
Previous Page URL: [https://www.freecen.org.uk/userid_details/5cde8eaff493fd4ec7c05d6b/edit?locale=en](https://www.freecen.

[2022-03-24 15:04] Captainkirkdawson commented on #1310
@geoffj-FUG still on hold awaiting confirmation that the vld download issues have been resolved.

[2022-03-24 22:25] Captainkirkdawson commented on #1397
@geoffj-FUG could you clearly identify the purpose of this activity. Why do we need to do it?
I know you say "make our existing searches more accurate" but I fail to see how.
@PatReynolds for information
You may recall that in the latter part of last year we made the transition to use FreeCEN2 Places for both input streams instead of Places (freecen1) for vld files and FreeCEN2 Places for csv. Thi

[2022-03-25 08:52] AnneV-Learn commented on #1384
@geoffj-FUG this is ready for testing on Test3 now.
Modified so that when editing a record during validation only users with role of system_administrator or technical will have the option to change the 'Record valid' flag (as this is useful for developers when testing etc). All other users will not be able to change the flag.
For them it will look like this (i.e. display only):
![Screenshot 2022-0

[2022-03-25 11:06] AnneV-Learn commented on #1196
@Captainkirkdawson - just to be sure I understand - assuming we add an array (transcribed_by) to the fc2 piece - pieces with VLDs we can look up the transcriber userid etc. from the values on the VLDs file records (entered by the coord). For pieces with CSVs we can look up the owner of the CSV files. Is that correct? Do you think we also need another flag on the piece - transcribed true/false - so

[2022-03-25 12:12] PatReynolds commented on #1375
Draft of email sent to Denise.

[2022-03-25 15:29] Captainkirkdawson commented on #1397
The first step would be making the civil parish and ecclesiastical parish entries for a file consistent.
There are 10557 vld files. These have 18160 unique values of civil parishes and 16645 ecclesiastical parish in freecen_dwellings. There was no quality control on these fields so there are variations.

Some examples of the variation in civil parish names as entered.
        "Toxteh Park",

[2022-03-26 04:58] geoffj-FUG commented on #1397
Kirk

That is exactly why I created this story.

There was no quality control on the entries. Your examples of Toxteth Park show that the problem may be bigger than I anticipated.

The civil parish was entered by the transcriber regularly throughout an ED, rather than just at the first entry as we now do in FC2. That means that the entry could be mis-typed within the ED.

The ecclesiastical parish

[2022-03-26 16:43] DeniseColbert opened #1400 "Can we redirect https://www.freecen.org.uk/freecen_coverage to https://www.freecen.org.uk/freecen2_contents?locale=en?"
TNA sends people to https://www.freecen.org.uk/freecen_coverage from this page: https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/census-records/

[2022-03-26 22:04] Captainkirkdawson commented on #1397
@geoffj-FUG efforts are ball park guess of the amount of time an experienced person might take. 1 is a line of code; 3 is an hour or so; 5 up to a day; 8 up to a week; 13 up to a month; 21 up to 4 months; 40 a year or more.

[2022-03-26 22:22] geoffj-FUG commented on #1397
Thank you

Geoff

[2022-03-28 15:39] AnneV-Learn commented on #1395
@geoffj-FUG I've just taken a look at this and pls bear in mind this is an area of the code that I haven't looked at previously and am not totally aware of all the intended fuctionality.
What appears to happen is during CSV file processing it will raise a **warning** if Surname or Forenames contain just a single hyphen.
Then when the record is being updated via Online Edit Entry facility of the va

[2022-03-29 11:24] geoffj-FUG commented on #1395
Anne

My comment in red below in the copy sent directly to you as the red doesn’t come out on Github.

Geoff

From: Anne Vandervord ***@***.***>
Sent: Tuesday, 29 March 2022 1:40 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] 227788464 Unable to validate entries (Geoff) (Issue #1395)

@geoffj-FUG <https://g

[2022-03-29 13:53] DeniseColbert opened #1401 "Add CSV download feature to Search Statistics"
The table on this page: https://www.freecen.org.uk/freecen2_search_statistics has day-by-day number of searches performed in FreeCEN. This is info the trustees would like to see in my metrics report.

If the CSV download feature we have on Site Statistics (https://www.freecen.org.uk/freecen2_site_statistics?locale=en) could be added to the "Search Statistics" page, I could easily get the info I ne

[2022-03-29 14:14] Captainkirkdawson commented on #1401
Do not understand. There is no such capability for the researcher user. There is a print format.

[2022-03-29 14:26] Captainkirkdawson opened #1402 "228127430 Wrong report when copied file to another ID (Ali)"
Issue reported by **AH001** at 2022-03-25 08:43:50 UTC
Time: 2022-03-25T08:39:22+00:00
Session ID: 2ee26e5fdae2b124dbe617fd0e07ed79
Problem Page URL: [/freecen_csv_files/623d7853f493fdff14930415/change_userid?locale=en](/freecen_csv_files/623d7853f493fdff14930415/change_userid?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_csv_files/623d7853f493fdff14930415?locale=en](https://ww

[2022-03-29 14:53] AnneV-Learn commented on #1395
Thanks for your quick response @geoffj-FUG
The context of an Error during Online Edit Entry processing is different - it stops the edited record from being saved/submitted.There is no real concept of a warning specific to the Online Edit Entry functionality. Would a workaround be for me to remove the code that stops the record from being saved/submitted in Online Edit if it detects hyphen in Surna

[2022-03-30 05:42] geoffj-FUG commented on #1395
Anne

That would be the solution.

The Warning would come up for the validator. They would normally just accept it. But if the POB needs validating they would resolve both issues in the validation screen.

Then if the hyphen was not retested the POB change would be verified with the Gazetteer and the screen would go to the Propagate / Accept options.

Geoff

From: Anne Vandervord ***@***.***>
Sent

[2022-03-30 07:42] AnneV-Learn commented on #1395
Ok @Geoff-FUG I’ll proceed that way.

[2022-03-30 09:31] AnneV-Learn commented on #1269
Rake report  has been written and tested on Test3 (but there were no VLD deletions there it would seem). Have asked @Vino-S to deploy to Production, run and send output to me to review.

[2022-03-31 07:06] geoffj-FUG commented on #1269
Anne

A live one? Row 200 and a couple more in RG107_1924 SOM.

I cant upload it to test3 as I don’t have the original any more. It was on an old PC (Vista!). But you can probably access the vld file from the FC1 upload area.

I have downloaded the piece from FC2and am working on a correction for it so it will eventually reappear on FC2 as a csv file. But my download is converted to a new format s

[2022-03-31 07:41] AnneV-Learn commented on #1269
Thanks for the info @geoffj-FUG.
Isn't you comment related to
'Research how one might respect the soft delete in vld files' #1311
rather than this story - or am I misunderstanding?

[2022-03-31 12:04] geoffj-FUG commented on #1269
Anne

There are a lot of deleted flags in this piece. I have validated about 20 of them and none are deleted.

I have managed to find a spreadsheet containing the original transcription. There is no reason that some of the entries would even need looking at during validation.

So is this some sort of historical leftover from FC1 where these flags existed? Th original hypothesis was that the Ds wer

[2022-03-31 15:01] Captainkirkdawson commented on #1269
@AnneV-Learn @geoffj-FUG
Anne you are correct that this story has **nothing** to to with the soft delete in story #1311. This story checks to see if there are orphan vld files because people deleted the freecen1 parm on freecen2
@geoffj-FUG  we are waiting for you to test story #1324  "the latest version of the vld download as CSVProc works as expected. Deployed to test3 for you to test" this addr

[2022-04-01 10:49] geoffj-FUG commented on #1324
All of the reported issues are now correct in a download. I am happy for this to go live.
Geoff

[2022-04-01 12:27] AnneV-Learn commented on #1380
Updates made and deployed to Test3 for second round of assessment by @AlOneill

[2022-04-01 14:32] Captainkirkdawson commented on #1333
All of the reported issues are now correct in a download. I am happy for this to go live.
Geoff

[2022-04-01 14:33] Captainkirkdawson commented on #1334
All of the reported issues are now correct in a download. I am happy for this to go live.
Geoff

[2022-04-01 14:34] Captainkirkdawson commented on #1336
All of the reported issues are now correct in a download. I am happy for this to go live.
Geoff

[2022-04-04 14:18] DeniseColbert opened #1403 "File processing email was sent to wrong Coordinator"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/946c81a9-dd59-489b-883f-902ea6e50693)

This file is definitely a NTH file, but the email has the wrong COORD in the 'To' field, the actual NTH COORD is in the cc field.

Chris Prior is COORD for DBY and DEV
Ali Hill is COORD for NTH

They are listed correctly on https://www.freecen.org.uk/syndicates so why is the email goin

[2022-04-04 22:01] Captainkirkdawson commented on #1393
Task written and being tested on test3

[2022-04-04 23:31] Captainkirkdawson commented on #1393
Corrections applied to production.

[2022-04-04 23:36] Captainkirkdawson commented on #1288
I see no reason to eliminate or take any action

[2022-04-05 12:03] suffolkroots commented on #1288
All shipping images we have are 1861.

I have 34 files either transcribed or needing transcribing.

Royal Navy and Merchant in my list from Brenda are all under CHP EWS.

I can't go any further as there are no shipping civil parish lists for 1861.

Additionally, CEN1 shipping parishes are stated to be "the place where census was lodged", not the name of the ship.

[2022-04-05 16:50] Captainkirkdawson commented on #1288
@geoffj-FUG @suffolkroots
The parameter structure of Freecen2 is based on TNA holdings, not images we have .
The EWS does not exist on TNA and is an artifact of Freecen1 which we carried over into Freecen2
Royal Navy holdings exist on TNA for all years from 1861 through 1911
Merchant shipping at sea and in ports abroad, and from British ships in home ports exists only in 1861.
If we have images fo

[2022-04-06 15:09] PatReynolds commented on #1288
@geoffj-FUG could you forward Ali's email to me, as I don't seem to have had it.

[2022-04-06 15:30] Vino-S commented on #1339
code deployed to production

[2022-04-06 15:34] #1339 closed, assigned to Vino-S

[2022-04-06 15:35] PatReynolds commented on #1384
@geoffj-FUG have you been able to test this?

[2022-04-06 15:35] PatReynolds commented on #1136
@geoffj-FUG - have you been able to test?

[2022-04-06 15:36] #1049 closed, assigned to PatReynolds

[2022-04-06 15:44] PatReynolds commented on #1390
@AlOneill are you able to look into the Safari issue?

Firefox issue no longer an issue.

[2022-04-06 15:54] PatReynolds commented on #1196
Can you confirm @Captainkirkdawson or @AnneV-Learn  : it seems we no longer need to provide a link from FreeCEN2 to http://www.chrismahoney.co.nz/FreeCen/ as all the information on that website is now on FreeCEN2.

Does this story, therefore, need renaming to cover
a) identify which coordinators are still running similar websites and
b) to use the data on these websites to identify the transcriber

[2022-04-06 15:57] PatReynolds commented on #1403
@DeniseColbert to investigate

[2022-04-06 16:07] PatReynolds commented on #1397
We need to revisit the FreeCEN roadmap, and allocate this to a part of it.

[2022-04-06 16:10] PatReynolds commented on #1392
@Vino-S to take a look.

[2022-04-06 16:12] PatReynolds commented on #1383
@Vino-S to take a look.

[2022-04-06 16:31] PatReynolds commented on #1054
Version in Test2 (DRAFT Help for Coordinators) now ready for proofing.  Could you take a look @geoffj-FUG for content and @AlOneill for accessibility

[2022-04-06 16:36] DeniseColbert commented on #1401
Sorry for not being clear @Captainkirkdawson - I have added a description to the story.

[2022-04-06 20:26] AlOneill commented on #1390
@PatReynolds the links in the footer are working as expected in Safari.

However, there are a number of issues with trying to tab through the Search form — I'll open a new issue for those.

[2022-04-06 20:34] AlOneill commented on #890
The blurb includes a word in all caps: BEFORE. Emphasis should be provided another way as all caps looks like shouting and could be interpreted as rude (i.e. as uncivilised).

[2022-04-06 20:53] AlOneill opened #1404 "Improve search form for keyboard users"
As well as the empty link in the header (for which there is an issue open already), there is an instance where tabbing takes a user to an 'invisible' element. This happens between Census year input and checkbox for Nearby places — the label for Nearby places has `tabindex="0"` (but no tooltip to display) which I believe is the cause of the problem as removing it in the browser fixes things.

[2022-04-06 21:04] AlOneill commented on #1383
@Vino-S  I think the empty link should contain a `span.accessibility` and not an `h1`

The span should contain either 'FreeCEN' or 'Search FreeCEN' — I'm not sure which would be more appropriate.

[2022-04-06 21:36] AlOneill commented on #1054
@PatReynolds
Did you mean test 2 or test 3? I was not able to log in on test 2 but found this page on test 3:
https://test3.freecen.org.uk/cms/information-for-coordinators/draft-information-for-coordinators

The image link shown below points at the FreeCEN home page — is this what was intended? The markup is altogether a little strange, so please have another look.

![FreeCEN-image-link.png](https

[2022-04-06 21:39] AlOneill commented on #1054
@PatReynolds
There is no point in reviewing for accessibility until the content is signed off. My comment above was just something that jumped out at me while trying to find the correct page :-)

[2022-04-07 06:18] geoffj-FUG commented on #1384
Tested OK.

I thought I sent a message asking if it could be hidden entirely rather than greyed out. It seems to be missing.

There is an alternative to put a note “for system admin and technical  use only” next to it. That stops people reporting the greying out as a problem.

Geoff

From: PatReynolds ***@***.***>
Sent: Thursday, April 7, 2022 1:35 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc

[2022-04-07 06:26] geoffj-FUG commented on #1136
Anne

Not quite there yet

If I add an alternative Place name that is already exists the addition fails (Correct)

I added Backwell Churchtown as an alternative in SOM. OK as it did not exist.

Then I created it as a new place name. It was created OK even though the alternative existed. It should have failed

Geoff

From: PatReynolds ***@***.***>
Sent: Thursday, April 7, 2022 1:36 AM
To: FreeUKGen

[2022-04-07 06:30] geoffj-FUG commented on #1054
Pat

If I looked at this as a new person I would be baffled.

How about – ‘We use two reference files in our work, the PARMS file and the Gazetteer.’ Then your text follows.

Geoff

From: PatReynolds ***@***.***>
Sent: Thursday, April 7, 2022 2:32 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Update Help f

[2022-04-07 06:58] geoffj-FUG commented on #1397
Pat

This is just one story.

The Epic is review accuracy of existing data uploaded from FC1. There are several issues involved. All issues are created by vld files having no integrity testing. All csv files uploaded now are integrity tested but vld files uploaded now are not and can’t be.

The first thing that we should clean-up is the Civil Parishes. These were repetitively entered in FC1 and no

[2022-04-07 08:32] AnneV-Learn commented on #1136
Ok thanks @geoffj-FUG I’ll take another look when I’m back next week

[2022-04-07 08:34] AnneV-Learn commented on #1384
Ok thanks @geoffj-FUG I’ll take a look at that when I’m back next week

[2022-04-07 09:15] PatReynolds commented on #1397
There is no Epic with the word Review in it (there is only one Epic - the Accessibility Review.  Do you mean _this story_ is an epic? Or should I create an epic and put this and other stories in it?

[2022-04-07 09:17] PatReynolds commented on #1054
Have replaced my intro sentence with yours.

[2022-04-07 10:07] PatReynolds commented on #1054
I don't see any image like tha, Alison.

there is an image missing (called a table here), but I need Geoff's sign off to get it drawn by someone who can draw (and can add that to a later version, I think it helps understanding rather than being essential).

There is a link missing in Enquiries from New Volunteers(  to "Enquiries from potential new volunteers"  that needs to be added (I _think_ thi

[2022-04-07 11:35] geoffj-FUG commented on #1397
Pat

There will be a at least two stories related to data integrity. They amount to something quite large.

I did not use the term in its true context but it would do no harm to tie them together with an epic. Any other data integrity issues can then be added so that we can see the true size of the problem.

Geoff

From: PatReynolds ***@***.***>
Sent: Thursday, April 7, 2022 7:15 PM
To: FreeUKGen/

[2022-04-07 11:42] geoffj-FUG commented on #1054
Pat

The missing link is I think to the Introduction for new transcribers.

I have access to test3 but have never used test2.

I have just tried to sign in but do not have permissions. Denise, can you set me up please?

Geoff

From: PatReynolds ***@***.***>
Sent: Thursday, April 7, 2022 8:08 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: R

[2022-04-07 13:17] DeniseColbert commented on #1389
All pages should have an h1 at the top of the main content. E.g.

![image](https://user-images.githubusercontent.com/19173257/162207778-91f9b3cc-61da-4490-a687-3d10e4f35206.png)

Search results - Hidden h1
Detailed results - Hidden h1

All drilled-down pages in Records section should have an h1 specific to that page.

[2022-04-07 14:45] Captainkirkdawson opened #1405 "Search Statistics"
Currently place search count is based on appearance of place_id in search parameter; this needs to be changed to freecen2_place_id to reflect the change in over to the use of the Gazetteer

[2022-04-08 15:10] Captainkirkdawson commented on #1310
@geoffj-FUG @PatReynolds
I am now in a position where I can start to work on this remaining task assigned to me. But before I do can you confirm that you wish to proceed. If so I will convert this task to an Epic and create the stories required for its implementation. Any announcement should likely have multiple parts. The first announcement on what is going to be done and why. This should be foll

[2022-04-11 17:17] AnneV-Learn commented on #1384
Ok @geoffj-FUG updated code has now been deployed to **Test3**. It should be entirely hidden from all users other than those with System-administrator or technical role.

[2022-04-11 21:14] AnneV-Learn commented on #1136
Ok @geoffj-FUG - I found that the most recent code changes had not been fully deployed to Test3. That has been resolved now, so please re-test.
FYI I just did a similar test on Test3 and got the correct result I.e
![6DF1A75D-1323-4CB5-A5AC-22869AD9ABF3.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/a308d2bc-1ff1-453a-a85c-8a2a9a31eec9)

[2022-04-11 22:27] Captainkirkdawson commented on #1379
Personally I see no reason for DOCManager to have any specific role in fundraising.
I was asked why we need to set up email addresses for these userids on freeukgenealogy.org.uk and not simply put in the persons email address in the userid. It is because every email address on the application must be unique. i.e. there cannot be 2 userids with the same email address. At the same time we want to ha

[2022-04-12 15:02] AnneV-Learn opened #1406 "CHI (Channel Islands) is available as county when creating new entry in Gazetteer"
Issue reported by @geoffj-FUG

I have been cleaning up the Gazetteer. I noticed that I had entries against CHI. I tried and was able to enter aplace against it, Appendix B of the Full Handbook has a Chapman Code table. Only level 3 Chapman Codes should be able to be entered agianst in the Gazetteer. CHI is not a level 3 Chapman Code. Geoff

[2022-04-12 15:06] AnneV-Learn commented on #1406
As far as I can determine the configuration of chapman_code related to this is currently as follows:

'Islands' => {
      'Channel Islands' => 'CHI',
      'Alderney' => 'ALD',
      'Guernsey' => 'GSY',
      'Jersey' => 'JSY',
      'Isle of Man' => 'IOM',
      'Sark' => 'SRK'
    }

and there is also the following:

UNNEEDED_COUNTIES = [
    'Central', 'Clwyd', 'Dumfries and Galloway', 'Dyfed

[2022-04-12 20:13] Captainkirkdawson commented on #1406
The Channel Islands have always been a problem. FC1 treated them as a county (CHI). The TNA initially treated the Channel Islands as a county but changed to treating 'ALD', 'GSY',  'JSY', 'IOM', and 'SRK' as separate counties in 1871.
FC1 was initially set up based on FC1. FC2 was restructured to follow the TNA with CSVProc with the exception of CHI where it continued to follow FC1 since CHI was m

[2022-04-13 00:59] Captainkirkdawson commented on #1310
@geoffj-FUG
Before going further I need to explore the implication on VLD uploads and the VLD records with you as all I have seen todate deals with CSVProc.
As noted earlier 95% of the OVB entries are from vld files. Clearly we must stop OVB entries from new VLD and reloaded files. But how are we to deal with the entries. Nationality does not exist in the freecen_individual collection. I presume w

[2022-04-13 02:44] geoffj-FUG commented on #1384
Anne

Looks good.

This can go live.

Geoff

From: Anne Vandervord ***@***.***>
Sent: Tuesday, 12 April 2022 3:17 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Remove True / False choice from Validation edit entryscreen (Issue #1384)

Ok @geoffj-FUG <https://github.com/geoffj-FUG>  updated code has now bee

[2022-04-16 07:27] geoffj-FUG commented on #1310
The following reply sent on 13 April does not appear to have reached the Board:
Kirk

Up to now Nationality would have been recorded in the Notes column if it was recorded on the census (though I have seen it added to the POB in brackets).

I assumed that we would just change the OVB to OVF for vld files.

The Pros - Your suggestion of adding the Nationality to the record set is a better solution.

[2022-04-16 07:32] geoffj-FUG commented on #688
Story #1310 appears to be going to happen in the near future. When #1310 is completed this story can be closed

[2022-04-16 07:35] geoffj-FUG commented on #684
This story is relevant to the vld dataset. When we are combining OVF and OVB into one Chapman Code of OVF an entry in the Notes field is proposed to show that the person is a British Subject. See Story #1310
If this happens we will have resolved the issue a different way and this story will no longer be needed.
Geoff

[2022-04-17 18:27] Captainkirkdawson commented on #1310
@geoffj-FUG
My strategy would be to make no change to the vld record structure. Vld files would continue to use OVB as now. The processing would convert to OVF and lnsert British in the Nationality field

[2022-04-18 04:48] geoffj-FUG commented on #1310
Kirk

That sounds like a good idea. It captures the information consistent with the csv files.

There will need to be a tweak to vld downloads so that the Nationality field gets filled.

Geoff

From: Kirk Dawson ***@***.***>
Sent: Monday, 18 April 2022 4:27 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Eli

[2022-04-18 17:09] AnneV-Learn commented on #1269
Deployed to production and rake task run. Output is attached - there are no orphan vld files in production.
Can be closed I think.

[https://app.zenhub.com/files/28748917/67a7401d-f463-4108-bf51-b63c3f17afba/download](https://app.zenhub.com/files/28748917/67a7401d-f463-4108-bf51-b63c3f17afba/download)

[2022-04-18 17:22] AnneV-Learn commented on #1384
@geoffj-FUG - deployed to production along with new Validators Handbook. I think this story can be closed now.

[2022-04-18 17:25] AnneV-Learn commented on #1136
@geoffj-FUG - have you had a chance to re-test this on Test3?

[2022-04-18 22:42] Captainkirkdawson commented on #1269
That is great news

[2022-04-19 07:19] AnneV-Learn opened #1407 "Statistics link on main FreeCen landing page goes to old Database Coverage pages"
Statistics link on main FreeCen landing page goes to old Database Coverage Pages![DB01E71C-435A-4488-A150-E16C0DE35CA1.jpeg](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/a1bb07a3-d280-402e-993e-e891e3c0616d)

[2022-04-19 07:26] geoffj-FUG commented on #1311
My last hypothesis was that the D flags were some sort of historical leftover from FC1 where these flags existed? The original hypothesis was that the Ds were the control flags from valdrev. But there is no obvious trigger for these flags to occur.
I have now re-validated over 7000 entries from a vld file which included about 200 odd entries which were marked as having a record Deleted flag.. What

[2022-04-19 07:47] geoffj-FUG commented on #1136
Anne

Looks good and all works well now. This can be migrated to production.

Geoff

[2022-04-19 10:24] geoffj-FUG commented on #1384
I have just run about 50 entries through it in production with no problems.
This story can now be closed.

[2022-04-19 10:24] #1384 closed, assigned to AnneV-Learn

[2022-04-19 20:18] Captainkirkdawson commented on #1310
Om hold again until I feel better

[2022-04-20 10:45] geoffj-FUG opened #1408 "Move links to a batch of Gazetteer entries left after sources were adjusted"
We have been looking at the Gazetteer entries without sources and without urls. The start was about 3500 entries.
The gazetteer entry form has been tightened to stop this happening again.
There are several entries that have already been culled leaving about 700 still to be addressed. Of these about half require adjusting by Kirk as they cannot be done online.
A spreadsheet has been sent to Kirk wi

[2022-04-20 21:13] Captainkirkdawson commented on #1310
Given my situation the scrum may wish to reassign

[2022-04-21 00:39] geoffj-FUG opened #1409 "Website has incorrect instructions for language"
The handbook has the new instructions for language as follows:
Field name	language
Column Contains	Language
Year/s Used 	Wales 1891 – 1911 and Isle of Man 1911 only
What Can Be Entered 	Up to 2 letters or blank
Description and Rules	In many censuses there was a question about language. This occurred in Wales and the Isle of Man. Enter the appropriate letter or letters for the language spoken here.

[2022-04-21 14:18] AlOneill commented on #1409
@geoffj-FUG I can make the changes you request, but let me check that I understand the situation correctly.

[The spreadsheet fields](https://test3.freecen.org.uk/cms/information-for-transcribers/the-spreadsheet-fields) is for volunteers using the VLD system, yes? So, are you saying that transcribers using the VLD system need to follow the same instructions for the Language field as those using CS

[2022-04-23 06:23] geoffj-FUG opened #1410 "Differentiating between 1841 and 1851 pieces"
HO107 covers the 1841 and 1851 censuses. When we developed FC2 we were under the impression that 1-999 was 1841 and anything from 1000+ was 1851.
It is now apparent that the boundary is HO107_1465 (1841) and HO107_1466 (1851).

The code needs adjustment as the system is reporting Errors in 1841 pieces from HO107_1000 to HO107_1465 as it sees these pieces as 1851 pieces.

Geoff

[2022-04-23 15:37] Captainkirkdawson commented on #1410
I am sorry that is just not true. We have always known where the transition occurred.
https://github.com/FreeUKGen/MyopicVicar/blob/master/app/models/freecen2_piece.rb#L122-L124

[2022-04-23 22:03] #1410 closed, assigned to nobody

[2022-04-23 22:04] geoffj-FUG commented on #1410
Back to the drawing board on the problem that I have.

[2022-04-24 15:14] Captainkirkdawson opened #1411 "230682055 Incorrect testing of Ecclesiastical parish and ward (Geoff)"
Issue reported by **somt.cen** at 2022-04-23 22:20:55 UTC
Time: 2022-04-23T22:12:31+00:00
Session ID: 9931675059ee0ae51176f554b0eebb1c
Problem Page URL: [/freecen_csv_entries?locale=en&type=Err](/freecen_csv_entries?locale=en&type=Err)
Previous Page URL: [https://www.freecen.org.uk/freecen_csv_files/my_own?locale=en](https://www.freecen.org.uk/freecen_csv_files/my_own?locale=en)
Reported Issue:
Pi

[2022-04-24 18:02] Captainkirkdawson commented on #1411
Points to note.
This is a Welsh file. HO107_1437 (somt.cen) in Machynlleth of MGY.
The header is correctly formatted for 1841 and does not include Ecclesiastical or Ward fields
enumeration_district,civil_parish,where_census_taken,parliamentary_constituency,location_flag,folio_number,page_number,schedule_number,uninhabited_flag,house_number,house_or_street_name,address_flag,surname,forenames,name_f

[2022-04-30 16:31] AnneV-Learn opened #1412 "Email not received following successful CSV file upload"
---------- Forwarded message ---------
From: FreeCEN Servant <freecen-processing@freecen.org.uk>
Date: Sun., Apr. 17, 2022, 7:46 a.m.
Subject: This is a feedback action request for reference 230132788 on FreeCEN
To: <kirk.dawson.bc@gmail.com>

Dear Kirk;

We have received feedback 230132788 from Paul email paul_gulliver@hotmail.com at 13:41 on 2022-04-17.

You are requested to review the feedback

[2022-04-30 16:32] AnneV-Learn commented on #1412
I need to contact Kirk and get some information on how to investigate Email issues like this. Will do that next week.

[2022-04-30 16:46] AnneV-Learn commented on #1412
Also reported by David Watkins on 27/04

Dear Anne;

We have received feedback 230990631 from David email dwatkins54@outlook.com at 11:47 on 2022-04-27.

You are requested to review the feedback and make an assessment as to the need for further action by the team. If action is required you are asked to create an issue for consideration by the project team. You are further requested to respond to t

[2022-05-02 07:23] Captainkirkdawson opened #1413 "231405332 Replace file error (Ali)"
Issue reported by **AH001** at 2022-05-02 07:15:32 UTC
Time: 2022-05-02T07:01:42+00:00
Session ID: aea628fe939eddb0f53e91c299513d03
Problem Page URL: [/manage_resources/new?locale=en](/manage_resources/new?locale=en)
Previous Page URL: [https://www.freecen.org.uk/cms/refinery/login](https://www.freecen.org.uk/cms/refinery/login)
Reported Issue:
On 26/4/2022 as CC I replaced  file RG10_1471 into ID

[2022-05-02 07:28] AnneV-Learn opened #1414 "Feedback create GitHub Issue - remove reference to Kirk"
Need to remove reference to Kirk when GitHub issue is created. See screenshot from #1413 which was created via this functionality
![1F45D3F4-0111-4FA4-B48F-856CDB63543B](https://user-images.githubusercontent.com/72746727/166199808-3eb73396-ad6b-4050-9087-38d4cf4d461a.jpeg)

[2022-05-02 15:23] AnneV-Learn commented on #1395
Modifications  have been deployed to Test3.
@Geoff-FUG are you able to test please?

[2022-05-02 15:25] AnneV-Learn commented on #1396
Modifications have been deployed to Test3.
@Geoff-FUG are you able to test please?

[2022-05-03 08:42] PatReynolds opened #1415 "test - please ignore"

[2022-05-03 08:45] #1415 closed, assigned to nobody

[2022-05-03 10:54] geoffj-FUG commented on #1310
Anne
This had got to the top of my pile and we were about to start on it when Kirk became too ill to continue.
There are several steps to this:
1. I need to send out an advice that a change is happening. I also have an updated Handbook version ready for issue.
2. About a week later the Gazetteer needs to be changed by removing OVB Overseas British from the County options for Creating New Places.
I

[2022-05-03 12:23] AlOneill commented on #1380
@AnneV-Learn has made accessibility improvements to the main Records page (all counties) and the page for a single county.

We will be moving on next to fix a few additional things on the page for a single Place. After that, we will tackle the displays that list Pieces and Names.

[2022-05-04 10:19] PatReynolds commented on #1054
Hello Geoff,

The page for checking is on test3. Only developers use test2 - it is essentially there to make sure that a new piece of Ruby code plays nicely with the existing code, and functions properly - if it does, the developer moves it to test 3 for wider review.

The html pages only exist on test 3 (and then are copied to live irregularly, when there is something to publish.

With the new ve

[2022-05-04 12:30] AnneV-Learn commented on #1413
Resolved by using the Delete function on the file (available to Tech Support users only) which removes any spurious links.

[2022-05-04 12:30] #1413 closed, assigned to nobody

[2022-05-04 14:44] Vino-S commented on #1383
Ready for testing in test3

[2022-05-04 15:34] PatReynolds commented on #1383
Could you test, please @AlOneill

[2022-05-04 15:49] PatReynolds opened #1416 "Create pop-up or intermediate page (like the email confirmation pop-up) encouraging transcribers to explore other roles"
Stagger with the email message.

Link to the correct page for each of the roles.

Make appropriate suggestions - e.g. suggest to proofreaders that might want to explore validator or coordinator

[2022-05-04 15:53] #1390 closed, assigned to Vino-S

[2022-05-04 15:54] PatReynolds commented on #1403
Believe caused by a transcriber being allocated to the wrong syndicate.  It is believed that this issue is now resolved, so closing.

[2022-05-04 15:54] #1403 closed, assigned to DeniseColbert

[2022-05-04 15:57] PatReynolds commented on #1389
Records pages being reviewed by @AlOneill @AnneV-Learn

@AnneV-Learn to do other pages after the review.

[2022-05-04 16:02] PatReynolds opened #1417 "Transfer of data from Coords sites to FreeCEN2"
a) identify which coordinators are still running similar websites to Chris' and
b) to use the data on these websites to identify the transcribers of (part) pieces

[2022-05-04 16:09] PatReynolds commented on #1408
@AnneV-Learn to forward email to @Vino-S for her to deal with this issue.

[2022-05-04 16:12] PatReynolds commented on #1406
Putting on Ice as may wish to address at a later date.

[2022-05-04 16:15] PatReynolds commented on #1405
Need to understand how this affects the search statistics. Pat to check

[2022-05-04 16:18] PatReynolds commented on #1402
@AnneV-Learn to ask Ali for more information

[2022-05-04 16:22] PatReynolds commented on #1400
@DeniseColbert to contact Lemon re this issue

[2022-05-04 16:48] Captainkirkdawson commented on #1408
They require the running of a rake task on brazza having identified the original freecen2_place_id and the new freecen2_place_id. It ensures that all linkages District, Piece and Civil parish as well as search records are reset. It also updates the Freecen2PlaceCache

eg   f2rake freecen:convert_freecen2_place_id[5fc6e357f4040b4345a153ad,5fc6dc38f4040beff481a434,Y]
The 3rd option if there and a Y

[2022-05-04 19:48] AnneV-Learn commented on #1408
Email @Vino-S with the information (actually as detailed above by Kirk) and the spreadsheet.

[2022-05-05 10:13] DeniseColbert commented on #1400
Lemon is now on the case

[2022-05-05 12:16] AlOneill commented on #1383
@PatReynolds @Vino-S looks good

[2022-05-05 15:09] AlOneill commented on #1054
@PatReynolds
While tidying up the page, I noted a missing link:

"Enquiries from volunteers will start to come directly to you from FreeCEN2.  A short Introduction booklet LINK HERE is available to assist you to get new Transcribers started."

What is the short introduction referred to here? The Abbreviated Handbook seems unlikely as it could not be described as short! I am stumped.

[2022-05-05 15:48] AlOneill commented on #1054
@PatReynolds page tidied and some typos fixed. Only the missing link to resolve.

[2022-05-06 14:48] AnneV-Learn opened #1418 "RECORDS index of pieces the number of records online for a piece erroneously includes records for files that have not been incorporated"
Issue reported by Chris Mahoney:

On Sun, 1 May 2022 at 19:21, Chris Mahoney <cmahoney@orcon.net.nz> wrote:
Hi Kirk

I had two Gloucestershire pieces incorporated last month, HO107_1969,
and HO107_1969a where I noted today some errors with them on the records
page on the FreeCEN website, both with the date uploaded, and number of
entries in the file.

With the date, it was initially reporting that

[2022-05-06 15:53] AnneV-Learn commented on #1418
@Vino-S I have created a pull request for **fc_1418_av** could you please deploy to Test3 and let me know when that has happened.
Thanks

[2022-05-06 16:28] AnneV-Learn commented on #1407
@Vino-S I have just created a pull request for fc_1407_av, could you please deploy to Test3 and let me know when that has happened.
Thanks.

[2022-05-06 17:25] Captainkirkdawson opened #1419 "231787466 Anne V Test Please ignore (Anne)"
Issue reported by **AEV56** at 2022-05-06 17:24:26 UTC
Time: 2022-05-06T17:23:48+00:00
Session ID: 2d6f4924a9e7e603a51252315a2c0f38
Problem Page URL: [/feedbacks](/feedbacks)
Previous Page URL: [https://www.freecen.org.uk/manage_resources/new?locale=en](https://www.freecen.org.uk/manage_resources/new?locale=en)
Reported Issue:
Anne V Test Please ignore
Production

![Screenshot](https://www.freecen

[2022-05-06 17:25] AnneV-Learn commented on #1414
@Vino-S I started to look at this and it looks like the Github logon details used when 'converting' a Feedback entry to a Github issue might be recorded in the mongo_config.yml file.
I think I am going to have to pass this one on to you.

[2022-05-06 17:25] #1419 closed, assigned to nobody

[2022-05-07 08:18] AnneV-Learn commented on #1402
More info received and I responded (via Feedback reply) with what I thought the current process was ie:
My understanding of the CSVProc process  is that the ‘Copy to Another Person’ is used to transfer the actual transcription file to the Proofreader or Validator, it does not ‘Re-Process’ the file.
That having been done would the Proofreader/Validator not just find the file in the list of ‘My File

[2022-05-07 10:17] AnneV-Learn commented on #1402
Ali clarified - The ‘Copy to Another Person’ also sends an All Warnings report by email to the file recipient.
The request is to offer options on the type of warning report that is emailed.

[2022-05-09 10:42] AnneV-Learn commented on #1407
Tested on Test3 - seems ok now.

[2022-05-09 10:43] AnneV-Learn commented on #1398
Code updated and deployed to Test3.

[2022-05-09 10:45] AnneV-Learn commented on #1401
CSV download option added to Search Statistics page and deployed to Test3.

[2022-05-09 10:47] AnneV-Learn commented on #1402
Added dropdown where type of processing report that will be emailed to the new user can be selected. Deployed to Test3.

[2022-05-09 11:49] AnneV-Learn commented on #1196
Responding to Chris' requirement above.
Maybe the most straightforward and flexible solution is to add a new field to Piece where co-ordinators can specify what is currently happening to a Piece (Stage?). This could then be displayed in 'Show' option for Freecen2 Pieces and included in the View Pieces in RECORDS.
_Possibly only display value if Piece is not Online._
Either free text (wouldn't want

[2022-05-09 13:12] AnneV-Learn commented on #1411
Fix deployed to Test3. @geoffj-FUG are you able to test please?

[2022-05-10 10:50] geoffj-FUG commented on #1411
Anne
I have tested this with the original file and it ran OK

I then tested it with a old format 1841 spreadsheet, uploaded it, converted and downloaded it, then reloaded it. It also ran OK.

This can therefore be moved to production.

Geoff

[2022-05-10 10:51] AnneV-Learn commented on #1411
Great - thanks for testing Geoff
Anne

On 10 May 2022, at 11:50, geoffj-FUG ***@***.***> wrote:

﻿

Anne
I have tested this with the original file and it ran OK

I then tested it with a old format 1841 spreadsheet, uploaded it, converted and downloaded it, then reloaded it. It also ran OK.

This can therefore be moved to production.

Geoff

—
Reply to this email directly, view it on GitHub<https:/

[2022-05-10 11:10] geoffj-FUG commented on #1395
Anne
The fix works fine.
It is now working as expected.
It can be moved to production.

Geoff

[2022-05-10 11:26] lemon-ukgen commented on #1400
That's done. Note that the old FreeCEN1 URL https://www.freecen.org.uk/statistics.html used to direct to https://www.freecen.org.uk/freecen_coverage, so I updated that too.

[code]

[2022-05-10 11:26] #1400 closed, assigned to lemon-ukgen

[2022-05-10 12:06] AnneV-Learn commented on #591
I am wondering if we should just try removing the need to include Place in a first-name only search - so retain need to enter census county. As if we take out the census county requirement too I think that many many queries would exceed the 500 max results limit that we have.

[2022-05-10 15:00] AlOneill commented on #1054
@PatReynolds DRAFT page promoted and sync-ready.

[2022-05-10 15:31] AlOneill opened #1420 "Complete DRAFT 'Information for transcribers' page and make live"
There is a [DRAFT 'Information for transcribers' page](https://test3.freecen.org.uk/cms/information-for-transcribers/draft-information-for-transcribers) that looks to have some updates for CSVProc, but no note of the issue or issues it addresses.

The current (live) page has links to pages and files that are related to CEN1, but the updated info for coords page tells coords that their volunteers s

[2022-05-16 13:17] AnneV-Learn opened #1421 "Errbit - drill(freecen2) - The action 'show' could not be found for Freecen2ContentsController"

[2022-05-16 13:28] AnneV-Learn commented on #1421
I think this is an error generated by a Bot. There is no 'show' method in the controller nor is there a show view - which is actually correct. I will attempt to add code to trap so that it does not show up in Errbit

[2022-05-16 13:46] AnneV-Learn opened #1422 "Errbit - Colombus(freecen2) - undefined method `[]' for nil:NilClass -"

[2022-05-16 14:27] AnneV-Learn commented on #1422
I think this is an error generated by a Bot. I will attempt to add code to trap so that it does not show up in Errbit

[2022-05-16 14:39] AnneV-Learn opened #1423 "Errbit - Colombus(freecen2) - undefined method `unique_forenames' for nil:NilClass"

[2022-05-16 14:46] AnneV-Learn commented on #1423
This may have been caused when the rake task that collects 'names' for the Records displays was not running nightly for a few days. I believe this has now been resolved.
I will attempt to add code to the Records displays to trap that situation so that it does not generate a NilClass error.
@Vino is there an easy way that I can check that the overnight rake tasks have run each day?

[2022-05-16 15:39] AnneV-Learn commented on #1418
Testing completed on Test3.

[2022-05-16 15:45] AnneV-Learn opened #1424 "Feedback issue raised by Geoff. The record shows 16 children born alive. The Warning is generated at >15. If I change the spelling of a POB I cannot save it as the 16 is tested"

[2022-05-17 11:20] geoffj-FUG commented on #1424
Anne
We need to discuss this before any work is done. I have had a look at the old vld software and how it was handled. We need to do something similar.
Geoff

[2022-05-17 11:26] geoffj-FUG commented on #1395
Anne
This is related to the new #1424. We need to tackle this to create one solution. See my note against #1424.
Geoff

[2022-05-17 11:29] AnneV-Learn commented on #1424
Ok @geoffj-FUG. I did take a preliminary look and it seemed to me that the same issue could result from any record where there was a failed check and one wanted to update the POB via the online edit.
Can you define the required processing as per the VLD approach?

[2022-05-17 11:44] geoffj-FUG commented on #1424
Anne

The problem emanates from my removing the true/false option from the form. I have validated over 100,000 entries with the true / false option unavailable and have only had 3 occurrences of the problem. However, it will need to be fixed.

I do not want to reinstate the true / false as its purpose was vague to a validator and it can be used to circumvent testing on submission.

The solution we

[2022-05-17 12:08] AnneV-Learn commented on #1424
Ok @geoffj-FUG I’ll aim to code as per your requirement above. I wonder if ‘Override Warning’ might be slightly better as to me it suggests a clearer intention to submit the data as is but you have the last word on this of course.

[2022-05-18 00:57] geoffj-FUG commented on #1424
Anne

I am happy with Override Warning

Geoff

From: Anne Vandervord ***@***.***>
Sent: Tuesday, 17 May 2022 10:09 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Feedback issue raised by Geoff. The record shows 16 children born alive. The Warning is generated at >15. If I change the spelling of a POB I cann

[2022-05-18 15:13] Vino-S commented on #1392
The production Refinery was synced few weeks back.
Please have a look again and let me know.

[2022-05-18 15:23] AlOneill commented on #1392
@Vino-S The images are still missing on production from
https://www.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen

[2022-05-18 15:33] PatReynolds commented on #1054
@Vino-S please sync

[2022-05-18 15:37] PatReynolds commented on #1392
Images now there on production.

[2022-05-18 15:37] #1392 closed, assigned to Vino-S

[2022-05-18 15:40] #1393 closed, assigned to Captainkirkdawson

[2022-05-18 15:42] PatReynolds commented on #1170
@PatReynolds to check to see if this has already been dealt with as part of the other updates.

[2022-05-18 15:48] #1395 closed, assigned to AnneV-Learn

[2022-05-18 15:51] PatReynolds commented on #1337
all remianing actions on this story are now part of #1408, so closing.

[2022-05-18 15:51] #1337 closed, assigned to geoffj-FUG, rhodamackenzie

[2022-05-18 15:54] PatReynolds commented on #1424
@AnneV-Learn I have moved this to sprint backlog, but please move to backlog if this is the wrong place for it.

[2022-05-18 15:56] PatReynolds commented on #1423
Vino says: there are no checks at the moment.

[2022-05-18 15:57] PatReynolds commented on #1422
@AnneV-Learn moving to sprint backlog, please move to backlog if more appropriate.

[2022-05-18 15:58] PatReynolds commented on #1421
Moved to ready for testing. @Vino-S to test

[2022-05-18 16:07] PatReynolds commented on #1399
This is important because it is part of how coords assess whether someone is still participating in the programme.

[2022-05-18 17:15] PatReynolds commented on #1170
Updated on test3, not yet deployed to live (18 May 2022)

[2022-05-18 17:19] PatReynolds opened #1425 "Create an automatic daily check that rake tasks have been run successfully"
There are errbit errors being generated when rake tasks have not run (e.g. #1423).  This story is to find a way of automatically checking (daily) that that rake tasks have been run.

[2022-05-19 10:23] AnneV-Learn commented on #1421
Tested - all seems ok ie no impact on existing functionality

[2022-05-19 10:24] AnneV-Learn commented on #1422
Tested - all seems ok ie no impact on existing functionality

[2022-05-19 10:26] AnneV-Learn commented on #1423
Tested - all seems ok ie no impact on existing functionality

[2022-05-19 10:30] AnneV-Learn commented on #1424
@geoffj-FUG I have made modifications that I hope meet your requirements and they have been deployed to Test3. Could you please Test?

[2022-05-19 10:32] AnneV-Learn commented on #1407
@PatReynolds this can be closed now I think.

[2022-05-19 10:33] PatReynolds commented on #1407
Thanks, Anne, now closing

[2022-05-19 10:33] #1407 closed, assigned to AnneV-Learn

[2022-05-19 10:33] AnneV-Learn commented on #1408
I believe @Vino-S is handling this now.

[2022-05-19 10:36] AnneV-Learn commented on #1412
I have emailed (06/05) @Vino-S as there appears to be a problem with the  mail_production.log on production  - need clarification before can investigate further.

[2022-05-19 10:57] AnneV-Learn opened #1426 "Notes missing from CSVProc file generated from VLD file"

[2022-05-19 10:58] AnneV-Learn commented on #1426
Issue reported by @geoffj-FUG

issue:

I have just downloaded RG11_2348.vld as a CSVPro in order to correct an entry reported by a researcher as incorrect. The incorrect information was in the notes. However when I downloaded the file the notes are missing from the whole piece. The notes did download properly until a couple of weeks ago when the suspect deleted flag warning was included in that co

[2022-05-20 22:27] #1418 closed, assigned to AnneV-Learn

[2022-05-20 22:27] #1423 closed, assigned to nobody

[2022-05-20 22:27] #1422 closed, assigned to nobody

[2022-05-20 22:28] #1421 closed, assigned to Vino-S

[2022-05-20 22:28] #1383 closed, assigned to Vino-S

[2022-05-20 22:28] #1324 closed, assigned to Captainkirkdawson

[2022-05-20 22:28] #1333 closed, assigned to Captainkirkdawson

[2022-05-20 22:28] #1336 closed, assigned to Captainkirkdawson

[2022-05-20 22:28] #1334 closed, assigned to Captainkirkdawson

[2022-05-21 01:35] geoffj-FUG opened #1427 "Update FreeCEN Handbook on line and add sample completed spreadsheet."
I have sent Anne 2 files.

One is an updated version of the March Handbook. It has an extra paragraph which addresses a new transcribers query.
The second is a csv spreadsheet for 1881. It is a sample that new transcribers can look at to see how their spreadsheet should look. It does not have an existing link in the Handbook section of Your Actions, so that will need to be created.

Geoff

[2022-05-21 14:31] AnneV-Learn commented on #1412
Checked with user and he is now receiving emails - some how this issue spontaneously resolved itself.
Closing this issue

[2022-05-21 14:31] #1412 closed, assigned to Vino-S, AnneV-Learn

[2022-05-21 14:33] AnneV-Learn commented on #1360
Closing

[2022-05-21 14:33] #1360 closed, assigned to AnneV-Learn

[2022-05-21 14:34] AnneV-Learn commented on #1411
Successfully deployed to production.

[2022-05-21 14:34] #1411 closed, assigned to AnneV-Learn

[2022-05-23 08:53] PatReynolds commented on #1427
HI @geoffj-FUG if you tell me the text and position, I'll add it (with the link to the spreadsheet).

[2022-05-23 12:00] AnneV-Learn commented on #1426
@geoffj-FUG fix has been deployed to Test3 (as per our feedback email communications. Could you please test?

[2022-05-26 11:23] geoffj-FUG commented on #1427
Info sent by email

[2022-05-26 11:30] geoffj-FUG commented on #347
If you look at the spreadsheet that Kirk and I developed when we started the upgrade to FC2 you will see that all of these differences are identified. The Scottish censuses are also identified. These differences can also be looked at by simply downloading the FC2 spreadsheet templates from CSVBatches.
Geoff

[2022-05-29 10:43] geoffj-FUG commented on #1426
Anne
I have just downloaded RG10_2500.vld from test 3. The notes are now appearing.
However, the message 'Deleted flag set on VLD; ' is now appearing on the spreadsheet.
In addition, we still have the problem of the notes downloaded twice, the two downloads concatenated.
Geoff

[2022-05-29 10:47] geoffj-FUG commented on #1424
Anne

That works and will cover a host of problems.
I will amend the Validators Handbook and reissue that to cover the change in the image..
This can be moved to production.
Geoff

[2022-05-31 09:58] geoffj-FUG commented on #1136
Anne
We still have an issue. It appears that when we look for duplicates it is not testing the whole string and nothing but the string.
In Norfolk there are two parishes called 'Forncett St Mary' and 'Forncett St Peter'. I tried to add two alternative place names - 'Forncett End' and 'Forncett' against Forncett St Mary.
The entry of just 'Forncett' was rejected even though it does not exist as a d

[2022-06-01 08:09] DeniseColbert commented on #1375
Sent England email to Geoff 01/06/22 for review

[2022-06-01 08:19] PatReynolds commented on #1426
This cannot be pushed to live until the Deleted flag issue and the notes field fixed. @AnneV-Learn can you ask Geoff if you need additional information is needed on what these problems are.

[2022-06-01 08:21] PatReynolds commented on #1398
@geoffj-FUG to test

[2022-06-01 08:25] PatReynolds commented on #1401
@DeniseColbert to check download of VLD files and subesquent uploads of CSV files after correction are not included in the statistics.

[2022-06-01 08:28] DeniseColbert opened #1428 "Check integrity of Site Stats"
Check download of VLD files and subesquent uploads of CSV files after correction are not included in the site statistics.

[2022-06-01 08:29] PatReynolds commented on #1402
@PatReynolds to ask Ali to test

[2022-06-01 08:29] PatReynolds commented on #1424
Tested and signed off by Geoff

[2022-06-01 08:33] PatReynolds commented on #1136
@AnneV-Learn could you take a look at this?  Moving back into in progress. Many thanks, Pat

[2022-06-01 08:42] PatReynolds commented on #1420
@AlOneill to check and remove mentions of replaced processes.

[2022-06-01 09:08] PatReynolds commented on #1409
Will be updated as part of update of Information for Transcribers page, so closing.

[2022-06-01 09:08] #1409 closed, assigned to nobody

[2022-06-01 10:43] geoffj-FUG commented on #911
We now have a process of correcting PARMS within FreeCEN.
The errors in the PARMS show up as an error for the Civil Parish in the Error report or No POB report. These are the first reports run by a transcriber and so the error is identified at transcription.
The Coordinator downloads the transcription to provide a backup copy. Then removes the transcription from FC2.
Rhoda (data manager) is advise

[2022-06-01 11:03] geoffj-FUG commented on #1398
I have tested this for a range of ages including years, months and days and it is now working correctly.
This can be moved to production.
Geoff

[2022-06-01 11:09] geoffj-FUG commented on #1375
I have had a look.
I am not sure about the information about CDs. I have always made a copy and sent that, I have never sent the original so I doubt if we have lost any. Most Coordinators, including Brenda, have been using Dropbox for years.
Just a simple paragraph about let us know if you are holding images or fische should suffice. We can then address each reply appropriately.
Geoff

[2022-06-01 11:27] geoffj-FUG commented on #1399
When a syndicate member details are updated there is a field asking if the email address is correct. It is a true / false field.
If it is not changed the email address verified date is updated.
If it is changed to false the user will be asked to verify their email address the next time that they sign in (I just tried it).
I have included this in the next version of the Coordinator's Handbook.
The

[2022-06-05 12:23] AlOneill commented on #1420
@PatReynolds I've tidied up the the [DRAFT Info for transcribers](https://test3.freecen.org.uk/cms/information-for-transcribers/draft-information-for-transcribers) page. There are two outstanding issues:

1. the highlighted sentence is very awkward — it does not make sense to me so I do not know how to fix it (other than by deleting it!) — please would you explain

![transcribing.png](https://imag

[2022-06-08 10:38] PatReynolds opened #1429 "FreeCEN1 no longer working?"
Yesterday and today when searching on FreeCEN1 I get this error:
Internal Server Error
The server encountered an internal error or misconfiguration and was unable to complete your request.

Please contact the server administrator at cen-web@freecen.org.uk to inform them of the time this error occurred, and the actions you performed just before this error.

More information about this error may be

[2022-06-10 17:06] AnneV-Learn commented on #1136
@geoffj-FUG the reason that Forncett  was rejected is because there is a disabled place named Forncett.
Not sure how you want to proceed - I could remove the disabled  place (behind the scenes in the Mongo database). But wondering why was it created and then disabled in the first place? It appears to have been disabled on 01-03-2022.

[2022-06-10 17:08] AnneV-Learn commented on #1426
@geoffj-FUG Test3 has now been updated with code that I hope will fix the issue raised in your comment above. Please retest on Test3.

[2022-06-11 06:12] geoffj-FUG commented on #1426
Anne
This looks OK now. If we can move it to production I will retry it with the file that the problemm was identified in in the first place. Coordinators have been told not to use the vld download at the moment so I will be the only one who knows it can be used. If all is OK I will put it on the coordinators board that it is working again.
Geoff

[2022-06-11 10:59] AnneV-Learn commented on #1428
@DeniseColbert - I have checked the code and as far as I can see **ALL** CSV file uploads and incorporations are counted in **Site Statistics**. There is no check to see if a CSV file is 'replacing' a VLD file. It is not clear to me that the current db design of Site Stats would easily be able to detect that a CSV upload is replacing a VLD file - it would mean looking at data at the Piece level wh

[2022-06-14 09:19] PatReynolds opened #1430 "Add "you can make suggestions for improvements (after checking that they are not already in the Roadmap) at any time via the Report a Problem button " into volunteers and coords helps"

[2022-06-14 10:06] DeniseColbert commented on #1428
Hi @AnneV-Learn, thanks for looking into this. I'm not sure if Brenda has answered your question (in the email sent offline):

But if not, this video might help? https://youtu.be/XH-QBKRg9gQ

(full set of videos is here https://www.youtube.com/playlist?list=PLR9WizgFnUWzpzO0GzeT-fRbLYRfBtIls in case the info you need might be in another of them)

[2022-06-14 10:55] AnneV-Learn commented on #1428
@DeniseColbert, @geoffj-FUG  - so if a VLD file is being replaced by a CSVProc file, is the VLD file deleted and then the CSV file uploaded as if the VLD had never existed?

[2022-06-14 22:46] geoffj-FUG commented on #1428
Anne
Yes the vld file is deleted. The record count is usually 1:1 except if a record that was missed has been added. However the file name may have been amended where the PARMS has the new structure involving A B etc after the number.
The process is
- Download the vld file. (That converts it to csv format).
- Make the amendment.
- re-validate the file to create the ability to link with the Gazette

[2022-06-15 08:17] DeniseColbert commented on #1396
@geoffj-FUG did you get a chance to test this?

[2022-06-15 08:27] DeniseColbert commented on #1428
@geoffj-FUG how frequently are CSVs replaced/reloaded? It would be a large amount of work, and so if it's not massively misrepresenting our additions, I imagine it could be low priority.

[2022-06-15 08:30] DeniseColbert commented on #1196
@geoffj-FUG could you give Anne a steer on her comment above?

[2022-06-15 08:35] DeniseColbert commented on #1429
Fixed - closing

[2022-06-15 08:36] #1429 closed, assigned to nobody

[2022-06-15 08:40] DeniseColbert commented on #1425
Vino thinks an error report message/email to sysadmins will achieve this. More thought needed on how this could work, as it could be a catch 22 if the error report rake task fails!

[2022-06-15 09:52] DeniseColbert commented on #1401
@AnneV-Learn clicked Search Statistics in test3, received this error:

![image](https://user-images.githubusercontent.com/19173257/173798975-5133a14a-aa5a-4064-9dc7-2a577bbbb8e5.png)

[2022-06-15 10:19] AnneV-Learn commented on #1401
@DeniseColbert - strange because it was working a few weeks ago. I’ll investigate and get back to you.

[2022-06-15 14:37] Captainkirkdawson commented on #1430
Interesting; that was what we had expected Feedback to be used for as it provided far more responsive review than the roadmap!

[2022-06-16 10:37] geoffj-FUG commented on #1396
I referred this one to John Topliss for testing. He reported it and I have not beenn across it.

Geoff

[2022-06-16 10:42] geoffj-FUG commented on #1428
I do about one a month for each County. One inn May was over 20,000 records so the variation can be significant.
The problem is masked by the fact that 2 Coordinators are still using vld files and uploading them. If the system was static we would see the change in totals and just be able to use that adjustment. The problem is a result of the continuation of vld uploads.
How are we measuring the ad

[2022-06-16 10:56] geoffj-FUG commented on #1196
I think that we are opening a can of worms here. The issue is created by volunteers trying to select their own pieces by number. We would need to show all numbers. But what if we do not have the images?
My approach as a Coordinator is to talk (by email) to a volunteer about an area they would like to work in. Then I select the piece. I then keep my record on a spreadsheet so I can track what is ha

[2022-06-16 12:54] DeniseColbert commented on #1420
@AlOneill will remove highlighted part and adjust the reference to image server.

[2022-06-17 14:34] AlOneill commented on #1420
Changes made and page made ready for publication, i.e. sync-ready.

Out of date child pages moved into own folder — status clear and old bookmarks will no longer find them.

[2022-06-20 08:58] AnneV-Learn commented on #1401
@DeniseColbert the issue with the deployment to Test3 has been fixed now.
Please note that the range of dates available for the CSV file download is limited on Test3. Search Stats are not updated daily on Test3 but this should still allow you to test the CSV file download functionality.

[2022-06-20 09:00] AnneV-Learn commented on #1398
@geoffj-FUG this has now been deployed to the production environment.

[2022-06-20 09:01] AnneV-Learn commented on #1424
@geoffj-FUG this has now been deployed to the production environment.

[2022-06-20 09:02] AnneV-Learn commented on #1426
@geoffj-FUG this has now been deployed to the production environment.

[2022-06-20 09:05] #1398 closed, assigned to geoffj-FUG

[2022-06-20 10:17] geoffj-FUG commented on #1426
Tested in production and all working well.

[2022-06-20 10:17] #1426 closed, assigned to AnneV-Learn

[2022-06-22 17:31] #1424 closed, assigned to nobody

[2022-06-22 17:32] AnneV-Learn opened #1431 "reduce the prominence of Override button. (Follow up from #1424)"

[2022-06-22 17:35] AnneV-Learn commented on #1431
@geoffj-FUG has requested changes to reduce the prominence of Override button.

Can we make the button with Submit on it longer please? Override is larger but is the option that we need to discourage use of.

The alternative is to put Cancel onto a similar button and put it between Submit and Override.

[2022-06-25 11:06] geoffj-FUG opened #1432 "Incorrect schedule numbers in download of 1841 VLD files"
The problem process is a download of an 1841 VLD file. (I have sent a copy of the download to Anne in a separate email ). As you will see it has a schedule number of 0 on every row, instead of at the beginning of each schedule. This is caused by the restructuring of FreeCEN1 to FreeCEN2 several years ago and the loss of the FC1 key (or non use of the FC1 key?). It has caused problems for some time

[2022-06-27 10:21] PatReynolds commented on #1374
Text to be placed on FreeCEN1 homepage: https://drive.google.com/file/d/1RteHTnLjojazRPTlEDOtAgW0IBBh2WCx/view?usp=sharing - the text is to go where the purple "writing" is - text size at least as large as "UK Census Online".

Draft text sent to committee 27/6/2022

[2022-06-28 21:24] #1170 closed, assigned to Vino-S

[2022-06-28 21:24] #1054 closed, assigned to Vino-S

[2022-06-28 21:24] #1404 closed, assigned to Vino-S

[2022-06-29 05:49] geoffj-FUG opened #1433 "User message on deletion of vld file needed."
When I click delete on a vld file (so I can replace it with a csv file) I get no blue message at the top of the screen. Can we add the blue message please so that the user knows the delete has been accepted by the system. Geoff

(This is the feedback reference 23639050

[2022-06-29 05:51] geoffj-FUG commented on #1427
I now have a rewrite of the web page and 2 additional parts of the Handbook to upload as well. Will send in the next few days.
Geoff

[2022-06-29 05:54] geoffj-FUG commented on #1358
Once vld uploads are eliminated we should be able to d a count of the number of volunteers who have been active on the system in the past xxx months. However as long as we have vld uploads happening this count cannot be achieved.

[2022-06-29 08:12] PatReynolds commented on #1402
@PatReynolds to tell Ali to there is now an option, please test. (Done, 29th June 2022).

[2022-06-29 08:14] PatReynolds commented on #1396
Waiting for John to comfirm success/failure.

[2022-06-29 08:14] #1420 closed, assigned to PatReynolds, AlOneill

[2022-06-29 08:27] PatReynolds commented on #1375
1/ look for spreadsheet from Kirk - Geoff has a copy of the first report - may be possible to transfer active transcribers to their county; need to alert their coord before transferring).
2/ Send to ALL England inactive volunteers
3/ Make non-responders inactive, and disable the syndicate.

[2022-06-29 08:34] PatReynolds commented on #1428
Developers need to build a count of VLDs in the database, and a change on the last month.

[2022-06-29 08:46] PatReynolds commented on #1196
Conclusion is that it is for coords to manage their syndicates - if they want to put a listing of available pieces for syndicate members to select from, that's an option, but no capacity to do this on FreeCEN - they will have to give transcribers the link, or send spreadsheet or listing.

[2022-06-29 08:50] PatReynolds commented on #141
To discuss in next Committee meeting

[2022-06-29 08:54] DeniseColbert commented on #1401
Seems to be working Anne, thank you!

[2022-06-29 09:15] DeniseColbert opened #1434 "The Shipping Epic"

[2022-06-29 10:43] PatReynolds commented on #1374
Hmm .. could have sworn I'd written and circulated text - but can't find so new text here: https://docs.google.com/document/d/1Rthmu_W8Y6ECAoC_2nb33xHlESIca_f1irHeDDisB2k/edit?usp=sharing please let me know if the link does not work for you.

[2022-06-29 12:25] AnneV-Learn commented on #1402
@PatReynolds I had actually modified the code to provide the functionality that Ali had requested and it was ready for User Testing on Test3. Bit confused now!

[2022-06-29 15:19] PatReynolds commented on #1402
Hello Anne,  I hadn't asked Ali to test a month ago, so did today.

[2022-06-29 18:12] AnneV-Learn commented on #1402
@PatReynolds 🙂👍🏻

[2022-07-01 01:45] geoffj-FUG commented on #1432
On investigation I received the following information from Vino:
Query
The specific 1841 file I had trouble with is HO107_954 (copy attached). The problem is evident in any HO107 1841 download of a vld file. My query is about the structure of the vld dataset. The valdrev upload is a fixed length flat file. The first character in the upload is a code that changed during progress through the DOS bas

[2022-07-01 02:04] geoffj-FUG commented on #1432
I am now over 95% certain that there is a fundamental problem in the design of the FC2 vld dataset. It appears that 2 fields that form a key and were in the FC1 dataset are missing from the FC2 dataset. The important one of these fields is the family number. When that number changed it indicated a new family. In 1841 all schedules were 0 and therefore this number is essential to break up the piece