[2020-04-16 10:22] PatReynolds commented on #833
For testing, @Vino, does this need to be uploading unmodified PARMS files which were created by @richardofsussex ?

[2020-04-16 10:33] rhodamackenzie commented on #841
Sorry folks, I haven’t had an notifications for 10 days! Here I am again, Geoff, in reply to your list of Scotland census 1911, There are the fields:

Civil Parish and Parish Ward

Ecclesiastical Parish or Quoad Sacra Parish

School Board District

Parliamentary Burgh
Parliamentary Constituency
Municipal Burgh
Burgh Ward
Special Water District
Special Drainage District
Special Scavenging district

[2020-04-16 10:37] rhodamackenzie commented on #806
Sorry folks, I haven’t had an notifications for 10 days! Here I am again, Geoff, in reply to your list of Scotland census 1911, I attach the sample sheet from the front pages.
These are the fields:

Civil Parish and Parish Ward
Ecclesiastical Parish or Quoad Sacra Parish
School Board District

Parliamentary Burgh
Parliamentary Constituency
Municipal Burgh
Burgh Ward
Special Water District
Special

[2020-04-16 11:03] rhodamackenzie commented on #353
@geoffj-FUG @PatReynolds

There is also the issue of teenames for Scotland, where (for men and women). Also known as to-names and tae-names in other areas, depending on the dialect. These social nicknames were used very extensively in north east Scotland fishing towns and villages, often carried down through the generations, to distinguish between different lines with the same surname. My grandad

[2020-04-16 11:11] geoffj-FUG commented on #353
Rhoda

Thank you for this. I have learned a lot from this.

I will put an explanation in the Instructions.

Geoff

[2020-04-16 11:12] geoffj-FUG commented on #806
Thanks Rhoda

I will compare this with my listing.

Geoff

[2020-04-16 11:14] rhodamackenzie commented on #845
@geoffj-FUG
do you want the sample sheets for all years from Scotlandspeople? Or just 1891, 1901 and 1911?

[2020-04-16 11:22] rhodamackenzie commented on #806
Also, for second language, it can only be Gaelic or English and Gaelic, so code as 1/2?

[2020-04-16 11:24] geoffj-FUG commented on #806
Rhoda

The field is also used for Welsh W, Manx M, Manx and English etc. So we have to use a letter(s)

Geoff

[2020-04-16 11:26] rhodamackenzie commented on #806
Oops 3 options in Scotland then G, E or GE
Rhoda

[2020-04-16 11:58] PatReynolds commented on #90
@Captainkirkdawson can you confirm that testing is also needed on CSV spreadsheets which are already transcribed and on FreeCEN1 and FreeCEN2 ?

[2020-04-16 13:10] rhodamackenzie commented on #806
I tried to attach a pdf file, it hasn't worked, how do i do this?

[2020-04-16 13:11] rhodamackenzie commented on #806
[ScotlandsPeople_C1911_sample sheet.pdf](https://github.com/FreeUKGen/FreeCENMigration/files/4487279/ScotlandsPeople_C1911_sample.sheet.pdf)

[2020-04-16 14:44] PatReynolds commented on #806
That's uploded just fine, @rhodamackenzie

[2020-04-16 16:31] Captainkirkdawson opened #849 "Add count of dwelling and individuals to CSVProc"

[2020-04-16 16:46] Captainkirkdawson opened #850 "Add filter for relationship"

[2020-04-16 17:26] Captainkirkdawson commented on #195
@Vino-S is currently working on the upload of theparms file to CEN2

[2020-04-16 17:50] Captainkirkdawson commented on #353
I assume that your search result was not from FreeCEN as I cannot see that we have transcriptions for Buckie.

Be that as it maybe if the Surname is transcribes as COWIE PUM then it would be retrieved by searching for either COWIE or PUM

Hence is there really a need for a separate field for these forms of surname?.

In fact I would now go further and say  is there really a need to a maiden surnam

[2020-04-16 17:54] Captainkirkdawson commented on #353
In fact if the maiden name is simply an inference on the transcriber 's part it should not have its own field

[2020-04-16 18:03] Captainkirkdawson opened #851 "Ability to download a validated file (vld) from CEN2 in CSV"
Should we be able to download as csv as well as dat?

[2020-04-16 18:03] Captainkirkdawson commented on #90
There are no csv files which are already transcribed and on CEN1/2. ie we can only download csv files that have been uploaded to CEN2. To upload to CEN2 there are additional fields that must appear that have been added by the proofreader/validator. These must  appear as header fields as well as records.

Now we could

[2020-04-16 19:06] rhodamackenzie commented on #353
I have to say I have seen very few records with a maiden AND married name for a woman. They sometimes reverted to maiden name in eh census on becoming a widow. The teenames are often used but where could they go if not in a “nickname” or main name column? It seems a shame not to put them anywhere and I always put in the teename if I am searching on ScotlandsPeople, Ancestry or FamilySearch as they

[2020-04-16 19:37] Captainkirkdawson commented on #353
@rhodamackenzie  I was suggesting that they be transcribed but saying that they do not need a separate field. If entered as a second surname in the surname field then a search for either surname will locate the entry. Applies to both maiden and teenames.
We only need to have separate fields if the original Census document has separate fields. ie they have a specific field for maiden name and teena

[2020-04-16 19:46] rhodamackenzie commented on #353
They just turn up in the surname search

[2020-04-16 21:55] #843 closed, assigned to Captainkirkdawson

[2020-04-16 22:00] Captainkirkdawson commented on #353
@PatReynolds Need your agreement that we do nut add fields for maiden name and teenames as these are not fields in the census documents. CEN supports multiple surname in the surname field and searches by the individual ones. Hence both are already supported.

[2020-04-16 22:17] Captainkirkdawson commented on #833
@Vino-S Does the upload process the file to create the individual pieces?
Is it possible to upload a csv version of the file?
If the latter is there a conversion of the csv parms file to the pieces.
We need the csv version to overcome the length limitation on Civil District  and Enumeration district names.
We should move the upload into the Manage County set of actions and have it as a county coor

[2020-04-16 22:46] Vino-S commented on #833
Hi @Captainkirkdawson
1. The upload does not process the parm file. It adds the file to directory `fixed`. I will work on adding the Process Action
2. The Upload supports csv and dat files
3. _We need the csv version to overcome the length limitation on Civil District and Enumeration district names._ will work on it
4. _We should move the upload into the Manage County set of actions and have it as

[2020-04-16 23:16] Captainkirkdawson commented on #833
Thanks @Vino-S
PS please build on cen_820 it has your code merged in

[2020-04-17 07:29] geoffj-FUG commented on #841
Rhoda has provided a list of fields in the 1911 Scotland census. I have matched them to our list of fields so far:

Scotland census 1911

Field

Do we have it?

Civil Parish

Yes

Parish Ward

Yes

Ecclesiastical Parish or Quoad Sacra Parish

Yes

School Board District

Yes

Parliamentary Burgh

No

Parliamentary Constituency

Yes

Municipal Burgh

Census place?

Burgh Ward

Is this exclusive i.e.

[2020-04-17 07:31] geoffj-FUG commented on #845
Rhoda

We need to look at an ED cover sheet and a census page every year to make sure that every year fits into our fields set. If there were special returns for Islands etc we need to cover that as well.

Geoff

[2020-04-17 07:33] geoffj-FUG commented on #806
Rhoda

Was English recorded or was it the daefault? It was the default elsewhere.

Geoff

[2020-04-17 07:43] geoffj-FUG commented on #353
Kirk

The sample I have seen simply has 2 surnames separated by or. There are not 2 columns.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Friday, April 17, 2020 3:51 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Find by maiden

[2020-04-17 08:40] rhodamackenzie commented on #845
OK, I will get sample page for every year of the scotland census

[2020-04-17 11:42] geoffj-FUG commented on #353
Ancestry don’t have a separate field. Their information is very limited and they just have basic info in their search results.

I found the Pums:

Name:

George Conn Pum
 <javascript:OremMetaData.DoOrem(1172238)> [George Conn Cowie "Pum "]

Age:

48

Estimated birth year:

abt 1843

Relationship:

Head

Spouse's name :

Jane Conn Dugal

Gender:

Male

Where born:

Banffshire, Buckie

Registration

[2020-04-17 11:47] rhodamackenzie commented on #806
Yes, English was the default so that field should always G or G&E or blank (for English)

[2020-04-17 15:04] Captainkirkdawson commented on #833
@Vino-S before you go too far can I draw your attention to the freecen_parms collection. Cen2 has controller, models and views for the collection written years ago by Doug for uploading csv parms files and their processing.
Stumbled across it while looking for something else.

[2020-04-17 16:25] Vino-S commented on #833
Ah yes Kirk.

[2020-04-17 20:24] rhodamackenzie commented on #845
scotland fields 1841-1911 in reverse order plus pdfs of pages
[ScotlandsPeople_C1911.pdf](https://github.com/FreeUKGen/FreeCENMigration/files/4495084/ScotlandsPeople_C1911.pdf)
[scotland census 1841.pdf](https://github.com/FreeUKGen/FreeCENMigration/files/4495086/scotland.census.1841.pdf)
[scotland census 1851.pdf](https://github.com/FreeUKGen/FreeCENMigration/files/4495088/scotland.census.1851.pd

[2020-04-17 20:27] rhodamackenzie commented on #845
I have looked at the header pages for the Scottish returns and there is no more information to be had there that is not in the census pages. Also there we no sample pages other than for 1911 on scotlandspeople.

[2020-04-18 11:54] rhodamackenzie commented on #405
On iPad:
Looking at search page on freeCEN2, before i do any searching:
the page looks professional, clear, elegant, everything big enough (even for old eyes). All seems fine on safari and on chrome on iPad.

off to do some searching

[2020-04-18 12:34] rhodamackenzie commented on #405
Seaching on chrome and safari:
advert on right covers part of table (top end)
Everything works fine except:

Wildcard searches (with a place) work fine on PC, but they don't work on either safari or chrome.
"no results found" is displayed.
Need Info on wildcards in "help" .e. which can be used.

[2020-04-18 17:29] Captainkirkdawson commented on #836
Currently there is a 1 to 1 correspondence between county and syndicate. A county coordinator is therefore a syndicate coordinator. The people management aspects are in the syndicate and the data in the county. They could be combined if desired

[2020-04-18 23:10] Captainkirkdawson commented on #86
The ones required are operational on test3

[2020-04-19 00:36] Captainkirkdawson commented on #89
Coordinators can edit and/or create a piece on line including the ability to add Civil Districts as well as the Enumeration District.  Running on test3

[2020-04-19 00:38] Captainkirkdawson commented on #92
Implemented in test3
Coordinator can manage their people
Coordinators can access uploaded files

[2020-04-19 00:41] Captainkirkdawson commented on #837
Implemented in test3.
Coordinator can copy a transcribers file to a proof reader.
Coordinators can copy a proof readers file to a validator

[2020-04-19 00:44] Captainkirkdawson commented on #91
The locking system is in place on test3

[2020-04-19 00:51] Captainkirkdawson commented on #84
The CVSProc has been written to replace the existing off line tools

[2020-04-19 00:52] #84 closed

[2020-04-19 00:57] Captainkirkdawson commented on #752
This is duplicate of #331

[2020-04-19 00:57] #752 closed

[2020-04-19 00:58] Captainkirkdawson commented on #331
This and the folio/page search requirement could be implemented in the same manner as the Christmas Present filtering.
Implementing a total restructuring of the database to make it a search parameter would be 20 times harder and longer

[2020-04-19 00:59] Captainkirkdawson commented on #510
Completed as part of systemwide

[2020-04-19 00:59] #510 closed

[2020-04-19 01:00] Captainkirkdawson commented on #745
Completed

[2020-04-19 01:01] #745 closed

[2020-04-19 01:01] #533 closed

[2020-04-19 01:02] Captainkirkdawson commented on #532
Duplicate

[2020-04-19 01:02] #532 closed

[2020-04-19 01:03] Captainkirkdawson commented on #528
Duplicate and done

[2020-04-19 01:03] #528 closed

[2020-04-19 15:18] Captainkirkdawson commented on #530
This story as written combines 2 totally different collections into one. There are Pieces that essentially defines a census book.  Then there are VLDs that contain the transcription of the actual contents of a census book. They require totally different approaches. This story should be split into 2. 1) Deals with Pieces and 2) One that deals with VLDs

[2020-04-19 15:48] Captainkirkdawson opened #852 "Manage Parms and their Pieces Directly on CEN2"
Currently Parms and their pieces are entered into CEN2 by the monthly update that transfers the CEN1 input files to CEN2.
There is a requirement to a) load Parms and Pieces directly into CEN2 by uploading a parms file directly into CEN2; b) Perform online edits to Pieces; c) protect these uploads and changes from the monthly transfer update.

[2020-04-19 16:31] Captainkirkdawson commented on #492
The CSVProc uses the pieces for validation of a csv uploaded file.

[2020-04-19 16:33] Captainkirkdawson opened #853 "Determine if a vld file load validates the civil parish from the pieces collection"
E0 U6 S8

[2020-04-19 16:50] Captainkirkdawson commented on #313
Needs better specification of requirement. Is this individuals or dwellings or something else. A record in a file is simply a line in a census document. In and of itself it is a pretty meaningless statistic

[2020-04-19 16:55] Captainkirkdawson commented on #742
Duplicate of 837

[2020-04-19 16:55] #742 closed

[2020-04-19 17:01] Captainkirkdawson opened #854 "Manage vld data files with online tools in CEN2"
vld are fixed length record files used in CEN1. In CEN2 we proposed to use variable length records using csv file formatting.
However there is the need to be able to manage  existing vld files within CEN2

[2020-04-19 18:09] Captainkirkdawson commented on #820
@geoffj-FUG wrote on April 19
I have now almost completed the Fields list for the censuses.
I have done a sweep of England, Wales, Isle of Man, Channel Islands, Scotland and Ireland census forms and identified the information in each of the censuses. I still have a couple of cover sheets to go through but I am 98% there. I expect to receive these within a day or so.
You will now find Version 2 of

[2020-04-19 18:11] Captainkirkdawson commented on #820
I believe that almost all of the fields at the household (dwelling )  and Individual levels are already accommodated; some edits and validations are still required.
There are several new fields not yet supported but these are predominantly associated with Scotland/Ireland Census information level. Are we likely to see actual transcriptions for these in the near future?. In other words do we progra

[2020-04-19 20:17] Captainkirkdawson commented on #805
@PatReynolds
I hate to comment but we should not use the term **place** for any of the fields in CEN

The Census Place field that is used for searching in CEN2 is actually the Census District. That is taken from the piece field called district name.  We should use this term **Census District** instead of Census Place or Place. Specifically in the Search Form, The search Results and the Details.

N

[2020-04-19 22:00] rhodamackenzie commented on #820
IMHO I think they should be added now, once they done, there is less room for error

[2020-04-19 23:09] geoffj-FUG commented on #820
My feeling is that we should include them whilst we can. That means that they are there and ready when needed.

Whilst there are embargoes on images by Scotlands People, Ireland images are in the public domain. There are only 2 years 1901 and 1911 as only small fragments of previous years still exist. I see no reason why FreeCEN could not recruit an Irish Coordinator and volunteers when they are r

[2020-04-19 23:13] geoffj-FUG commented on #845
If the header pages are the cover sheets for each ED then my Sections spreadsheet is finalised.

Geoff

[2020-04-19 23:18] geoffj-FUG commented on #805
Census Place was my term

There are a group of information boxes at the top of census sheets and only one is ever completed. I was therefore looking for a term that covered them all.

They can be Island, Borough, town, village, hamlet etc.

In the past it has been up to the transcriber to capture this information (or not) by entering it in the address. Hamlets for instance didn’t necessarily have

[2020-04-19 23:37] geoffj-FUG commented on #805
How about Location or Census Location?

Geoff

[2020-04-20 01:13] Captainkirkdawson commented on #805
@geoffj-FUG this story and my comment were not focussed on your proposed usage of that term. They were focussed on its use on the search page and the results.
WRT to the your use in the spreadsheet census region might be better.
To me a location implies grid coordinates

[2020-04-20 16:33] PatReynolds commented on #533
If not changed by the Coord, what role can change?

[2020-04-20 16:35] PatReynolds commented on #833
_We need the csv version to overcome the length limitation on Civil District and Enumeration district name_s. @richardofsussex already has some

[2020-04-20 17:28] Captainkirkdawson commented on #533
I closed this as coordinators can amend pieces which are the contents of a parms file.
What is NOT clear is what are Places within the context of FreeCEN and how they differ from Census Districts which is what they currently appear to be or how they are managed

[2020-04-21 09:24] PatReynolds commented on #533
Thanks, @Captainkirkdawson I thought that a PARMS file + transcriptions of a subdistrict in one census year = Piece.

[2020-04-21 10:16] PatReynolds commented on #847
Hi @colin1959  is this something you could help with - we've decided to drop the distinction between 'county coordinator' and 'syndicate coordinator' - could you go through help for Transcribers and make the changes in this story (on test3)?

[2020-04-21 15:32] Captainkirkdawson commented on #533
In my mind that is a very dangerous connection as it leads to
miscommunication especially when we get to the point of having multiple
files of transcriptions each being a part of the census document

Kirk Dawson
Fairmont Hot Springs, B.C.

On Tue, 21 Apr 2020 at 03:24, PatReynolds <notifications@github.com> wrote:

[2020-04-21 19:31] colin1959 commented on #847
Hello Pat

I'm sure I can give this a go, it's all a learning curve.
Where do Iocate Help for Transcribers?
Colin Mincher

    On Tuesday, 21 April 2020, 11:16:31 BST, PatReynolds <notifications@github.com> wrote:

Hi @colin1959 is this something you could help with - we've decided to drop the distinction between 'county coordinator' and 'syndicate coordinator' - could you go through help for Tran

[2020-04-22 16:53] colin1959 commented on #847
This page contains general information and advice about being a transcriber. It is basic information, to get you started.
Syndicates and Counties
You will be assigned a Coordinator (C) who will deal with you as a person. Your Coordinator will answer questions, monitor your work, and upgrade your skill level as you begin to work with the more difficult census images: your Coordinator is your mentor

[2020-04-22 23:28] FreeUKGenIssues opened #867 "167206444 Locked batch Colour(Geoff)"
Issue reported by **somt.cen** at 2020-04-19 06:14:04 UTC
Time: 2020-04-19T06:11:31+00:00
Session ID: 2c1112efb97275884ab43dcb4485512f
Problem Page URL: [/freecen_csv_files/my_own](/freecen_csv_files/my_own)
Previous Page URL: [https://test3.freecen.org.uk/manage_resources/new?locale=en](https://test3.freecen.org.uk/manage_resources/new?locale=en)
Reported Issue:
Kirk

I locked the batch as a tran

[2020-04-22 23:32] Captainkirkdawson opened #855 "Locked batch replacement not returning a message on replace?"

[2020-04-23 11:34] helhyde commented on #805
I don't think we should use the term 'location' either.  It needs to be
more specific.  Unless we are saying something like 'always use twys when
transcribing places mentioned in the census'.  I'm trying to come up with a
standard term list for each level of the hierarchy, using the original/TNA
term where possible.

[edited to remove email trail]

[2020-04-23 11:43] geoffj-FUG commented on #805
Helena

I have plumped for Where Census Taken for the caption. There is a hotchpotch of boxes on the census forms.

I have come up with the following instructions:

“The place where the census was taken can be the name of the Island, Borough or Burgh, Municipal Borough, City, Town, Village, Hamlet or Tything. There are various options for the enumerator to record this information but only one was

[2020-04-23 14:53] Captainkirkdawson opened #856 "CSVProc to permit an empty line in the second row of ta file"
A warning will be generated

[2020-04-23 14:56] Captainkirkdawson opened #857 "CSVProc modifications"
As we go forward there will be a requirement to make adjustments to the CSVProcessor

[2020-04-23 14:59] Captainkirkdawson opened #858 "Modify CSVProc to accept the additional ED fields"

[2020-04-23 15:01] Captainkirkdawson opened #859 "Modify the CSV record view to display the additional ED fields"

[2020-04-23 19:21] Captainkirkdawson opened #860 "File not being correctly linked"
I just tried to access the Error report for HO107935 and got The file was not correctly linked. Have your coordinator contact the web master

[2020-04-23 19:52] colin1959 commented on #847
Syndicates and Counties
You will be assigned a Syndicate Coordinator (SC) who will deal with you as a person. Your SC will answer questions, monitor your work, and upgrade your skill level as you begin to work with the more difficult census images: your SC is your mentor.
Your SC will be the County Coordinator (CC) of the County and Census Year for which you initially choose to transcribe. As a CC

[2020-04-23 20:02] Captainkirkdawson opened #861 "Incorrect civil_parish for Asholt not reported in file HO107935."
there appears to be no error message with Asholt. Will raise as issue and investigate

[2020-04-23 20:05] Captainkirkdawson opened #862 "In display of a csv entry we do not display the carry down fields. Should we?"
Civil parish, folio page etc etc are not displayed on every record. The individual record display displays what is in that record rather than what is possible to carry down. Question is should the display in the CSV entry display what could be there through carry down or what is actually there. **Now the result from a search will contain the carry down**. I thought that in the display of what is i

[2020-04-23 20:08] Captainkirkdawson opened #863 "File HO107935 showing zero length"
The file HO107935 has zero length and there are copies in the attic 1 of zero length and i of the correct length. Why?

[2020-04-23 23:04] Captainkirkdawson opened #864 "Entry display to show only fields appropriate to that country and year for 1901 and 1911"

[2020-04-23 23:11] FreeUKGenIssues opened #866 "167220533 Action Mouseovers (Geoff)"
Issue reported by **somt.cen** at 2020-04-19 10:08:53 UTC
Time: 2020-04-19T10:06:44+00:00
Session ID: 2c1112efb97275884ab43dcb4485512f
Problem Page URL: [/freecen_csv_files/my_own](/freecen_csv_files/my_own)
Previous Page URL: [https://test3.freecen.org.uk/feedbacks/new?utf8=%E2%9C%93&feedback_time=2020-04-19+10%3A05%3A10+UTC&session_id=2c1112efb97275884ab43dcb4485512f&user_id=somt.cen&problem_pag

[2020-04-23 23:15] Captainkirkdawson opened #865 "Have cen feedback github conversion got to the correct repository"
Cen feedback Github conversions to to Freereg
Need to check website problem conversion as well

[2020-04-23 23:27] FreeUKGenIssues opened #868 "167220404 Locking file did not lock (Geoff)"
Issue reported by **somt.cen** at 2020-04-19 10:06:44 UTC
Time: 2020-04-19T10:05:10+00:00
Session ID: 2c1112efb97275884ab43dcb4485512f
Problem Page URL: [/freecen_csv_files/my_own](/freecen_csv_files/my_own)
Previous Page URL: [https://test3.freecen.org.uk/manage_resources/new?locale=en](https://test3.freecen.org.uk/manage_resources/new?locale=en)
Reported Issue:
HO107935 was locked accordingto th

[2020-04-24 08:34] rhodamackenzie commented on #820
I am quote sure you know this and I have likely picked you up wrongly @geoffj-FUG but Ireland 1901 and 1911 are all transcribed and available for free http://www.census.nationalarchives.ie/search/ alongside the images

[2020-04-24 09:49] geoffj-FUG commented on #820
Rhoda

Yes I know that they are available from the Ireland Archives.

I floated the idea a couple of weeks ago that as we were FreeUKGen and Ireland was part of the UK in 1901 and 1911 we should consider their inclusion.

There is nothing to stop the Irish Archives from erecting a pay wall. In that case the transcription would still be on FreeCEN.

Scotland have erected a pay wall through Scotland

[2020-04-24 10:31] PatReynolds commented on #820
I agree that having the capability built in now is good.  In addition to Geoff's reasons, will allow easier searching.

[2020-04-24 13:41] PatReynolds opened #869 "Add links to good gazetteers to help for Transcribers"
https://www.genuki.org.uk/gazetteer
https://www.visionofbritain.org.uk/expertsearch
gazetteer.org.uk

[2020-04-24 23:59] Captainkirkdawson commented on #865
Only affected the test sites. Corrected

[2020-04-25 11:41] colin1959 commented on #847
#847

- [x] read & review document 'help for transcribers'.

- [x] copy & paste to google docs.

- [x] amend document & save.

- [x] review & raise any issues.

- [x] create link & post to Github.

- [ ] Close issue.

[2020-04-25 14:09] colin1959 commented on #847
https://docs.google.com/document/d/1fZuNH9RxQY_ws7883TQdvyJ18M9opyj0EyinFBvbw2E/edit?usp=sharing

info, link to 'Help for Transcribers'

[2020-04-25 21:15] Captainkirkdawson commented on #861
Logic problem located and being fixed

[2020-04-25 22:35] Captainkirkdawson commented on #856
An empty second line or one that contains the field width specification will be processed by ignoring them. Tested and deployed to test3

[2020-04-25 22:37] Captainkirkdawson commented on #861
Fixed and deployed to test3

[2020-04-26 09:29] PatReynolds opened #870 "Add latitude and longditude to the FreeCEN Gazeteer"
Add lat and long to the FreeCEN Gazeteer (the list of standardized place names to be used alongside the TWYS of Place of Birth, part of Validation) to enable search by 'nearby places' and stories involving mapping.

NB the Ecclesiastical Parish point data is established for FreeREG.

The Vision of Britain data is available (aka the Administrative Unit Ontology) for all administrative units - see h

[2020-04-26 11:24] PatReynolds commented on #805
I like 'Where Census taken'

It may be helpful to use the place heirarchies described in https://www.visionofbritain.org.uk/expertsearch#tab04 in discussions to clarify what we are talking about.

So ... to rephrase my original point and add more detail
FC1 search (correctly) lists Worksop as a high-level district in all censuses except for 1841:
![image.png](https://images.zenhubusercontent.com/5

[2020-04-26 14:24] Captainkirkdawson opened #871 "Reorder ED and Civil Parish"

[2020-04-26 14:25] Captainkirkdawson opened #872 "Add divorced to Marital Status"

[2020-04-26 14:28] Captainkirkdawson opened #873 "Add Channel Islands Spreadsheet"
Has additional field Fathers Birth Place in 1911

[2020-04-26 14:47] Captainkirkdawson opened #874 "Display what was entered or What is inferred"
Entered is the content of the fields as transcribed; inferred means using information from prior entries as well.
In transcriptions  a data field is usually only entered when it changes.  Inference means using the last value of that field as if it had been entered. ie Propagates down. This means as an example that page number of address do not get entered every time just when they change. Saves a

[2020-04-26 16:02] PatReynolds commented on #492
I have compiled a document on PARMS and placenames from a long email chain which developed in April 2020 - https://docs.google.com/document/d/10OVzCtZyY3NcVxShw6hnHRU8ezPz_oxPdAVuC2TZzPc/edit?usp=sharing - I have added some comments in and some questions - when we get to a decision on action I will create separate stories for those and copy or summarise their discussion/decision into the descripti

[2020-04-26 16:28] Captainkirkdawson commented on #492
I think it would be helpful to specify what decisions are required. It really is not clear.

[2020-04-26 19:18] Captainkirkdawson commented on #860
I suspect this was caused by a CSVProc crash which left the file in an unfinished state.
Propose to place on Ice until a reoccurence that give data to investigate further

[2020-04-26 22:44] Captainkirkdawson commented on #863
I believe this to have been caused by a download and reload of a file that had crashed the processor. in this case the download would have created an empty file.
Cannot be proven.
Have added minimum size requirement for a file to be uploaded and processed.
Will put on ice and see if it happens again

[2020-04-26 23:14] Captainkirkdawson commented on #872
Added to test3

[2020-04-28 10:12] PatReynolds opened #875 "Search issue: PARMS Function (for discussion)"
PARMS2 will check the civil parish name against a list of standardized parish name (i.e in the files produced by @richardofsussex), and the Chapman Code  against the Chapman Code of that civil parish (e.g. Bitton GLOS causes a reject, and Bitton SOM an accept.)

NB this is a search issue, not a database structure/content issue.
It could be resolved by using the  **Freecen2CivilParish** data, which

[2020-04-28 10:15] PatReynolds opened #876 "FreeCEN2 can be searched at Sub-district and Parish Levels"
See also #466 - which might be used to cover both.

Is there an argument for replacing the search at Registration district level with a search at Sub district and/or Civil Parish level?  That is what is done on FreeREG, and while it can be a little frustrating to have to wade through a large number of parishes, with the ‘nearby places’ enabled, it allows searching of quite a wide area.  Or there c

[2020-04-28 10:24] PatReynolds opened #877 "Update instructions for amending transcriptions of pieces using FreeCEN2 systems"
Update instructions: for editing files in FreeCEN2:
Those editing existing pieces need to understand that “just fixing a typo” may involve quite a lot of work.  Instructions need writing on how to do a bulk update of the abbreviated format to the full format.

[2020-04-28 10:28] PatReynolds opened #878 "Enable name variants in the Parms files to be accomodated in the drop down lists through a lookup"
Geoff wrote: Geoff: Discussion has been held about reporting and picking up a list from the PARMS to provide a Civil Parish filter. What will happen with the 2 PARMS formats for different years is that Walton in Gordano, for instance, will come up twice in the dropdown list, firstly as “Walton in Gordano” and then as the abbreviated “Waltonin Gordano”.

@geoffj-FUG please could you provide a link

[2020-04-28 10:29] PatReynolds opened #879 "Add ability to copy a district and it Pieces and Civil Parishes to another County"
Geoff: This has also proved that we cannot have Civil Parishes like Bitton (GLS) in the PARMS because it will create an error in CSVProc.
Pat: is this because there is no way of knowing which county a Civil Parish is in from the ED number? If so, and I have your solution tied to the correct problem, I agree that an extra column showing the County that a Civil Parish is in would solve this issue. T

[2020-04-28 10:34] PatReynolds commented on #492
Good idea @Captainkirkdawson Have made new stories for the issues needing discussion and/or decision.

[2020-04-28 20:19] Captainkirkdawson opened #880 "Obtain a complete list of all Parms for the England, Wales The Channel Isles"

[2020-04-28 23:43] Captainkirkdawson opened #881 "File naming in CEN2"
I have just realized that we adjust not only civil parish and census district names to fit within 20 characters (A constraint we are removing)

But we actually change the piece naming used by TNA in our naming of vld files and in much of our documentation. rg RS 9/1 .... RS 9/1889

We drop the space after the RS , we insert a leading 0 before the 9, we drop the / after the series and before the nu

[2020-04-29 07:43] FreecenBren commented on #881
NA use HO107xxx and HO107xxxx for 1841 and 1851

FreeCEN to upload to the Database we only use 8 digits so with some 1841
only having 3 digits for the PIECE number for all the PIECE Numbers we
improvise as follows.

FreeCEN for uploading to the DATABASE

For the 1841  3 digit numbers we use HO107xxx
for the 4 digit numbers for the piece number we use  HO41xxxx

1851 we use HO51xxxx

Then the NA us

[2020-04-29 15:18] Captainkirkdawson commented on #881
TY @FreecenBren

So you agree we manipulate the the File name  (or piece name) used by TNA  in order to met the FreeCEN1 requirement for an 8 character name. We do some heavy duty changes to 1841/51 because they were both in HO 107
The question I raised was since FreeCEN2 does not care about the length of a file name should we replace the structure and stay closer to the original.
There would be n

[2020-04-29 15:36] PatReynolds commented on #828
Draft sent to Brenda 29/4/2020

[2020-04-29 15:40] PatReynolds commented on #574
Autochose 63%, but that only gets 97% of income now, so have reset experiment to 75% - predicts 100% income.

[2020-04-29 17:07] #865 closed, assigned to Captainkirkdawson

[2020-04-29 17:10] #353 closed

[2020-04-29 17:28] #313 closed

[2020-04-29 17:42] PatReynolds commented on #165
Closing, as 'place' per se is not a FreeCEN concept.  The totality of stories involving geographic locations is the epic.

[2020-04-29 17:42] #165 closed

[2020-04-29 17:45] PatReynolds commented on #807
Duplicate of #89, so closing.

[2020-04-29 17:45] #807 closed, assigned to PatReynolds

[2020-04-29 17:50] PatReynolds commented on #845
Agreed: these fields should be added to the spreadsheets, and transcribed.

[2020-04-29 18:11] PatReynolds commented on #862
Closing as duplicate

[2020-04-29 18:11] #862 closed, assigned to nobody

[2020-04-29 18:23] PatReynolds commented on #879
@PatReynolds  to review after fulrough

[2020-04-29 22:57] Vino-S commented on #833
Hi @Captainkirkdawson ,
I have made the following changes in the code. I have kept Doug's code as it is and used it as reference.
1. I have moved the `Manage Parms` Action  to the  `Manage County` action
2. I have changed the Destination for uploaded parm files to `MyopicVicar/parms_files`
3. At Present Manage Parms action takes us to index page which will show list of files uploaded through FC2
4

[2020-04-30 12:24] richardofsussex commented on #833
There was a recent discussion about 'bundling' the lower-level place concepts. Looking at the 1901 census data from TNA, that might be the only option. http://discovery.nationalarchives.gov.uk/results/r?_q=RG+13%2F+1892 shows that places are run together without any punctuation. Comments/advice please.

[2020-04-30 13:07] FreecenBren commented on #833
Hi Richard,

Yes we have always had that issue when we do a new Parms we did the following.

We were lucky as we just click on the ’ Purple Registration’ and it takes us to the next page where we then find the list of Places.

Registration Sub-District: Wiggenhall
Civil Parish, Township or Place:
Barroway Drove
Holme next Runcton
North Delph (part)
Porter's Fen Corner
Saddle Bow
Shouldham
Shouldha

[2020-04-30 15:00] richardofsussex commented on #833
Brenda,

When I access the same record via TNA's search API I get this:

For comparison, the 1881 census has a 'heading' for each place:

Not sure how to proceed: it needs to be done programmatically.  (In 1911
the number of records explodes from around 5,000 to 35,000!)

Richard

[2020-04-30 15:04] richardofsussex commented on #833
Sorry: pasting partial screenshots into my email clearly didn't work.  What I get in the XML from the API for 1901 is:`
<Description>Registration Sub-District: Wiggenhall Civil Parish, Township or Place: Barroway Drove Holme next Runcton North Delph (part) Porter's Fen Corner Saddle Bow Shouldham Shouldham Thorpe South Runcton Stow Bardolph (part) Stowbridge Tottenhill Wallington with Thorpland Wa

[2020-04-30 15:16] Captainkirkdawson commented on #833
@richardofsussex the bundle being talked about were additional fields which were never previously transcribed but likely should have been. They appeared on the cover sheet and the page heading. We plan to add them as part of #820 augmentation of fields and #859.
In your example for RG 13/1892 it is a piece with in the Registration District of Downham and it contains the specific civil parishes in

[2020-04-30 15:20] Captainkirkdawson commented on #833
@richardofsussex we do have a complete csv set for Somerset for 1901. Now I don't know if that was based on extract you made or where it came from. Perhaps @FreecenBren or @geoffj-FUG  can comment

[2020-04-30 15:25] richardofsussex commented on #833
Looking at the file in my hex editor - they are just spaces. Whatever separator was present in the source data has been stripped or converted to space in the generation of the XML. I'll see if TNA are willing/able to help; for example the TSV format they produced before may be more useful.

I have no recall (or record) of working with 1901 before. All my files from the 2017 work are still sitting

[2020-04-30 16:03] Captainkirkdawson commented on #833
@Vino-S as noted on slack I received a crash on the![parms crash.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/48bb8098-eaf1-4115-acd7-c92f2eff5d8d) initial upload test on my server

[2020-04-30 16:14] richardofsussex commented on #833
Going back to first principles here. Could someone please remind me what counts as an 'a' record and what is a 'b' record in a PARMS file? Looking at the document Brenda prepared back in 2017, I conclude that we DON'T include Registration Sub-Districts or places smaller than a Parish.  Is that correct?

[2020-04-30 16:32] Captainkirkdawson commented on #833
@richardofsussex a is the Registration District and b is a civil parish ie the name after the second colon. In years up to 1891 between the colons was Civil Parish, Township or Place ; in 1901 and on it has a name before the Civil Parish, Township or Place but we want what follows

[2020-04-30 17:05] richardofsussex commented on #833
To take an example mentioned in Brenda's "parms example" spreadsheet:
` <Description>Registration Sub-District: Tuxford Civil Parish. Township or Place: Askham Bevercotes Bothamsall Church Laneham Darlton Dunham East Drayton East Markham Fledborough Haughton High and Low Marnham Laneham Markham Clinton Marnham Milton Normanton on Trent Ragnall Stokeham Tuxford West Drayton.</Description>
`
'Civil

[2020-04-30 17:26] Captainkirkdawson commented on #833
@richardofsussex it is important that we get that full list of names even though as you say they be things other than what is rigorously termed a civil parish. The census document for the piece is separated by those units. I need to be able to validate what the transcriber has entered against those units. Hence we must keep what  in there unadulterated.
There is a need to be able within the applic

[2020-04-30 17:50] richardofsussex commented on #833
OK, I'll see what I can do. Presumably 1901 and 1911 are higher priority than the other years, in that we (mostly) don't have any PARMS files at all for them?

[2020-04-30 17:57] Captainkirkdawson commented on #833
I think so; SOM 1901 is the only one that I know we have but from whence it came is unknown to me

[2020-04-30 17:59] richardofsussex commented on #833
Could you please send it to me, so I can use it as a control/reality check? mailto:richardlight399@gmail.com

[2020-04-30 19:58] richardofsussex commented on #833
Thanks. TNA have the first six pieces as Williton: http://discovery.nationalarchives.gov.uk/browse/r/h/C149922, The PARMS file has them - essentially - with their Sub-Districts as the 'a' record. Which is correct?

[2020-04-30 20:22] FreecenBren commented on #833
I will try to simplify it from my perspective . Not sure if this will help or not.

Background first.
A single Census Piece is made up of a set of ED’s.
At this precise  time  that could be from a small Piece of say  3 EDs up to the biggest I have so far is for Devon 1851 census  of 58 Ed’s.
That can be potential mean 58 Civil Parish Places

Each ED has a number and a Civil Parish PLACES name that

[2020-04-30 21:32] geoffj-FUG commented on #833
To add to that in 1911 there is a one to one relationship between the piece number and the ED number.

Geoff

[2020-04-30 21:36] geoffj-FUG commented on #833
Richard
I did the Somerset 1901 PARMS manually from the NA records. I copied and pasted from each piece.

I was taught when I started in 2004 that the sub-district went into the PARMS so that is what I have always done. So all the Somerset pieces will be the same.

That suggests that I either misunderstood Terry or all his are the same as mine.
Was I wrong?
Geoff

[2020-05-01 10:20] richardofsussex commented on #833
Thanks, Geoff, that's a useful insight. We'll need to agree what the 'rules of engagement' are before I can go ahead and try to churn out PARMS for everything. Sub-Districts appear to have been around since 1851. Are 'hundreds' the equivalent concept for 1841?

As a random test, I searched for Lights in Somerset in 1891. The hit I looked at (https://www.freecen.org.uk/search_records/5db72b6bf4040b

[2020-05-01 10:28] geoffj-FUG commented on #833
Richard et al

As I said previously I was advised to use the sub-Districts for my PARMS when I first started in 2004. For my first couple I hunted through the images to find the first image in each ED and transcribed the PARMS form there.

I have continued to use the sub-Districts since. Nobody ever said that what I did was incorrect.

However, I have been thinking about the big picture.

It is in

[2020-05-01 10:31] geoffj-FUG commented on #833
Richard

FreeBMD already has a comprehensive database. Is that in fact the National Archives data?

Geoff

[2020-05-01 10:34] geoffj-FUG commented on #833
Richard

Somerset is the only county working on 1911 and that is currently just for testing purposes.

Somerset is transcribing 1901 but cant process the transcriptions on the old system so waiting for the new one. Nottingham, I understand, is not far away.

However I can look after Somerset. I will just need to amend my existing 1901 file and I am in the process of creating 1911.

I would put a h

[2020-05-01 10:46] geoffj-FUG commented on #833
Richard

The Hundreds appear to be the structure in 1841. It to me is the same as the Registration District.

Looking at lower levels one of my volunteers offered up this view about proposed fields in the new transcription spreadsheets. I am not sure if it is helpful in understanding the issue or not.

I’ve just looked up the Vision of Britain site in relation to census analysis to try and underst

[2020-05-01 11:21] richardofsussex commented on #833
Geoff,

I'm actually quite keen to have a go at 1911. The fact that each record has a simpler structure means that I can probably do a better job of auto-generating PARMS files.  I'll see what I can do for Somerset, and will await your comments with interest!

[2020-05-01 11:34] geoffj-FUG commented on #833
Richard

This is what I have so far

Geoff

[2020-05-01 12:06] geoffj-FUG commented on #833
Geoff,

And this is what I have generated from TNA data. I'm sure there are
errors/inconsistencies, but there is nothing that jumps out at me as
being obviously wrong.  (The error I'm expecting is more than one place
name lumped together in a single 'b' cell.)  What do you think of it? 
Vino: will it load?

Richard

[2020-05-01 12:08] richardofsussex commented on #833
[SOM1911.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4564063/SOM1911.zip)

[2020-05-01 15:52] richardofsussex commented on #833
[SOM1911.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4565015/SOM1911.zip)
Hi,
I have now written a checking procedure which uses the 1891 place names (as I have them) as an authority. It identifies each level-b place which matches a place in that file (doing a longest-first match) and creates separate entries in the spreadsheet for each place. Where it doesn't match an entry in the 18

[2020-05-01 16:01] Captainkirkdawson commented on #833
Having looked at the commentary that has taken place while I was in the land of Nod. I have to say I am now totally and utterly confused. Our terminology wanders all over the place; as does that of the TNA. We started off talking about Registration Districts  which it now appears we do not record in a piece. There are Registration Sub Districts which we record (usually?) as the a in our parms file

[2020-05-01 16:20] Captainkirkdawson commented on #833
@richardofsussex Your extract of 1911 should not be uploaded directly; it would benefit from a manual edit as some subplaces are clearly combined because you have no ability to detect the separation. But it would not be a large task. Well done; Would love to see one for 1901

[2020-05-01 16:25] Captainkirkdawson opened #882 "Donate button - broken?"
@PatReynolds commented on [Tue Apr 28 2020](https://github.com/FreeUKGen/MyopicVicar/issues/2279)

David writes:
I added custom event tagging on the donate button on the freereg volunteer page. After publishing, I noticed that the "donate" button hasn't really been clicked since the 12th... I wanted to see if you were aware that the "donate" link on this page:

https://www.freereg.org.uk/cms/oppor

[2020-05-01 16:29] #882 closed, assigned to nobody

[2020-05-01 16:29] Captainkirkdawson commented on #882
Issue moved to [FreeUKGen/Systemwide #141](https://github.com/FreeUKGen/Systemwide/issues/141) via [**ZenHub**](https://www.zenhub.com/)

[2020-05-01 16:32] richardofsussex commented on #833
Kirk,
Please see my latest contribution; while it definitely still needs manual intervention, this is now purely to check queries. I've spent the best part of the day implementing a 'look-up' which appears to be reasonably successful in splitting apart the subplaces which TNA have cheerfully clumped together for us from 1901 onwards.
Turning to your previous point, I think the key point is to cons

[2020-05-01 17:27] Captainkirkdawson commented on #833
@richardofsussex unfortunately programmers as you know need precision and definition; without it chaos reigns supreme.

For both @geoffj-FUG and @FreecenBren the purpose of this new set of extracts is for CEN2 ingestion not CEN1. So that fields reflect the TNA without a 20 character constraint

The Purpose of the b field for checking is one specified by me in processing a csv data file. The b fiel

[2020-05-01 21:56] geoffj-FUG commented on #833
Richard

I have compared the start of the 2 files (yours and mine).

The downloaded version has pieces missing. Look at 14121-14122, 14125, 14137-40.

Otherwise they look the same.

Does the fact that the program creates multiple ‘a’ rows for the same piece cause upload problems?

Geoff

From: Richard Light <richardlight399@gmail.com>
Sent: Friday, May 1, 2020 10:06 PM
To: geoff.jarvis@freeukgenea

[2020-05-01 22:09] geoffj-FUG commented on #833
Kirk et al

I appears that we are trying to fit a square peg in a round hole.

So …

From a programming need what should we be recording to meet our needs into the future, including future reporting?

That is the position we have taken on the new fields descriptions. Why don’t we consider this issue from scratch?

I will start:

We need the Civil Parishes – they match up with the field in the tran

[2020-05-02 11:50] geoffj-FUG commented on #833
Kirks suggestion makes very good sense to me.

It will give us a natural hierarchy:

County

                Registration District

                                Sub Registration District

                                                Civil Parish

That looks like a very good hierarchy to have to me. It should meet a lot of possible needs.

Geoff

From: Kirk Dawson <notifications@github.com>
S

[2020-05-02 13:50] FreecenBren commented on #833
I would love to see a 1901 for Notts as we are staring it shortly.

Brenda

[2020-05-02 19:01] AlOneill opened #883 "General and accessibility issues with "Opportunities to Volunteer" page"
As my attention was drawn to the page by another issue, I noticed some things about the page and in particular about the "Proceed for Registration" button: there are 3 issues:

1. The background colour is related to the **old colour scheme** (white on a brownish-orange and hard-coded in Refinery, partly because of the hover state)
2. The **colour contrast ratio is a mere 2.4:1**
3. There is **no v

[2020-05-02 19:14] richardofsussex commented on #833
OK, this is the 1901 for Notts, as generated by my system. I notice that it has far fewer 'b' entries than the 1881 one, but haven't had time to check why this might be.  Anyway, I would welcome your reaction to it. (The names with question marks are those which didn't match a list of places which I generated from the 1891 data.)
[NTT1901.zip](https://github.com/FreeUKGen/FreeCENMigration/files/45

[2020-05-02 19:26] Captainkirkdawson commented on #883
The colour scheme should be the standard CEN one for CEN.

It was looking to fix that when I found the issue with inability to access the html through refinery😒

Happy for you to fully clean up. IMHO the ad bloc is not really required if it is causing a pain

[2020-05-02 19:28] Captainkirkdawson commented on #833
@richardofsussex does your comment refer to what we have on the website or what you have downloaded anew

[2020-05-02 22:28] Captainkirkdawson commented on #833
@richardofsussex Having spent some time digging I think it is time for CEN2 break from the specification used in CEN1. Hence I would like to specify a new format for CEN2 csv parms that collects all the information that is needed for CEN2 to have pieces that it can effectively link to a variety of different locations. This will contain the fields needed by CEN1 so we can create those from CEN2.

P

[2020-05-02 23:19] richardofsussex commented on #833
Ah: I'm talking about the file which I generated myself when Brenda asked me to produce some PARMS files for 1881.  I'm not sure what relation it will have to what finally ended up on the web site.

[2020-05-04 11:35] richardofsussex commented on #833
I would be happy for @Captainkirkdawson to produce a new spec for the parms data. I am limited in what I can contribute by my ignorance both of the source formats we are working from, and the target information processing environment they end up in. A 'statement of purpose' for the parms, summarizing their use both for data entry/validation and for searching/retrieval, would I think be a useful st

[2020-05-04 14:34] Captainkirkdawson commented on #833
@richardofsussex one of my questions for you was going to be can you obtain the Registration District so you were already ahead of me by looking at trying to extract that. Perhaps you could point me towards a document on the API as that might (might not) help me.

[2020-05-04 14:39] Captainkirkdawson opened #884 "Irish Parms"
@geoffj-FUG wrote: have been investigating the structure of the Ireland census in more detail to ensure that we have everything covered.
The administration of Ireland had the following structure:
County

                Barony

                                Parish

                                                Poor Law Union

                                                                Town

[2020-05-04 14:43] richardofsussex commented on #833
This page gives you access to the API Sandbox:
https://discovery.nationalarchives.gov.uk/API/sandbox/index#/SearchRecords
It includes fields for you to fill in, and shows you what the result will be. It also displays your search as a URL and as a call to curl, so you can 'take it away' and run it in a different environment. I have complete files for 1841-1891 which came from their TSV files, and w

[2020-05-04 14:51] Captainkirkdawson commented on #833
Thanks Richard A quick scan indicates that the cost of my getting to
understand that api would far far exceed the benefit. I will leave in your
very capable hands

[2020-05-04 15:03] richardofsussex commented on #833
I think I can see a way to extract Reg. Districts via a two-stage XML extraction process. If this is definitely needed I will plough on with it. I'll do 1901 and 1911 first. Does it make sense to extract the TNA identifier for each unit, as well as its title? This would give us access to the full record, both for display, as a potential link for our users, and for programmatic access to the data i

[2020-05-05 01:08] Captainkirkdawson commented on #833
@richardofsussex Is the TNA identifier the C13335 in the following example?
https://discovery.nationalarchives.gov.uk/browse/r/h/C13335
This number changes as one drills down to the actual piece so it is a reference to a specific page
The following image has a number C3139040
![piece](https://user-images.githubusercontent.com/2874694/81027138-c786c600-8e39-11ea-872d-a3e96ab9546a.png)

Now before I

[2020-05-05 07:32] richardofsussex commented on #833
Yes, the 'C' numbers are record identifiers within the TNA catalogue. Being an archival recording system, there is a hierarchical relationship between these records, and each has a specific 'level' recorded.

In my earlier work I was using the record search facility, which returns an XML response including a RecordSearchResultViewModels element for each record. This search works nicely for level 6

[2020-05-05 11:54] geoffj-FUG commented on #884
I have just had a go at building an Ireland PARMS

I have copied and pasted the index for Antrim Rural from the Ireland Archives. That gave me the DED and the Parishes. No problem. It was really easy because it is a website the entries are already in a table. So it went straight into my spreadsheet.

I then looked up the Barony for a random sample.

There are many Baronies for one DED. It is not a

[2020-05-05 22:20] geoffj-FUG commented on #884
A solution to the Irish problem – not that one, ours.

My confusion has been that in 1896 Ireland created District Electoral Divisions (DED) and replaced the Barony system, much as England replaced the Hundreds with Registration Districts between 1841 and 1851.

Except they didn’t! They had two parallel systems running, a registration system and an administrative system.

District Electoral Divisi

[2020-05-06 16:00] richardofsussex commented on #833
OK, I have finally succeeded in extracting what I think is all the data we need from the TNA Discovery catalogue, for 1901. I did this (in case you're interested) by applying an XSLT 3.0 transform to the top-level XML export, then recursively asking for the child records at each level until I got to Sub-District.  I'm not suggesting that we actually load the information in this format; at this poi

[2020-05-06 16:33] richardofsussex commented on #833
[rg14-overview.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4588055/rg14-overview.zip)
Here is RG14 (1911) in the same format. Does anyone know what the codes (e.g. RD 1 RS 1 ED 1) mean?

[2020-05-06 16:37] richardofsussex commented on #833
Assuming I have captured all the information that is required, it should be a quick and easy job to convert these XML 'overview' documents into CSV PARMS files in @Captainkirkdawson's preferred format.  You might like to think about having a single CSV load for each census year, rather than uploading the data county by county.

[2020-05-06 16:51] richardofsussex commented on #833
Rats: I have just realised that these results may not be complete (default limit on search results ...). So just comment on the format and content, please.

[2020-05-06 17:17] richardofsussex commented on #833
[rg14-overview.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4588321/rg14-overview.zip)
[rg13-overview.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4588322/rg13-overview.zip)
These should be complete. 1901 looks pretty good: there are some missing labels at the end of 1911.

[2020-05-06 21:50] geoffj-FUG commented on #833
Richard

ED1 is the Enumeration District. In 1911 there was a one to one relationship with the piece number.

EDs start at 1 for each Registration sub-District.

There are several Registration Districts to a Registration District. In 1911 the Registration Districts each had a number.

So it is part of the hierarchy County, Registration District, Registration sub-District, ED number.

Geoff

[2020-05-06 22:55] Captainkirkdawson commented on #833
@richardofsussex At this point after a 5 minute review is to say "Hats off". That is magnificent. More comments to follow but that you but it has all of what I was going to ask for and a little more besides

[2020-05-07 02:34] Captainkirkdawson commented on #833
@richardofsussex as Geoff indicated the RD 1 RS 1 ED 10 in 1911 refer back to the Regional District; Sub District, Enumeration District number (a number within the subdistrict)

[2020-05-07 02:39] Captainkirkdawson commented on #833
@richardofsussex I am tending at this point to say just provide the yearly xml and we extract into the database from the XML directly rather than converting and reconverting. Which based on all of this  could be usefully reshaped. How about trying 1861?

[2020-05-07 08:26] richardofsussex commented on #833
Will do, but I'll start by tidying up 1911 a bit. There is missing data at the end, and now I know what the codes mean I think I'll make them into an attribute rather than a 'parish'.

[2020-05-07 08:55] geoffj-FUG commented on #833
Richard

I have just opened your XML file in Dreamweaver (the limit of my expertise I am afraid) and the structure looks good to me. It is the complete hierarchy.

If I look beyond basic FreeCEN functionality to future use as Open Data the structure you have been able to extract will enable a wide range of targeted data to be obtained from the FreeCEN database.

Geoff

[2020-05-07 10:25] richardofsussex commented on #833
[rg14-overview.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4592374/rg14-overview.zip)
[rg14-overview-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4592375/rg14-overview-2.zip)
Here is 1911 in more complete form, with the naval and military entries (which had a different structure from normal parishes). The first file is the default result; the second moves the ED code up

[2020-05-07 10:51] richardofsussex commented on #833
To my delight, the 1861 data gives a viable result first time. (Apart from the ships!) The pattern of data is different, e.g.
`<parms>
   <census year="1861">
      <county tnaid="C62656" name="MIDDLESEX">
         <district tnaid="C116862" name="Registration District 1. KENSINGTON">
            <subdistrict piece="RG 9/1" tnaid="C3098036" name="">
               <parish>Registration Sub-District

[2020-05-07 12:14] richardofsussex commented on #833
[rg9-overview-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4592841/rg9-overview-2.zip)
Updated RG9 overview for comments.

[2020-05-07 14:36] richardofsussex commented on #833
[rg10-overview-3.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4593582/rg10-overview-3.zip)
RG10 with tidying-up of parishes and hamlets.

[2020-05-07 15:03] Captainkirkdawson commented on #833
@richardofsussex I need to take stock of what you have provided to date. So hold fire on tweaking just a little for feedback. Will work 14/13/9/10 if this is OK or do you want a different order? Need to have breakfast first

[2020-05-07 15:08] richardofsussex commented on #833
No problem: I'm happy with that order. Currently working on 11.

[2020-05-07 15:51] richardofsussex commented on #833
[rg12-overview-3.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4594063/rg12-overview-3.zip)
[rg11-overview-3.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4594065/rg11-overview-3.zip)
11 and 12.

[2020-05-07 16:23] Captainkirkdawson commented on #833
@richardofsussex wrt **rg14-overview-2**
Excellent but there is one common issue;  the extraction of the code RD X RS Y ED Z is inconsistent.
Look at lines 66350-66514 for examples. Appears that it only works if there is 1 parish; does not if 2 or more.
The Royal Navy and Military . Each piece ends with the District number eg RD640 and 641.  Would it be possible to place that in the District name

[2020-05-07 16:33] Captainkirkdawson commented on #833
@richardofsussex **wrt rg13-overview**
Usable as is

[2020-05-07 17:03] Captainkirkdawson commented on #833
@richardofsussex **wrt rg9-overview-2**
a) Can we make the hamlet a child of the parish please
b) Can we extract the Islands from the Isles of the British
![islands](https://user-images.githubusercontent.com/2874694/81322380-22ded100-9051-11ea-8a67-069d43e46949.png)
and their parish children

PS the tnaid is an absolute godsend;  just hope they never change it!!

[2020-05-07 17:28] Captainkirkdawson commented on #833
@richardofsussex wrt **rg10-overview-3**
a)Really need the District name as well as its number eg
![district name](https://user-images.githubusercontent.com/2874694/81323915-689c9900-9053-11ea-91ce-1d53f0a18ed6.png)
![name](https://user-images.githubusercontent.com/2874694/81324012-94b81a00-9053-11ea-8087-3893e4bca119.JPG)
b)Like rg9 hamlet to be a child of the parish
c) For Royal Navy the ships;

[2020-05-07 17:35] richardofsussex commented on #833
@Captainkirkdawson thank you very much for the comments. I'm packing up now for the day, but I'll finish with a not-quite-ready 1841 - the townships need separating into separate elements. Tomorrow is a Bank Holiday, so it will probably be next week before I get back to this.  Still, lots of progress!
[1841-overview-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4594723/1841-overview-2

[2020-05-07 17:45] Captainkirkdawson commented on #833
@richardofsussex **wrt rg11-overview-3**
a) we are missing the county name
b) as in rg10 we are missing the district name
c) we are missing the subdistrict name
d) when fixing c) please ensure that royal navy subdistrict name is Ships as noted for rg10

[2020-05-07 18:00] Captainkirkdawson commented on #833
@richardofsussex  **wrt  rg12-overview-3**
a) as in rg10 and 11 we are missing the district name
b) missing district number

[2020-05-07 18:03] Captainkirkdawson commented on #833
@richardofsussex Thank you for the work todate I have plenty to get on with here and also an issue on REG that is urgent
Like to compliment you on the work to date we are extremely close to an excellent solution that will give us a firm base for the future and some new capabilities.
Have a good weekend and avoid the virus

[2020-05-07 18:13] richardofsussex commented on #833
[1841-overview-3.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4594934/1841-overview-3.zip)
Split the townships while the leeks were cooking!

[2020-05-07 20:17] Captainkirkdawson commented on #833
@richardofsussex **wrt 1841-overview-3**
As you have correctly noted there were no district or subdistricts in 1841. They had Hundred or Wapentake depending upon the county. Soke and Liberty were also possible units but appear to have been associated with a hamlet or township.
For our use we should use the term that is in the census ie Hundreds or Wapentake as a  child within a county. It will be

[2020-05-07 20:44] Captainkirkdawson commented on #884
Geoff

I have some difficulty with where this seems to be heading. As you may have noted in the discussion on English Welsh parms we have gone away from terminology such as a) and b) instead we are talking about county, registration district, piece, registration sub district, parish with the latter sometimes having sudh components as hamlets or townships. This applies to 1851-1911; 1841 is differe

[2020-05-07 21:42] Captainkirkdawson commented on #884
Specifically we treat DEDs as we do hundreds in 1941 census.  Each DED has Townlands/Streets as civil parishes The piece number 1 is assigned to the first DED and incremented by 1 for each subsequent DED. parishes.The County of Antrim would have 136 pieces or DEDs. (Your a) Each piece would have Townlands/Streets as civil parishes within it. (Your b). This way there is no need to change the piece

[2020-05-07 22:48] geoffj-FUG commented on #884
Kirk

I have an concern with putting the townland/street in the civil parish. The civil parish is a separate entity that needs to be transcribed. It is part of the Administrative structure.

The Hundred, Wapentake and Barony are roughly the same thing. Parishes came beneath the Hundred and Wapentake. They come under the Barony also. But the Irish census does not follow that model.

The problem is

[2020-05-08 02:11] Captainkirkdawson commented on #884
You have  a couple of valid points there. I need time to think about the best way forward. However time to do that is limited and I feel doing this now is not the time. Irish census documents were not on the radar a month ago. Neither was the restructuring of the parms. As a result I have spent no time in completing the coding of the CSVProc nor the display of the additional fields we have been ad

[2020-05-08 09:04] richardofsussex commented on #833
It looks as though a recording policy is emerging as we work through the data. You're encouraging me to retain the original naming of place types and to express the hierarchical relationships between them where known/knowable. Thus far I haven't always done this, tending more towards harmonization of their varying practice.  Also (now I come to think about it) I have used different encoding approa

[2020-05-08 09:12] FreecenBren commented on #833
Well said Richard. I think that is a really good idea.

[2020-05-08 09:21] richardofsussex commented on #833
Thus instead of:
`<parms>
   <census year="1841">
      <county tnaid="C132704" name="BEDFORDSHIRE">
         <district tnaid="C3760734" piece="HO 107/1" name="Barford">
            <parish>Great Barford</parish>
            <parish>Colmworth</parish>
            <parish>(3)Eaton-Socon</parish>
            <township>Wyboston</township>
            <parish>Goldington</parish>
`
we would have:
`<par

[2020-05-08 15:16] Captainkirkdawson commented on #833
@richardofsussex I have to say that I am now 100% confused. At the start of this week I had been working on a new specification for parms csv files that were to be populated by the API extracts. All census for England from 1851 -1911 have essentially the same structure. 1841 is uniquely different. I was evolving toward Census/Country/District/Subdistrict/Parish,/Hamlet/Notes fields which would fit

[2020-05-08 15:40] richardofsussex commented on #833
![image](https://user-images.githubusercontent.com/2197102/81421807-fbb7fa80-9149-11ea-8e1d-76bc015c028a.png)
@Captainkirkdawson no, the suggested structure is anything but flat. I apologize: I omitted the end-tags from my example and then GitHub lumped all the markup together. Hopefully the image above makes my intention clearer. This is only a suggestion, inspired in part by _your_ suggestion th

[2020-05-11 12:34] richardofsussex commented on #833
[1851-overview-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4609528/1851-overview-2.zip)
@Captainkirkdawson here is 1851 (the last one to be addressed). I have made the XML with specific tags for each level: District, Sub-District, Parish and Hamlet. They should all have a name attribute, and possibly piece (Districts only), code and note attributes.  Is this a pattern which you woul

[2020-05-11 14:41] richardofsussex commented on #833
[rg14-overview-4.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4610206/rg14-overview-4.zip)
@Captainkirkdawson I've made the changes you requested to rg14. Also placed the parish name in a 'name' attribute, and split off comments in brackets into a 'note' attribute.

[2020-05-11 15:25] Captainkirkdawson commented on #833
@richardofsussex   **wrt 1851-overview-2**
A quick review shows a problem. There are no parishes for many sub districts. Just look at the first 2. I suspect that parish is not being extracted if there is no hamlet.

[2020-05-11 15:31] richardofsussex commented on #833
Good catch: I think I can fix this quickly.

[2020-05-11 15:38] richardofsussex commented on #833
[1851-overview-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4610574/1851-overview-2.zip)
Here we go ...

[2020-05-11 16:37] Captainkirkdawson commented on #833
@richardofsussex **New version of 1851-overview-2** looks to be fine. Like the notes extraction.
Will not know more until I try to process into the database. Will not be attempting that for a while as I have too much on my plate
**rg14-overview-4** has addressed the issues raised and looks OK subject to same caveat above

[2020-05-11 16:44] richardofsussex commented on #833
That's fine: no rush. So long as I know you are happy with the format I am producing, I can continue to tidy up the other years.  So long as the XML is consistently structured, it wouldn't be a big job for me to tweak it, were there to be problems when you come to load it.

[2020-05-11 17:31] richardofsussex commented on #833
[rg9-overview-4.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4611141/rg9-overview-4.zip)
Here is rg9, with the islands and the name/note analysis. I tried and failed in a search for the ships: "recorded elsewhere" ...

[2020-05-12 11:33] richardofsussex commented on #833
[rg10-overview-6.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4615244/rg10-overview-6.zip)
Here is the updated rg10, with District names restored, hamlets within parishes and the Royal Navy districts recorded as "Ships".

[2020-05-12 12:07] richardofsussex commented on #833
[rg10-overview-6.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4615407/rg10-overview-6.zip)
Ditto with the ships actually present! (They were recorded as hamlets, so were stripped out by a routine which expected there always to be a parish present.)

[2020-05-12 12:14] richardofsussex commented on #833
[rg11-overview-4a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4615448/rg11-overview-4a.zip)
rg11 updated.  Sorry: that was a really poor result first time round!

[2020-05-12 12:57] richardofsussex commented on #833
[rg12-overview-7.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4615685/rg12-overview-7.zip)
rg12 updated. I think that's the lot ...

[2020-05-12 14:17] Captainkirkdawson commented on #833
Thanks @richardofsussex what about 1841 with the changes requested; its a 1 off

[2020-05-12 15:06] richardofsussex commented on #833
Sorry: those comments were a long way back in the thread! Looking at the routine which I used to tidy the 1841 data, I see that the areas within a county were Hundred, Ward, Borough, City and Borough, Liberty or City, and Wapentake. Given that two of them are three-word phrases, and that 'City' and 'Borough' occur in two of them, I suggest that we could keep the neutral `<district>` element within

[2020-05-12 15:07] richardofsussex commented on #833
That should read "keep the neutral `<district>` element within `<county`".

[2020-05-12 15:18] Captainkirkdawson commented on #833
OK as long as the parish was a child of the district in the county, put the actual value in a type field with the name field
Given that 1841 is much smaller I should be able to extract appropriately

[2020-05-12 17:49] richardofsussex commented on #833
[1841-overview-4a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4617521/1841-overview-4a.zip)
See how this looks ...

[2020-05-13 14:55] #861 closed, assigned to Captainkirkdawson

[2020-05-13 14:55] #856 closed, assigned to Captainkirkdawson

[2020-05-13 14:55] #872 closed, assigned to Captainkirkdawson

[2020-05-13 14:55] #91 closed

[2020-05-13 14:55] #92 closed

[2020-05-13 16:24] richpomfret commented on #730
@AlOneill any update or help needed on this one?

[2020-05-13 16:37] DeniseColbert commented on #715
Not sure why this was moved into In Progress while I was on furlough.

[2020-05-13 16:37] richpomfret commented on #884
We require @PatReynolds input on this as it is turning into a larger story than anticipated.

[2020-05-13 16:39] richpomfret commented on #715
@PatReynolds to clarify.

[2020-05-13 16:40] rhodamackenzie opened #885 "On Freecen" search page: Soundex- could name soundex be used on either/or surname and forename- i.e. 2 soundex buttons?"
Soundex- could name soundex be used on either/or surname and forename instead of both or none- i.e. 2 soundex buttons?

Clarified in scrum:
Soundex only used on surnames.  Could be a button under the surname (as per FreeBMD2.

[2020-05-13 16:41] rhodamackenzie opened #886 "On Freecen2 search page: 500 result limit - still necessary?"
Is the display limit of 500 results necessary? I would allow more then folk can choose to filter if they get too many.

[2020-05-13 16:45] rhodamackenzie opened #887 "On Freecen2 search page: Birth county and county limitation"
Birth County - why can only 3 be chosen? Can these be increased?
Birth County -would be useful to be able to choose a whole country e.g. all of Scotland, England, Wales OR Ireland (see #341 for this part of this story)

E2 U3 S4 C7: P18

[2020-05-13 16:47] rhodamackenzie opened #888 "On Freecen" search page: Limitation of census county choices"
Census county - why only 3 - can this number be increased?
Can we allow folk to choose a whole country? E.g. John Cowie in the whole of Scotland in 1851

[2020-05-13 16:48] rhodamackenzie opened #889 "On Freecen" search page: Census place - remove the inverted commas around the years on the dropdown list."
E0, U3, S4, C7: P14

[2020-05-13 16:49] colin1959 commented on #715
Hello Denise

Is this something I can help with in anyway? Feel free to throw your ideas my way.

regards

Colin

[2020-05-13 16:54] rhodamackenzie opened #890 "On Freecen" search page: Filters - the blurb is too long. remove 2nd sentence"
The blurb is too long and it is confusing that thsi can't be sued oher than in a revised searhc.
I suggest:
First sentence not clear enough for users. Remove 2nd sentence completely.

**Possible fixes:**
1. Most logical - move filter button to the results page
2. Grey out filters unless it is part of a search revision
3. Least logical and least preferred- spell it out for user very clearly in firs

[2020-05-13 17:08] rhodamackenzie opened #891 "wildcard searches do not work on ipad or iphone"
Wildcard searches (used with a place) work fine on PC, (on the egde, internet exploere and chrome.  On ipad and iphone, they don't work on either safari or chrome.
"0 results found" is displayed.

[2020-05-13 17:09] rhodamackenzie opened #892 "Wildcards on Freecen2 search page"
Wildcards: nothing about these in the help file. Which are permitted? Just * and ?

Why can wildcards only be used with a specific place? Is this a legacy notification? Possible to change this to not requiring a place (or a county)

[2020-05-14 01:10] Captainkirkdawson commented on #803
I have rerun my analysis and the following files still contain errors.

rg122720.vld DBY 1891 Shardlow 2720
HS410879.VLD KKD 1841 RERRICK 879
RG093137.VLD LAN 1861 Preston 3137
RG103297.VLD LEI 1871 Waltham 3297
RG122590.VLD LIN 1891 Lincoln 2590
RG122641.VLD NTT 1891 East Retford 2641
rg092721.vld LAN 1861 Everton 2721
rg092827.vld LAN 1861 Bolton Eastern 2827
rg092666.vld LAN 1861 Dale Street 26

[2020-05-14 08:37] FreecenBren commented on #803
Hi Kirk,
A few of those have been done and are waiting on the FreeCEN upload.
Lemon is doing it this week.
I will then look at the new error report and deal with them myself apart
from the Scotland ones that I will send to Margaret.
Those on your list that are not on the FC1 I will get done as well.

I have been so busy with the ‘Newbies’  time has been the issue.
Priority has been getting them se

[2020-05-14 11:40] geoffj-FUG commented on #884
Rich
In reviewing the available UK censuses for the extension into the 20th Century Ireland was identified as it was part of the UK in 1901 and 1911 - the years when the census is available.
When I looked at how it could be included in any design the current PARMS structure issue arose. If we do not take the PARMS structure for Ireland into account it will not be able to be incorporated at some ti

[2020-05-14 16:20] AlOneill commented on #730
@richpomfret Work stalled until UCF documentation is complete — then this will be my next task.

[2020-05-15 13:06] colin1959 commented on #847
Document update ' Info Transcribers' now on refinery cms.

Colin

[2020-05-15 19:30] AlOneill commented on #847
@colin1959 I don't know what you have been told about working on Refinery and how we use this board, but I think it is too soon to be closing — the issue itself is not complete, even if your part in the update is done.

Updated pages need to reviewed for content and then the HTML markup needs to be checked.

So am re-opening and returning to "In progress".

[2020-05-16 06:10] colin1959 commented on #847
Thanks for highlighting, it's a matter of learning by your mistakes I think.I made a comment and closed by mistake instead of just a comment. Regards😷 
Colin Mincher
    On Friday, 15 May 2020, 20:40:38 BST, AlOneill <notifications@github.com> wrote:

@colin1959 I don't know what you have been told about working on Refinery and how we use this board, but I think it is too soon to be closing — the

[2020-05-18 14:04] Vino-S commented on #811
@richpomfret updated code is running in test3. It has been few days since the code change, however still I could not see any adverts.

[2020-05-25 15:33] Captainkirkdawson commented on #803
I have rerun my analysis after the May update and the following files still contain errors.

rg122720.vld DBY 1891 Shardlow 2720
HS410879.VLD KKD 1841 RERRICK 879
RG093137.VLD LAN 1861 Preston 3137
RG103297.VLD LEI 1871 Waltham 3297
RG122590.VLD LIN 1891 Lincoln 2590
rg092721.vld LAN 1861 Everton 2721
rg092827.vld LAN 1861 Bolton Eastern 2827
rg092666.vld LAN 1861 Dale Street 2666
rg103710.vld CHS

[2020-05-25 19:33] Captainkirkdawson commented on #820
All the fields specified in document
https://docs.google.com/document/d/1CLd_1CsVQcTyjtAFwsmSqQAm8NC02jmV/edit
are now supported in the in the spreadsheet download and the CSV file upload.
deployed to test3 for testing

[2020-05-25 19:38] Captainkirkdawson commented on #806
Census 1901 and 1911 fields are incorporated into https://docs.google.com/document/d/1CLd_1CsVQcTyjtAFwsmSqQAm8NC02jmV/edit
Believe this should be closed.

[2020-05-25 19:41] Captainkirkdawson commented on #845
Incorporated into fields.
Suggest this be closed

[2020-05-25 19:45] Captainkirkdawson commented on #871
As long as the header columns are present in the CSV file the specific order of the columns for the location fields is irrelevant.
Spreadsheet download has requested order.
Suggest this be closed

[2020-05-25 19:47] Captainkirkdawson commented on #859
Fields added to the display.
deployed to test3 to have user testing

[2020-05-25 19:48] Captainkirkdawson commented on #864
Display is modified to be selective.
Deployed to test3

[2020-05-25 19:54] Captainkirkdawson commented on #880
@richardofsussex has provided a complete set of parms for all years in England and Wales and Islands. Suggest this be closed

[2020-05-25 20:02] Captainkirkdawson opened #893 "Implement CEN2 parms while permitting CEN1 VLD file loading and searching"
The parms for CEN2 will have a different structure from CEN1 parms. Field lengths are relaxed in CEN2 so civil parish names can be inconsistent with CEN1 where they we shortened in a manner unique to FreeCEN. VLD files will use the CEN1 parms
We need to consider how best to proceed with CEN2 parms implementation

[2020-05-25 23:42] Captainkirkdawson commented on #893
Perhaps the cleanest solution is to create a separate collection freecen2_piece to support csv files rather than have 1 collection try to support both cen1 vld and cen2 csv That would leave freecen_piece  to support the vld files.

[2020-05-27 15:56] Captainkirkdawson opened #894 "Tune file removal code for CEN"
Currently code is optimized for FreeREG; need to tighten for Cen after processing and loosen removal beforehand

[2020-05-27 17:44] Captainkirkdawson opened #895 "The files used by the monthly update to add lat/lon to a place need to be updated by a data manager"
Vino and I have concluded that the rake tasks that assign lat/lon to civil parishes (sub places) and Census Places (where the census was taken for a specific piece) is not finding a match between those names and the file of locations
The latter has NOT been updated for 4 years.
https://github.com/FreeUKGen/MyopicVicar/blob/master/test_data/Place_and_church_name_resources/places_from_public_domain_

[2020-05-27 20:20] Captainkirkdawson commented on #833
@richardofsussex just starting to look inputting what you produced into CEN2 and in checking what I had I was left with the impression that 1841 was not reprocessed to follow the requested format. The last version I have is 1841-overview-3 which has the format
![1841 Piece.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/e8e0c943-1acc-43d7-b47c-96515a7916cd)

We had agreed to ref

[2020-05-28 02:33] Captainkirkdawson opened #896 "Do not report setting initial values for fields that are not in the census year"

[2020-05-28 12:59] PatReynolds commented on #820
Thank you @geoffj-FUG, @rhodamackenzie  and @Captainkirkdawson for the magificent work that is Version 3.

There was one instance of what I think are two different enumerator errors covered in one paragraph (gender and age), I've suggested splitting them.

I have taken a look through it, and it all seems to be as expected, and
I have not proofed, but did notice an inconsistent use of capitalizatio

[2020-05-28 13:00] PatReynolds opened #897 "FreeCEN1 failing to search"
A record I can find on FreeCEN2, e.g. Richard Alcock, born Yorkshire in the 1841 census) fails to generate a result in FreeCEN1.

[2020-05-28 13:09] PatReynolds commented on #816
Potential for index to be created as a stand-alone project? Using the names from the placenames at sub-county levels found in the files produced by @richardofsussex to validate placenames and chapman code in place of birth - and then to fuzzy-match the remaining birth placenames?  Then to allocate hamlets to the correct civil parishes for the search function to work on a parish list. Parishes list

[2020-05-28 13:31] PatReynolds commented on #859
Hi @Captainkirkdawson I don't have any files on FreeCEN to modify.

[2020-05-28 14:32] Captainkirkdawson commented on #859
Pat; this story was about modifying the program that displays records that have been uploaded as csv directly into CEN and processed by CEVProc.
You have access to Manage Counties ; so select SOM and select the Review Batches by Filename.
You will see 3 files uploaded by Geoff for testing.
Select the second RG102359 which is recently uploaded.
On the subsequent display in the header options  selec

[2020-05-28 15:25] helhyde commented on #859
Hi Kirk,

When I go to Manage Counties, this is what I see:
[image: image.png]
What am I doing wrong?

Thanks,

Pat

[2020-05-28 16:06] PatReynolds commented on #828
@PatReynolds to ask Brenda again

[2020-05-28 16:07] PatReynolds commented on #574
Google has stopped AdBalance so nothing to experiement with

[2020-05-28 16:07] #574 closed

[2020-05-28 16:08] PatReynolds commented on #806
Agreed, @Captainkirkdawson so closing.

[2020-05-28 16:08] #806 closed, assigned to PatReynolds, richpomfret, geoffj-FUG

[2020-05-28 16:10] PatReynolds commented on #845
Agree with you, @Captainkirkdawson so closing

[2020-05-28 16:10] #845 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-05-28 16:10] PatReynolds commented on #871
Agreed, @Captainkirkdawson so closing

[2020-05-28 16:10] #871 closed, assigned to Captainkirkdawson

[2020-05-28 16:11] PatReynolds commented on #880
Agreed!  @Captainkirkdawson so closing

[2020-05-28 16:11] #880 closed, assigned to richardofsussex

[2020-05-28 16:13] PatReynolds commented on #864
@rhodamackenzie to test Scotland @PatReynolds to test others.

[2020-05-28 16:15] PatReynolds commented on #803
@PatReynolds contacted Brenda 28/5/2020

[2020-05-28 16:20] PatReynolds commented on #405
Wildcard help - think that @AlOneill has this in hand.

@Captainkirkdawson is the rescriction still needed?Anything we can do to broaden the search?

Wildcard searches not working on IPad needs fixing.

Advert covering table needs fixing.

@Captainkirkdawson should I make new stories for these individually?

[2020-05-28 16:27] richpomfret commented on #811
@richpomfret to test and see what I can find.

[2020-05-28 16:32] richpomfret commented on #853
@Captainkirkdawson can you add an estimate for this?

[2020-05-28 16:37] richpomfret commented on #824
Completed.

[2020-05-28 16:37] #824 closed, assigned to richpomfret

[2020-05-28 16:46] richpomfret commented on #897
Looks like we are having some issues on FC1. @lemon-ukgen any idea if anything has occurred recently or fallen over which might cause issues with search results?

[2020-05-28 16:47] richpomfret commented on #897
@FreecenBren have we had any complaints or reports from users about search?

[2020-05-28 16:52] richpomfret commented on #892
@Captainkirkdawson what's your take on this?

[2020-05-28 16:54] richpomfret commented on #891
Duplicate.

[2020-05-28 16:54] #891 closed, assigned to PatReynolds, rhodamackenzie

[2020-05-28 16:58] richpomfret commented on #890
@Captainkirkdawson what do you think?

[2020-05-28 17:06] richpomfret commented on #341
@Captainkirkdawson we're reviewing this in connection with a more recent task - is there anything preventing us from doing this search function?

[2020-05-28 17:09] rhodamackenzie commented on #888
duplicate

[2020-05-28 17:09] #888 closed, assigned to PatReynolds, rhodamackenzie

[2020-05-28 17:11] PatReynolds commented on #885
Soundex only used on Surname (firstname already automatically searches name variants eg Elizabeth finds Betty and Liz), so change label to say Surname search.

[2020-05-28 19:30] richardofsussex commented on #833
[1841-overview-4a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4697785/1841-overview-4a.zip)
Here's version 4 - apologies if I failed to upload it: thought I had. This has the four-level hierarchy.  I know 1841 is a one-off, so please get back to me if this isn't the format you need.
Richard

[2020-05-28 20:02] Captainkirkdawson commented on #853
It does not validate on being loaded. Any validation has been done by  the off line software

[2020-05-28 20:02] #853 closed, assigned to nobody

[2020-05-28 21:05] Captainkirkdawson commented on #859
@PatReynolds there is no image

[2020-05-29 00:37] Captainkirkdawson commented on #833
Thanks Richard

[2020-05-29 00:38] Captainkirkdawson commented on #885
Soundex is currently used on both forename and surname.

[2020-05-29 00:47] rhodamackenzie commented on #885
So can we have 2 buttons? One for first name and one for surname?
R

Sent from my iPhone

On 29 May 2020, at 01:39, Kirk Dawson <notifications@github.com> wrote:

﻿
CAUTION: External email. Ensure this message is from a trusted source before clicking links/attachments.

Soundex is currently used on both forename and surname.

—
You are receiving this because you were assigned.
Reply to this email

[2020-05-29 00:49] Captainkirkdawson commented on #341
Performance as it means a search of 40+ chapman codes and a merge of results; likely most searches would either time out or produce too many results with surname only

[2020-05-29 00:59] Captainkirkdawson commented on #885
Yes the search could be modified to soundex on surname only or on both surname and forename. A pure soundex search on forename is likely going to add nothing more than is provided with a pure surname search so would not recommend it.
PS Soundex was designed for 'surnames'. All it really does is strip vowels

[2020-05-29 01:03] Captainkirkdawson commented on #890
There was a big bun fight on this one. A great number of people had  trouble understanding what a filter was on a set of results. The extra verbiage was to ensure (or try to ensure) they did not think it was a search.

[2020-05-29 01:31] lemon-ukgen commented on #897
I'm aware that we have two Norfolk VLDs showing as errors since their data is already present in other VLDs. I don't believe this would cause a missing result for another county.

[2020-05-29 08:41] PatReynolds commented on #897
https://www.freecen.org.uk/search_records/59040e56e9379091b1907935  found on freecen2

Searching Richard Alcock born 1812, North Yorkshire on FreeCEN1for 1861 census now works.

Using chrome.  Be good to get a second pair of eyes to confirm this to confirm.

[2020-05-29 10:42] geoffj-FUG commented on #820
Pat

I have replied to the 2 comments on Version 3.

There are a couple of minor changes in my master copy as a result of transcriber feedback.

The Cambridge example was taken from the original FreeCEN instructions. The suffix shire was often not used by enumerators. So Cambridge could refer to Cambridge (the city) or Cambridge (the county). As a transcriber we do not have the information availab

[2020-05-29 15:08] PatReynolds commented on #805
I would welcome discussin/decision on my previous comment.

[2020-05-29 16:22] Captainkirkdawson commented on #805
@PatReynolds You asked for discussion/decision on your comment?
We are currently using 'Where Census Taken' in the transcriber input field and in the display of that field.
The usage of appropriate terminology on the search page and its results remains open.

I think that we need to make a decision on the basis of census records for 1851 -1921 and fit 1841 into those. Why? 1841 is a unique and som

[2020-05-29 20:23] DeniseColbert commented on #897
Description states 1841, however I've done the search in your last comment @PatReynolds and found your guy (also Chrome).

[2020-05-29 23:42] Captainkirkdawson commented on #833
Interesting it appears that zenhub has a limit on comments. I had looked for 1841 on zenhub and did not find it; now looking at github I see it was there.
@richardofsussex  Could I request a change to 1851 overview-2 if it can be done. Currently it has the piece number in the District in 1861 and more recent it is at the sub district level. In 1851 the district and subdistrict are combined as part

[2020-05-30 14:28] Captainkirkdawson commented on #833
@richardofsussex a further request. rg13-overview has a very early format; after that you evolved to splitting the parish into the name and notes components (see rg12-overview-7 and rg14-overview-4) so rg13 is the only one with the old layout.
Would it be possible to reprocess rg13 to have the latest format?

[2020-05-30 16:38] richardofsussex commented on #833
[1851-overview-3.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4706039/1851-overview-3.zip)
Updated 1851 as requested.

[2020-05-30 16:54] richardofsussex commented on #833
[rg13-overview-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4706078/rg13-overview-2.zip)
Updated rg13 as requested. Also noticed that some subdistricts had bracketed expressions in them, and extracted these to a note attribute.

[2020-05-31 17:22] Captainkirkdawson commented on #833
@richardofsussex Sorry to trouble you but 1841 is incomplete; it has only about half of the counties. It ends at RUTLAND. Looking at TNA directly that is where the first page of 30 entries ends, There is a second page of entries. Starting with SHROPSHIRE , the rest of England, Wales and the Islands

[2020-06-01 12:24] richardofsussex commented on #833
@Captainkirkdawson it's a fair cop! As you say, the default page size for the TNA search is 30, and I failed to up the limit. In fact, the same applies to 1851, so I'll have to do that again too. One positive outcome of this is that I have written down what I did to generate these results, which is something that will have to be done again in 2022 when the 1921 census is released (and on into the

[2020-06-01 22:14] Captainkirkdawson commented on #893
Have discussed with Geoff at some length and propose to use a parallel collection used only by CSV loaded files; at least initially.
Changing title to implementation

[2020-06-01 22:38] Captainkirkdawson commented on #893
The conceptual logical relationship being proposed is:
Year / Country (Archive) / Region (County, Island, Navy) / Registration District (. Superintendent Registrar's District) /  Registration Sub District or Piece (Local Registrar's District) / Enumeration District  / Civil Parish /   Dwelling / Individual.
That does not mean a collection at each level; initially I plan to evaluate performance wit

[2020-06-02 14:04] richardofsussex commented on #833
[1851-full-overview-3.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4717610/1851-full-overview-3.zip)
Here's the complete 1851 result. Still working on 1841, not helped by a parsing error in the JSON generated by TNA.

[2020-06-02 14:10] Captainkirkdawson commented on #833
Thanks @richardofsussex

[2020-06-02 15:58] richardofsussex commented on #833
I'm getting close with 1841. Just picked up some district types which were previously getting lost from the result. One question: there is the situation where Rapes contain Hundreds (e.g. https://discovery.nationalarchives.gov.uk/browse/r/h/C3761828). Should I use the `<subdistrict>` element for Hundreds in this case? It would be the only use of this tag in the 1841 data, but I don't see how else

[2020-06-02 16:41] Captainkirkdawson commented on #833
@richardofsussex  the following makes interesting reading https://en.wikipedia.org/wiki/Rape_of_Bramber
I think we should simply use the Hundred of Brightford (IF it were easy to put the rape in the note do so BUT don't invest much effort to so do).
This example also has a second Hundred: Burbeach. Just like your other example. In each case we establish them a separate <district> and give them bot

[2020-06-02 16:46] richardofsussex commented on #833
@Captainkirkdawson thanks - I'll do that. Ignore the Rape as part of our hierarchy, and split on multiple Hundreds, using A/B/C/... suffixes for the piece number for each Hundred. That's neat, in that the one strategy deals with both the cases I have spotted.

[2020-06-02 18:21] richardofsussex commented on #833
[1841-overview-full-5a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4718947/1841-overview-full-5a.zip)
Here's 1841. I applied the various transforms very mechanically, so it is possible that errors have slipped through. Let me know if you find any and I'll try to fix them.

[2020-06-03 10:38] PatReynolds commented on #805
I agree that it needs to be 1851-1821, with 1841 fitted in.

[2020-06-03 10:42] PatReynolds commented on #820
The FreeCEN gazatteer long/lat (or is it OS references?) is not fit for purpose (that's why we had to take away the 'nearby places' feature.

[2020-06-03 10:50] geoffj-FUG commented on #820
Thanks Pat

I was not aware of that.

I support the idea of larger to smaller. It helps matching later on if things are in a standard format.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Wednesday, June 3, 2020 8:43 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject

[2020-06-03 20:59] Captainkirkdawson commented on #820
Nearby was not removed because of the FreeCEN gazetter long/lat. BUT because the errors in the rake task that is run as part of the update **were not being monitored or corrected!** Hence nul location information was left in an increasing number of place and civil districts

[2020-06-04 17:12] Captainkirkdawson opened #898 "Recover after CSVProc and clean up"
Currently when the CSV Processor crashes it leaves the file hanging in no persons land.

[2020-06-06 19:40] Captainkirkdawson opened #899 "Correct the Census Place name in CEN1 1891 parms"
In the 1851_1881 parms the Place field was taken from the value in TNA Sub District field.
But in 1891 it was taken from the value in TNA District field not the Sub District as in all prior years.
This leads to a significant discontinuity in the Census Place values when doing the search?
For example look at  https://discovery.nationalarchives.gov.uk/browse/r/h/C131725
Each of the pieces in that di

[2020-06-06 19:42] Captainkirkdawson commented on #171
Suggest this be closed as we are evolving towards a fixed parms/piece structure based on TNA

[2020-06-06 19:43] Captainkirkdawson commented on #203
Suggest this be closed as we are evolving towards a fixed parms/piece structure based on TNA

[2020-06-06 19:44] Captainkirkdawson commented on #492
Suggest this be closed as we are evolving towards a fixed parms/piece structure based on TNA

[2020-06-06 19:48] Captainkirkdawson commented on #195
Upload no longer required and we are evolving towards a fixed parms/piece structure based on TNA. See #833 Suggest this be closed

[2020-06-06 19:55] Captainkirkdawson commented on #89
As we are moving towards a fixed complete parms structure based on TNA I suggest this be closed

[2020-06-06 19:59] Captainkirkdawson commented on #586
This will be replaced by the fixed parms structure using TNA information. Only questions will the be a need for a download of a county parms file

[2020-06-06 22:10] Captainkirkdawson commented on #899
What is required is to rebuild the search_records for 1891 having corrected the piece  

[2020-06-07 17:05] helhyde commented on #884
That's an elegant solution, Geoff.

[2020-06-07 17:47] PatReynolds commented on #805
'Where census taken' as a descriptor works for me.

I now have a better grasp of the levels involved in the Census for location information
To give the example of North Scarle, the following hierachy of information is known (also some others, but these are the ones with names and I don't think people will want to search by numbers - if they do, then that's an enhancement):

Level/Example
[0 Year]

[2020-06-07 17:53] PatReynolds commented on #805
See #309 for enhancement of search on places of enumeration

[2020-06-07 17:57] PatReynolds commented on #309
To note (for no action at this point) In searching:
FreeBMD allows searching by their equivalents of 2 and 3 (all the data they have)  FreeREG allows searching by 2 and 7 (all the data they have).

FreeCEN1 allows searching by 2, or 4, or a free text search for 7

FreeCE2  allows searching by 2 and then by , but allocates each 4 to a level 2 which may be 'wrong' as a level 3 can cross county bound

[2020-06-07 19:53] Captainkirkdawson commented on #833
Thx @richardofsussex

[2020-06-08 15:44] Vino-S commented on #811
moved the code to production

[2020-06-08 16:12] #728 closed

[2020-06-08 16:18] PatReynolds commented on #405
Closing as Rhoda has made new stories resulting from her findings.

[2020-06-08 16:20] #171 closed

[2020-06-08 16:20] #203 closed

[2020-06-08 16:21] #492 closed

[2020-06-08 16:22] #195 closed

[2020-06-08 16:22] #89 closed

[2020-06-08 16:30] PatReynolds commented on #586
In tne new system, if an error found in published record(s), corrections will be made at the Piece level, rather than the County level, so closing.

[2020-06-08 16:30] #586 closed

[2020-06-08 16:45] PatReynolds opened #900 "Rebuild the Database"
There are several stories requiring the rebuilding of the database: this epic captures which those stories are, as doing them at one time is more efficient.

[2020-06-08 16:51] #897 closed, assigned to nobody

[2020-06-08 16:59] #811 closed, assigned to richpomfret, Vino-S

[2020-06-08 17:08] rhodamackenzie commented on #864
I have tested this and all appears to be well

[2020-06-09 11:42] PatReynolds commented on #828
Tansferring to Denise.

[2020-06-09 12:20] PatReynolds commented on #864
Searched for surname Alcock, born 1700 to 1800 census counties Lincolnshire and Nottinghamshire,
1841 and 1841 - House number showing, but no records have anything in this field (is this an unwanted field, or just unlucky sample)?

Searching for Alcock in Aberdeen:
Scholar field is not appearing in 1861 or 1871 (Scholar is noted in the Occupation field).

Have not tested for language.

Could not t

[2020-06-09 13:27] richardofsussex commented on #833
[1851-tidied.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4752403/1851-tidied.zip)
[1841-tidied.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4752404/1841-tidied.zip)
[1911-tidied.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4752405/1911-tidied.zip)
[1901-tidied.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4752406/1901-tidied.zip)
[1891-tidied.zip](ht

[2020-06-09 13:42] Captainkirkdawson commented on #833
Thank you @richardofsussex this is most timely as I am just in the process of loading the information into CEN2 having just completed the rake task that ingests the files. In doing so I had noted the odd wart that I was going to have to come back to.
The structure has not been changed I hope.

[2020-06-09 13:47] richardofsussex commented on #833
No, not intentionally. I simply split the data associated with each TNA identifier into a separate Modes (XML) record, and left a 'the child goes here' processing instruction in its place. Then wrote an XSLT transform to pull them all back into a single XML document (for each year). The names are all indexed in Modes, so I could potentially develop a 'place name checking' web service if this would

[2020-06-09 16:07] PatReynolds commented on #803
Emailed Brenda 9/6/2020

[2020-06-09 16:21] PatReynolds commented on #859
![image](https://user-images.githubusercontent.com/6338822/84173767-a2f3be80-aa75-11ea-8661-e536ce66b10a.png)

[2020-06-09 18:55] Captainkirkdawson commented on #833
@richardofsussex

TY for the clarification

I am unconvinced on the need for a separate database or whatever of this information.

The whole purpose of these extracts was to load them into CEN2 where they can be used in a large
 number of different ways.

[2020-06-09 19:28] richardofsussex commented on #833
OK, that's fine.

[2020-06-09 19:55] Captainkirkdawson commented on #833
@richardofsussex we have a problem with the 1851 extraction  in both versions
https://discovery.nationalarchives.gov.uk/browse/r/h/C132814  Islands in the British seas is not extracted effectively . Both extracts have
![islands](https://user-images.githubusercontent.com/2874694/84193737-24892380-aa59-11ea-9644-082e52099783.JPG)

If we can could we extract the specific island to the district/subdis

[2020-06-09 21:39] Captainkirkdawson commented on #833
@richardofsussex
It would appear that you have added year fields to district and subdistrict

[2020-06-09 22:34] richardofsussex commented on #833
1851 islands no problem: I have the original data and will re-process that bit of it.

[2020-06-09 22:36] richardofsussex commented on #833
Year fields: yes, I did that so the year would be available for retrieval in the separate XML records I created in Modes for each TNA id's data. If it's a problem for you, I can write an XSLT to strip them out.

[2020-06-09 22:39] Captainkirkdawson commented on #833
@richardofsussex its no problem can likeley make use of it directly rather than a lookup from the parent.

[2020-06-09 22:41] richardofsussex commented on #833
... which is pretty much the reason why I put them in there! Good.

[2020-06-10 10:10] richardofsussex commented on #833
[1851-tidied-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4757749/1851-tidied-2.zip)
[1851-islands-4.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4757750/1851-islands-4.zip)
@Captainkirkdawson here is a complete replacement for 1851, plus the islands on their own. Let me know if you find other glitches - this is entirely possible!

[2020-06-10 15:30] AlOneill commented on #760
As I work on the text, I am wondering whether "Next Dwelling" and "Previous Dwelling" are the best terms? As I understand it, the buttons show the next or previous "Household", i.e. the next group of people. Dwelling seems a little ambiguous — could be a place/building rather than a household. The Transcriber info (currently) refers to Households as the basic unit.

Maybe this has been discussed a

[2020-06-10 15:52] Captainkirkdawson commented on #760
Never discussed.  Actually it is next or previous building. It may or may not be a dwelling and it may or may not be occupied and there a household. It could be a church or empty building or or or . It is something that the enumerator has entered into the census return

[2020-06-10 16:03] AlOneill commented on #760
I believe it is next Schedule number or building without a schedule number — usually the next household, but sometimes an empty/non-occupied building.

Multiple occupancy (by several household groups) was very common, in the 19th century at least, especially in cities.

[2020-06-10 16:42] AlOneill commented on #760
In other words, a single building (or address) may well have several households, and each household will have its own schedule number. Unoccupied buildings are less common, and the transcriber will use zero as the schedule number for every one of these.

Tricky.

[2020-06-10 18:28] FreecenBren commented on #760
Cannot be Households as they are not always.

Each dwelling/Building can contain people, families, lodgers, boarders
etc., but they can also be a Church, shop, blacksmiths, Doctors,
Dressmakers, Workhouses, Barracks, schools, Hospitals, Inns, Hotels, Boats,
Farms, Carpenters, Stables, Caravans, Shipping, etc, etc,
Researchers are not always looking for people, but are interested in the
Dwellings a

[2020-06-11 16:57] richardofsussex commented on #833
[rg10-overview-9.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4766141/rg10-overview-9.zip)
[rg11-overview-6.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4766142/rg11-overview-6.zip)
[rg13-overview-3.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4766143/rg13-overview-3.zip)
[rg14-overview-6.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4766144/rg14-over

[2020-06-11 23:32] Captainkirkdawson commented on #833
@richardofsussex Can I please ask that you tell me when you change names as I have just noticed that the latest version of 1851 includes a new field name **prenote**. Unfortunately this caused my extraction software to crash.
I would like to start specific year new parms stories as this one is getting fair too many comments

[2020-06-11 23:33] Captainkirkdawson opened #901 "Update New parms for 1841"

[2020-06-11 23:35] Captainkirkdawson opened #902 "Update New parms for 1851"

[2020-06-11 23:35] Captainkirkdawson opened #903 "Update New parms for 1861"

[2020-06-11 23:36] Captainkirkdawson opened #904 "Update New parms for 1871"

[2020-06-11 23:37] Captainkirkdawson opened #905 "Update New parms for 1881"

[2020-06-11 23:38] Captainkirkdawson opened #906 "Update New parms for 1891"

[2020-06-11 23:39] Captainkirkdawson opened #907 "Update New parms for 1901"

[2020-06-11 23:39] Captainkirkdawson opened #908 "Update New parms for 1911"

[2020-06-11 23:42] Captainkirkdawson commented on #833
@richardofsussex The new stories are 901-908 inclusive. Please use those for any new files and I will use them to provide feedback

[2020-06-12 00:36] Captainkirkdawson commented on #901
@richardofsussex
The following is the log file with information on issues found when processing 1841-tidied.xml
[https://app.zenhub.com/files/28748917/026fd035-b8f6-42db-83cb-c74a72b1851d/download](https://app.zenhub.com/files/28748917/026fd035-b8f6-42db-83cb-c74a72b1851d/download)

[2020-06-12 00:40] Captainkirkdawson commented on #902
@richardofsussex
This is the processing log file for 1851 1851-tidied-2.xml
[https://app.zenhub.com/files/28748917/e776697d-5363-4a34-93b1-2343e7ee5b37/download](https://app.zenhub.com/files/28748917/e776697d-5363-4a34-93b1-2343e7ee5b37/download)

[2020-06-12 10:52] AlOneill commented on #760
Thanks @Captainkirkdawson @FreecenBren. So, to summarise, none of the terms Dwelling, Household or Schedule is quite right as they all imply an occupied space: this is not always the case.

I cannot think of a better (concise) term, but perhaps there is one??

(I think Dwelling set me off partly because it puts "Good King Wenceslas" — "… where and what his dwelling" — in my head and partly because

[2020-06-12 14:31] richardofsussex commented on #902
Did you manage to get over the prenote issue? (It isn't that new - I introduced it a few iterations back because you're not allowed to repeat attribute names within an element.) If it's still a problem let me know, and I'll merge prenote and note into a single note attribute. I assume it's not critical info for our purposes anyway.

[2020-06-12 14:37] Captainkirkdawson commented on #902
Thanks @richardofsussex as you say its not a critical field. I only came to notice it while processing 1851 into the database and I had a barf. Have now accommodated it in the parish model so no longer an issue.
WRT the processing log some of the issues may be mine, some may not.

[2020-06-12 15:21] richardofsussex commented on #902
@Captainkirkdawson I've been through your log, and it tallies about 95% with what I picked up in my own tests (which is encouraging). I missed C3762952, which is Beaminster, and the Scilly Isles subdistrict really does have no parishes. There are three 'damaged' entries which ended up without names. The rest I have already got an update file for, and will meld in the updated entries in due course.

[2020-06-12 16:59] richardofsussex commented on #901
OK, I've been through this. Some of the reports were because my Modes data was incomplete while I had the full thing in the XML; others required editing of both to compensate for transfer failures; some were 'as found' in the TNA source. I have the data for the last batch of errors, ready to process.

[2020-06-12 21:17] Captainkirkdawson commented on #901
TY

[2020-06-13 21:22] Captainkirkdawson commented on #902
@richardofsussex
I have reprocessed 1851-tidied-2.xml to correctly process **the Islands in the British seas**. I also updated the ingest software to handle a couple of other issues.
No new issues were located.

[2020-06-13 21:35] Captainkirkdawson commented on #903
@richardofsussex The file rg9-overview-6.xml which you provided as a replacement for 1861-tidied.zip does not have the year in the district and subdistrict fields. Was the removal deliberate?

[2020-06-13 22:55] Captainkirkdawson commented on #903
The following is the log file from the ingest of the rg9-overview-6.xml
[1861_extract_freecen2_parms.txt](https://github.com/FreeUKGen/FreeCENMigration/files/4775630/1861_extract_freecen2_parms.txt)
Pretty clean

[2020-06-13 23:48] Captainkirkdawson commented on #904
@richardofsussex the following is the extract log for 1871 when processing rg10-overview-9.xml
Extremely clean!
[1871_extract_freecen2_parms.txt](https://github.com/FreeUKGen/FreeCENMigration/files/4775667/1871_extract_freecen2_parms.txt)

[2020-06-14 00:37] Captainkirkdawson commented on #905
@richardofsussex This is the ingest log for rg11-overview-6.xml
Extremely clean
[1881_extract_freecen2_parms.txt](https://github.com/FreeUKGen/FreeCENMigration/files/4775696/1881_extract_freecen2_parms.txt)

[2020-06-14 01:19] Captainkirkdawson commented on #906
@richardofsussex the ingest of the 1891-tidied.xml file gave a fair number of errors; I believe you are aware of most of these
[1891_extract_freecen2_parms.txt](https://github.com/FreeUKGen/FreeCENMigration/files/4775721/1891_extract_freecen2_parms.txt)

[2020-06-14 14:04] Captainkirkdawson commented on #907
@richardofsussex the ingest of rg13-overview-3.xml produced the following log information.
Extremely clean
[1901_extract_freecen2_parms.txt](https://github.com/FreeUKGen/FreeCENMigration/files/4776525/1901_extract_freecen2_parms.txt)

[2020-06-14 17:03] Captainkirkdawson commented on #908
@richardofsussex the log from the ingest of rg14-overview-6.xml. There were NO warnings!!!

[1911_extract_freecen2_parms.txt](https://github.com/FreeUKGen/FreeCENMigration/files/4776884/1911_extract_freecen2_parms.txt)

[2020-06-14 22:34] AlOneill opened #909 "Find better terms than "Next Dwelling" and "Previous Dwelling""
These buttons (on a Search Detail page) do not necessarily link to an inhabited/habitable place, i.e. to the next or previous household group, in our census transcript: the "next dwelling" could be church, a business, a factory, etc., or a building under construction or vacant accommodation, etc. Dwelling implies a place that is (or could be) lived in.

The word dwelling as a concrete noun (as a p

[2020-06-14 22:42] AlOneill commented on #760
After further reflection, have opened a new issue to discuss our use of 'dwelling' #909.

Will get back to issue in hand!

[2020-06-15 01:32] Captainkirkdawson commented on #909
I fail to see the need for change; cen1 used "Household" for 20 years. Why cen2 uses Dwelling is beyond my knowledge base. Both are wrong and Entry is even worse as an entry can mean an entry in a vast number of collections.

[2020-06-15 05:57] richardofsussex commented on #903
[1861-update-15-jun.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4778241/1861-update-15-jun.zip)
This version is generated from my Modes data file. The year has been restored. The diff logs (hope you can make sense of them - they are generated by ExamDiff) show the differences in names between the edited XML file and the Modes version attached herewith. One diff log ignores case, as I

[2020-06-15 15:02] Captainkirkdawson commented on #902
@richardofsussex. Have now started to look at the data on line and found a few issues
There is a data extraction issue with a few districts. eg <district tnaid="_C3762924_"  and _C3762909_
Several of the parish names contain an element **Ward: Great Crosby** eg <parish name="Sephton or Sefton Ward: Great Crosby"/>That element should be extracted into a child.
There are also many districts for live

[2020-06-15 15:13] Captainkirkdawson commented on #903
@richardofsussex Had a review of your clean up. Looks OK However the file has the same issue as noted in 1851 for the Districts of Liverpool and Bedford with many (most for liverpool) parishes the  Ward: St Peter element in the parish name eg <parish name="Bedford, Eastern Ward: St Peter" and  <parish name="Liverpool Ward: Lime Street and St Anne's"/>. Can we extract?

[2020-06-15 15:17] Captainkirkdawson commented on #904
@richardofsussex
the file has the same issue as noted in 1851 and 1861 for the Districts of Liverpool and Bedford with many (most for liverpool) parishes the Ward: St Peter element in the parish name eg <parish name="Bedford, Eastern Ward: St Peter" and . Can we extract?
PS This issue is not apparent in 1881-1911

[2020-06-15 16:01] Captainkirkdawson commented on #852
The new set of parms extracted from TNA by @richardofsussex have been loaded into test3.
The process for accessing these parms is described here
https://drive.google.com/file/d/1kUz0pOhnoQaNjVDBuJUT2gORGFRC57FD/view?usp=sharing.
There are a few warts in the data but in most cases it is of high quality.
Parms are there for all counties in England and Wales for all years  1841-1911.
The next step is

[2020-06-16 12:29] richardofsussex commented on #902
@Captainkirkdawson would you prefer these to be encoded as `<ward>` or as `<hamlet type="ward">`?

[2020-06-16 12:42] DeniseColbert commented on #341
Would it be possible if we required a forename?

[2020-06-16 13:50] richardofsussex commented on #902
... or `<township type="ward">`?

[2020-06-16 13:55] Captainkirkdawson commented on #902
@richardofsussex  encoded as `<ward>` please

[2020-06-16 14:07] richardofsussex commented on #902
Sorry: I can't tell which option you want, since the comment swallowed your markup!! (Use the `<>` insert code toolbar button to escape it)

[2020-06-16 14:44] richardofsussex commented on #904
I don't find the string 'Ward:' anywhere in the 1871 XML source, nor in the indexed parish names in Modes. Looking at the first few Liverpool records, I think they just recorded less detail than for the previous two censuses. Can you provide a specific example, so I can look up the original on the TNA site? Thanks.

[2020-06-16 14:55] Captainkirkdawson commented on #902
Updated comment; sorry about that

[2020-06-16 15:02] Captainkirkdawson commented on #904
You are absolutely correct it does not exist in 1871. My apologies too many files opens at once. Issue is restricted to 51 and 61
Again my bad

[2020-06-16 15:37] richardofsussex commented on #905
[1881-modes-2a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4787521/1881-modes-2a.zip)
Here is an updated output from Modes, with some tidying-up of parish etc. names (removal of comments from names, mostly). Checked your log - no transcription/conversion errors there.  Can we sign this one off?

[2020-06-16 15:44] richardofsussex commented on #903
[1861-modes-2b.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4787570/1861-modes-2b.zip)
Tidied up the ward issue and re-generated the output. Please check.

[2020-06-16 15:57] richardofsussex commented on #904
[1871-modes-2b.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4787648/1871-modes-2b.zip)
Once again, an updated Modes output for you to check and, hopefully, sign off.

[2020-06-16 16:47] richardofsussex commented on #906
[1891-modes-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4787919/1891-modes-2.zip)
A couple were in the source: I have addressed the rest.  Again, I hope this batch can now have a line drawn under it.

[2020-06-17 08:03] richardofsussex commented on #907
[1901-modes-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4791107/1901-modes-2.zip)
First two log errors were 'missing at transfer'; the third was a (rare) inconsistency in the source syntax (it was Neath). The attached update fixes this and a handful of other tiny errors. Ready for sign-off?

[2020-06-17 08:45] richardofsussex commented on #908
[1911-modes-2a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4791289/1911-modes-2a.zip)
Trailing spaces trimmed from a few names; 'ESB MISSING' notes no longer recorded as parish names (which will lead to a few warnings!). I'm now happy with this.

[2020-06-17 11:05] geoffj-FUG commented on #852
Kirk
Looks good.
I have a question. I presume we are looking at a .csv version of the PARMS. How is the actual file formatted. Is it a table / array?
I ask because we are going to test the Civil Parish in the transcriptions against the PARMS. As it is presented at the moment we would be searching on a sub-string. When I downloaded the files that were previously available from Richard and transferr

[2020-06-17 11:10] richardofsussex commented on #902
[1851-modes-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4792058/1851-modes-2.zip)
Dealt with the missing wards, plus some other minor tidy-ups. Is it OK now?

[2020-06-17 11:33] richardofsussex commented on #901
Within e.g. C3760753 I find entries such as:

I assume that everything following "Divided" is a `<note>`, so that only Kennington should be recorded as a township. Do you agree?

[2020-06-17 12:29] richardofsussex commented on #901
[1841-modes-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4792443/1841-modes-2.zip)
Updated with missing parishes added; divided parishes recorded as notes.

[2020-06-17 14:53] Captainkirkdawson commented on #852
@geoffj-FUG
The files from Richard are not csv but xml
They are ingested into CEN2 are linked database collections are created for each Districts, Subdistricts, and Civil Parishes with the District keyed to the Chapman Code.
**Is there the need for any download?????** and if so what. Don't tell me ctyParms. What is the actual requirement?
CSVProc use of these tables remains to be done.

[2020-06-17 15:40] Captainkirkdawson commented on #881
@geoffj-FUG @FreecenBren @rhodamackenzie
We need to establish a file naming convention for CSV file uploads to CEN2. These files will not be processed into CEN1 so CEN1 limitations and structure do not need to be imposed.
The piece number field is now a string NOT an integer
The naming convention needs to support all countries including Ireland.
The naming convention needs to support multiple file

[2020-06-17 22:42] Captainkirkdawson commented on #901
@richardofsussex yes to your note 1 above

[2020-06-18 16:37] Captainkirkdawson commented on #901
@richardofsussex
Processed  1841-modes-2 on my local server
There were a few eliminations in the processing log which was good
[1841_extract_freecen2_parms.txt](https://github.com/FreeUKGen/FreeCENMigration/files/4799829/1841_extract_freecen2_parms.txt)

This time I extracted all the names that did not match with the Place Gazette we use in REG which has 50,000 entries.
The attached xlxs file has

[2020-06-18 23:07] Captainkirkdawson commented on #902
@richardofsussex The ward extraction has caused us to loose the piece number ie name
[code]

[2020-06-19 10:23] richardofsussex commented on #902
[1851-modes-2.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4803983/1851-modes-2.zip)
This should fix that issue.

[2020-06-19 11:27] richardofsussex commented on #901
I see that the CHS entries are C3760862 and C3760863. If you want, I can split them into separate `<parish>` fields: please advise. I've dealt with the hamlets (including a few I found in sub-parishes) and the township.
Yes, I think it makes sense for FreeCEN to be able to tidy up the result freely, given the nature of the source and our reliance on consistent recording practice.

[2020-06-19 14:32] Captainkirkdawson commented on #901
@richardofsussex yes please split those into separate parishes.
Will activate the edit capability.

[2020-06-19 14:43] richardofsussex commented on #901
[1841-modes-2a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4805179/1841-modes-2a.zip)
OK, here is the updated 1841 file.

[2020-06-20 07:26] geoffj-FUG commented on #881
Kirk et al
I am comfortable with the 3 part underscored solution.
England and Wales would be for instance RG10_1234_a (1871)

Or HO107_1234_a (1851)

OR HO107_234_a (1841)

Ireland would be ANT01_123_a (1901)

ANT11_123_a (1911)

Though I doubt the a, b etc will be used as the Coordinator can break up the DEDs into Townlands which are themselves small.
Now Scotland has me completely miffed. They h

[2020-06-20 07:29] geoffj-FUG commented on #852
Kirk
There is no need for a download as far as I can see. However there needs to be a process to edit corrections.
For integrities sake I see this as being centralised so that when a correction is done we do advise National Archives of the need.
Geoff

[2020-06-20 09:03] richardofsussex commented on #908
I am working on a document which describes the conversion process in detail, so that when 2022 comes along there is some hope that we might be reminded how to do this for the 1921 census. In the course of this I am re-processing 1911. In the process I have improved the conversion to pick up a handful of additional subdistrict names. I also notice that the source data has changed: "Lady Woon" in Bi

[2020-06-20 22:08] Captainkirkdawson commented on #908
The database collections must have an entry in the name field so either you or I will have to create a name field for the districts in Royal Navy and Military.
The islands do not have a subdistrict name; in the present ingest I use the district name.
I suggest in place of RD640 we use Royal Navy and for RD641 we use Military

[2020-06-21 00:51] Captainkirkdawson commented on #852
Thank you @geoffj-FUG
I agree on the need for an edit capability. I also agree on the need for centralized control and this should likely be the Data Managers

[2020-06-21 00:57] Captainkirkdawson commented on #90
There is no apparent need for a download
Geoff has said in the main epic
There is no need for a download as far as I can see.
Suggest this be closed

[2020-06-21 00:59] Captainkirkdawson commented on #800
Suggest this be closed as we have now downloaded all of TNA information

[2020-06-21 01:05] Captainkirkdawson commented on #881
@geoffj-FUG since we have no material for Scotland the question is academic for CSV files which are the only ones that will use this system
Will proceed to amend the ingest code for TNA to follow the proposed sructure

[2020-06-22 08:13] richardofsussex commented on #908
[Procedure for extracting structured parms data from TNA.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4812007/Procedure.for.extracting.structured.parms.data.from.TNA.zip)
Here is an updated 1911 file, together with instructions (and XSLT transforms) ready for next time.
[1911-level5-5.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4812021/1911-level5-5.zip)

[2020-06-23 08:32] ModesDevelopment commented on #908
[1911-level5-5a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4818123/1911-level5-5a.zip)
[Procedure for extracting structured parms data from TNA.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4818124/Procedure.for.extracting.structured.parms.data.from.TNA.zip)
With apologies: yesterday's effort didn't renumber Army and Navy districts and subdistricts to keep them distinct (b

[2020-06-23 13:38] Captainkirkdawson commented on #908
TY

[2020-06-27 22:16] Captainkirkdawson commented on #907
@richardofsussex
Have looked in more detail and note that Yorkshire appears to be one county now not the 3 separate ridings.
However what is much more important is that we appear to be missing 200 pieces for Yorkshire.
From RS 13/4416 to RS 13/4613. They are on TNA

[2020-06-28 13:11] richardofsussex commented on #907
OK, I'll have a look when I get time.

[2020-06-28 15:34] Captainkirkdawson commented on #907
Thx @richardofsussex just one additional piece of info. There are exactly 400 pieces in Yorkshire at present.

[2020-06-28 15:40] Captainkirkdawson commented on #901
TY Completed

[2020-06-28 15:41] Captainkirkdawson commented on #902
TY Completed

[2020-06-28 16:01] Captainkirkdawson commented on #903
@richardofsussex
The last set of pieces 4443- 4540 are not included. They are for
Subseries within RG 9  Royal Navy at sea and in ports abroad
Subseries within RG 9 Shipping at sea and in ports abroad
Subseries within RG 9 British Ships in home ports
Subseries within RG 9 LONDON
Since some of these have been transcribed for CEN1 we really need to have them included.

[2020-06-29 11:15] richardofsussex commented on #907
Putting the three Ridings together is something TNA have chosen to do - nothing we can do about that. In the process, they created an uber-county containing more than 30 Districts.  Only the first 30 were picked up by the (old) District extraction script because that's the default search result limit. I have now grabbed the remainder and will process them.

[2020-06-29 12:03] richardofsussex commented on #907
[rg13-overview-4a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4845321/rg13-overview-4a.zip)
Updated 1901 result.

[2020-06-29 12:54] richardofsussex commented on #903
Many if not all of these seem to have been recorded elsewhere: "Description available at other catalogue level."  I can pick up the piece numbers, but I'm not sure what else of value can be extracted. (Exception: RG9/4540 does have a long list of London Districts/Subdistricts, and for the ships in home ports we get the port name, e.g. Limehouse.)

[2020-06-29 13:47] Captainkirkdawson commented on #907
Thanks @richardofsussex

[2020-06-29 13:54] Captainkirkdawson commented on #903
@richardofsussex It will be helpful to extract the details for London as for the others just use the Subseries title as the County, district and subdistrict names so we have the same basic structure to link to the piece numbers. Thats what was done for CEN1

[2020-06-29 14:40] richardofsussex commented on #903
[rg9-shipping-1.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4846174/rg9-shipping-1.zip)
How does this look for the shipping?

[2020-06-29 15:07] richardofsussex commented on #903
[rg9-london-1.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4846339/rg9-london-1.zip)
... and this for London?  I'll merge them into my Modes file and generate a complete set for 1861.

[2020-06-29 16:08] richardofsussex commented on #903
[rg9-overview-8a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4846659/rg9-overview-8a.zip)
How's this?

[2020-06-29 16:10] Captainkirkdawson commented on #903
@richardofsussex Thx; shipping looks good. London fine except lower case b  on
[code]

[2020-06-29 16:15] richardofsussex commented on #903
Noted: I have corrected this in my source. Do you want a refreshed version or will you hand-edit it?

[2020-06-29 17:02] Captainkirkdawson commented on #903
@richardofsussex Given that I have tried to avoid making changes to files you have prepared and that I may disappear tiss best if the original file is here

[2020-06-29 17:32] richardofsussex commented on #903
[rg9-overview-8a.zip](https://github.com/FreeUKGen/FreeCENMigration/files/4847098/rg9-overview-8a.zip)
No problem - here it is.

[2020-07-02 21:53] Captainkirkdawson commented on #907
Completed for now; suggest it be closed

[2020-07-02 21:54] Captainkirkdawson commented on #903
Completed for now. Suggest it be closed.

[2020-07-02 21:55] Captainkirkdawson commented on #904
Completed for now. Suggest it be closed

[2020-07-02 21:55] Captainkirkdawson commented on #905
Completed for now. Suggest it be closed

[2020-07-02 21:56] Captainkirkdawson commented on #905
Completed for now. Suggest it be closed

[2020-07-02 21:57] Captainkirkdawson commented on #908
Completed. Suggest it be closed

[2020-07-02 21:59] Captainkirkdawson commented on #896
Code added. Deployed to test3

[2020-07-02 22:02] Captainkirkdawson commented on #833
This is closed

[2020-07-02 22:02] #833 closed, assigned to Captainkirkdawson, Vino-S

[2020-07-02 22:11] Captainkirkdawson commented on #893
Have implemented a Freecen2Place collection based on The REG place collection of 49000 records.
Have implemented a Freecen2District Collection that belongs to the place collection.
Have implemented a Freecen2Piece Collection that belongs to the district.
Have implemented a Freecen2CivilParish Collection that belongs to a piece.
All TNA extracts have been loaded into these collections and will serv

[2020-07-02 22:12] Captainkirkdawson commented on #859
Permission to access all counties added for Executive Director

[2020-07-02 22:15] Captainkirkdawson commented on #881
Revised file naming implemented and deployed to test3

[2020-07-02 22:16] Captainkirkdawson commented on #884
New parms and file naming structure will support Irish census documents

[2020-07-02 22:20] Captainkirkdawson commented on #121
Ready to restart testing on test3.

[2020-07-02 22:21] Captainkirkdawson commented on #858
Completed and deployed to test3

[2020-07-04 23:24] Captainkirkdawson commented on #893
@PatReynolds @richpomfret @geoffj-FUG @FreecenBren
To summarize. We no longer talk about a or b pieces where a and b have the meanings used in CEN1.
We have instead a number of distinct collections,. All these collections have names that incorporate Freecen2; (the purpose of this is to enable the collections associated with Cen1 coexist with the new structure for CEN2 CSV files. )
At the top we ha

[2020-07-04 23:39] Captainkirkdawson commented on #848
The new file naming scheme permits parts
File naming in CEN2#881
No further components are required.
This can be closed

[2020-07-04 23:41] Captainkirkdawson commented on #877
There will be NO amending of pieces under Freecen2 parms

[2020-07-06 11:46] PatReynolds commented on #864
Tried a search for Smith born 1800 to 1901 on the 1901 and 1911 censuses.  results - nothing found.

Are there any records to be found?

[2020-07-06 11:46] #405 closed

[2020-07-06 11:48] PatReynolds commented on #760
What is the action for me, please, or is this still waiting for a decision on 'Dwelling' or alternative term?

[2020-07-06 11:59] PatReynolds commented on #356
Revisiting this story I found two pages called Information for Transcribers on test3.  One in the structure, one at the bottom.  I have added DRAFT to the name of the latter, assuming it's a draft.  My apologies, that was probably me forgetting to do that!

[2020-07-06 13:45] AlOneill commented on #356
If you take a deeper look, @PatReynolds , I think you'll find the page at the bottom is marked up as a single paragraph and is David's revised page (removing refs to Syndicates). The **text** is OK but it is useless as a web page without the markup.

[2020-07-06 14:41] Captainkirkdawson commented on #864
There are no records for 1901/1911 yet loaded into the database

[2020-07-06 16:08] PatReynolds commented on #828
@Pat to ask Geoff

[2020-07-06 16:14] #903 closed, assigned to richardofsussex, Captainkirkdawson

[2020-07-06 16:14] #906 closed, assigned to richardofsussex, Captainkirkdawson

[2020-07-06 16:14] #901 closed, assigned to richardofsussex, Captainkirkdawson

[2020-07-06 16:14] #902 closed, assigned to richardofsussex, Captainkirkdawson

[2020-07-06 16:14] #907 closed, assigned to richardofsussex, Captainkirkdawson

[2020-07-06 16:14] #905 closed, assigned to richardofsussex, Captainkirkdawson

[2020-07-06 16:16] richpomfret commented on #896
@geoffj-FUG if you have tested this, can you confirm and comment here.

[2020-07-06 16:16] #898 closed, assigned to nobody

[2020-07-06 16:21] richpomfret commented on #881
Closing - Ireland is a separate parms story.

[2020-07-06 16:21] #881 closed, assigned to nobody

[2020-07-06 16:22] #858 closed, assigned to nobody

[2020-07-06 16:29] PatReynolds commented on #878
@PatReynolds  to do some thinking

[2020-07-06 16:49] #904 closed, assigned to richardofsussex, Captainkirkdawson

[2020-07-06 16:49] #908 closed, assigned to richardofsussex, Captainkirkdawson

[2020-07-06 16:53] #820 closed, assigned to geoffj-FUG

[2020-07-06 16:56] #90 closed

[2020-07-06 16:57] PatReynolds commented on #803
@PatReynolds  to talk to @geoffj-FUG about using the CSV conversion tool he is working on, and then upload using the new tools - will be a good test of the tool, and a good test of the new tools.  As well as cleaning the data.

[2020-07-06 16:57] #800 closed, assigned to nobody

[2020-07-06 16:59] #848 closed, assigned to nobody

[2020-07-06 17:01] #794 closed, assigned to PatReynolds

[2020-07-06 17:03] richpomfret commented on #760
@AlOneill any update on this one (or if Pat needs to do anything?).

[2020-07-07 10:20] PatReynolds commented on #803
Emailed Geoff 7/7/2020

[2020-07-07 21:51] Captainkirkdawson opened #910 "Make the entry edit census sensitive"
Currently the csv entry edit includes all fields for all census years

Geoff correctly notes we should only include those fields relevant to the year

[2020-07-07 23:04] Captainkirkdawson opened #911 "Establish a long term Parms correction process"
2/ Recruit specialit
1/ Coding task

[2020-07-10 07:32] geoffj-FUG commented on #896
Rich

I have now tested the broad functionality of CSVProc using 1871 and have extended this to the other years (I expect the same results but it has to be done). This all looks OK. Any problems can be handled within the testing regime.

This story can therefore be closed.

Geoff

From: Rich Pomfret <notifications@github.com>
Sent: Tuesday, 7 July 2020 2:17 AM
To: FreeUKGen/FreeCENMigration <FreeC

[2020-07-11 01:03] Captainkirkdawson opened #912 "Check fields against spreadsheet"

[2020-07-11 01:05] Captainkirkdawson commented on #912
Error if missing field

[2020-07-11 23:40] Captainkirkdawson commented on #912
@geoffj-FUG

First cut of checking of field headers has been deployed to test3.

Still have to add fine tuning for Channel Islands;

Note that there may be an issue with the language field as we do not currently distinguish between England and Wales

[2020-07-12 04:20] Captainkirkdawson commented on #912
@geoffj-FUG
There are 2 ways of dealing with language.

We create Wales spreadsheets that include language for the appropriate years

We detect that it is an english county and do not expect a language field

[2020-07-12 06:53] geoffj-FUG commented on #912
Kirk

That sounds good. I now understand.

Isle of Man uses England and Wales spreadsheets and has language too. Is that covered?

Geoff

[2020-07-12 14:47] Captainkirkdawson commented on #912
Sorry @geoffj-FUG I was less than clear. What my posting was meant to provide was an either or

**Either** we introduce spreadsheets for Wales for the years 1891-1911 and IOM for 1911 **or**  they and England use the existing spreadsheets but we do not require English counties to have the language field.

[2020-07-12 15:22] Captainkirkdawson commented on #912
@geoffj-FUG I have programmed the or option **we do not require English counties to have the language field**

[2020-07-12 22:23] geoffj-FUG commented on #912
Kirk

I am quite happy with the English counties not required to populate the language field.

I am comfortable with where we were at. I just needed to understand.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Monday, July 13, 2020 12:48 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@norepl

[2020-07-12 22:24] geoffj-FUG commented on #912
Kirk

Sounds Good

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Monday, July 13, 2020 1:23 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Check fields against spreadsheet (#912)

@geoffj-FUG <https://github.com/geoffj-FUG>  I hav

[2020-07-15 14:49] Captainkirkdawson opened #913 "Use of '- instead of - in legacy files"
@geoffj-FUG said
 I have a query
I have been converting old pieces this evening and uploading them.
Because of the predilection of Excel to change a – to a formula instructions were given to put a ‘ before the -. (i.e. ‘_) to prevent the formula occurring, as it changed the cell to a text cell.
Does this affect uploading on FreeCEN2?
I ask because in the example below all the ‘- have come out as e

[2020-07-15 14:50] Captainkirkdawson commented on #913
Absolutely the marital status is a single character not 2.

Why was this done? the column could have been declared as text or the entry quoted

What do you want to do?

Does it only apply to Marital? What about sex it can also be -

[2020-07-15 14:51] Captainkirkdawson commented on #913
Kirk

It applies to them all

It was done because transcribers kept getting formulae in their spreadsheets whilst they were transcribing.

.csv files do not retain their formatting. They lose it when the file is closed. If the column was designated text or number it gets removed.

I will need to apply some grey matter to this one.

I will also have to start making some notes about legacy files.

G

[2020-07-15 14:53] Captainkirkdawson commented on #911
geoff.jarvis@freeukgenealogy.org.uk
Tue, 7 Jul, 04:25 (8 days ago)
to Kirk

Kirk

I have picked up two errors in the PARMS. The civil parish is incorrect on the TNA site for both

See row 2706. The correct name is Foxcote. The TNA have Forscote. I have checked the Gazetteer and no Forscote exists.

See row 3063. The correct name is Buckland Dinham. The TNA have Buckland Denham. I have checked the

[2020-07-15 14:53] Captainkirkdawson commented on #911
Kirk Dawson <kirk.dawson.bc@gmail.com>
7 Jul 2020, 16:46 (8 days ago)
to Pat, Richard, Geoff, Kirk

Geoff,  Pat and Richard

This is an interesting one and likely will be around for some time

I suggest that possible errors such as these be referred to the FreeCEN data manager who confirms that there is indeed an error.

If so that person requests that a system manager corrects the error online an

[2020-07-15 14:54] Captainkirkdawson commented on #911
I am more than happy for us to have a means of correcting place names in our PARMS.  Apart from straightforward errors in the TNA source data like the two Geoff has found, there is the possibility that my parsing of the source data will have 'got it wrong', leading to nonsensical 'names'.

Where the TNA data is agreed to be in error, I would suggest adding a Note 'recorded as X by TNA' so the orig

[2020-07-15 14:54] Captainkirkdawson commented on #911
geoff.jarvis@freeukgenealogy.org.uk
8 Jul 2020, 04:39 (7 days ago)
to Richard, Pat, me, Kirk

Richard

I use teo. Genuki and the England Gazetteer at https://www.gazetteer.org.uk/ (This has 19th Century Parishes.

In this case I used the England Gazetteer.

Having been validating for about 12 years I also knew it was wrong and what it should be but I did verify it in case there were 2 versions of

[2020-07-15 14:55] Captainkirkdawson commented on #911
Geoff,

Neither of these sites is particularly helpful for automated checking, being traditional search facilities where you have to run one search at a time and gaze in wonder at the results.  It's a pity that neither site has an API.

I tried Buckland Dinham in GenUKI and in fact it did come up with both spellings:

https://www.genuki.org.uk/gazetteer?place=Buckland%20Dinham&county=-1&search_typ

[2020-07-15 22:43] geoffj-FUG commented on #913
Kirk

I have included a note about not using ‘- in the instructions for FreeCEN2.

However the problem will need to be resolved with legacy files.

Still thinking about that. I have noted the Story in my Testing CSVProc Record for follow up.

[2020-07-15 23:21] Captainkirkdawson opened #914 "Unoccupied tests"
somt.cen/rg10_2377_b.csv processed at 2020-07-13 11:21:43 +0100 with errors over period
Testing unoccupied_flag (in Red below)

Row 10 OK

Row 11 special b not reported

Row 12 OK

Row 13 Special n not reported

ERROR: line 10 Schedule number is blank and not a page transition.
Warning: line 10 has special u but no schedule number.
ERROR: line 11 Schedule number is blank and not a page transition.

[2020-07-15 23:23] Captainkirkdawson opened #915 "Years Married Tests"
We need a set of rules here. (Similar to age)I have based them on age so you may be able to copy and paste the code and edit it.

My instructions now say:

Field name                     years_married

Column Contains              Years Married

Year/s Used                        1911 only

What Can Be Entered        Number or Complex number or blank

Description and Rules      Enter the value as

[2020-07-15 23:28] Captainkirkdawson opened #916 "Folio tracking"
Folio numbers are not being tracked.

 somt.cen/rg10_2377_a.csv processed at 2020-07-13 11:12:05 +0100 with errors over period

I missed folio 6 and put 4 pages on folio 7.

The gap needs to be reported similarly to pages.

A folio can only have 2 pages on it. Folio 7 has 4. It needs to be reported.

Both instances should be Warnings.

A folio consists of two pages back to back. So the number shou

[2020-07-15 23:32] Captainkirkdawson opened #917 "Marital Status"
somt.cen/rg10_2377_e.csv processed at 2020-07-15 12:25:42 +0100 with errors over period -
Marital status

I put the following sequence from Row 1 to Row 12

M

s

u

w

d

-

A

b

c

D

W

Rows 1 – 6 were valid entries and so no report – Correct

Row 7 is a – This is not valid on FreeCEN2 but was on FreeCEN1. I am happy to amend the instructions.

Row 8 is an A did not report despite it not being

[2020-07-15 23:33] Captainkirkdawson opened #918 "Age"
Kirk

Age works well. However it does not accept 1y (see line 22)

All other entries come up as expected.

Geoff

From: Test FreeCEN Servant <freecen-contacts@freecen.org.uk>
Sent: Wednesday, July 15, 2020 9:37 PM
To: Geoff Jarvis <geoff.jarvis@freeukgenealogy.org.uk>
Cc: Geoff Jarvis <geoff.jarvis@freeukgenealogy.org.uk>
Subject: somt.cen/rg10_2377_e.csv processed at 2020-07-15 12:37:11 +0100 wit

[2020-07-17 14:52] Captainkirkdawson commented on #917
@geoffj-FUG

Validation accepts  m,  s, u, w, d, - or blank
test is NOT case sensitive

I suggest you amend instructions

[2020-07-17 15:21] Captainkirkdawson commented on #914
@geoffj-FUG
Corrected (I think)

[2020-07-17 15:35] Captainkirkdawson commented on #916
@geoffj-FUG

Have activated the warning on a folio skip

Do not know at this point how i would deal with the count of page test as to all intents each line is an entity on its own. CSV Proc uses prior value tracking for specific fields but the proposed test would require a matrix of prior values

[2020-07-17 21:23] Captainkirkdawson commented on #918
@geoffj-FUG Corrected and deployed to test3

[2020-07-17 22:39] geoffj-FUG commented on #917
Kirk

I have added a note in the instructions re case sensitivity.

My concern is the handling of the -. The instructions in FreeCEN1 allow for it. The instructions in FreeCEN2 do not.

How do you want to handle it?

Geoff

[2020-07-17 22:44] geoffj-FUG commented on #916
Kirk

I think a Folio skip should cover us OK. It has the same effect.

Whenever I got the old warning of too many pages it was because of a folio skip.

I will mark it as resolved.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Saturday, July 18, 2020 1:36 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Assi

[2020-07-17 22:53] geoffj-FUG commented on #915
Kirk

I have made a slight change to the notes at the end. I have added In this case set a flag so that the doubt is highlighted to the researcher.

It does not affect your coding.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Saturday, July 18, 2020 8:18 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Assig

[2020-07-17 23:09] Captainkirkdawson commented on #915
@geoffj-FUG validation added and deployed to test3

[2020-07-18 01:02] Captainkirkdawson commented on #917
@geoffj-FUG  CEN2 is happy with the -

[2020-07-18 01:03] #916 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-07-18 02:27] Captainkirkdawson commented on #910
Edit is census sensitive; need to add validation

[2020-07-18 10:44] geoffj-FUG commented on #914
Kirk

The problem was the entries without schedule numbers that were not reported. They test OK now.

The items in red should be Info not warnings as they are correct.

Geoff

[2020-07-18 14:35] Captainkirkdawson commented on #914
@geoffj-FUG Hope I have got it right this time; deployed to test3

[2020-07-18 14:37] Captainkirkdawson commented on #852
Edit capability to be added

[2020-07-18 21:52] Captainkirkdawson commented on #910
@geoffj-FUG Validation added. in addition to census sensitivity.
Only individual information is permitted for on-line editing. Census location, Folio/Page and dwelling information must be changed off line because of need for propagation.
Ready for review on test3

[2020-07-19 00:48] #874 closed, assigned to nobody

[2020-07-19 00:50] #864 closed, assigned to Captainkirkdawson, PatReynolds, rhodamackenzie

[2020-07-19 00:51] #873 closed, assigned to nobody

[2020-07-19 00:51] Captainkirkdawson commented on #873
Completed

[2020-07-19 00:57] Captainkirkdawson commented on #868
Unable to duplicate

[2020-07-19 00:57] #868 closed, assigned to nobody

[2020-07-19 14:09] Captainkirkdawson opened #919 "Check for possible duplication on processing a file with a suffix into the database"

[2020-07-20 11:49] geoffj-FUG commented on #914
Kirk

Another glitch

If I put data on the same row as a flag (u, b, n, but not v) into fields after the address then we need an error that individual information cannot be included in a vacant dwelling.

With the same test but a v is recorded we need a warning that that an individual is recorded who was away on census night.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Saturday, Jul

[2020-07-20 15:46] rhodamackenzie commented on #820
Sorry I can’t make tonight as daughters birthday party
Rhoda

Sent from my iPhone

On 6 Jul 2020, at 17:53, PatReynolds <notifications@github.com> wrote:

﻿
CAUTION: External email. Ensure this message is from a trusted source before clicking links/attachments.

Closed #820<https://github.com/FreeUKGen/FreeCENMigration/issues/820>.

—
You are receiving this because you were mentioned.
Reply to thi

[2020-07-20 16:05] #896 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-07-20 16:12] PatReynolds commented on #803
Pat to choose one and use the tool to upload as a way of finding the issue.

[2020-07-20 16:39] PatReynolds commented on #911
@PatReynolds to write a role description (and where to recruit).

[2020-07-20 16:59] PatReynolds commented on #86
Pat to work with Geoff on recruiting / trainig coords for testing.

[2020-07-21 13:41] #917 closed, assigned to geoffj-FUG

[2020-07-23 15:42] Captainkirkdawson commented on #914
Fixed on text3

[2020-07-24 08:56] PatReynolds commented on #803
Asked Brenda for smallest available file 24/7/2020

[2020-07-24 09:21] PatReynolds commented on #893
For clarifciation - my understanding is:
Search will be by County and then by  Freecen2Places ?
Place of Birth search will be by Country*/county/freecen2Places??
(*country being the chapman codes, including Overseas, etc., and including 'Scotland', 'Wales', 'Ireland' as requested in story #594?)

Search results will show FreeCEN2 place as "census place" (i.e. not FreeCEN2District or FreeCEN2Piece

[2020-07-24 09:57] PatReynolds commented on #893
How do the new proposed collections relate to the four collections mentioned earlier - are they a sub-set, or do they represent a replacement set of collections?

[2020-07-24 15:18] Captainkirkdawson commented on #893
@PatReynolds there is no change in the search proposed or required of this structural implementation. It permit VLD and CSV to coexist. It prepares the ground work for changes to be made in the future.
For census it remains as it is now County / piece name.
For birth it remains country/county with no ability to do country wide searches.
For now the search result will show what it does now; the pie

[2020-07-25 23:51] Captainkirkdawson commented on #912
geoff.jarvis@freeukgenealogy.org.uk
06:13 (11 hours ago)
to Kirk

Kirk

I am now happy with the way that spreadsheets are examined and tested for correct year when uploaded.

I am also happy with the way that language is handled.

Story 912 can be closed.

Geoff

[2020-07-25 23:51] Captainkirkdawson commented on #912
Leaving open as we still need to validate Scotland and Ireland

[2020-07-26 10:25] geoffj-FUG commented on #912
Kirk

OK, that makes sense

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Sunday, July 26, 2020 9:52 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Check fields against spreadsheet (#912)

Leaving open as we still need to validate

[2020-07-30 15:14] Captainkirkdawson commented on #914
Geoff is now satisfied so closing

[2020-07-30 15:14] #914 closed, assigned to geoffj-FUG

[2020-07-30 15:14] Captainkirkdawson commented on #915
Geoff is now satisfied so closing

[2020-07-30 15:14] #915 closed, assigned to Captainkirkdawson, geoffj-FUG

[2020-07-30 15:42] #863 closed, assigned to Captainkirkdawson

[2020-07-30 15:43] #860 closed, assigned to Captainkirkdawson

[2020-08-01 18:05] Captainkirkdawson commented on #866
@geoffj-FUG Added mouseover to all actions and deployed to tets3
Also made a number of clean up changes including making links have buttons in almost all cases

[2020-08-01 18:07] Captainkirkdawson commented on #253
Duplicate of #866 which has been actioned

[2020-08-01 18:07] #253 closed

[2020-08-02 08:29] geoffj-FUG commented on #866
Kirk

Mouseover works well.

What happened to editing? Is that now all off line?

Geoff

[2020-08-02 08:31] geoffj-FUG commented on #866
Kirk

Got it

Makes sense. Show the error messages and warnings and edit there. Less confusing.

Geoff

[2020-08-02 14:33] Captainkirkdawson commented on #866
The edit of an entry is still there but is only apparent when the entry is
being displayed. I was concerned about people going straight to an edit
without first looking at the entry they were about to eidt.

Perhaps I am being over cautious but!!!! If you think the action should
appear earlier it is trivial to add.

The edit of the file header  has been moved to a coordinator level action.
The onl

[2020-08-02 21:47] geoffj-FUG commented on #866
Kirk

I agree with both of those amendments.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Monday, August 3, 2020 12:34 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] 167220533 Action Mouseovers (Geoff) (#866)

The edit of an ent

[2020-08-03 16:47] #859 closed, assigned to Captainkirkdawson

[2020-08-03 16:47] #601 closed

[2020-08-03 16:48] #603 closed

[2020-08-03 16:50] #893 closed, assigned to Captainkirkdawson, PatReynolds

[2020-08-03 16:50] #912 closed, assigned to Captainkirkdawson

[2020-08-03 16:50] #866 closed, assigned to Captainkirkdawson

[2020-08-03 17:11] PatReynolds opened #920 "View dwellings feature/search"
For historians of place (house histories, village histories and the like), FreeCEN1 is useful because you can search without a name.  Since this data is held in the hierachical place structure, would it be possible to create a display that was based on county>civil parksh> street or dwelling ?

[2020-08-03 17:29] AlOneill commented on #760
@PatReynolds @richpomfret Am back on this now — don't think I have questions but will let you know if anything crops up! (Was muted in Scrum and missed the opportunity to say something then.)

[2020-08-03 20:56] AlOneill commented on #760
@PatReynolds The two DRAFT pages, [**Help**](https://test3.freecen.org.uk/cms/draft-help) and [**Help with citations**](https://test3.freecen.org.uk/cms/draft-help/draft-help-with-citations) are ready for review.

[2020-08-04 15:08] Captainkirkdawson commented on #816
As a first step a text index of the place_name field in the freecen2_place collection has been created on test3.
A standalone search place action has been written and accessed by the **SEARCH PLACE NAME** action available to **all members**.
The text search is case insensitive; ignores stop words (eg a I the you me an), and reduces words to their root, base or .. well .. **stem**.
If multiple word

[2020-08-10 08:37] PatReynolds opened #921 "Add text on Accessibility to FreeCEN 'About'"
Working on the FreeBMD 'About' page I noticed that the accessibility statement (from FreeREG) is not on FreeCEN yet.

[2020-08-10 16:06] AlOneill opened #922 "Move full version of 'Help with citations' to the 'About' page."
To match the organisation on REG and BMD.

[2020-08-10 16:09] AlOneill commented on #760
@PatReynolds Will move full version to 'About' page, as per the REG and BMD.

[2020-08-10 16:10] AlOneill commented on #922
Closing as is duplicate

[2020-08-10 16:10] #922 closed, assigned to AlOneill

[2020-08-10 17:09] PatReynolds commented on #911
Having discussed with @richardofsussex - @PatReynolds to talk to TNA about us feeding back / sharing linked data; it would be good to know when recataloguing takes place, but we will not necessarily take any action.  @PatReynolds to talk to  other holders of census records to see how their cataloguing data (perhaps not visible to the public) is structured, and if we can use it / return it as linke

[2020-08-11 11:57] PatReynolds commented on #828
contacted 11/8/2020

[2020-08-14 23:01] Captainkirkdawson opened #923 "Handling of the hyphen - in the Verbatim POB"
If the Verbatim POB is unknown then a hyphen - is entered

[2020-08-14 23:04] Captainkirkdawson opened #924 "Add Validation process and Code to CSVProc"

[2020-08-14 23:27] Captainkirkdawson commented on #923
As part of the Validation process we determine if the Verbatim POB exists in the Freecen2 Place collection.
If a Place does exist we generate a warning
"Warning: line #{num} Verbatim Place of Birth #{record[:verbatim_birth_place]} in #{record[:verbatim_birth_county]} was not found so requires validation.<br>"
If a Place does exist we generate an information message
"Info: line #{num} Verbatim Plac

[2020-08-15 06:56] geoffj-FUG commented on #923
Kirk

Your summary is correct but I have done away with 2 info messages. If the POB is valid it does not need info (we do not generate info for other correct transcriptions, so lets keep things standard).

See in red below.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Saturday, August 15, 2020 9:28 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG

[2020-08-15 14:46] Captainkirkdawson opened #925 "1891 Civil Parishes appear to have been incorrectly extracted from TNA information"
We extracted it as
<subdistrict piece="RG 12/1936"
                         tnaid="C3743381"
                         code="RS 4C"
                         name="Walcot"
                         year="1891">
               <parish name="Bath">
                  <hamlet name="Walcot"/>
               </parish>
The TNA has
Registration Sub-District 4C Walcot. Civil Parish, Township or Place: Bath: W

[2020-08-15 14:54] Captainkirkdawson opened #926 "Add accept record as an option on the record display"
Currently the only way of accepting a record is multi step (edit the record, set the record true flag, submit) returned to record display after processing.
It has been proposed that we add a Record is Valid, with challenge? as an additional option

[2020-08-15 15:17] Captainkirkdawson opened #927 "Review and update as required the Scotland Spreadsheets"
@rhodamackenzie has reviewed the draft Scotland Spreadsheets. Those proposed changes need to be reviewed and incorporated as appropriate both into the spreadsheets and the record displays.

[2020-08-15 15:19] Captainkirkdawson commented on #927
Comments are stored at
https://drive.google.com/drive/u/1/folders/150Uh4r_lvGT9_nVaxf3R4wvvub3EoyDI

[2020-08-15 15:26] Captainkirkdawson opened #928 "Review and accept as where agreed the edits to the CSV Proc On line system doc"
https://drive.google.com/drive/u/1/folders/150Uh4r_lvGT9_nVaxf3R4wvvub3EoyDI

[2020-08-15 15:38] Captainkirkdawson opened #929 "Need to add Special Chapman Codes to Freecen2 Places"
Currently we only carry UK Chapman Codes in Freecen2 Places (Since it was based on REG requirement). CEN requires the special chapman codes

[2020-08-15 15:41] Captainkirkdawson opened #930 "Add Alternative Place Names to Search Place Names"

[2020-08-15 15:43] Captainkirkdawson opened #931 "Add search of Alternative Place Names to POB validation"
The current validation place name search only search the place name need to add search of the alternative names

[2020-08-15 15:46] Captainkirkdawson commented on #929
@geoffj-FUG commented
If no entry is enumerated or the enumerator has written Unknown we make the Chapman Code UNK and enter a hyphen (as above). If you want a place name it can be simply Unknown. The only time we will ever use UNK in the place names file is for UNK – so it does not need to be able to be selected to update the file.

[2020-08-15 22:59] geoffj-FUG commented on #929
Kirk

We could of course just code UNK – as always valid and move on. If it has been entered because of a problem then there should be a flag to bring it up in validation.

The same goes for any valid Chapman Code with -. It is the flag that should cause it to need a Warning and that will be there.

The fact that we put a Warning on Notes catches the rare missing flag.

Geoff

From: Kirk Dawson <n

[2020-08-15 23:28] Captainkirkdawson opened #932 "How to handle the difference between the Freecen2 Place collection and what was in the original Gazetteer of British Place Names"
Some 6 years ago we obtained a copy of the Gazetteer of British Place Names  as part of the development of REG.
Over a period of 2 years we modified its content to ensure there was only a **single place name** with lat and lon for a specific county thus enabling  searches to be localized to a specific place and to support search of nearby places.
When making changes we were careful to not destroy

[2020-08-16 15:53] #855 closed, assigned to nobody

[2020-08-16 15:54] #867 closed, assigned to nobody

[2020-08-17 09:18] PatReynolds commented on #923
Does this relate to #913 ?

[2020-08-17 09:38] geoffj-FUG commented on #923
Pat

No. #913 is specially about ‘- being used in spreadsheets and causing errors in testing. It is used to stop the spreadsheet trying to create a formula or name. Because marriage and sex are only 1 character fields ‘- creates an error report.

This is about matching of place names where only the County has been enumerated. There is no place called – in the Place name file so we need to address

[2020-08-17 09:45] richardofsussex commented on #925
From memory, we have interpreted a colon as indicating a subordinate place.  This is certainly what has happened in this case (C3743381): parish = Bath; hamlet = Walcot. Are you saying that TNA have changed the semantics of their free text descriptions for 1891?

[2020-08-17 09:54] PatReynolds commented on #846
IRL is used for Irish POBs but results just have a blank, neither Ireland nor Armagh (etc.)
SCT is use for Scottish POBs but results just have a blank, neither Scotland nor Inverness (etc).
OVB is used for Oversea POB in the British Empire (etc.) and results show 'Overseas British'
UNK is used for Unknown but results just have a blank.
If you search for County Armagh, the results show Co Armagh.
O

[2020-08-17 10:02] geoffj-FUG commented on #930
We have just identified two conditions which will make searching the valid place names file difficult.

If the transcriber has entered a comma or apostrophe in the verbatim place of birth or place of birth column there will not be a match. Can we create an error when this happens please so that we force an edit.

This will eliminate the Bishops Lydeard / Bishop’s Lydeard problem in the places of b

[2020-08-17 10:24] geoffj-FUG commented on #498
Pat,
Kirk and I are working on the Place Names issues at the moment. It is going to take a while but we believe that we can come up with a workable solution.
We have established a Place of Birth protocol in the manual of Bigger to Smaller. So Bathpool Nr Taunton would be transcribed as is and then SOM Taunton Bathpool would be entered in the suggested place of birth fields in the spreadsheet by th

[2020-08-17 10:25] geoffj-FUG commented on #923
Pat

See comment on #498

Geoff

From: PatReynolds <notifications@github.com>
Sent: Monday, August 17, 2020 7:19 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Assign <assign@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Handling of the hyphen - in the Verbatim POB (#923)

Does this relate to #913 <https

[2020-08-17 10:26] geoffj-FUG commented on #846
Pat

Oops – I have posted into the wrong #. Can you move it please? I am not sure how.

Geoff

From: PatReynolds <notifications@github.com>
Sent: Monday, August 17, 2020 7:54 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Do we add the Intern

[2020-08-17 14:35] AlOneill commented on #760
Full version moved to About page. Ready for Review.

[2020-08-17 14:39] AlOneill commented on #760
Will make ready for sync when Review is passed.

[2020-08-17 15:29] PatReynolds commented on #760
Is there anything to review in About? or Help - I can't see citations in either on test3 FreeCEN

[2020-08-17 15:38] AlOneill commented on #760
@PatReynolds The pages for Review are both drafts (as per protocol). Does that help?

[2020-08-17 15:39] AlOneill commented on #760
@PatReynolds Pages are About DRAFT and Help DRAFT.

[2020-08-17 15:40] PatReynolds commented on #490
Geoff notes:
Pat,
Kirk and I are working on the Place Names issues at the moment. It is going to take a while but we believe that we can come up with a workable solution.
We have established a Place of Birth protocol in the manual of Bigger to Smaller. So Bathpool Nr Taunton would be transcribed as is and then SOM Taunton Bathpool would be entered in the suggested place of birth fields in the spre

[2020-08-17 15:41] PatReynolds commented on #846
Geoff notes:
Geoff notes:
Pat,
Kirk and I are working on the Place Names issues at the moment. It is going to take a while but we believe that we can come up with a workable solution.
We have established a Place of Birth protocol in the manual of Bigger to Smaller. So Bathpool Nr Taunton would be transcribed as is and then SOM Taunton Bathpool would be entered in the suggested place of birth field

[2020-08-17 15:47] PatReynolds commented on #760
Duh!  I have reviewed in About, and good to go.

Cannot see in DRAFT Help?   Maybe add it to the index so it can be more easily picked up by bears of little brain like me?

[2020-08-17 15:58] AlOneill commented on #760
@PatReynolds Fixed in DRAFT Help.

[2020-08-17 16:16] richpomfret commented on #910
Closing as per recommendation.

[2020-08-17 16:16] #910 closed, assigned to Captainkirkdawson

[2020-08-17 16:19] richpomfret commented on #816
Can now close.

[2020-08-17 16:19] #816 closed, assigned to Captainkirkdawson

[2020-08-17 16:21] richpomfret commented on #490
Ordering now specified, so shall close.

[2020-08-17 16:21] #490 closed

[2020-08-17 16:30] PatReynolds commented on #846
UNK is a different story to SCT and IRL

Pat to make new stories for /3 too.

OVB and OVF and other special codes tpo be validated, no need to validate 'India' or 'France' at the moment - Pat to make part of /3 above.

[2020-08-17 16:49] richpomfret commented on #851
@geoffj-FUG what do you think?

[2020-08-17 16:50] richpomfret commented on #813
@geoffj-FUG another one for you to consider - do we need anything?

[2020-08-17 16:51] PatReynolds commented on #613
@DeniseColbert  is this still happening?

[2020-08-17 16:56] richpomfret commented on #582
We need to 'hide' the page.

[2020-08-17 19:33] Captainkirkdawson opened #933 "Address flag not set correctly for uninhabited x"

[2020-08-17 22:23] geoffj-FUG commented on #813
Rich

This is probably a file note on a To Do list. I see the date and it would have been well in the future when it was made.

We are working on it now. Please leave it Open.

Geoff

From: Rich Pomfret <notifications@github.com>
Sent: Tuesday, August 18, 2020 2:51 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention

[2020-08-17 22:45] Captainkirkdawson commented on #931
Have added the alternative place names to the POB validation for both verbatim and Alt. Deployed to test3

[2020-08-18 00:30] Captainkirkdawson commented on #930
Index updated. Search Place Names now looks for alternate place name strings as well as Place Name strings. Deployed to test 3

[2020-08-18 00:33] Captainkirkdawson commented on #923
Do not attempt to search for POB if it is - so no warning message generated. Hence record will be valid if no other warnings or errors.
Deployed to test3

[2020-08-18 08:45] PatReynolds commented on #639
Orkney is now only there once in the search dropdowns for Birth County and Census County so it has been resolved,

[2020-08-18 08:46] PatReynolds commented on #638
There  is now only one shetland in Birth county and one in Census county, so resolved.

[2020-08-18 09:46] geoffj-FUG commented on #923
Kirk

Sounds good. I will rerun a test piece

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Tuesday, August 18, 2020 10:33 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Assign <assign@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Handling of the hyphen - in the Verbatim POB (#923)

Do not at

[2020-08-18 14:27] Captainkirkdawson opened #934 "Propagate POB change"
Here is a thought bubble:

How difficult is it to have a button and code such as

Select all from (file being validated)
Geoff requested function that:
Where verbatim_birth_county and verbatim_birth_place equals (Chapman code and POB of record being validated) AND birth_county and birth_place are null

Replace all  birth_county and birth_place with (birth_county and birth_place of record being val

[2020-08-18 14:31] Captainkirkdawson commented on #851
Geoff wrote
Definitely.
We need to phase out the old tools including FCTools.
FCTools was used to convert vld files to csv files and back again. Why? Because we get queries and reports of problems.
I know we can edit a file online, but there is sometimes a need to edit it offline. Just this week we had a report of a missing entry in a family on FreeCEN. I have to convert the vld file, add an extra

[2020-08-18 16:34] PatReynolds opened #935 "OVB and OVF places of birth: permit serching by specific country"
In order to permit searching for (e.g.) India or France as a place of birth, an index needs to be built.

[2020-08-18 16:37] PatReynolds commented on #935
Opened in error, so closing

[2020-08-18 16:37] #935 closed, assigned to nobody

[2020-08-18 16:54] PatReynolds opened #936 "Make County of Birth UNK appear in search results with the text: Unknown"
See for example a search for this Mary Alcock:
"General Register Office: 1871 Census Returns database, FreeCEN (https://www.freecen.org.uk/search_records/59047549e9379091b1457681 : viewed 18 Aug 2020), Mary Ann ALCOCK in household of Wm ALCOCK, Wickhambrook, Suffolk, England; from 1871 "England, Scotland and Wales census," database and images; citing The National Archives RG 10/1712, Folio 82, Pag

[2020-08-18 16:58] PatReynolds commented on #846
#926 written to ensure UNK appears as Unknown in results and #937 to ensure that ENG, IRL, SCT and WLS appear.

[2020-08-18 17:12] PatReynolds opened #937 "Display of ENG, IRL SCT and WLS places of birth chapman codes in Search results"
At the moment, a place of birth with a SCT or IRL code (or ENG in Scotland) is displayed in the search results as a blank -  although they are alphabetised if one sorts them - so knowing that you would be able to guess who was in Scotland, etc!

See a search for this Ireland-born George Alcock
"General Register Office: 1861 Census Returns database, FreeCEN (https://www.freecen.org.uk/search_record

[2020-08-18 17:19] AlOneill commented on #936
I have a problem with the word "Unknown". Surely "Not recorded", or similar, is more appropriate? That is, the county will have been known, just not written down (by householder and/or enumerator).

[2020-08-18 21:04] Captainkirkdawson commented on #930
@geoffj-FUG please review

[2020-08-18 21:04] Captainkirkdawson commented on #931
@geoffj-FUG please review

[2020-08-18 22:01] geoffj-FUG commented on #930
The feedback I have from Coordinators is that we transcribe as is and use the alternative place names in the master database to gradually reduce the number of warnings.

[2020-08-18 23:40] Captainkirkdawson commented on #923
@geoffj-FUG hold off the test; there is something odd in the code I need to look at

[2020-08-19 01:09] Captainkirkdawson commented on #923
@geoffj-FUG fixed it; Found that titlesize on a - ended up as blank!!!! New one on me

[2020-08-19 01:18] Captainkirkdawson commented on #936
But all the counties have the chapman code displayed in the detail but not
the summary results

Kirk Dawson
Fairmont, B.C. Canada

On Tue, 18 Aug 2020 at 10:54, PatReynolds <notifications@github.com> wrote:

[2020-08-19 08:59] PatReynolds commented on #936
I thought on search restults an expanded version of the Chapman code was used: e.g. code is  LDN displayed is  London.

Hence story to make WLS (etc) display Wales (etc).

UNK needs a word that both covers 'not recorded' and 'a place is recorded but cannot be allocated to a county - e.g. is "Newport".

[2020-08-19 09:02] FreecenBren commented on #936
The CHP code for London is LND not LDN

On Wed, 19 Aug 2020 at 09:59, PatReynolds <notifications@github.com> wrote:

[2020-08-19 11:04] geoffj-FUG commented on #931
I have run a test with the verbatimplace name and the alternate place name against both the main field and the alternative field in the master file. I have included 2 alternative names in the master file and it all runs OK. I have also tested - and that seems to be working as well.
Geoff

[2020-08-19 11:05] geoffj-FUG commented on #923
This now works OK Geoff

[2020-08-19 14:36] Captainkirkdawson commented on #929
All Special Chapman Codes including UNK can now have Place Names assigned to them where required.
POB with a hyphen will be valid for these Chapman Codes as well.
Warnings will be generated if there is no Place Name for POB on these codes
Please note this has no impact on Cen Search Results
Deployed to test3

[2020-08-19 14:56] Captainkirkdawson commented on #930
Geoff reports
Secondly if I do a search and do not select a County I am getting the red Warning message. I also get it if I select the blank county. It works OK when I select a county.

We're sorry, but something went wrong with processing your request. A report has been produced and sent to the webmaster. Please return to your prior activity but try to avoid doing the exact same action again.

[2020-08-19 15:24] Captainkirkdawson commented on #930
@geoffj-FUG
Had to restructure index.
Fixed now
If the compound text index includes keys **preceding** the text index key, to perform a $text search, the query predicate must include equality match conditions on the preceding keys.
I was using chapman_code : 1 place_names : text; this will not work unless chapman_code is specified.
Solution is to have chapman_code follow the text field

[2020-08-19 15:59] Captainkirkdawson commented on #936
@PatReynolds
The search results uses the name; the details uses the Chapman Code.
![details](https://user-images.githubusercontent.com/2874694/90659894-780ab100-e202-11ea-8c03-52bc34535988.png)
![results](https://user-images.githubusercontent.com/2874694/90659896-78a34780-e202-11ea-8062-5cfd4d8854cd.png)

We have always used Unknown for UNK on both Reg and Cen.

[2020-08-19 23:45] Captainkirkdawson opened #938 "Breadcrumbs for Search Place Names need to handle navigation back to it after Place Name Creation"

[2020-08-20 09:49] geoffj-FUG commented on #930
Works well now. Tested with no county selected, blank county option selected, incorrect county selected and correct county selected. All gave the correct results

[2020-08-20 14:53] Captainkirkdawson opened #939 "Check heading actions on display of files when coordinator"
Actions may not always function as exppected

[2020-08-20 14:58] Captainkirkdawson opened #940 "Confirm reprocess acts as expected after edits"
I had the warnings list up for validation. I added a Place to the FreeCEN2 Places file. I then selected Re-process file and got the following message:

There is a problem with the file you are attempting to reprocess . Contact a system administrator if you are concerned

It is something that validators will do. Downloading and reloading a file to update it is not as user friendly as it could be. I

[2020-08-20 15:00] Captainkirkdawson opened #941 "Create error message address is not associated with a schedule number"
I got caught the other day and John got caught today so it is going to happen often.

Can we have a new error please for ‘address is not associated with a schedule number’ where the address and /or house number field is completed but the schedule number is not.

[2020-08-20 15:02] Captainkirkdawson opened #942 "Check error message on reload"
If I try to Reload a file that is locked because it has been edited it will not reload. That is correct. There is no message on the screen to indicate that the file could not be reloaded because it had been edited.

[2020-08-21 14:29] Captainkirkdawson opened #943 "Create link to download FreeCEN Handbook"

[2020-08-21 14:55] Captainkirkdawson opened #944 "Investigate report of stray messages"
Almost all actions result in the generation of an "action report message".
This is in the form of a flash notice. All pages are designed to display and clear the the flash notice.
Normally the page being displayed is  associated with the action. For example if we edit something we display the recult of the edit together with the edit flash notice.
Sometimes it is not; a good example is the downloa

[2020-08-21 15:01] Captainkirkdawson opened #945 "Possible issue with breadcrumbs after failed upload"
Kirk

I tried to upload a piece that was already there. I got the correct message to tell me to reload it.

I tried to follow the breadcrumbs to My Files but it has locked into this screen. The breadcrumbs do not work.

I can get back via the main menu at the top of the page.

Geoff!
![image001 (1).png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/7d91d5a3-6469-4482-b847-54ede789a

[2020-08-21 15:10] Captainkirkdawson opened #946 "1841 POB issue"
Kirk

We have a problem in 1841.

There were no entries in verbatim_place_of_birth, only in the verbatim_birth_county. Every entry is being rejected as needing validation.

Geoff

[2020-08-21 15:17] Captainkirkdawson opened #947 "Warning on POB when Chapman invalid"
FW: somt.cen/RG12_1936.csv processed at 2020-08-21 12:05:42 +0100 with errors over period

See Rows 157 and 158

These have produced errors on the Chapman Code quite correctly.

But then the Warning comes up that the POB is found but MAY require validation. Once the error occurred this warning should not have come up because the Chapman Code is incorrect.

ERROR: line 157 Alt. Birth County SON is

[2020-08-22 17:05] Captainkirkdawson commented on #938
Search Names Breadcrumbs updated and reecen2_place creation/editing form edited to  permit multiple alternates at the same time.
Deployed to test3

[2020-08-22 17:06] Captainkirkdawson commented on #938
@geoffj-FUG Please review

[2020-08-22 17:08] Captainkirkdawson commented on #924
Basic code written, now undergoing testing and refinement. Separate stories written as changes are identified. This may be closed

[2020-08-22 17:57] AlOneill commented on #944
@Captainkirkdawson Isn't there an alternative to flash, flash_now or something similar, that displays the flash message only once? I think it is designed to cope with this sort of situation, where a repeat is not helpful or needed.

(Previously posted to wrong issue and deleted there.)

[2020-08-22 22:11] Captainkirkdawson commented on #946
Turned out to be a miss positioned end after the test for 1841 when adding validation.
fixed on test3
@geoffj-FUG please review

[2020-08-23 14:49] Captainkirkdawson commented on #947
@geoffj-FUG deployed fix  to test3 for this and similar situations.

[2020-08-23 19:17] Captainkirkdawson commented on #926
@geoffj-FUG added accept and reject options for the validator and deployed to test3

[2020-08-24 10:11] geoffj-FUG commented on #938
Kirk
Tested and works well. I have both added a new place and added an alternate name. I have also destroyed a name. In each case I can return and research using the breadcrumbs.
Geoff

[2020-08-25 09:50] geoffj-FUG commented on #929
Kirk
All looks OK now
Geoff

[2020-08-25 10:13] geoffj-FUG commented on #926
Kirk

The button works well

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Monday, August 24, 2020 5:18 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Assign <assign@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Add accept record as an option on the record display (#926)

Assigned #926 <https

[2020-08-25 10:21] geoffj-FUG commented on #947
Kirk

Now working fine (including rejection of ouc except 1841).

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Monday, August 24, 2020 12:49 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Assign <assign@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Warning on POB when Chapman invalid (#947)

[2020-08-25 10:42] geoffj-FUG commented on #932
Kirk
Option 1 is impractical. Wraxall (just one) had a population of 769 in 1831 so it is probable that if you were validating a piece for the village and surrounding villages  there would be several hundred people to accept individually.
Option 3 would defeat the point of validation which is to have the best quality data set that can achieve. If that was adopted there would be no point in validat

[2020-08-25 13:48] Captainkirkdawson commented on #932
Will proceed on basis of option 2 and at same time add a display of the 2 original field (county and place) to the place name display

[2020-08-25 13:53] Captainkirkdawson commented on #946
See comment is review of #947 by @geoffj-FUG

[2020-08-25 22:14] geoffj-FUG commented on #932
Kirk

I am happy with that

Geoff

[2020-08-25 22:16] geoffj-FUG commented on #946
Kirk

Tested by myself and John and now working correctly

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Tuesday, August 25, 2020 11:53 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] 1841 POB issue (#946)

See comment is review of

[2020-08-28 08:31] PatReynolds commented on #851
Changed the story from 'download a vld file' to 'download a validated CSV in light of abocve discussion.  Leaving the 'high priority' flag on as I need to understand the priority of this.

[2020-08-28 08:31] PatReynolds commented on #813
Moving to in progress and removbing urgent flag as it is being worked on now.

[2020-08-28 08:33] PatReynolds commented on #613
I have been using FreeCEN2 a lot over the last few months and this seems to be resolved.  So removing high priority.

[2020-08-28 08:51] PatReynolds commented on #600
Printing now works fine on Chrome and Firefox, so closing as almost certainly now working on all browsers.

[2020-08-28 08:51] #600 closed

[2020-08-28 10:10] geoffj-FUG commented on #851
Pat

 This should be done once the validation, PARMS editing and publication steps have been created. (i.e. CSVProc is in a position to be implemented).

 Validation is happening at the moment. We cant go live until the other 2 steps are in place.

 We will then have a number of Actions to prioritise including but probably not limited to Downloading vld files, Scotland and Ireland.

 The downloadi

[2020-08-28 14:14] #613 closed

[2020-08-28 15:32] PatReynolds commented on #760
Perfect thanks @AlOneill

[2020-08-28 17:56] Captainkirkdawson commented on #932
@geoffj-FUG We now check against 1) Current place names, then 2) alternate place names then 3) original place names from gazetteer
We use a standardized format for the name and the name being search for to avoid case and whitespace and - in the name. We could consider other standardization if warranted.
The display of a place now includes the alternate and original names (also added the standardiz

[2020-08-28 22:45] geoffj-FUG commented on #932
Kirk

You said “We use a standardized format for the name and the name being search for to avoid case and whitespace and - in the name.”

We have a case at the moment which is being tested for results.

Braunton RUT is transcribed as Braunton, Braunton in Rutland or Braunton-in-Rutland depending on the enumerator.

My solution was to add 2 alternatives to the Place name file (John is looking to se

[2020-08-28 22:45] Captainkirkdawson commented on #941
@geoffj-FUG That condition would have generated the following Error Message
"ERROR: line #{num} Schedule number is blank and not a page transition.<br>"
The situation will now generate
"ERROR: line #{num} Schedule number is blank and there is an address.<br>"

The former message may still occur for other conditions

Deployed to test3

[2020-08-28 22:47] geoffj-FUG commented on #941
Thanks Kirk

Will test later.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Saturday, August 29, 2020 8:46 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Create error message address is not associated with a schedule number (#941

[2020-08-28 23:10] Captainkirkdawson commented on #939
@geoffj-FUG Actions reviewed and adjusted as required.
Deployed to test3

[2020-08-29 00:58] Captainkirkdawson commented on #932
@geoffj-FUG
Taking your case
RUT has Braunston-in-Rutland  from the Gazetteer which provides a standardized name of  [braunston in rutland] see
https://test3.freecen.org.uk/freecen2_places/53cbf605eca9eb03a60084d2?locale=en
This means that multiple versions entered by a transcriber will match to this place as **their entry is also standardized for matching**
eg
Braunston-in-Rutland
Braunston in Ru

[2020-08-29 08:56] geoffj-FUG commented on #941
Kirk

Works well

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Saturday, August 29, 2020 8:46 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Create error message address is not associated with a schedule number (#941)

@geoffj-FU

[2020-08-29 09:37] geoffj-FUG commented on #932
Kirk

I now understand, thank you.

From that I assume that any searches that are developed in future for researchers to use will also be standardised. (E.g. Search for Jarvis living in Backwell SOM)

Geoff

[2020-08-29 11:12] geoffj-FUG commented on #932
Kirk

Does this titliezing resolve the Bishops Hull / Bishop’s Hull inverted comma problem?

Geoff

[2020-08-29 13:37] Captainkirkdawson commented on #932
@geoffj-FUG
The standardization drops the following characters from the name .,'(){}[] so there is no issue with using Bishops Hull or Bishop’s Hull both will match to the same Place
It also converts Saint to St for consistent matching
St. or St will both match to the same place as will nr and nr.
There are other standardizations that **could be considered if needed eg on/upon nr/near**

Yes it pr

[2020-08-29 14:48] Captainkirkdawson commented on #942
@geoffj-FUG Message was missing in 1 of four situations, Fixed and deployed to test3

[2020-08-29 15:04] Captainkirkdawson commented on #940
@geoffj-FUG Propose to have the reprocess rewrite the physical file from the current entries (which is what the download does) and then process that file. Will add a transcriber lock to ensure future upload is blocked until a download is undertaken.

[2020-08-29 16:16] AlOneill commented on #699
Will fix issues once edits on FreeREG are accepted as good. (Issue there is in Needs Review.)

[2020-08-29 18:13] Captainkirkdawson commented on #940
@geoffj-FUG Before completing this story I need to know who and under what circumstance the reprocess task is to be used.
By all ? ie transcribers, proofreaders, validators, coordinators or by a restricted group? eg validator and coordinator?

[2020-08-29 19:57] Captainkirkdawson commented on #940
@geoffj-FUG Reprocess handles both locked and unlocked files. Reprocesses the records on the system and writes a file that can be downloaded. On test3
Currently limited to validator, coordinators data managers and systems administrators pending on feedback from @geoffj-FUG

[2020-08-29 20:04] Captainkirkdawson commented on #945
Believe this to have been corrected following related changes to issues around locked files. Propose to close unless it is shown that there is still an issue

[2020-08-29 20:37] Captainkirkdawson commented on #943
@geoffj-FUG Link to Handbook added

[2020-08-29 21:42] Captainkirkdawson commented on #933
@geoffj-FUG Was incorrectly determining the address flag. Fixed and deployed to test3

[2020-08-29 21:53] Captainkirkdawson opened #948 "Verify alt place name when on line edit"
Currently there is no look up or verification of the alt place name entered during an on line edit.

[2020-08-29 22:46] geoffj-FUG commented on #932
Thanks Kirk

I have just learnt something new.

I have included this is FAQ in the Handbook.

Geoff

[2020-08-29 23:04] geoffj-FUG commented on #940
Kirk

I think we will limit re-process to the validator, coordinator and data manager.

The transcriber and proofreader work on the spreadsheet and upload it to test. That is a simple concept and is understandable by those with limited IT knowledge. We should keep to the kiss principle as far as possible.

The validator, coordinator and data manager will all work online. They are the ones who requ

[2020-08-29 23:05] geoffj-FUG commented on #940
Kirk

Yes, add system admin to my previous list of those who can re-process.

Geoff

[2020-08-29 23:07] geoffj-FUG commented on #943
Thanks Kirk

I will send you the next version of the Handbook in a few days.

It will be a monthly update for the time being.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Sunday, August 30, 2020 6:37 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen

[2020-08-29 23:08] Captainkirkdawson commented on #943
No problem

[2020-08-29 23:47] Captainkirkdawson commented on #925
Have reviewed earlier census years (Just Somerset) and saw no issues of this nature. Reviewed later years and there are no similar issues

It appears that in 1891 they changed and sometimes stacked civil parishes separated by a colon

@richardofsussex how difficult would it be to reprocess 1891 and treat the an entry following a colon as a new Civil Parish and not as a Hamlet?

If not we will need

[2020-08-30 02:20] Captainkirkdawson commented on #925
@richardofsussex further research on other counties shows there to be no consistency on civil parish names in 1891 TNA . In other counties there was a second CP after a : but then there was a list of CPs separated by commas !!!
Also there are no Hamlets being recorded in these later census. As they collected more and more information the contents of a piece have become more and more focused on CPs

[2020-08-30 06:42] geoffj-FUG commented on #940
Kirk
The need to refresh the report is caused by online edit(s).
At the moment I see the principal circumstance being during validation.  The validator will need to Refresh the report to update their Warnings list and to ensure that they have not edited something and caused a new Warning on a different record (I can't think of an example but mice and men do cross paths sometimes!)..
The Coordinato

[2020-08-30 11:18] richardofsussex commented on #925
I suggest that it makes more sense to start from where we have got to, and further process the data without reference to TNA, rather than going back to that source. Essentially, we want to look up all the Hamlets and convert them to Civil Parish if they are one. Given that we can't rely on TNA to infer this, we should use another source. Perhaps this would (finally) be a use for the Administrative

[2020-08-30 13:42] Captainkirkdawson commented on #925
Thanks @richardofsussex Yes it does appear that they changed their approach for 1891.
I am happy to update based on what we have.
It is clear that Ancestry have worked from the bottom up rather than the top down ie they started with the Civil Parish extracted from the actual census documents then added the links to ED, sub district and district.
Given that we will make substantive change to the in

[2020-08-30 14:08] Captainkirkdawson commented on #940
@geoffj-FUG The reprocess currently produced a report for the owner of the file. It might be a little tricky to stop the report production since CSV Proc does not know why it is processing the file. An original upload, a replace, creating a copy for a Proofreader/validator or a reprocess
Apart from that it meets the requirement.

[2020-08-30 14:31] Captainkirkdawson opened #949 "1901 Census does not separate the ridings of Yorkshire"

[2020-08-30 14:34] Captainkirkdawson commented on #949
In every Census year EXCEPT 1901 TNA has the census for Yorkshire separated by Riding. In 1901 they are all combined under a single county of Yorkshire

[2020-08-30 22:12] geoffj-FUG commented on #940
Kirk

I can live with that.

Some validators may find it useful to print out their validation list from their email.

This goes hand in hand with #934 so the two together will be a big part of validation.

Once these are done and also #925 I believe that we will have broken the back of getting CSVProc up and running.

Geoff

[2020-08-31 10:59] geoffj-FUG commented on #933
Address flag is behaving as expected.
Geoff

[2020-08-31 17:15] PatReynolds commented on #949
I know of no reason why the TNA chose to break with tradition in 1901.  If there is no reason to hold to the TNA's structure, I would retain the three-ridings model for consistency.

[2020-08-31 19:24] Captainkirkdawson commented on #949
I am afraid that since TNA has lumped 1901 Yorkshire we have no alternative but to follow along as we have no simple way of separating the pieces into the ridings. Ancestry also has followed along!

[2020-08-31 19:26] Captainkirkdawson commented on #940
@geoffj-FUG Reprocess is operational then on test3

[2020-08-31 22:53] Captainkirkdawson commented on #925
@geoffj-FUG We have converted the civil parishes that were extracted as hamlets in 1891 back to civil parishes.
You should now be able to process 1891 csv files with CSV Proc.

[2020-09-01 12:08] geoffj-FUG commented on #940
Thanks Kirk

I will test over the next couple of days

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Tuesday, September 1, 2020 5:27 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Confirm reprocess acts as expected after edits (#9

[2020-09-01 12:08] geoffj-FUG commented on #925
Thanks Kirk

I will go back to my Walcot file and see what happens.

Geoff

From: Kirk Dawson <notifications@github.com>
Sent: Tuesday, September 1, 2020 8:54 AM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] 1891 Civil Parishes appear to have b

[2020-09-01 15:53] PatReynolds commented on #949
I'm assuming that (worst case scenario) that some pieces cover more than one riding.  How many pieces are we talking about?  @richardofsussex would the ontology help here?  The Ridings were summarised separately, so presumably the tables listing the pieces could be downloaded/purchased from the TNA.
In the Internet archive they have the Census of England and Wales. (63 Vict. C. 4.) 1901: General R

[2020-09-01 16:02] PatReynolds commented on #699
FreeREG on test3 still broken on chrome and comodo:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/47c29e94-e5be-4b1b-8c88-9d22bbe79bf9)

And on Firefox it all looks a bit off:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/49852292-4d1d-4fd9-bd59-b0bb80276c1f)

[2020-09-01 16:42] PatReynolds commented on #932
Hi Kirk, what will happen with Stockton-on-Tees vs Stockton on Tees?  Sometimes I think the hyphen is needed

Stooke on Trent is six towns one of which is Stoke upon Trent.... see https://en.wikipedia.org/wiki/Stoke-upon-Trent for the dates involved.

[2020-09-01 16:42] AlOneill commented on #699
@PatReynolds Please see the DRAFT version of the REG page.
https://test3.freereg.org.uk/cms/draft-opportunities-to-volunteer-with-freereg

[2020-09-01 17:25] richardofsussex commented on #949
I think we can tackle this using the data we already have from TNA. There are 60 top-level Districts within Yorkshire: we just need to know which Riding each was in.  Then, within the data, out-of-'county' parishes are flagged up specifically:
![image](https://user-images.githubusercontent.com/2197102/91885829-4ec93680-ec80-11ea-8d08-f4807621c48f.png)
(This doesn't apply just to Yorkshire - other

[2020-09-02 02:13] Captainkirkdawson commented on #932
@PatReynolds well there may be differences from an academic perspective. I am sure that the census takers were unaware of such differences.
I am unable to find any differences between Stockton-on-Tees and Stockton on Tees that would affect the searches being performed.  The location is centered in the same place.
I would say the same for Stoke.
The benefits of standardization far out way such nuan

[2020-09-02 06:57] geoffj-FUG commented on #940
Kirk

Rep[rocess is working OK. I made a change and locked the file. It works fine.

Query – I have Reprocess in my menu as a Coordinator. Is there a menu item for a validator? A validator may only have a Transcriber / Proofreader menu set.

Geoff

[2020-09-02 08:24] PatReynolds commented on #932
Sorry Stockton was a red herring.  But Stoke on Trent is a different geolocation to Stoke upon Trent (just as London (metropolitan area) is different to the City of London.  Stoke on Trent only comes into existence in 1910 (as a couunty borough).  But thinking about this further - the old borough / county boroughs were often identical names, so for most places, there is no remidying the confusion.

[2020-09-02 09:29] PatReynolds commented on #949
If you send me the list of districts Richard, I can allocate them to Ridings (or Ridings and York) - I'll put those that are in two ridings in both ridings.  Ill do that in my own time as I've been meaning to do it for ages as a help to other genealogists who don't really have any clue just how big, how diverse, Yorkshire is.

What would be the best way of getting the information to you,  Kirk - I

[2020-09-02 09:57] richardofsussex commented on #949
Here are the districts with their TNA identifiers, in a CSV file.
[1901 Yorkshire districts.zip](https://github.com/FreeUKGen/FreeCENMigration/files/5161493/1901.Yorkshire.districts.zip)