[2021-03-28 16:16] AlOneill commented on #1126
@Captainkirkdawson Second table now good. Thank you.

You deleted the first 'please' rather than the second, but that link-text is far from perfect and I haven't come up up with anything better, so no worries.

The disappearing, empty `thead` is a puzzle — I double-checked my copy of the original table and it was definitely there. Gremlins?!?

[2021-03-29 02:30] Captainkirkdawson commented on #1180
Codes all written and tested. Production cleaned up and ready for creation of CHI tomorrow

[2021-03-29 11:19] AnneV-Learn commented on #93
I have looked at the requirements you posted @DeniseColbert and it seems to me that some of them could be addressed by the new stats that @Captainkirkdawson has developed (or am I missing the point) and some of the others by the new 'Records' functionality that is being looked into (#1191). We could perhaps add a button to the these reports which would allow download to a CSV file. This could then

[2021-03-29 15:15] Captainkirkdawson commented on #1180
@geoffj-FUG @rhodamackenzie
CHI recreated according to the agreed design

[2021-03-29 17:21] Captainkirkdawson commented on #612
Here are 2 options
Option1/1a the a shows that it was a dwelling move. This basically just forces the header break with dwelling  in 2nd line

![option 1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/fd95f079-133d-41c9-9cc6-51951657cf42)
![option 1a.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/dcf573a4-6fb7-4a6c-a461-bbd0fe67da43)

Option 2 splits the hea

[2021-03-29 19:29] Captainkirkdawson commented on #1042
@rhodamackenzie is this still a requirement?

[2021-03-29 19:30] #1033 closed, assigned to nobody

[2021-03-29 19:31] #465 closed

[2021-03-29 19:36] #694 closed

[2021-03-29 19:37] #630 closed

[2021-03-29 19:38] #456 closed

[2021-03-29 19:40] #672 closed

[2021-03-29 19:40] #524 closed

[2021-03-29 19:41] Captainkirkdawson commented on #587
Done

[2021-03-29 19:41] #587 closed

[2021-03-29 19:42] #633 closed

[2021-03-29 19:44] #480 closed

[2021-03-29 19:48] #889 closed, assigned to PatReynolds, rhodamackenzie

[2021-03-29 21:41] rhodamackenzie commented on #1042
I don't even know what it means so I will just close this one!

[2021-03-29 21:41] #1042 closed, assigned to nobody

[2021-03-30 10:39] geoffj-FUG opened #1195 "Add 'FreeCEN Gazetteer' to Main menu bar"
The Search Place Names menu item currently in Your Actions also needs to be available from the main menu bar after 'Your Actions'.
This is becasue if the Gazetteer needs to be opened when working in other areas of the system the volunteer has to go back to Your Actions and then navigate back to the page they were working on.
This is probably not important to a Transcriber or Proofreader as they on

[2021-03-30 11:00] geoffj-FUG commented on #1180
Thanks Kirk
Linking almost completed. This story can be closed.
Geoff

[2021-03-30 13:56] #1180 closed, assigned to Captainkirkdawson

[2021-03-30 14:02] Captainkirkdawson commented on #1195
@geoffj-FUG
But I thought that we recommended that the coordinator/validator and others open the gazetteer at the start of any session and leave it open.
Should we change the name of the action to Gazetteer since that is what people seem to be calling it rather than Search Place Names

[2021-03-30 14:30] PatReynolds opened #1196 "Link to http://www.chrismahoney.co.nz/FreeCen/ from FreeCEN2"
Needed so that all materials for volunteers on FreeCEN1 can be removed

[2021-03-30 14:31] PatReynolds opened #1197 "Transfer FreeCEN1 Welsh help to FreeCEN2"
E2 U3 S8 C5: P18

[2021-03-30 14:31] PatReynolds commented on #1197
http://freepages.rootsweb.com/~bowbren/genealogy/Cymru__Wales.htm needs review / transfer to FreeCEN2 / update

[2021-03-30 14:34] PatReynolds commented on #429
Converted to Epic, and all stories now made

[2021-03-30 15:22] Captainkirkdawson commented on #1197
Surely all we need is the Welsh Translations

[2021-03-30 15:52] Captainkirkdawson commented on #1196
To what?????

[2021-03-30 16:11] PatReynolds commented on #1196
As with Wales, moving to FreeCEN2 is another option.

[2021-03-30 16:18] PatReynolds commented on #1197
I would think so - http://freepages.rootsweb.com/~bowbren/genealogy/Glamorgan%201871.htm (for example) is well out of date (a quick check suggests so).

[2021-03-30 16:25] Captainkirkdawson commented on #1197
They are all out of date because they cannot be updated on rootsweb

[2021-03-30 16:51] Captainkirkdawson commented on #1162
@geoffj-FUG deployed

[2021-03-30 17:00] FreecenBren commented on #1197
I presume you mean this as below  from my old Roots Web Page.

Welsh
Basic meaning
	Welsh
Basic meaning

Aber
a river mouth or
 confluence of waters
Gwaelod
bottom or foundation

Aelwyd
hearth or home
Gwyn
white or holy

Afon
a river
Gwynt & wynt
wind

Allt
a hill
Hafod
summer dwelling or summer pasture

Awel
a breeze
Haul
the sun

Bach & Fach
small little
Hen
old

Bae
a bay
Hendre
winter dwelling

[2021-03-30 19:45] Captainkirkdawson opened #1198 "Activate CHI for freecen2Place creation"

[2021-03-31 14:48] AnneV-Learn commented on #1181
Deployed to Test3

[2021-04-01 20:07] AnneV-Learn commented on #1173
Deployed to Test3 - 2 CSV columns with drill down and 5 data integrity check ‘flags’.
Ready for initial review.

[2021-04-02 16:50] Captainkirkdawson commented on #1146
@geoffj-FUG
The 1841 districts, pieces and civil parishes for 1841 have been replaced in production.
All Hundreds are present. The Isle of Wight hundreds have been combined into 1 to be consistent with later districts
In addition to the hundred there are Liberties of Beaulieu, Bentley, Breamore, Dibden, East and West Soke, Westover, Winchester City and Soke.
Also included are Portsmouth and Southa

[2021-04-02 17:01] Captainkirkdawson commented on #628
Extremely difficult to achieve. Many members of the household will not be present in the original search. Code would have to look up all search results to determine if record present and then add the flag. Relatively complex task

[2021-04-02 17:29] Captainkirkdawson opened #1199 "Upload and process VLD file"
Initially designed to enable researchers to create vld files, entries and records for code checking purposes

[2021-04-07 14:56] AnneV-Learn commented on #1191
Initial Outline page design for new Records pages ready for general review.
PDF attached

[https://app.zenhub.com/files/28748917/260de3b1-39e3-482f-819d-9065776d0393/download](https://app.zenhub.com/files/28748917/260de3b1-39e3-482f-819d-9065776d0393/download)

[2021-04-07 15:11] Captainkirkdawson opened #1200 "Catch and process CSV::MalformedCSVError"
The CSVProcessor crashed please provide the following information to your coordinator to send to the System Administrators Illegal quoting in line 5094. ["/usr/local/lib/ruby/2.6/csv/parser.rb:879:in `parse_quotable_robust'", "/usr/local/lib/ruby/2.6/csv/parser.rb:818:in `block in parse_quotable_loose'", "/usr/local/lib/ruby/2.6/csv/parser.rb:31:in `block in each_line'", "/usr/local/lib/ruby/2.6/c

[2021-04-07 18:20] rhodamackenzie commented on #1194
Looks good apart from typos in button (I realise these is a rough draft!). I like the “added in last 30 days”.
I would have percentages available for all the county and district level pages, do we need percentage graphs too over time? I don’t think so myself. I guess could have a pie chart with the percentage rather than a graph through time.
For results table in each section, I would put number o

[2021-04-08 08:42] AnneV-Learn commented on #1194
I've updated the draft page designs to reflect Rhoda's comments.
Regarding pie charts - I propose that we introduce those in a second phase of development, so that we get the basic data out there first.
[RecordsPageDesign I3.pdf](https://github.com/FreeUKGen/FreeCENMigration/files/6277308/RecordsPageDesign.I3.pdf)

[2021-04-08 17:35] Captainkirkdawson opened #1201 "Site statistics in past 30 days are incorrect"
![site statistics.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/a057033d-e9db-4330-9e88-b5641f323297)

[2021-04-08 18:13] rhodamackenzie commented on #1194
Anne,
Just to check, for the unique names - is that possible at all levels? ie Full dataset, county, piece, parish?

[2021-04-08 19:32] AnneV-Learn commented on #1194
I’ve added a Unique Names button in the draft design at all levels, except parish. I’m starting to investigate more fully what is actually available. If do-able, I’ll update.

[2021-04-08 22:35] Captainkirkdawson commented on #1201
Was using a 1 day not 30 day change; tested and deployable

[2021-04-08 22:36] Captainkirkdawson commented on #1198
Completed

[2021-04-09 14:27] #1181 closed, assigned to AnneV-Learn

[2021-04-09 14:27] #644 closed

[2021-04-09 14:27] #1182 closed, assigned to Captainkirkdawson

[2021-04-09 14:27] #1179 closed, assigned to Captainkirkdawson

[2021-04-09 14:27] #1106 closed, assigned to Captainkirkdawson

[2021-04-09 14:27] #1126 closed, assigned to Captainkirkdawson

[2021-04-09 14:27] #851 closed, assigned to Captainkirkdawson, geoffj-FUG

[2021-04-09 14:27] #1176 closed, assigned to nobody

[2021-04-09 14:28] #1148 closed, assigned to Captainkirkdawson

[2021-04-09 14:28] #1149 closed, assigned to Captainkirkdawson

[2021-04-09 14:28] #1150 closed, assigned to Captainkirkdawson

[2021-04-09 14:28] #1151 closed, assigned to Captainkirkdawson

[2021-04-09 14:28] #1152 closed, assigned to Captainkirkdawson

[2021-04-09 14:28] #1162 closed, assigned to nobody

[2021-04-09 14:28] #1146 closed, assigned to Captainkirkdawson

[2021-04-09 14:28] #1173 closed, assigned to AnneV-Learn

[2021-04-09 14:29] #1201 closed, assigned to Captainkirkdawson

[2021-04-09 14:29] #1198 closed, assigned to Captainkirkdawson

[2021-04-10 15:44] #580 closed

[2021-04-10 20:36] Captainkirkdawson opened #1202 "When do we set the piece online status for csv files"
When do we set the online status for a Freecen2piece?
For FC1 the piece status was set to online when a validated file was loaded.  There was only a single file for a piece. It is not clear to me if that  necessarily means the total piece in online or just some part. Conventionally I presume online meant complete?
With CSVProc a piece can be loaded in a number of parts or files. It does not need t

[2021-04-10 20:46] Captainkirkdawson opened #1203 "Rule 5 on county statistics needs changing"
Initially I set rule 5 as individuals = VLD records + CSV records incorporated
Clearly this was incorrect. see
![rule 5.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/499323e3-82d8-4e9e-98a2-7bd0cf4d97f5)

The reason is that some records do NOT have an individual associated with it.eg an uninhabited building.

Hence a better formulation would be 5. Individuals <= VLD records +

[2021-04-10 20:48] Captainkirkdawson opened #1204 "New vld records is not being calculated"
![new vld records.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/1b2167f2-56ed-4cd6-9629-80157059eb6b)

[2021-04-10 20:51] Captainkirkdawson opened #1205 "Total csv files incorporated being double counted"
![total csv file inco.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/21dd68dc-11c1-4de3-a8c4-7b566bef3367)

When I changed the period for number of days in the 30 day period  to 30 from 1 it appears that we double count the number of csv files incorporated

[2021-04-10 21:31] Captainkirkdawson opened #1206 "Should there be any check between a file being uploaded and /or incorporated to see if it had already been loaded into the database through a vld"

[2021-04-10 21:47] Captainkirkdawson opened #1207 "Separate Freecen_csv_files in the Freecen2Piece into incorporated and non incorporated files"
Currently all files are linked together in a list. The link though just goes to incorporated files
![piecd.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/20b8ba8f-7f9e-4f12-83cb-55cb6ffb2b27)

E0 U3 S9 C6: P18

[2021-04-11 05:45] geoffj-FUG commented on #1202
Kirk
If a piece number is an exact match to the piece number in the PARMS then the piece can be identified as Online.
If however the piece number has a Coordinator applied suffix of _a etc, then the piece should be identified by default as (part) and the Coordinator asked on Incorporation if this is the final part of that piece. If the answer is Yes then the (part) disappears and the piece can be

[2021-04-11 05:49] geoffj-FUG commented on #1206
Kirk
If we try to Incorporate a file then it should not be able to be Incorporated if a vld is already there. The vld will need to be removed before the new file can be Incorporated.
However the PARMS work has destroyed our ability to do this easily as the Piece numbers no longer match.
Any alpha character at the end of the new file will need to be removed to do a match. Even then we have a proble

[2021-04-11 08:44] FreecenBren commented on #1202
That sounds good to me.
Brenda

[2021-04-11 17:54] Captainkirkdawson opened #1208 "Identify all components of a piece"
Pieces are given additional components to their numbers when they are split between counties. Coordinators need to be able to locate them

E0 U6 S9 C6: P21

[2021-04-11 17:58] Captainkirkdawson opened #1209 "Repeated Folio numbers"
It has a lot of repeated Folio numbers. We have now developed code to fix this in the download of vld files (being developed) so I will ask for this to be applied to the conversions

The code on the download is totally different.

@geoffj-FUG Are you saying that we do not need a warning message generated if the folio number  is repeated?

[2021-04-14 17:39] ghost opened #1210 "198314701 No email alert (Ali)"
Issue reported by **AH001** at 2021-04-14 07:25:01 UTC
Time: 2021-04-14T07:23:12+00:00
Session ID: 5c9ffcfd77ac76f4fb11237bbec4060c
Problem Page URL: [/freecen_csv_files?locale=en](/freecen_csv_files?locale=en)
Previous Page URL: [https://www.freecen.org.uk/manage_counties/select_action?locale=en](https://www.freecen.org.uk/manage_counties/select_action?locale=en)
Reported Issue:
Two uploads to NT

[2021-04-14 17:48] Captainkirkdawson commented on #1210
Files in question were
![files.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/5770b52d-d852-41c1-b207-f12a6a71aadd)
Transcriber is member of Any County syndicate.
Emails sent were just to syndicate coordinator
![emails.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/52ec115a-e60e-4776-ae68-4331676bfefb)
A copy should have gone to county coordinator as well
Lo

[2021-04-15 11:43] geoffj-FUG commented on #1162
Kirk

All good

These are now linked

This can be closed

Geoff

From: Kirk Dawson ***@***.***>
Sent: Wednesday, March 31, 2021 2:52 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] IOW place names when dealing with HAM (#1162)

@geoffj-FUG <https://github.com/geoffj-FUG>  deployed

—
You are receiving this b

[2021-04-17 09:22] AnneV-Learn commented on #1194
I have been looking at the data sources for this story to work out what is actually possible. Updated Excel file is attached (has data source tab).
Having passed initial ideas by Kirk here is a summary of thoughts so far:

1. The outline page designs need to be reviewed and agreed.
2. Providing Records data at the Parish level probably needs to be put off until we can hopefully find a way of integ

[2021-04-17 09:51] geoffj-FUG commented on #1209
Kirk

We have two scenarios

The first is a new transcription on new spreadsheets to the new rules. In that case the folio numbers should be subject to testing for duplicate Folio numbers. They should only be entered once, when they change.

The second is when a FC1 file is being downloaded in FC2 format. This can be because the original file is a vld file and also because a transcription is on th

[2021-04-17 10:05] geoffj-FUG commented on #1195
Kirk

That is what we recommend. But sometimes we forget and then have to back out again to My Actions and start again.

Also if we do repetitive Create New Place Names (i.e. do one and then do the next from the information screen) the breadcrumbs lose the plot and end up in the County editing screens. An option to start the Gazetteer from the top menu would solve this.

I think that your idea is

[2021-04-17 10:17] geoffj-FUG opened #1211 "Provide report of pieces (records) added to the database for use by Chris Mahoney in reporting progress to volunteers"
Chris Mahoney wrote:
I have not received notification from anyone about any uploads that have taken place to FreeCEN2.  A reminder that it is up to you co-ordinators to let me know when a piece has been uploaded as I do not have any other way of knowing what has happened at this time

Solution
A FC2 report is needed for management and reporting purposes of all pieces Incorporated into FC2 in say t

[2021-04-17 17:42] Captainkirkdawson commented on #1199
Designed primarily for system developers to create test database; may be useful in the long run for uploading all vldfiles

[2021-04-19 22:47] Captainkirkdawson commented on #1199
The system for VLD uploads is now available on test3. It is restricted to developers at this time.
The documentation is available at
https://drive.google.com/file/d/1wVGoZhpiXG8PbmJB4eskMeQepO8YZcCt/view?usp=sharing

Testing should be done by @AnneV-Learn by installing first on her own server

[2021-04-21 15:38] PatReynolds commented on #93
@DeniseColbert can you take a look at the specification, please? (ask me - Pat -  if not clear)

[2021-04-21 15:40] PatReynolds commented on #367
@DeniseColbert and @PatReynolds to specify placement

[2021-04-21 15:41] PatReynolds commented on #584
Agreed and closing.

[2021-04-21 15:41] #584 closed

[2021-04-21 15:42] PatReynolds commented on #545
To replace the Amazon advert on FreeCEN1

[2021-04-21 15:51] PatReynolds commented on #612
Split between two groups is good - above and below dwelling block.

[2021-04-21 15:52] #482 closed

[2021-04-21 16:01] PatReynolds commented on #1194
Please could everyone review and feed back @geoffj-FUG @FreecenBren @DeniseColbert (I will make a document to comment on , rather than feeding back here, please.  Document for feedback: https://docs.google.com/document/d/1xb_O3sIm1uyocXGcs1xht4o1HNQsGBf0f1rQ9q2SXno/edit?usp=sharing (please ask if you don't have access, I think you do , but could be wrong...

[2021-04-21 16:03] PatReynolds commented on #1041
@DeniseColbert please take a look.

[2021-04-21 16:08] PatReynolds commented on #1078
Hi @geoffj-FUG could you take a look at this, please?

[2021-04-21 16:09] PatReynolds commented on #1175
@DeniseColbert is anything further needed?

[2021-04-21 17:23] PatReynolds opened #1212 "Look at Placement of Adverts (see issue #612)"
E3 U3 S6 C6: P18

[2021-04-21 17:48] Captainkirkdawson commented on #869
Is there any further need for this?

[2021-04-21 17:51] Captainkirkdawson commented on #1052
Fixed

[2021-04-21 17:52] #1052 closed, assigned to Captainkirkdawson, Vino-S

[2021-04-22 00:43] Captainkirkdawson commented on #612
Deployed to test3

[2021-04-22 08:23] PatReynolds commented on #869
I don't see a need for the original story - but there doesn't seem to be a story covering Geoff's suggestion, so I'll make one.

[2021-04-22 08:42] PatReynolds opened #1213 "Add 'locate' facility to enable researchers to view places on map"
Geoff commented on story #869 in November 2020:

We now have a Gazetteer of our own with Latitude and longitude. In transcription etc we can use a Locate button to open Google maps and see the place. In Validation we make sure that the POB is valid and in our database (unless we cant).
If this locate facility was added to the person in a household in the search results when Birth Places are displa

[2021-04-22 10:48] DeniseColbert commented on #1195
Just spotted this on Test3, and I know it's still in progress (i.e. not in ready for testing/review) but thought I'd make a couple of observations while I was here (may already be on the to-do list, please ignore if so @Captainkirkdawson )

- Could "FreeCEN" be removed, making the link just "Gazetteer"? Issues with the styling of the project name, and it's a bit superfluous)
- The link is only acc

[2021-04-22 10:49] DeniseColbert commented on #1212
Unsure what's needed here, #612 is deployed

[2021-04-22 10:50] DeniseColbert commented on #1175
I have been gathering training materials and need to work with Geoff to set up the training syndicate next. Still in progress.

[2021-04-22 11:15] DeniseColbert commented on #1041
In light of Scotland not being needed and E&W example is done, this can be closed

[2021-04-22 11:15] #1041 closed, assigned to DeniseColbert

[2021-04-22 11:19] DeniseColbert commented on #93
@AnneV-Learn many thanks for your input here. It would be good for you and I to chat about this outside of scrum, I'll email you to arrange.

[2021-04-22 15:58] PatReynolds commented on #1212
Issue #612 is in Ready for Testing, and this isn't about that issue , but the images there raise questions about the placement of adverts.

In balancing need for $$$ and UX, I'd like to suggest removing the second advert on the detailed result page, but implementing a sticky advert at the bottom here.

On On the Records pages, it would be good for legibility for the tables to take up the normal "2

[2021-04-22 16:03] DeniseColbert commented on #1212
Sorry, I meant deployed to Test3.

Thanks for the extra info, I take it that it was felt that the extra level of buttons in #612 made the layout unpleasant. I think your suggestions sound like a very good solution.

[2021-04-22 16:21] PatReynolds commented on #1212
Yes, the extra layer of buttons, while excellent, and the placement above/below the census information rather together will help people remember which 'layer' things are in, that comes at the expense of 'Show me my Great Uncle!!!'

[2021-04-22 20:35] #869 closed, assigned to nobody

[2021-04-22 23:01] Captainkirkdawson commented on #1212
If we move the ad to the bottom then 3 separate action lines is poor; I would suggest that the printing option go with the dwelling header since we print the dwelling and its contents. The citation can then go with the individuals header. This then gives us 2 nicely separated action header

[2021-04-22 23:28] Captainkirkdawson commented on #1212
@PatReynolds The problem with putting a sticky add at the bottom could be the fact that we have the Donate box etc under the individuals

[2021-04-23 01:54] Captainkirkdawson commented on #612
Revised version on test3

[2021-04-23 01:54] Captainkirkdawson commented on #1195
Revised version on test3

[2021-04-23 10:27] DeniseColbert commented on #1200
@PatReynolds I don't think you meant to assign Anna?

[2021-04-24 10:05] geoffj-FUG commented on #1195
Looks Good - tested and works OK
Geoff

[2021-04-24 10:24] geoffj-FUG commented on #869
The original story is no longer required.
We have created a Gazetteer which will become very comprehensive, and not restricted to the UK, over time. The Handbooks recommend three other Gazetteers, two of which were used as sources for our original version.
There is no longer a need for other links from FreeCEN. Our Gazetteer is gaining in popularity and credibility and we should back it.
Geoff

[2021-04-26 09:41] PatReynolds commented on #869
Thanks, Geoff - It is closed, and I have made the story for your suggestion that we link from the place shown to the researcher to google maps - something like this already exists in FreeREG  - I will comment more on that story.

[2021-04-26 09:44] PatReynolds commented on #1213
Parallel in FreeREG is the Location of an event in a record links to a page about that place which includes a Google Map button, lat and long, and details about the transcriptions made of that place (e.g. https://www.freereg.org.uk/freereg_contents/53cd4993eca9ebee4f00ae49/place?locale=en)

[2021-04-27 11:18] AnneV-Learn commented on #1199
Testing successfully completed on my local server.

[2021-04-28 11:08] DeniseColbert commented on #93
@AnneV-Learn and I met today and discussed requirements in more detail. Ready :)

[2021-04-29 14:53] Captainkirkdawson commented on #1199
@AnneV-Learn can you please test on test3

[2021-04-29 15:05] Captainkirkdawson opened #1214 "vld upload should not replace"

[2021-04-29 15:23] AnneV-Learn commented on #1199
Ok Kirk I’ll not be able to do that until Tuesday now.
Bye for now,
Anne

On 29 Apr 2021, at 15:53, Kirk Dawson ***@***.***> wrote:

﻿

@AnneV-Learn<https://github.com/AnneV-Learn> can you please test on test3

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/FreeUKGen/FreeCENMigration/issues/1199#issuecomment-829305555>, or un

[2021-05-04 14:09] Captainkirkdawson commented on #803
Neil challenged me to fix this problem. I was initially quite reluctant as the whole VLD processing system has not been a part of the on-line system and therefore not been part of my responsibilities or knowledge base.

However it is clear that there are major frustrations with the current situation that could warrant a deeper review.to see if there is a workable solution.

Firstly let me emphasiz

[2021-05-05 14:13] Captainkirkdawson opened #1215 "Extend VLD upload to deal with existing files uploaded through the monthly update"
This will require consideration of where to store the upload. In the users folder or the cen1 folder
E0 S3 S8 C6: P 17

[2021-05-05 14:15] Captainkirkdawson opened #1216 "Add ordering and related functionality to the VLD files displays"
E0 S3 S8 C6:P17

[2021-05-05 14:23] AnneV-Learn commented on #1199
Tested on test3.
Successfully uploaded new files, edited files uploaded, deleted and replaced files previously uploaded.
 Only comments are: unable to replace a file originally uploaded via monthly upload and the order of the VLD file display might be better if it were alphabetic file name.

[2021-05-05 14:27] AnneV-Learn commented on #1200
Code updated to provide a simpler more informative email to the user when MalFormedCSVError is encountered.
Full code trace is still available in log.

[2021-05-05 15:45] PatReynolds commented on #548
@DeniseColbert  can you reply to Kirk, please?

[2021-05-05 15:46] PatReynolds commented on #545
Yes - but not high priority

[2021-05-05 15:50] PatReynolds commented on #911
@PatReynolds tio chase TNA

[2021-05-05 15:57] PatReynolds commented on #1199
@PatReynolds to consider how to take forwards

[2021-05-05 16:08] PatReynolds commented on #1078
@PatReynolds to talk to @DeniseColbert about this

[2021-05-05 16:14] PatReynolds commented on #1194
As there have been no comments, to be developed.

[2021-05-05 16:18] PatReynolds commented on #1215
@Vino-S to consider where they should be kept.

[2021-05-05 16:44] Captainkirkdawson commented on #1203
deployed to test3

[2021-05-05 16:47] Captainkirkdawson commented on #1166
Long term solution is the same as #803

[2021-05-05 16:47] #1166 closed, assigned to Captainkirkdawson

[2021-05-05 16:48] Captainkirkdawson commented on #1205
fixed on test3

[2021-05-05 17:07] Captainkirkdawson commented on #1204
Deployed to test3

[2021-05-05 21:38] Captainkirkdawson commented on #1214
Fixed on test3

[2021-05-06 16:21] Captainkirkdawson opened #1217 "Improve efficiency of vld statistics calculations"
FreecenSiteStatics calculations are taking too long. Need to improve the efficiency of freecen1_vld_files calculations

[2021-05-06 16:24] Captainkirkdawson opened #1218 "Improve efficiency of csv statistics calculation"
FreecenSiteStatistic calculations are taking too long. Need to improve the efficiency of freecen_csv_files calculations

[2021-05-07 20:52] Captainkirkdawson commented on #1217
Deployed to test3

[2021-05-07 20:52] #612 closed

[2021-05-07 20:52] #1195 closed, assigned to Captainkirkdawson

[2021-05-07 20:53] #1203 closed, assigned to Captainkirkdawson

[2021-05-07 20:53] #1205 closed, assigned to Captainkirkdawson

[2021-05-07 20:53] #1204 closed, assigned to Captainkirkdawson

[2021-05-07 20:53] #1214 closed, assigned to Captainkirkdawson

[2021-05-07 20:54] #803 closed, assigned to geoffj-FUG

[2021-05-07 20:54] #1200 closed, assigned to AnneV-Learn

[2021-05-08 20:49] AnneV-Learn commented on #1218
Modified csv files statistics calculation methods to improve efficiency. Changes reviewed by @Captainkirkdawson.

[2021-05-08 21:41] Captainkirkdawson commented on #1208
@geoffj-FUG @johnt-freecen @rhodamackenzie  Can I assume that the coordinator will specify a year? Will they also specify the original piece  that may have had parts moved?
Without some degree of guidance it could be very time consuming task to look through all pieces to see if it has been split. We could start by finding all piece names that include and alphabetic character and look up the piece

[2021-05-08 21:50] Captainkirkdawson commented on #1209
@geoffj-FUG I am afraid I just do not follow. I need concrete examples of what you are talking about.

[2021-05-08 21:55] rhodamackenzie commented on #1208
At the very beginning, i would change the letter at the end of a piece to the next one up the alphabet which had not been previously used. eg 1234A might become 1234E if the previous letters had been used in other pieces. Spreadsheets were sent back to the person who originally asked me to move parishes/pieces with the new piece number. This was getting very confusing so from the first week of Feb

[2021-05-09 06:19] geoffj-FUG commented on #1208
The PARMS is a prime reference for Coordinators. Everything is based on piece numbers. Images come in batches for each piece number. Transcriptions will no doubt continue to be done by piece number even though that may mean that more than one spreadsheet is prepared. The breaking up of the PARMS has created a major problem in the Administration of Counties.
What is needed now is a table of pieces

[2021-05-09 13:25] rhodamackenzie commented on #1208
A suggestion - if i could have a master list sent to me, i can go manually through any with a letter at the end and marry them up with what i have, then Kirk might be able to magic up a technique going forward so it updates in real time?

[2021-05-09 13:29] rhodamackenzie commented on #1208
(I deleted my last comment of a few minutes ago)

I have just read Kirk's suggestion above - I have the logs of moves done since the 7th Feb and also have csv files of those, there are not a huge number so it would not take TOO long to put them together, then Kirk could perhaps work out a way of adding changes in real time as they happen, moving forward from now on

[2021-05-09 20:45] Captainkirkdawson commented on #1208
@rhodamackenzie  before you do something let me have a look at Geoff's spec it throws a different light on how to respond.

[2021-05-09 20:51] rhodamackenzie commented on #1208
thanks Kirk

[2021-05-12 13:40] DeniseColbert commented on #1194
I haven't received or seen a document for comment? Could someone share it with me please? (If it's not too late!)

[2021-05-12 13:49] DeniseColbert commented on #1194
Sorry I hadn't seen this. Initial design looks good- no comments from me. Thanks Anne!

[2021-05-12 13:51] DeniseColbert commented on #1078
Anna has almost finished all of the videos for the "Your Actions" buttons. She hopes to have them completed by our next Meet on 4th June

[2021-05-12 13:53] DeniseColbert commented on #548
Apologies for the delayed reply; yes, this will be addressed in the Training work I'm doing with my FC Vol Coord hat on.

[2021-05-14 11:44] geoffj-FUG commented on #1208
@johnt-freecen <https://github.com/johnt-freecen>  @rhodamackenzie <https://github.com/rhodamackenzie>

Yes the Coordinator will specify a year. That will set the filter.

If the file is then indexed on the piece number all associated piece numbers should appear together. (e.g. RG10_1111, RG10_1111A, RG_1111B etc) They will also be together in the ‘Home’ County of the original PARMS file before it

[2021-05-19 03:55] Captainkirkdawson opened #1219 "Transfer Freecen to mongodb database server"
Commenced the transfer on Monday May 17

[2021-05-19 04:04] Captainkirkdawson commented on #1219
Made a mistake in preparations that activated the monthly update as a scheduled task on Colobus that started on Saturday. This led to the systematic deletion of vld files , their entries and associated search records, individuals and dwellings Some 800 files were deleted before I noticed. Decided then to use the April 30 collections used to test Mongo 4.4. All data for the vld files was present si

[2021-05-19 04:08] Captainkirkdawson commented on #1219
It turned out that merging the two collection sets was slow.Also it has become apparent that the merge only checks for new ids and ignores changed documents, Hence will have to reapply the districts, pieces and civil parishes collections as some have changed.
This is going to take longer than expected.

[2021-05-19 10:24] PatReynolds opened #1220 "Add information on FreeCEN1 directing users to FreeCEN2 for current information"
This arose from a discussion with @FreecenBren and @johnt-freecen -
 -[ ] replace FreeCEN1 - statistics with a link to FreeCEN2-records
 -[ ] radd note to FreeCEN1 - recent additions explaining that this does not include records added recently directly into FreeCEN2.
in due course
 -[ ] replace FreeCEN1 - recent additions with a link to FreeCEN2-recent additions

E1 U3 S6 C3: P13

[2021-05-19 10:37] PatReynolds commented on #1078
Talking with @FreecenBren and @johnt-freecen equest for further videos to cover the actions of proofreaders and validators.

[2021-05-19 11:08] PatReynolds opened #1221 "Disparity in total records?"
Today FreeCEN1 is reporting 40,834,241 total records, and FreeCEN2 35,071,112

It took FreeCEN1 5.5 years to add 10million records, but half a million were added to FreeCEN2 in the last month (adding 10 million in under 2 years at this rate).

[2021-05-19 11:11] PatReynolds opened #1222 "Issues with record count?"
Looking at number of individuals on FreeCEN1 (almost 41 million) FreeCEN2 has only 35 million.

Rate of increase on FreeCEN1 is a fairly constant 10 million in 5.5 years, but last month FreeCEN2 had over half a million (adding 10 million in under 2 years).

[2021-05-19 12:49] FreecenBren commented on #1221
Last month end I found a discrepancy  in what FC2  records had added.
I mentioned it to Kirk to see of there was a breakdown by piece number.

Can we have a breakdown please on the FreeCEN two totals please since
December by County and Piece number that were uploaded. Hi

I am assuming the FC2 totals should only be what has been added direct into
FC2 since December using FC2 and not include those

[2021-05-19 13:03] FreecenBren commented on #1222
This is due to a duplicate piece  in two counties that needs adjusting.
On my list to do.

[2021-05-19 14:52] Captainkirkdawson commented on #1220
Rather than invest time in FC1 I would prefer it to be frozen both software UI and data content

[2021-05-19 15:40] PatReynolds commented on #352
@PatReynolds and @FreecenBren to review what is on FreeCEN2 - if not addressed by reports.

[2021-05-19 16:11] PatReynolds commented on #1222
Also due to an issue that occurred during the switch of servers on FreeCEN2 - which should be resolved by tomorrow.

[2021-05-20 00:45] Captainkirkdawson opened #1223 "CSV Search Result Display Update"
We updated the display of the navigation headers for search details of VLD entries.
Currently csv entries are not showing any navigation.
We need to port the vld navigation headers to the csv display

U1 S8 C6:P15

[2021-05-20 00:48] Captainkirkdawson opened #1224 "Census place selection needs to accommodate Freecen2 Places"
The current census place selection code is focused on place. It needs to support both Place and Freecen2Place

See #1225

[2021-05-20 00:50] Captainkirkdawson opened #1225 "place selection does not use the place index"
Need to enable usage of place indexes for place selection

E0 U3 S6 C6: P15

[2021-05-20 08:47] PatReynolds commented on #740
See also email from Brenda 20th April 2021.

[2021-05-20 14:42] Captainkirkdawson opened #1226 "Added VLD entries has gone walk about again"

[2021-05-20 14:50] Captainkirkdawson commented on #1226
This was 1204 and had been fixed on May 5

[2021-05-20 18:05] Captainkirkdawson opened #1227 "Accept all validation warnings"
There are situations when a coordinator wishes to accept all warnings such as when incorporating a previously validated file.

[2021-05-21 21:52] AlOneill commented on #688
I've converted my original listing of 19th century OVB territories to CSV and have created the extra columns (fields) required.

@Captainkirkdawson @geoffj-FUG
Qualifying dates are currently expressed using en-dashes (rather than hyphens — I'm a typography nut, after all!), for example: –1801, 1810–1816, 1820–. As such dates will be in the Notes field, I'm going to assume that a UTF-8 en-dash is a

[2021-05-21 23:10] Captainkirkdawson opened #1228 "Convert VLD to use Freecen2Place rather than Place"
CSV uses Freecen2Place VLD uses Place; going forward there should only be one place collection. This will simplify searching searching.

E2 U9 S9 C5: P25

[2021-05-22 15:43] Captainkirkdawson commented on #1219
Refreshed freecen2 didtricts/piecse/civil parishes/places

Ensured all incorporated files had search records.

Ran a reconciliation between the two data bases and they now match.

Searches appear OK and this confirmed by @pat_reynolds

Propose to do the transition to the new data base on mongodb servers

All servers running against the mongodb servers as of 5pm MDT Wednesday

[2021-05-22 15:54] Captainkirkdawson commented on #1219
Performance on last 3 days has shown all searches EXCEPT wildcard searches running in less than 25 seconds with 95% taking less that 5 seconds.
Problem with wildcard is that we are not using place indexes correctly because we are using 2 place collections place and freecen2_place.
Solutions are with either solving place selection does not use the place index#1225 or implementing Convert VLD to use

[2021-05-23 14:15] #1226 closed, assigned to nobody

[2021-05-24 11:08] PatReynolds commented on #1219
I agree that option 2 is better.  Will it add significantly to the workload in getting FC1 uploads into FC2?

[2021-05-24 19:43] Captainkirkdawson commented on #1221
Brenda
The footer report INCLUDES all records in the database. Including those from VLDs and those from CSVs. Our users are not interested in their means of entry.
The reports in early May because of an error in the processing system
The reports are now functioning correctly.
![footer.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/6d02e1b8-edb3-4466-9125-066c647917c6)
There is

[2021-05-24 19:45] Captainkirkdawson commented on #1222
The database should be reporting correctly as of deployment to the new servers
![footer.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/0d6e2bc9-e354-41bf-985d-7c8185795e6b)
![sit.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/010f7dfa-5f23-4af9-8c54-cb75782ebd40)

[2021-05-24 19:54] Captainkirkdawson commented on #1222
FC1 reports 40,834,241 individuals; FC2 reports 40,818,431 VLD individuals and 393,996 individuals from CSV

[2021-05-24 21:18] ghost opened #1229 "Add search in Yorkshire for birth county was 201787647 Website Problem (ian stimson)"
One component of  #238
Issue reported by **ian stimson** at 2021-05-24 12:07:27 UTC
Time: 2021-05-24T11:52:34+00:00
Session ID:
Problem Page URL: []()
Previous Page URL: [https://www.freecen.org.uk/contacts/new](https://www.freecen.org.uk/contacts/new)
Reported Issue:
When I look for Thomas  Driver (Exact) in 1891, census county born West Riding Yorkshire and census county also WRY, I can find him

[2021-05-24 21:20] Captainkirkdawson commented on #1229
This is an interesting issue which will require further research. Likely caused by the birth place being registered as Yorkshire.

In the meantime if you search for him simply in the census county you will find the records for him and his family. See the attached 2 images.

The census search is conducted by the District place name; in this case Silsden is a civil parish in the District of Skipton.

[2021-05-24 21:30] Captainkirkdawson commented on #1229
https://www.freecen.org.uk/search_records/5c5ddf7af4040b0fa7003553/thomas-driver-1891-yorkshire-west-riding-skipton-1851-?locale=en
        "transcript_dates" : [
                "1851-*-*"
        ],
        "search_dates" : [
                "1851-*-*"
        ],
        "location_names" : [
                "Skipton"
        ],
        "search_soundex" : [
                {

[2021-05-25 15:00] Captainkirkdawson commented on #1219
As a result I propose that we undertake story Convert VLD to use Freecen2Place rather than Place#1228. and that we apply this after the next monthly update (due this or next week) and that this be the LAST update from FC1.
What to do with work underway by Bev and others? It is either converted to CSVProc or uploaded directly into FC2 as a VLD using the capability in story Upload and process VLD fi

[2021-05-25 18:28] ghost opened #1230 "201896843 cccccccccccc (Kirk)"
Issue reported by **Captkirk** at 2021-05-25 18:27:23 UTC
Time: 2021-05-25T18:27:05+00:00
Session ID: 464c7bd8bfdf56341026ef2607a8c9a5
Problem Page URL: [http://localhost:3000/](http://localhost:3000/)
Previous Page URL: []()
Reported Issue:
ccccccccccccccccccccccccccccccccccccccccccccc

![Screenshot](localhost:3000)

[2021-05-25 19:38] #1230 closed, assigned to nobody

[2021-05-27 11:49] PatReynolds commented on #1212
There is lots of scroll room below the invitation to donate (and  Top of Page and Report a Problem buttons),  _However_ there would need to be more black space under the copyright statement.

[2021-05-27 14:00] ghost commented on #1219
No operational work for me. It can be done by the coordinator or Brenda  or we could have Rhoda do it. It is just like uploading a cvs file

[2021-05-27 15:08] FreecenBren commented on #1219
Sorry to be a pain.
Before it goes to the COORDS, A little history of FC1  uploads.
Also anticipated questions for those who do not see this list.

When I and all the COORDS uploaded them into the FC1 Database they all had
a sign-on for each County they looked after.
They could upload a VLD at any time, but we did have a date each 4 week
cycle to work to as per the schedule we all use now with Fre

[2021-05-27 15:16] PatReynolds commented on #1219
Hi Brenda,

This story is about the transfer of the database from the old servers to the new servers.  It has now been resolved.  It has nothing to do with the uploading of files (via FC1 or direct to FC2) as such, but I see now that Kirk has added a comment about which Place files we use.

I'll include that the other points you raise in my email.

[2021-05-27 15:41] suffolkroots opened #1231 "Link civil parishes to gazetteer"
Problem is transcriber types TWYS rather than the PARMS form.

Please would it be possible to code civil parish name check to use alternate names in gazetteer? answer: not possible.

Coords are getting error messages for parish names even if there is a correct alternative spelling in the gazetteer.

Process for Transcriber for dealing with errors is documented in the handbook.

E2 U7 S9 C6: P24

[2021-05-27 16:13] ghost commented on #1212
Remember Top of Page and Report a Problem buttons are not there for researchers

[2021-05-27 23:02] ghost commented on #1219
@PatReynolds the comments from @FreecenBren are quite appropriate SHOULD the decision be taken to undertake story Convert VLD to use Freecen2Place rather than Place#1228.
The problem that it proposes to fix was identified as a result of the Transfer Freecen to mongodb database server and an analysis of performance.
This specific story ie the Transfer should be considered finished and should be clo

[2021-05-27 23:07] Captainkirkdawson commented on #1228
@PatReynolds agree that this option is better. Will it add significantly to the workload in getting FC1 uploads into FC2?

[2021-05-27 23:09] Captainkirkdawson commented on #1228
@Captainkirkdawson wrote
I propose that we undertake story Convert VLD to use Freecen2Place rather than Place#1228. and that we apply this after the next monthly update (due this or next week) and that that be the LAST update from FC1.
What to do with work underway by Bev and others? It is either converted to CSVProc or uploaded directly into FC2 as a VLD using the capability in story Upload and p

[2021-05-27 23:12] Captainkirkdawson commented on #1228
@PatReynolds commented
I agree that this option is better. Will it add significantly to the workload in getting FC1 uploads into FC2?

[2021-05-27 23:13] Captainkirkdawson commented on #1228
No operational work for me. It can be done by the coordinator or Brenda or we could have Rhoda do it. It is just like uploading a cvs file

[2021-05-27 23:14] Captainkirkdawson commented on #1228
@FreecenBren commented
Sorry to be a pain.
Before it goes to the COORDS, A little history of FC1 uploads.
Also anticipated questions for those who do not see this list.

When I and all the COORDS uploaded them into the FC1 Database they all had
a sign-on for each County they looked after.
They could upload a VLD at any time, but we did have a date each 4 week
cycle to work to as per the schedule w

[2021-05-27 23:30] Captainkirkdawson commented on #1228
Should we decide to proceed with the implementation of this story then the response to @FreecenBren questions are
1 Yes by county
2. It would be by FC1 piece number. There would be NO change to the VLD as currently implemented.
3. Yes see above 1 and 2
4. It would replace the version that is currently uploaded.
5. FC1 stats would not be updated. But FC2 stats would be
6. Yes
7.Yes the capability w

[2021-05-28 11:23] PatReynolds opened #1232 "Additional statistics"
Some additional statistics which would be nice to have:
Total number of transcribers who have accepted Transcription Agreement, but have no records
Percentage of active (existing) users who accepted Transcription Agreement

E0 U1 S1 C6: P8

[2021-05-30 14:37] Captainkirkdawson opened #1233 "Physical file clean up"
Occasionally the physical file is left on a serious processing error. Check code.

E0 U6 S9 C6:P21

[2021-05-31 17:10] Captainkirkdawson opened #1234 "Add margins top and side to print display to enable people to add punch holes"

[2021-06-01 10:51] geoffj-FUG commented on #688
Ali

Is the list in spreadsheet form? If so can you send to Kirk and he can upload it.

Thanks

Geoff

From: AlOneill ***@***.***>
Sent: Saturday, May 22, 2021 7:52 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Convert Alison's listing of Countries as OVF and OVB to refinery (#688)

I've converted my origi

[2021-06-01 11:35] AlOneill commented on #688
@geoffj-FUG the listing (CSV spreadsheet) is nowhere near ready for upload. I'm about one-fifth of the way through a first pass — adding latitude and longitude, alternative names and checking qualifying dates into the 20th century. Some parts of the world, e.g. southern Africa, are complicated and will need a second pass at least.

[2021-06-01 21:37] geoffj-FUG commented on #688
Alison

That’s fine. I misunderstood your previous update.

Geoff

From: AlOneill ***@***.***>
Sent: Tuesday, June 1, 2021 9:36 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Convert Alison's listing of Countries as OVF and OVB to refinery (#688)

@geoffj-FUG <https://github.com/geoffj-FUG>  the listing (CS

[2021-06-02 11:06] PatReynolds commented on #1197
I have grabbed the html and saved it here: https://drive.google.com/file/d/15JXDzUvxN3GJehswph8vy_8jZiLzaoAR/view?usp=sharing

It needs:
[a] re-writing to our standards (e.g. colours, fonts).
[b] consultation with volunteers as to what else they have spotted / come across

[2021-06-02 12:34] PatReynolds commented on #1212
For information, earnings last month
freecen_728x90 (top banner) £90.03
right_side_300x600 (right rectangle) £1.17

FC1 search £17.08
FC1 homepage £5.97

FreeREG comparisons are here: https://docs.google.com/spreadsheets/d/1i2YklMJScm3DGqnjf2O1GXX-DBPx0uKAVFF3PxiEMbQ/edit?usp=sharing

Personally would prefer clean pages (i.e. no adverts apart from banner at top and rectangle at site - where there

[2021-06-02 14:34] Captainkirkdawson commented on #1227
Added an option for coordinators to accept all warnings. (Not shown if there are no warnings or if incorporated. Deployed to test3

[2021-06-02 14:49] Captainkirkdawson commented on #93
@AnneV-Learn Anne has written a csv download action for the sit statistics, on test3

[2021-06-02 15:34] #1219 closed, assigned to Captainkirkdawson

[2021-06-02 15:35] #1217 closed, assigned to Captainkirkdawson

[2021-06-02 15:37] #1227 closed, assigned to Captainkirkdawson

[2021-06-02 15:40] PatReynolds commented on #93
@DeniseColbert to review (on test 3)

[2021-06-02 15:42] PatReynolds commented on #1222
@PatReynolds to check that the counts are identical on FreeCEN1 and FreeCEN2

[2021-06-02 15:42] #1221 closed, assigned to Captainkirkdawson

[2021-06-02 15:56] #1218 closed, assigned to AnneV-Learn

[2021-06-04 15:07] PatReynolds commented on #1109
@DeniseColbert do you have more info?

[2021-06-07 15:00] Captainkirkdawson commented on #1202
In other words the Online status of a Piece is to be interpreted as Complete. Incorporating a csv file that has a part file name is to set the Freecen2Piece status to Part (or Part Online). The coordinator is to be given some means of changing removing the Part qualification. Should they be asked on every new part incorporation?

[2021-06-07 16:36] AnneV-Learn commented on #1202
@Captainkirkdawson - Do you agree this is what is needed for CSVProc - Piece Online Status & Date setting at file incorporation?

1. Set online status and date for piece on csv file incorporation where it is not a partial piece i.e. full match on file name.
2. On csv file incorporation ask question ‘Is this final csv file for this piece?’ if partial piece file name. If ‘yes’  - set piece online st

[2021-06-07 18:09] Captainkirkdawson commented on #1202
@AnneV-Learn we need to tighten up some aspects. There are currently 2 "piece" collections.
There is the freecen_piece collection of 17945 entries that is derived from the freecen_parms and used with VLD files. The frrecen_parms is manually created based I believe on a persons reading of the TNA.
There is the freecen2_piece collection of 66253 entries which is based on an automatic extraction from

[2021-06-07 22:04] geoffj-FUG commented on #1202
Anne

Answers to numbers below:

1                     Yes

2                     Yes, if it is a partial piece name (identified by the underscore letter at the end. E.g. _a

3                     Yes

4                     Yes

5                     Can we list files that have parts as (part) until the final piece flag is set? There should not be many partial pieces online so far. They can be ide

[2021-06-07 22:05] geoffj-FUG commented on #1202
Anne

I agree with Kirk’s answer to number 3.

Geoff

From: Kirk Dawson ***@***.***>
Sent: Tuesday, June 8, 2021 4:10 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] When do we set the piece online status for csv files (#1202)

@AnneV-Learn <https://github.com/AnneV-Learn>  we need to tighten up some aspects

[2021-06-16 08:59] PatReynolds commented on #596
This is, I think, resolved as OVB and OVF are present in the place of birth drop down

[2021-06-16 09:40] PatReynolds commented on #675
Already implemented, so suggest closing.

[2021-06-16 11:49] PatReynolds opened #1235 "Is search working in Channel Islands?"
No smiths of any age, any year, in any place found on a search of the Channel Islands (FC1 has 'too many' to display).

E3 U4 S9 C6: P22 (for finding cause)

[2021-06-16 11:57] PatReynolds commented on #911
Chased 16 June 2021

[2021-06-16 13:55] Captainkirkdawson commented on #675
There is no citation for a next or previous dwelling.

[2021-06-16 13:57] Captainkirkdawson commented on #596
Neither of the suggestions has been actioned nor discussed/rejected

[2021-06-16 14:55] PatReynolds commented on #309
I am not sure why this was closed as #960 only concerns London, not similar situations in other parts of the UK (eg Manchester and Liverpool).   And neither would resolve the Sark issue / general need for more nuanced searching (i.e. at level 7, too).

[2021-06-16 14:58] PatReynolds commented on #596
It works for OVB (search for Jane Lamb, OVB place of birth, census county Nottinghamshire finds two entries (1851 and 1861).
It works for OVF (search for Murphy -surname only - OVF place ofbirth, census county Nottinghamshire finds three entries but not the one I had anticipated (edit to add, he turns up as born Ireland, of course).

Ah, my mistake in reading the action proposed in the story!

[2021-06-16 15:09] PatReynolds commented on #675
All the buttons are missing.

[2021-06-16 15:12] PatReynolds commented on #911
Contact at TNA says: ". It would be very good to have a record of any catalogue errors you’ve detected. Can you give me an indication of the scale/volume of errors and the format of your report? I’m sure it’ll contain the citable references but let me know a little more please."

[2021-06-16 15:14] Captainkirkdawson commented on #309
This story is still open. It was 960 that was closed.

[2021-06-16 15:54] PatReynolds commented on #675
All inoriginal story complete, Kirk to look at the print button.

[2021-06-16 16:00] PatReynolds commented on #1199
@PatReynolds to take forwards

[2021-06-16 16:01] DeniseColbert commented on #93
@Captainkirkdawson to tell @DeniseColbert where to look

[2021-06-16 16:09] PatReynolds commented on #1202
@Captainkirkdawson currently testing.

[2021-06-16 16:14] PatReynolds commented on #688
There needs to be a policy decision on how to proceed.

[2021-06-16 16:16] PatReynolds commented on #1235
Pat to review

[2021-06-16 23:40] Captainkirkdawson commented on #1202
@AnneV-Learn I have tested the incorporation/unincorporation for full and part CSV file and it all works as it should. Well done.
I wonder if we should add a comment about setting the Part status on the yes/no screen; there is the comment about online but not the other.
Only other observation is that in the freecen_csv_controller the new line Line276 should come after the guard clause in line 277

[2021-06-17 10:19] geoffj-FUG commented on #688
Pat

The process exists.

There is a standard spreadsheet into which Alison is putting her entries. It is the same spreadsheet as we used to add the London places to the Gazetteer.

When Alison is ready she will send us the spreadsheet and all the places will be added to the Gazetteer. That will give us a comprehensive list of overseas places that are all OVB Chapman Codes. It will be available to

[2021-06-17 10:45] geoffj-FUG opened #1236 "Scotland PARMS"
As I understnd it the PARMS, as amended by the geographical work, will be used to enhance the search reports for by researchers.
We are now nearing the end of the England and Wales geographic work to establish links between PARMS entries and places in the Gazetteer.
However transcriptions exist for some Scotland Counties and years, though these are not currently being added to. In order for our re

[2021-06-17 10:48] geoffj-FUG opened #1237 "1921 Geographical heirachy"
The 1921 Census will be released in late 2021. We will need to establish geographical heirachy for 1921 before any work can be done on that census year. This may involve another download from TNA.
Geoff

E4 U3 S2 C (for contacting TNA) 8: P 17

[2021-06-17 11:16] AnneV-Learn commented on #1202
Thanks @Captainkirkdawson. I'll look at the 2 points you raise.

[2021-06-20 09:10] PatReynolds commented on #140
Can this epic be closed?  It seems to be complete!

[2021-06-20 16:06] Captainkirkdawson opened #1238 "Detect and eliminate blank columns after the last field"
Regardless  I can see that there were a number of uploads of the file before validation commenced and it was during those that the additional columns were added to the file

The initial upload had the headers as expected and the file commenced with the 3rd ED.
enumeration_district,civil_parish,ecclesiastical_parish,where_census_taken,ward,parliamentary_constituency,sanitary_district,location_flag,

[2021-06-20 16:08] Captainkirkdawson opened #1239 "CSV download of a VLD file is out of order"
Reported by @geoffj-FUG for HO107_1943.vld downloaded as csv.
Original vld has correct order

E6 U6 S9 C6: P27

[2021-06-21 23:11] geoffj-FUG opened #1240 "Shipping parameters"
There is a batch of pieces under England and Wales Shipping for 1861 (only)

Districts level looks OK. There are 2 links required:
Merchants At Home
Shipping at Sea and in Ports abroad
They are already linked at District level correctly

Now we come to Piece level. The Merchants at Home piece name can be anywhere in the UK. (Shipping at Sea and in Ports abroad is OK at this level). Ali needs to se

[2021-06-23 11:10] PatReynolds commented on #1240
Looking at this example, it appears that there _is_ a civil parish: "General Register Office: 1861 Census Returns database, FreeCEN (https://www.freecen.org.uk/search_records/5c87acbcf4040bce77a9886d : viewed 23 Jun 2021), Robert ALCOCK in household of Charles LILLFORD, (Abraham) Gool, England and Wales Shipping, England; from 1861 "England, Scotland and Wales census," database and images; citing

[2021-06-24 06:27] geoffj-FUG commented on #1240
Pat

The story is to enable the geographic work on the shipping to be done.

The transcription rules were well documented in FC1 and have been continued into FC2.

There are 2 groups of returns:

Ships in dock. The civil parish for these is straightforward. We just need changes to be made to the PARMS processes to allow them to be linked.

The ships at sea handed in their census at the first port

[2021-06-27 20:33] Captainkirkdawson commented on #1215
Propose to keep the files in the same locations as the monthly upload files so all VLD files are in the same location
/raid/freecen2/freecen1/pieces/chapman_code.

[2021-06-27 20:36] Captainkirkdawson commented on #1215
Integrated code written and deployed to test3 for testin by @FreecenBren and possibily @geoffj-FUG and @rhodamackenzie

[2021-06-27 21:40] ghost opened #1241 "203065863 Breadcrumbs astray when I add a Place to Gazetteer (Geoff)"
Issue reported by **GeoffJ** at 2021-06-08 07:11:03 UTC
Time: 2021-06-08T07:09:22+00:00
Session ID: 23502655bed79ff93fb075660a3800f4
Problem Page URL: [/freecen2_places/60bf17a2f493fda4db8e7a37?locale=en](/freecen2_places/60bf17a2f493fda4db8e7a37?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen2_places/new?locale=en](https://www.freecen.org.uk/freecen2_places/new?locale=en)
Report

[2021-06-27 21:41] ghost opened #1242 "204030570 Unable to remove errors when a piece moved to another County (Geoff)"
Issue reported by **GeoffJ** at 2021-06-19 11:09:30 UTC
Time: 2021-06-19T11:00:11+00:00
Session ID: 71e510a6bef50d6ef87d3ca1c1de0349
Problem Page URL: [/freecen_csv_files/60cdcca4f493fd71084e5d9e?locale=en](/freecen_csv_files/60cdcca4f493fd71084e5d9e?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_csv_files/my_own?locale=en](https://www.freecen.org.uk/freecen_csv_files/my_own?loc

[2021-06-27 21:44] Captainkirkdawson commented on #140
There is still an open story

[2021-06-28 08:02] suffolkroots commented on #1231
On second thoughts could this impact on rationalisation of parish names across census years, so perhaps not such a good idea?

[2021-06-28 14:57] Captainkirkdawson commented on #1231
It is good that you ask the question.
Since we use the "standard" parish name in all the displays there should not be any issue. (Says he but will think a bit more)

[2021-06-29 00:49] Captainkirkdawson commented on #1240
I am afraid its a great deal more complex as the individual EWS pieces are not connected to the 2 Districts

[2021-06-29 09:02] PatReynolds commented on #140
So there is! Thanks, Kirk..

[2021-06-29 22:37] Captainkirkdawson opened #1243 "Make CSVProc fully insensitive to the case of the extension"
June Duncan has observed that a file first loaded with a csv extension cannot be replaced by one with a CSV extension; an error message is generated.
We ensure that a CSV extension on an uploaded is actually kept as a csv; so if they then try to replace the file with the CSV file it will not.

[2021-06-29 22:39] Captainkirkdawson commented on #1243
After much head scratching a solution has been identified that make upload/replace insensitive to the case of the extension. Code deployed to test3

[2021-06-29 22:42] Captainkirkdawson opened #1244 "County coordinators not receiving copy of CSV processing reports"
Ali noted that while SCs were getting copies the CC was not.
Observed that CC selection was REG centric.

[2021-06-29 22:42] Captainkirkdawson commented on #1244
Code fixed and deployed to test3

[2021-06-29 22:44] Captainkirkdawson commented on #1202
Deployed to test3

[2021-06-29 22:46] Captainkirkdawson commented on #675
Please refresh my mind on what is required on the print button

[2021-06-29 22:49] Captainkirkdawson commented on #1215
Instruction document written and draft video added to test3
https://drive.google.com/file/d/1wVGoZhpiXG8PbmJB4eskMeQepO8YZcCt/view?usp=sharing

[2021-06-29 22:57] Captainkirkdawson opened #1245 "June monthly update failed"
Need to recovered 27 deleted VLD files
Need to add the planed uploads for June

[2021-06-30 04:18] Captainkirkdawson opened #1246 "Freecen2_site_statistics controller crashes"
Executor error during find command :: caused by :: Sort operation used more than the maximum 33554432 bytes of RAM. Add an index, or specify a smaller limit. (96) (on localhost:27017, modern retry, attempt 1
Problem code is https://github.com/FreeUKGen/MyopicVicar/blob/master/app/controllers/freecen2_site_statistics_controller.rb#L92-L102 specifically line 93

[2021-06-30 04:19] Captainkirkdawson commented on #1246
@AnneV-Learn can you look at; crashes the site statistics; on test3; will be even worse in production

[2021-06-30 07:36] AnneV-Learn commented on #1246
Yes I’ll try to look at this today.

[2021-06-30 08:24] PatReynolds commented on #675
Same 'Printable format' functionality as on the normal details page, please.

[2021-06-30 15:42] PatReynolds opened #1247 "Consider a possible download in appropriate form of information contained in Records Information"

[2021-06-30 15:45] PatReynolds commented on #1202
Needs testing by loading a partial CSV file and checking result.

@geoffj-FUG or @johnt-freecen could you test this please?

[2021-06-30 15:49] PatReynolds commented on #1244
Pat to ask suffolk roots to test

[2021-06-30 15:58] #1199 closed, assigned to PatReynolds

[2021-06-30 16:08] #1246 closed, assigned to AnneV-Learn

[2021-06-30 16:28] PatReynolds commented on #1236
Already a story (#1060) so closing

[2021-06-30 16:28] #1236 closed, assigned to nobody

[2021-06-30 17:09] PatReynolds commented on #1222
FreeCEN1: 40,923,091 records
FreeCEN2:  41,388,925 records of which 1500480 are CSV rececords (so 39,888,445). 1,034,646 vld records presumably are those which did not load.

Need to test after that work undertaken.

[2021-06-30 17:19] Captainkirkdawson commented on #1228
@AnneV-Learn As discussed on the scrum the first step is to at the current status to determine possible issues.
So perhaps a rake task that goes through for each county and for each piece number in freecen_piece and determine district_name, look up its place and determine place_name (should be same as district _name but who knows) and for the same piece number in freecen2_piece determine its piece

[2021-06-30 17:32] PatReynolds commented on #1235
FreeCEN2 still no search results for Smith, Channel Islands

FreeCEN1 timing out on a search for Smith, Channel Islands, 1861 (works fine for ALcock, NRY, 1861

Error on FreeCEN2: for Records 1861 St Helier: Error message: Validation of FreecenDwelling failed. summary: The following errors were found: Place can't be blank resolution: Try persisting the document with valid data or remove the valida

[2021-06-30 17:33] PatReynolds opened #1248 "The 1921 Epic"

[2021-06-30 17:56] Captainkirkdawson opened #1249 "CSVProc crash"
he CSVProcessor crashed please provide the following information to your coordinator to send to the System Administrators
undefined method `|' for "Sicily":String
["/home/apache/hosts/freecen2/production/app/models/freecen_csv_entry.rb:1467:in `validate_individual'", "/home/apache/hosts/freecen2/production/lib/freecen_csv_processor.rb:1138:in `extract_individual_fields'", "/home/apache/hosts/freec

[2021-06-30 18:04] Captainkirkdawson commented on #1249
Code error Used | instead of !; fixed

[2021-06-30 19:58] Captainkirkdawson opened #1250 "The Freecen2 Place Misterton in Dorset (DOR) does not exist"
It should be removed however it is being used by either a district/piece or civil parish

[2021-06-30 21:19] Captainkirkdawson commented on #1239
I was always under the impression that dependants would be delivered in the order of creation. The case found by @geoffj-FUG shows this to be an invalid assumption.  There were 22,000 dependants in this case. Have applied an order criteria to the delivery and at least on my server they are now delivered in the correct order. Have deployed to test3 (Something to file away @AnneV-Learn)

[2021-06-30 21:25] Captainkirkdawson commented on #327
As noted above the option is there

[2021-06-30 21:26] #327 closed

[2021-06-30 21:34] Captainkirkdawson commented on #436
The results are presented forename/ surname. We have always presented Surnames in Capitals to distinguish then from Forenames. There are many case where only one part of the name is present. Capitalization makes it clear which name part is being displayed

[2021-06-30 21:34] #436 closed

[2021-06-30 21:41] Captainkirkdawson commented on #1242
@geoffj-FUG Seems to me that the system is functioning as it was designed to do. i.e If the civil parishes are in a different county then records for those civil parishes will have to be in a transcription for the other county.
So if you are dealing with a vld file the process you have followed will not work. You need to split into 2 files.

[2021-06-30 22:59] Captainkirkdawson commented on #1210
Duplicate

[2021-06-30 22:59] #1210 closed, assigned to nobody

[2021-07-01 14:50] Captainkirkdawson commented on #1206
Will wait until Anne has done the initial rake work on 1228 before proceeding

[2021-07-01 15:36] Captainkirkdawson commented on #1241
@geoffj-FUG I am unable to find an issue.

1. If you go to Create New Freecen2 Place from the Gazetteer the breadcrumbs are for the Gazetteer

2. If you go to Create New Freecen2 Place from the the Freecen2 Places displays from the Manage Freecen2 Places as a coordinator the breadcrumbs are for the Freecen2 Places

3. If you go to the Gazetteer while managing a county and Create New Freecen2 Place

[2021-07-01 15:36] #1241 closed, assigned to Captainkirkdawson

[2021-07-02 11:31] geoffj-FUG commented on #1250
Misterton is in SOM. Mosterton is in DOR
Geoff

[2021-07-02 11:42] geoffj-FUG commented on #1242
However, I have no way of knowing at the moment where my pieces have gone and what the numbers are.
If the piece has been transferred to GLS (as it has) I no longer have access to it as Coordinator but it is in a SOM RD so SOM will receive the queries.
See Story #1208. This story will allow Coordinators to see which County the piece number is in. It just needs a listing by year in numerical order

[2021-07-03 16:12] Captainkirkdawson opened #1251 "Deletion of search records"
During the last Freecen2 deployment there was a period of approximately 4 hours during which any record retrieved by a search was deleted. This was a consequence of the code change made to remove orphan records in Freereg.
Code placed in the app to avoid applying this deletion to Freecen2 was  unfortunately flawed and permitted the deletion.
This behavior was undetected in testing on test3 nor on

[2021-07-03 22:19] Captainkirkdawson commented on #1251
@PatReynolds I wrote a rake task to examine the search queries for the time period in question. (We maintain a collection of the search queries and the search queries contain a listing of the search records that the search retrieved)
1025 queries examined 8426 missing search records of which 188 were csv and 8238 were individuals. Examining the csv/individual records used to create the search reco

[2021-07-04 14:41] Captainkirkdawson commented on #1251
Redid the analysis to ensure that timed out cases were also included
 1025 queries examined 15427 missing search records of which 240 were csv and 15187 were individuals. This showed that there were double the number of records involved.

[2021-07-05 17:57] Captainkirkdawson commented on #1251
Using the analysis rake with modifications recreated the deleted search records.
15427 missing search records of which 240 were csv and 15187 were individuals have been recreated in the database.

[2021-07-05 19:38] Captainkirkdawson commented on #1202
Apart from the application code changes there are 3 rake files to be run by Tech Support (not users).

1. rake set_piece_status_for_whole_piece_csvfiles - sets the piece status to Online for all ‘whole piece’ csv files that have already been incorporated.
2.rake list_partial_piece_csvfiles - lists partial piece files that have already been incorporated. The list could be reviewed  and then co-ords

[2021-07-05 19:39] Captainkirkdawson commented on #1202
@AnneV-Learn reran task 1 with revised code
Set Piece Status: Started.
County: SOM - Piece: RG11_2389 status updated to Online
County: SOM - Piece: RG14_14114 status updated to Online
County: KEN - Piece: RG9_519 status updated to Online
County: SOM - Piece: RG11_2392 status updated to Online
County: KEN - Piece: RG9_468 status updated to Online
County: WRY - Piece: RG10_4663 status updated to Onl

[2021-07-05 19:58] Captainkirkdawson commented on #1202
@AnneV-Learn @geoffj-FUG Have rerun the partials list. The log is on the gdrive and accessible with your freeukgen email address

https://drive.google.com/file/d/13qULznNqVJjs8ILbLzwc6H8B7Wqh76fU/view?usp=sharing
The only person to have incorporated partials is John Toplis and he has provided the information on completions.
The other people have partials but not incorporated them and some of the p

[2021-07-05 20:29] Captainkirkdawson opened #1252 "Need to display completes_piece for a freecen_csv_file"
Field has been added as part of #1202 needs to be displayed

[2021-07-05 21:18] AnneV-Learn commented on #1202
@Captainkirkdawson Just wondering why the listing on the gdrive appears to have duplicates in it??? I didn’t get duplicates when I did my testing locally.

[2021-07-05 22:13] Captainkirkdawson opened #1253 "Partial rake set update"
Rake does not pick up correct file when there are multiple files of the same name from different userids.
rake “set_piece_status_for_partial_piece_csvfile[RG10_640_a.csv,Online]” —trace will need to have an option to set userid.

[2021-07-05 22:20] Captainkirkdawson commented on #1202
@AnneV-Learn they are not duplicates in the sense that they belong to different userids. There may be up to 4 or perhaps even more copies if a file. The transcribers version, the proofreaders version, the validators version and then the Coordinators version. Normally only the coordinator will incorporate. So we are only interested in incorporated files. We likely should report the owners userid fo

[2021-07-06 12:11] geoffj-FUG commented on #1239
Kirk
I have downloaded vld file RG12_1918.vld as a CSV file on test3. The rows in the spreadsheet are now in the correct order.
I have made a couple of changes and uploaded the csv as an Upload file. I ran the No POB Warnings report with no problems.
I corrected the couple of entries that came up as Warnings. They were flags that we used to leave in the file in FC1. The other entries with Warnings

[2021-07-06 13:05] Captainkirkdawson commented on #1239
@geoffj-FUG Good test. It has been deployed.
Re last question. See
Should there be any check between a file being uploaded and /or incorporated to see if it had already been loaded into the database through a vld#1206

[2021-07-06 22:00] geoffj-FUG commented on #1206
We need to be able to load a csv file even if a vld file exists. When we have a data error reported by a researcher and we need to fix it we need to be able to download the vld file as a csv. This capability exists.
At this point the vld needs to be online or we can lose it.
The amended file (now a csv) needs to be uploaded for testing. It then needs to go through a truncated Validation process (i

[2021-07-07 14:53] ghost opened #1254 "205585993 List of Freecen1 pieces (Geoff)"
Issue reported by **somt.cen** at 2021-07-07 11:13:13 UTC
Time: 2021-07-07T11:08:10+00:00
Session ID: f9a8107528220e2f5d75a9077eb9ae52
Problem Page URL: [/freecen_pieces/SOM/1861/index?locale=en](/freecen_pieces/SOM/1861/index?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_pieces](https://www.freecen.org.uk/freecen_pieces)
Reported Issue:
Kirk
This screen appears to be quite ran

[2021-07-07 21:24] ghost opened #1255 "205616971 1861 Essex (Brenda)"
Issue reported by **Brenhanna** at 2021-07-07 19:49:31 UTC
Time: 2021-07-07T19:44:47+00:00
Session ID: 2f34454d9a40fb6b6d571b853436d3a2
Problem Page URL: [/freecen_pieces/ESS/1861/index?locale=en](/freecen_pieces/ESS/1861/index?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_pieces](https://www.freecen.org.uk/freecen_pieces)
Reported Issue:
We have No Parms file  for 1861 Essex a

[2021-07-08 04:56] Captainkirkdawson opened #1256 "[production][freecen1_vld_files#index] Render and/or redirect were called multiple times in this action. Please note that you may only c..."
E0 U8 S9 C6:P23

[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63318ae937903f2020c6a0/problems/60de2e16e937900bf6f8668f)
# Render and/or redirect were called multiple times in this action. Please note that you may only call render OR redirect, and at most once per action. Also note that neither redirect nor render terminate execution of the action, so if you want to exit an

[2021-07-08 10:31] geoffj-FUG opened #1257 "Tidy up Replcement of vld with csv."
Kirk
I have now processed a file RG9_1698 as a result of a Researcher's Report. This piece spanned 2 Counties, SOM and GLS. I did the work as Coordinator for SOM (somt.cen) .
Issues arose as follows:
The whole piece when uploaded produced errors because some parishes had been transferred from SOM to GLS in the PARMS - this was handled correctly.
**Issue 1 - as stated before the Coordinator of a Co

[2021-07-08 10:39] geoffj-FUG commented on #1242
This is related to the new story #1257
Geoff

[2021-07-09 10:58] DeniseColbert commented on #1078
Anna has asked if the team could take a look at her planning for the "Testing a Spreadsheet " video: https://drive.google.com/file/d/1RtHAaQpakwUYaj941pTT3xmdRI8-k8Hl/view?usp=sharing and let her know if she should include anything else. Thanks :)

[2021-07-09 11:17] geoffj-FUG commented on #1078
Denise / Anna

In what to do when you have transcribed a piece It is suggested that the
Warnings Report be selected. - We now have a newer report called No POB
Warnings. This is specifically designed for transcribers as it removes all
the Warnings that do not affect them.

CSV will email a report to the transcriber - If the blue message is still at
the top of the screen refresh the screen.

Locate

[2021-07-09 23:35] Captainkirkdawson commented on #1202
The latest set of changes have been deployed and are working; complete status has been applied to the Lei files.
This ca  be closed

[2021-07-09 23:36] #1239 closed, assigned to Captainkirkdawson

[2021-07-09 23:36] #93 closed

[2021-07-09 23:36] #1251 closed, assigned to Captainkirkdawson

[2021-07-09 23:37] #1249 closed, assigned to Captainkirkdawson

[2021-07-09 23:37] #1243 closed, assigned to Captainkirkdawson

[2021-07-09 23:37] #1215 closed, assigned to Captainkirkdawson

[2021-07-10 15:04] Captainkirkdawson opened #1258 "Use of extended character set"
Further to my previous comments about some issues with the Welsh Language I wonder if it might be possible to include something specific to Welsh punctuation?

 In Welsh we use a punctuation mark called a ‘To Bach’ which literally translates as ‘little roof’. It is used with the vowels a,e,i,o,u,y and w. (Yes y and w are vowels in Welsh!)

So the letters are depicted in certain circumstances as â,

[2021-07-11 22:39] Captainkirkdawson opened #1259 "Track who made edits and why to the Gazetteer"
E2 U6 S9 C6: P23

[2021-07-12 03:44] Captainkirkdawson commented on #1208
@geoffj-FUG where do you want to see the action link? On the main action page or within a county. There are arguments for both options.

[2021-07-12 10:07] geoffj-FUG commented on #1208
Kirk

My thoughts .

It is a Coordinator function.

My logic says that it should be under Manage County.

Perhaps under Manage FreeCEN2 Pieces. An additional index item at the end of
the menu 'List specific piece breakup'. The County filter should not operate
so that any piece entered for anywhere will be listed. That will help
Coordinators communicate with each other over problems and help them
i

[2021-07-12 15:49] aewilson116 commented on #1078
Great, thanks Geoff.

Anna

On Fri, Jul 9, 2021 at 12:17 PM geoffj-FUG ***@***.***> wrote:

[2021-07-13 00:35] Captainkirkdawson commented on #1208
@geoffj-FUG Before I go any further have a look at **test3** for a possible implementation; not fully integrated .bbut is this what you had in mind![review all pieces.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/8783404a-26f6-41da-ac96-60d60e2cc899)
![3 options.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/5f31dab7-752b-4076-8e0d-6ea2f4e90211)
![selection

[2021-07-13 11:32] aewilson116 commented on #1078
Hi all,

Replace the Example of a report with the simpler No POB Warnings report. It
is easier to read.

Is there an example of the No POB warning report in Google drive that I can
download?

Thanks

Anna

On Fri, Jul 9, 2021 at 12:17 PM geoffj-FUG ***@***.***> wrote:

[2021-07-13 14:24] Captainkirkdawson opened #1260 "VLD deletion process does not function correctly"
VLD deletion is supposed to remove the file from the piece, the entries, search records, individuals and dwelling associated with the file and then the file itself from the raid storage in  /raid/freecen2/freecen1/pieces
Code is currently https://github.com/FreeUKGen/MyopicVicar/blob/master/app/controllers/freecen1_vld_files_controller.rb#L68-L86

[2021-07-13 15:58] Captainkirkdawson commented on #1260
Had a quick look and there is no attic folder in SOM and the vld file is still present in /raid/freecen2/freecen1/pieces/SOM

[2021-07-13 17:07] AnneV-Learn commented on #1260
I tested the VLD file delete on my server and it did delete it fully - although didn't appear to create attic folder (or should the attic folder already exist?), so no attic file present. Could this be a permissions issue?

I did notice that the Piece doesn't exist (SOM - 1951 - 1943) for the file that Geoff had tried to delete (HO511943.VLD) - should it still be present?

[2021-07-14 07:54] suffolkroots commented on #1260
Yesterday I deleted OXF vld RG12_1165 before incorporating replacement in CEN2. The vld has gone from the list, but I have no knowledge of residual contents elsewhere.

[2021-07-14 08:37] PatReynolds commented on #878
Can this now be closed?

[2021-07-14 08:39] AnneV-Learn commented on #1260
Looked this morning and again the VLD file must still be hanging around as it is in the list

[2021-07-14 08:40] AnneV-Learn commented on #1260
![D37CA184-0ED5-45F1-94DB-F33B0A855215](https://user-images.githubusercontent.com/72746727/125591550-f1091e73-f08a-4f64-a278-67ab301b2241.jpeg)

[2021-07-14 09:17] suffolkroots commented on #1260
It's in the list "Manage vld files", but not available (button inactive).

It's not in the list of "Manage FreeCEN1 pieces" (from where it was deleted)

[2021-07-14 09:19] suffolkroots commented on #1260
Strange that there is no delete option in "Manage vld files"

[2021-07-14 10:08] PatReynolds commented on #1222
Emailed Lemon (and Vino) 14/7/2021

[2021-07-14 10:14] AnneV-Learn commented on #1260
I believe that relies on your access level. @Captainkirkdawson ?

[2021-07-14 10:52] geoffj-FUG commented on #1078
Anna

Send me your direct email address and I will send you a sample.

Geoff

From: aewilson116 ***@***.***>
Sent: Tuesday, July 13, 2021 9:32 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention
***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Short videos of Your Actions in
FreeCEN2 (#1078)

Hi all,

Replace the Example of a report with the simpler No POB War

[2021-07-14 11:21] AnneV-Learn commented on #1260
I have pushed a modification to you for review @Captainkirkdawson  - there was a problem with the path to the attic directory. Tested on my local server and attic directory and attic file now created successfully.
However there might be a problem with the way users are removing VLD files - seems they are doing by deleting the Piece and don't have access to the Delete option in the VLD Index view.

[2021-07-14 11:25] geoffj-FUG commented on #1208
Kirk

Coordinators don't think in Civil parishes, they thing in piece numbers. So
the most useful option is option 2 and the least useful is option 3.

Looking at the length of the result there is a problem in that I either
scroll for a long time or cannot get near the piece I need with the
elevator. It would be easier if a Coordinator could type in the primary
piece number having selected a year

[2021-07-14 12:02] geoffj-FUG commented on #878
This is not a problem with files initially validated in FC2 - the POBs will conform to the Gazetteer.
However ther are a huge number of POBs in vld files (and some csv files where they have been converted from vld files) that were validated in FC1. If we want to allow people to search on Place of Birth (as opposed to District, Piece, Civil Parish) all the existing files initially validated in FC1

[2021-07-14 12:06] aewilson116 commented on #1078
Thanks Geoff, it’s ***@***.***

Anna

On Wed, 14 Jul 2021 at 11:52, geoffj-FUG ***@***.***> wrote:

[2021-07-14 13:37] suffolkroots commented on #1260
Apologies---vld delete option seems to be accessible through button, not through Show, or Edit. Perhaps need consistency of approach across all actions.

[2021-07-14 14:06] Captainkirkdawson commented on #878
@PatReynolds needs to stay open

[2021-07-14 15:44] DeniseColbert commented on #1202
Closing

[2021-07-14 15:44] #1202 closed, assigned to Captainkirkdawson, AnneV-Learn

[2021-07-14 15:46] DeniseColbert commented on #1222
More work needs to be done on reconciliation before Pat can do her bit

[2021-07-14 15:52] DeniseColbert commented on #1078
I'll send Geoff Anna's email address offline as GitHub has asterisked it

[2021-07-14 16:07] PatReynolds commented on #1259
Data Manager to make _changes_ to existing entries.  Anyone can add a place (e.g. place of birth) or an alternate place name.

@DeniseColbert to create google forms so that the Data Manager has all the information they need to make changes.

If workload is too much for Data Manager, we should recruite deputies with the ability to make _changes_

[2021-07-14 16:13] DeniseColbert commented on #1258
Pat to have a think/research

[2021-07-14 16:21] DeniseColbert commented on #1255
@PatReynolds  to get more info from Brenda re. VLD files

[2021-07-14 16:22] DeniseColbert commented on #1254
@Captainkirkdawson to take a look

[2021-07-14 16:23] DeniseColbert commented on #1253
Resolved, closing

[2021-07-14 16:23] #1253 closed, assigned to AnneV-Learn

[2021-07-14 16:26] DeniseColbert commented on #1242
Closing- create new story if persistant issue

[2021-07-14 16:26] #1242 closed, assigned to Captainkirkdawson

[2021-07-14 16:31] DeniseColbert commented on #1235
@Captainkirkdawson @AnneV-Learn to explore what is going on

[2021-07-14 16:41] PatReynolds commented on #1237
Pat to check with TNA colleague to see if we can get heirachy from them

[2021-07-14 16:50] Captainkirkdawson commented on #1260
After much head scratching @AnneV-Learn and I have concluded that @geoffj-FUG and Ali are equating a vld file to a Freecen1 Parm  and rather than deleting the vld file through the Manage vld files action they are deleting the specific Parm though the Manage Parms action. The latter action does NOT delete the associated vld file.
It is only the Manage Vld Files action that deletes the file, its ent

[2021-07-14 17:53] Captainkirkdawson opened #1261 "search_records#show undefined method `<' for nil:NilClass"
[See this exception on Errbit](https://errbit.freeukgen.org.uk/apps/5b63318ae937903f2020c6a0/problems/60ed98a4e93790b614125032)

[2021-07-14 18:01] #1256 closed, assigned to Captainkirkdawson

[2021-07-14 18:01] Captainkirkdawson commented on #1256
Fixed and deployed

[2021-07-14 18:05] Captainkirkdawson commented on #1245
Deleted files replaced
Most (all?) new loads/replacements for June/july done.
@PatReynolds to confirm with @FreecenBren if this is now completed and can be closed

[2021-07-14 18:22] suffolkroots commented on #1260
In my defence @Captainkirkdawson I went to Actions in VLD list, didn't find delete, so went to Manage FreeCEN1 Pieces where I found delete.
We need consistency of approach across all actions.

[2021-07-14 20:03] rhodamackenzie commented on #1259
Fields for google form for Gazetteer changes:
Required:
1) Place name
2) County
3) Either a Grid Reference OR the latitude and longitude
4) Information source

Optional:
1) Other name for place
2) Other name for place
3) Other name for place

[2021-07-14 20:11] rhodamackenzie commented on #1259
Fields for google form for Civil parish changes:
Required:

1) County
2) District
3) Piece number
4) Civil Parish
5) Freecen2 place name for linkage (to be checked/requested to be added to gazetteer by requestor before filling in this form)

choice for civil parish action requested - add, change or delete (Denise - please see if its easier to do 3 different forms for these 3 options

Optional if a

[2021-07-14 21:15] Captainkirkdawson commented on #1260
Ali No defense is needed. Those actions have grown from a simple capability for me to see what was what into actively used actions by people with little overall planning , instructions and video's. We will put that right.

[2021-07-15 10:26] PatReynolds commented on #899
added priority just to check if this story is still live / has become urgent

[2021-07-15 10:29] PatReynolds opened #1262 "Improve search form (place of birth searching text)"
There are over 20 stories which relate to searching by place.  Immediately before implementation, I think it would be good to conduct some UX research and comparisons with other genealogical search engines before reviewing the stories we have.
 - [x] Write replacement text
 - [ ] Take down feedback form

[2021-07-15 13:49] Captainkirkdawson commented on #1262
This needs to be 2 stories as they are very different requirements with very different implementations

[2021-07-15 14:08] Captainkirkdawson commented on #899
The story is still relevant. What it means in the initial example is that for the census places for 1861, 1871, 1881 has Minehead, Dunster, Stogursey, Stogumber and Williton but in 1891 there is just the one place Williton which has them all.

[2021-07-15 23:18] Captainkirkdawson opened #1263 "Load unknown location for each county"
A list of locations for every county ( 1 per county) has been developed and needs loading

[2021-07-16 13:35] PatReynolds commented on #1245
Contacted Brenda and passed message on 16  July 2021

[2021-07-17 04:36] Captainkirkdawson commented on #1208
@geoffj-FUG I am sorry to say your suggestion is not implementable as the initial piece may already have an alphabetic character associated with it. I have spent 3 days trying to find a solution and reached a brick wall and in addition the "numeric" part is not numeric and may be 1-4 characters. Some other programmer may be able to develop such code but I cannot.

[2021-07-17 10:26] AnneV-Learn commented on #1235
@PatReynolds

I have just done several searches for SMITH in Channel Islands Census and get results with them all:

![Screenshot 2021-07-17 at 11.17.29.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/1da128f7-a65e-43ab-8cae-7d8746f9db3a)

![Screenshot 2021-07-17 at 11.18.21.png](https://images.zenhubusercontent.com/6009aeccd60429cb7008e5d3/5bc3eee4-6676-4849-8caf-b4f9f476f6a3)

[2021-07-17 15:29] AnneV-Learn opened #1264 "Site Stats - Data Integrity check failures by County"
E0 U6 S7 5: P18

[2021-07-17 15:30] AnneV-Learn commented on #1264
A thought for future development - It would be good to be able to see the data integrity checks on the Site Stats too (not just the County Stats) and be able to drill down to see the list of counties that are failing the check - or maybe just a data integrity report that does that.

[2021-07-17 15:30] Captainkirkdawson opened #1265 "Implement the revised Records displays for FreeCEN2"
A phased implementation plan is as follows:
a. Implement changes to Freecen1 and Freecen2 so that all pieces have a process to set status field to 'Online' and populate an Online_date field. (see #1202 for freecen2 - need new story for freecen1?)
b. Develop new Records pages (excluding Parish data, unique names and charts).
c. Develop unique names capability at Piece level.
d. Develop charts.
e. I

[2021-07-17 15:33] #1194 closed, assigned to AnneV-Learn

[2021-07-17 15:51] AnneV-Learn commented on #1260
Deleted HO511943.VLD (Geoff's file mentioned above)  - this resolved Data Integrity check no. 2 issue for SOM 1851.
Updated FreeCen code so that a FC1 Piece cannot be deleted if there is an  associated VLD file or dwellings and modified roles permitted to delete/destroy Pieces and VLDs.
There are now as follows:
Destroy Piece:
system_administrator data_manager
Delete VLD:
system_administrator data

[2021-07-19 15:13] DeniseColbert commented on #454
Draft text ready for feedback: https://docs.google.com/document/d/1n58RWUVyqGe1pBf6YC7KAFkAdKE90m4hFJ60vBkWmZs/edit?usp=sharing

[2021-07-20 01:31] Captainkirkdawson commented on #1208
@geoffj-FUG @rhodamackenzie I came at the problem a different way.
There is an Action called Locate
![locate.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/8aa111ad-1f12-4844-a017-540d2adfb5ea)
It takes you to a piece number entry
![piece.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/3f462771-bf35-4e8c-a2e3-913489c8a6b2)
Locate then looks for that piece num

[2021-07-20 12:09] AlOneill commented on #454
Have left some comments and suggestions.

[2021-07-20 15:52] Captainkirkdawson commented on #1263
Added to database

[2021-07-20 19:09] rhodamackenzie commented on #1208
i can't attach a csv file here but have sent moves files by email to Kirk and Geoff, so we can test on test3

[2021-07-20 23:21] Captainkirkdawson commented on #1208
Thanks @rhodamackenzie  run on test3
Results for HO107_933 follow
![HO107_933](https://user-images.githubusercontent.com/2874694/126407265-85a087dc-6bbb-493f-abf5-b64ed36f685a.png)

[2021-07-20 23:22] rhodamackenzie commented on #1208
Looks good!

[2021-07-21 10:54] geoffj-FUG commented on #1208
Kirk
Just tested this.
Looks good. It solves the problem.
It always helps to have different perspectives. Your solution is perfect.
Geoff

[2021-07-21 14:11] #1263 closed, assigned to Captainkirkdawson

[2021-07-22 08:49] PatReynolds opened #1266 "Places in County not displaying corretly"
Richard L noted " I selected Dorset, but the list of places didn't then fill as expected. After giving me an error message about an incomplete search, it then did provide a list of places in Dorset.  However, when I selected Iwerne Minster (and 1841) for my search, it again complained about the lack of a place in the search, and my selection was no longer highlighted.

This seems to be an issue wi

[2021-07-22 09:08] PatReynolds opened #1267 "Census places not showing for some counties"
For some counties, places do not show when the county is chosen.  If you had previously selected a different county, the places of that different county remain.  If 'search is pressed when either no places or the wrong places are shown, the whole county is searched.

There is a work-around: if you search the whole county and  then use the 'revise search' button, the correct places for the county a

[2021-07-22 09:08] PatReynolds opened #1268 "Problem with place within county (search page) not showing"
Some counties show their places when selected, some dont.

If a user selects a place that shows, and then a county that doesn't, the places of the previous county remain.

There is a work-around: search with no places or wrong places, then use 'revise search' and the correct places for the county will have appeared.

I have put a message on the search page to that effect.  Could @DeniseColbert or

[2021-07-22 09:15] #1268 closed, assigned to nobody

[2021-07-22 09:56] AlOneill commented on #1267
Did some minor tidying: "do not" for "don't" and some curly quotes.

[2021-07-22 10:34] PatReynolds commented on #1267
Thanks, Alison!

[2021-07-22 14:44] Captainkirkdawson commented on #1206
@geoffj-FUG check has been added. Running on test3

[2021-07-22 15:05] Captainkirkdawson commented on #1266
@PatReynolds This can be fixed by a system administrator running the Refresh Place Cache utility

https://docs.google.com/document/d/1RPUADzvJVqDkxp7VK6JWhbnS3N3WxEumdPZNNDI3yxo/edit#

I have done that. Message may be removed

[2021-07-22 15:40] PatReynolds commented on #1266
Thanks, Kirk.  I have removed the message.

[2021-07-22 16:19] Captainkirkdawson commented on #1257
Issues 1 and 2 were fixed in story 1208
Issue 3 has been fixed and deployed to test3
Issue 4. The vld file should have been deleted not the piece. The stats would have been OK

[2021-07-23 17:57] Captainkirkdawson commented on #1257
@geoffj-FUG The copy of **We have processed the request to include RG14_14172.csv of Captkirk into the database** went to both you and myself confirming the fix for 3 works

[2021-07-23 20:25] Captainkirkdawson commented on #675
@PatReynolds I still do not understand what is required. Are you saying that in addition to the ability to copy the citation you want the ability to print the citation? or something else?![citation.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/69803ac0-db53-4081-a5ba-22659a1651b8)

[2021-07-23 21:00] Captainkirkdawson commented on #1250
@geoffj-FUG @rhodamackenzie The issue is deeper than just the Gazetteer. There are actually 3 FreeCen2Pieces in DOR that are said to be named as Misterton. Don't these need to be fixed as well? i.e. moved to SOM. TNA flags them as SOM
HO107_1860A;  RG9_1363; RG10_2023;

[2021-07-23 21:48] #256 closed

[2021-07-26 17:10] rhodamackenzie commented on #1250
These 2 places are only 2 miles apart though, probably OK to have Misterton in both counties

[2021-07-27 12:14] PatReynolds commented on #1258
Welsh uses (https://en.wikipedia.org/wiki/Welsh_orthography#Diacritics):
**circumflex** (used to show a vowel is long, sometimes)
**grave** (used in foreign loans to show that the vowel is short, when Welsh would have it long)
**acute** (used, sometimes, on vowels to indicate stress is on the final syllable,  and to indicate that the word is two syllables rather than one ("e.g. gẃraidd /ˈɡʊ.raið/

[2021-07-28 15:35] DeniseColbert commented on #1257
Awaiting @geoffj-FUG to let us know if this is OK

[2021-07-28 15:37] DeniseColbert commented on #1206
@geoffj-FUG could you check this please?

[2021-07-28 15:40] PatReynolds opened #1269 "Run rake task to check for VLD deletions"
There was a story #1260 that addressed the issue of vld file deletions. This identified that coordinators were equating a freecen1 piece parm with a vld file. This was resolved.
However it is possible that some freecen1 parms were deleted but their associated vld file and its entries and search records were left behind on the system as orphans.
First step is to determine if the are orphan vld file

[2021-07-28 15:40] DeniseColbert commented on #1260
Deployment needs to be done and then follow up work (story #1269)

[2021-07-28 15:41] PatReynolds commented on #1258
Relevant UCF-8 codes to be activated.

[2021-07-28 15:47] DeniseColbert commented on #1265
Looking at compatibility between pieces in FC1 & FC2

[2021-07-28 15:48] DeniseColbert commented on #1228
Needs to be in Master to test on production

[2021-07-28 15:55] PatReynolds opened #1270 "Explain that if place is not transcribed, it does not appear for selection, and that counties without places can be selected, but nothing is there to be found"
E0 U3 S6 C6: P15

[2021-07-28 15:58] DeniseColbert commented on #1175
Closing

[2021-07-28 16:02] DeniseColbert opened #1271 "Review epics/stories for Automated Training/Onboarding"

[2021-07-28 16:06] PatReynolds commented on #1267
Caused by needing to rebuild the place cache - now done, so closing.

[2021-07-28 16:06] #1267 closed, assigned to nobody

[2021-07-28 16:07] #1266 closed, assigned to nobody

[2021-07-28 16:23] #1235 closed, assigned to nobody

[2021-07-28 16:40] PatReynolds commented on #1245
Sent again 28 July 2021

[2021-07-28 16:52] AnneV-Learn commented on #454
@DeniseColbert - I have reviewed and left one minor comment

[2021-07-28 16:55] PatReynolds commented on #1262
Draft text for comments: https://docs.google.com/document/d/1mozGpzFbhY2dYzlMj5U2dEG9yXV8bHfjSMbFwgOs01E/edit?usp=sharing

[2021-07-28 16:59] Captainkirkdawson commented on #1262
Some edits made

[2021-07-30 10:14] geoffj-FUG commented on #1257
Kirk
Advice received OK so it works OK.
Geoff

[2021-07-30 10:22] geoffj-FUG commented on #1250
I have had a look at Genuki. The boundaries of Misterton and Mosterton are adjacent and the boundary of the Counties of SOM and DOR make up the boundary of the two parishes.
They are two distinct places in two distinct counties.
Any entries of Mosterton in SOM civil parishes should be moved to DOR.
Any entries of Misterton in DOR civil parishes should be moved to SOM.
That includes the 3 entries i

[2021-07-30 10:27] geoffj-FUG commented on #1208
Kirk
This can be deployed and I will let the Coordinators know. I will put out an explanation that will assist with all the queries.
Geoff

[2021-07-30 10:48] DeniseColbert commented on #117
Duplicate- closing

[2021-07-30 10:48] #117 closed

[2021-07-30 10:54] DeniseColbert commented on #1040
Duplicate - closing

[2021-07-30 10:54] #1040 closed, assigned to nobody

[2021-07-31 00:59] Captainkirkdawson opened #1272 "Avoid double incorporation"
Yes there are 2 copies of each search record for each csv_entry. Their creation times show their creations were separated by 2 minutes 32 seconds

Looking at the mail log it is clear Chris was sent 2 incorporation messages separated by just over a minute.
I, [2021-07-20T07:57:39.744137 #81172]  INFO -- : #<Mail::Message:17355859380, Multipart: false, Headers: <Date: Tue, 20 Jul 2021 07:57:39 +0100

[2021-07-31 14:11] PatReynolds opened #1273 "Data missing from Statistics"
Previously collected (there 10/2/2021 but not there 31/7/2021):
Total number of transcribers who have accepted Transcription Agreement, but have no records
Percentage of active (existing) users who accepted Transcription Agreement

[2021-08-01 10:02] geoffj-FUG commented on #1206
Tested and working OK. The risk of having pieces incorporated as a csv when a vld file exists has been removed and works OK. :)
It looks like we have a workable process now. This can be deployed.
Geoff

[2021-08-02 19:47] #1257 closed, assigned to geoffj-FUG

[2021-08-02 19:47] #1206 closed, assigned to geoffj-FUG

[2021-08-02 19:47] #1208 closed, assigned to Captainkirkdawson

[2021-08-02 19:47] #1260 closed, assigned to Captainkirkdawson, AnneV-Learn

[2021-08-03 16:32] Captainkirkdawson commented on #1259
A new version of the tracking system for gazetteer entries has been written. Edits made are entered into an embedded collection for the FreeCEN2 Place. A rake task has been written to convert the existing changes into a single edit.
The system has been deployed to test3 for evaluation.

The reason box is a mandatory field currently freeform. However it might be better to do it as a selection from

[2021-08-03 16:34] #1209 closed, assigned to Captainkirkdawson, geoffj-FUG

[2021-08-03 19:26] Captainkirkdawson commented on #1254
@geoffj-FUG It was not random it was ordered by piece name.
Have changed the order to piece_number.
Deployed to test3

[2021-08-03 19:34] Captainkirkdawson commented on #1261
Fix applied in test3

[2021-08-03 19:34] #1261 closed, assigned to Captainkirkdawson

[2021-08-04 00:44] Captainkirkdawson commented on #1255
@FreecenBren all of the ESS 1861 pieces are already there in Freecen2Pieces

[2021-08-04 21:30] Captainkirkdawson commented on #1272
Fix deployed to test3

[2021-08-05 02:17] #812 closed, assigned to nobody

[2021-08-05 02:18] #1044 closed, assigned to nobody

[2021-08-05 02:19] #1272 closed, assigned to Captainkirkdawson

[2021-08-05 02:19] #1254 closed, assigned to Captainkirkdawson, geoffj-FUG

[2021-08-05 02:20] #1216 closed, assigned to nobody

[2021-08-05 02:21] #854 closed, assigned to nobody

[2021-08-05 03:55] #899 closed, assigned to nobody

[2021-08-05 09:13] PatReynolds commented on #1060
Contact at NLS has sent files: sent on to Geoff and Rhoda, in FreeCEN>Data Documentation folder.

[2021-08-05 14:10] Captainkirkdawson opened #1274 "Change 30 day to 1 day for additions"
While Freecen2 was updated primarily by monthly updates it made sense to use 30 day increments for additions. Now that Freecen2 is solely updates online the stats should reflect a daily update as in Freereg

[2021-08-05 15:36] Captainkirkdawson commented on #1060
Geoff replied
This looks like part of the structure for a Scotland PARMS to me. It had RDs, piece numbers and counties. It would need another table for a join of piece names and civil parishes wityh a join field of piece numbers. It may be worth having a saved copy as a start.

Unfortunately it does not paint the whole picture.

[2021-08-07 20:14] Captainkirkdawson opened #1275 "Ensure Civil Parish name name is entered when adding a Civil Parish"
We have had the situation of someone adding a Civil Parish without entering a name. This leads to a fatal situation when trying to list the Civil Parish names for that place

[2021-08-09 20:14] Captainkirkdawson opened #1276 "Add code to VLD save that ensures that the freecen piece has a freecen2_place_id once we deploy the latter"

[2021-08-09 20:37] Captainkirkdawson commented on #1265
@AnneV-Learn has written a rake task to determine the extent to which freecen pieces can be linked to Freecen2Places. With a series of iterations we were able to achieve 99% correct connections. We have added some additional alternate place names that should bring us to 100%.
**@PatReynolds @geoffj-FUG The Freecen2Place connections currently are set to follow the same place pattern as FC1 which is

[2021-08-10 11:04] geoffj-FUG commented on #1265
Kirk

What are the advantages of consistency vs the effort involved.

For instance if the tables are going to be used for searching then as much
consistency as possible would be advantageous to make the production of
search results easier.

Would changing to a consistent District level affect the recent PARMS
geolocating exercise? If so I don't think there is the goodwill out there at
the moment.

[2021-08-11 17:25] Captainkirkdawson commented on #1265
@geoffj-FUG I believe it would perhaps lead to some confusion. Lets then go with the pragmatic approach at this time until  there is enough desire to change.

[2021-08-11 17:26] Captainkirkdawson commented on #1265
@AnneV-Learn I believe you can now proceed with the development of the records displays based on FreeCEN2Place.

[2021-08-11 17:36] Captainkirkdawson opened #1277 "Modify the search to use Freecen2Place linkages for both VLD and CSV files"
VLDs currently use Place documents for search. These documents do not have the geolocations need to support nearby searches. CSV files use Freecen2Place documents that contain geolocation information. The search capable cannot easily  accommodate use of both Place and Freecen2Place documents simultaneously. Since the latter is the basis of our gazetteer we should transition the search to use the F

[2021-08-13 16:51] Captainkirkdawson commented on #1259
New version committed to test3 that uses defined reasons and has the ability to add reasons.

[2021-08-13 17:57] Captainkirkdawson commented on #1225
Implemented on test3

[2021-08-13 18:00] #1252 closed, assigned to AnneV-Learn

[2021-08-13 23:05] Captainkirkdawson commented on #1275
Field is now required.
Deployed to test3

[2021-08-13 23:41] Captainkirkdawson commented on #1223
Added navigation deployed to test3

[2021-08-13 23:43] Captainkirkdawson opened #1278 "Investigate how to navigate to next and previous dwellings with freecen_csv_entreis"

[2021-08-14 19:39] rhodamackenzie commented on #1259
I have just changed a placename on test3 and the list of reasons are sensible except that often more than one change is made at the same visit - could multiple reasons be highlighted using CTRL? Also, not seeing any tracking info after i made the change and went back in, but that is perhaps not in place on test3

[2021-08-14 19:42] #1223 closed, assigned to Captainkirkdawson

[2021-08-14 19:42] #1275 closed, assigned to Captainkirkdawson

[2021-08-14 19:43] #1225 closed, assigned to Captainkirkdawson

[2021-08-14 19:43] #1259 closed, assigned to Captainkirkdawson, DeniseColbert, geoffj-FUG, rhodamackenzie

[2021-08-14 21:51] Captainkirkdawson commented on #1276
Code at process_vld_file(filename, userid) lines 20 to 30

[2021-08-14 21:57] Captainkirkdawson commented on #1259
Tracking info is available at a new field in the Freecen2 Place display (show)
![edits](https://user-images.githubusercontent.com/2874694/129461086-f36bf340-c061-4a52-a6bd-e26f5d5f8998.png)

[2021-08-14 21:58] Captainkirkdawson commented on #1259
Interesting comment on multiple selections will look at adding

[2021-08-14 21:58] Captainkirkdawson opened #1279 "Allow multiple selections in the reasons for a Place edit"

[2021-08-14 23:29] Captainkirkdawson commented on #1259
Your wish for multiple reasons is my command. Look at test3 again

[2021-08-14 23:30] Captainkirkdawson commented on #1279
Committed to test3

[2021-08-15 14:38] #1279 closed, assigned to Captainkirkdawson

[2021-08-15 14:39] #1245 closed, assigned to PatReynolds

[2021-08-15 16:01] rhodamackenzie commented on #1259
great thanks - may be worth adding to the sentence "Multiple reasons may be selected using the CTRL key"

[2021-08-16 17:04] Captainkirkdawson opened #1280 "Load Civil Parishes from TNA Extraction for 1901 and 1911"
Some months ago it was decided that since the TNA had included many Hamlets and Townships and other Geographic places as well as Civil Parishes into the contents field from which we extract the civil parish without any form of distinction between the entries we would remove them.
Coordinators would then be expected to create the appropriate civil parishes at the point of transcription.
It has beco

[2021-08-16 17:08] Captainkirkdawson commented on #1280
Will require modifications to the original code so that it adds civil parishes to the existing District?piece structure if they are not already present. In many cases they are.

[2021-08-16 17:22] Captainkirkdawson commented on #1277
Interesting our initial comparison of Places used with FC1 with potential Places in FC2 was based on the expectation that there was a Country field in the FC1 Place documents. Detailed analysis of why some FC1 Places were not being matched identified that a large number of FC1 Place documents did NOT have an entry in the country field hence were ignored in our original coding.. There are 543 such

[2021-08-18 15:31] Captainkirkdawson opened #1281 "Modify Piece to use Freecen2Place"

[2021-08-18 15:31] Captainkirkdawson opened #1282 "Amend Place Cache to use Freecen2Place"

[2021-08-18 17:52] ghost opened #1283 "209234088 Mauritius (Michael): Edit and creation of gazetteer entries Via the Gazetteer can change county"
Issue reported by **MikeS** at 2021-08-18 16:34:48 UTC
Time: 2021-08-18T16:31:40+00:00
Session ID: bad6538314158048c706056fd63a6ee4
Problem Page URL: [/freecen2_places/5fdf24bdf493fd15ed00a0a5?locale=en](/freecen2_places/5fdf24bdf493fd15ed00a0a5?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen2_places/5fdf24bdf493fd15ed00a0a5/edit?locale=en](https://www.freecen.org.uk/freecen2_pla

[2021-08-18 18:50] Captainkirkdawson commented on #1283
Fixed and deployed

[2021-08-21 20:23] Captainkirkdawson opened #1284 "Add Freecen2Place linkage to Freecen Piece documents"

[2021-08-21 20:25] Captainkirkdawson commented on #1281
Interesting our initial comparison of Places used with FC1 with potential Places in FC2 was based on the expectation that there was a Country field in the FC1 Place documents. Detailed analysis of why some FC1 Places were not being matched identified that a large number of FC1 Place documents did NOT have an entry in the country field hence were ignored in our original coding.. There are 543 such

[2021-08-21 20:27] #1284 closed, assigned to Captainkirkdawson

[2021-08-21 20:43] Captainkirkdawson commented on #1281
After considerable work adding freecen piece places to Freecen2 Place we are almost there.
It turned out that there were several hundred place name in FR1 that were either inconsistent in both grammar ans spelling. Most of these were dealt with through the use of alternate place names in the Gazetteer. That left 3 issues. It appears that FC2 does not correctly support The Shetland Isles nor the Or

[2021-08-21 20:46] Captainkirkdawson opened #1285 "Freecen2 does not appear to handle STI and OKI correctly"

[2021-08-22 21:14] Captainkirkdawson commented on #1285
Need to eliminate Orkney not Orkney Isles and Shetland not Shetland Isles. Deployed to test3

[2021-08-23 14:38] Captainkirkdawson commented on #1240
@PatReynolds Your example is from a VLD record ie FR1 not a CVS record. What @geoffj-FUG is talking about is the set up of Shipping records loaded into CSVProc and how they are to be  connected to Civil Parishes and Freecen2 Places.

[2021-08-23 15:09] Captainkirkdawson commented on #1240
@geoffj-FUG  I propose we split this story into 2 separate stories as the work required is different in nature. I would also suggest that this is of lower priority than other aspects of our work and should be dealt with later in the year.

[2021-08-23 15:12] Captainkirkdawson opened #1286 "EWS-British Ships in home ports"
E4 U3 S6 C5: P18

[2021-08-23 15:13] Captainkirkdawson opened #1287 "EWS-Shipping at sea and in ports abroad"
E4 U3 S6 C5: P18

[2021-08-23 15:17] Captainkirkdawson opened #1288 "Royal Navy Ships (RNS) [covering ALL non-household censuses]"
23/7/25 update
This is not just RNS but other non-household census entries. E.g. prisons, hospitals, institutions.

E4 U3 S6 C5: P18

[2021-08-23 15:21] Captainkirkdawson commented on #1240
Dependant stories created

[2021-08-23 15:49] PatReynolds commented on #1240
I Don't see what the VLD ves CSV has to do with it - I was taking the data directly from the censuses.  Which differs between censuses.

I _think_ this story is about indexing rather than content - and about searching those indexes.  If that's a different story, could you point me at it?

[2021-08-23 16:44] PatReynolds opened #1289 "Searching for Ships ... Finding Ships"
from my point of view as a researcher,  for Scottish Shipping, EWS, RNS and other ships incidentally captured in Censuses

A search of a parish* should find
a) ships registered to that parish in the ships papers (e.g. the Saucy Sue, registered Scarborough), and
b) ships at anchor / in harbour in that parish (e.g. the Saucy Sue, in Whitby harbour on census night)
*some ports are in two parishes - a

[2021-08-23 23:35] Captainkirkdawson commented on #1240
Sorry @PatReynolds this story is about how to establish the parameters that link Freecen2CivilParishes, Freecen2Pieces, and Freecen2Districts with Freecen2Places. It does not deal with FreecenPieces and its linkages to Places

[2021-08-23 23:39] Captainkirkdawson commented on #1289
In my opinion this is an impossible requirement. We do not have any knowledge of item a. The registration parish or even registration place of a ship. It might be possible to address item b for CSV entries. The ability to address the requirement for VLD entries is currently unclear within Freecen2.

[2021-08-24 07:54] suffolkroots commented on #1289
Ship's name and home port is entered as the address for the entries.  The civil parish is the port where the census was handed in. A person search if successful will present an address for that person, which may or may not be a ship.

[2021-08-25 15:42] #1285 closed, assigned to Captainkirkdawson

[2021-08-25 15:43] #1283 closed, assigned to Captainkirkdawson

[2021-08-25 15:45] PatReynolds commented on #1240
There is a piece for each port.

This needs to be fixed first.

Then a decision can be taken on the next step.

[2021-08-25 15:45] #1240 closed, assigned to Captainkirkdawson

[2021-08-25 15:46] PatReynolds commented on #1240
Closing as wne stories made

[2021-08-25 15:48] PatReynolds commented on #454
@DeniseColbert has resolved Anne's comment - please proceed with implimentation

[2021-08-25 16:05] PatReynolds commented on #1289
@PatReynolds to find examples showing the kinds of data in censuses

[2021-08-25 16:14] PatReynolds commented on #1274
Closing as 30 days gives a good impression / never shows 0

[2021-08-25 16:14] #1274 closed, assigned to nobody

[2021-08-25 18:19] Captainkirkdawson commented on #1273
@PatReynolds  I see nothing wrong with the statistics
![statistics.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/55eba4dc-094d-4ae6-8b7b-bc0546f0e95d)

[2021-08-25 22:01] geoffj-FUG commented on #1289
Pat
The instructions for entering information for EWS are the same as for FreeCEN1. The only significant change is that we now collect the latitude and longitude of ships at sea on census night. This was not done for FreeCEN1. We have also expanded the information that is to be entered in Notes as we are no longer constricted by the number of characters.
The Instructions are in Appendix D of the H

[2021-08-25 22:19] geoffj-FUG commented on #1289
Pat says that serches should be able to find:
_a) ships registered to that parish in the ships papers (e.g. the Saucy Sue, registered Scarborough), and_
**This is entered in the address. It will not be able to be searched unless searching for a specific address is implemented systemwide**
_b) ships at anchor / in harbour in that parish (e.g. the Saucy Sue, in Whitby harbour on census night)
*some

[2021-08-30 00:26] Captainkirkdawson commented on #1280
@geoffj-FUG @rhodamackenzie The rebuild of the civil parish structure for 1901 and 199 has been completed. You may wish to review.

[2021-08-30 05:54] geoffj-FUG commented on #1280
Kirk

I went to FreeCEN2 live.

When I select 1891 I get the list of civil parishes for the year OK.

When I select 1901 I get the red message.

When I select 1911 I get the red massage.

So I decided to look on test3. I only have 2 parishes listed on test3.

Geoff

[2021-08-30 20:31] Captainkirkdawson commented on #1280
@geoffj-FUG @rhodamackenzie should be OK now.

[2021-08-30 20:54] rhodamackenzie commented on #1280
Looks fine, thank you
Rhoda

From: Kirk Dawson ***@***.***>
Sent: 30 August 2021 21:31
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: Mackenzie, Rhoda ***@***.***>; Mention ***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Load Civil Parishes from TNA Extraction for 1901 and 1911 (#1280)

CAUTION: External email. Ensure this message is from a trusted source before clicking links/attachments.

[2021-09-01 02:00] Captainkirkdawson commented on #1282
A new Freecen2PlaceCache has been created that co-exists at this time with the PlaceCache. Selection is to be based on a system variable `config.freecen2_place_cache = MyopicVicar::MongoConfig['freecen2_place_cache']` A value of false uses the old cache. A valid of true selects the freecen2_place_cache

[2021-09-01 15:40] Captainkirkdawson opened #1290 "Action to list dependencies of a Gazetteer entry"
Often there is a need to disable an incorrect Gazetteer entry. This cannot be done if the entry is being used by a District, Piece or Civil Parish. There is no way for a Member to find these dependencies and a programmer has to locate them.
Hence write an action for the master county coordinator, data administrator or system administrator to list the dependants.

E2 U6 S8 C6: P22

[2021-09-01 15:41] Captainkirkdawson commented on #1290
@geoffj-FUG FYI

[2021-09-04 07:14] geoffj-FUG commented on #141
Feedback from Coordinator Mike S:
_I have had some comments about the Records pages not being up-to-date. There have been transcribers asking to work on pieces that they see on the Record pages that are not online, only to be told that the particular piece is complete and online, just not showing so._
This issue is therefore causeing some problems with transcribers. Perhaps something can be posted

[2021-09-04 16:52] Captainkirkdawson commented on #141
@geoffj-FUG What are the boards to which you refer?
I have to say this is the first time I have heard of this usage of the Records display.
Yes it is out of date. The. Report  was previously generated by fc1 as part of the monthly update which no longer runs. That report was incorrect anyway as it never reflected CVS incorporated files.
We are actively redeveloping the Records report. But not with

[2021-09-05 10:58] geoffj-FUG commented on #141
Kirk

A lot of transcribers were aware that the system listed every piece that was
on line, and therefore every piece that was not.

Some Coordinators let transcribers choose their pieces from the list of
unpublished pieces.

Given the number of pieces in the pipeline and not on the list I never used
it for that purpose.

I suggested that the issue be addressed in a message to the Transcribers
Boa

[2021-09-05 15:55] Captainkirkdawson commented on #141
Fine. But who can do that? I cannot.

[2021-09-06 10:06] geoffj-FUG commented on #141
One for Pat I think

[2021-09-06 13:46] suffolkroots commented on #141
Transcribers check CEN1 list monthly to see if their files are there. Sadly not, since April, although Transcribers' help still states:
"Next, your file is uploaded to the FreeCEN Database on the original FreeCEN site (FreeCEN1): the database there is updated once every four weeks"

[2021-09-07 08:46] PatReynolds commented on #141
Will do.

I think it would be helpful to both us and the other volunteers if we could either close this story (if a duplicate) or turn it into an Epic and make any needed stories (this story is not about FreeCEN1).

[2021-09-07 10:32] PatReynolds commented on #1237
Asked TNA for contact 7/10/21

[2021-09-07 10:37] PatReynolds commented on #1060
Hi @geoffj-FUG , so you have the RDS, piece numbers and counties - but need the numbers, piece names and civil parishes as a separate table (just checking before I ask for the wrong thing!)

[2021-09-07 10:44] PatReynolds commented on #675
When someone visits a page, based on a citation rather than a search, e.g. "General Register Office: 1891 Census Returns database, FreeCEN (https://www.freecen.org.uk/search_records/59041560e9379091b19f2e09 : viewed 7 Sep 2021), William FLEMING, 14, Jaquest's Yard, Northamptonshire, England; from 1891 "England, Scotland and Wales census," database and images; citing The National Archives RG 12/121

[2021-09-07 10:50] PatReynolds commented on #1273
Nopthing wrong with the statistics that are there - but the stastitics for transcribers who have signed the transcription agreement are missing (they used to be there).

[2021-09-07 15:26] PatReynolds opened #1291 "Shipping: Finding Ships"
Enable the finding of ships registered to that parish in the ships papers (e.g. the Saucy Sue, registered Scarborough).

[Pat to write up specification]

[2021-09-07 15:41] PatReynolds commented on #1222
Today (7 Sep 2021) there are 42,194,618 records on FreeCEN2, and 41,015,224  on FreeCEN1 - given that there are some records uploaded to FC2 but awaiting uploading to FC1, or never going to be uploaded to FC1, or uploaded ot FC1, but only enabled on FC2 ... is the difference - which is what is expected, and will grow -  now  not capable of being reconciled?  Is a reconciliation desirable?

[2021-09-08 11:26] DeniseColbert commented on #367
The below image is 632 x 316 px

![EF-Joined-Social](https://user-images.githubusercontent.com/19173257/132500673-69627cb5-599b-4455-b828-4828c909a702.png)

This one is 710 x 1000.

![ef-poster-710x1000](https://user-images.githubusercontent.com/19173257/132501025-5f0d92bf-2560-4e24-b023-52edacebcd2f.png)

@AlOneill we are thinking that the easyfundraising image could go in the right-hand section

[2021-09-08 15:37] #1175 closed, assigned to DeniseColbert

[2021-09-08 15:39] PatReynolds commented on #1280
Thank you @rhodamackenzie

Closing, but please re-open, @Captainkirkdawson  If I have done so too early

[2021-09-08 15:39] #1280 closed, assigned to Captainkirkdawson

[2021-09-08 15:40] PatReynolds commented on #1276
@Captainkirkdawson where are we up to on this?

[2021-09-08 15:42] PatReynolds commented on #774
@PatReynolds to talk to @Captainkirkdawson aabout this.

[2021-09-08 15:50] PatReynolds commented on #1078
Completed (new story to be made on feedback), so closing.

[2021-09-08 15:50] #1078 closed, assigned to PatReynolds, DeniseColbert, aewilson116

[2021-09-08 15:52] DeniseColbert opened #1292 "Feedback for/improvements to Your Actions videos"
- [x] Gather feedback
- [ ] Make improvements
- [ ] Put them on website

[2021-09-08 15:53] PatReynolds commented on #113
@Captainkirkdawson @geoffj-FUG is this still needed, or can it be closed.

[2021-09-08 15:53] PatReynolds commented on #114
@geoffj-FUG is this completed?  Or not yet begun? Or a duplicate?

[2021-09-08 15:55] PatReynolds commented on #279
Hi priority because it needs prioritization and moving to backlog.

[2021-09-08 15:55] PatReynolds commented on #333
Was in wrong phase, so changed to 1.4 and removed high priority.

[2021-09-08 15:57] PatReynolds commented on #659
@AnneV-Learn has put in some text, for review in testing.

[2021-09-08 15:59] PatReynolds commented on #883
@AlOneill is this still the case - if so can you move to backlog.  If not, please close.

[2021-09-08 16:10] PatReynolds commented on #1211
@Captainkirkdawson and @AnneV-Learn to discuss before proceeding.

[2021-09-08 16:48] PatReynolds commented on #1289
Making separate stories once I have examples.

Nb the related #1159 is about searching for a ship with no associated person (a phase 2 story, in incoming).

[2021-09-08 16:53] PatReynolds commented on #1196
@AnneV-Learn I think http://www.chrismahoney.co.nz/FreeCen/ will be superceded by your work - do you agree?

[2021-09-09 03:10] #635 closed

[2021-09-09 03:27] Captainkirkdawson commented on #1222
@PatReynolds @AnneV-Learn
Fundamentally since FC1 is basically static there is no value in any regular attempt to reconcile numbers between the FC2 and FC1.
There is however a need for ensuring that FC2 has ALL files uploaded into FC1.
@FreecenBren  attempted to do this following each monthly update and she and I attempted to do that following the last update. I believe we came close but I cannot

[2021-09-09 10:22] geoffj-FUG commented on #1060
Pat

Kirk knows the exact file structure so I have sent him a copy of this.

My comment re a separate table was not a specific request but a means of
joining 2 sets of data. The important thing is we need to relate civil
parishes to piece numbers. I do not think that there were civil parishes in
the download.

Kirk would be the expert on the exact file structure as I do not have a copy
of the data

[2021-09-09 10:24] geoffj-FUG commented on #113
Pat

I am not sure what this was about. It is dated 2016 so would presumably have
been related to the online transcription trial. I know that a SOM piece was
transcribed online to com[pare with the piece already transcribed and on
FC1. I was not across the technical aspects of this trial.

Geoff

From: PatReynolds ***@***.***>
Sent: Thursday, September 9, 2021 1:53 AM
To: FreeUKGen/FreeCENMigratio

[2021-09-09 10:25] geoffj-FUG commented on #114
This seems to be related to #113 so my comments are the same.

Geoff

From: PatReynolds ***@***.***>
Sent: Thursday, September 9, 2021 1:54 AM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Mention
***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Automated checking of TWYS (#114)

@geoffj-FUG <https://github.com/geoffj-FUG>  is this completed? Or not yet
begun? Or a

[2021-09-10 14:54] Captainkirkdawson commented on #1222
@AnneV-Learn  The clean up has now resolved the Online status discrepancy on site statistics.
![Online status.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/c2a68ad7-6c8f-4967-bfe0-e704eb194086)

[2021-09-10 14:58] Captainkirkdawson commented on #1222
@FreecenBren  Lemon and I have compared the vld file contents of FC1 and FC2 and believe that the following files are missing from FC2
./BRK/RG120997.VLD
./CON/RG091546.VLD
./CON/RG121835.VLD
./LAN/RG092825.VLD
./OXF/RG121165.VLD
./PER/HS414387.VLD
./PER/HS415387.VLD
./SOM/HO511940.VLD
./SOM/HO511943.VLD
./SOM/RG091698.VLD
./SOM/RG121932.VLD

Will discus this with you off line

[2021-09-10 17:50] Captainkirkdawson commented on #1222
@lemon-ukgen @PatReynolds @DeniseColbert  @AnneV-Learn @geoffj-FUG

I have dealt with and addressed them as indicated below
./BRK/RG120997.VLD, missing fc1 piece, added and file loaded
./CON/RG091546.VLD, missing file, loaded
./CON/RG121835.VLD, missing file, loaded
./LAN/RG092825.VLD, not missing
./OXF/RG121165.VLD, missing fc1 piece, loaded
./PER/HS414387.VLD, file was present but with different

[2021-09-10 22:20] geoffj-FUG commented on #1222
Kirk

I have just looked at the 4 SOM files. The numbers rang a bell.

As a result of Action Reports data has been corrected in all 4 SOM files as
follows:

HO511940.vld removed and now reloaded as HO107_1940.csv and HO107_1940A.csv

HO511943.vld removed and now reloaded as HO107_1943.csv and HO107_1943A.csv

RG091968.vld removed and now reloaded as RG09_1968.csv

RG121932.vld removed and now relo

[2021-09-10 22:23] geoffj-FUG commented on #1222
Kirk
If the vld files have been restored to FC2 we now have duplicate data, the vld copy includes the transcription problems that were reported by researchers.
Geoff

[2021-09-10 23:22] Captainkirkdawson commented on #1222
@geoffj-FUG yes as noted in the post they were restored but have now been deleted at your request.
Perhaps you can ask the CON and OXF coordinators about the 3 for those counties if you will.
BRK, LAN and PER are OK

[2021-09-10 23:32] Captainkirkdawson opened #1293 "Freecen2Place to reflect the FreecenPiece Online status, connect the Freecen2Piece to the VLD file and the SearchRecord has the Freecen2PlaceID"
This will ensure that all the required information in within the perview of the Freecen2 collections

[2021-09-11 11:29] geoffj-FUG commented on #1222
Kirk

Both CON files RG9 1546 and RG12 1835 are now incorporated as csv files. The
vld files were removed when the Action reports were done.

The reality is that the number of vld files will gradually decrease once no
more vld files are incorporated into FC2. They will be replaced by csv files
as Action Reports are generated and corrected.

I will follow up OXF.

Geoff

[2021-09-11 13:59] Captainkirkdawson commented on #1222
@geoffj-FUG the 2 CON that were added have been removed

[2021-09-11 15:08] AlOneill commented on #367
@PatReynolds @DeniseColbert Those images are too wide to be placed comfortably in a sidebar: 340px is the widest that will work well across all screen and window widths. Portrait orientation would be better than landscape.

I will make a mock-up so that you can see what I mean.

[2021-09-12 12:13] AlOneill commented on #883
Issues have been fixed, so closing.

[2021-09-12 12:13] #883 closed, assigned to nobody

[2021-09-12 13:11] AlOneill commented on #367
The first image is ready to view on https://test3.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen/draft-opportunities-to-volunteer-with-freecen

There is currently no visible warning that (the link) will open in a new tab and the style needs tweaking to ensure that the right border (on hover and focus) is visible.

Maybe the resulting text size does remain legible enough? What do you th

[2021-09-13 08:26] PatReynolds commented on #367
Looks good, Alison - text is legible.

Hmmm.. just went back to really check the small print and the advert has gone!

[2021-09-13 13:45] AlOneill commented on #367
Image is there, on test3. Have adjusted (by placing in an islet) so that hover and focus styling look complete.

We will need some text to warn users about opening in a new tab. Anything else?

[2021-09-13 16:43] Captainkirkdawson commented on #1222
The OXF vld has been removed as requested

[2021-09-13 16:53] Captainkirkdawson commented on #1222
I believe reconciliation is now complete

[2021-09-14 08:44] PatReynolds commented on #367
Still not there for me (chrome on windows10:
![image](https://user-images.githubusercontent.com/6338822/133225711-3c753cd4-957c-48cd-bf3e-dbf03f72d099.png)

[2021-09-14 21:10] Captainkirkdawson commented on #1060
I have reviewed the Scotland data structure provided as well as the freecen1 piece structure and concluded the following.
Scotland has a different structure to England and Wales.
With the exception of 1841 England and Wales have no more than 1 district for a piece and a district may have multiple pieces. Each piece can have 1 or more civil parishes. In addition to District and Civil Parish names P

[2021-09-15 02:11] Captainkirkdawson commented on #1060
@FreecenBren @geoffj-FUG @PatReynolds @DeniseColbert
I have developed Freecen2 data structures of Place, District, Piece and Civil Parish for Scotland ans deployed to test3 for review. There are no active VLD file connections at this point as we need to look at the Place linkages; I would suggest these not be fixed on test3 but on production. (This code could be deployed to production with no effe

[2021-09-15 04:01] Captainkirkdawson commented on #1060
@rhodamackenzie I forgot to add you to the list for review

[2021-09-16 01:49] rhodamackenzie commented on #1060
I have not previously looked at higher order Scotland census details. In test3 I looked at ABD. 1841-71 listed. I'm seeing that district names and piece names are identical - i.e. there are 87 of each, same list. There are 132 civil parishes listed here. The additional names not identical to the 87 district and pieces are almost all cross border parishes and inner city/large town areas.

Cross cou

[2021-09-16 04:00] Captainkirkdawson commented on #1060
Thanks Rhoda

I agree it's a little bit of a cludge. However we must have a consistent
data model for all the countries; we cannot have different structures for
each country. Perhaps the original design should have been a many to many
between District and Piece. But we didn't and it would be an enormous job
to work that in.

Really there are only 2 levels .But to make the data model function the
D

[2021-09-16 15:19] FreecenBren commented on #1060
Hi,

Not sure what contribution I can make.

I used to have issues just getting them uploaded if the unique VLD number as below, was wrong.

Each PIECE has an extra ‘digit’  reference to each VLD. A Piece can have more than 1 VLD.

Rather like doing the England and Wales Pieces by each ED number, instead of all being  joined together to make the one Piece.
See 3rd Column below.

This example Piece

[2021-09-16 18:39] DeniseColbert commented on #367
Not there for me either

![image](https://user-images.githubusercontent.com/19173257/133667168-d579cb7e-9705-4e58-a8b6-ecd003abd8dc.png)

[2021-09-16 23:19] Captainkirkdawson commented on #1060
Thank you @FreecenBren That was an extremely good example.
The FC2 structure for that example shows what you would have expected at the district level.
![lks1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/78de6f3a-00cd-4f8a-8a47-e0d2f20665fa)
And again at the Piece level
![lks2.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/c4cdf3a7-56bd-44da-849b-d5b180ca6

[2021-09-22 15:11] Captainkirkdawson commented on #1276
This will be deployed when all other components of the transition to Freecen2 data model are ready

[2021-09-22 15:15] Captainkirkdawson commented on #1060
Structure still to be reviewed by @geoffj-FUG when he is available..
Propose to run the set up in production without making the entries so as to identify the missing place name. @rhodamackenzie has agreed to review and create as required.
f2rake create_freecen2_parms_scotland[5010] --trace

[2021-09-22 15:23] Captainkirkdawson commented on #1228
There is  believe a better way of connecting. Since vld belongs to freecenpiece we use the value from there.
Rather than do a direct computation of Freecen2Place to store in freecenpiece we should link the freecenpiece directly to the freecen2piece and that fives full access to all the data model to both freecenpiece and vld

[2021-09-22 15:56] DeniseColbert commented on #1222
Done- closing

[2021-09-22 15:56] #1222 closed, assigned to Captainkirkdawson, PatReynolds, AnneV-Learn

[2021-09-22 16:03] DeniseColbert commented on #774
Perhaps Caernarfonshire

[2021-09-22 16:06] DeniseColbert commented on #367
@DeniseColbert to test in Firefox & Edge, @PatReynolds to test in accessibility browser

[2021-09-22 16:09] DeniseColbert commented on #1255
@PatReynolds to contact Brenda re. no PARMS files/ assistant Coord for FC2

[2021-09-22 16:17] DeniseColbert commented on #1265
Kirk to spin up test 2 for Pat and Denise to test when ready

[2021-09-22 16:20] DeniseColbert commented on #1237
Data structure is the same as 1911

[2021-09-22 16:21] DeniseColbert commented on #1237
Closing

[2021-09-22 16:21] #1237 closed, assigned to PatReynolds

[2021-09-22 16:27] DeniseColbert commented on #1270
@AlOneill could you add this into the Help please?

[2021-09-22 17:11] AlOneill commented on #1270
It appears to be more nuanced than the explanation suggests. I could not think of a county that would have zero transcriptions. So I looked at Rutland (being small!):

![FreeCEN_places](https://user-images.githubusercontent.com/14852554/134387809-f590fa15-388a-4be3-b873-9358dbf65d64.png)

Four 'Places' (RDs) are listed, with the years that we have transcribed. The years selected for the search hav

[2021-09-24 14:57] PatReynolds commented on #1255
Contacted 24/9/2021

[2021-09-25 21:39] geoffj-FUG commented on #1060
Kirk, Rhoda

We developed the Scotland database to the point that we had spreadsheets for each year. These were reviewed by Rhoda as if my memory is correct.

I have attached the spreadsheets (I have cc’d to Kirk and Rhoda so that they actually get them).

We did not develop testing for the fields that are not already in England and Wales and Channel Islands. They are not marked as tested on my re

[2021-09-25 23:12] Captainkirkdawson commented on #1060
@geoffj-FUG I had given little or no thought about the actual CSV processing of Scotland records as from what I understand they are inactive.
The main purpose of the work to date is to be able to support Scottish searches using the Freecen2Place names instead of the Place

[2021-09-28 18:18] DeniseColbert opened #1294 "Automated email CC"
See slack for content

[2021-09-28 19:31] Captainkirkdawson commented on #1294
Done

[2021-09-29 09:31] PatReynolds opened #1295 "List Counties/census years where images are wanted"
Gather information from COORDS about what images are needed and inform them about sourcing.

[2021-09-29 23:31] Captainkirkdawson commented on #1060
Revised the title to more correctly reflect the current work.
Cose deployed to test3 and Gazetteer names added to production in readiness for deployment

[2021-09-29 23:34] Captainkirkdawson commented on #1293
Code has been added to connect the the vld to Freecen2Places, Piece and District. Deployed to test3
Code has been added to connect VLD Search Records to Freecen2Place.
Deployed to test3.
Currently running a connection rake. It is estimated that it will take about 4 days to complete test3 (Production will likely require 5 days.. Rake tasks can work in chunks of vld files.

[2021-09-29 23:40] Captainkirkdawson commented on #1281
Deployed to test3.

[2021-09-29 23:41] Captainkirkdawson commented on #1277
Basic code written and deployed to test3 for evaluation

[2021-09-30 00:40] Captainkirkdawson opened #1296 "Modify Freecen2 Place Cache to update the data_present flag based on confirming that there are files present"
Currently the flag is never checked

[2021-09-30 00:41] Captainkirkdawson opened #1297 "Improve the csv file linkage with Freecen2Place"

[2021-09-30 01:03] Captainkirkdawson opened #1298 "Investigate add_evidence_explained_values"
Investigate https://errbit.freeukgen.org.uk/apps/5b4cad42e9379085a99a9ea4/problems/615508d6e937903d30bc3212
This code appears to be vld based and does not apply with csv

[2021-09-30 13:57] ghost opened #1299 "Age problems with 999 entry"
Issue reported by **Suzy Cairns** at 2021-09-17 08:43:42 UTC
Time: 2021-09-17T08:41:37+00:00
Session ID:
Problem Page URL: [https://www.freecen.org.uk/search_records/5a156098f4040b9d6e760b0b/james-turner-1841-roxburghshire-kelso-1839-?locale=en](https://www.freecen.org.uk/search_records/5a156098f4040b9d6e760b0b/james-turner-1841-roxburghshire-kelso-1839-?locale=en)
Previous Page URL: [https://www.

[2021-09-30 14:02] Captainkirkdawson commented on #1299
This is likely not unique to Scotland

[2021-09-30 14:05] Captainkirkdawson commented on #1299
Margaret Singleton <lanark_census@btinternet.com> wrote

However it has highlighted a couple of points and I’m not sure if they are already being dealt with.

In FreeCEN1 when an age was recorded as 999 it was displayed in both the summary page and detail as unknown.

In FreeCEN2 it is not displayed in the summary page as unknown and the Year of birth is given as 839 which does not compute to 999?

[2021-10-02 00:57] Captainkirkdawson commented on #1296
Have modified the rake task foo:check_and_refresh_freecen2_places_cache to  clear and reset the data present flag from scratch.
It rebuilds the place list for a county in the search

[2021-10-02 00:59] Captainkirkdawson commented on #1297
Have modified the rake task foo:check_and_refresh_freecen2_places_cache to confirm that the freecen2place link is set for csv files.
Still need to add to the incorporation rake task

[2021-10-02 01:06] Captainkirkdawson commented on #1228
Use the set_fc2_piece_for_fc1_v3 rake to create the linkage between freecen_piece and freecen2_piece. This means the the freecen2_place becomes usable for freecen_piece and we then use the freecen2_place from the freecen2_piece.

[2021-10-05 09:53] DeniseColbert opened #1300 "Change statement on Volunteer page from FC1 to FC2 specific"
Currently:

Suggested:

[2021-10-05 16:52] PatReynolds commented on #367
Checked test3 with NVDA using tab to advance, and advert not found.

[2021-10-05 22:18] Captainkirkdawson commented on #1276
There appear to be code issues

[2021-10-05 22:18] Captainkirkdawson commented on #1277
There appear to be code issues

[2021-10-05 22:19] Captainkirkdawson commented on #1281
There appear to be code issues

[2021-10-05 22:19] Captainkirkdawson commented on #1282
There appear to be code issues

[2021-10-05 22:19] Captainkirkdawson commented on #1293
There appear to be code issues

[2021-10-05 22:20] Captainkirkdawson commented on #1228
There appear to be code issues

[2021-10-05 22:20] Captainkirkdawson commented on #1297
There appear to be code issues

[2021-10-05 22:20] Captainkirkdawson commented on #1296
There appear to be code issues

[2021-10-06 12:06] DeniseColbert commented on #367
Checked on FF & Edge and ad is not showing on either one.

[2021-10-06 12:12] DeniseColbert commented on #367
I think I've found the problem: Pat went to Test3 live site Volunteer page and I went from the URL in Pat's screenshot. Bottom line: ad **is** there on the DRAFT page: https://test3.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen/draft-opportunities-to-volunteer-with-freecen

**NB**  Small thing, but there's a casing mismatch in the page names/titles:

![image](https://user-images.githu

[2021-10-06 14:23] DeniseColbert commented on #1292
@geoffj-FUG is there any feedback from COORDS on the videos?

[2021-10-06 14:28] DeniseColbert opened #1301 "Automated Training - planning, spec etc."
Denise to write phased plan, incorporating Anne's notes and Eric's document from FreeREG.

Next step, create some high level mock-ups

Anna @aewilson116 is going through the current process of registering and training (onboarding) and taking notes on the process so that we can automate as much as possible.

[2021-10-06 14:46] DeniseColbert opened #1302 "CDs from Ebay"
Just a prompt to ask Pat

[2021-10-06 14:55] AlOneill commented on #1270
The DRAFT Help is ready for review. Have updated the [Census Location section](https://test3.freecen.org.uk/cms/draft-help#location) and added a lead paragraph to the page.

I will update the image (same as in post above) if and when the single-quotation mark separator issue can be resolved.

[2021-10-06 15:06] AlOneill commented on #367
Re the "casing mismatch", we decided on sentence case for `h1` headings, hence the change. The page file name stays the same, so there is no issue with link addresses. However, if "volunteer" (here more of a verb than a noun), should be "Volunteer", let me know.

[2021-10-06 15:41] DeniseColbert commented on #1060
Rhoda says this is coming along, she's checked this over.

[2021-10-06 15:42] DeniseColbert commented on #1270
@DeniseColbert and @PatReynolds to review. Thanks @AlOneill

[2021-10-06 15:43] DeniseColbert commented on #774
Pat waiting for preferred three counties

[2021-10-06 15:50] DeniseColbert commented on #367
@AlOneill yes please, text for opening in new tab. Additionally, could the ad have a border in FC purple to make it stand out from the background a bit?

[2021-10-06 15:57] DeniseColbert commented on #1265
Coming along nicely, Anne will tune it for optimisation ready for the next steps.

[2021-10-06 15:58] DeniseColbert commented on #1289
FreeREG deaths at sea may help with locating ships

[2021-10-06 15:59] #1302 closed, assigned to DeniseColbert

[2021-10-06 16:01] DeniseColbert commented on #1301
@DeniseColbert and @AnneV-Learn to meet and discuss plan

[2021-10-06 16:04] DeniseColbert commented on #1299
@AnneV-Learn to take a look

[2021-10-06 19:59] AnneV-Learn commented on #1299
I have completed the investigation. There is a note in the code about the way ages where recorded for 1841 Census:
# Census day: June 6, 1841
        #
        # Ages in the 1841 Census
        #    The census takers were instructed to give the exact ages of children
        # but to round the ages of those older than 15 down to a lower multiple of 5.
        # For example, a 59-year-old person wo

[2021-10-06 22:14] AlOneill commented on #367
Text and border both added to https://test3.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen/draft-opportunities-to-volunteer-with-freecen

If they are OK, then the only thing missing is the URL …

[2021-10-07 07:57] DeniseColbert commented on #367
URL: https://www.easyfundraising.org.uk/causes/freeukgenealogy/

I've added this issue to the agenda for our documentation meet on Friday, to decide on casing in this instance... almost there with this one!

[2021-10-08 09:00] suffolkroots commented on #1299
This makes a mockery of TWYS. Search results should accurately reflect entries.

[2021-10-08 12:02] DeniseColbert commented on #367
Volunteer page is ready to be made live. (lower case "v")

@AlOneill to look at placing this in the Help page.

[2021-10-08 19:12] AlOneill commented on #367
[Opportunities to volunteer with FreeCEN](https://test3.freecen.org.uk/cms/opportunities-to-volunteer-with-freecen) is now sync-ready.

Will do Help page next.

[2021-10-11 00:52] Captainkirkdawson commented on #1277
Completed and deployed to test3

[2021-10-11 00:52] Captainkirkdawson commented on #1281
Completed and deployed to test3

[2021-10-11 00:53] Captainkirkdawson commented on #1296
Completed and deployed to test3

[2021-10-11 00:53] Captainkirkdawson commented on #1296
Completed and deployed to test3

[2021-10-11 00:54] Captainkirkdawson commented on #1228
Completed and deployed to test3

[2021-10-11 00:55] Captainkirkdawson commented on #1293
Completed and deployed to test3

[2021-10-12 14:19] Captainkirkdawson opened #1303 "Remove OVB as Chapman Code"
Geoff wrote
This information only brings the OVF OVB issue back for discussion. The following suggestion refers to Places of Birth, not Civil Parishes so is something for the future. But we can fix it now.

The standard Chapman Code for Overseas is OVF. OVB is a FreeCEN invention presumably to try and capture the Nationality info that gets added in the census margins.

I am regularly disabling Gaz

[2021-10-12 14:20] Captainkirkdawson commented on #1303
@PatReynolds wrote
 would certainly support removing the OVB (and adding OVF in its place, and the nationality British to the Nationality column (flagging for human review any person who already has data in the Nationality Column).

[2021-10-12 15:20] AlOneill commented on #367
@DeniseColbert Have added Easyfundraising to DRAFT Help. Visually, it appears below "Contact us" as asked; currently that puts it last in the source order which might not be as you intended.

Also, the image becomes unreadable at some screen widths, so setup needs a re-think.

[2021-10-12 22:01] Captainkirkdawson commented on #1276
Code added and deployed to test3

[2021-10-13 09:33] suffolkroots commented on #1303
Entering OV places is, and always has been, a huge can of worms, and has only been made worse by the need to grid-reference them.
Do we TWYS or make value judgements?
There is no indication anywhere explaing to us that, eg, OVB grid-referenced to foreign parts will not be linked to anywhere.
I 'm sure I'm guilty of this heinous offence, and can only apologise.
If OVB is discontinued, wonderful.
If

[2021-10-13 11:45] AnneV-Learn commented on #1301
Outline Requirements discussed with @DeniseColbert  11th Oct 2021

1) Automatically send an email to volunteers as they complete registration. Emails to include training materials and links to videos. (AV note: might be better to include a link to the training materials which in themselves have the video links)
2) Review the language in the emails currently sent to volunteers to ensure they are as

[2021-10-14 14:45] AnneV-Learn opened #1304 "For Review: May 2021: Archival process for Site Stats"
We probably need to develop an archival process for the Site Stats data.
Maybe not relevant until data collection has been running for a year or so.

[2021-10-15 09:30] PatReynolds commented on #1304
That's a very good idea.

[2021-10-16 20:27] Captainkirkdawson opened #1305 "Integrate all components to use places in our Gazetteer."
We have expended considerable effort in developing our own Gazetteer which is a high quality set of place names and their location. (georeferenced). It has almost 50,000 entries.
CSVProc uses this for establishing locations.
VLD entries currently use a small low quality place collection that in many cases are not georeferenced.
It is proposed to convert Vld and all searches to use the Gazetteer. T

[2021-10-16 22:22] Captainkirkdawson commented on #1305
@geoffj-FUG @PatReynolds @DeniseColbert @rhodamackenzie @FreecenBren
test3 has been updated with a large number of detailed stories that implement this overall concept. Rather than try to focus on the individual stories many of which are difficult to test I believe acceptance should be based on testing the overall effect of their implementation. The search page has a number of changes which are co

[2021-10-16 23:00] Captainkirkdawson commented on #1305
Looking at the Nearby search feature
![searchresult1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/ca461b90-221a-4a4e-ad2b-1da5a76e7dd7)
The places in the search are shown in the About this Query
![About.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/ce5e784a-297e-4509-9452-3f83b577a1eb)
What is clear is that some place in the gazetteer still have incorrect

[2021-10-16 23:16] Captainkirkdawson commented on #1305
@geoffj-FUG @rhodamackenzie @PatReynolds @DeniseColbert @FreecenBren
There have also been some additions to the displays for Coordinators
![places1.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/9fc056f7-27db-4725-9801-379a1ce0e664)
![places2.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/1de6e4b7-b68a-46b2-838d-25b98d1e1712)
![places3.png](https://images.ze

[2021-10-16 23:20] Captainkirkdawson commented on #1305
The VLD upload and CSVProc are both modified to interface with this Integrated system.
Testing should be focused on the preceding capabilities as well as confirmation the uploads work as expected.. The detailed stories should be closed and new stories written to address problems found with its implementation.

[2021-10-17 11:00] rhodamackenzie commented on #1305
Thank you Kirk, this is very impressive and represents a lot of mental and physical work.

[2021-10-17 11:31] geoffj-FUG commented on #1305
Kirk, Pat

Isn’t it strange how Kirk and I are both quietly working on the same thing but different problems?

I have attached an item that I have written for the next FreeCEN newsletter. I am trying to address the rubbish that some validators are putting into the Gazetteer.

The items that Kirk has highlighted as ‘not near to his search centre’ are symptoms of this. However he is working in test

[2021-10-17 15:05] Captainkirkdawson commented on #1305
@geoffj-FUG I like your article on the Gazetteer

[2021-10-18 09:35] PatReynolds commented on #1305
Excellent - thank you Geoff!

Is it premature to mention Nearby Places searching depends on the Gazatteer - and this feature uses lat and long rather than county (so very useful to our users)?

[2021-10-18 10:54] PatReynolds commented on #1305
Thanks, Kirk!  I think there may be some erroneous geolocations in the gazattteer that have been revealed by this wor.

![image](https://user-images.githubusercontent.com/6338822/137714901-65ddf813-8370-4513-99b2-5b9f9eee6587.png)
result included 10 people from Lancashire censuses (born Lancashire).  North and South Bury seem to be incorrectly geolocated (Google maps suggests that they are 154mile

[2021-10-18 14:26] Captainkirkdawson commented on #1305
Yes that is correct @PatReynolds but that is not an error in the software but an incorrect entry in the Gazetteer that is revealed by the software.

[2021-10-18 14:41] DeniseColbert commented on #1301
Additionally:

Send an automated email to those who have not completed registration within a reasonable timeframe (3 days?)

Experience-based pathways for initial communications (checkboxes at registration, x 3?, 3 pathways)

[2021-10-18 18:44] AnneV-Learn commented on #1301
Ok @DeniseColbert , noted

[2021-10-18 23:23] Captainkirkdawson commented on #1305
Wording on too many results changed to include suggestions.
![toomany.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/729401a8-b67b-4903-8601-0b6d2c1699b7)

[2021-10-19 00:12] geoffj-FUG commented on #1305
Pat

I do not believe that it is too soon. The system is becoming very different
to FC1. It is important that people can recognise the changes.

If people start to realise the implications of abusing the system they may
temper their habits.

Geoff

[2021-10-19 08:28] PatReynolds commented on #1305
Thanks, Geoff - please add it - let me know if you want me to write something.  Best wishes, Pat

[2021-10-19 08:50] PatReynolds commented on #1305
Loving the "reduce" feature, @Captainkirkdawson!

[2021-10-19 10:26] PatReynolds commented on #1270
Hi @AlOneill all looking good but I'm a little confursed by the "special counties" paragraph, but think that can wait until the below is resolved (#495 covers improvements to searching for shipping).

The pseudo-counties presented will need some pruning (or development).

Census counties with no Smiths (so presumably completely empty, and need not be covered in the help:
Unknown
Out of County
Over

[2021-10-19 10:43] PatReynolds commented on #774
Reminded Brenda that we need the counties 19 Oct 2021

[2021-10-19 11:25] PatReynolds commented on #1134
Is this now resolved by current work on Gazatteer and place?

[2021-10-19 14:21] Captainkirkdawson commented on #1270
@PatReynolds @AlOneill Part of this story will become irrelevant if we agree to deploy **Integrate all components to use places in our Gazetteer.#1305** One of the changes eliminates counties with no transcriptions from the Census County drop down list.
![searchpage](https://user-images.githubusercontent.com/2874694/137929491-eddacfd2-df15-4322-a0dc-2ef3b667e5e0.png)

[2021-10-19 14:36] Captainkirkdawson commented on #1134
This was dealt with in story #960

[2021-10-19 14:36] #1134 closed, assigned to PatReynolds

[2021-10-19 14:50] Captainkirkdawson opened #1306 "Place Name editing"
Place name editing was designed to work on the County the member was managing.
With the ability to edit a place located in the Gazetteer search with assumption is now longer valid and mistakes can arise.
![FreeCEN Search Misson.jpg](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/68261b66-f592-4f1c-91bf-fc098f6446dc)
![FreeCEN Search Misson Edit.jpg](https://images.zenhubusercontent.

[2021-10-19 14:59] AlOneill commented on #1270
@PatReynolds the counties "Out of County" "OVB" and "OVF" cannot be **Census** counties: they are only ever **Birth** counties. I'll review the information on special counties, but the changes of #1305 should help to make that clear.

The _usual_  (dictionary) definition of Merchant Shipping is any shipping that is not military. Perhaps this is not obvious if English is not your first language (or

[2021-10-19 15:51] AlOneill commented on #1270
Have not added the note re Merchant shipping as I could not find Scottish Shipping in the list of Census counties (and England and Wales shipping does not appear to use it).

[2021-10-20 07:50] DeniseColbert commented on #1294
Email address still appears as CC (Transcriber Registration)

[2021-10-20 16:16] PatReynolds commented on #1270
@PatReynolds to retest after the St Nicholas gift deployment

[2021-10-20 16:36] #1295 closed, assigned to DeniseColbert

[2021-10-21 08:41] PatReynolds commented on #139
https://www.nationalarchives.gov.uk/help-with-your-research/research-guides/census-records/ gives the methodology for finding out which census pieces have been lost or destroyed

[2021-10-21 08:57] PatReynolds commented on #1270
Hi @AlOneill the 'list of counties' is the one on the search form.

I looked at some definitions of "merchant shipping" online and the meaning now does seem to be narrowing to those carrying raw materials or manufactured goods.

[2021-10-21 10:08] DeniseColbert opened #1307 "Process to prevent transcribers remaining unassigned or wrongly assigned to a syndicate/county as they finish training"
Is it a task that the Volunteer Coordinator should do, or the new COORD?

What is happening to their files?

Can this be automated in the new system? If not directly, then via prompts?

[2021-10-21 14:44] PatReynolds commented on #1305
Testing: when I search in a place (e.g. Parratt in Huddersfield, WRY), and then use 'revise serch' button to go back and add 'nearby places', while WRY is still selected, Huddersfield is lost.  Other selections e.g. birth county, census year, gender, work as expected.

I have checked on live, and there the 'revise search' button works as expected.

No other issues arose.

[2021-10-21 15:23] #1276 closed, assigned to Captainkirkdawson

[2021-10-21 15:23] #1293 closed, assigned to Captainkirkdawson

[2021-10-21 15:23] #1228 closed, assigned to Captainkirkdawson

[2021-10-21 15:24] #1296 closed, assigned to Captainkirkdawson

[2021-10-21 15:24] #1282 closed, assigned to Captainkirkdawson, Vino-S

[2021-10-21 15:24] #1281 closed, assigned to Captainkirkdawson

[2021-10-21 15:24] #1277 closed, assigned to Captainkirkdawson

[2021-10-21 15:25] #1297 closed, assigned to Captainkirkdawson

[2021-10-21 15:25] #1060 closed, assigned to Captainkirkdawson, PatReynolds, FreecenBren, geoffj-FUG, rhodamackenzie

[2021-10-21 15:25] #780 closed, assigned to Captainkirkdawson

[2021-10-21 15:26] Captainkirkdawson commented on #1305
@PatReynolds good catch

[2021-10-21 15:55] AlOneill commented on #1270
@PatReynolds OK, but I do not know where a researcher would encounter the term Merchant Navy and so do not know the context for the proposed explanation.

I can see that E&W and Scottish Shipping plus Royal Navy are included in the **Birth County** choices, but only E&W Shipping is listed for **Census County** and that has a single associated Place, "Shipping at Sea and at Ports abroad (1861)". Wh

[2021-10-22 11:20] PatReynolds commented on #1270
EWS offers 'Merchants and Home' and 'Merchants at Sea' as the choices (even worse than Merchant Navy or Merchant Ships!) Scottish offers 'Merchant Ships'.

[2021-10-22 11:22] DeniseColbert opened #1308 "AD on Help page isn't showing"
![image](https://user-images.githubusercontent.com/19173257/138445620-60d49ad8-9d61-4012-9fc9-e33ecaa420b2.png)

E3 U2 S2

[2021-10-22 11:42] DeniseColbert commented on #367
@DeniseColbert to find an image to use on Help page that we can add text alongside.

Source order: leave as is until systemwide source order story is done.

[2021-10-22 14:44] PatReynolds commented on #1262
I have changed the title of this story (was "Conduct UX research on place of birth and place of census searching" as that is to be done later (v4) and the replacement of the survey needs to be done as soon as convenient.

[2021-10-22 14:47] PatReynolds opened #1309 "Conduct UX research on place of birth and place of census searching"
There are over 20 stories which relate to searching by place.  Immediately before implementation, I think it would be good to conduct some UX research and comparisons with other genealogical search engines before reviewing the stories we have.
 - [ ] Compare practice on other websites
 - [ ] Create initial user survey
 - [ ] Decide one (or a couple) of ideas that might be implemented
 - [ ] User r

[2021-10-22 21:56] Captainkirkdawson commented on #1305
@PatReynolds solution identified for failure to retain the place name selected on a revise.

[2021-10-22 22:41] AlOneill commented on #1270
@PatReynolds Thanks, I see them — after a re-load of the page (doh!). As I said above, I will make it clear what is meant by Merchant Navy  in our context …

… We'll have to see how the meaning shifts (or not) as we encounter 20th century census returns.

[2021-10-22 23:09] Captainkirkdawson commented on #1305
Commenced the slow roll out of Integrate all components to use places in our Gazetteer.#1305 to CEN production.
5:07
Updated the configuration on all production servers so that app will continue to run as before

[2021-10-22 23:14] Captainkirkdawson commented on #1305
Merged branch into master; no conflicts.

Deployed master to test3 running prior place linkages

[2021-10-22 23:32] AlOneill commented on #1270
@PatReynolds I'm thinking that we need a bit of explanation re shipping returns for the various years: I know what happened in Scotland (at least up to 1871) but have little idea of how things were organised in E&W. I cannot find out easily as Scottish Shipping is not listed (I know that there are transcriptions) and E&W has returns for 1861 only. I will dig into search results for 1861 so that I

[2021-10-23 08:46] geoffj-FUG opened #1310 "Eliminate OVB from the valid Chapman Codes"
Following recent email discussions I have created this Action to eliminate OVB from our Chapman Codes.
FreeCEN has two Chapman Codes for Overseas – OVB and OVF. Only one of these is a genuine Chapman Code – OVF. See one of the lists of World Chapman Codes at http://home.vicnet.net.au/~mgfhs/chworld.htm or any other site that lists the recognised Chapman Codes.
OVB was an invention of FreeCEN right

[2021-10-23 20:23] Captainkirkdawson commented on #1303
Delete as duplicate see #1310

[2021-10-23 20:23] #1303 closed, assigned to nobody

[2021-10-26 19:34] Captainkirkdawson commented on #1305
Test3 now running the new set up.

[2021-10-26 19:35] Captainkirkdawson commented on #1305
Software deployed to production but running against the old database structure.
Commenced building the new database in the background.

[2021-10-26 19:36] Captainkirkdawson commented on #1294
Addressed off line

[2021-10-26 19:36] #1294 closed, assigned to Captainkirkdawson, DeniseColbert

[2021-10-26 22:42] Captainkirkdawson commented on #1273
Inconsistency caused by some calculations used the old transcription_agreement field ans some the new_transcription_agreement field.
They now all use the new_transcription_agreement field.
In addition lt was used when it should have been gt. Also fixed

[2021-10-26 23:38] Captainkirkdawson commented on #1298
No issues

[2021-10-26 23:38] #1298 closed, assigned to Captainkirkdawson

[2021-10-27 15:41] AlOneill commented on #1270
Draft Help edited to explain meaning of 'Merchant' in the context of shipping.

Image replaced as the format of the year listing is largely resolved — the leading space jumped out at me but it might not trouble many others!!

Moving beck to 'Needs review'. Will work on remaining issue (what is where in the detail results and how organisation changed from year to year) when Scottish Shipping become

[2021-10-28 21:22] Captainkirkdawson commented on #1306
Code adjusted to use county of record when editing. Deployed to test3

[2021-10-28 22:20] Captainkirkdawson commented on #1250
@geoffj-FUG @rhodamackenzie Finally had time to look at this again. The files that are loaded are VLD files. VLD files cannot be split into the separate civil parishes. The freecen_piece has been assigned to Misterton in Dorset when originally entered in FC1 rather than the regional district of Beaminster which was the normal practice.
So what I can do is assign it to Beaminster in DOR if you wish

[2021-10-28 22:35] geoffj-FUG commented on #1250
Kirk

It should not affect the Coordinator.

Beware – Misterton in SOM and Mosterton in DOR are adjacent. They cause endless problems.

Geoff

[2021-10-28 22:48] Captainkirkdawson commented on #1250
@geoffj-FUG I understand your comment about those 2 places. But what are we trying to do here? This was your request. vld files belong to a single piece which has to reside in one county. In this case the Regional District of Beaminster in DOR has a piece in 1841, 1861 and 1871 for the sub district Misterton which has 5 parishes , 3 in DOR and 2 in SOM. When originally set up the pieces where give

[2021-10-28 22:59] geoffj-FUG commented on #1250
Kirk

I think we should close this story. It is shuffling deck chairs and there will be a lot of them to shuffle.

This is a micro story that really belongs in a big one. It is a result of the first instance I came across.

Let me stir up the grey matter and come up with a proper story. It will be about improving the Gazetteer.

Geoff

[2021-10-28 23:04] Captainkirkdawson commented on #1250
@geoffj-FUG I agree on closing; Not sure it is a Gazetteer issue at all. It is a census place location issue; to a degree it will be resolved by the nearby place search functionality.

[2021-10-28 23:04] #1250 closed, assigned to Captainkirkdawson

[2021-10-29 01:03] Captainkirkdawson commented on #1258
Added âêîôûŷŵÂÊÎÔÛŶŴáéíóúýẃÁÉÍÓÝẂäëïöüÿẅÄËÏÖÜŸẄàèìòùẁÀÈÌÒÙẀ as valid characters in broad text fields. Deployed to test3

[2021-10-29 15:49] Captainkirkdawson commented on #1305
After refining the creation process to avoid processing chunks that were too big it is estimated that a further 6.25 days of processing will be required. All being well it should complete on Thursday November 4.

[2021-10-29 16:00] Captainkirkdawson opened #1311 "Research how one might respect the soft delete in vld files."
@geoffj-FUG has requested that
Deleted fields should not display. There will be a lot of them in the early vld files as the proofreading programme used to create them (all soft deletes). Once that app died there were not many of them as hard deletes in spreadsheets became the norm.

At present both FC1 and FC2 retrieve and display records that contain the deleted flag contained  in a vld record.

[2021-10-29 16:12] Captainkirkdawson opened #1312 "Both Verbatim and Suggested Place of birth fields to be displayed in the Search Record Details"
FreeCEN policy is ' as is’. Therefore we must display the verbatim fields. The work put in on the alternative fields demands that these are displayed where they are not null. I can see 2 options:

Display them in 2 new display fields. In FC1 we used the term ‘validators choice’. The term is not critical. It could be validator’s suggestion or ‘suggested POB’ or something like that.

Display them as

[2021-10-29 17:16] Captainkirkdawson commented on #1312
The Search POB is based either on the Suggested or Verbatim Place of Birth (depending on processing time and source(vld/csv)) but the results index and result details display just the Verbatim Place of Birth.
This story is restricted to solely the display of the search record detail.
Inconsistencies in the actual content of the search record and the index of results are to be addressed in other st

[2021-10-29 18:15] Captainkirkdawson opened #1313 "Should both Verbatim and Suggested Place of birth fields be displayed in the Search Results"
Currently the search results displays just the POB fields from the Search Record
![POB.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/fc751284-86e5-4794-b978-875ae695ad13)
The search record contains just one 1 POB field which is usually the Verbatim POB
![search record.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/d69cffd7-8906-4506-a933-7a3e8a24fced)
The a

[2021-10-29 18:29] Captainkirkdawson commented on #1021
Superseded by #1312 and #1313

[2021-10-29 18:29] #1021 closed, assigned to nobody

[2021-10-29 19:55] Captainkirkdawson commented on #1299
he transcribed entry is correctly shown in the detail.

        "sequence_in_household" : 6,
        "individual_flag" : "-",
        "surname" : "TURNER",
        "forenames" : "James",
        "name_flag" : "-",
        "relationship" : "-",
        "marital_status" : "-",
        "sex" : "M",
        "age" : "2",
        "age_unit" : "y",
        "detail_flag" : "-",
        "occupation" : null

[2021-10-29 19:58] Captainkirkdawson commented on #1299
@AnneV-Learn Can you delete the code that changes the display of the search record I believe we both agree that it is not needed (even if it were correct).
Can you also trap the 999 and set to zero

[2021-10-29 20:37] Captainkirkdawson commented on #1158
Resolved by index restructuring

[2021-10-29 20:37] #1158 closed, assigned to nobody

[2021-10-29 20:41] #488 closed

[2021-10-29 20:47] Captainkirkdawson commented on #878
This is resolved by the use of Freecen2 Place  for pieces and Freecen2 Pieces

[2021-10-29 20:47] #878 closed, assigned to nobody

[2021-10-29 21:00] Captainkirkdawson opened #1314 "Resolve structure of Search Record Birth fields"

[2021-10-29 21:09] Captainkirkdawson commented on #1314
The Search Record collection which is used to support the Search currently contains 2 fields related to place of birth.
field :birth_chapman_code, type: String
field :birth_place, type: String
They are populated from fields in the vld entry or the csv entry. Each entry has 4 fields; 2 from the verbatim entries by the transcriber and  sometimes 2 alternate entries by the validator.
The search recor

[2021-10-29 21:34] Captainkirkdawson opened #1315 "Name for the alternate POB fields"

[2021-10-29 21:49] Captainkirkdawson commented on #1315
If we are to start using and displaying the alternate POB fields it is desirable that we have a consistent name for them.
Various terms have been used or suggested.
Alternate POB
Alternative POB
Validator's Choice POB
Validator’s Suggested POB
Suggested POB
Preferred POB

Can we agree on a term to use in the future.

[2021-10-29 21:51] Captainkirkdawson commented on #442
Replace by #1312

[2021-10-29 21:51] #442 closed

[2021-10-29 21:57] Captainkirkdawson opened #1316 "No next and previous warning after accept of a warning"

[2021-10-29 21:59] Captainkirkdawson commented on #1316
![warning.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/4f40caad-4889-49ed-8cc1-73c08d4e301c)

[2021-10-30 10:46] geoffj-FUG commented on #1315
Kirk

My thoughts are as follows:

Alternate POB - This is a North American word meaning the same as
Alternative. It is not used in that context World wide. I do not think that
it should be chosen as it is not universally understood.
Alternative POB - This is the phrase we use in FC2 in the spreadsheets. The
spreadsheet audience is our volunteers who are being asked to enter an
alternative to the

[2021-10-30 17:18] Captainkirkdawson commented on #1316
Fixed and deployed to test3

[2021-10-30 17:51] Captainkirkdawson commented on #1207
Coded and deployed to test3

[2021-10-30 19:53] rhodamackenzie commented on #1315
I would also go for Suggested POB

[2021-10-30 21:51] Captainkirkdawson commented on #1233
Code updated and deployed to test3 for evaluation

[2021-10-30 21:52] AlOneill commented on #1315
I agree that "Suggested" is the best adjective put forward so far. However, something is unsettling me — could be just a touch of indigestion!

[2021-10-30 22:08] geoffj-FUG commented on #1313
Kirk
The cost is worth it. Our validators have done the research and that sometimes takes quite a while. Both fields should be displayed.

Feedback from the researcher who logged the action report that triggered this includes:
Now that I have found that entry under LIN rather than LAN I'm in no hurry but, for the sake of others, hope that the fix includes the note being searchable. In other words,

[2021-10-30 22:12] AlOneill commented on #1313
As a researcher, I would certainly have a reaction to seeing the Birth details in the results as "Liverpool", "Lincolnshire". But, knowing what I know about census returns, I find it hard to judge exactly what that reaction would be and whether or not I would distrust the results (and maybe distrust CEN) or simply chuckle. I would hope that a researcher with any experience would chuckle or sigh.

[2021-10-31 12:40] AlOneill commented on #1313
It seems that to show both Verbatim and Suggested fields will require additional columns — I cannot see that being practical. Perhaps we can show both in the same column? Say, Verbatim (or _Suggested_). The example at the top would have "Lincolnshire (or _Lancashire_)" as the Birth County.

[2021-10-31 14:53] Captainkirkdawson commented on #1313
@AlOneill You are suggesting something along the lines of
![suggested](https://user-images.githubusercontent.com/2874694/139589347-4176b504-9cbb-4784-8733-64ad70c58fa4.png)

[2021-10-31 15:26] AlOneill commented on #1313
@Captainkirkdawson Yes, but more like this:

![verbatim-suggested](https://user-images.githubusercontent.com/14852554/139590510-9d7b40fb-ee30-4b1a-8117-b877980fea8c.png)

I would leave the column headings as they are. I'm thinking that suggested values are relatively few and far between, so no need to clutter the headings! However, others might disagree.

[2021-10-31 15:39] Captainkirkdawson commented on #1313
@AlOneill Like it

[2021-10-31 20:54] FreecenBren commented on #1313
Hi,
My first reaction to this was when I first looked at the new CSV
spreadsheets and wondered what Verbatim actually meant.
I have had a number of people asking the same question.

The replies were “Where on the Census Images  do you find the word’
Verbatim.
The answer was ‘Nowhere’

That opened up a ‘can of worms’ as to what to enter.

Why was there a need to change?

Birth County and Birth Plac

[2021-10-31 21:30] geoffj-FUG commented on #1313
I don't think that we were looking at changing the Birth County or Birth
Place headings on the search results. The problem is that the Alternative
Place Name entered during the transcription to validation process are not
being displayed.

The term Alternative Place of Birth has come through from the field names in
FC2. It seemed OK when we created the spreadsheets and no adverse feedback
was recei

[2021-10-31 23:13] Captainkirkdawson commented on #1313
Brenda
I fully appreciate that the census has only one POB entry
But the transcription process used by Freecen1 and Freecen2 can have 2 versions; the first being the one entered by the transcriber and the other entered by the validator. Both can appear in the vld entry and also in the csv entry. Since computers cannot have 2 fields called the same thing both FC1 and FC2 add a qualifier to the POB

[2021-11-01 09:36] PatReynolds commented on #1313
"Verbatim" imeans "we type what we see, and this is what we saw".  I suggest the column heading makes this clear (either in the header, or in a tool tip, or both).

While as  a researcher I always want to see what the transcriber saw, there are times when using a mapping programme fails to pick up where was intended. I imagine this will be particularly helpful for those who are researching someone

[2021-11-01 10:26] geoffj-FUG commented on #1313
Pat

Including the word verbatim in the heading just compounds the display space
issue.

Including the explanation in a tool tip is the only practical way that this
can be done.

Geoff

From: PatReynolds ***@***.***>
Sent: Monday, November 1, 2021 7:37 PM
To: FreeUKGen/FreeCENMigration ***@***.***>
Cc: geoffj-FUG ***@***.***>; Assign
***@***.***>
Subject: Re: [FreeUKGen/FreeCENMigration] Should bo

[2021-11-01 14:54] AlOneill commented on #1313
We cannot use the term verbatim in results for the county of birth as recorded in the census: we take the census entry, which is very likely to be an abbreviation, e.g. Lincs, which we interpret as Lincolnshire and enter as LIN. That is not verbatim. Using the term verbatim internally is fine as long as we understand how loosely we are using it.

We state in our information that we enter what is r

[2021-11-01 15:02] Captainkirkdawson commented on #1313
@AlOneill Re your last sentence in your last post. The matter of the content of the search record POB is the subject of a different story.` Resolve structure of Search Record Birth fields#1314` I have asked people for input on what we should do in terms of an actual search and what therefore should be recorded in the search record in that story.

[2021-11-01 15:04] AlOneill commented on #1313
@Captainkirkdawson Noted — sound.

[2021-11-01 19:31] Captainkirkdawson commented on #1238
Attempted a fix and deployed to test3

[2021-11-01 19:39] Captainkirkdawson commented on #1299
First part dealt with and deployed to test3.

![fixed.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/196f3701-29ab-4c71-ae7c-b635f3108d7d)
999 part remains open

[2021-11-01 22:06] geoffj-FUG commented on #1313
Pat

To add to my previous comment, there is currently no proposal to change the
headings in the search report so the tip is not necessary. We are not
proposing to use the word verbatim in this report.

We are looking purely at the display of the netry under the Alternative POB.

Geoff

[2021-11-01 22:24] Captainkirkdawson commented on #675
Added and deployed to test3

[2021-11-01 22:39] Captainkirkdawson commented on #675
If testing on test3 you will get a citation such as  localhost:3000/search_records/60e282b1bd30f2d562e7fc2c

You need to paste the search_records/60e282b1bd30f2d562e7fc2c on the test3 server address https://test3.freecen.org.uk/
So it is https://test3.freecen.org.uk/search_records/60e282b1bd30f2d562e7fc2c

This is ONLY for testing purposes

[2021-11-01 22:52] Captainkirkdawson commented on #607
It works as expected. closing

[2021-11-01 22:52] #607 closed

[2021-11-02 15:22] Captainkirkdawson commented on #1229
Need to add Yorkshire as a county searched for births

[2021-11-02 15:28] #339 closed

[2021-11-02 15:30] #497 closed

[2021-11-02 15:31] Captainkirkdawson commented on #346
Research to see if still an issue

[2021-11-02 15:32] Captainkirkdawson commented on #322
Insufficient information

[2021-11-02 15:32] #322 closed

[2021-11-02 15:36] Captainkirkdawson commented on #1004
This has been in sprint backlog for a year. Shouldn't we move back

[2021-11-02 22:22] Captainkirkdawson opened #1317 "Add untranscribed pieces for Scottish Counties where some years are present"
The Pieces etc for Scotland were created from transcribed pieces. Thus any completion data is 100%. For this years and counties which have some transcriptions we need to add the pieces that have not been transcribed.

[2021-11-03 11:28] PatReynolds commented on #1314
For clarification - we are talking here about 'place of birth or 'place of birth' and county of birth'?

[2021-11-03 11:38] geoffj-FUG commented on #1314
Pat

Both. They are always a set and alternatives can be caused by incorrect
County or oncorrect Place issues.

[2021-11-03 12:00] PatReynolds commented on #1299
Moved to new issue: #1318 :

Serach for Ann Alcock, born 1841 +/- 2 (FC1) or 1838-1841 (FC) A, search anywhere for census county and birth county found one born notts, census notts, thurgaton 1841 is found (age 3 birth year in FreeCEN1 but not found by a search in FC2.

James Alcock, same parameters finds him aged 1 in FreeCEN2, but 1 month in FreeCEN1 (only result for this search).

Apologies if

[2021-11-03 12:20] PatReynolds commented on #1258
Able to search for Siân (but none found), so that aspect tests fine.

[2021-11-03 12:43] PatReynolds commented on #1314
Thanks Geoff.
I _think_ the current situation is:
a) County of Birth is transcribed in Chapman Code Format (one field), from which a county name is automatically assigned to a second field.  There is third field where a 'suggested county name' is entered, or a 'suggested chapman code' is entered from which a suggested county name is automatically assigned to a fourth field).
b) Place of Birth is t

[2021-11-03 12:54] PatReynolds commented on #675
Working fine, thank you, Kirk

[2021-11-03 15:46] Captainkirkdawson commented on #1299
The problem was that we were displaying a modified age in the Search Results that was different from the one on the search Detail for young people.
See original statement.
_Searching for "James Turner" born 1839 in Roxburghshire, Scotland. He was in the 1841 Scotland Census in Roxburghshire. He is the only result however on the search results it shows his year of birth as 1836 hut when you open up

[2021-11-03 16:29] rhodamackenzie commented on #1314
I'd say either "suggested PoB" with a roll-over explanation of that that is. or a notes column with suggested Dob

[2021-11-03 16:46] PatReynolds commented on #1258
@Captainkirkdawson to let @geoffj-FUG know when deployed

[2021-11-03 16:48] PatReynolds commented on #1306
@rhodamackenzie to test.

[2021-11-03 16:53] #1233 closed, assigned to Captainkirkdawson

[2021-11-03 17:01] PatReynolds commented on #1313
Decided to use @AlOneill 's suggested display (Nov 1st).

[2021-11-03 17:03] PatReynolds commented on #1315
Closing as both alternates are to be displayed in the one field (as per Alison's suggestion of 1st Nov).

[2021-11-03 17:03] #1315 closed, assigned to PatReynolds, FreecenBren, AlOneill, DeniseColbert, geoffj-FUG, rhodamackenzie

[2021-11-03 17:26] #1308 closed, assigned to Vino-S

[2021-11-03 17:28] PatReynolds commented on #1307
Denise to undertake movement of such vols.

[2021-11-03 17:34] PatReynolds opened #1318 "Missing search record"
A search for Ann Alcock, born 1841 +/- 2 (FC1) or 1838-1841 (FC) A, search anywhere for census county and birth county found one born notts, census notts, thurgaton 1841 is found (age 3 birth year in FreeCEN1 but not found by a search in FC2.

James Alcock, same parameters finds him aged 1 in FreeCEN2, but 1 month in FreeCEN1 (only result for this search).

[2021-11-03 22:07] Captainkirkdawson commented on #1314
@AlOneill @geoffj-FUG @PatReynolds @rhodamackenzie @AnneV-Learn @DeniseColbert @FreecenBren
Please note that the description of this story has been updated to explain more clearly the issue and what is being asked. It was poorly written and incomplete. My apologies.  Please review and answer the following.
Basic question is should we include both the Verbatim and Suggested Birth Places in the Sear

[2021-11-03 22:17] geoffj-FUG commented on #1314
Kirk

If there is an alternative POB it means that at the time of validation there
was no entry in the Gazetteer for that place but there was an entry that
probably reflects the true place of birth. However, we do not know whether a
POB has been added to the Gazetteer since the piece was validated (yes that
can happen).

So given the above my preferred answer is both. What is the additional load
o

[2021-11-04 11:53] geoffj-FUG commented on #688
Alison
I think that you should look at story #1310.
It may make this story obsolete. However the information collected so far will still be useful as it will still enhance the Gazetteer.
Geoff

[2021-11-04 12:00] geoffj-FUG commented on #1248
It should be noted that only FindMyPast will have images in the first instance. We will not have images available unless transcribers wish to use their own membership.
However FindMyPast is charging UKPounds 3.50 to view each image,
In reality the cost precludes volunteers using their own memberships.
In my opinion this project should be given a low priority until the situation changes.
Geoff

[2021-11-04 12:03] geoffj-FUG commented on #1197
Pat
Would it help if I included this info as another Appendix in the uopdate of the FreeCEN2 Manual?
Geoff

[2021-11-04 12:14] geoffj-FUG commented on #684
This issue is affected by Story #1310.
Putting my Validator hat on I would put an alternative POB in the Alternative POB fields (FC2) or in the Validators Choice fields (FC1) if I thought that it was a probable choice after I had researched the verbatim entry.
If I added a POB to the notes it was to make a researcher aware of a possibility, however remote. The intention is not to provide an Altern

[2021-11-04 13:21] PatReynolds commented on #1265
Coud the status of a piece be more informative - i.e. 'online' 'in progress' 'pending' or 'unavailable' - the last with a note in the note field explaining that the piece was lost overboard en route to gurnsey, burnt, or whatever.

[2021-11-04 13:46] AlOneill commented on #688
@geoffj-FUG As far as I'm concerned, this story, _is_ obsolete. I've only made a first pass through British Europe and Africa, producing a list of mainly obscure places that is not ready for adding to the Gazetteer and might never be needed for the census returns. Does it not make more sense for validators to add to the Gazetteer only those places that are needed? My listing so far would clutter t

[2021-11-04 16:29] rhodamackenzie commented on #1306
working well, closed

[2021-11-04 16:29] #1306 closed, assigned to Captainkirkdawson

[2021-11-04 17:19] AlOneill commented on #1248
@geoffj-FUG I'm pretty sure that FindMyPast T&C would not allow volunteers to use the scans for anything other than personal use anyway (along with similar sites).

[2021-11-05 07:55] AnneV-Learn commented on #1265
@PatReynolds I think this may have to be raised as a separate story so that new functionality to set the status can be built into the freecen2 Piece management processes. Having completed that any new status settings could be reflected in the Records pages. It is my understanding that we currently have Statuses of Online, Partial(used when one or more CSV files have be incorporated for a piece but

[2021-11-05 11:22] geoffj-FUG commented on #1258
Kirk
Implementation of this change may require a change to the fields types within the ED block of the spreadsheets.
They are currently Narrow Text but if they are to be able to accept Welsh lettering they will need to be amended to Broad Text.
Fields affected are civil_Parish, ecclesiatical_parish, where_census_taken.
Other possibilities are Ward, parliamentary_constituency and sanitary_district.

[2021-11-05 14:30] Captainkirkdawson commented on #1265
I agree completely @AnneV-Learn this is a brand new requirement.
@PatReynolds the status field is a strange field dating back to the early days of FC and was used to indicate the status of a vld file for a piece during it loading. It only ever had 4 possible values; 'Online', 'Loading',  'Error (not unique)' and ''. CSVProc added 'Part'
The only 2 values that actually exist within freecen_piece ar

[2021-11-05 14:36] Captainkirkdawson commented on #1258
@geoffj-FUG I do not believe we should permit their use in the census description fields. To do so would lead to many many problems.
Their use is intended to permit the TWYS with the dwelling and individual fields of the body of a census document not its description

[2021-11-05 14:48] Captainkirkdawson commented on #1314
@geoffj-FUG The vast majority of our records never had the benefit of the Gazetteer. Before implementation I intend to conduct some research into the contents of the POB fields in the Individual collection to see what the relative usage is. The load in terms of searches would be incremental on the load created by introducing a search on the POB place field.

[2021-11-05 15:16] AlOneill commented on #1314
Using the example that started this discussion, if you believed that your target person was born in Liverpool, you would not search in Lincolnshire — unless you were a great lateral thinker and had an idea that the abbreviations Lincs and Lancs were easily confused! So, searching the Suggested County seems essential.

[2021-11-05 16:56] rhodamackenzie commented on #1314
I would keep it simple - when a search is made, both verbatim and suggested are searched so either can appear in the search results, with verbatim showing as the default in the results list and ("or suggested..." under it (as per @AlOneill suggestion in another thread)

[2021-11-05 17:01] rhodamackenzie commented on #1314
Also, very few users will know why a suggested PoB might show up as they have no idea that transcribers/validators exist or what they do, not sure if that needs to be explained anywhere

[2021-11-05 19:47] Captainkirkdawson commented on #1314
@PatReynolds has confirmed that she also supports indexing and searching on both versions of the POB.
She has also suggested that the Gazetteer variations of a place name should also be searched.

[2021-11-05 21:50] geoffj-FUG commented on #1258
Thank you.
I just had to ask.
Geoff

[2021-11-06 12:04] geoffj-FUG commented on #1258
Kirk

Do we need to amend the field type for POBs to Narrow text? Does their being
Broad text create any issues for the future if searching on POBs is
intended?

There will be places with accents etc in their place names. They can be
added to the Gazetteer in the same way as any other Place as necessary. That
should not cause any issues (except for the person keying the entry!). We
already have Ga

[2021-11-06 19:47] Captainkirkdawson commented on #1258
Geoff
I think you are correct to raise this point. There is no doubt that those additional characters would create significant issues for the Gazetteer. Similarly they will create issues for person names with the search; although the latter has more options to retrieve such names with wildcard and soundex.
Perhaps we are creating more problems than actually resolving. I would like the opinion of o

[2021-11-07 00:25] rhodamackenzie commented on #1258
Is there a simple way to make things work? Perhaps:
If one searches using any vowel with an accent, all versions of that vowel appear in the results and vice versa, searching without an accent gives results for all variants of that vowel- ie all those with an accent. Or that impossible to code?

[2021-11-07 00:27] rhodamackenzie commented on #1258
It would be an awful task to add all the alternate names to the Gazetteer.
For accents, apostrophes and hyphens in the PoB, this would mean a large number of alternates for each place name in the gazetteer. Eg ssss-rrrrr ssss -rrrr ssss - rrr

And so on and on.

[2021-11-07 00:51] Captainkirkdawson commented on #1258
But would that be any different from simply having none in the first place. i.e. have we really added anything

[2021-11-07 05:34] geoffj-FUG commented on #1258
I think that we have 2 options:
1. Make POB Narrow text plus a hyphen. This maintains the status quo.
We have Gaelic characters  in the Gazetteer because they were imported from the Irish Townlands. They are alternative names to an anglisised name in the main Place name.
2. Keep the current POB of Broad text which will allow accented characters to be entered in the Place Names. However this could

[2021-11-07 13:16] rhodamackenzie commented on #1258
So, there are accents in Scottish Gaelic, Irish Gaelic, in Welsh and I wouldn't be surprised if there were a few in English places (eg those with French names) too.

_There are 2 areas each with 2 choices - inputting data and searching the data._

**Inputting, as @geoffj-FUG said above:**
1) no accents allowed but allow hyphens only. Will annoy puritans. Multiple versions of each name would have t

[2021-11-08 21:10] Captainkirkdawson opened #1319 "216303443 no return of pieces (Dave)"
Issue reported by **32pascOE55** at 2021-11-08 12:17:23 UTC
Time: 2021-11-08T12:11:54+00:00
Session ID: 5381f21404c7ae04d532dcaaf47a1f91
Problem Page URL: [/manage_resources/new?locale=en](/manage_resources/new?locale=en)
Previous Page URL: [https://www.freecen.org.uk/](https://www.freecen.org.uk/)
Reported Issue:
entered three pieces to CSVProc to convert from freecen1 to freecen2

but nothing re

[2021-11-08 21:27] #1316 closed, assigned to Captainkirkdawson

[2021-11-08 21:30] #1207 closed, assigned to Captainkirkdawson

[2021-11-08 21:30] #1273 closed, assigned to Captainkirkdawson, PatReynolds

[2021-11-08 21:30] #675 closed

[2021-11-08 21:30] #1238 closed, assigned to Captainkirkdawson

[2021-11-08 21:32] Captainkirkdawson commented on #1305
Processing completed; took 10 days in total.
Rebuilding Freecen2 Place Cache

[2021-11-08 21:33] Captainkirkdawson commented on #1317
Completed

[2021-11-09 00:04] AlOneill commented on #1270
Re-opening as I feel like I've been left hanging on this one …

@PatReynolds Do we publish this draft version or not?

[2021-11-09 00:24] Captainkirkdawson commented on #1312
I know we agreed on the suggestion from @AlOneill however looking at the code will require a significant rewrite which is increasing the estimate to 13.
It is also important to note that the CSV entry has always included columns for both fields.
![csv entries.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/783df8e0-e493-461e-b0dd-2f1e545b6954)

[2021-11-10 04:41] Captainkirkdawson commented on #1312
Fond a better way. Deployed to test3
![resultq.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/a41bb6ec-1f87-4f74-892a-404e82c95a48)

[2021-11-10 04:44] Captainkirkdawson commented on #1313
Deployed to test3
![searchq.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/1a30e960-100d-4b69-a4c7-90e2f70885dc)

[2021-11-10 09:24] PatReynolds commented on #1313
That is excellent, @Captainkirkdawson

Probably unrelated, but during the testing I used Husk*on searching Nottinghamshire, Bingham which works fine on live, but generates an error on test 3 "Wildcard can only be used with a specific place." - if this a real new issue let me know and I'll make a new story for it and delete this part of my comment.

[2021-11-10 14:55] AlOneill commented on #1270
@PatReynolds Do I publish this draft version? I am confused …
https://test3.freecen.org.uk/cms/draft-help

[2021-11-10 15:01] AlOneill commented on #1270
If it's not to be published, then what should I do with it?

[2021-11-10 17:25] PatReynolds commented on #1270
Excellent, @AlOneill ! Ready to publish!

[2021-11-10 19:08] AlOneill commented on #1270
@PatReynolds Thank you. Page is now sync-ready.

[2021-11-10 20:26] Captainkirkdawson commented on #1270
Refinery updated on cen

[2021-11-11 14:34] AlOneill commented on #1270
@Captainkirkdawson Oops — something has gone wrong. It seems that I did not make the changes in Refinery that I thought I did. Will sort it out next.

[2021-11-11 14:39] AlOneill commented on #1270
@Captainkirkdawson @PatReynolds Changes made and confirmed. Page _is now_ sync-ready. Apologies for the blunder!

[2021-11-11 16:02] Captainkirkdawson opened #1320 "Ensure data_present flag is set for CSV incorporation"

[2021-11-11 16:03] Captainkirkdawson opened #1321 "Ensure data_present flag is set on VLD save"

[2021-11-11 16:04] Captainkirkdawson opened #1322 "Ensure data_present flag is updated on vld deletion"

[2021-11-11 16:05] Captainkirkdawson opened #1323 "Ensure data_present flag is updated on CSV Unincorporate"

[2021-11-12 02:40] Captainkirkdawson commented on #1322
Deployed to test3

[2021-11-12 02:41] Captainkirkdawson commented on #1321
Deployed to test3

[2021-11-12 02:41] Captainkirkdawson commented on #1323
Deployed to test3

[2021-11-12 02:42] Captainkirkdawson commented on #1320
Deployed to test3

[2021-11-12 10:19] geoffj-FUG opened #1324 "Resolve problems with vld Download in CSVProc"
Whilst I have replaced vld files with csv files on a few occassions I had not picked up a problem with record counts. I was preparing a file for Pat when I notoced that the 1861 vld file that I downloaded from CSVProc was 200 records short of the count in my tracking spreadsheet (in this case about 10% of the file). I did not have an original transcription for that piece any more so I found an 187

[2021-11-12 14:04] DeniseColbert opened #1325 "Write product specification for Training"
Denise to write phased plan, incorporating Anne's notes and Eric's document from FreeREG.

Next step, create some high level mock-ups

[2021-11-12 14:06] #1325 closed, assigned to DeniseColbert, aewilson116

[2021-11-15 17:13] DeniseColbert opened #1326 "Create a Your Reviews page"
Per FreeREG, add FreeCEN format of form

[2021-11-16 00:17] Captainkirkdawson commented on #1320
deployed

[2021-11-16 00:17] #1320 closed, assigned to Captainkirkdawson

[2021-11-16 00:18] Captainkirkdawson commented on #1323
deployed

[2021-11-16 00:18] #1323 closed, assigned to Captainkirkdawson

[2021-11-16 00:18] Captainkirkdawson commented on #1321
deployed

[2021-11-16 00:18] #1321 closed, assigned to Captainkirkdawson

[2021-11-16 00:18] Captainkirkdawson commented on #1312
deployed

[2021-11-16 00:18] #1312 closed, assigned to Captainkirkdawson

[2021-11-16 00:19] #1322 closed, assigned to Captainkirkdawson

[2021-11-16 00:19] Captainkirkdawson commented on #1322
deployed

[2021-11-16 00:21] #1270 closed, assigned to PatReynolds

[2021-11-16 00:21] #1317 closed, assigned to Captainkirkdawson

[2021-11-16 00:21] Captainkirkdawson commented on #1313
deployed

[2021-11-16 00:21] #1313 closed, assigned to Captainkirkdawson

[2021-11-16 00:23] Captainkirkdawson opened #1327 "Update Help Material for Nearby Places"
https://test3.freecen.org.uk/cms/draft-help

[2021-11-16 00:24] Captainkirkdawson commented on #1305
Completed and deployed

[2021-11-16 15:53] AlOneill commented on #1327
@Captainkirkdawson has created a draft page and edited the text of the Census location section. I'm not the sharpest knife in the box but I do not quite understand the meaning of Place (as in Census Place in the search form) as compared to the place of Nearby Places. Explaining our use of Place clearly for a researcher will take some thought …

My initial testing has revealed some anomalies (mispl

[2021-11-16 16:02] AlOneill opened #1328 "Anomalies in the Gazetteer"
Whilst searching Nearby Places for Sussex, Cuckfield, the following places were listed:

* Sheffield Park (Yorkshire, West Riding) (7.3 miles) — there is a Sheffield Park in Sussex

*  West Firle (Sussex) (14.9 miles) **and** Westfirle (Sussex) (15.4 miles)

* Leith North (Midlothian) (17.0 miles)

* Mayfield (Derbyshire) (17.3 miles) — there is a Mayfield in Sussex

There could be others that wer

[2021-11-16 16:04] AlOneill opened #1329 "Anomalies in the Gazetteer"

[2021-11-16 16:04] Captainkirkdawson commented on #1327
There is no difference. When using the Nearby option it looks for records in nearest places to the place that was selected. It keeps moving to more distant places until the maximum number of places is attained (Initially set to 100). i.e. Imagine a circle based on the place selected that has its radius increased until we have enough places. It pays no attention to the county once the initial point

[2021-11-16 16:31] AlOneill commented on #1327
Thank you @Captainkirkdawson. I understand about concentric circles. Where is the centre of such a circle? A notional centre of the RD or sub-RD? Or something else?

[2021-11-16 16:44] AlOneill commented on #1327
Have corrected some typos in the Draft page. Is this enough? I feel the wording could be improved but will need some time to come up with a version that is easier to understand.

[2021-11-16 17:55] Captainkirkdawson commented on #1327
The center is the Place selected in the Place List for the county. That is whatever that place is. For most it will be the Sub RD, sometimes the RD and sometimes the Civil Parish. In essence the Place is a place name with a lat/lon and we try to make it the smallest area possible