[2019-08-18 04:25] Captainkirkdawson commented on #256
@FreecenBren  as I wrote earlier
**Bottom line I do not believe there is any data issue in the unprocessed files that @FreecenBren needs to address other than the ONE BKS 1002 piece. We need to fix stories #725, #726 and #727**

[2019-08-19 14:25] Captainkirkdawson commented on #720
Thinking about the process more adding it to the update_freecen rake task would be ineffective. The
Rails.cache.delete has to be run on each app server and the update runs on only one.
Perhaps we should determine if we actually need to cache the results given the change in servers since it was added.

[2019-08-19 14:57] Captainkirkdawson commented on #719
All Members on both CEN and REG can send messages to coordinators
![list](https://user-images.githubusercontent.com/2874694/63275752-52e60a00-c25f-11e9-9c5e-721afdd99d63.JPG)

[2019-08-20 14:01] DeniseColbert commented on #719
Sorry Kirk I mean for example, that the SOM Coord can see who the DBY Coord is (and send them a message if the list exists in the Communication system).

[2019-08-20 14:17] Captainkirkdawson opened #728 "Develop plan for moving update of FreeCen2 from FC1 update to direct update"
Develop document that outlines basic process for the change in update process to guide the prioritization of implementation stories

E4 U6 S8 C7:P 25

[2019-08-20 14:19] Captainkirkdawson commented on #674
Implemented

[2019-08-20 14:19] #674 closed

[2019-08-20 14:26] Captainkirkdawson commented on #719
Compose communication, select send, select county coordinators, select the specific person or persons from the list
![lista](https://user-images.githubusercontent.com/2874694/63355938-3364e500-c324-11e9-888c-fb3e3c0eae2f.JPG)

[2019-08-20 14:35] DeniseColbert commented on #719
Wonderful, thank you. Closing.

[2019-08-20 14:35] #719 closed

[2019-08-20 14:42] Captainkirkdawson commented on #720
In meantime. Add step to delete cache in FreeCen update process document

[2019-08-22 16:55] FreeUKGenIssues opened #729 "Warn user of reset password feature that email address does not exist in our database146399971 Reset password (Geoff)"
Issue reported by **somt.cen** at 2019-08-22 10:39:31 UTC
Time: 2019-08-22T10:32:37+00:00
Session ID: 0757add5d063589f0789fde599c316bf
Problem Page URL: [/manage_resources/new?locale=en](/manage_resources/new?locale=en)
Previous Page URL: [https://www.freecen.org.uk/freecen_coverage?locale=en](https://www.freecen.org.uk/freecen_coverage?locale=en)
Reported Issue:
When I went to reset my password a

[2019-08-27 08:10] PatReynolds opened #730 "Update Help to cover absence of citations on next/previous dwellings."
A  note needed in help to explain why there is no citation button on records found through next/previous dwelling.

Insert between "using the search page" and "exploring your results":

Why is there no citation button on every result?
If you have moved to a previous or next dwelling, there is no citation button because the way we generate the citations means that they refer to the original dwellin

[2019-08-28 15:04] richpomfret commented on #713
Not present on TEST3. Has this been deployed yet?

[2019-08-28 15:07] PatReynolds commented on #355
Pat to move from Refinery to google docs for review.

[2019-08-28 15:10] richpomfret commented on #256
@Captainkirkdawson stories you mention have been moved across from Incoming and will wing their way into the Sprint Backlog.

[2019-08-28 15:13] PatReynolds commented on #702
In test 3 - needs review.

[2019-08-28 15:14] PatReynolds commented on #702
REady for you to check, on test3 @AlOneill

[2019-08-28 15:17] Vino-S commented on #709
ready for testing on test3

[2019-08-28 15:25] Vino-S commented on #641
Added link in Members page on test3

[2019-08-28 17:13] Captainkirkdawson opened #731 "Implement Source Sans Pro Regular as basic font"
General trustee opinion is  a change is needed and accepted Source Sans Pro Regular.

Will likely impact the table displays

[2019-08-30 22:49] #713 closed

[2019-09-01 15:05] Captainkirkdawson commented on #727
A review of the code shows that once a file has been processed it will never be reprocessed unless the file is changed. So if the processing failed for some system crash or other reason the current code will ONLY reprocess the file if it is changed in some way so that the digest is different. The update processing code needs to be modified to force reprocessing of the file if its piece status in n

[2019-09-01 15:07] Captainkirkdawson commented on #726
This occurs if the uninhabited flag is nil.

[2019-09-01 23:06] lemon-ukgen commented on #727
Most of the VLDs @Captainkirkdawson mentions were not in the August update, which was for the following:

[code]

The intersection with Kirk's list:

[code]

(All the LAN VLDs were processed in the two July updates.)

[code]

Not sure if we _are_ using the digest code, since that's in `MakeDB3.pl` but the `Makefile` uses `MakeDB2.pl`. The text from

[code]

never appears in the output, at least. I

[2019-09-02 00:00] Captainkirkdawson commented on #726
It appears that a number of the system crashes are caused by attempting to process incorrect data. This happens if the file does not include complete records. The current code splits a file into records of 299 characters and then populates the fields according to the stated record layout. If the file is incorrect then it assigns wrong information to the fields within a record.
I propose to check t

[2019-09-02 00:10] Captainkirkdawson commented on #727
@lemon-ukgen the code does use the digest to decide whether or not a file has been changed. If unchanged it does not process it.  Unfortunately if there was a problem with the file we note there is an error in the piece record and store the digest. That means the file never gets processed.
I am currently testing a small change that forces a file in for reprocessing if its piece status is NOT Onlin

[2019-09-02 00:13] Captainkirkdawson commented on #725
Have added code to ensure conversion to UTF-8. Tested on my development setup

[2019-09-02 00:15] Captainkirkdawson commented on #726
So far I have confirmed that 2 files are of an incorrect size

[2019-09-02 01:04] lemon-ukgen commented on #727
Confirmed, we _are_ talking about different code ( me: FreeCEN1, you FreeCEN2, presumably :)

Given that, I'm unsure what I am being asked to do here.

[2019-09-02 02:03] Captainkirkdawson commented on #727
I know not the answer to why you were added to the story. As far as I can tell it is a purely Cen2 issue

[2019-09-02 02:05] Captainkirkdawson commented on #726
@lemon-ukgen your comments on those 2 files and their history would be welcome. Did they load on Cen1?

[2019-09-02 04:20] lemon-ukgen commented on #726
The first was updated in the August build:
[code]

The second was updated in June:

[code]

The FreeCEN1 build appears to process both ok:

[code]

[2019-09-02 14:11] Captainkirkdawson commented on #726
Interesting. The reported file length of BRK/rg121002.vld is 1,466,296 on colobus, brazza and on my copy however the reported file size was 1,466,272. I took another copy from colobus and processed it and the reported size this time is 1,466,273 so perhaps the ftp transfer is dropping some bits. It will be interesting to see what we get in the test3 testing

[2019-09-06 14:18] Captainkirkdawson commented on #725
Code tested on a test3 freecen update. Ran OK. Difficult to test. So suggest the fix be deployed.

[2019-09-06 14:25] Captainkirkdawson commented on #726
Have run the freecen update on test3. Some 5 files were found to have an incorrect file length which would have given rise to system crashes and the file not processed. Information on them sent to @FreecenBren
As part of solution the error field for a piece was enhanced. This identified additional files that need to be corrected.
Suggest this is ready for deployment and be used for the next produc

[2019-09-06 14:30] Captainkirkdawson commented on #727
Have added code to the freecen update processor that reprocesses any file that had an piece status that was NOT Online.
Works fine in multiple tests on the freecen update on test3.
Suggest this be deployed before the next production update of freecen

[2019-09-06 14:33] Captainkirkdawson commented on #722
Some enhancements made as a result of stories #726 and #727 others are being considered.
![problems with files.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/2f7fb19c-bd51-48c0-b86e-a6c3222db76e)

[2019-09-06 14:35] Captainkirkdawson commented on #721
Some enhancements being made as result of feedback from @FreecenBren

[2019-09-07 21:51] Captainkirkdawson opened #732 "Database coverage on a mobile device is unreadable"
The format used to display on a mobile device is the same as for  desktop. As such it is unreadable

e1 U 4 S 9 C5: P19

[2019-09-09 02:54] Captainkirkdawson commented on #731
Need to be assessed at systemwide before any decision is taken at individual app level

[2019-09-09 08:48] PatReynolds commented on #731
Before assessment, alternatives need to be explored, as we know this proposal demands very significant resources.  I will open a story for this.

[2019-09-09 14:13] richpomfret commented on #732
We can make it scrollable if @Captainkirkdawson you feel that will suffice?

[2019-09-09 21:27] Captainkirkdawson commented on #732
I am not a user of CEN hence cannot comment on whether scrollable would be adequate.
Certainly would make it usable in its current form.
In all other cases we avoided Tables on mobile devices.
The best solution technically is likely a selection of year and country and a a simple display of the one record. Browsing with a 500 entry table is bad news on a mobile

[2019-09-10 08:32] PatReynolds commented on #732
On Google Pizel 3Xl, the table is scrollable, as is the 'details' table.  The two graphs pages are  not scrollable, but viewable in horizontal view.  Agree that a page to select year and county (with resulting page having links to the two graphs) is an improvement.  Graphs will still need to be scrollable for smaller phones. Will create new story for improvement.

[2019-09-10 13:59] Captainkirkdawson commented on #732
I really should learn not to comment on the fly. Yes the current basic table is scrollable hence my comment about it `Certainly would make it usable in its current form.` is incorrect.
At the same time the original comment about the need for improvement remains. I would never use the current display on a phone

[2019-09-11 14:18] richpomfret commented on #666
Shall move this back into the backlog for now.

[2019-09-11 14:39] richpomfret commented on #725
Let's deploy.

[2019-09-11 14:40] Vino-S commented on #709
fixed. Ready to be tested on test2

[2019-09-11 14:43] richpomfret commented on #726
Let's deploy.

[2019-09-11 14:47] richpomfret commented on #727
Let's deploy.

[2019-09-11 14:55] richpomfret commented on #722
@AlOneill request to add in commas to help interpret the large numbers (totals). Also right-aligned for totals to help stand-out.

[2019-09-16 15:08] Captainkirkdawson opened #733 "Different ad units for different pages/actions?"
Cen defined different fields for different pages/actions that originally pointed to different ad units
advert_key:
    data_ad_client:
    data_ad_slot_header:
    data_ad_slot_google_advert:
    data_ad_slot_coverage:
    data_ad_slot_fullwidth:
originally these were set to different ad units
template_set: 'freecen'
  advert_key:
    data_ad_client: *****************
    data_ad_slot_header: "786

[2019-09-23 14:21] richpomfret commented on #733
Already been deployed to live.

[2019-09-23 14:21] #733 closed

[2019-09-23 14:28] richpomfret commented on #731
Ready for user testing over on TEST3.

[2019-09-23 15:05] richpomfret opened #734 "Citations error - always shows 1891 census returns"
'Your Wikitree citations start with the words "General Register Office: 1891 Census Returns" no matter what year the census is. For example, here is a Wikitree citation for the 1861 census - "General Register Office: 1891 Census Returns" "General Register Office: 1891 Census Returns" database, FreeCEN (https://www.freecen.org.uk/search_records/590427e8e9379091b1bd1181 : viewed 22 Sep 2019), David

[2019-09-23 15:22] PatReynolds commented on #734
This is a new error - was correct before.

[2019-09-25 11:59] AlOneill commented on #377
The draft Coord Help page has been restructured and is available for viewing on test3. Four questions remain: these are also listed at the top of the page, with links to the relevant part of the text.

1. The "List of Civil Parishes" section seems wrong/incomplete: What does cause a Piece to be rejected? Coords do not upload at present.

2. Workflow, item 5: mention of assessing data images for "l

[2019-09-25 14:41] richpomfret commented on #709
@DeniseColbert please test if you get a chance.

[2019-09-25 14:44] richpomfret commented on #702
Link is in TEST3 refinery (systems doc page).

[2019-09-25 14:58] richpomfret commented on #355
@PatReynolds to finalise for @AlOneill to test/review.

[2019-09-25 15:01] richpomfret commented on #577
@PatReynolds to check on smaller stats stories created and create a suitable stats epic to order them by.

[2019-09-25 15:08] PatReynolds commented on #535
Note to self: do not copy the HTML from the FC1 page - just the text!  Link to the  external pages (as interim solution).

[2019-09-25 15:10] richpomfret commented on #377
@PatReynolds to take a look.

[2019-09-25 15:12] richpomfret commented on #734
@ShemJM hope you are well - any chance you might be able to take a look at this fix?

[2019-09-25 15:15] PatReynolds opened #735 "The Statistics Epic"

[2019-09-25 15:31] PatReynolds opened #736 "Search performance report not working"
Search performance reporting not working. -

E0 U6 S7 C6: P19

[2019-09-25 16:09] ShemJM commented on #734
Hi, yes I Will have a look this evening.

[2019-09-25 16:25] PatReynolds opened #737 "Add to statistics on searches"
In comparison with statistics on  FC1
The number of searches could not be performed because the server was busy, resulting in the Server is busy message - not available on FC2 - (low priority)

E1 U1 S3 C?7: P12

[2019-09-25 16:26] PatReynolds opened #738 "Check that statistics on www16 are working"
Check, post merge that statistics on test16 are working :
site statistics (number of searchers/time)
% last name vs all searches
% first name vs all searches
% max results vs %no results vs all searches
% all (birth?) county searches vs all searches
% date searches vs all searches
% specific year vs all searches
% place (district), % place+nearby vs all searches
searches total (for last 9 days)

E

[2019-09-25 16:30] PatReynolds commented on #577
Reviewed, epic ("the Statistics Epic") created and stories added there.  Closing as agreed in meeting.

[2019-09-25 16:30] #577 closed

[2019-09-25 16:32] PatReynolds commented on #708
What info is needed?

[2019-09-27 14:32] AlOneill opened #739 ""Your Actions" page, the "Recent Changes/Coming Soon" part is one large link to security policy"
On test3, the whole of the lower part of the "Your Actions" page is a link to the Security Policy! It has link styling throughout (all text is orange).

[2019-09-30 09:47] PatReynolds opened #740 "Turn Pat's "20 years of FreCEN" into a new history page for the website."

[2019-10-07 14:12] richpomfret commented on #740
To go in the About page (accessed on the right-hand submenu).

[2019-10-07 14:18] PatReynolds commented on #737
@Captainkirkdawson is this stat still needed?

[2019-10-09 10:15] DeniseColbert commented on #709
Tested in test2. Record/session data seems to be included:
![image](https://user-images.githubusercontent.com/19173257/66472830-f5fc1880-ea85-11e9-8589-90681ecadc2b.png)

However, the county is still missing from the list:
![image](https://user-images.githubusercontent.com/19173257/66472866-0b714280-ea86-11e9-86f4-88b6311991eb.png)

[2019-10-09 10:27] Vino-S commented on #709
@DeniseColbert , apologies test2 was running on another branch. I have switched the branch to reflect code changes for this issue. Can you test it again, please.

[2019-10-09 10:32] DeniseColbert commented on #709
Tested and now seems fine :)

[2019-10-09 10:47] Vino-S commented on #709
Thanks @DeniseColbert

[2019-10-09 14:38] richpomfret commented on #739
@AlOneill could you confirm this is now fixed?

[2019-10-09 14:39] richpomfret commented on #641
@DeniseColbert to take a look.

[2019-10-09 14:55] PatReynolds commented on #708
Now appears to have been made live, so needs closing.

[2019-10-09 15:03] DeniseColbert commented on #731
Tested and working well. Far preferable to light version!

[2019-10-09 15:05] PatReynolds commented on #716
Thanks, Brenda, I don't think I asked the question correctly.

This is what I'm talking about:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/4e38636c-efaf-4cca-b3d9-9c85debb2ebf)

What I wanted to know is why both "Newark" and "Newark on Trent" show as registration districts for the 1841 census.  https://www.ukbmd.org.uk/reg/districts/newark.html suggests that "Newark

[2019-10-09 15:06] PatReynolds commented on #424
Now got in, checked, and is now fine, can close.

[2019-10-10 16:03] PatReynolds commented on #716
Thanks, Brenda!  I'm still not sure whether what we are seeing is an enumarators' error, or a National Archives error.  Or whether it is not an error, but that Newark-on-Trent, Newark, and Bassetlaw (or any other of the Nottinghamshire Districts) are three separate districts, and there is  no error.
Do you think, if it is an error, we should (for clarity) on the search form just list "Newark (on T

[2019-10-10 16:33] PatReynolds commented on #731
@suffolkroots and @Sherlock21 as folk who have been alerting us to the issues with contrast since before I came on board, I thought you might like to have a look at https://test3.freereg.org.uk/ to see if we've managed to achieve sufficient contrast to solve the wishy-washy-hard-to-read text issue.  We are almost there with colour contrast, and have had excellent UX volunteers working on spacing o

[2019-10-10 18:32] FreecenBren commented on #716
I believe that in 1841 there was a Newark and a Newark-on-Trent.
We cannot decide that the National  Archives got it wrong.
It is not our job to decide one way or the other the course of History. We can only record what we have.
I have had a look at the Census images and it clearly has them both written on the images.

1.	Each PIECE consists of several ED’s.  Each ED has an introduction page.

2.

[2019-10-10 18:36] FreecenBren commented on #716
Rest of the images too large to send them all

From: bowbren2@gmail.com <bowbren2@gmail.com>
Sent: 10 October 2019 19:32
To: 'FreeUKGen/FreeCENMigration' <reply@reply.github.com>
Subject: RE: [FreeUKGen/FreeCENMigration] Are Newark and Newark on Trent the same District in 1841 (#716)

I believe that in 1841 there was a Newark and a Newark-on-Trent.
We cannot decide that the National  Archives got

[2019-10-14 11:11] PatReynolds commented on #512
Seems to have been implemented in Great Merge.

Reference to .freereg2_session - does the refinery page need updating to .freecen_session ???

[2019-10-14 14:10] PatReynolds opened #741 "Data is uploaded into FreeCEN2, and corrected there, and not FreeCEN1."

[2019-10-14 14:12] PatReynolds opened #742 "Coords can mange their teams and their work"
Including can control the metadata of the database

[2019-10-14 14:31] PatReynolds opened #743 "Finish Essential Features"
Essential features include
search by occupation
search by census location
search by birth  location

[2019-10-14 14:40] PatReynolds opened #744 "Implement remaining search features from FreeCEN1"

[2019-10-23 13:56] PatReynolds commented on #355
Text is on test3.freecen.org.uk

This is not intended for long term use, but to be somewhere new transcribers can be sent to get very, very, basic info on how the system works, and to download the things that are no longer available on FC1. Still needs checking.

[2019-10-23 13:58] PatReynolds commented on #716
For decision: do we want to add this information to Help, or just close?

[2019-10-23 14:38] #708 closed

[2019-10-23 14:42] richpomfret commented on #702
@PatReynolds  to check and put link back in (and link here for testing).

[2019-10-23 14:45] richpomfret commented on #641
Yes, let's include this within the volunteer sign-up process (tick box for 'read').

[2019-10-23 14:46] PatReynolds opened #745 "Add basic security policy to the volunteer sign up page"
E3 U8 S7 C7: P25

[2019-10-23 14:47] richpomfret commented on #641
@PatReynolds to create new stories based on the above and to allow users to then access the policy after having signed up/ticked. We can then close this one.

[2019-10-23 14:53] richpomfret commented on #731
@Captainkirkdawson let's roll this out across projects.

[2019-10-23 14:55] richpomfret commented on #512
It's there so closing.

[2019-10-23 14:55] #512 closed

[2019-10-23 14:58] richpomfret commented on #734
@ShemJM any update on this story?

[2019-10-23 15:01] richpomfret commented on #355
@AlOneill to also take a look.

[2019-10-23 15:04] PatReynolds opened #746 "Create Help section for Newark/Newark on Trent"

[2019-10-23 15:18] suffolkroots commented on #731
I was unaware of any testing request re this issue. Having now looked at T3 it is obvious that the font in the buttons is far too small.

[2019-10-23 15:24] suffolkroots commented on #731
No nothing of this, never posted on it, so was unaware of any testing request. Alerted incidentally today, first comment---font in buttons is far too small.

[2019-10-23 20:27] ShemJM commented on #734
@richpomfret I think I know how to fix it but I am having trouble with my local setup of the app. I need to spend some time get it working again. Maybe even do a fresh install.

[2019-10-26 16:41] Captainkirkdawson commented on #734
That wording was added in response to https://github.com/FreeUKGen/FreeCENMigration/issues/713
Guess I misunderstood the original request.

[2019-10-31 21:00] ShemJM commented on #734
Sorry, what is happening with this one? Kirk and I established it is not a bug.

[2019-11-01 09:33] PatReynolds commented on #734
Hi both.  Some comments from slack on 7 October, tiedied for clarity:
"England, Scotland and Wales Census" is correct (because this line of code makes it appear in each record in the database, not just those from the 1881 census).
For Wikitree it is "General Register Office: 1841 Census Returns" database, FreeCEN (https://www.freecen.org.uk/search_records/5c38d194f4040b8d3250d862 : viewed 7 Oct 20

[2019-11-01 16:59] PatReynolds commented on #702
Systems page now has links to sub-pages and the Systems documenation folder on G.drive.

The roadmap looks very out of date.

Are the other documents fine to publish?

[2019-11-01 17:51] PatReynolds commented on #535
New page created on test3 - "County Status Page" (a draft page) not a sub-page of any other.

I cannot see how awful it (almost certainly) looks.

Is this good enough for use as is, or is any further work needed?

[2019-11-03 13:26] AlOneill commented on #535
@PatReynolds @FreecenBren the "County Status Page" is not good enough to use as is. HTML needs cleaning, at least — underway, off-site, in a proper text-editor.

1. Who is intended audience? That will help to determine what else needs doing.
2. The table is wide, so would like to replace "Completed" with something shorter: is "Done" OK?
3. Are we really intending to (continue to) publish all those

[2019-11-03 16:53] Captainkirkdawson commented on #722
Delimiters added to totals; see Database Statistics action for members on test3
Delimiters will be apparent in the error message after database creation with changed code

[2019-11-03 16:56] #731 closed

[2019-11-04 11:17] geoffj-FUG commented on #535
Alison

I have an old County Status page at https://sites.rootsweb.com/~somtcen/ It is now defunct as although it reappeared as Rootsweb rebuilt their pages they changed the access to it and I have been unable to regain access.

From a personal point of view as a Coordinator my Audiences for the progress pages were:

Potential volunteers who wanted to see what the project was about (the Home page

[2019-11-04 11:20] geoffj-FUG commented on #535
Alison

I did not get much spam via my web page and it was active for about 10 years. Probably just 1 per month overall.

Geoff

From: AlOneill <notifications@github.com>
Sent: Sunday, 3 November 2019 11:26 PM
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: geoffj-FUG <geoff.jarvis@freeukgenealogy.org.uk>; Mention <mention@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCE

[2019-11-04 13:02] PatReynolds commented on #535
New transcribers get the info they need via sign up, so intended audience is just existing project volunteers.

The emails could be replaced with the Messaging system (depending on additional work involved / likely length of need for this table.

Data (apart from link to county pages) will be replaced by the DAP/RAP/GAP system is implemented on FreeCEN (in essence a listing of the data available,

[2019-11-04 13:14] PatReynolds opened #747 "Consider the future of County Coverage Pages"
Examples of county pages
http://freepages.genealogy.rootsweb.ancestry.com/~bowbren/index.htm
http://www.mborrill.org.uk/Rutland
http://www.rootsweb.ancestry.com/~sctfc/

Is this information best positioned in one or more of the following
* About (visible to researchers, either in a new subsection, or in the new 'history' subsection?
* details' section of Database Coverage?
* information for transc

[2019-11-04 13:25] FreecenBren commented on #535
Hi  All,

I agree with Geoff.  I cannot access my roots-web page anymore to update it despite several emails to roots web.
Consequently the pages showing have not been updated since November 2017. In some cases even further back than that.
Therefore all links to those status pages from FreeCEN 1 should be removed.

Unlike Geoff though, I cannot do a monthly report as Geoff does.
The reason being

[2019-11-04 14:52] Captainkirkdawson commented on #747
Perhaps we also need to consider the future of the Database Coverage pages. From a researcher perspective they are a horror

[2019-11-04 15:30] PatReynolds commented on #442
Just checking .... is this a transcription/validation process issue, or a research query issue, or a database structure issue?

[2019-11-04 16:08] PatReynolds commented on #380
Search on 1891 census
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/af5ff04f-d4c7-484c-bd9f-9c98ed02fcc5)
(all other fields blank)
Does not find anything.
Removing the North Yorkshire filter, finds 300+ top label says 'unoccupied' but all of these are records of individuals.

[2019-11-04 16:18] PatReynolds opened #748 "Unnocupied dwelling (possibly) breaks FC2"
Trying to find an unnocupied dwelling for testing in another story, I used 'next dwelling' feature on FC2, and got as far of Christopher Owen in Hardingstone, Northamptonshire.  Moving to next record generates an error: is this an empty dwelling?  In the other direction, household before Ernest Jolley generates an error: is this an empty dwelling?  Separate issue needs to be created for this.
Tryi

[2019-11-04 16:21] PatReynolds opened #749 "Database coverage epic"

[2019-11-04 16:57] PatReynolds commented on #232
Covered by systemwide enhancements?

[2019-11-04 21:03] geoffj-FUG commented on #535
Just to add to Brenda’s notes:

Once the online transcription version is available then the system should be able to mark the piece as transcribed once all images have been completed and cleared by the coordinator. The same goes for once it has been proofread online.

Regards

Geoff

From: Brenda <notifications@github.com>
Sent: Monday, 4 November 2019 11:25 PM
To: FreeUKGen/FreeCENMigration <Free

[2019-11-05 20:05] Captainkirkdawson opened #750 "Accessibility rating for Search Page can be improved"
The cen search page is almost identical except that lighthouse has an accessibility rating of 96 (a distinct improvement) and is flagging

Link text (and alternate text for images, when used as links) that is discernible, unique, and focusable improves the navigation experience for screen reader users. Learn more.
Failing Elements the a elements associated with the bottom adrvertisement

E0 U4  S5

[2019-11-05 23:14] Captainkirkdawson opened #751 "Change http calls in code to https wherever possible"
WE are getting warning messages that we are loading some assets over http links rather than https. In the near future this will likely cause fatal errors in chrome and other browsers

[2019-11-06 10:22] PatReynolds commented on #325
Something similar is being implemented on FreeBMD2, and could be used on other projects.

[2019-11-06 11:30] PatReynolds commented on #466
Solution is to free text place search.

[2019-11-06 11:35] PatReynolds commented on #453
More research needed on what is required.

[2019-11-06 13:02] PatReynolds opened #752 "Civil Parish search"

[2019-11-06 13:02] PatReynolds opened #753 "Ecclesiastical District search"

[2019-11-06 13:02] PatReynolds opened #754 "Street Search"

[2019-11-06 15:00] PatReynolds opened #755 "Add Marital Status search"

[2019-11-06 15:01] PatReynolds opened #756 "Add language to search"

[2019-11-06 15:02] PatReynolds opened #757 "Add Disability Search"

[2019-11-06 15:13] #751 closed

[2019-11-06 15:26] #725 closed

[2019-11-06 15:26] #726 closed

[2019-11-06 15:26] #727 closed

[2019-11-06 15:29] PatReynolds commented on #453
I have seen what's needed, and added them.  So this can be closed.

[2019-11-06 15:39] richpomfret commented on #709
Closing.

[2019-11-06 15:39] #709 closed

[2019-11-06 15:41] richpomfret commented on #739
This has now been removed so closing.

[2019-11-06 15:41] #739 closed

[2019-11-06 15:43] richpomfret commented on #722
Done and closing.

[2019-11-06 15:43] #722 closed

[2019-11-06 15:45] richpomfret commented on #453
All other stories have now (we think) been created so closing.

[2019-11-06 15:45] #453 closed

[2019-11-06 15:57] richpomfret commented on #702
@richpomfret to check and ensure current roadmap is linked.

[2019-11-07 11:29] DeniseColbert commented on #535
Some comments from Brenda, via email:

Pat says.
New page created on test3 - "County Status Page" (a draft page) not a sub-page of any other.
I cannot see how awful it (almost certainly) looks.
Is this good enough for use as is, or is any further work needed?

Could not find that at first then looked in Refinery.
Nothing there that was different so am I in the right place?

I appear to be looking

[2019-11-08 12:04] PatReynolds opened #758 "Analyse data in Coords Status Page and County Pages and decide where it is best placed, if still needed"
Spreadsheet detailing pages and contents, as a basis for discussion:
https://docs.google.com/spreadsheets/d/1Q5Ow2IYDszhVJMP1OkaPGkSideMuF4dQ8DoGAuOCvPQ/edit?usp=sharing

NB Scotland's psite is much fuller, reflecting the differences between the E+W and Scotland censuses.

E0 U6 S8 C5:P19

[2019-11-08 12:14] PatReynolds commented on #535
Thanks for all your contributions @FreecenBren and @geoffj-FUG  I am going to create a table that sets out what data will not have a home if the current status page is not replicated on FreeCEN2, and  where data on the current individual county pages, maintained by by coordinators, could find a home on FreeCEN2.  This will be story https://github.com/FreeUKGen/FreeCENMigration/issues/758 and there

[2019-11-11 11:47] PatReynolds commented on #571
For index section of this page, follow the style used on https://www.freecen.org.uk/cms/help (code in refinery will show how this is achieved).

[2019-11-11 15:57] Captainkirkdawson opened #759 "Automate transfer of test3 refinery on CEN to production"
Duplicate the process used on REG for transfer of refinery page from test3 to production

[2019-11-14 20:57] ShemJM commented on #734
I have my localhost up and running again, and have started work on this. Sorry for the delay. I just noticed that the MLA citations have "England and Wales Census, 1861" hardcoded in, is that correct?

[2019-11-17 16:19] PatReynolds opened #760 "Add "Help with Citations" to Help for Researchers"
Include warning/explanation of absence of citations on next/previous dwelling (done)

[2019-11-18 15:25] Captainkirkdawson commented on #759
@lemon-ukgen reported working on Refinery transfer stuff for FreeCEN2, and getting a bit lost about where uploaded assets live. on FreeREG2 they’re at public/system/refinery (which is symlinked into /raid and copied around the production servers automatically)
on vervet, this path does not exist, and i’ve not yet found an equivalent.
there’s public/assets/refinery but that looks more like pipeline

[2019-11-18 15:46] Captainkirkdawson commented on #759
On test3 of CEN the refinery resources also live at public/system/refinery however there appears to be no symlink. CEN at this time has essentially no uploaded assets. I added a file and an image today for test purposes..
For CEN on colobus public/system/refinery also exists but again with no symlink. There is 1 test file and 1 image again early test files.

ie Refinery on CEN is very much  in its

[2019-11-19 23:52] Captainkirkdawson commented on #614
CEN did not store the fact that it had viewed a record. It does now.

[2019-11-19 23:54] Captainkirkdawson commented on #614
This also implements the View n (Seen) capability

[2019-11-20 09:41] DeniseColbert commented on #614
Fantastic, thanks Kirk- I'll put it on SM and in Newsletter.

[2019-11-20 15:23] PatReynolds commented on #548
Use automation from FreeREG to send letter that Brenda currently sends, with links to the three documents she currently attaches.

[2019-11-20 15:59] PatReynolds opened #761 "Replace source of % Complete on Database Coverage Page"
Currently, the !00% is derived from the Enumeration Districts for which we have sources, in that county).  This gives an inaccurate impression of completeness of that county (100% can be only 20% complete) and for the whole year / all censuses.
To get an accurate % we need to know the total records expected for the ED, and show the percentage of that.

[2019-11-20 16:59] PatReynolds commented on #377
I have responded (with some alterations to text.

[2019-11-20 17:36] richpomfret commented on #573
@PatReynolds to check and clarify task.

[2019-11-21 00:28] Captainkirkdawson commented on #245
New colours have been implemented

[2019-11-21 00:28] #245 closed

[2019-11-21 18:13] Captainkirkdawson commented on #743
Before doing one line of code we need to have a clear understanding of the current nature of the search engine for FreeCEN2.
It is currently designed to search for individuals specified by forename or surname or both born within a range of years who was either enumerated in a location or born in a location.
It is NOT designed to search for a) all males or females b) all disabled people c) all wido

[2019-11-21 18:35] Captainkirkdawson opened #762 "Criteria used in search and about this search are incomplete and misleading"
The You search for: and About this search are both incomplete and misleading.
The inclusion of a Birth County in a search is NOT reported in either of the above statements
![missing criteria.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/6968eee7-6463-4a38-a22a-811cd4fedf3a)
The use of census county and census place are solely reported as County and Place
![census county place

[2019-11-24 20:43] #614 closed

[2019-11-25 16:11] Captainkirkdawson commented on #759
@pat_reynolds @rich_pomfret @Alison O'Neill @denisecolbert The automatic transfer process of CEN refinery from test3 to production is ready for a final test by @lemon; this one will zap what is on production with test3. As far as I can see there is nothing on production other than holding pages. We would really like to get this going as the manual process is a real pain

[2019-11-26 15:18] Captainkirkdawson commented on #759
The test by @lemon-ukgen was successful.

[2019-11-26 18:00] DeniseColbert opened #763 "Information for Coordinators Help page has gone"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/72109c10-e26e-440b-8f2c-8b8337e706e5)

Possibly as a result of Test 3 transfer?

[2019-11-26 18:20] Captainkirkdawson commented on #763
The page is there as DRAFT hence not displayable; If you want the page to be displayed you must remove its draft status and we will update.
Applies to all the pages in refinery where most are draft.

[2019-11-27 11:18] DeniseColbert opened #764 "Census County 'i' box (on hover) is truncated"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/3b5d3e9d-a3c7-4c00-a08c-d4f2c3f6e9a6)

[2019-11-27 14:35] PatReynolds commented on #763
The problem is: there was a page called (I think) Information for Coordinators.  It was not replaced by DRAFT Information for Coordinators. The DRAFT IfC page did not have the this-is-a-draft tickybox ticked, and therefore would have been displayed/findable, if there were any links to it, but there not being any links, did not appear in the slot for Information for Coordinators, hence the 404 erro

[2019-11-27 22:57] AlOneill commented on #763
The problem was that there was no page called (plain) "Information for Coordinators" on test3.

A similar situation existed for "Information for Transcribers".

Both pages, with a short message only, now exist on live and on test3.

[2019-11-29 07:24] ShemJM commented on #734
I think my citation changes were merged in the last build. Are the citations ok now?

[2019-11-29 15:10] AlOneill commented on #759
Agree that the test was successful, except that it was not a full test in that there were no files or images on t3 to be transferred. (Why not is a another question!)

[2019-11-29 15:17] Captainkirkdawson commented on #759
There were 3 files and 1 image transferred. So it was a full test. The image was a test image only and will be deleted. It was added to test3  for testing the transfer.

[2019-11-29 15:17] #759 closed

[2019-12-01 00:17] AlOneill commented on #763
It turns out another page is also missing from "live" and test3: **About** is one such — still checking for others.

About does not have DRAFT in its title, but it is saved as a draft and so not viewable. I think that the most recent edits to about were fairly minor and to do with the setting out of "Why is FreeCEN changing".

The markup looks OK, so will save (without "Save as draft") as a viewab

[2019-12-04 04:01] Captainkirkdawson opened #765 "Write rake task to extract and list the contents of the various possible search fields"
Before attempting to write any code to filter on the basis of the occupation field we need to know the range of information currently contained in that field

[2019-12-04 04:06] Captainkirkdawson commented on #317
Need to know what is in the field before even making an estimate of the task

[2019-12-04 04:13] Captainkirkdawson commented on #755
Assuming this is simply a filter of a broad search then it is relatively straightforward

[2019-12-04 04:14] Captainkirkdawson commented on #756
Assuming this is simply a filter of a broad search then it is relatively straightforward

[2019-12-04 04:15] Captainkirkdawson commented on #757
Assuming this is simply a filter of a broad search then it is relatively straightforward

[2019-12-04 04:47] Captainkirkdawson commented on #446
The sort is there. The info button has that information. Are you suggesting we adopt the REG approach? Its an additional comment under the number of results (The latter is missing in CEN)

[2019-12-04 17:20] richpomfret commented on #743
@richpomfret to clarify the requirements with @PatReynolds and @FreecenBren.

[2019-12-04 17:23] richpomfret commented on #743
We will otherwise go on the assumption that we search by people and then by x, y or z (e.g. occupation).

[2019-12-04 17:29] richpomfret commented on #446
Agreed to replicate what we do in REG (and clean it up while we are there).

[2019-12-04 17:31] richpomfret commented on #734
@PatReynolds can you take a look and test this for Shem?

[2019-12-04 17:31] richpomfret commented on #734
It's now in Production.

[2019-12-04 17:32] richpomfret commented on #165
@PatReynolds let's discuss when you return and move this out of progress if it's not moving forward.

[2019-12-04 18:42] AlOneill commented on #355
@PatReynolds To clarify, which of these two pages do you want me to get ready? I'm guessing it is the page with "interim" in the title, but both have non-CEN things in them!

DRAFT Information for Transcribers (interim)
DRAFT Information for Transcribers

[2019-12-05 09:33] Vino-S opened #766 "Browse userids action showing error"

[2019-12-05 15:30] AlOneill commented on #571
@PatReynolds David Housman (who has been asked to make a sub-menu (index) on this page has asked for more details. So I took a look at the original page on FC1.

The questions are mainly to do with IN-CENS: the original input app that I don't think is used by transcribers any more.

There are also a couple of sections on CHECK-CENS and VAL-CENS, for proofreaders and validators: I believe these are

[2019-12-06 02:06] Captainkirkdawson commented on #766
Wrong method call. Affects REG as well. Been there for 2 years!

[2019-12-06 16:50] AlOneill commented on #571
@PatReynolds David is not comfortable with de-cluttering the markup, so have done that myself. Neither is he familiar with FreeCEN.

**However**, even the cleaned up page is **too long to be saved in Refinery**.

I can think of some approaches for reducing the page length:
* There is some effective duplication of information: it is difficult to tell exactly how much as the 180-odd questions are in

[2019-12-07 17:26] #763 closed

[2019-12-07 20:55] Captainkirkdawson commented on #765
Have generalized it to look at occupation, marital status, sex, language, disability.
Running time will be about 3 hrs

[2019-12-07 22:29] Captainkirkdawson commented on #446
Code has been modified for BOTH REG and CEN available on both test3s

[2019-12-08 01:42] Captainkirkdawson commented on #762
Changes made as part of 765

[2019-12-08 01:46] Captainkirkdawson commented on #723
Fixed

[2019-12-08 01:46] #723 closed

[2019-12-08 14:39] AlOneill commented on #446
Removing the `caption` element seems like a step backwards in terms of accessibility:

"The caption for a table is a table identifier and acts like a title or heading for the table.

"The caption element is the appropriate markup for such text and it ensures that the table identifier remains associated with the table, including visually (by default). In addition, using the caption element allows s

[2019-12-08 14:40] AlOneill commented on #446
Think the first sentence under "n Search Results" would read better with an "a" inserted:
          Select [a] column heading of the table below to sort results on that column.

[2019-12-08 23:11] Captainkirkdawson opened #767 "Results display is using the REG formatting and positioning left"
The application of the formatting to permit side ads is being applied to CEN as well resulting in the display being left positioned and compressed instead of centered

[2019-12-08 23:24] AlOneill commented on #767
Is that because the left `grid__item one-sixth` is empty? And so occupies no space?

[2019-12-08 23:51] AlOneill commented on #767
Tests in browser confirm my suspicions above.

[2019-12-09 00:59] Captainkirkdawson commented on #767
Yes that's because the code is applying reg formatting that now displays side ads.
Code made app specific. Can be removed when Cen goes to side ads as well

[2019-12-09 01:24] Captainkirkdawson commented on #446
Revised test and positioning to make it logical.

Removed ad as it interfered with the flow of the page; **side ads are preferable**

Running on test3 CEN and REG

Dealt also with 762 and 767

[2019-12-09 12:20] DeniseColbert opened #768 "Records missing (there in FC1)"
Searched for John McKendrick (born c 1801) could not be found, then tried his son Robert (born c 1830) again could not be found: However, both records can be found on FreeCEN1 (Piece: SCT1841/272 Place: Arbroath -Angus Enumeration District: 2) so I know the record exists, therefore there is a problem with the search on FreeCEN2.

[2019-12-09 12:23] DeniseColbert commented on #352
Many researchers request this also, could this be added to phase 1 epic?

[2019-12-09 16:14] Captainkirkdawson commented on #768
@DeniseColbert what year?

[2019-12-09 16:18] Captainkirkdawson commented on #768
@DeniseColbert please ignore stupid question!

[2019-12-09 16:27] Captainkirkdawson commented on #768
I had no trouble locating on CEN2
![one](https://user-images.githubusercontent.com/2874694/70453461-0882d600-1a66-11ea-8710-ea33cb3e951e.JPG)
![two](https://user-images.githubusercontent.com/2874694/70453474-0de02080-1a66-11ea-9589-718b9a42b923.JPG)

[2019-12-09 16:59] PatReynolds commented on #352
Added as an 'essential' feature' - for discussion at next meeting, for confirmation or transfer to non-essential epic

[2019-12-09 20:46] FreecenBren commented on #768
I also found them OK on both search sites.

From: Kirk Dawson <notifications@github.com>
Sent: 09 December 2019 16:27
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [FreeUKGen/FreeCENMigration] Records missing (there in FC1) (#768)

I had no trouble locating on CEN2
 <https://user-images.githubusercontent.com/2874694

[2019-12-09 20:52] Captainkirkdawson commented on #765
The rake task has been run against the CEN database on test3. That database is extremely close to the production version so the statistics should be meaningful.

Year	Pieces	Pieces Online	Individuals	Dwellings
1841	1,847	1,470	5,392,415	        1,193,527
1851	1,582	1,268	4,055,657	        899,293
1861	4,089	3,087	11,618,172	2,738,371
1871	4,585	2,270	7,204,704	        1,713,344
1881	571

[2019-12-09 20:57] DeniseColbert commented on #768
Brenda also told me offline that she found the record. Must have been an odd glitch! Will close.

[2019-12-09 20:57] #768 closed

[2019-12-09 21:07] Captainkirkdawson commented on #756
The rake task shows the following content of the language field
1841/1851 empty as is 1871
1861 "o", "i", "c", "u", "r", "e"
1881 "-", "G", "x"
1891 "W", "-", "B", "E", "G", "x",  "N"

I have no knowledge of their meaning.

Guidance is needed on interpretation and how to proceed.

CEN1 provided a drop don selection of Any English Welsh  and Both

[2019-12-09 21:58] Captainkirkdawson commented on #755
The rake task shows the following contents for this field

1841 "-"
1851 "M", "U", "W", "-", "S", "Y", "F"
1861 "M", "-", "U", "W", "S", "F", "2", "N", "_", "E",  "X", "I", "1", "7", "3", "4", "8", "6", "5", "9"
1871 "M", "U", "-", "W", "S", "F", "Y", "Q", "N"
1881 "U", "M", "-", "W", "S"
1891 "M", "S", "W", "-", "U",  "D", "0", "F", "6"
Totals "-", "M", "U", "W", "S", "Y", "F", "2", "N", "_", "E"

[2019-12-09 22:01] Captainkirkdawson opened #769 "Add sex search field"

[2019-12-09 22:09] Captainkirkdawson commented on #769
The rake task provided the following make up of this field

1841 "M", "F", "-", "_",
1851 "M", "F", "-", "_", "U", "W", "G"
1861 "M", "F", "-", "_", "D", "U", "G", "W", "R", "S", "`", "4", "7", "J", "6", "3", "1", "5", "0", "9", "2", "8"
1871 "M", "F", "-", "N", "S", "_", "W", "U", "D"
1881 "M", "F", "-"
1891 "M", "F", "-", "_", "8", "2", "W", "S", "1", "D", "N"
Totals "M", "F", "-", "_", "U", "W"

[2019-12-09 22:30] FreecenBren commented on #756
1841/1851 empty as is 1871

1861 "o", "i", "c", "u", "r", "e"
None related to Language
Would be interested to see an example where these are used.
Only the U recognised as a genuine letter to use after the address column.
U = Unoccupied and that relates to all the census so again which column was it entered under.
Should only be used in column H  when it was Transcribed.

1881 "-", "G", "x"
See be

[2019-12-09 22:34] FreecenBren commented on #755
Marital Status can only be,
W = Widow or Widower
M = Married
U =- Unmarried
S= Single
If none of these none should be entered.

Would like to see a PIECE that they were used in and how they got through in the first place.

Not sure where you got the ‘Any’ from
From: Kirk Dawson <notifications@github.com>
Sent: 09 December 2019 21:59
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.c

[2019-12-09 22:38] FreecenBren commented on #769
Only M or F should be the rule.
CSVCHECK gives errors if any other used.
Again be interested to be able to see where they were used and how they got accepted.

Are they new ones or anytime in the past 20 years?

From: Kirk Dawson <notifications@github.com>
Sent: 09 December 2019 22:10
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com

[2019-12-09 23:06] AlOneill commented on #756
I believe "G" stands for Gaelic spoken. It was asked in SCT census from 1881.

[2019-12-09 23:18] Captainkirkdawson commented on #317
Well that blew me away the investigation of the content shows.

1841  67,501
1851 232,840
1861 553,696
1871 352,915
1881  36,961
1891 435,585
Total 1,445,529

A SAMPLE is at https://drive.google.com/drive/u/1/folders/0BykgQKwJtk6faHhUWnRsWklNWWc The original files are too big for sharing 35MB.

Cen1 has a test entry box for the selection of occupation. I can only speculate as to how it worked. Lik

[2019-12-09 23:19] AlOneill commented on #756
In 1881, people in SCT were asked only, "Do you speak Gaelic?".

In 1891, the question in SCT was English, Gaelic or Both: so a "B" in a SCT census meant yes to both Gaelic and English, *not* Welsh and English.

[2019-12-09 23:31] Captainkirkdawson commented on #755
This is the CEN1 Search selection for Marital status
![any.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/0921f02a-9cbe-48c6-a2f5-486cc8a1f28a)

All I can tell you is what is in my post is what is actually in the field; which piece is beyond the scope of the story or the task

[2019-12-09 23:34] Captainkirkdawson commented on #769
What is in there is in there I am afraid

[2019-12-09 23:49] FreecenBren commented on #756
The B  then has 2 uses
in the England and Wales Counties census for those speaking both English
and Welsh.
In Scotland Counties B = Both  Gaelic  and English spoken.

The *Fields PDF* is what we refer to nowadays, that *incens* is not used.
But we have to remember that a lot of the transcriptions were transcribed
when we all did use it.

This is what Rick Parsons wrote about those letters.
https:/

[2019-12-10 00:01] FreecenBren commented on #755
Strange that as Rick Parsons has it on the Incens page
Q M 143 1 Condition (M, S, U, W or -)

https://west-penwith.org.uk/fctools/doc/reference.html

And the Fields PDf that we go by now has it as

Column M
(Marital)
Status
Default
Hyphen
'-'
One character
Do not make assumptions!
Enter a single letter m, s, u, or w (Married, Unmarried, Single, or
Widowed) as defined on the Census Page.
If the Enu

[2019-12-10 00:17] FreecenBren commented on #757
Column  W on the FIELDS document for Disabilities says this.
This is what transcribers go by which replaced INCENS instructions

*Column W*
*Disability Blank *
*Up to six characters*
*Strictly, the Census asked only "Deaf, Dumb, Blind"; many Enumerators*
*also wrote such comments as "Imbecile", or "Cripple"*
*We can record these options, with abbreviation as necessary (enter the
full*
*wording in

[2019-12-10 01:43] Captainkirkdawson commented on #757
Sorry @FreecenBren but I cannot comment on what should be there. All I can do is report on what is actually there.

[2019-12-10 09:46] PatReynolds commented on #757
Question is (I think) should search be on 'column w' or 'column Y' - as column Y is twys, and column W is a FreeCEN abbreviation, there are arguments for both.
For column Y - will pick up entries if people are specifically looking for something (e.g. Limbless, or mentioning Heart).  But such searches will be better served by providing access to the records as Open Data.
Column W on the other hand

[2019-12-10 09:54] PatReynolds commented on #756
My summary: only 1891 contained language, so search only needed on 1891 census.
Search opetions:
Welsh only
English and Welsh
Gaelic only
English and Gaelic
Other (presume English only)

If you want to cut time processing (and add time developing) then only searching for Gaelic options on Scottish records, and only for Welsh options on Welsh records would be implemented.

[2019-12-10 10:17] PatReynolds opened #770 "Consider showing both columns W and columns Y as detailed results."
Currently, we show the six-letter abbreviation in column W, which is used by transcribers for both the Census official abbreviations for disabilities, and an abbreviation created to indicate what was actually written which is TWYS in column Y.

[2019-12-10 14:06] FreecenBren commented on #756
Unfortunately that is not the case.

The Wales census have them also in the 1861 census.
The W  for Wales spoken etc., is often written  alongside the schedule number on the images but we enter it in column X.

Examples from  Caernarvonshire 1861 attached.

From: PatReynolds <notifications@github.com>
Sent: 10 December 2019 09:55
To: FreeUKGen/FreeCENMigration <FreeCENMigration@noreply.github.com>

[2019-12-10 15:20] PatReynolds commented on #571
Goodness, it is big.  Your suggested process sounds good.  Maybe ignore INCENS entirely, since it is redundant.  Also, a task for a new volunteer, I think (but one very familiar with the project's history and previous tools).

[2019-12-10 15:27] AlOneill commented on #571
Except that there must be some overlap between IN-CENS and WIN-CENS — the latter is still in use by some, I believe.

[2019-12-10 16:15] Captainkirkdawson commented on #757
I am totally lost @PatReynolds we have no such fields as Y and W in individuals. The available fields are
field :sequence_in_household, type: Integer
  field :individual_flag, type: String
  field :surname, type: String
  field :forenames, type: String
  field :name_flag, type: String
  field :relationship, type: String
  field :marital_status, type: String
  field :sex, type: String
  field :age,

[2019-12-10 16:18] Captainkirkdawson commented on #770
As noted in story 757 we have no such field
I am totally lost @PatReynolds we have no such fields as Y and W in individuals. The available fields are
field :sequence_in_household, type: Integer
field :individual_flag, type: String
field :surname, type: String
field :forenames, type: String
field :name_flag, type: String
field :relationship, type: String
field :marital_status, type: String
field :s

[2019-12-11 12:24] PatReynolds opened #771 "Collate existing onboarding materials"
Documentation to be assimilated in automated training module, and used to inform Help for Transcribers

E2 U5 S6 C5: P18

[2019-12-11 12:32] PatReynolds opened #772 "Recruit volunteer to oversee Onboarding and complete the first page or two of Piece (equivalent of Jo in FreeREG)"

[2019-12-11 12:33] PatReynolds opened #773 "Fundraise (crowdfunding?) for the London 1871 images"

[2019-12-11 12:36] PatReynolds opened #774 "Encourge Transcribers to explore other roles"
Utilise the email confirmation- TRUE / FALSE page to present transcribers with an invitation to become a COORD / Proofreader / Validator (message not served to volunteers already fulfilling those roles). Negative response closes the page and moves on to Actions page, a positive response sends an automated message to A. Person to manage this progression. (Needs system and documentation in place - p

[2019-12-11 15:00] FreecenBren commented on #757
This is the best I can do with what relates back to the FreeCEN Spreadsheet.
Fields attached give you more details re the columns in the initial transcription.

Column Letter in FreeCEN   Spreadsheet
Rake Report

System produced to form the final VLD
field :sequence_in_household, type: Integer

System produced to form the final VLD
field :individual_flag, type: String

I
field :surname, type: Stri

[2019-12-11 15:11] FreecenBren commented on #571
Regards INCENS.

I have written to the COORDS and there replies are as follows

COORD
REPLY

Beki
None

Bev
None

Carol
None

Dave
None

Geoff
None

Ian
Waiting reply

John
None

Myself
None

Neil
None

Ian was a COORD after INCENS was replaced so I will assume none for him as well.
It is therefore safe to assume that we do not have any transcribers using INCENS.

From: AlOneill <notifications@git

[2019-12-11 22:54] Captainkirkdawson opened #775 "Make the search details page more accessible"
The layout of the page is quite unfriendly to navigation by accessible tools

E0 U10 S5 C5: P20

[2019-12-11 23:30] Captainkirkdawson opened #776 "The CEN Tables do not use th"
The cen tables are all constructed with td elements rather than th for column headings. This is likely to cause accessibility issues.

Agreed need to fix this, and also thead and tbody should be used appropriately.

E0 U3 S 9 C5: P17

[2019-12-12 00:05] Captainkirkdawson commented on #766
Fixed and deployed

[2019-12-12 00:05] #766 closed

[2019-12-12 10:13] PatReynolds commented on #446
Working fine on Test3 (both CeN and REG)

[2019-12-17 16:21] PatReynolds commented on #716
Closing as new 'help' story created

[2019-12-17 16:21] #716 closed

[2019-12-17 16:39] PatReynolds commented on #355
Yes, it's DRAFT Information for Transcribers (interim)

I can't see any non-CEN things in it!

[2019-12-17 16:41] PatReynolds commented on #730
Done on systemwide draft on FreeREG.

[2019-12-17 18:44] AlOneill commented on #355
@PatReynolds Thanks.

See the highlighted "batches" in Transcriber actions. I can re-write the sentence, no worries.

Other issue: "Roadmap" action produces error. Is the page called "Road Map" accurate enough to be re-named and used (after tidying)?

[2019-12-18 16:33] PatReynolds commented on #746
FreeCEN1 search is free text, and looks for strings anywhere, e.g. search for "pauper" finds "Pauper - Lab's. Widow " and "Farm Labs Widow/pauper", as well as "Pauper".

For this version, I think implement as is at the moment.  But Phase 2, implement a search which uses a structure created from the various census models (see http://www.visionofbritain.org.uk/census/EW1911GEN/5 for details of chang

[2019-12-18 16:34] PatReynolds opened #777 "Write help on use of Occupation"
See http://www.visionofbritain.org.uk/census/EW1911GEN/5 for history of occupation in the census.
Note that "pauper" finds records with "pauper" in any position.

E1 U3 S5 C8: P17

[2019-12-18 16:42] PatReynolds opened #778 "Roadmap page needs updating"
Button on live links to https://www.freecen.org.uk/cms/system-documents/development-roadmap? but on freeREG links to google doc (https://docs.google.com/document/d/1A8sEE7yAaT-2Y8rxWxunRT85BpwAkGaIQBEzVE6dNx8/edit#heading=h.24wxxstl5bsr) - this may need changing as it may not be accessible to all?  And do we want read only, or comment access?

test3.freecen.org.uk has html code of an old roadmap (

[2019-12-18 16:50] PatReynolds commented on #355
Story #778 written to resolve the Roadmap problem.

Yes, please deal with the highlighted sentence.

[2019-12-18 17:31] PatReynolds commented on #446
Font change to source sans pro, other wise good to deploy.

[2019-12-18 17:31] PatReynolds commented on #765
Closing as done.

[2019-12-18 17:32] #765 closed

[2019-12-18 17:37] PatReynolds commented on #317
@Captainkirkdawson to see what the performance looks like, before making a decision whether to begin implementation now, or at a later date (solution is a regex).

[2019-12-18 17:37] #762 closed

[2019-12-18 17:38] #767 closed

[2019-12-18 17:45] PatReynolds commented on #756
Please implement dropdowns as above, for all censuses.

[2019-12-18 17:53] PatReynolds commented on #755
Implement dropdown as suggested (with default being Any Status)

[2019-12-18 17:57] PatReynolds commented on #769
Implement: "Restrict search to: males (tickybox) females (tickybox)."

[2019-12-18 17:58] PatReynolds commented on #757
Implement "Restrict search to persons with disabilities (tickybox)"

[2019-12-18 19:03] PatReynolds opened #779 "Create side bar adverts for FreeCEN"

[2019-12-19 21:35] AlOneill commented on #778
@PatReynolds the link above will not let me view the doc without logging in to GoogleDocs.

A link to the Roadmap is needed on the "Info for transcribers" page, under Sending Messages.

[2019-12-19 21:42] AlOneill commented on #355
@PatReynolds the link to the Roadmap given in #778 requires a log in to GoogleDocs to view.

"Info" page pretty much done otherwise.

Will do "Fields" page next. (It is linked from Info and so needs to be made ready before "Info" is deployed in a sync.)

[2019-12-20 10:06] PatReynolds commented on #778
Link (that I hope works) added.

[2019-12-20 18:10] AlOneill commented on #377
@PatReynolds The Info for Coords (interim) page is nearly done. Apart from the final tidying up, there is one outstanding question:

Workflow, item 18 reads, "Run stats scan monthly to assess errors rates per transcriber. Advise SC." Does this make any kind of sense for CEN?

AFAIK, the database does not know who transcribed what. Individual coords should have such a record, but that is as far as

[2019-12-20 22:11] geoffj-FUG commented on #377
Alison

FreeCEN Coordinators do not do this.

Because FreeCEN is a 3 step process Coordinators get to know who their good and not so good transcribers are. Proofreaders pick up a lot of the errors. There is no quality control of volunteers work in a statistical sense.

However FreeCEN1 had an error report that Coordinators accessed each month. This showed which pieces had crashed at upload and whe

[2019-12-20 23:12] FreecenBren commented on #377
AFAIK.
Not all COORDS will know who did what and when.
Some Counties  over the last 20 years have changed COORDS (Retired : Ill or
Died) and not all the volunteers names of those Pieces that were already
online were passed over.
Others do not want their names shown neither, for whatever reason and that
has to be respected.
Obviously when FreeCEN 2 is up and running things will be different when it

[2019-12-21 00:17] #446 closed

[2019-12-21 15:49] AlOneill commented on #377
@geoffj-FUG @FreecenBren Thank you both.

@PatReynolds Propose to remove Workflow, item 18, for now.

[2019-12-22 21:10] Captainkirkdawson commented on #317
Code available for evaluation on test3 CEN.

[2019-12-22 21:11] Captainkirkdawson commented on #757
Code available for evaluation on test3 CEN.

[2019-12-22 21:11] Captainkirkdawson commented on #755
Code available for evaluation on test3 CEN.

[2019-12-22 21:11] Captainkirkdawson commented on #756
Code available for evaluation on test3 CEN.

[2019-12-22 21:11] Captainkirkdawson commented on #769
Code available for evaluation on test3 CEN.

[2019-12-23 16:21] PatReynolds opened #780 ""Nearby Places" does not search nearby places"
A search for 'nearby places' searches places that are further away.  e.g. their are Alcocks in Newark and Northallerton, just over 100 miles apart.  But one place is not searched from the other, but places 200 miles plus away are searched.
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/98468e9c-96e6-459f-8cf4-9919d1219a62)
![image.png](https://images.zenhubusercontent.c

[2019-12-23 16:42] Captainkirkdawson opened #781 "About this search does not reflect FreeCEN"
The About This Search does not use the FreeCEN fields of Birth County nor Census County and Census Place.

It also needs modification to add the additional search criteria

[2019-12-23 16:59] Captainkirkdawson commented on #738
I do not understand the issue. The seach_statistics reports will be the same regardless of the production server being accessed. ie www , wwwnn
Do not understand reference to test16. There is no such server. We have the www , wwwnn and test2 or test3.
test2 and test3 will produce zero results as there is no rake task being run in those environment. Do you wish for one

[2019-12-23 17:00] Captainkirkdawson commented on #248
Do not understand this story in light of the others

[2019-12-23 17:03] Captainkirkdawson commented on #737
The reports provide this information. Suggest it be closed

[2019-12-23 17:14] PatReynolds commented on #737
I agree, Kirk

[2019-12-23 17:15] PatReynolds commented on #248
I think this was copied from the FreeREG plan, and has been superceded.

[2019-12-23 17:17] PatReynolds commented on #738
http://www16.freecen.org.uk/search_statistics
Sorry, it was www16 not test16 ...

[2019-12-23 17:18] Captainkirkdawson commented on #685
Site statistics do not work in production or in test.

In REG they contain; number of searches, number of records by type (ba, bu, ma) and total

Since REG is updated daily all fields change on a daily basis

In CEN  we could also have number of searches, number of records by type (1841, 1851 etc) and total
But the latter field will be static for a month which is likely why the report was never pr

[2019-12-23 17:19] PatReynolds commented on #685
It's not working because I was looking on test16, not www16!   So closing.

[2019-12-23 17:20] Captainkirkdawson commented on #665
This is duplicate of 685

[2019-12-23 17:20] #665 closed

[2019-12-23 17:23] Captainkirkdawson commented on #685
Reopened as this was issue on site statistics

[2019-12-23 17:24] #737 closed

[2019-12-23 17:25] #248 closed

[2019-12-23 17:27] Captainkirkdawson commented on #738
Noted. Changed title, As far as I am aware all wwwnn accesses will provide identical results to www. Is this story needed?

[2019-12-23 17:33] Captainkirkdawson commented on #736
As far as I am aware the report is working. (Other than yellow heading!)
![search performance.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/2d3ae449-f8cc-4610-a6d9-3af95448e48c)

[2019-12-23 19:45] helhyde commented on #738
I'll check this tomorrow. Please assign me.

Executive Director, Free UK Genealogy

On Mon, 23 Dec 2019, 17:27 Kirk Dawson, <notifications@github.com> wrote:

[2019-12-23 21:14] Captainkirkdawson commented on #685
Have activated site and search statistics on test3

[2019-12-24 00:30] Captainkirkdawson commented on #781
Resolved in test3

[2019-12-24 10:24] PatReynolds commented on #685
Tested on test3 and working fine, thank you.

[2019-12-24 10:30] PatReynolds commented on #738
Page displays fine, thank you.  The percentage of last name searches to all searches looked weird until I recognised that the scale ran from 99% to 100%.

[2019-12-24 10:35] PatReynolds commented on #738
Also, no difference between www16 and www - I have no idea why we ever used www16 (only used fo this feature, afaik), but one less thing to remember.
Should I make a link from https://test3.freecen.org.uk/site_statistics? (or somewhere)? Then would not need to even remember it.

[2019-12-24 10:45] PatReynolds commented on #769
Code tested sucessfully.

[2019-12-24 11:05] PatReynolds commented on #756
Searched Alcock, speaks Welsh (only search terms used).  Started with a wide search, too many results, narrowed it down by birth year to 1870 to 1890, too many results.  No results 1870-1874 or 1875-1880 or 1880-1890!

Looking for Jones, speaks both English and Welsh, none born in 1790 "too many" in 1791. Trying to narrow down (disabled, or widower, first name Mary or Mari) got none.

@richpomfret

[2019-12-24 11:13] PatReynolds commented on #755
This works as expected, thank you.

[2019-12-24 11:34] PatReynolds commented on #757
Search found two records, but neither was of a disabled person:
![image](https://user-images.githubusercontent.com/6338822/71410884-f5176380-263e-11ea-9c3f-9223b763ef6e.png)

Repeat with wider search has 9 results, two view 4 and view5, Eliza Alcock are correct, the others are false positives.
![image](https://user-images.githubusercontent.com/6338822/71411007-7969e680-263f-11ea-8ead-ea2ff864bbc2.

[2019-12-24 11:50] PatReynolds commented on #317
Testing for Alcock, Farmer, census in Yorkshire, worked fast and fine.
However,
Testing for Alcock, Butcher, born 1800 to 1805, no results to 1810, no results, to 1815, no results, to 1817 too many results.  to 1816, no results.  Just 1817, no results.

Timing wise, seems fine - very quickly either completing search, or announcing that there are too many results.

[2019-12-24 15:55] Captainkirkdawson commented on #757
There are no false positives from a code perspective. The ticky box implementation does NOT look at the actual contents. It simply asks 'is there anything in this field' There is no quality assessment as to it content.
As the original checking of this field showed there are many strange entries. Look at the sheet for all years in the spreadsheet
https://drive.google.com/open?id=1afnPVobQXI8o44_PuR

[2019-12-24 16:01] Captainkirkdawson commented on #685
It is worth adding that statistics are now in the footer

[2019-12-24 16:08] Captainkirkdawson commented on #738
The only people who need direct access to a specific server are the developers. We need to be able to check a specific server when we role out a release. I suggest we close
@PatReynolds if you want to see those graphics they are there for production. Bookmark that. ie
https://www.freecen.org.uk/search_statistics
In systemwide 118 I ask a question `Should we provide access to the search_results gra

[2019-12-24 16:26] Captainkirkdawson commented on #756
An example follows. No language:
![jones1.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/9cd39008-8be1-4085-8a30-8742598c05aa)
Welsh
![jones2.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/68a98ed1-cd2b-41c1-af32-91080c0758cd)
Both
![jones3.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/99ebac45-ac84-4958-b069-dfee62a6c38a)

However the d

[2019-12-24 16:37] Captainkirkdawson opened #782 "Need to add language field to details display"
There is no language column in the details display
![No language.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/fd694525-1e1b-4326-aa14-8dc9e7796d93)

[2019-12-24 16:40] Captainkirkdawson opened #783 "You searched for does not include census place"
If you include a census place in the search. The place is not included in the You searched for display.
![No census place.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/81afbc59-c2c9-468c-bb89-d9973ea4732b)
We just refer to Place; should be census place
![add census.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/66a52493-f714-47ca-8100-9f3ab0c7fd4a)

[2019-12-24 17:27] Captainkirkdawson commented on #317
What you are seeing is an interplay between the way the search is conducted and the maximum number of results we process.
As indicated at the very outset when we discussed these additional search criteria. They act as filters on the results of a person search.
In other words the basic person search must produce less than 500 results BEFORE it attempts to filter those results to see if they satisfy

[2019-12-24 17:52] Captainkirkdawson commented on #317
An example of how to proceed. Step 1 conduct a search WITHOUT additional criteria that produces less than
500 results. Then add additional criteria to filter those results.
eg ALCOCK in the Yorkshire census produces 373 results.
Now you can explore those people for the additional criteria. eg 135 were married. 28 were widowed.
Of the total 30 had far in the occupation field (it is best to apply a

[2019-12-26 16:59] Captainkirkdawson commented on #780
It appears that the location field for places in CEN have NEVER been set. They all have the location [0,60] on both production, test3 and test2. The lat and lon are there but not the location field. The location field is the one used by nearby calculator. As a result ALL places in cen are in the same location!

[2019-12-26 18:37] Captainkirkdawson commented on #780
Further research shows that the problem lies much deeper than an unset location field which is relatively easy to fix (a one time rake rake and some code to ensure it is always present and created when new places added;  estimate of an 8)
The deeper issue is that there are 2815 places with data in cen production of which 351 have a latitude of "60" and 354 with a longitude of "0". ie the default v

[2019-12-26 19:03] Captainkirkdawson commented on #591
Do not understand what I am supposed to do with this. First name searches are permitted. But only for a specific census place. I see no way this can be relaxed other than permitting multiple places. But the user can easily do a couple of searches! The nearby feature would be useful here and is permitted but does not work.

[2019-12-26 19:42] Captainkirkdawson commented on #778
I am not sure why I am flagged to action this.

The Roadmap action in both REG and cen are sent to 'Roadmap' => '/cms/system-documents/development-roadmap',
It is up whomever to either put in the relevant comment or redirect  to the appropriate place

The refinery page of that name on REG redirects to the https://docs.google.com/document/d/1A8sEE7yAaT-2Y8rxWxunRT85BpwAkGaIQBEzVE6dNx8/edit#heading=

[2019-12-26 20:39] PatReynolds commented on #778
Sorry, Kirk, should have assigned @AlOneill

[2019-12-26 20:53] Captainkirkdawson commented on #91
This is easily done through a file  or piece of similar lock.

However the first set in moving forward with any of these actions is the assembly of a small team of coordinators/ coordinators/ transcribers who will drive forward the migration of Cen2 into a direct build system. No actions should be programmed until such a team exists to verify and validate the approaches.

[2019-12-26 21:00] Captainkirkdawson opened #784 "Assemble a small technical coordinator team to validate and drive the enhancement of Cen2 management"
We have many stories relating to the development of tools for coordinators and transcribers as well as document of help materials.
However in my opinion as a developer there needs to be a small 2 or 3 member team of coordinators whose role is to specify what is needed and evaluate any code developed. Without it much of the work could sit and be useless to anyone.

Team to include:

-  Data Manager

[2019-12-26 21:01] Captainkirkdawson commented on #721
Further feedback from coordinators is required to define next steps

[2019-12-26 21:28] Captainkirkdawson commented on #336
Done in 769

[2019-12-26 21:28] #336 closed

[2019-12-26 21:36] Captainkirkdawson commented on #214
Also as systemwide 119

[2019-12-26 21:40] #101 closed

[2019-12-26 21:42] Captainkirkdawson commented on #132
Implemented

[2019-12-26 21:42] #132 closed

[2019-12-26 21:42] Captainkirkdawson commented on #134
Implemented

[2019-12-26 21:42] #134 closed

[2019-12-26 21:43] #135 closed

[2019-12-26 22:39] Captainkirkdawson commented on #779
@PatReynolds have created a side ad for CRN; looking at its deployment

[2019-12-28 11:14] PatReynolds commented on #779
Looks good on test3 (and test2), thank you.

[2019-12-28 11:33] PatReynolds commented on #132
Is this live?  there and test3 it still says "Two letters must precede any wildcard in a surname."
test2 "You cannot use both wildcards and soundex in a search" (seached without county and place of census).

Search is for ?arshall Mary,  in Worksop, Nottinghamshire, all censuses.

[2019-12-28 20:17] Captainkirkdawson commented on #779
I am surprised at your comment @PatReynolds in my testing I only get one side ad and it changes to the other side on a refresh! still a work in progress
Also its delivering a smaller ad 120x600 although we are asking for 160x600.
Also it is set up to deliver the same ad likely should be different

[2019-12-28 21:41] Captainkirkdawson commented on #779
@PatReynolds Did some reading and found that advertisers prefer 300 width to 120 or 160; putting one of those wider instead of 2 narrower one seems better; the first ad with that was much more pleasing and there is better variety.
Its running on test 3 let me know what you think. I put it on the right but changing it to left is no issue

[2019-12-28 22:13] Captainkirkdawson commented on #132
@PatReynolds I closed because wildcard is there and has been for a very long time.
Wild card requires 2 leading characters and anything following is ignored. Wild card is * or ?
Wild card will never work with soundex. They are different concepts.
I note our help has NO mention on use of wildcard.
We had this discussion over on REG along time ago.
UCF and wildcard are in conflict and cannot be merg

[2019-12-29 17:27] PatReynolds commented on #132
Hi Kirk, I was just querying the different messages.  I guess test2 just uses an older form.
FreeCEN does not use UCF.

Expanded and changed title of  #588 to "Write Help for Wildcard"

[2019-12-29 18:17] Captainkirkdawson commented on #132
Sounds good; will leave closed.
Messages on test2/3 are same. Just depends on the situation and order of precedence  error detected.
There is a 3rd message. Must use place with wild card or words to that effect

[2019-12-29 18:23] Captainkirkdawson commented on #630
I doubt very much that we could ever go beyond a small number of places. The performance demand of a wildcard search is enormous.

[2019-12-29 19:13] Captainkirkdawson commented on #605
One of the first questions should be was Lanarkshire specified as a birth county or as a census county.

[2019-12-29 21:01] Captainkirkdawson commented on #663
On production with a total number of searches of 25,998 searches there were 13817 that were NOT a census search and 13686 that were NOT a birth county search and 8510 that did not include either. In other words birth and census county searches are essentially equal in number.

[2019-12-29 21:08] Captainkirkdawson commented on #648
Based on the statistics of usage where 50% of searches include only a birth_county the fact that we include indexes only for census counties must have a significant impact. We should replicate the indexes used for census county with birth county and adjust the hinting accordingly. Once that is done we should consider a dual chapman birth_chapman set of indices.
While doing so we should eliminate t

[2019-12-29 22:36] Captainkirkdawson opened #785 "Create birth county indices"
Also remove secondary search date

[2019-12-31 12:26] PatReynolds opened #786 "GAP Report: a list of Census records which do not exist"
The GAP is for management,  and to assist researchers
Census records which do not exist, e.g. were on a boat which sunk and table of census records that are available, but we do not have available to transcribe. Integrates with the RAP (census records available for transcritption) and DAP
See FreeUKGen/MyopicVicar#2040 for the FreeREG GAP - some elements should may be imported for FreeCEN
Census r

[2020-01-03 10:12] PatReynolds commented on #734
All good - except everything now shows Scottish Record Office.

[2020-01-05 23:29] AlOneill commented on #355
@PatReynolds The two PDF files for download in the "Fields" page are not with our files (the links both point to /system/resources/). The files are a list of Places and the instructions for searching them.

Do you have a copy of the PDF files? Or perhaps the links should point elsewhere?

[2020-01-06 16:50] PatReynolds commented on #355
Found I had to move the folder containing documents to the "shared drive" (formerly called "team drives" You should have an invite to that drive/folder. Please let me know if has all gone horribly wrong.

[2020-01-06 19:39] ShemJM commented on #734
That's not good....

[2020-01-06 22:52] AlOneill commented on #355
@PatReynolds Thank you. Found and downloaded.

[2020-01-06 23:00] Captainkirkdawson opened #787 "FreeCEN has no check for valid search record id and so red screen crashes"
Unlike FreeREG there are no checks for a valid search record id before doing a find with the provided id hence it does a red screen crash rather than being caught and returned to the search display.

E U

[2020-01-06 23:02] AlOneill commented on #377
Also propose that, as the Transcriber Help is not far behind, we hold back (just a little longer), and then publish the two together (with cross-references from Coord Help to Transcriber Help as working links, rather than promises.

[2020-01-06 23:49] Captainkirkdawson commented on #734
@ShemJM fixed. Deployed to test3

[2020-01-07 10:03] PatReynolds commented on #734
Tested and working fine (year issue and Scottish / not Scottish issue both resolved on test3).

[2020-01-07 10:04] PatReynolds commented on #377
Good idea, @AlOneill

[2020-01-08 16:31] PatReynolds commented on #778
This link should be available all, comment.  It is now on a shared drive, in a folder for publicly accessible documents for FreeCEN2.....
https://drive.google.com/open?id=1FNUijfW3586xE-m9W3U1gyxstSYwO7cD3jbqS9V33A8

[2020-01-08 16:39] PatReynolds opened #788 "Add acceptance of Security Policy to user profile"
Acceptance rules as for Transcription Agreement.

[2020-01-08 16:40] PatReynolds commented on #641
Policies all  now accessible on 'Free UK Genealogy Policies' button, so no new story made.
Story already exists to add to sign up - #745
New story made on addition to user profile #788

Task complete, so now closing.

[2020-01-08 16:40] #641 closed

[2020-01-08 17:20] PatReynolds commented on #317
Pat to write text for search box to make it clear that the Christmas Gifts are done to the records found on the basic search (including soundex) has found.  S

[2020-01-08 17:32] richpomfret commented on #780
Next steps - need a data manager. Also require Richard Light to assist.

[2020-01-08 17:34] richpomfret commented on #780
@Captainkirkdawson to remove this function too. Also require a notice to let folks know.

[2020-01-08 17:45] PatReynolds opened #789 "London 1871 Epic"
This is a sub-project to
get images (including fundraising)
recruit transcribers
publicise/promote
the London 1871 census

[2020-01-08 17:51] #663 closed

[2020-01-08 17:52] #736 closed

[2020-01-08 17:53] #738 closed

[2020-01-08 17:56] PatReynolds commented on #778
Pat to create roadmap page on Refinery (Development Roadmap), and put text on it and link to the google doc.

[2020-01-08 18:05] richpomfret commented on #784
Moved to in-progress to reflect discussions on this moving forward.

[2020-01-09 11:29] FreeUKGenIssues opened #790 "158430587 Unable to edit profile to update my Transcription Agreement status. (Ronald)"
Issue reported by **Semiloof** at 2020-01-08 16:29:47 UTC
Time: 2020-01-08T16:24:06+00:00
Session ID: 0c2351f65eb6e7838ee42752f086043c
Problem Page URL: [/manage_resources/new?locale=en](/manage_resources/new?locale=en)
Previous Page URL: [https://www.freecen.org.uk/manage_resources/new?locale=en](https://www.freecen.org.uk/manage_resources/new?locale=en)
Reported Issue:
When I login to FreeCen as

[2020-01-09 11:49] DeniseColbert commented on #784
Required:
[ ] - Data Manager
[ ] - Researcher Specialist
[ ] - Documentation
[ ] - 'Technical Coordinator' (?)

[2020-01-09 11:50] DeniseColbert commented on #784
Required:
[ ] - Data Manager
[ ] - Researcher Specialist
[ ] - Documentation
[ ] - 'Technical Coordinator' (?)

[2020-01-09 12:50] PatReynolds commented on #778
New page made on Test3, ready for review.

[2020-01-09 16:16] Captainkirkdawson commented on #790
Corrected; will be changed in the next deployment

[2020-01-09 17:03] Captainkirkdawson commented on #743
System of filters was developed as part of "the Christmas Present'. However it seems that is is likely to confuse people unless well explained.

[2020-01-09 17:05] Captainkirkdawson commented on #743
@PatReynolds wrote

I think we have two options, keep the Christmas Presents on the search page, or put them on the search results page.  Suggested placement/text:

Option 1, I suggest the following layout:

Move soundex and the search button up - maybe even into the main box.  Nearby places will go here, in due course.
Delete "Please read the help carefully (etc)"

Below the search button, and be

[2020-01-09 17:38] Captainkirkdawson commented on #743
@PatReynolds @richpomfret @DeniseColbert @AlOneill @Vino-S
I moved Pat's emailed comment into this story so that we can retain the discussion for the future.
As an aside note that REG also uses filters for family members and witnesses not direct search fields.

Moving these filters to the Results page would be a massive undertaking. Thay are designed to be applied to the base results at the time o

[2020-01-10 09:51] PatReynolds commented on #743
Thanks, Kirk.  Agreed, not on the detailed results page - far too much work for too little gain.
Agred, moving the soundex up is a great idea.

I am obviously missing something, as I don't understand how witnesses and family members on FreeREG can be fiilters (e.g. if I search for with an Alcock, are you saying that the search actually finds all the Alcocks, but filters out everyone but the baptis

[2020-01-10 15:54] DeniseColbert commented on #784
Converting this to epic, will make sub-stories for individual roles.

[2020-01-10 15:57] DeniseColbert opened #791 "Recruit Data Manager(s)"
Role Description in progress. Have asked EricB for more info on the role in FreeREG.

[2020-01-10 15:59] DeniseColbert commented on #784
Transcriptions Tools Specialist should be sourced from existing volunteers but the other three roles can be recruited externally. I'm working on the application process (forms, channels etc) to be able to capture the applicants from the huge response on Facebook. Will be able to move forward when all role descriptions are ready.

[2020-01-10 16:02] DeniseColbert opened #792 "Recruit Researcher Specialist(s)"
Role Description complete. Now working on Recruitment process. Awaiting completion of the other 3 roles  so all can be presented at once.

[2020-01-10 16:04] DeniseColbert opened #793 "Recruit Documentation volunteer(s)"
Role Description in progress. Will ask Kirk and Alison for their thoughts when first draft is complete.

[2020-01-10 16:05] DeniseColbert opened #794 "Recruit Transcriptions Specialist(s)"

[2020-01-10 16:40] Captainkirkdawson commented on #743
@PatReynolds  wrt
I am obviously missing something, as I don't understand how witnesses and family members on FreeREG can be filters (e.g. if I search for with an Alcock, are you saying that the search actually finds all the Alcocks, but filters out everyone but the baptised, married or buried person (a sort of negative filter?).
No we do not search for all the Alcocks and then filter out on the b

[2020-01-10 17:33] Captainkirkdawson commented on #792
Any chance of seeing these role descriptions?

[2020-01-12 18:39] PatReynolds commented on #743
Tahnks, Kirk, " If it is NOT set we filter out those results that are family members." is what I was trying to say.

[2020-01-12 19:40] Captainkirkdawson commented on #743
That is correct. **If it is NOT set we filter out those results that are family members.**
However the original comment introduced **but filters out everyone but the baptised, married or buried person** and that is not the case baptised, married or buried are search fields not filters.

Filters ALWAYS work as removals never additions. The search gives us the full set we wish to examine. Works just

[2020-01-13 11:13] DeniseColbert commented on #792
Shared Data Manager RD for your comments, and have given you access to the parent (FreeCEN) folder so you can see the others. Documentation Volunteer is in a very early draft stage.

[2020-01-14 14:54] DeniseColbert commented on #730
Is this still something for @dhousman to take a look at?

[2020-01-15 17:11] PatReynolds commented on #730
Yes, to proof, as per the instructions (may need to revise instructions, or the text).

[2020-01-17 12:43] AlOneill commented on #778
Reviewed: a couple of small changes to text plus layout to constrain the line-length for more comfortable reading on a wide screen.

[2020-01-17 17:06] PatReynolds commented on #538
Were not getting any £££ from Amazon (on FreeCEN1),  and do not appear to have any complaints, so suggest closing.

[2020-01-17 23:59] Captainkirkdawson commented on #743
Have moved the soundex option to the Person options. Have renamed the Final Search box to Filters and changed wording in its chapeau.
Created story for writing help materials #795
Deployed to test3

[2020-01-18 00:02] Captainkirkdawson opened #795 "Help for using filters"
Need to add a section in the Help on Using Filters

[2020-01-18 00:35] Captainkirkdawson commented on #795
Initial draft section written ready for @AlOneill to improve

[2020-01-20 22:08] Captainkirkdawson commented on #791
@DeniseColbert Made comments on the document

[2020-01-20 22:16] Captainkirkdawson commented on #792
@DeniseColbert added a comment to document

[2020-01-20 22:16] Captainkirkdawson commented on #793
@DeniseColbert that's a pretty good document

[2020-01-22 11:59] PatReynolds commented on #317
Current: These filters are applied to the results produced by the above search criteria. Please read the Help carefully BEFORE using the filters as their effectiveness varies according to the year of the census.

Suggest.  To use one or more of the filters below: first run the search (press the search button at the bottom.).  Thn press the 'Revise Search' button at the top of the results page, scr

[2020-01-22 12:03] PatReynolds commented on #757
Need to add to help: Disability search can sometimes give a "false positive" - when you check the details, there is a dash or some other entry in the disability field, rather than an indication of disability.

[2020-01-22 12:08] PatReynolds commented on #756
This now appears to work, however we don't show the result in the detailed results page (no Language column!), so cannot test thoroughly.

[2020-01-22 12:27] PatReynolds commented on #781
Working correctly
e.g.
This search will also select those individuals who were: SINGLE: had an occupation with starting with the following characters Coal:

Possible improvements (for discussion)

Maybe remove colon before type of filter, e.g.
This search will also select those individuals who were SINGLE: had an occupation with starting with the following characters Coal:

This search will also s

[2020-01-22 12:32] PatReynolds commented on #783
Birth county not being reported:

![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/2837c188-0d58-4b52-b9f7-3dc9edbb8b6f) (there was no census county selected for this search)

![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/508f35b8-a833-4220-a7ec-75f84a3be774)

When just census county, or both birth and census county, are selected, report works

[2020-01-22 12:34] PatReynolds commented on #790
Works fine.

[2020-01-22 12:35] PatReynolds commented on #778
Thank you all, that works fine!

[2020-01-22 17:22] PatReynolds commented on #730
Assigned to @dhousman .  Please let me know if you have any questions, David.

[2020-01-22 17:26] #538 closed

[2020-01-22 17:29] richpomfret commented on #784
Moving this back into EPICS as we now have substories for this 'in-progress'.

[2020-01-22 17:36] richpomfret commented on #702
@richpomfret nudge to check.

[2020-01-22 22:17] Captainkirkdawson commented on #783
Fixed

[2020-01-22 22:32] Captainkirkdawson commented on #756
There is supposed to be a language field in the detailed result for 1891 and Welsh Counties. However in my testing the field is NOT  present in the display

[2020-01-23 00:17] Captainkirkdawson commented on #781
Revisions were made and applied to test3; also being included in the release version. Future improvements can be made

[2020-01-23 00:19] Captainkirkdawson commented on #756
A bug was found in the code and corrected. Language is now in the detailed results for 1891  in counties for both Scotland and Wale. applied to test3

[2020-01-23 00:22] Captainkirkdawson commented on #782
This was a bug in the original code. Fixed

[2020-01-23 00:22] #782 closed, assigned to Captainkirkdawson

[2020-01-23 10:50] PatReynolds commented on #756
1891 now works fine for Welsh counties.

Issue with Scotland:
Search for MCDONALD, born Inverness-shire, resident in Caithness three results, two speaking both, one with a dash. But filtering by Both gets neither.

1861 is difficult see (Brenda's comments 10 Dec 2019) that Welsh was recorded "often written alongside the schedule number on the images but we enter it in column X." But this field has

[2020-01-23 12:18] PatReynolds opened #796 "Navigation buttons dissapear on previous/next dwelling"
Search finding
MCDONALD	Helen	Sister	U	F	14	General Servant Domestic	CAI	Latheron		B
(using language B) : moving to previous or next dwelling looses buttons for 'next record', 'back to results' 'refine rsearch' etc.  The same in an English 1871 search.

[2020-01-23 12:34] PatReynolds commented on #781
Working as expected, thank you.

[2020-01-23 15:05] DeniseColbert commented on #793
@AlOneill do you have any comments?

[2020-01-23 15:26] DeniseColbert commented on #791
@Captainkirkdawson could you look at the changes I've made?

[2020-01-23 15:40] DeniseColbert commented on #792
@PatReynolds Researcher form is in the folder ready for your review

[2020-01-23 15:42] DeniseColbert commented on #792
Thanks Kirk; I added your suggestion.

[2020-01-23 15:59] Captainkirkdawson commented on #509
closing as superseded by systemwide 112 and 115

[2020-01-23 15:59] #509 closed

[2020-01-23 16:24] PatReynolds commented on #792
Good, thank you, Denise.

[2020-01-23 21:02] Captainkirkdawson commented on #791
@DeniseColbert done

[2020-01-23 23:44] Captainkirkdawson commented on #796
Looks like we introduced a regression somewhere along the line. This is an urgent show stopper on release

[2020-01-24 10:29] PatReynolds commented on #796
May be unrelated, but on live looking at
(https://www.freecen.org.uk/search_records/5a153c30f4040b9d6e4c67cd : viewed 24 Jan 2020), Sarah ALCOCK in household of Thomas ALCOCK, Bennington Grange, Newark, Nottinghamshire, England; 1851

moving to second next dwelling generates a 404 error.  Maybe hit last record in piece?

[2020-01-24 14:28] FreecenBren commented on #796
If you do the same search in FreeCEN one you will find that the next but
one record relates to a missing schedule number but FC1 shows it and FC2
shows the error 404. I will look at the original  CSV and see why. We
recorded a Missing schedule of Zero. It could will be an empty dwelling but
will double check.
Why FC2 does nothing is out of my control but the CSV might give me a clue.
Will let you

[2020-01-24 18:36] helhyde commented on #796
Just tried with Agnes Austin, born 1840 - 1860, resident Horncastle,
Lincolnshire: moves forward, fine. Backwards 2 and #404 error.

.Same but resident Manchester, no problems four forewards or back.

[2020-01-24 19:03] Captainkirkdawson commented on #796
@PatReynolds your recent postings are for a very different issue

[2020-01-24 19:54] AlOneill commented on #793
@DeniseColbert Have made some comments/suggestions.

In the main, a good document.

[2020-01-24 20:25] AlOneill commented on #795
It might be better to take the example from a county that has been transcribed completely (unless I'm being far too literal about it all), otherwise the numbers will change as more pieces go online. Cornwall is the obvious choice (all years done, including 1881), or ?

[2020-01-24 20:39] Captainkirkdawson commented on #795
Personally I see nothing wrong with the example; sure things will change over time. The idea of an example is to convey the process of how to use the filter. I think it does that but you could have a better understanding of what confuses people. I think they will be totally confused without one.

[2020-01-24 20:58] AlOneill commented on #795
OK — I can make it work, with a couple of caveats for the reader. I agree that an example is invaluable.

As for what confuses people: many prefer a picture to words, especially if the idea of a filter is not familiar to them. So will probably add a couple of screenshots. Lots to think about …

[2020-01-25 03:43] Captainkirkdawson commented on #795
Look forward to the suggestions. Deployment has been placed on hold until then.

[2020-01-25 03:46] Captainkirkdawson commented on #796
Have developed a solution to the original issue. That fix deployed to test3
Have not the slightest idea on the issue behind the later comments. Will take a few days to assess.
Placed deployment on hold.

[2020-01-25 03:47] Captainkirkdawson commented on #756
No idea on this one.
Will research next week.
Have abandoned deployment

[2020-01-25 17:41] richpomfret commented on #702
@PatReynolds can you provide a link to the Systems page for me? Can't locate it on TEST3 to check - but the roadmap link should be this one - https://drive.google.com/open?id=1FNUijfW3586xE-m9W3U1gyxstSYwO7cD3jbqS9V33A8 (hate that it doesn't open in a new tab when accessed by the link in User profile!).

[2020-01-25 18:09] Captainkirkdawson commented on #796
@PatReynolds are you using the search record link given to you in a citation? if not how are you getting such a link?
There is an issue in production of displaying a link from a citation.
Applies to both REG and CEN. A fix was developed for REG over Christmas but has yet to be deployed to production. So the fix is apparent on test3. That fix would also apply to CEN.

Now you might not like the fix

[2020-01-26 23:16] AlOneill commented on #746
@PatReynolds The "Census location" section of the "Help", 2nd para, ends rather abruptly with:

"We use the exact names and spellings that were used in the Census records we transcribe.  For example, " [sic]

The 3rd para starts with"
"You may search in up to three specific counties, … "

Did the example not get pasted, or did you abandon it?

[2020-01-27 10:39] DeniseColbert commented on #794
Add 'Liaise with Brenda' to RD

[2020-01-27 10:39] DeniseColbert commented on #792
Add 'Liaise with Brenda' to RD

[2020-01-27 16:57] PatReynolds opened #797 "404 issue with missing schedule number"
From issue #796, mistakenly placed there - following is not associated with that problem

On 24 Jan 2020 Pat Reynolds wrote:
May be unrelated[it was!], but on live looking at
(https://www.freecen.org.uk/search_records/5a153c30f4040b9d6e4c67cd : viewed 24 Jan 2020), Sarah ALCOCK in household of Thomas ALCOCK, Bennington Grange, Newark, Nottinghamshire, England; 1851
moving to second next dwelling g

[2020-01-27 17:42] richpomfret commented on #795
@AlOneill are we close with this one or can Pat & I help? We will aim to deploy tomorrow evening (28/01/20).

[2020-01-27 18:00] AlOneill commented on #795
I will do my best to have something more friendly ready for tomorrow evening — though it may need further work at some point.

Also depends on getting an answer on the changes to "Census location" section of "Help" — the Newark issue #746 (both being edited together).

[2020-01-27 18:09] richpomfret opened #798 "Only show search filters when a user selects 'revise' search"
Users are advised (in 'help') not to select filters until they have already run an initial search - this begs the question, why are filters available to use beforehand if they will not function correctly?

This story therefore suggests that we include these search filters on the revised search page and, perhaps only IF there are enough results. The latter would need to be clearly conveyed, or perh

[2020-01-27 18:50] Captainkirkdawson commented on #797
Crash is caused by line 105 in
https://github.com/FreeUKGen/MyopicVicar/blob/master/app/controllers/search_records_controller.rb#L101-L106
NoMethodError (undefined method `[]' for nil:NilClass):
@family_head_name = @dwelling.freecen_individuals.asc(:sequence_in_household).first['forenames'] + " " + @dwelling.freecen_individuals.asc(:sequence_in_household).first['surname']
 {"dwel"=>"590396d9e93790

[2020-01-27 19:11] Captainkirkdawson commented on #797
Dwelling exists
"_id" : ObjectId("590396d9e9379091b14d5252"),
        "deleted_flag" : null,
        "dwelling_number" : 60,
        "civil_parish" : "Horncastle",
        "ecclesiastical_parish" : "Horncastle",
        "enumeration_district" : "1",
        "folio_number" : "10",
        "page_number" : 13,
        "schedule_number" : "0",
        "house_number" : null,
        "house_or_street_na

[2020-01-27 22:58] AlOneill commented on #795
@Captainkirkdawson Are we still showing language results for only 1891? It was recorded in other years too (the details will be with the issue that explored the field).

Are there plans to show the other years too?

[2020-01-28 00:39] Captainkirkdawson commented on #795
@AlOneill Not at this point. Too much uncertainty. Will be addressed in a future revision

[2020-01-28 01:16] dhousman commented on #730
OK @PatReynolds I am looking at refinery and the help page, but I don't see what this task is describing. From the description, it sounds like he's talking about a search result page. I checked the pages in refinery, and I can't figure out what is generating the search/search result page. Can you tell me where i should be looking?

[2020-01-28 14:54] DeniseColbert commented on #730
@PatReynolds I answered David's query above in our Meet.

[2020-01-28 14:56] AlOneill commented on #795
@PatReynolds @richpomfret @Captainkirkdawson
The draft Help page is ready for review. As well as the new section on Filters, it includes the updates to "Census location" — Newark and the withdrawal of "Nearby places".

I will make the page ready for syncing once the changes are approved.

[2020-01-28 16:14] Captainkirkdawson commented on #795
@AlOneill I have no concerns with amended text

[2020-01-28 16:43] AlOneill commented on #746
@PatReynolds Have made the assumption that the trailing sentence in the 2nd para was an oversight and deleted it.

There were 3 separate updates to this page, and the section on Filters is urgent, so had to act fast — there are still a few hrs to correct it if my assumption was wrong.

[2020-01-28 18:21] DeniseColbert commented on #730
@dhousman could you hold off on adding the text in test3 Help page until after next Weds Scrum, please? There's a lot of changes being made to the Help and it seems we may not be ready for this one just yet. We can update you in the Scrum if you are able to join us.

[2020-01-28 18:33] AlOneill commented on #795
Page ready for sync.

[2020-01-28 18:54] Captainkirkdawson commented on #795
@AlOneill TY

[2020-01-28 23:08] Captainkirkdawson commented on #797
Fix deployed to test3

[2020-01-29 09:17] PatReynolds commented on #797
Fix works perfectly, thank you @Captainkirkdawson

[2020-01-29 10:48] PatReynolds commented on #746
UPDATED Comment: I thought this was on Filtering not "the Newark issue".  That is fine, thank you.

[2020-01-30 23:30] Captainkirkdawson commented on #317
Deployed

[2020-01-30 23:30] #317 closed

[2020-01-30 23:30] Captainkirkdawson commented on #781
deployed

[2020-01-30 23:30] #781 closed, assigned to Captainkirkdawson, PatReynolds

[2020-01-30 23:31] Captainkirkdawson commented on #755
Deployed

[2020-01-30 23:31] #755 closed

[2020-01-30 23:31] Captainkirkdawson commented on #769
deployed

[2020-01-30 23:31] #769 closed

[2020-01-30 23:31] Captainkirkdawson commented on #757
deployed

[2020-01-30 23:32] #757 closed

[2020-01-30 23:32] Captainkirkdawson commented on #756
Deployed

[2020-01-30 23:32] #756 closed

[2020-01-30 23:32] Captainkirkdawson commented on #685
deployed

[2020-01-30 23:32] #685 closed

[2020-01-30 23:32] Captainkirkdawson commented on #734
deployed

[2020-01-30 23:32] #734 closed

[2020-01-30 23:33] Captainkirkdawson commented on #790
deployed

[2020-01-30 23:33] #790 closed, assigned to nobody

[2020-01-30 23:33] Captainkirkdawson commented on #778
deployed

[2020-01-30 23:33] #778 closed, assigned to PatReynolds, AlOneill, DeniseColbert

[2020-01-30 23:33] Captainkirkdawson commented on #779
Deployed

[2020-01-30 23:33] #779 closed, assigned to Captainkirkdawson

[2020-01-30 23:34] Captainkirkdawson commented on #783
deployed

[2020-01-30 23:34] #783 closed, assigned to Captainkirkdawson

[2020-01-30 23:34] Captainkirkdawson commented on #795
deployed

[2020-01-30 23:34] #795 closed, assigned to AlOneill

[2020-01-30 23:34] Captainkirkdawson commented on #797
deployed

[2020-01-30 23:34] #797 closed, assigned to Captainkirkdawson

[2020-01-30 23:35] Captainkirkdawson commented on #796
deployed

[2020-01-30 23:35] #796 closed, assigned to Captainkirkdawson

[2020-01-31 10:59] PatReynolds commented on #798
Already discussed - cannot now find the issue on Filters, but it is documented. there.

[2020-01-31 11:04] PatReynolds commented on #730
Hi @dhousman  Run a search, and then move from the detailed results page to the 'next dwell'ing' (or 'previous dwelling' and you will see that the citation generator does not function.  Please let me know if the draft help doesn't make sense.

[2020-01-31 11:45] PatReynolds opened #799 "The Sources Epic"

[2020-01-31 12:58] AlOneill commented on #798
Accessibility could be an issue here, both visually (contrast ratio) and otherwise, if 'greyed out' filter options are shown.

[2020-02-02 21:41] Captainkirkdawson commented on #798
Not convinced this is really required. If one has established the search criteria then to go straight to the use of a filter makes sense

[2020-02-03 15:33] AlOneill commented on #377
@PatReynolds Ready for Review  (as are the 3 initial Transcriber Help pages).

Will remove DRAFT and otherwise get ready for sync once approved.

[2020-02-03 15:36] AlOneill commented on #355
@PatReynolds Ready for Review  — the 3 initial Transcriber Help pages (together with Info for Coords).

Will remove DRAFT and otherwise get ready for sync once they are approved.

[2020-02-03 17:59] PatReynolds commented on #355
@Captainkirkdawson current text on bugs (information for transcribers, main page) is:
If the message is about a bug or system failure, ask your Syndicate Coordinator (SC) to trouble-shoot for you. And try to replicate the problem. Remember to include details of your system, what you were doing, screen shots, etc. SCs can use Contact us, if necessary.

Should that be changed to
If the message is ab

[2020-02-03 18:06] PatReynolds commented on #355
On "the spreadsheet fields" links to appendices do not work.  I'm not sure if they _will_ work, on live, or whether they should be removed (or inactivated and some kind of note added about being 'forthcoming'.

Otherwise, this page is good to go.

[2020-02-03 18:10] PatReynolds commented on #355
Abbreviations page is ready for release, thank you for all, @AlOneill

[2020-02-03 18:15] Captainkirkdawson commented on #355
@PatReynolds re your question to me. That is much better

[2020-02-04 10:08] PatReynolds commented on #377
Good to go.  Thank you, @AlOneill

[2020-02-04 11:45] PatReynolds commented on #702
Removed link to roadmap and "This link provides further information for FreeCEN volunteers." as these links are now from the top level of 'actions'.

Placed 'reasons for the change below the link to systems folder, as seems of lesser priority.

For review on test3 refinery: DRAFT Systems Documentation.

[2020-02-04 12:25] PatReynolds commented on #572
Haveing successfully changed our  password, Amazon now denies we have an affiliate account.

Therefore have begun to set up Blackwells as an advertiser for this slot (longer term we were planning to use them on FUG.org.uk to advertise individual books, alongside using Worldcate). Not sure what category to sign up for, so emailed them 4/2/2020.

[2020-02-04 14:51] AlOneill commented on #355
@PatReynolds Yes, the links will work once 'draft' has been removed from page name.

Will replace text on Info page with the shorter (2nd) version.

[2020-02-04 15:21] AlOneill commented on #355
There are some issues with the heading of the Feedback form: the logo colours are not correct; the logo is clipped top and bottom, which does not look good.

![FreeCEN2_Feedback](https://user-images.githubusercontent.com/14852554/73757793-aabaf380-4761-11ea-9e1c-b4d6af506b9f.png)

Maybe these are being addressed elsewhere? If not, then we need to open an issue.

[2020-02-04 16:02] Captainkirkdawson commented on #355
@AlOneill there is story systemwide for this Implement new colours (inc. logos) on print materials#69 You were assigned

[2020-02-04 16:12] AlOneill commented on #355
@Captainkirkdawson TY, but don't think an online form counts as "print" materials.

[2020-02-04 16:17] Captainkirkdawson commented on #355
In which case @AlOneill how about Update revised logos#85 then we can use the updated scss

[2020-02-05 00:18] AlOneill commented on #355
@Captainkirkdawson If the logo used was the *current* one, then at least the colours would be correct. The further updating of the logo will have to wait.

[2020-02-05 00:23] AlOneill commented on #377
"Info for coords" is sync-ready, as are the accompanying 3 pages for Transcribers.

[2020-02-05 10:05] PatReynolds opened #800 "Download missing census pieces at the TNA"

[2020-02-05 10:06] PatReynolds opened #801 "Contact the Clwyd Family History Society about Wrexham 1841 Census"
"The 1841 census returns for the whole registration district of Wrexham, Denbighshire, were believed to be missing. However, the original enumeration books for the town of Wrexham were discovered in a bookshop, and are now deposited in the Denbighshire Archives. An indexed transcript has been published by the Clwyd Family History Society, and a copy is available at The National Archives." (from th

[2020-02-05 10:26] DeniseColbert commented on #355
I've updated the logo

[2020-02-05 11:40] PatReynolds commented on #165
Checked with Brenda 5/2/2020.

[2020-02-05 11:54] PatReynolds opened #802 "Search by age at census (in addition to birth range)"

[2020-02-05 12:00] PatReynolds commented on #802
Added as part of the "Add essential features (phase 1)" epic, but no individual story.

[2020-02-05 12:22] #700 closed

[2020-02-05 12:22] PatReynolds commented on #700
Completed, so closing

[2020-02-05 12:22] PatReynolds commented on #329
Completed, so closing.

[2020-02-05 12:22] #329 closed

[2020-02-05 12:29] PatReynolds commented on #458
Agreed, duplicate so closing.

[2020-02-05 12:29] #458 closed

[2020-02-05 12:34] PatReynolds commented on #295
Done (on another story), so closing.

[2020-02-05 12:34] #295 closed

[2020-02-05 12:36] PatReynolds commented on #590
Still needed?

[2020-02-05 15:07] AlOneill commented on #355
@DeniseColbert Many thanks! You have fixed both issues with the logo.

[2020-02-05 15:18] DeniseColbert commented on #355
Google used to have it so that the form obscured half of the cover image but the recent update fixed the issue. Looks much better now!

[2020-02-05 16:48] PatReynolds commented on #572
Signed up for Blackwells 5/2/2020, awaiting approval.

[2020-02-05 17:17] PatReynolds commented on #730
@dhousman, Alison is going to make a new DRAFT which you can copy and edit, as she is bringing over some code from FreeREG and wants you to work on that, rather than the existing page.

[2020-02-05 17:18] richpomfret commented on #746
Now done and deployed so closing.

[2020-02-05 17:18] #746 closed

[2020-02-05 17:25] richpomfret commented on #590
@DeniseColbert to note recent update in FC2 feedback form. Newspost a month ago also helped with this in terms of communicating recent changes.

[2020-02-05 17:36] PatReynolds commented on #165
@Captainkirkdawson to get distinct entries (as done for Unique names) of each field.

[2020-02-05 17:50] #258 closed

[2020-02-05 18:15] PatReynolds commented on #800
E5 U3 S9 C4: P21

[2020-02-06 01:40] Captainkirkdawson commented on #165
Wrote the rale task. Ran on test3. Results were interesting. County information follows
Birth County 294 values
["ABD", "OUC", "UNK", "IRL", "ENG", "BAN", "KCD", "ANS", "OVF", "WAL", "OVB", "NAI", "ARL", "FIF", "NFK", "ELN", "MLN", "MOR", "WIG", "PER", "LKS", "INV", "ROC", "RFW", "SUT", "AYR", "OKI", "STI", "IOM", "KEN", "ROX", "CLK", "IOW", "KKD", "MDX", "CAI", "DFS", "GLS", "BEW", "TYR", "WIC",

[2020-02-06 01:46] Captainkirkdawson commented on #165
The birth place results are also interesting. Will not give the arrays as they are too large. I have them if someone wants them.
Birth Place 388,033 values
Verbatim Birth Place 468,433 values
Birth Place NOT in Verbatim Birth Place 5,644 values
Verbatim Birth Place NOT in Birth Place 86,044 values
If it was of value we could break these latter numbers down by county

[2020-02-06 05:00] Captainkirkdawson opened #803 "Investigate the quality of the birth chapman code field."
Work on story 165 has revealed serious questions about the quality of the Birth Chapman Code field

[2020-02-06 05:00] Captainkirkdawson opened #804 "Data Quality Assessment and issue identification"

[2020-02-06 10:21] PatReynolds commented on #165
Do abbreviations (such as Mkt for Market,  Gt. for Great and Lwr for Lower typically occur in the Birth place or the Verbatim Birth Place)?

[2020-02-06 12:50] PatReynolds opened #805 "Inconsistent use of 'Census Place'"
FC1 shows Worksop as a Census Place in 1841 (results), when it should show Bassetlaw, if Census Place = District.

I don't see the issue (yet) so while I remember what I was doing and have the screen shots:
Worksop, Notts, is down on both as not being a census place for 1841 (although we have all the others).  So in an attempt to find out which Census Place it was in, in 1841, I searched FreeCEN1

[2020-02-06 14:49] DeniseColbert commented on #590
Added new features to form, and updated news post with them too. Closing.

[2020-02-06 14:49] #590 closed

[2020-02-06 16:31] FreecenBren commented on #805
The reason is because in 1841 Worksop was in the Bassetlaw Parish
If you look at the Stats page at you will see how the NA organised them as

https://freecen1.freecen.org.uk/coverage-NTT.html#1841

By selecting Bassetlaw then you would get 55 results in FC2.

FC1 lets you select 1841 Census but also lets you select Worksop as the
Census Place by typing in the name WORKSOP  and not selecting it fro

[2020-02-06 16:42] PatReynolds commented on #805
Hi Brenda,

The FreeCEN1 results show Worksop, not Bassetlaw, as the Census place (I expected to see Bassettlaw, but that's not what FC1 is showing me.

Is 'Census Place' on FC1 the sub-district, and on FC2 the district?

[2020-02-06 16:44] PatReynolds commented on #798
Now I understand that if one knows a search will return 200 or so records, one can go straight to filtering, the accessibility issue means that we should not grey out.

[2020-02-06 16:55] FreecenBren commented on #805
Worksop in the 1841 census is under Bassetlaw if you look at the Stats page.
I only gave you the link to FC1 Statistics page to show you what the PARMS
has.
FC2 Stats page says the same as they are both derived from the PARMS file.
I just happen to have that link open on my iPad from FC1.
Shows the same herewith
https://www.freecen.org.uk/freecen_coverage/NTT

Not sure what you mean by the last bi

[2020-02-06 17:00] Captainkirkdawson commented on #798
Perhaps need a comment in the help to make that clear.

[2020-02-06 17:38] Captainkirkdawson commented on #165
@PatReynolds not sure of the purpose in your question but the answers are
Mkt Birth ;63 Verbatim 85; in birth but NOT verbatim 1; in verbatim but NOT birth 23
Gt. Birth ;191 Verbatim 236; in birth but NOT verbatim 1; in verbatim but NOT birth 46
Gt Birth ;647 Verbatim 821; in birth but NOT verbatim 2; in verbatim but NOT birth 176
Lwr Birth ;43 Verbatim 47; in birth but NOT verbatim 3; in verbatim

[2020-02-06 19:00] AlOneill commented on #798
@PatReynolds @Captainkirkdawson  Have appended the following to the first para:

"You may already have made such a search and want to explore the results more easily — there is no need to run the search again before you apply any of the filters — simply set up your successful search, adding any filters that you wish."

[2020-02-06 20:40] Captainkirkdawson commented on #798
I would prefer something along the lines of
If you know that your search will generate a useful number of results then you may apply filters directly to the search.

[2020-02-06 22:22] AlOneill commented on #798
@Captainkirkdawson I agree that your suggestion is more compact than mine (!), but am uneasy about how an ordinary user will understand "apply filters directly" … will think on.

Have either of us properly addressed the misunderstanding expressed in the scrum? I'm not sure. I look forward to @PatReynolds take on our efforts.

[2020-02-06 22:33] Captainkirkdawson commented on #798
Difficult to say as I had no misunderstanding just in creating them. How about
If you know that a previous search has generated a useful number of results then you may include the filters when entering that search in the future. i.e. you do not need to go through the revising a search process

[2020-02-07 10:18] PatReynolds opened #806 "Add other Census years on to FreeCEN"
We now have data from 1901, Somerset.

An attempt to load this to FC1 failed, as it is only set up for 1841-1891.

For discussion on 19th Feb: is it worth changing on FC1, or better to wait for FC2 direct upload?  Costs/timescales will help to inform choice.

[2020-02-08 14:25] PatReynolds commented on #728
Needs discussion by @PatReynolds @richpomfret  @Captainkirkdawson and @Vino-S on actions needed to adapt multimodal ingestion of batches for FreeCEN.  Possibley on 10th Feb, after Systemwide, if all available.

[2020-02-09 16:23] PatReynolds commented on #572
Account approved, advert selected and sent to Vino for inclusion in FreeCEN1 in place of the Amazon Advert.

Should we also replace the Adsense advert at the bottom of FreeCEN2 search page?

[2020-02-10 18:03] richpomfret commented on #728
@Vino-S can we look to identify key tasks involved in updating the FC DB and how we might do this directly into FC2? Do we convert VLD files into CSV? Can we use the FR tools/modify them to use a similar process? What about validation tools? etc.

[2020-02-10 18:09] richpomfret commented on #728
@Captainkirkdawson to send @PatReynolds a list of steps/validation rules for FR.

[2020-02-12 15:39] Captainkirkdawson opened #807 "Amending PARMS"
On Tue, 11 Feb 2020, 10:46 , brenda. wrote:
![image002.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/c0ba10e6-98a1-47a9-a518-23eb16e3dcbc)
I am sorting out issues with the PARMS but came across this one.

When you do an update from FC1 for an amended PARMS it replaces the current one and you can see the amended one in FreeCEN One on the STATS page link.

example https://freece

[2020-02-12 15:42] Captainkirkdawson commented on #728
Converted into an epic

[2020-02-12 16:01] Captainkirkdawson commented on #728
An old document on process is contained in
https://docs.google.com/document/d/1poYSNWPjjaIH631BIHdRNnbZpw0HpGAE4ZmfzkjtEsk/edit?ts=5e41a415

[2020-02-12 16:06] Captainkirkdawson commented on #728
@vino can you either point me to a document on the FreeCEN2 update process you currently use or write such a short document.
@lemon-ukgen can you either point me to a document on the FreeCEN1 update process you currently use or write such a short document.
@lemon-ukgen can you point me to a document on what steps you do to prepare for the update of FreeCEN2. Can you create is one does not exist.
W

[2020-02-12 23:46] lemon-ukgen commented on #728
The FreeCEN1 database update process -- such that it is -- is in CVS at `UKGEN-FreeCEN/README`. You can read it on vervet at `~lemon/work/UKGEN-FreeCEN/README` if you don't have a checkout handy.

@Captainkirkdawson about your second request - the only updating I have ever done on FreeCEN2 is my hand in the `update-freecen2` script to update the code. I haven't ever touched the FreeCEN2 data, so I

[2020-02-13 00:08] lemon-ukgen commented on #728
Having read the linked document I think you'll find my `README` a little unsatisfactory, since it doesn't really help explain what happens with these `VLD` files.

The part of the process I've been involved in is getting the new/updated `VLD`s from Dropbox and into the FreeCEN1 filesystem so the build (via `make all`) can proceed. The backstory is that the Dropbox route came about because the prev

[2020-02-17 10:47] PatReynolds opened #808 "Replace link to FreeCEN1 on search page"
The link was lost recently, and needs replacing. Brenda has had complaints.

[2020-02-17 16:13] Captainkirkdawson commented on #808
The automatic update removes the message. Must remember to add back in after an update.

[2020-02-17 16:30] Captainkirkdawson opened #809 "UCF results need to be filtered by record type if included in search params"

[2020-02-17 16:31] Captainkirkdawson opened #810 "UCF results need to be filtered by date if they are in search params"

[2020-02-17 17:17] AlOneill commented on #809
A little puzzled by this as CEN does not use UCF. What am I missing?

[2020-02-17 17:30] #810 closed, assigned to nobody

[2020-02-17 17:30] Captainkirkdawson commented on #810
Issue moved to [FreeUKGen/FreeUKRegProductIssues #1278](https://github.com/FreeUKGen/FreeUKRegProductIssues/issues/1278) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-17 17:30] Captainkirkdawson commented on #809
Issue moved to [FreeUKGen/FreeUKRegProductIssues #1279](https://github.com/FreeUKGen/FreeUKRegProductIssues/issues/1279) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-17 17:30] #809 closed, assigned to nobody

[2020-02-17 17:39] PatReynolds commented on #396
To discuss whether this issue is still live.

[2020-02-18 12:03] PatReynolds commented on #165
Thanks, Kirk, that's useful (verbatim is confirmed as the TWYS field).
I' can't open a .log file, unfortunately.
I think that the development of a new validation tool (and new list of approved places) would resolve the St Ann.
The answer for St Ann to be no:
![image](https://user-images.githubusercontent.com/6338822/74734125-d7810780-5245-11ea-983d-6ac9b05cbdcd.png)
(but if this is where someone s

[2020-02-18 16:38] FreecenBren commented on #165
Please note. If we want to be correct.
Many people live in St Ann’s ( Prince Harry should know as he often visits)
Also I went to school there as well.

St Ann’s is in Nottingham  and has always been St Ann’s. (With an ‘s’)
St Ann's is a large district of the city of Nottingham, in the English
ceremonial county of Nottinghamshire.
The development of the St Ann's actually began as early as 1750 whe

[2020-02-18 18:19] Captainkirkdawson opened #811 "Missing adverts"
The detailed results page does not show adverts even though they advert code is correct.![advert missing.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/a5660be8-05ae-4b6d-b5ad-b41b9ead081d)
![advert missing1.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/2e6068ce-68ca-4b84-93e8-c47d79991c3c)

[2020-02-18 20:36] Captainkirkdawson commented on #728
List sent of validations for FR sent to @PatReynolds

[2020-02-18 22:50] Captainkirkdawson commented on #728
Thank you @lemon-ukgen; as you say the README is as clear as mud
After lots of digging I have come to the conclusion my understanding of CEN, its structure and processing is sufficient that any suggestions I might make are likely to be highly dangerous and likely inappropriate.
It also seems that everything revolves around Brenda and is unlikely to function without her and her brain is the documen

[2020-02-19 09:25] PatReynolds commented on #770
Field Y is field :notes, type: String

[2020-02-19 10:07] FreecenBren commented on #728
Hi Kirk,
Many thanks.
I was ok at the start but got confused when I hit this sentence as the VLD
is the final stage  that Lemon uploads so not sure what COORDS would
transfer?
Possible typo?

*Furthermore it is possible to envisage on-line processes whereby
transcribers would upload vld files. Coordinators could transfer these to
proofreaders /checkers*

Anyway, my penny worth for what it is worth

[2020-02-19 11:49] helhyde commented on #811
I have checked the account and nothing seems to have changed or be wrongly
configured.

I'm not seeing and advert displaced on either slot on detailed results (but
they are on results).

I've set the AdBalance back to 100% to see if that makes a difference.

Best wishes,

Pat

[2020-02-19 16:01] Captainkirkdawson commented on #811
I believe the problem is in our js code. What I know not

[2020-02-19 16:15] Captainkirkdawson commented on #728
@FreecenBren That you there were lots of very useful stuff in your notes which helps in my education if nothing more.
You mention FCTOOLS ; the extentent of mu knowledge is such that I have never heard the term before. What is it? What does it do? Who uses it? Why do they need it?.

[2020-02-19 16:34] Captainkirkdawson commented on #728
You also mention CHE and DAT and other bits and pieces that again mean nothing to me but are clearly of great importance to the current process but I have to ask myself are they or should they be relevant to the operation of CEN2. Also could someone point me to Rick Parsons if that is appropriate.
Seems to me there is a great deal of packaging and repackaging and transmitting data around that coul

[2020-02-19 17:11] richpomfret commented on #808
Done, so closing.

[2020-02-19 17:11] #808 closed, assigned to nobody

[2020-02-19 17:12] #396 closed

[2020-02-19 17:19] richpomfret commented on #798
@AlOneill to amend text with above suggestion.

[2020-02-19 17:20] #391 closed

[2020-02-19 17:40] richpomfret commented on #580
@richpomfret To check and see if it is still open or not.

[2020-02-19 17:42] richpomfret commented on #811
@richpomfret to take a look/test cookie toggle (see if this effects it at all).

[2020-02-19 17:44] richpomfret commented on #811
@Vino-S can you see if you spot anything in the JS code that might be causing this?

[2020-02-19 17:56] richpomfret commented on #806
Wait for FC2 direct upload. Can use this as a test case for direct upload. @AlOneill to send example to Pat and @PatReynolds to then discuss this with Brenda.

[2020-02-19 18:06] Captainkirkdawson commented on #728
Note by Doug
https://docs.google.com/document/d/1GvZLE1MbY_WkV-ciP9lM7-JJKe4sd7vmjQjI2WQNAEA/edit?ts=5e4d74f5

Fctools
https://west-penwith.org.uk/fctools/

![cen_transcriber_file_names.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/506aa05e-0439-478a-ab72-39d6a005499e)

[2020-02-19 20:48] Captainkirkdawson commented on #803
@richpomfret @FreecenBren
This was initial reported under story 165 Place for test3 an older database.
So I have repeated it on brazza for the production system.
The results are frightening.
Producing report of the unique field names
Birth County 685 values
["\u0000\u0000\u0000", "ABD", "AGY", "ALD", "AMT", "ANH", "ANL", "ANS", "ANT", "ARL", "ARM", "ASk", "ASw", "AYR", "BAN", "BCa", "BCh", "BDF",

[2020-02-19 21:03] Captainkirkdawson opened #812 "Data Quality for Birth Place and Verbatim Birth"
A report on what is contained in production in total and by chapman is available at the following link
https://drive.google.com/drive/u/1/folders/1MQdWRjfwq7PUlWezwdoVzYPWbE5jvN5h

[2020-02-19 21:04] Captainkirkdawson commented on #812
It indicates that most "fake" chapman codes are single place entries

[2020-02-19 22:24] Captainkirkdawson commented on #812
These results show some of the same issues we faced with the move from reg to reg2 a decade ago. Considerable variety in place and church name spelling. This was why we introduced control over Place and Church name spelling.
It took nearly 3 years of pain and complaints about work and TWYS but the end result is a consistent database with quality data that is comparable and meaningful. Those field

[2020-02-19 22:30] Captainkirkdawson commented on #803
Clearly we need a systematic correction? There are only 155 Valid Chapman Codes for CEN.
It would appear that the process noted by @FreecenBren last June in the places story lets through errors

_The Chapman Code is added at the Transcription CSV stage by the transcriber
from the Census images.
It therefore goes through all the stages and into the final VLD.

If any CHP is not from the accepted li

[2020-02-19 23:18] Captainkirkdawson commented on #165
Am experimenting with text indexes on the birth_place field. Very interesting.

An example of those picked up by the first st ann
 "_id" : ObjectId("5904473ce9379091b1e97ca8"),
        "birth_county" : "NTT",
        "birth_place" : "St Ann's",
        "verbatim_birth_county" : "NTT",
        "verbatim_birth_place" : "St Ann's"
}
{
        "_id" : ObjectId("5904473ae9379091b1e97987"),
        "bir

[2020-02-19 23:45] Captainkirkdawson commented on #165
Just tested FC1 and ONLY the first word of the entry typed into the birth place field is matched. We can do better than that with the text index
In fact I wonder what it really does; If St Ann is entered for Nottinghamshire one gets primarily Sutton
West in Nottinghamshire gives 1 West and 1 Wistow yet a search for weston gives a number of entries for
West Markham. Will not pursue FC1 any further

[2020-02-20 00:59] FreecenBren commented on #803
A good example of this is in the current FC1 Errors page for the last  FC1
update

https://freecen1.freecen.org.uk/errors.html
The amendment has been done and will be added to Lemons amended folder  for
the next update. The 1851 census Piece number is GLS Piece  Number HO511972

It can also be seen at the FC2 errors page at (Last 2 on list)
https://www.freecen.org.uk/freecen_errors

**************

[2020-02-20 10:08] PatReynolds commented on #803
@Captainkirkdawson when you say "In FC1 there must be a check for it to throw out the error._" aboce, I think you mean on FC2. I would place the check at the level of Transcriber, as it will never be a matter of interpretation / difficulty reading the original.

[2020-02-20 10:19] PatReynolds commented on #812
@FreecenBren @geoffj-FUG - the results of following what @Captainkirkdawson suggests are very good - searches find what they are meant to, and additional features that depend on consistence are now in place. Communication to volunteers about this would need to be planned - happy for us in the support team to take this on (if you would not want to).  What do you think of Kirk's proposal?

[2020-02-20 19:13] Captainkirkdawson commented on #728
@FreecenBren Brenda @geoffj-FUG. I now fully understand why the following paragraph caused Brenda such confusion
_Furthermore it is possible to envisage on-line processes whereby transcribers would upload vld files. Coordinators could transfer these to proofreaders /checkers. Those people could either download or online review the file and make editing changes. If done online then they could be fl

[2020-02-20 20:13] FreecenBren commented on #728
Hi Kirk,
Very good.

The part I have underlined at the bottom needs replacing with the following.
 There are only the 3 Stages.

1 Transcriber
2 Proof Reader (was called a Checker)
3 Validator (and uploader for want of a better word)

“*The Proof reader informs the Coordinator that the file is ready for
Validating. *
*The coordinator assigns a Validator (Often the COORD or one of their
trusted hel

[2020-02-20 20:35] Captainkirkdawson commented on #728
Revised process reflecting Brenda's comments;
A transcriber receives an assignment from their coordinator and prepares a csv file using spreadsheet software following currently established practices. The transcribers uploads their csv file to CEN2 when ready. They will receive a report from CEN2 somewhat along the lines of that produced by CSVCHECK. The transcriber corrects their csv file on their

[2020-02-20 20:48] Captainkirkdawson commented on #728
Transcriber, checkers and validators can upload and replace their CSV files.#121 identified.
Automated processing and checking of uploaded CSV file#116

[2020-02-20 21:05] Captainkirkdawson opened #813 "Adjust syndicate message system to accommodate work flow management between transcribers, checkers, validators and coordinators"
Transcribers inform their coordinator when the csv file is ready for proofreading. The coordinator assigns a proof reader to review the file.
The coordinator assigns a proof reader to review the file.
The proof reader informs the Coordinator that the file is ready for validation.
The coordinator assigns a validator (Often the Coordinator themselves or one of their
trusted helpers that the Coordina

[2020-02-20 21:08] Captainkirkdawson opened #814 "Coordinator can release a csv file to be processed into the CEN2 database"
At that point the Coordinator does any final validations and when satisfied indicates to CEN2 that the csv file can be processed into the database.

[2020-02-20 22:00] FreecenBren commented on #812
Hi

The only thing that bothers me is that FreeCEN has always advocated that the Transcriber has to Transcribe AS IS.
Will this then change in FC2?

1.	They spell the POB as Enumerated and are encouraged to add any alternative spelling  to column Y in the spreadsheet.
The Validator has the option of changing them if they wish.

2.	The Place and Church spelling is also taken from the Census Images

[2020-02-20 22:51] Captainkirkdawson opened #815 "Are uploaded files to always be retained in the folder of the original uploader?"
Currently FC1 has no real userid physical files scheme since they are not involved directly with the servers. When we implement a transcriber upload scheme the file will be stored into a physical folder under the userid name. This is what is done in FR1/2 and FB1. The question comes what to do with the file when uploaded by proofreaders and validators and coordinators? My preference is that the fi

[2020-02-20 23:01] Captainkirkdawson commented on #724
The first phase of activities will be focussed on online uploading and processing.
On line editing will be added once that is in place and FC2 is the main database system since there will be no mechanism for back loading files into FG1

[2020-02-21 00:32] Captainkirkdawson commented on #803
I have looked at where one of the problem counties comes from. birth_chapman_code": "YPe
It is generated by 1 search record. That has the following content
![problem.JPG](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/d46e2cb2-a055-458c-989c-c3c3c5aad4d8)
Clearly something is badly wrong with this file. How it got into the system I do not know.  It was created on  ISODate("2018-07-0

[2020-02-21 08:34] FreecenBren commented on #803
I will look at it today and do an amendment. It will then be replaced at
next update.Will let you know when  done

[2020-02-21 15:20] Captainkirkdawson commented on #803
Thank you @FreecenBren I will take no further action on this story until we have a replacement file

[2020-02-21 15:58] AlOneill commented on #798
Text amended as per.

[2020-02-21 16:52] PatReynolds commented on #807
On
14 Feb 2020, 15:31 Brenda email > Pat
This is what I have taken from some past records.

The time lapse ones are due to FC2 not been done till later for various reasons.

Whereas FC1 is done every 4 weeks.

But it will give you an idea anyway.

Perhaps the 39,000,000 might be due to a misprint!

As you can see there is a steady climb for both FC1 and FC2.

All the months are not there as it dep

[2020-02-21 16:58] PatReynolds commented on #807
On Tue, 18 Feb, 15:35 Brenda email >Pat and Kirk
I will try to explain my side of things from a FC1 point of view.
Hopefully between us we might come up with a plan!

If we got Kirk to remove the duplicates with the numerical addition on them from the  Census Place on FC2 without removing them from the Parms file (See Transcription Page) on FC2  that would be OK.

Otherwise it will be overridden a

[2020-02-21 17:06] AlOneill commented on #806
Turns out that the changes I mentioned occurred in 1911 rather than 1901 (doh!).

Seems that 1901 returns collected much the same information as later 19th century returns, except that there is now a separate column on the enumerator's summary for "Working at home". (I have looked at ENG and SCT, but do not have access to WLS.)

However, in SCT, the number of "rooms with windows" (which makes for

[2020-02-21 17:31] PatReynolds commented on #807
I have put pdfs of these emails into FreeCEN / Data documentation

[2020-02-21 19:06] #377 closed

[2020-02-21 19:07] #355 closed

[2020-02-21 19:08] #702 closed

[2020-02-21 19:08] #798 closed, assigned to AlOneill

[2020-02-23 16:28] PatReynolds commented on #815
This proposal makes sense, as any rights that might be deemed to exist in the file belong to the Transcriber.  I

[2020-02-23 16:35] PatReynolds commented on #812
I too want to keep the TWYS - the quality of the results depends on it.  The quality of the search depends on having both a 'verbatim' and a 'searching' field - so the person may have written 'Flower' (that is what we show to the searcher), but that gets matched to Floor. I think issue #378 "Update/replace GENIE place locator and Supplementary Places lists (was PlaceSup.GEN in VALDREV)" covers thi

[2020-02-24 18:05] PatReynolds opened #816 "Implement and evaluate a text index of place of birth"
Implement a text index of place of birth in FreeCEN, and evaluate the effectiveness.

See Systemwide #128 for background and further information.

See #812 for data quality

See also #402 for how to cope with indexing pob after the initial index is produced.

[2020-02-25 11:51] PatReynolds commented on #87
This appears to work.  I have just modified @Captainkirkdawson  's data - he now lives "Somewhere cold" and has a skill level of "complicated forms".

[2020-02-25 12:00] PatReynolds opened #817 "Identify images available that we do not have"

[2020-02-25 12:07] PatReynolds opened #818 "The Documentation for Coords Epic"

[2020-02-25 12:14] PatReynolds commented on #502
This is potentially another dataset for testing upload to FC2.  Do you want me to download as CSV, @Captainkirkdawson  and send you a link?

[2020-02-25 12:21] PatReynolds commented on #232
Issue replaced by Systemwide #115

[2020-02-25 12:22] PatReynolds opened #819 "Provide help for Researchers Epic"
Roadmap 6.8

[2020-02-25 15:15] DeniseColbert commented on #794
First draft sent to Pat on Slack 25/2

[2020-02-26 01:36] Captainkirkdawson commented on #121
The upload capability has been implemented based on minor modifications to the multimodal code.

[2020-02-26 01:37] Captainkirkdawson commented on #815
Will work on this basis

[2020-02-26 01:37] #815 closed, assigned to nobody

[2020-02-26 01:41] Captainkirkdawson commented on #116
The multimodal code has been adjusted to use the physical files collection for FreeCEN2, The same process for rake processing initiation has been adopted and is functioning.
Now for the checking processes.

[2020-02-28 01:48] Captainkirkdawson opened #820 "Augmentation of the fields fields transcribed into the initial csv file"
The current set of fields transcribed by the transcriber were established some 15 years ago and are described in the SSCENS document. It does not include all of the fields submitted into the database by the current vld file.
As part of the on-line uploading process we need to establish how those fields are to be entered.
We also need to consider any additional fields that are desirable for the pre

[2020-02-28 01:49] Captainkirkdawson commented on #820
@geoffj-FUG wrote the following: When should the Ecclesiastical Parish be added?

To do this review right I think that we should review when the Ecclesiastical Parish is added. Why? Because the answer affects CSVCheck.
Initially it was added by the proofreader in winCC. With the demise of WinCC it was added by the Validator (mostly by fudging!)
I believe that as it appears on every census page it

[2020-02-28 09:24] PatReynolds commented on #820
We also need to consider what is recorded in each field, given that the new system will not have the character length constraints of the current system.

[2020-02-28 12:28] PatReynolds opened #821 "Scotland-specific existing tools"
Currently, transcribers for Scottish censuses are asked to download the Transcriber users' Guide on the Freecen Scotland webpage at http://www.rootsweb.ancestry.com/~sctfc/resources.htm (there is a back up on the wayback machine, from 2018, and I've just asked for another back up).
Resources are downloaded and  now in a folder in FreeCEN on the gdrive (Scotland Documentation and Tools).

This may

[2020-02-28 12:47] PatReynolds commented on #706
Notes from Rena, re Scotland Census and validation checking
1/ Main problem is Scholar has to be 16 or under: therefore Scotland transcribes 'scholar' as something like 'at school' or 'student (orig: scholar)'.

2/ All Scottish coordinators have had to add every Scottish parish /place name to a supplementary file as the one in valdrev lists only English places I think.  It may list Welsh as well.

[2020-02-28 15:20] Captainkirkdawson commented on #820
It is important that we move systematically. The initial implementation has to function with current specification.

[2020-02-28 22:07] Captainkirkdawson commented on #820
Brenda commented:
Just been giving this a little thought.

The EP is already in the PARMS CSV in column two.
Ie.
Column one has the piece number
Column 2 has the EP. (The single a in column H)
Column 3 has the Civil Parish (The single b, in column H)
Row one you will see Census year/county example. DOR1851
Etc.,

Why cannot this be picked up by the transcribe for FC2 (perhaps insert a new column

[2020-03-03 23:54] Vino-S commented on #572
ready to be tested:
https://test.freecen.org.uk/

[2020-03-04 09:13] PatReynolds commented on #572
Thank you, @Vino, that works fine.

[2020-03-04 12:20] PatReynolds commented on #805
We are using 'census place' to mean two completely different, but associated, pieces of data: e.g. a search "Robinson" for 'Census place = Bassettlaw' in 1841 gives this result:
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/5ec075c2-da45-45d0-bd7e-c55875c4a79f)
![image.png](https://images.zenhubusercontent.com/5b695a5dac3a200155c765e3/5f87b4a8-a98f-4373-a6a5-1d9a419f8e

[2020-03-04 14:32] Vino-S commented on #572
Thanks @PatReynolds , deployed to live

[2020-03-04 17:15] #232 closed

[2020-03-04 17:16] #572 closed

[2020-03-04 17:19] richpomfret commented on #803
@FreecenBren to let you know that @Vino-S will be doing the next FC2 update tomorrow (Thurs).

[2020-03-04 17:19] DeniseColbert commented on #730
In Scrum, @PatReynolds advised that this text needs to be added to a DRAFT of the Help page (Pat created in Scrum), in between _**Using Filters**_ and **_Exploring your Results_**
@AlOneill is your DRAFT Help with Citations page still relevant for #760 ?

[2020-03-04 17:28] Captainkirkdawson commented on #812
I withdraw my suggestion. We should retain TWYS on this place

[2020-03-04 17:29] FreecenBren commented on #803
How?

I have not shared the Dropbox folder with anyone else yet
Also I am still adding some in..
I send Lemon an email when they are ready and I have not done that yet.
Confused.
Brenda

[2020-03-04 17:32] PatReynolds commented on #812
First, implement #816.

Longer term, use a second field, alongside the TWYS, which is filled in valudation.

[2020-03-04 17:38] PatReynolds commented on #728
What fields are in the VLD which are not in the CSV?

Some things don't need transcription, some do.

Andswer to the following questions depend on answer above:

Two options for things which need transcription: choice needed: added to CSV or added on uploaded CSV?

Two options for who does the adding: Transcriber, or someone else.

[2020-03-04 17:54] #640 closed

[2020-03-04 18:03] richpomfret commented on #750
@PatReynolds to do a bit of research here on accessible adverts..

[2020-03-04 18:08] #821 closed, assigned to nobody

[2020-03-04 18:11] PatReynolds opened #822 "Sources Epic"

[2020-03-04 21:45] FreecenBren commented on #728
Example and explanation below from a transcribed CSV to its final format as a VLD

Please find attached all the files through to the VLD for a PIECE from Bedford (BDF) for 1861 census.

1.	The ZIP is a copy showing all the columns that the VLD has and associated files.
(I have not included a CHE as this was not done using WINCC)

2.	We can put the VLD in FCTOOLS and convert it back to a CSV to do

[2020-03-06 10:03] PatReynolds commented on #378
GB1900 (https://geo.nls.uk/maps/gb1900) could be used by Validators for hard-to-find places

[2020-03-06 11:35] PatReynolds commented on #361
No field length constraints on FreeCEN2 means that current offline software will need replacing.

[2020-03-12 11:19] DeniseColbert opened #823 "FreeCEN message system email has FreeREG in text and CC"
![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/a4978965-9dd5-4d88-a921-f09a2fe6bae7)

[2020-03-12 11:37] DeniseColbert opened #824 "Do transcribers who join the Google Group NEED to be verified as having signed up before joining the group?"
I.e. can we remove the 'Member requesting to Join...' email and just let them in with no moderation.

[2020-03-18 17:11] #791 closed, assigned to DeniseColbert

[2020-03-18 17:12] #792 closed, assigned to PatReynolds, DeniseColbert

[2020-03-18 17:13] #793 closed, assigned to DeniseColbert

[2020-03-18 17:13] #116 closed

[2020-03-18 17:25] richpomfret commented on #824
@richpomfret I will take a look and check options for this.

[2020-03-20 09:07] PatReynolds opened #825 "The Onboarding and Training Epic (FreeCEN)"
- [ ] Review onboarding materials
- [ ] Understand/document onboarding process
- [ ] Document what is needed to complete FC2 onboarding (with as much automation as possible)
- [ ] Make stories within this epic for development

[2020-03-20 11:30] PatReynolds opened #826 "Consider / Implement side advert placing"
[for discussion] Saw this https://www.techjunkie.com/automatically-alphabetize-google-sheets/ (useful stuff on sheets, but I like how they do side advertising.

[2020-03-20 12:39] PatReynolds opened #827 "The London 1871 Epic"
Identify Source of images
 Fundraise for images
Plan a campaign for volunteers alongside London 1871 fundraising

[2020-03-20 14:08] Captainkirkdawson commented on #803
With the completion of the latest update to FC. the number of incorrect chapman codes has been reduced from 685 to 442. A significant decrease but there remain 250+ errors.
Verbatim Birth County 442 values
["\u0000\u0000\u0000", "ABD", "AGY", "ALD", "ANS", "ANT", "ARL", "ARM", "ASk", "ASw", "AYR", "BAN", "BCa", "BCh", "BDF", "BEW", "BEa", "BGi", "BHo", "BJa", "BKM", "BMa", "BN", "BNe", "BNo", "BPr

[2020-03-20 22:58] Captainkirkdawson commented on #803
Investigated further
Number of individuals with invalid Chapman birth codes
{"\u0000\u0000\u0000"=>14173, "ASk"=>1, "ASw"=>1, "BCa"=>1, "BCh"=>1, "BEa"=>1, "BGi"=>1, "BHo"=>1, "BJa"=>2, "BMa"=>1, "BN"=>1, "BNe"=>4, "BNo"=>1, "BPr"=>1, "BSi"=>1, "BSt"=>3, "BSy"=>2, "BWe"=>3, "D-"=>34, "DPo"=>1, "DSt"=>1, "ECr"=>1, "FBe"=>2, "FFr"=>1, "FHa"=>1, "FHo"=>1, "FIt"=>1, "FPr"=>1, "GLi"=>1, "HWe"=>2, "IAs"

[2020-03-20 23:31] Captainkirkdawson commented on #803
These files have invalid chapman codes in the birth county field
rg122720.vld
HS410879.VLD
RG093137.VLD
RG103297.VLD
RG122590.VLD
RG122641.VLD
rg092721.vld
rg092827.vld
rg092666.vld
rg103710.vld
HS410707.vld
RG091946.VLD

[2020-03-20 23:33] Captainkirkdawson commented on #803
Many of the preceding files have multiple errors. The cross relationship between the incorrect chapman code and the specific file follows
{"\u0000\u0000\u0000"=>["rg122720.vld", "HS410879.VLD", "RG093137.VLD", "RG103297.VLD", "RG122590.VLD", "RG122641.VLD"], "ASk"=>["rg092721.vld"], "ASw"=>["rg092721.vld"], "BCa"=>["rg092721.vld"], "BCh"=>["rg092721.vld"], "BEa"=>["rg092721.vld"], "BGi"=>["rg09272

[2020-03-20 23:53] FreecenBren commented on #803
Kirk,

Before I can get any of them adjusted I have to determine the Census County.
The COORDS do there own amended VLDs then send the amended copy to me for
uploading at the 4 week slot.
The ones that show up in the latest upload I would normally deal with, but
this amount then I have to reallocate them to the COORD responsible for
that County.

FC1 picks up some each month so some of these must

[2020-03-21 00:47] Captainkirkdawson commented on #803
@FreecenBren @PatReynolds @richpomfret @DeniseColbert

I can provide lists in various formats and add additional info if it helps.

However rather than doing it all yourself would it not be useful to involve the new volunteers interested in working as data managers.? This is the type of issue they should get involved with

[2020-03-21 03:20] Captainkirkdawson commented on #823
The message does indicate FreeCEN; but I will check to see if FreeREG appears somewhere else

[2020-03-21 07:19] FreecenBren commented on #803
They could be with training,  but as I have no idea who they are, what
experience they have, that would be a good starting point first.

[2020-03-21 14:56] Captainkirkdawson commented on #803
@FreecenBren  in answer to your question
_Census so will presume we might have some more for the other Census years???????_

**The answer is no this is the total list from birth county checking.  But there might be others for verbatim birth counties**

[2020-03-21 16:35] Captainkirkdawson commented on #803
Specific information on the files in question

rg122720.vld DBY 1891 Shardlow 2720
HS410879.VLD KKD 1841 RERRICK 879
RG093137.VLD LAN 1861 Preston 3137
RG103297.VLD LEI 1871 Waltham 3297
RG122590.VLD LIN 1891 Lincoln 2590
RG122641.VLD NTT 1891 East Retford 2641
rg092721.vld LAN 1861 Everton 2721
rg092827.vld LAN 1861 Bolton Eastern 2827
rg092666.vld LAN 1861 Dale Street 2666
rg103710.vld CHS 1871

[2020-03-21 17:04] Captainkirkdawson commented on #803
Identical results for Verbatim Birth Counties

[2020-03-21 17:35] FreecenBren commented on #803
Hi Kirk,
This is the format that FreeCEN One uses and in contains all the info we
need that  is failing as  errors. You will see that it matches yours for 4
of them.

This was last weeks  FC1 errors after Vino did the upload.
So these are being amended now ready for the next upload in 3 weeks.
So will add the other 8 to this list.

https://freecen1.freecen.org.uk/errors.html

CountyFileMessage
GLS

[2020-03-21 19:08] DeniseColbert commented on #803
@FreecenBren I'm going to make a mailing list/group early next week and add you in to introduce you etc. I can say right now that the new volunteers are not existing transcribers and have varying levels of familiarity with FreeCEN1/2

[2020-03-21 19:25] Captainkirkdawson commented on #803
@FreecenBren

I suspect that the errors with the files I have identified are far more serious than the 1 or 2 records identified by CEN1. They need to be reviewed in detail.

[2020-03-21 20:17] Captainkirkdawson commented on #823
I have gone through the code and found one possible source of the error. Have corrected and applied to test3.
Requires testing

[2020-03-22 14:50] Captainkirkdawson commented on #165
As part of the investigation into places with no location I wrote and ran an extract rake task to identify those places. There are now 513 up from 353 2 months ago. The list is at https://drive.google.com/drive/u/1/folders/1MQdWRjfwq7PUlWezwdoVzYPWbE5jvN5h

[2020-03-22 14:52] Captainkirkdawson commented on #165
The no locations report shows entries for Places that puzzle me. eg
St Philip & Jacob 4A
St Philip & Jacob 4B
St Philip & Jacob 4C
St Philip & Jacob 4D
St Philip & Jacob 4E
St Philip & Jacob 4F
St Philip & Jacob 4G
St Philip & Jacob 4H
St Philip & Jacob 4I
St Philip & Jacob 4K
St Philip & Jacob 4L
St Philip and Jacob

[2020-03-22 14:58] Captainkirkdawson commented on #87
There is no new code. The capability has been there since FC was updated to multimodel.
Closing

[2020-03-22 14:58] #87 closed

[2020-03-22 15:36] richardofsussex commented on #165
Crathie & Braemar: see https://visionofbritain.org.uk/place/20197
Cleckeaton (WRY) will be a typo for Cleckheaton, I guess.

[2020-03-22 15:42] richardofsussex commented on #165
Rhynie & Essie: https://visionofbritain.org.uk/place/16495
Aboyne & Glantanner: https://visionofbritain.org.uk/place/16903
Keithhall & Kinkell: https://visionofbritain.org.uk/place/16903
Tarland & Migvie: https://visionofbritain.org.uk/place/17017

[2020-03-22 18:13] FreecenBren commented on #165
St Philip  <https://www.genuki.org.uk/big/eng/GLS/Bristol/StPhilipStJacob> & St Jacob, Bristol, Church of England
Gloucestershire Bristol St Philip & St Jacob St Philip & St Jacob,
All in the PARMS for Gloucestershire.

HO107/1949
St Paul
St Paul In , St Philip & St Jacob
1851

HO107/375
Bristol City
St Philip & St Jacob, St Stephen , Temple or Holy Cross, St Thomas , St Werburgh
1841

RG9/1717
Br

[2020-03-22 19:57] Captainkirkdawson commented on #165
@FreecenBren
The initial point I was making was there is **no such place** as St Philip & Jacob 4A or St Philip & Jacob 4B etc
Nor is there a **Place** called St Philip & Jacob. There is a **building** called St Philip & Jacob. There may be parish called St Philip & Jacob in the census. But the Place is Bristol.

A Place has many Pieces. A Piece is for a specific parish of part thereof and the Pie

[2020-03-22 21:09] FreecenBren commented on #165
It may not be a Parish now but according to the National Archives and the
Census Images it was a Civil Parish and people did live there and  It was
recorded as such.
This is from the National Archives page. From 1841.

https://discovery.nationalarchives.gov.uk/details/r/C3761111

As such that is why it is in the Census as it is a Civil Parish.

Hundred: Barton Regis. Parish: (6)(3)St Philip and St

[2020-03-22 23:41] Captainkirkdawson commented on #165
We continue to talk at cross purposes unfortunately.

I accept fully that Gloucestershire has a Census Place called Barton Regis and that there are 2 Civil Parishes in that Place. Stapleton and St Philip & St Jacob.
I am questioning and others like them Reference:	RG 10/2559
Description:
Registration Sub-District 4D St Philip and St Jacob.
Civil Parish, Township or Place: St Philip and St Jacob(pt

[2020-03-23 08:53] PatReynolds commented on #165
Hi Brenda, story #752 covers the civil parish search.  It needs allocating to either the group oif issues we hope to deal with sooner rather than later, or the group that will be done after we have dealt with the facilities for coordinators, proofreaders and transcribers - it should have been picked up and allocated, but wasn't so I've flagged it for discussion at the next scrum.

[2020-03-23 09:03] DeniseColbert commented on #823
Looks fine for the purposes of the story. Should we be concerned about the potential spam warning? (redacted Kirk's personal email address)

![image](https://user-images.githubusercontent.com/19173257/77300331-c2384680-6ce5-11ea-94e3-8b330715420b.png)

[2020-03-23 11:36] DeniseColbert opened #828 "Replace SOM in list of counties accepting transcribers"
For 1901 census

[2020-03-23 12:31] FreecenBren commented on #828
Hi Denise,
Notts are also accepting 1901 transcribers as well

On Mon, 23 Mar 2020 at 11:36, DeniseColbert <notifications@github.com>
wrote:

[2020-03-23 15:54] Captainkirkdawson commented on #568
Both SOM and NTT have 1901 images

[2020-03-23 15:57] Captainkirkdawson commented on #806
As part of the upload project 807 support for 1901 and 1911 is being provided.

[2020-03-23 16:31] DeniseColbert commented on #828
Thanks, Brenda. Just to note, Allan tells me that FreeBMD Coords are able to do this themselves:

it is switched off their details will not appear in the selection list
mentioned in 1 above.

[2020-03-23 17:41] Captainkirkdawson commented on #828
Done for CEN2; no idea on CEN1

[2020-03-23 18:02] FreecenBren commented on #828
Hi,

Not checked but the COORDS are happy to be getting more helpers.
Therefore the ability to turn it off is not an issue at the moment.
I will check it out though as I have not seen it myself.

I have just tried to find it but not had any luck so if someone can say which of the many boxes to search is the one I need.
I did not know that it was switched off so I assume that Geoff raised this quer

[2020-03-23 19:22] Captainkirkdawson commented on #828
All syndicate coordinators in both REG2 and CEN2 have that ability now
![recruitment](https://user-images.githubusercontent.com/2874694/77355008-6384c400-6d09-11ea-9596-74a3373b7b5a.png)

[2020-03-24 03:40] Captainkirkdawson commented on #806
@PatReynolds @richpomfret @FreecenBren
As we move forward it is essential that we recognize that 1901 and 1911 census returns will not be entered into CEN1.
We will accommodate the new fields and other adjustments through the implementation of the Flexible CSV approach adopted for REG in the upload and processing of data into CEN2.
CEN is well positioned to use this approach as it already incorpor

[2020-03-24 09:24] PatReynolds commented on #828
Hi Brenda, ] If a Coord has a county with no/limited images, they might need to turn that county off.  
I will draft instructions, for you to road test, if you will.

[2020-03-24 09:53] DeniseColbert opened #829 "Button hasn't updated to new colour"
On the 'Volunteer' page:

![image.png](https://images.zenhubusercontent.com/5cab6cc818447254e461e741/705c0162-bdee-4fd4-a588-918675199907)

E2 U2 S4 C8: P16

[2020-03-25 15:37] Captainkirkdawson commented on #820
@FreecenBren @geoffj-FUG @PatReynolds @AlOneill @rhodamackenzie @colin1959

Since the online upload of a csv file this together with the Params should contain the total set of information required to create a search record now is the time to consider the augmentation of the fields in the csv file.

Rather than include a discussion on each augmentation in this story and end up losing sight of one I

[2020-03-25 16:17] Captainkirkdawson opened #830 "How and when to add the Ecclesiastical Parish"
@geoffj-FUG wrote the following: When should the Ecclesiastical Parish be added?

To do this review right I think that we should review when the Ecclesiastical Parish is added. Why? Because the answer affects CSVCheck.
Initially it was added by the proofreader in winCC. With the demise of WinCC it was added by the Validator (mostly by fudging!)
I believe that as it appears on every census page it

[2020-03-25 16:18] Captainkirkdawson commented on #830
Brenda commented:
Just been giving this a little thought.

The EP is already in the PARMS CSV in column two.
Ie.
Column one has the piece number
Column 2 has the EP. (The single a in column H)
Column 3 has the Civil Parish (The single b, in column H)
Row one you will see Census year/county example. DOR1851
Etc.,

Why cannot this be picked up by the transcribe for FC2 (perhaps insert a new column

[2020-03-25 16:39] Captainkirkdawson commented on #830
If we can extract the Ecclesiastical Parish from the Freecen Piece that would be the simplest.

But is that going to work in all case; ie all census and all countries.

Is the Ecclesiastical Parish constant for a Freecen Piece?

I seem to recall that the "a" field in the params referred to Parish Name yet it is also referred to as a Place.

I know that in most cases an Ecclesiastical Parish  was o

[2020-03-25 17:07] Captainkirkdawson commented on #121
The basic upload/replace capability exists.

The file is processed and an error report produced and sent to the uploader.

**Capability to access your batches(files) added**

![batch.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/528ca9e9-ca9c-4d19-a49e-a13fbda02849)

**Capability list batches and files added**

![batches.png](https://images.zenhubusercontent.com/5b68ae684b5806

[2020-03-25 18:01] Captainkirkdawson commented on #127
A first version that processes a file and identifies, information, warnings and errors has been written

**Warning level example**

Started on the file RG094177.csv for Captkirk at 2020-03-19 16:40:35 -0600. <p>
Working on Cardigan for 1861, in CGN
Warning: line 4 New Civil Parish St Dogmaels.<br>
Warning: line 11 House address cwm garwd?  has trailing ?. Removed and flag set.<br>
Warning: line 13

[2020-03-25 18:09] Captainkirkdawson commented on #127
The processor needs to be extended to calculate the derived fields and to store errors/warnings and information messages

[2020-03-25 18:12] Captainkirkdawson commented on #123
Will only apply to uploaded files and entries

[2020-03-25 18:17] Captainkirkdawson opened #831 "Convert on line freecen_csv_entry into a search record"
Take a freecen_csv_record and convert to search record

[2020-03-25 18:30] Captainkirkdawson commented on #121
Do we adopt the modern format ie there is no limit of field length?

[2020-03-25 19:23] Captainkirkdawson opened #832 "deleted flag"
Is this a derived or entered field.

If derived based on what??

[2020-03-25 22:06] geoffj-FUG commented on #830
Brenda, Kirk

Overall responsibility for a district is held by a superintendent registrar. Registration districts are not always co-terminous with county boundaries, and so in the past were grouped into "registration counties" for statistical purposes. They remained in use for the census from 1851 to 1911. (Wikipedia)

So in my view the PARMS is a useful reference file here. My interpretation is t

[2020-03-25 22:18] geoffj-FUG commented on #832
Kirk

Which field?

Geoff

[2020-03-25 22:20] geoffj-FUG commented on #806
I agree with Pat.

FreeCEN1 is essentially an archive file, though some functionality is still being used.

This should be FreeCEN2 only. Coupling it with direct upload makes sense.

Geoff

[2020-03-25 23:11] Captainkirkdawson commented on #832
The deleted flag; sorry it was in the story title

[2020-03-26 07:29] geoffj-FUG commented on #832
Kirk

That is a good question. Is the deleted flag needed?

Originally it was used in WinCC so that the proofreader could give a soft delete. The Validator could then confirm the deletion or restore it to the data. Once the piece was uploaded the soft delete became a hard delete (my presumption) and the record did not appear in the database.

Then WinCC got attacked by Virus checkers and eventuall

[2020-03-26 07:54] geoffj-FUG commented on #820
Kirk

My view is still that it (Ecclesiastical Parish)  should be added by the transcriber. It is closely related to the ED. The ED number occurs once in each ED and carries down. I would but it in the spreadsheet next to the ED number.

It is my belief that the EP can on rare occasions change within an ED. Therefore the logical place to put it in a spreadsheet is immediately to the right of the E

[2020-03-26 09:09] PatReynolds commented on #832
HI @Geoff, could you explain what would be deleted/why?

[2020-03-26 09:27] PatReynolds commented on #121
Certainly we adopt the modern format ie there is no limit of field length.
For fields where a certain number of characters is expected (eg one letter) then the checking process should flag unexpected results (eg two letters or more). TWYS always trumps this check.

[2020-03-26 09:30] PatReynolds commented on #123
A question: do we want an amended file to be proofread and validated again, and in the interim, is it live, or is the live file not replaced until it has been validated?

[2020-03-26 09:43] geoffj-FUG commented on #832
Pat

As an instance - In the census an enumerator may have made an entry and then drawn a line through it. The transcriber has then transcribed it ‘as is’.

The .csv file was then changed to a .dat file and loaded into WinCC. So there is an incorrect line in the data file. The proofreader would delete it, but it would be a soft delete.

The piece was then passed to the validator. It was still a .d

[2020-03-26 10:59] PatReynolds commented on #832
Thanks, Geoff, that's just the information I was looking for.

[2020-03-26 14:12] Captainkirkdawson commented on #123
Records are not "live" until the coordinator has said "Process" or perhaps we should say "Incorporate" or "Activate" the file. ie the system creates search records.

[2020-03-26 16:00] Captainkirkdawson opened #833 "Ability to load a parms file directly into RC2 based on TNA extracts"
Currently Parms files are loaded into FC2 from FC1 after FC1 has been updated. They are incorporated into FC2 through the overall FC2 monthly update.
We need to be able to a)load a parms file directly into FC2 and b) this needs to be independent of the overall FC2 update.
This is an urgent requirement for loading 1901 and 1911 Params files and to allow for checking of CVS uploads of 1901 and 1911

[2020-03-26 16:03] Captainkirkdawson opened #834 "Ability to load VLD files directly into FC2"
As part of the overall transition to FC2 we need to be able to load VLD files directly into FC2

[2020-03-26 18:49] PatReynolds commented on #828
No change needed on FreeCEN1 as there is no information on that site about counties looking for transcribers.

[2020-03-26 19:51] rhodamackenzie commented on #820
Kirk,
Sorry to sound thick, but I have no instruction at all and don’t know where to start, e.g.  where do I find the SSCENS document or indeed any other documents?
Thanks, Rhoda

[2020-03-26 20:11] rhodamackenzie commented on #830
This should be entered, imho, by the transcriber, it is not difficult to carry this on in the same way as many other repeating values would be continued. No empty cells allowed for this column. One freecen piece will likely have several enumeration books so could potentially contain differing EPs, but I doubt a single book would have a change in EP?

[2020-03-26 21:32] Captainkirkdawson commented on #820
Some docs sent off line

[2020-03-26 21:35] Captainkirkdawson commented on #830
Thanks for the responses. At this point it seems best to permit this to come in as part of the Augmented CSV file.

[2020-03-27 07:09] geoffj-FUG commented on #830
Kirk et al

A little bit more information for the PARMS debate.

In 1841 the ‘a’ record was the Hundred and the ‘b’ record was the Parish. The National Archives do not say whether it is Civil or Ecclesiastical.

Hundreds were however closely linked with Common Law so my presumption would be that it is the Civil Parish. If it was Ecclesiastical they would have been linked to Church Law.

So I see t

[2020-03-27 10:50] PatReynolds opened #835 "Decide how to disambiguate place of birth"
Suggestion:l ambiguation can be placed in the notes (e.g. 'This is probably the Swinton near Malton, as other household members are born in Malton, rather than either of the other two Swinton's in North Yorkshire'. Or for a TWYS of 'Newton - in Pressbury' (county Cheshire) might need to be indexed as Newton (a lot of people born in this Newton, still living there probably wouldn't distinguish it f

[2020-03-28 14:34] Captainkirkdawson commented on #832
Based on the input from Geoff it seems clear that the deleted flag is indeed needed and should be included in the CSV file.

[2020-03-29 16:55] Captainkirkdawson commented on #121
Have implemented the modern format by default. ie. we will accept longer fields. This means of course that csv files processed through cen2 will only be loadable into freecen2. The selection on upload has been removed.
The images loaded above are no longer applicable.
Deployed to test2

[2020-03-29 17:58] Captainkirkdawson commented on #122
First version deployed to test2

[2020-03-29 18:00] Captainkirkdawson commented on #123
Deployed to test2
Note creation is turned off at the moment as I am unsure of the implications of creating a new entry online

[2020-03-29 18:04] Captainkirkdawson commented on #820
Working on basis that deleted flag and Ecclesiastical Parish are to be included as columns in CSV file
Working on basis that 1901/1911 fields to be added to CSV file

[2020-03-29 18:06] Captainkirkdawson commented on #830
Working on basis that Ecclesiastical parish is added to CSV file

[2020-03-29 18:45] rhodamackenzie commented on #835
I agree with your suggestion

[2020-03-29 23:17] Captainkirkdawson opened #836 "Adjust syndicate management system to accommodate work flow management between transcribers, checkers, validators and coordinators"
Modify the Manage syndicates system for freecen_csv_files

[2020-03-29 23:19] Captainkirkdawson opened #837 "Adjust county management system to accommodate work flow management between transcribers, checkers, validators and coordinators"
Adjust the Manage County system to support management of freecen_csv_files

[2020-03-30 15:51] helhyde commented on #828
Hi Brenda,

It is ihe list of coord actions in FreeCEN2.  If a Coord has a county with
no/limited images, they might need to turn that county off.

I will draft instructions, for you to road test, if you will.

Cheers,

Pat

[2020-03-30 16:44] Captainkirkdawson commented on #806
We are adding At home and Rooms as 2 new fields for the 1901 census

[2020-03-30 16:44] Captainkirkdawson commented on #806
What do we need for 1911

[2020-03-30 17:00] Captainkirkdawson opened #838 "The detail and individual flags"
@geoffj-FUG @rhodamackenzie
The vld entry has 2 flags detail and individual
The csv appears to have just 1 the individual one used to specify uncertainty in the relationship/marital status/age/sex fields.
It appears that the  detail flag is added later to the process so it appears in the vld.
What uncertainty does it reflect?

[2020-03-30 17:06] Captainkirkdawson opened #839 "unoccupied_notes"
@geoffj-FUG @rhodamackenzie
The vld entry has a field called unoccupied_notes. This does not appear in the csv file.
What is it? Is it needed?

[2020-03-30 19:28] rhodamackenzie commented on #839
again, sorry i don't know this, but where would i see where the vld entry is?

[2020-03-30 19:40] AlOneill commented on #839
A building may be designated as 'unoccupied' on the census return, but still have potentially useful information recorded against it. Can't come up with much on the spot, but something like, "Dawson family moved on 2 mo ago".

Transcribers are encouraged to put such information in the Notes field: I guess that these notes are transferred to the unoccupied_notes field at some point in the process,

[2020-03-30 20:45] FreecenBren commented on #839
In many cases the unoccupied is entered as it is a shop etc., and no one
lives there at night when the shop closes. These can be butchers, grocery,
green grocers, shoe shops, blacksmiths and schools etc.
Similar is the use of the V. No one living there on the night as they are
visiting elsewhere.

[2020-03-30 21:18] geoffj-FUG commented on #806
Agreed

Using Rooms allows for the 1901 <5 rooms and the 1911 number of rooms.

At Home allows entry of the data that is additional to 1901.

Geoff

[2020-03-30 21:49] rhodamackenzie commented on #839
Prob best to have notes separately for unoccupied premises rather than lumping it into another section, if that is what it means in the csv

[2020-03-30 22:02] FreecenBren commented on #839
Quite a lot of unoccupied premises also include the address and the type of
shop. Anything else given  is added to the Notes column (column Y in the
CSV)  if it will not fit in the address column. Whatever is added  carries
through to the Census.

[2020-03-30 22:11] geoffj-FUG commented on #839
Kirk
Back to basics - Let’s all take a step back and do this logically. We are second guessing because we don’t have all the information.
If you can send me a copy of the data dictionary then I will match up the .vld file fields with that. There may be fields there that were included 20 years ago but as things developed were never needed. Other fields were used for the information instead. So by m

[2020-03-30 22:30] Captainkirkdawson commented on #820
There are 2 additional fields dealing with Birth County and Birth Place See story #840

[2020-03-30 22:37] geoffj-FUG commented on #806
The following information is recorded in 1911:

1911

As 1901, with extra questions:

*	For married women only, the number of years of their present marriage, the number of children born of that marriage, the number still living, and the number that had died.
*	As well as their occupation, the industry in which the person was employed. If employed by a government, municipal or other public body, t

[2020-03-30 22:41] Captainkirkdawson opened #840 "Birth counties and places"
@geoffj-FUG
The original CSV file prepared by a transcriber has a Birth County and a Birth Place. These become the Verbatim birth county and the Verbatim birth place in the final database. The checker or validator either selects those or enters a preferred birth county and birth place. These become the actual Birth County and Birth Place in the database. The CSV file therefore has to incorporate B

[2020-03-30 22:41] geoffj-FUG commented on #806
Kirk

There is also an issue in 1901 regarding the language spoken if you lived on the Isle of Man.

We should be able to adapt the Welsh spoken field that already exists in the Welsh census. If that is currently a logical field it may have to be made so that it accepts a code. (e.g. W for Welsh, E for English, G for Gaelic etc). It can then be used universally.

Question – Does this also apply to

[2020-03-30 22:42] geoffj-FUG commented on #840
Kirk

That is exactly how I understood it.

Lock it in.

Geoff

[2020-03-30 23:29] Captainkirkdawson opened #841 "Change in field header names"
@geoffj-FUG @rhodamackenzie @colin1959
For the past 20 years FC has been using the following field (column) headings.
Civil Parish,ED,Folio,Page,Schd,House,Address,X,Surname,Forenames,X,Rel.,C,Sex,Age,X,Occupation ,E,X,CHP,Place of birth,X,Dis.,W,Notes

Would there be objection if the CSV downloads used the actual field names ie

'civil_parish', 'enumeration_district', 'folio_number', 'page_number

[2020-03-30 23:56] rhodamackenzie commented on #841
I can’t see that being a problem, I have not seen one of the spreadsheets, but As long as there is space to fit the full words  in without making the visible page area too unwieldy, I see no reason why not. This leaves no ambiguity for new transcribers

[2020-03-31 07:20] geoffj-FUG commented on #841
I am not sure if Rhonda and Susan are receiving this. Please let me know.
Kirk, Susan, Rhonda (and Pat and Brenda FYI)
I believe that we need to start at the top and drill down. That will let our Newbies catch up with Kirk and I a little.
I have attached 2 files. One is the New Process as I understand it. No detail just an overview.
The second is an appendix which contains a flowchart. I know it i

[2020-03-31 08:02] geoffj-FUG commented on #841
Kirk et al

 The original field widths were set in row 3 to guide the transcriber to the number of characters allowed. That automatically limited the number of characters in the column headers as a long name where there was a short entry allowed would have distorted the spreadsheet.

 We now have a major change. FC2 does not have the length limitations that FC1 had. To my mind that makes Row 3 obs

[2020-03-31 08:22] PatReynolds commented on #841
Hi Geoff - edited your comment o remove repeated text.

Do the censuses always have the columns in the same alphabetical order (i.e. does B always come straight after A, does does Z come straight after Y?  If not, then the transcriber may want to move the columns to reflect the pattern in the original, and end up with A B M N C F X Y Z D ... etc (flexible CSV can cope with this).  IF so, then one

[2020-03-31 09:39] geoffj-FUG commented on #841
Pat
No, the transcriber is not to move the columns. It crashes the checking software. The order we use at the moment is the order the data appears in the census.

We need to tread carefully for 1911 because the forms are different. They were not summarised, they are the original document completed by the householder.

The A, B etc are the column designations on the spreadsheet. They are not entere

[2020-03-31 10:19] geoffj-FUG commented on #841
@Rhonda @Susan
It appears that my processes document and flow chart may have gone missing on its way to you.

I have put a copy in Google Docs FreeCEN FreeCEN Processes.

In the Document there are some queries in red. Can you have a look, please and provide feedback.

Geoff

[2020-03-31 11:36] rhodamackenzie commented on #841
Thanks for this Geoff, I’m on the front line as a doctor for CoVid so dipping in and out when I can, could I see a copy of the old spreadsheet please? It would make more sense to me then.

[2020-03-31 12:04] geoffj-FUG commented on #841
Hi all
I have been looking at the spreadsheet fields needed to cover all years up to 1911. There are a lot of them.

So I believe we have 2 choices:

*	One spreadsheet so that we have uniformity in testing but 2 versions with 19c census version having fields hidden and locked. It would then to all intents and purposes have the same look and feel as the current spreadsheet. The 20c censuses would u

[2020-03-31 14:54] Captainkirkdawson commented on #752
This and the folio/page search requirement could be implemented in the same manner as the Christmas Present filtering.
Implementing a total restructuring of the database to make it a search parameter would be 20 times harder and longer

[2020-03-31 17:33] rhodamackenzie commented on #838
I do not know.

[2020-03-31 17:39] rhodamackenzie commented on #841
I would favour the first option also

[2020-03-31 17:43] rhodamackenzie commented on #841
Geoff - please note my name is Rhoda, not Rhonda, as #Rhonda is attached to another person

Also for the queries in red in "The Process " document, where would you like us to respond to these? In this thread? There are many I cannot answer though.

[2020-03-31 19:53] Captainkirkdawson commented on #121
@geoffj-FUG
As noted above the initial system for uploading and downloading has been developed. It is now deployed to test3 for evaluation.
An initial document on the process is available at.
https://drive.google.com/file/d/1WpEM-1O4A11l6TtQQ7YzsQZ2XvX2WMod/view?usp=sharing
Please remember this is a workin progress.

[2020-03-31 19:57] Captainkirkdawson commented on #122
@geoffj-FUG
As noted above the initial system online system for editing and viewing files and entries has been developed. It is now deployed to test3 for evaluation.
An initial document on the process is available at.
https://drive.google.com/open?id=1IPIx_VTc0NoEUawjckbPgkGzv4Kw1C6t
Please remember this is a workin progress.

[2020-03-31 21:45] geoffj-FUG commented on #841
Rhoda

My apologies. I should have looked at your name closer.

Kirk has closed the thread. If the thread doesn’t accept this then reply back direct to me.

I will put up a spreadsheet format later today (I am in Australia). I will put it into the FreeCEN processes folder on Google Docs.

Geoff

[2020-03-31 22:26] Captainkirkdawson commented on #839
@geoffj-FUG

Ask and ye shall receive.
https://drive.google.com/open?id=1zVtBOQ7Taqzu6j8_mMj3zTXgl0aVMOka is the excel version
https://drive.google.com/open?id=1pg6EWNhnGUJZ9GYzcVo9AoIrIlwK8m-b is a pdf version

The first column are the fields for the csv_entry. The second has either Mine or 1901. Those marked Mine are needed by my processor. The third is the spec of the VLD entry as known in CEN2

[2020-03-31 22:27] Captainkirkdawson commented on #838
Have emailed Brenda

[2020-03-31 23:18] Captainkirkdawson commented on #839
Going back to the unoccupied_notes field.
There are 823,419 entries in the field. This is slightly MORE than in the actual notes field which has 823,041
Nowhere is its displayed to the researcher
Its content is amazingly varied! A sample
        "v consul of n german confederation",
        "v faded page",
        "v faint but bap Carhampton 10 1 1836",
        "v faint but bap Carhampton 6 1 1833

[2020-03-31 23:33] Captainkirkdawson commented on #841
Sorry @geoffj-FUG the closing was an error on my part. It is an important story

[2020-04-01 02:03] geoffj-FUG commented on #839
Thanks Kirk

[2020-04-01 05:32] geoffj-FUG commented on #839
Kirk

This is the information entered into column Y on the spreadsheet. It should be reported in the Notes field of the screen report (to the right of disability). It is absolutely critical information for the researcher.

It does not appear on the results screen but should appear when the family are viewed.

Geoff

[2020-04-01 07:44] FreecenBren commented on #839
Hi,

We have an issue.

I have checked FC2 and yes you are correct the notes in column Y for the
unoccupied, which contain information for the researcher are not showing in
FC2.

However, they are showing in FC1.

Example below . It actually shows at the bottom of the unoccupied record.

I used John Perryman in my search, then I looked at the previous household.
1861 Census
*1 Records found*

*Pie

[2020-04-01 09:39] geoffj-FUG commented on #839
Brenda

We need to log it.

How do we create a action needed advice?

Geoff

[2020-04-01 09:51] geoffj-FUG commented on #841
@susan  @rhoda

I have added 2 documents to the FreeCEN Processes.

One a spreadsheet called Sample England and Wales Spreadsheet FC1. This is the transcription spreadsheet that has been used up to now. It was designed for FC1. It is the sample sent out to new transcribers. It was originally called Censdemo.csv

It is the base document that we will build the new spreadsheet from. It is important t

[2020-04-01 11:47] geoffj-FUG commented on #839
Brenda

I have just been going through the data dictionary and matching it to the various spreadsheet formats.

I had an unused field called unoccupied_notes in my list of leftovers.

I matched a field called notes to the Comments in the spreadsheet.

So is that the problem with the screen report. The wrong field has been used in the report form?

Just flying a kite! But if I did it someone else c

[2020-04-01 12:12] PatReynolds commented on #574
Started 1/4/2020 - review in 2 weeks.

[2020-04-01 12:28] PatReynolds commented on #165
Brenda's (potential) issues:
"This issue we only had today with a researcher query we were sent.
It was one of Geoff’s issues for Somerset that FC1 Found that FC2 could not." @geoffj-FUG could you clarify on this - it may well be covered by the issues/stories relating to researcher facilities on FC1 but not FC2 to be implemented sooner rather than later, and those to be implemented later as they a

[2020-04-01 16:07] #823 closed, assigned to Captainkirkdawson

[2020-04-01 16:33] richpomfret commented on #127
Done - closing and any new issues will be new stories.

[2020-04-01 16:33] #127 closed

[2020-04-01 16:37] richpomfret commented on #123
Ready for testing on TEST3.

[2020-04-01 17:14] #835 closed, assigned to nobody

[2020-04-01 20:18] Captainkirkdawson commented on #841
@geoffj-FUG
The BIG question on the revised spreadsheet for input to FR2 is what do we propose? 1) a brand new csv layout with a census logical layout: 2) a layout based on the current CSV layout with augmentations: 3) a layout based on the VLD field layout with augmentations. 4) a flexible CSV layout where the column contain the input for the field **named** in the column header. Before we do too

[2020-04-01 21:13] geoffj-FUG commented on #841
I am happy with 4.

I saw the spreadsheet as an array separated by commas and processed row by row. I had not interpreted it as a set of fields that could be dealt with individually. So I am learning!

I now see the significance of the field names in the spreadsheet columns.

Let me have another think about that one.

 Geoff

[2020-04-01 21:38] FreecenBren commented on #841
I agree with Geoff.

[2020-04-01 22:13] Captainkirkdawson commented on #841
@geoffj-FUG
You mentioned you had not seen an entry display.
This is the current version
![Entry Display.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/cca8769b-1439-4eeb-b07d-124f57f0f74a)

Just click on the image and it will enlarge.

[2020-04-01 22:37] Captainkirkdawson commented on #841
I am sure you and others can suggest improvements.

There are 2 documents you might want to review
An initial document on the upload process is available at.
https://drive.google.com/file/d/1WpEM-1O4A11l6TtQQ7YzsQZ2XvX2WMod/view

and one on the online system
https://drive.google.com/open?id=1IPIx_VTc0NoEUawjckbPgkGzv4Kw1C6t

Please remember these are works in progress.

[2020-04-01 23:44] Captainkirkdawson commented on #839
As noted earlier the vld_entries has 2 fields Notes and Unoccupied Notes.
Looking at records containing an x in the uninhabited field there is an entry in both the notes and unoccupied_notes field for the first occupant of the dwelling;
In the example I have found all members of the household had x in the uninhabited field which seems odd.

There are 16,015 entries with x and a note

Many of the s

[2020-04-02 00:43] Captainkirkdawson commented on #839
Record correctly reported in FC2
![chill.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/9ec68e3a-285a-428a-8aa2-3ba5fd077d14)

[2020-04-02 01:00] Captainkirkdawson commented on #839
The issue noted by Brenda come from the fact that the notes displayed in FC2 are associated with the individual. If unoccupied there is no individual and no field in the display for a dwelling even though there is a field in the dwelling
A definite bug.

[2020-04-02 01:02] Captainkirkdawson opened #842 "Unoccupied notes are not displayed for an unoccupied dwelling"
The issue noted by Brenda come from the fact that the notes displayed in FC2 are associated with the individual. If unoccupied there is no individual and no field in the to display for a dwelling even though there is a field in the dwelling
A definite bug.

[2020-04-02 01:03] Captainkirkdawson opened #843 "Notes for an unoccupied dwelling are not shown"
The issue noted by Brenda come from the fact that the notes displayed in FC2 are associated with the individual. If unoccupied there is no individual and no field in the to display for a dwelling even though there is a field in the dwelling
A definite bug.

[2020-04-02 01:04] #842 closed, assigned to nobody

[2020-04-02 11:04] PatReynolds opened #844 "Transcriber, Coord or Tech can assign a file to a Transcriber"
Needed to allow a transcriber to amend an existing file, and also to associate the file with their Transcription Agreement preference.

E0 U3 S7 C4: P 14

[2020-04-02 14:26] Captainkirkdawson commented on #844
Do not understand.

[2020-04-02 14:29] FreecenBren commented on #839
Officially all the ones marked with a query X should have been dealt with by the Proof Reader or Validator.
As you have found not all have been removed and/or dealt with.

The notes are added in by the Transcriber when they do not know what to do in the situations they find and add the X for the PROOF READER  to pick up.
In exceptionally cases the PROOF READER does not know what to do neither so l

[2020-04-02 14:39] Captainkirkdawson commented on #839
@FreecenBren wrt to your comment _Could FC2 pick up these as a query as to either delete the X but leave the comment or delete both?_
The new CSVProc system for Cen2 does that. There is a display of all flags set in the file
![Flags index](https://user-images.githubusercontent.com/2874694/78262210-7c396a80-74bd-11ea-9ae4-9815f84e491d.png)

[2020-04-02 17:35] Captainkirkdawson commented on #843
Fixed on test3
![uninhabited message.png](https://images.zenhubusercontent.com/5b68ae684b5806bc2bdefcf0/0c8f8b26-9807-448c-8c5f-3a6d09f05be6)

[2020-04-02 23:21] geoffj-FUG commented on #841
Kirk

Scotland 1911

I don’t have access to Scotlands People so cannot view a real census book. The census records were transcribed into an Enumerators book as in previous years.

The reference was different. The sample page is 1911/739/1 Page 5.

There were additional fields:

“There were new questions relating to fertility of marriage:  on duration of marriage;  the number of living children bor

[2020-04-02 23:33] Captainkirkdawson commented on #806
This post was original on a different story but place here for better context. The originator was Geoff

Kirk

Scotland 1911

I don’t have access to Scotlands People so cannot view a real census book. The census records were transcribed into an Enumerators book as in previous years.

The reference was different. The sample page is 1911/739/1 Page 5.

There were additional fields:

“There were new

[2020-04-03 06:48] FreecenBren commented on #841
Not sure where it fits in but they can also include the wife’s Maiden name
but not sure which Census Year.

Margaret will help there.
Brenda

On Fri, 3 Apr 2020 at 00:21, geoffj-FUG <notifications@github.com> wrote:

[2020-04-03 09:42] geoffj-FUG commented on #839
When I started with FreeCEN (in 2004) the Notes column in the Spreadsheet had limited use. Really it was somewhere to put a message when a flag was set, so that the Proofreader and Validator knew what the flag was about.

Then we started to get problems of not being able to get all the information in the space available so the Notes got used to add any additional information or to overflow long in

[2020-04-03 11:05] rhodamackenzie commented on #841
[ScotlandsPeople_C1911.pdf](https://github.com/FreeUKGen/FreeCENMigration/files/4426780/ScotlandsPeople_C1911.pdf)
here is a scotlands people 1911 census page

[2020-04-03 11:19] rhodamackenzie commented on #841
IF excel is being used for the transcribers, the headers can be aligned at any angle to save text wrapping

<img width="223" alt="excel header alignment" src="https://user-images.githubusercontent.com/62574522/78355292-60a98f00-75a5-11ea-985f-2cc9dbf0e120.png">

[2020-04-03 12:56] FreecenBren commented on #841
At the moment Excel is used by the majority, but I have lots who use Mac and Open Office just to name two.
Some have Excel on their Mac but not many. We have those as well who dislike Excel for some reason.
Not sure if that is useful or not!

[2020-04-03 20:54] Captainkirkdawson commented on #839
Having spent some time digging into the CEN2 code it has become clear that **there is only 1 notes field** in the incoming vld entry. It is the original notes field from the spreadsheet with adjustments made to it by the Proof Reader and the Validator as they have reviewed the transcription.
The original programmer for CEN2 created the unoccupied_notes field as a copy of notes field. The notes fie

[2020-04-03 21:46] FreecenBren commented on #839
The “* see [  mynotes.txt]*. were added by the transcriber instead of using
the Notes column they left a longer message in the  additional  “Note pad’
.

At WINCC of VALDREV these ‘My [*see mynotes.txt]*.  wording should have
been deleted after the Proof Reader  or Validator had finished the piece.

I have a few examples of these and I also have a transcriber who still
sends me one for each Piece

[2020-04-03 22:02] Captainkirkdawson commented on #838
Having dug into the CEN2 code there are 5 flag fields. name , detail (status age etc), uninhabited, occupation and birth place entered by the transcriber. There is 1 deleted entered by the proof reader/ validator. For some reason CEN2 creates an individual flag that is identical to the uninhabited flag!
It is possible this was used for efficiency purposes in processing vld entries; it does not app

[2020-04-03 22:19] Captainkirkdawson commented on #839
@FreecenBren I can see why they are deleted.
Fail to see why they were retained for the unoccupied notes.
Unless of course they would never have been entered with an uninhabited dwelling
At least we have cleared up the mystery

[2020-04-03 22:36] #830 closed, assigned to PatReynolds, AlOneill, geoffj-FUG, colin1959, rhodamackenzie

[2020-04-04 14:37] Captainkirkdawson opened #845 "Additional location information."
@geoffj-FUG wrote
I have been matching up the census fields with the census years.
When we got to 1911 Scotland we found extra fields in the enumerator’s book. They were all at the level of ED. On examination these fields, except one, are also on the fly of the England and Wales EDs. So in my last Spreadsheet format file on Google Docs I included them.
I am currently doing up a table which matches

[2020-04-04 14:52] Captainkirkdawson opened #846 "Do we add the International Chapman Codes"
@geoffj-FUG wrote

Do we introduce International Chapman Codes for overseas births? 1901 onwards. Too difficult in 19C.

[2020-04-05 15:23] PatReynolds commented on #806
https://www.nrscotland.gov.uk/research/guides/census-records/1911-census has images, if that helps.

[2020-04-05 15:25] PatReynolds commented on #841
Happy with 4!

[2020-04-05 18:12] Captainkirkdawson commented on #820
@geoffj-FUG has put an excellent document together
https://docs.google.com/document/d/1qnWsyBzP5keQscuzpsMaF-CjlDypXJlX/edit

[2020-04-06 17:23] PatReynolds commented on #341
A birthplace search for Scotland should search the birthplace counties of Scotland, and SCT (also WLS for Wales and IRL for searches for Welsh or Irish births).  Also, possibly for English.  This is a facility on FreeCEN1, so I've added to the Essential Features epic (phase 1).  Could be phase 2, particularly if it involves other place develeopment.

[2020-04-08 15:38] Captainkirkdawson commented on #353
I stick by my position that fields should have one purpose only.

I believe we should create a separate field.

We should plan for it to be populated in the future. If and when we enter Scottish pieces again

 The instructions for Scotland say Scotland occasionally shows two surnames for a wife.  These should both be entered separated by a space, /, space.

That instruction is badly formatted with

[2020-04-08 20:47] Captainkirkdawson commented on #353
I have confirmed that CEN2 correctly handles the Scottish surname pairing NAME / NAME2 with the record being retrieved with searches on NAME and NAME2
Actually the split is a more general split based on 1 or more spaces; there can therefore be multiple surnames. A surname of a single character are ignored as well as certain stop words
'da', 'de', 'del', 'della', 'der', 'des', 'di', 'du', 'la', 'le

[2020-04-08 20:49] Captainkirkdawson commented on #353
Given that the Maiden name pairing works there is no priority on addressing this correctly.with its own field

[2020-04-10 14:53] AlOneill commented on #353
@Captainkirkdawson It is tricky to describe succinctly the way of entering a woman's married and maiden surnames in such a way that it will be correctly interpreted by all readers (irrespective of how they understand prose works!). Alternatives tend to become rather clunky — but perhaps the addition of a few words would be better (see below)?

For now, I believe the example given clears up any amb

[2020-04-10 16:34] Captainkirkdawson commented on #353
@AlOneill yes that is better.

As I noted the / is not required for the search to create the separate surnames. At the same time in the surname print out it will be there and indicative of a Scottish maiden name
WILSON SMITH could be a multi generational surname with neither WILSON nor SMITH as maiden names. Oh well

[2020-04-10 17:07] AlOneill commented on #353
@Captainkirkdawson From memory of transcribing records that have both a woman's married-surname and maiden-surname, it is obvious what is going on (I seem to remember that the Enumerator would use a / themselves).

Further, such records tend to be found only in some regions of Scotland and may even be down to the particular Enumerator. So yes, a double surname entered *without* a / should *not* be

[2020-04-11 05:55] geoffj-FUG commented on #845
Up to now, FreeCEN has been able to handle information from the 1841 to 1891 censuses. Some information such as Parliamentary Constituency and Maiden Name available in some censuses was not collected. The new system will allow this type of information to be collected in the future.
To accommodate the 20th Century censuses we have had to allow for additional information such as:
England and Wales
1

[2020-04-13 15:41] AlOneill commented on #353
Test3 updated with amended text as per above. Page ready to be deployed.

[2020-04-14 10:35] PatReynolds commented on #845
My view is also that the information should be captured. Not only will this be of value to historians of place, and building historians, but also to family historians as there is potential to hyperlink employment types to a resourse such as this: https://www.visionofbritain.org.uk/census/EW1861GEN/9?show=ALL - which may help users to understand what it was a "Overmantle Painter's Apprentice" did!

[2020-04-14 11:44] geoffj-FUG commented on #845
Pat

We have preempted the decision by including all fields that we found.

I am currently doing a sweep of Scotland and Ireland to identify any additional fields. There are some in Ireland. I still have Scotland to go.

Geoff

[2020-04-15 16:13] #840 closed, assigned to nobody

[2020-04-15 16:14] #839 closed, assigned to nobody

[2020-04-15 16:14] #838 closed, assigned to nobody

[2020-04-15 16:14] Vino-S commented on #833
Pushed the changes to origin

[2020-04-15 16:16] PatReynolds commented on #820
@PatReynolds  and @rhodamackenzie to review.  Kirk has implemented 99% - so focus on what might be missing.

[2020-04-15 16:16] #832 closed, assigned to geoffj-FUG

[2020-04-15 16:18] PatReynolds commented on #806
@rhodamackenzie  tos ee if she can find the initial pages of each year to send to @geoffj-FUG

[2020-04-15 16:22] #841 closed, assigned to nobody

[2020-04-15 16:26] PatReynolds commented on #803
@PatReynolds to ask @Brenda about progress / what needs to be done

[2020-04-15 16:49] PatReynolds commented on #845
@rhodamackenzie to also take a look.

[2020-04-15 16:53] PatReynolds commented on #844
Coord to identify who transcribed a file, and assign the transcriber's ID to the file.

[2020-04-15 16:57] PatReynolds commented on #836
Decided: Syndicate management to be developed as and when needed.

[2020-04-15 16:57] PatReynolds opened #847 "Explain 'syndicate' and 'county' in documentation"
Need to remove ''syndicate' from 'syndicate coordinator' Also need to remove 'county' from 'county coordinator'. Other mention of 'syndicate' or 'syndicates' needs replacing with 'county team' or teams, as appropriate.

a task for a member of the documentation team

Syndicate is peole , county is data

[2020-04-15 17:21] PatReynolds commented on #90
@geoffj-FUG this needs to be tested, too.

[2020-04-15 17:24] PatReynolds opened #848 "A data file for a piece can be devided into parts, and parts managed as separate entities within FreeCEN (as registers and parts of registers are managed within FreeREG)"
Tools need to be created/modified to permit this.
CEN1 works on the basis that there is one vld file per piece. ie all of the transcriptions are contained within 1 file. This leads to massive files and means coordinators often have to merge multiple sets of transcriptions into 1.
There is no reason why  data should not be uploaded in chunks of transcriptions and effectively merged at the database

[2020-04-16 10:21] geoffj-FUG commented on #90
Pat
Thats fine.
The first step is to test the transcriptions for each year. That is where mot problems will crop up.
We have put an 1881 piece through and highlighted an number of things to look at. We can now try to download that one when we are ready. I have an 1901 piece being transcribed from scratch. We will need to create populated test spreadsheets for each year. Once we get the transcripti